<es-card *ngIf="!loading"
      title="{{'COLLECTIONS.PINNING.TITLE' | translate }}"
      subtitle="{{'CARD_SUBTITLE_MULTIPLE' | translate:{count:pinnedCollections.length} }}"
      [buttons]="buttons" (onCancel)="cancel()"
      width="small"
      height="xlarge">
  <div class="pinning-content">
    <div *ngFor="let collection of pinnedCollections;let i=index" class="entry"
         draggable="true"
         (dragend)="currentDragColumn=null"
         (dragover)="allowDragColumn($event,i,collection)" (drop)="dropColumn($event,i,collection)"
         (dragstart)="dragStartColumn($event,i,collection)"
    >
      <mat-checkbox [checked]="isChecked(collection)" (change)="setChecked(collection,$event)"></mat-checkbox>
      <div class="name">{{getName(collection)}}</div>
      <i esIcon="keyboard_arrow_down" class="moveDown clickable" *ngIf="isMobile && i<pinnedCollections.length-1" (click)="moveDown(i)"></i>
      <i esIcon="keyboard_arrow_up" class="moveUp clickable" *ngIf="isMobile && i>0" (click)="moveUp(i)"></i>
      <i esIcon="dehaze" class="drag" *ngIf="!isMobile"></i>
    </div>
  </div>
</es-card>
