@import '../../../../app/core-ui-module/styles/variables.scss';

.pinning-content {
    padding: $cardPadding;
    .entry {
        cursor: default;
        padding: 10px 5px;
        display: flex;
        align-items: center;

        div,
        mat-checkbox,
        label {
            display: flex;
        }

        mat-checkbox {
            flex-grow: 1;
            ::ng-deep .mat-checkbox-layout {
                white-space: normal;
                .mat-checkbox-label {
                    overflow-wrap: anywhere;
                }
            }
        }

        .drag {
            color: #aaa;
            margin-left: 10px;
            padding: 5px;
            &.cdk-keyboard-focused {
                @include setGlobalKeyboardFocus();
            }
        }
    }
}
