<div class="topFrame">
  <div class="info">
    @if (_mode !== 'ORG' && !embedded) {
    <div>
      @if (!org) {
      <div>
        <span>{{ 'PERMISSIONS.INFO_GLOBAL_' + _mode | translate }}</span>
        <a class="clickable" (click)="setOrgTab()">{{ 'PERMISSIONS.CHOOSE_ORG' | translate }}</a>
      </div>
      } @if (org) {
      <div>
        <span>{{
          'PERMISSIONS.INFO_ORG_' + _mode | translate : { org: org.profile.displayName }
        }}</span>
        @if (isAdmin) {
        <span>
          <a class="clickable" (click)="doDeselectOrg()">{{ 'PERMISSIONS.NO_ORG' | translate }}</a>
          <a class="clickable" (click)="setOrgTab()">{{ 'PERMISSIONS.CHOOSE_ORG' | translate }}</a>
        </span>
        }
      </div>
      }
    </div>
    }
  </div>
  <!-- Split actionbar (mirrors search/workspace): the toolbar shows no-selection actions only;
    node actions move to the bottom selection bar once something is selected. -->
  <es-actionbar #actionbar [showActionOptions]="!selectedItems.length"></es-actionbar>
</div>
@if (toolpermissionAuthority) {
<es-toolpermission-manager
  [authority]="toolpermissionAuthority"
  (closeManager)="toolpermissionAuthority = null"
></es-toolpermission-manager>
} @if (editStatus) {
<es-card
  title="{{ 'PERMISSIONS.SET_STATUS' | translate }}"
  subtitle="{{ editStatus | authorityName }}"
  height="auto"
  [isCancelable]="true"
  [buttons]="editStatusButtons"
  (cancel)="editStatus = null"
>
  <div class="card-content-padding card-status">
    @if (isAdmin) {
    <mat-form-field floatLabel="always">
      <mat-label>{{ 'PERMISSIONS.STATUS_LABEL' | translate }}</mat-label>
      <mat-select
        name="status"
        [(ngModel)]="editStatus.status.status"
        placeholder="{{ 'PERMISSIONS.STATUS.null' | translate }}"
      >
        @for (type of STATUS_TYPES; track $index) {
        <mat-option [value]="type">{{ 'PERMISSIONS.USER_STATUS.' + type | translate }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
    <mat-checkbox [(ngModel)]="editStatusNotify"
      >{{ 'PERMISSIONS.STATUS_NOTIFY' | translate }}
    </mat-checkbox>
    @if (editStatus.status.date) {
    <div class="status-change">
      {{ 'PERMISSIONS.STATUS_LAST_CHANGE' | translate }}:
      {{ editStatus.status.date | formatDate : { relative: false, time: true } }}
    </div>
    }
  </div>
</es-card>
} @if (resetPassword) {
<es-card
  title="{{ 'PERMISSIONS.MENU_RESET_PASSWORD' | translate }}"
  subtitle="{{ resetPassword | authorityName }}"
  width="small"
  height="auto"
  [isCancelable]="true"
  [buttons]="resetPasswordButtons"
  (cancel)="resetPassword = null"
>
  <div class="card-content-padding card-reset-password">
    <es-input-password
      #passwordRef
      label="{{ 'PERMISSIONS.NEW_PASSWORD' | translate }}"
      [(value)]="newPassword"
      [displayStrength]="true"
    ></es-input-password>
  </div>
</es-card>
} @if (groupSignupDetails) {
<es-card
  title="{{ 'PERMISSIONS.ORG_SIGNUP' | translate }}"
  height="auto"
  [node]="groupSignup"
  [isCancelable]="true"
  [buttons]="signupButtons"
  (cancel)="groupSignupDetails = null"
>
  <div class="card-content-padding org-signup">
    @if (!groupSignup.profile.groupEmail) {
    <es-info-message mode="warning" class="warning-email">
      {{ 'PERMISSIONS.ORG_SIGNUP_NO_EMAIL' | translate }}
    </es-info-message>
    }
    <mat-form-field>
      <mat-label>{{ 'PERMISSIONS.ORG_SIGNUP_METHOD' | translate }}</mat-label>
      <mat-select [(ngModel)]="groupSignupDetails.signupMethod">
        <mat-option value="disabled"
          >{{ 'PERMISSIONS.ORG_SIGNUP_METHODS.disabled' | translate }}
        </mat-option>
        <mat-option value="simple"
          >{{ 'PERMISSIONS.ORG_SIGNUP_METHODS.simple' | translate }}
        </mat-option>
        <mat-option value="password"
          >{{ 'PERMISSIONS.ORG_SIGNUP_METHODS.password' | translate }}
        </mat-option>
        <mat-option value="list"
          >{{ 'PERMISSIONS.ORG_SIGNUP_METHODS.list' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <es-info-message mode="info">
      {{
        'PERMISSIONS.ORG_SIGNUP_METHODS.' +
          (groupSignupDetails.signupMethod || 'disabled') +
          '_DETAILS' | translate
      }}
    </es-info-message>
    @if (groupSignupDetails.signupMethod === 'password') {
    <es-input-password
      [(value)]="groupSignupDetails.signupPassword"
      label="{{ 'PERMISSIONS.ORG_SIGNUP_PASSWORD' | translate }}"
      hint="{{ 'PERMISSIONS.ORG_SIGNUP_PASSWORD_HINT' | translate }}"
    ></es-input-password>
    }
  </div>
</es-card>
} @if (groupSignupListShown) {
<es-card
  title="{{ 'PERMISSIONS.ORG_SIGNUP_LIST' | translate }}"
  height="large"
  [node]="groupSignup"
  [isCancelable]="true"
  [buttons]="signupListButtons"
  (cancel)="groupSignupListShown = false"
>
  <div class="card-content-padding org-signup-list">
    <div class="actionbar">
      <es-actionbar
        #actionbarSignup
        [numberOfAlwaysVisibleOptions]="1"
        [numberOfAlwaysVisibleOptionsMobile]="1"
      ></es-actionbar>
    </div>
    <es-node-entries-wrapper
      #signupList
      [scope]="Scope.UserManagement"
      [displayType]="DisplayType.Table"
      [elementInteractionType]="InteractionType.Emitter"
      [columns]="addMemberColumns"
      [dataSource]="groupSignupList"
      (clickItem)="selectOnClick(signupList, $event)"
    >
      <ng-template #empty>
        <h5 class="mat-heading-5">
          {{ 'PERMISSIONS.ORG_SIGNUP_LIST_EMPTY' | translate }}
        </h5>
      </ng-template>
    </es-node-entries-wrapper>
  </div>
</es-card>
} @if (edit) {
<es-card
  title="{{ 'PERMISSIONS.' + (editId === null ? 'CREATE' : 'EDIT') + '_' + _mode | translate }}"
  [subtitle]="
    editId
      ? edit.authorityName
      : editDetails.authorityName
      ? editDetails.authorityName
      : edit.profile.displayName
  "
  [buttons]="editButtons"
  height="xlarge"
  (cancel)="cancelEdit()"
>
  <div class="card-content-padding card-edit">
    <form>
      @if (editId) {
      <div class="editSystemName">
        <label>{{ 'PERMISSIONS.INTERNAL_NAME' | translate }}</label>
        <div class="infoText">{{ edit.authorityName }}</div>
      </div>
      } @if (_mode === 'GROUP') {
      <div>
        <mat-form-field>
          <mat-label>{{ 'GROUP.displayName' | translate }}</mat-label>
          <input
            matInput
            name="displayName"
            [(ngModel)]="edit.profile.displayName"
            required
            autofocus
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'GROUP.groupEmail' | translate }}</mat-label>
          <input matInput name="groupEmail" [(ngModel)]="edit.profile.groupEmail" />
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>{{ 'GROUP.groupType' | translate }}</mat-label>
          <mat-select
            name="orgType"
            [(ngModel)]="edit.profile.groupType"
            placeholder="{{ 'PERMISSIONS.GROUP_TYPE.null' | translate }}"
          >
            @for (type of GROUP_TYPES; track $index) {
            <mat-option [value]="type"
              >{{ 'PERMISSIONS.GROUP_TYPE.' + type | translate }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (isAdmin) {
        <mat-form-field floatLabel="always">
          <mat-label>{{ 'GROUP.scopeType' | translate }}</mat-label>
          <mat-select
            name="scopeType"
            [(ngModel)]="edit.profile.scopeType"
            placeholder="{{ 'PERMISSIONS.SCOPE_TYPE.null' | translate }}"
          >
            @for (type of SCOPE_TYPES; track $index) {
            <mat-option [value]="type"
              >{{ 'PERMISSIONS.SCOPE_TYPE.' + type | translate }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        }
      </div>
      } @if (_mode === 'ORG') {
      <div>
        <mat-form-field>
          <mat-label>{{ 'ORG.displayName' | translate }}</mat-label>
          <input
            matInput
            name="displayName"
            [(ngModel)]="edit.profile.displayName"
            required
            autofocus
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'ORG.groupEmail' | translate }}</mat-label>
          <input matInput name="groupEmail" [(ngModel)]="edit.profile.groupEmail" />
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>{{ 'ORG.groupType' | translate }}</mat-label>
          <mat-select
            name="orgType"
            [(ngModel)]="edit.profile.groupType"
            placeholder="{{ 'PERMISSIONS.GROUP_TYPE.null' | translate }}"
          >
            @for (type of ORG_TYPES; track $index) {
            <mat-option [value]="type"
              >{{ 'PERMISSIONS.GROUP_TYPE.' + type | translate }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (edit.folderPath?.length) {
        <div class="folder-path">
          <label>{{ 'PERMISSIONS.ORG_HOME_FOLDER_LABEL' | translate }}</label>
          <es-breadcrumbs
            home="{{ 'PERMISSIONS.ORG_HOME_FOLDER_MAIN' | translate }}"
            [clickable]="true"
            [createLink]="true"
          ></es-breadcrumbs>
        </div>
        }
      </div>
      } @if (_mode === 'USER') {
      <div>
        @if (!editId) {
        <mat-form-field>
          <mat-label>{{ 'USER.authorityName' | translate }}</mat-label>
          <input
            matInput
            name="authorityName"
            [(ngModel)]="editDetails.authorityName"
            required
            autofocus
          />
        </mat-form-field>
        }
        <mat-form-field>
          <mat-label>{{ 'USER.firstName' | translate }}</mat-label>
          <input matInput name="firstName" [(ngModel)]="edit.profile.firstName" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'USER.lastName' | translate }}</mat-label>
          <input matInput name="lastName" [(ngModel)]="edit.profile.lastName" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'USER.email' | translate }}</mat-label>
          <input matInput name="email" [(ngModel)]="edit.profile.email" required />
        </mat-form-field>
        <div class="group">
          <mat-form-field>
            <mat-label>{{ 'USER.primaryAffiliation' | translate }}</mat-label>
            @if (primaryAffiliationList) {
            <mat-select name="primaryAffiliation" [(ngModel)]="edit.profile.primaryAffiliation">
              <mat-option></mat-option>
              @for (a of PRIMARY_AFFILIATIONS; track $index) {
              <mat-option [value]="a"
                >{{ 'USER.PRIMARY_AFFILIATION.' + a | translate }}
              </mat-option>
              }
            </mat-select>
            } @if (!primaryAffiliationList) {
            <input
              matInput
              type="text"
              name="primaryAffiliation"
              [(ngModel)]="edit.profile.primaryAffiliation"
            />
            }
          </mat-form-field>
          <button mat-flat-button (click)="primaryAffiliationList = !primaryAffiliationList">
            <i class="material-icons">{{ primaryAffiliationList ? 'edit' : 'list' }}</i>
          </button>
        </div>
        @if (!editId) {
        <div>
          <es-input-password
            #passwordRef
            label="{{ 'USER.password' | translate }}"
            [(value)]="editDetails.password"
            [displayStrength]="true"
          ></es-input-password>
        </div>
        }
        <div class="quota">
          <mat-form-field>
            <mat-label>{{ 'USER.sizeQuota' | translate }}</mat-label>
            <input matInput name="sizeQuota" [(ngModel)]="edit.profile.sizeQuota" />
            <mat-hint>{{ 'PERMISSIONS.USER_QUOTA_HINT' | translate }}</mat-hint>
          </mat-form-field>
          @if (editId && edit.quota.enabled) {
          <es-user-quota [quota]="edit.quota"></es-user-quota>
          }
        </div>
      </div>
      }
    </form>
  </div>
</es-card>
} @if (editGroups || editMembers || addMembers) {
<es-card
  class="card-edit-wrapper"
  title="{{
    (addMembers
      ? 'PERMISSIONS.ADD_MEMBER_TO_GROUP'
      : editMembers === 'ALL'
      ? 'PERMISSIONS.EDIT_ORG_MEMBERS'
      : editMembers
      ? 'PERMISSIONS.EDIT_MEMBERS'
      : 'PERMISSIONS.EDIT_MEMBER_GROUPS'
    )
      | translate
        : {
            name: (addMembers || editMembers | authorityName)
          }
  }}"
  [subtitle]="addMembers || editMembers | authorityName"
  icon="person_add"
  width="xlarge"
  height="xlarge"
  [buttons]="memberButtons"
  (scrolled)="refreshMemberList()"
  (cancel)="cancelEditMembers()"
>
  <div class="card-content-padding">
    <div class="memberActions">
      <form (ngSubmit)="searchMembers()">
        <mat-form-field>
          <mat-label
            >{{
              (addMembers
                ? 'PERMISSIONS.SEARCH_USER'
                : editGroups
                ? 'PERMISSIONS.SEARCH_GROUPS'
                : 'PERMISSIONS.SEARCH_MEMBER'
              ) | translate
            }}
          </mat-label>
          <input
            matInput
            type="search"
            name="manageMemberSearch"
            [(ngModel)]="manageMemberSearch"
          />
        </mat-form-field>
      </form>
      @if (editMembers || editGroups) {
      <es-actionbar class="memberItem memberActionBar" #actionbarMember></es-actionbar>
      }
    </div>
    @if (editMembers) {
    <div class="currentMembers">
      {{
        'PERMISSIONS.CURRENT_MEMBERS'
          | translate
            : {
                group: $any(editMembers).profile
                  ? $any(editMembers).profile.displayName
                  : org.profile.displayName
              }
      }}
    </div>
    }
    <es-node-entries-wrapper
      #memberAdd
      [scope]="Scope.UserManagement"
      [columns]="editGroups ? editGroupColumns : addMemberColumns"
      [dataSource]="memberList"
      [displayType]="DisplayType.Table"
      [elementInteractionType]="InteractionType.Emitter"
      (clickItem)="selectOnClick(memberAdd, $event)"
      (fetchData)="refreshMemberList()"
    ></es-node-entries-wrapper>
  </div>
</es-card>
}
<!-- <div *ngIf="addTo" [@fade]="addTo" class="dialog darken"></div> -->
@if (addTo) {
<div [@fromRight]="addTo" class="addTo">
  <div class="addToList">
    <es-permissions-authorities
      #addToComponent
      [mode]="'GROUP'"
      [org]="org"
      [embedded]="true"
      (selection)="addToSelection = $event"
    ></es-permissions-authorities>
  </div>
  <div class="btns">
    <button mat-button color="primary" (click)="cancelAddTo()">{{ 'CANCEL' | translate }}</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!addToSelection?.length"
      (click)="addToSelect()"
    >
      {{ 'PERMISSIONS.ADD_TO' | translate }}
    </button>
  </div>
</div>
} @if (embedded) {
<div class="searchEmbedded">
  <form (ngSubmit)="searchQuery = embeddedQuery">
    <mat-form-field>
      <mat-label>{{ 'PERMISSIONS.SEARCH_' + _mode | translate }}</mat-label>
      <input matInput type="search" [(ngModel)]="embeddedQuery" name="embeddedSearch" />
    </mat-form-field>
  </form>
</div>
}
<es-node-entries-wrapper
  class="list"
  #mainList
  [scope]="Scope.UserManagement"
  infinite-scroll
  (scrolled)="loadAuthorities()"
  [scrollWindow]="false"
  [class.listEmbedded]="embedded"
  [displayType]="DisplayType.Table"
  [elementInteractionType]="InteractionType.Emitter"
  [columns]="columns"
  [configureColumns]="!embedded"
  [dataSource]="dataSource"
  (fetchData)="loadAuthorities($event)"
  (clickItem)="onClick($event)"
  [checkbox]="_mode !== 'ORG'"
  [sort]="sortConfig"
  (sortChange)="changeSort($event)"
>
  <ng-template #empty>
    @if (!_searchQuery) {
    <h5 class="noElements">{{ 'PERMISSIONS.NO_ELEMENTS' | translate }}</h5>
    } @if (!!_searchQuery) {
    <h5 class="noElements">
      {{ 'PERMISSIONS.NO_ELEMENTS_SEARCH' | translate }}
    </h5>
    }
  </ng-template>
</es-node-entries-wrapper>
@if (!embedded) {
<!-- Selected-item actions + selected-nodes overlay, mirroring the search-page selection bar.
  Sits below the internally-scrolling list so the scrollbar stops above it. -->
<div
  class="selection-action-bar"
  cdkOverlayOrigin
  #selectionBar="cdkOverlayOrigin"
  [class.visible]="selectedItems.length"
>
  <button
    mat-icon-button
    class="clear-selection"
    (click)="clearSelection()"
    [attr.aria-label]="'SEARCH.CLEAR_SELECTION' | translate"
    matTooltip="{{ 'SEARCH.CLEAR_SELECTION' | translate }}"
  >
    <i esIcon="close"></i>
  </button>
  <button
    mat-button
    color="primary"
    class="count"
    (click)="selectionOverlayOpen = !selectionOverlayOpen"
  >
    {{ 'SEARCH.N_SELECTED' | translate : { count: selectedItems.length || 0 } }}
    <i [esIcon]="selectionOverlayOpen ? 'expand_more' : 'expand_less'"></i>
  </button>
  <es-actionbar #actionbarActions [showToggleOptions]="false" showCaptions="ifRoom"></es-actionbar>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="selectionBar"
  [cdkConnectedOverlayOpen]="selectionOverlayOpen && !!selectedItems.length"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayWidth]="selectionBar.elementRef.nativeElement.offsetWidth"
  [cdkConnectedOverlayHasBackdrop]="false"
  (overlayOutsideClick)="selectionOverlayOpen = false"
>
  <es-search-selection-overlay
    [nodes]="$any(selectedItems)"
    [columns]="columns"
    [displayType]="DisplayType.Table"
    (deselect)="deselectNode($any($event))"
  ></es-search-selection-overlay>
</ng-template>
}
<ng-template #exclude>
  @if (isAdmin) {
  <form [formGroup]="excludeForm" class="exclude-form">
    <es-info-message mode="info" class="description"
      >{{ 'PERMISSIONS.EXCLUDE.DESCRIPTION' | translate }}
    </es-info-message>
    <mat-form-field>
      <mat-label>{{ 'PERMISSIONS.EXCLUDE.MODE_LABEL' | translate }}</mat-label>
      <mat-select formControlName="mode">
        <mat-option value="none">{{ 'PERMISSIONS.EXCLUDE.MODE.NONE' | translate }}</mat-option>
        <mat-option value="assign">{{ 'PERMISSIONS.EXCLUDE.MODE.ASSIGN' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    @if (excludeForm.get('mode').value === 'assign') {
    <es-authority-search-input
      [globalSearchAllowed]="true"
      [mode]="AuthoritySearchMode.Users"
      label="{{ 'PERMISSIONS.EXCLUDE.ASSIGN_USER' | translate }}"
      placeholder="{{ 'PERMISSIONS.EXCLUDE.ASSIGN_USER_PLACEHOLDER' | translate }}"
      [showRecent]="false"
      (chooseAuthority)="setExcludeReceiver($event)"
    ></es-authority-search-input>
    <mat-chip-listbox>
      @if (excludeReceiver) {
      <mat-chip-option [selectable]="false" (removed)="excludeReceiver = null">
        <span>{{ excludeReceiver | authorityName }}</span>
        <i matChipRemove esIcon="cancel"></i>
      </mat-chip-option>
      }
    </mat-chip-listbox>
    @if (excludeReceiver && !receiverIsMemberOfOrg) {
    <es-info-message class="wrong-user" mode="warning"
      >{{
        'PERMISSIONS.EXCLUDE.ASSIGN_USER_NOT_ORG_MEMBER'
          | translate : { user: excludeReceiver | authorityName, org: org | authorityName }
      }}
    </es-info-message>
    } }
  </form>
  }
</ng-template>
<ng-template #faTemplate>
  <form [formGroup]="faForm" class="fa-config">
    <es-info-message mode="info">{{ 'PERMISSIONS.2FA.DESCRIPTION' | translate }}</es-info-message>

    <mat-checkbox formControlName="status">{{ 'PERMISSIONS.2FA.STATUS' | translate }}</mat-checkbox>
    @if (faForm.get('status').value) {
    <div>
      <mat-checkbox formControlName="generate"
        >{{ 'PERMISSIONS.2FA.GENERATE_NEW_SECRET' | translate }}
      </mat-checkbox>
      @if (faInititalStatus && faForm.get('generate').value) {
      <es-info-message mode="warning"
        >{{ 'PERMISSIONS.2FA.REGENERATE' | translate }}
      </es-info-message>
      }
    </div>
    }
  </form>
</ng-template>
<ng-template #faCode>
  <div class="fa-confirm">
    <img
      [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/png;base64,' + faData.qrCode)"
      alt=""
    />
    <div class="code">{{ faData.code }}</div>
    <form [formGroup]="faConfirm">
      <mat-form-field>
        <mat-label>{{ 'PERMISSIONS.2FA.CONFIRM_CODE' | translate }}</mat-label>
        <input matInput formControlName="code" maxlength="6" minlength="6" placeholder="000000" />
      </mat-form-field>
    </form>
  </div>
</ng-template>
