<div class="wrapper" *ngIf="current && maximum">
    <div class="status status-{{getStatus()}}">
        <div class="minimum-line" [style.left]="((maximum.required / (maximum.required + (maximum.requiredPublish || 0))) * 100) + '%'"></div>
        <div class="current-bar" [style.width]="getFullProgress()*100 + '%'"></div>
    </div>
    <label>
        <ng-container>{{current.required + (current.requiredPublish || 0)}} / {{getCurrentMaximum()}}</ng-container>
        {{('FILL_STATUS.' + getStatus().toUpperCase()) | translate }}
    </label>
</div>