@import "../../core-ui-module/styles/variables";

.container{
  min-height: 100%;
  display: flex;
  align-items: center;
  max-width: 1000px;

  .container-inside{
    margin: 0 auto 70px auto;
    padding: 5% 0 0 0;
    width: 90%;
    z-index: 1;
    position: relative;
  }
}

.password-required{
  margin: 0 auto;
  width: 400px;

  form{
    display: flex;
    flex-direction: column;
  }
}
.subobjects {
    font-size: $fontSizeSmall;
    color: $textLight;
    margin: 6px 0;
}

.branding{
  position: relative;
  height:100px;
  text-align: center;
  margin-bottom: 80px;
  img{
    width: auto;
    height: 100%;
  }
}
.details{
  margin-bottom: 20px;
  position: relative;
  width: 90%;
  left: 5%;
  .details-type{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon{
    margin-right: 14px;
    width: 50px;
    height: auto;
  }
  .name{
    font-size: 210%;
    font-weight: bold;
    height: 42px;
    word-break: break-all;
    overflow: hidden;
  }
}
.details-opacity{
  opacity: .5;
}
.password-required,.password-valid{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.password-correct{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorStatusPositive;
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;

  i{
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid $colorStatusPositive;
    padding: 2px;
    display: table;
  }
}

.download{
  margin-top: 10px;
  text-align: center;
}

.download-top{
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
es-powered-by{
  position: fixed;
  left: 0;
  bottom: 3%;
}

.folder{
  border: 6px solid $actionDialogBackground;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}
:host ::ng-deep {
  .heading {
    background: $actionDialogBackground;
  }
  .password-required{
    mat-form-field{
      width: 100%;
    }
  }
}
@media screen and (max-width:($mobileWidth)), screen and (max-height:($mobileHeightLandscape)) {
  .container{
    width: 100%;
  }
  .password-required{
    width: 100%;
  }
  .branding{
    margin-bottom: -30px;
    //text-align: right;
    img{
      width: 100px;
      height: auto;
    }
  }
  es-powered-by{
    display: none;
  }
  .folder{
    border: none;
    margin-top: 0;
    width: 110%;
    left: -5%;
  }
}

@media screen and (max-height:($mobileHeightLandscape)) {
  .branding{
    display: none;
  }
}
