<global-progress *ngIf="loading"></global-progress>
<div *ngIf="!loading && sharingInfo" class="container">
    <div class="branding"><img src="assets/images/logo.svg"></div>
    <div class="details">
        <div class="details-type">
            <img class="icon" [src]="sharingInfo.node.iconURL" />
            <div class="name">{{sharingInfo.node.name}}</div>
        </div>
        <div>von Max Mustermann freigegeben</div>
    </div>
    <div *ngIf="!(!sharingInfo.password || sharingInfo.passwordMatches)" class="password-required">
        <form (ngsubmit)="validatePassword()">
            <input-password required="true" (keydown.enter)="validatePassword()" [(value)]="passwordInput"></input-password>
            <div class="input-hint-bottom">{{'SHARING.ENTER_PASSWORD' | translate}}</div>
        </form>
    </div>
    <div *ngIf="!sharingInfo.password || sharingInfo.passwordMatches" class="password-valid">
        <div *ngIf="sharingInfo.password && sharingInfo.passwordMatches" class="password-correct">PASSWORD CORRECT</div>
        <div *ngIf="sharingInfo.node.isDirectory">
            <listTable
                [nodes]="childs"
                [columns]="columns"
                [hasIcon]="true"
                [hasCheckbox]="false"
                [reorderColumns]="false"
                [sortBy]="sort.sortBy"
                [loadRepositories]="false"
                [sortAscending]="sort.sortAscending"
                [isClickable]="false"
                [isLoading]="loadingChildren"
                [options]="options"
                (sortListener)="changeSort($event)"
            ></listTable>
        </div>
        <div *ngIf="!sharingInfo.node.isDirectory" class="info">
           <strong>Der Download startet automatisch</strong>
            Ansonsten betätigen Sie den Button!
        </div>
        <div *ngIf="!sharingInfo.node.isDirectory" class="download">
            <div class="btn waves-effect waves-light btn-icon" (click)="download()">
                <i class="material-icons">cloud_download</i>{{('SHARING.'+(sharingInfo.node.mediatype=='link' ? 'LINK' : 'DOWNLOAD')) | translate}}
            </div>
        </div>
    </div>
    <powered-by mode="color"></powered-by>
</div>