@import "../../../styles/variables.scss";
.container{
  height: 100%;
}
.branding{
  position: relative;
  top: 5%;
  height:100px;
  text-align: center;
  img{
    width:auto;
    height:100%;
  }
}
.details{
  padding: 80px 0 18px;
  text-align: center;
  .details-type{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon{
    margin-right: 12px;
    width:30px;
    height: auto;
  }
  .name{
    font-size: 120%;
    font-weight: bold;
  }
}
.password-required,.password-valid{
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.info{
  padding: 20px 10px 10px;
  text-align: center;

  strong{
    font-weight: bold;
    display: block;
  }
}
.download{
  text-align: center;
}
powered-by{
  position: fixed;
  left: 0;
  bottom: 5%;
}