<es-dropdown
  #dropdown
  class="addDesktopMenu"
  menuClass="create-menu-{{ scope }}"
  [showDisabled]="true"
  [callbackObjects]="null"
  [options]="options"
  position="right"
></es-dropdown>

@if (createToolType !== null) {
<es-create-ltitool
  [tool]="createToolType"
  [parent]="_parent"
  (cancel)="cancelLtiTool($event)"
  (create)="createLtiTool($event)"
>
</es-create-ltitool>
} @if ((cardHasOpenModals$ | async) === false) {
<div
  esFileDrop
  [window]="true"
  (fileOver)="fileIsOver = $event"
  (fileDrop)="onFileDrop($event)"
></div>
} @if (fileIsOver && dropEnabled()) {
<div class="dialog darken drop-zone">
  <div>
    @if (isDropAllowed()) {
    <i class="material-icons">cloud_upload</i>
    } @if (!isDropAllowed()) {
    <i class="material-icons">cloud_off</i>
    } @if (isDropAllowed()) {
    <p>{{ 'WORKSPACE.DROP_FILES' | translate }}</p>
    } @if (!isDropAllowed()) {
    <p>{{ 'WORKSPACE.DROP_FILES_DISABLED' | translate }}</p>
    }
  </div>
</div>
}
