<mat-form-field class="password" [floatLabel]="floatLabel">
  <div *ngIf="displayStrength && value" class="strength">
    <span class='password-strength {{passwordStrength}}'>{{'REGISTER.PW_'+passwordStrength | translate}}</span>
  </div>
    <mat-label>{{label}}</mat-label>
    <input matInput autocomplete="off" #input type="{{input_type}}" [autocomplete]="autocomplete" [class]="inputClass+' mat-input-element password-input '+((displayStrength && value) ? passwordStrength : null)" [id]="id" [required]="required" [placeholder]="placeholder" (ngModelChange)="ngModelChange.emit($event)" (change)="change.emit($event)" (keyup)="keyup.emit($event)" (keydown)="keydown.emit($event)" [(ngModel)]="value">
    <i matSuffix (click)="showPassword()" [class.eye-active]="input_type == 'text'"  class="clickable eye" icon [iconId]="input_type === 'text' ? 'visibility_off':'visibility'"></i>
    <mat-hint *ngIf="hint">{{'REGISTER.HINT' | translate}}</mat-hint>
</mat-form-field>