@import 'projects/edu-sharing-ui/assets/scss/variables-scss';

.dropArea {
    border-radius: 5px;
    text-align: center;
    border: 2px dashed $cardSeparatorLineColor;
    padding: 40px 30px;
    margin-bottom: 10px;
    color: $textLight;
    cursor: pointer;
    a {
        font-weight: bold;
    }
    i {
        font-size: 60px;
    }
    &.dropActive {
        border-color: var(--palette-primary-200);
        background: var(--palette-primary-100);
        i {
            color: var(--primary);
        }
        .object-message {
            margin-bottom: 10px;
        }
    }
}

.loading-website-information-spinner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.link-details {
    .page-infos {
        padding: 10px 20px;
        border: 1px solid $cardSeparatorLineColor;
        .title {
            font-weight: bold;
        }
        .description {
            @include limitLineCount(2, 1.25);
            color: $textMediumLight;
            font-size: $fontSizeSmall;
        }
    }
    es-info-message {
        display: flex;
        margin: 20px 0;
    }
}

.separator-line {
    margin: 20px 5px;
}

mat-form-field {
    width: 100%;
}

.quota {
    padding-bottom: 5px;
}

.lti-data {
    margin: 20px $cardPadding * -1;
    padding: 20px $cardPadding;
    .heading {
        font-size: 110%;
        font-weight: bold;
        padding: 10px 0;
    }
    .info {
        color: $textLight;
        padding: 5px 0;
        white-space: pre-line;
    }
    .info-privacy {
        font-size: 90%;
    }
    .inputs {
        padding-top: 15px;
    }
}

.link {
    width: 100%;
    .linkLabel {
        display: flex;
        align-items: center;
        justify-content: center;
        .material-icons {
            margin-right: 5px;
        }
    }
    .linkTitle {
        color: $textLight;
    }
    i {
        top: 7px;
    }
    .lti {
        display: flex;
        flex-direction: column;
    }
    .toolInfo {
        display: flex;
        padding: 15px 20px;
        img {
            padding-right: 15px;
        }
        .title {
            font-weight: bold;
        }
    }
}

.location {
    margin-top: 20px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    .caption {
        float: left;
        margin-bottom: 5px;
    }
    .picker-group {
        display: flex;
        align-items: center;
        padding: 10px $cardPadding;
        margin: 0 (-$cardPadding);
        background-color: $buttonHoverBackground;
        .no-breadcrumbs {
            display: flex;
            width: 100%;
            justify-content: center;
            color: $textLight;
        }
        .change {
            flex-grow: 1;
            font-weight: bold;
            min-width: 20%;
            text-align: right;
        }
    }
    > mat-checkbox {
        display: flex;
        margin-top: 20px;
    }
    & ::ng-deep .breadcrumb {
        max-height: unset !important;
        flex-wrap: wrap;
    }
}
.file-selection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--palette-primary-50);
    > div {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        .name {
            flex-grow: 1;
        }
        .size {
            color: var(--textLight);
        }
    }
}
