<input
  #fileSelect
  type="file"
  class="display-none"
  id="fileSelect"
  [multiple]="currentData.multiple"
  (change)="closeWithFiles($any($event.target).files)"
/>

@if (currentData.chooseParent) {
<es-location-picker
  [parent]="currentData.parent"
  (parentChange)="parentSelected($event)"
></es-location-picker>
} @if (!hideFileUpload()) {
<div @openOverlay>
  @if (selectedFiles().length) {
  <div class="file-selection" @openOverlay>
    @for (file of selectedFiles(); track file) {
    <div>
      <div class="name">{{ file.name }}</div>
      <div class="size">{{ file.size | formatSize }}</div>
      <button mat-icon-button color="primary">
        <i esIcon="clear" (click)="removeFile(file)"></i>
      </button>
    </div>
    }
  </div>
  } @if (!selectedFiles().length) {
  <div
    class="dropArea"
    [class.dropActive]="isFileOver"
    esFileDrop
    (fileDrop)="closeWithFiles($event)"
    (click)="selectFile()"
    (fileOver)="isFileOver = $event"
    esFocusState
    #dropArea="esFocusState"
  >
    <div><i esIcon="cloud_upload"></i></div>
    <div>
      {{ 'WORKSPACE.ADD_OBJECT_MESSAGE' | translate }}
      <es-mat-link
        [highlight]="dropArea.hovering"
        (clickOnLink)="selectFile()"
        data-test="browse-files-button"
        >{{ 'WORKSPACE.ADD_OBJECT_BROWSE' | translate }}</es-mat-link
      >
    </div>
  </div>
  } @if (userQuota?.enabled) {
  <div class="quota">
    <es-user-quota [quota]="userQuota"></es-user-quota>
  </div>
  } @if (!selectedFiles().length) {
  <div class="separator-line uppercase">
    {{ 'WORKSPACE.SELECT_ORG' | translate }}
  </div>
  }
</div>
} @if (!selectedFiles().length) {
<div class="link" @openOverlay>
  <div class="link-info">
    <mat-form-field>
      <mat-label>{{ 'WORKSPACE.SELECT_LINK' | translate }}</mat-label>
      <input
        matInput
        type="url"
        [formControl]="linkControl"
        (keyup.enter)="setLink()"
        placeholder="http://"
        autocomplete="off"
        data-test="url-input"
        autofocus
      />
    </mat-form-field>
  </div>
  @if (loadingWebsiteInformation) {
  <es-spinner-small class="loading-website-information-spinner"></es-spinner-small>
  } @if (websiteInformation?.page) {
  <div class="link-details">
    <div class="page-infos">
      <div class="title">
        @if (websiteInformation.title) {
        {{ websiteInformation.title }} - }
        {{ websiteInformation.page }}
      </div>
      <div class="description">{{ websiteInformation.description }}</div>
    </div>
    @if (websiteInformation.duplicateNodes?.length) {
    <es-info-message mode="warning">
      {{ 'WORKSPACE.LINK_DUPLICATES_INFO' | translate }}
    </es-info-message>
    <div class="duplicate-nodes">
      @for (node of websiteInformation.duplicateNodes; track node) {
      <es-node-url [node]="node" [queryParams]="{ closeOnBack: true }" target="_blank">
        <es-node-row [node]="node" [columns]="columns"></es-node-row>
      </es-node-url>
      }
    </div>
    }
  </div>
  } @if (currentData.showLti && ltiEnabled) {
  <div class="lti">
    <div>
      <mat-slide-toggle class="toggle-reverse" [(ngModel)]="ltiActivated">{{
        'WORKSPACE.ADD_OBJECT_LTI' | translate
      }}</mat-slide-toggle>
    </div>
    @if (ltiActivated) {
    <div class="lti-data">
      <div class="heading">{{ 'WORKSPACE.LTI_HEADING' | translate }}</div>
      <div class="info">{{ 'WORKSPACE.LTI_INFO' | translate }}</div>
      <div class="inputs">
        <mat-form-field>
          <mat-label>{{ 'WORKSPACE.LTI_CONSUMER_KEY' | translate }}</mat-label>
          <input matInput id="consumerKey" [(ngModel)]="ltiConsumerKey" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'WORKSPACE.LTI_SHARED_SECRET' | translate }}</mat-label>
          <input matInput id="sharedSecret" [(ngModel)]="ltiSharedSecret" />
        </mat-form-field>
      </div>
      <div
        class="info info-privacy"
        innerHTML="{{ 'WORKSPACE.LTI_INFO_PRIVACY' | translate }}"
      ></div>
    </div>
    }
  </div>
  }
  <!-- Embedded-mode submit button: in dialog mode the OK button lives in the wrapper -->
  @if (!data && !selectedFiles().length) {
  <div class="link-submit">
    <button mat-flat-button color="primary" [disabled]="!canSave()" (click)="setLink()">
      {{ 'WORKSPACE.ADD_LINK' | translate }}
    </button>
  </div>
  }
</div>
} @if (dialogs.getCustomTemplateSlot(DialogTemplate.AddMaterialDialogBelow)) {
<ng-container
  *ngTemplateOutlet="
    dialogs.getCustomTemplateSlot(DialogTemplate.AddMaterialDialogBelow);
    context: { dialog: this, data }
  "
></ng-container>
}
