@if (initialized()) { @if (visibleList()?.length > 0) {
<div class="list" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
  @for (n of visibleList(); track n.ref.id; let i = $index) { @if (editMode() || showMore() ||
  !displayLimit || i < displayLimit) {
  <!-- note: both dynamic applying mat-flat-button to the button and cdkDrag to the *ngFor container did not worked properly -->
  <!-- as a result, separate button tags are used -->
  @switch (layout) {
  <!-- display collection tile -->
  @case (CollectionListLayout.Tiles) {
  <button
    class="collection-tile"
    role="button"
    [disabled]="updateInProgress()"
    cdkDrag
    [cdkDragDisabled]="!editMode()"
    (cdkDragEnded)="dragging = false"
    (cdkDragStarted)="dragging = true"
    (click)="collectionItemClicked(n)"
  >
    <!-- tile header -->
    <div
      class="tile-header"
      [class.default-icon]="n.preview.isIcon"
      [style.background-color]="
        n.preview.isIcon ? customCollectionChipsTileColor || n.collection?.color : null
      "
    >
      <!-- if isIcon is set to true, the default icon of the node type is displayed -->
      <!-- use alt="" to tell the user that the image is only decorative -->
      @if (n.preview && !n.preview.isIcon) {
      <img [src]="n | esNodeImage | async" alt="" />
      } @else {
      <i esIcon="layers"></i>
      }
    </div>
    <!-- tile content -->
    <div class="tile-content">
      <!-- reference for adding lang="de": https://stackoverflow.com/a/71648585 -->
      <div class="tile-title" lang="de">
        <ng-container *ngTemplateOutlet="collectionTitle; context: { node: n }"></ng-container>
      </div>
    </div>
    <!-- absolute positioned drag handle -->
    @if (editMode()) {
    <button
      class="drag-btn"
      mat-icon-button
      cdkDragHandle
      (click)="$event.stopPropagation(); $event.preventDefault()"
    >
      <i esIcon="drag_indicator"></i>
    </button>
    }
  </button>
  }
  <!-- display collection chip -->
  @default {
  <button
    class="collection-chip"
    role="button"
    mat-flat-button
    [disabled]="updateInProgress()"
    cdkDrag
    [cdkDragDisabled]="!editMode()"
    (cdkDragEnded)="dragging = false"
    (cdkDragStarted)="dragging = true"
    (click)="collectionItemClicked(n)"
  >
    <!-- note: this has to be a separate element to be aligned properly -->
    <span class="chip-title">
      @if (editMode()) {
      <i esIcon="drag_indicator" role="button" cdkDragHandle></i>
      }
      <ng-container *ngTemplateOutlet="collectionTitle; context: { node: n }"></ng-container>
      <i esIcon="arrow_forward"></i>
    </span>
  </button>
  } } } } @if (!editMode() && displayLimit > 0 && displayLimit < list.length) {
  <div class="toggle-show-more">
    <button mat-button (click)="toggleShowMore()">
      {{ i18nPrefix + (showMore() ? 'SHOW_LESS' : 'SHOW_MORE') | translate }}
    </button>
  </div>
  }
</div>
<!-- color + configuration buttons -->
@if (editMode()) {
<es-widget-configuration-buttons
  [ariaLabel]="i18nPrefix + 'CONFIG_ARIA' | translate"
  [(layout)]="layout"
  [layoutOptions]="layoutOptions"
  [optionOne]="embedConfigurationOption"
  [pageVariantNode]="pageVariantNode"
  [swimlaneIndex]="swimlaneIndex"
  [updateInProgress]="updateInProgress()"
  (layoutChange)="changeLayout()"
  (optionOneClicked)="embedWidget()"
></es-widget-configuration-buttons>
} } @else {
<es-info-message class="info-message" mode="info">
  {{ 'TOPIC_PAGE.WIDGET.NO_SUBCOLLECTIONS' | translate }}
</es-info-message>
}
<ng-template #collectionTitle let-node="node">
  {{ node.properties?.['ccm:collectionshorttitle']?.[0] || node.title }}
</ng-template>
} @else {
<es-spinner></es-spinner>
}
