<ng-container *ngIf="data.message" [ngSwitch]="data.messageMode">
  <ng-container *ngSwitchCase="'text'">
    <p
      *ngFor="let line of data.message | translate : data.messageParameters | splitNewLines"
      class="message-line"
    >
      {{ line }}
    </p>
  </ng-container>
  <pre *ngSwitchCase="'preformatted'">{{ data.message | translate : data.messageParameters }}</pre>
  <div *ngSwitchCase="'html'" [innerHtml]="data.message | translate : data.messageParameters"></div>
</ng-container>

<ng-container *ngIf="data.contentTemplate">
  <ng-container *ngTemplateOutlet="data.contentTemplate; context: data.context"></ng-container>
</ng-container>
