@if (data.message) { @switch (data.messageMode) { @case ('text') { @for (line of data.message |
translate : data.messageParameters | splitNewLines; track line) {
<p class="message-line">
  {{ line }}
</p>
} } @case ('preformatted') {
<pre>{{ data.message | translate : data.messageParameters }}</pre>
} @case ('html') {
<div [innerHtml]="data.message | translate : data.messageParameters"></div>
} } } @if (data.contentTemplate) {
<ng-container *ngTemplateOutlet="data.contentTemplate; context: data.context"></ng-container>
}
