@if (title) {
<div class="infobar infobar-{{ position }}" [@infobarBottom]="title">
  <div class="infobar-message">
    <div class="title">{{ title | translate }}</div>
    <div class="message">{{ message | translate : messageParameters }}</div>
  </div>
  @if (_buttons) {
  <div class="infobar-buttons">
    @for (button of _buttons; track button; let i = $index) {
    <div #buttonElements>
      @if (button.color === 'primary') {
      <button mat-raised-button [color]="$any('white')" (click)="click(button)">
        {{ button.label | translate }}
      </button>
      } @if (button.color === 'danger') {
      <button mat-raised-button [color]="'warn'" (click)="click(button)">
        {{ button.label | translate }}
      </button>
      } @if (button.color === 'standard') {
      <button mat-button [color]="$any('white')" (click)="click(button)">
        {{ button.label | translate }}
      </button>
      }
    </div>
    }
  </div>
  } @if (isCancelable) {
  <div class="infobar-cancel clickable" (click)="cancel()">
    <i class="material-icons">close</i>
  </div>
  }
</div>
}
