@use '../../mds-mixins' as mds;

.duration-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    > * {
        margin: 0 5px;
    }
    > mat-form-field {
        min-width: 50px;
        flex-grow: 0;
    }
    > ngx-slider {
        flex-grow: 1;
    }
}
:host ::ng-deep {
    .duration-group {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        .ngx-slider-selection-bar .ngx-slider-bar {
            background: var(--primary);
            visibility: visible;
        }
        &.isAiSuggestion {
            .ngx-slider-selection-bar .ngx-slider-bar {
                background: var(--aiColor);
                visibility: visible;
            }
            .ngx-slider-pointer {
                background: var(--aiColor);
            }
            .ngx-slider-bubble {
                color: var(--aiColor);
            }
            input {
                @include mds.highlightAiText();
            }
        }
    }
}
