@import '../../../../app/core-ui-module/styles/variables';

// Mat-Autocomplete runs into problems with keyboard navigation when the height of options is
// changed. This value has to be consistent with the value provided to the related <input> with the
// `optionHeight` attribute.
$optionHeight: 66px;

form {
    width: 100%;
}
.authority-search-input {
    width: 100%;
    .material-icons {
        color: $textLight;
    }
    mat-hint {
        margin-top: 15px;
    }
}

user-avatar {
    height: 40px;
}

.mat-option {
    height: $optionHeight;
}

.mat-optgroup ::ng-deep .mat-optgroup-label {
    display: flex;
    align-items: flex-end;
    height: $optionHeight;
}

.authority-search-input-option {
    app-authority-row {
        width: 100%;
    }
}
