@import "../../../../app/core-ui-module/styles/variables";

form{
  width: 100%;
}
.authority-search-input{
  width:100%;
  .material-icons {
    color: $textLight;
  }
}

user-avatar{
  height: 40px;
}
.mat-option{
  height: auto;
}
.suggestion-content{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 0;
  >i{
    color: #6d6d6d;
    font-size: 30px;
  }
  .text-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    > .data {
      flex-grow: 1;
      margin: 0 15px;
      width: 0;
      >div{
        @include limitLineCount(1,1.6);
        word-break: break-all;
        color:$textMain;
      }
      >.primary{
        font-size: 110%;
      }
      >.secondary{
        font-size: 90%;
        color:$textLight;
      }
    }

    > .affiliation {
      color: $textMediumLight;
      text-transform: uppercase;
      font-size: 75%;
      @include limitLineCount(1,2);
      display: flex;
      justify-content: flex-end;
      word-break: break-all;
      max-width: 30%;
    }
  }
}
@media screen and (max-width: $mobileWidth) {
  .suggestion-content .text-content{
    flex-direction: column;
    >.affiliation{
      max-width: unset;
      margin: 3px 15px 0 15px;
      justify-content: flex-start;
    }
  }
}

