@import "../../../../app/core-ui-module/styles/variables";

form{
  width: 100%;
}
.authority-search-input{
  width:100%;
  .material-icons {
    color: $textLight;
  }
  mat-hint{
    margin-top: 15px;
  }
}

user-avatar{
  height: 40px;
}
.mat-option{
  height: auto;
}
.authority-search-input-option{
  app-authority-row{
    width: 100%;
  }
}
