@import '../../styles/variables';

// Draw focus highlight above content background
:host {
    position: relative;
}
a {
    &:focus {
        @include removeDefaultFocus();
    }
}
button {
    background-color: unset;
    border: unset;
    padding: unset;
    text-align: unset;
}
