$primary: var(--primary);
$primaryMediumLight: var(--palette-primary-200);
$primaryLight: var(--palette-primary-100);
$primaryComplementary: var(--accent);
$primaryDark: var(--palette-primary-900);
$textOnPrimary: var(--light-primary-text);
$textOnPrimaryLight: rgba(var(--light-primary-text), 0.75);
$textPrimary: var(--palette-foreground-text);
$workspaceTopBarBackground: #383838;
$workspaceTopBarFontColor: #fff;
