@import 'variables';

$toastLeft: $colorStatusPositive;

.app-mat-snackbar-toast {
    color: white;
    .mat-simple-snackbar-action {
        color: $primaryMediumLight;
        .mat-button {
            font-weight: bold;
        }
    }
}

.app-mat-snackbar-toast-info {
    background: linear-gradient(
        to right,
        $toastLeft 0%,
        $toastLeft 8px,
        $toastPrimary 8px,
        $toastPrimary 100%
    );
}

.app-mat-snackbar-toast-error {
    background: linear-gradient(
        to right,
        $toastLeftError 0%,
        $toastLeftError 8px,
        $toastPrimary 8px,
        $toastPrimary 100%
    );
}
