@use 'sass:map';
@use 'sass:color';
@import 'branding';

// All variables can be overridden in `branding.scss`.
/* replace variables which are may not defined in the branding */
$primaryVeryLight: var(--palette-primary-50) !default;
$primaryMediumDark: var(--palette-primary-700) !default;

$tabColor: var(--primary) !default;
$tabColorDark: var(--primary) !default;
$tabColorLight: $primaryMediumLight !default;
$warning: #cd2457 !default;
$warningMedium: #e98c1b !default;
$toastLeftError: #c15d5d !default;
$toastPrimary: #5c5c5c !default;
$textLight: var(--textLight) !default;
$textMediumLight: var(--textMediumLight) !default;
$textVeryLight: #aaa !default;
// prefer using var(--textMain)
$textMain: #383838 !default;
$textRenderingLabels: #6f6f6f !default;
$fontSizeXLarge: 120% !default;
$fontSizeLarge: 110% !default;
$fontSizeSmall: 90% !default;
$fontSizeXSmall: var(--fontSizeXSmall) !default;
$backgroundColor: #fff !default;
$workspaceSidebarWidth: 300px !default;
$workspaceInheritColor: #42ca8d !default;
$editorialCollectionsBackground: #f5ec19 !default;
$itemSelectedBackground: $primaryVeryLight !default;
$itemSelectedTextColor: $primaryMediumDark !default;
$buttonHoverBackground: var(--palette-primary-500, 0.08) !default;
$workspaceNewBackground: $itemSelectedBackground !default;
// the white bar height in search and es-workspace
$secondaryBarHeight: 65px !default;
$listItemSelectedBackground: var(--palette-primary-50) !default;
$workspaceSelectedBackgroundEffect: linear-gradient(
        to right,
        var(--primary) 0,
        var(--primary) 5px,
        rgba(0, 0, 0, 0) 5px,
        rgba(0, 0, 0, 0) 5px
    )
    no-repeat !default;
$workspaceTreeBackground: #f7f7f7 !default;
$workspaceTopBarSafeBackground: #963a3a;
$dialogRightWidth: 320px !default;
$workspaceTreeSelectedBackground: #fff !default;
$workspaceTreeWidth: 300px !default;
$workspaceBreadcrumbsHeight: $secondaryBarHeight !default;
$workspaceTreeSelectedBackgroundEffect: linear-gradient(
    to right,
    var(--primary) 0,
    var(--primary) 5px,
    rgba(0, 0, 0, 0) 5px,
    rgba(0, 0, 0, 0) 5px
) !default;
$workspaceMetadataBackground: #f7f7f7 !default;
$buttonBorderRadius: 2px !default;
$contextMenuWidth: 240px !default;
$tableIconSize: 38px !default;
$actionDialogBackground: #eee !default;
$cardLightBackground: #f9f9f9 !default;
$searchInputBorderColor: #ccc !default;
$cardSeparatorLineColor: #ccc !default;
$genericSeperatorLineColor: #ececec !default;
$inputBorderColor: #9e9e9e !default;
$commentsActionsSeperatorLineColor: $backgroundColor !default;
$noResultsColor: rgba(black, 0.54) !default;
$darkenColor: rgba(0, 0, 0, 0.75) !default;
$darkenLightColor: rgba(0, 0, 0, 0.25) !default;
// prefer using var(--$colorStatusPositive)
$colorStatusPositive: #40bf8e !default;
// prefer using var(--colorStatusNegative)
$colorStatusNegative: #cd2457 !default;
$colorStatusWarning: $warningMedium !default;
$colorStatusRecommended: #acd331 !default;
$colorStatusNeutral: #777 !default;
$colorStarActive: var(--colorStarActive) !default;
$focusColor: var(--palette-primary-300) !default;
$placeholderColor: #767676 !default;
$focusWidth: 2px !default;
$cardWidth: var(--cardWidth) !default;
$cardHeight: 300px !default;
$listItemHeight: 70px !default;
$listCardSmallHeight: 100px !default;
$listHeadingHeight: 36px !default;
$cardPadding: 25px !default;
$transitionNormal: var(--transitionNormal) !default;
// prefer using var(--mobileWidth)
$mobileWidth: 700px !default;
// prefer using var(--mobileStage)
$mobileStage: 100px !default;
$mobileHeight: 750px !default;
$mobileHeightWithKeyboard: 550px !default;
$mobileHeightLandscape: 400px !default;
$mobileWidthPortrait: 400px !default;
// this factor should be multiplied by a natural number, e.g. *3 means stage 3 (relatively early)
$dialogZIndex: 130 !default;
// before the top bar on mobile, but behind the mobile tabs and the top bar on desktop
$dialogNonModalZIndex: 90 !default; // before the top bar on mobile, but behind the mobile tabs and the top bar on desktop
$topBarZIndex: 98 !default;
$topBarMobileZIndex: 80 !default;
$workspaceTopBarInputBackground: #eee !default;
$workspaceTopBarInputText: $textMain !default;
$mobileTabsZIndex: 110 !default;
$mobileTabSwitchWidth: $mobileWidth + $mobileStage * 2 !default;
$mobileTabNavHeight: 62px !default;
$primaryFontFamily: 'open_sansregular' !default;
$primaryFontSize: 10pt !default;

$default-chip-colors: (
    'cclom_general_keyword': rgb(166, 214, 208),
    'ccm_educationalcontext': rgb(214, 166, 166),
    'ccm_educationallearningresourcetype': rgb(214, 193, 166),
    'ccm_objecttype': rgb(166, 192, 214),
    'ccm_taxonid': rgb(166, 214, 174),
    'ccm_educationalintendedenduserrole': rgb(211, 214, 166),
);
$custom-chip-colors: () !default;
$chip-colors: map.merge($default-chip-colors, $custom-chip-colors);

@import 'mixins';
