@import '../../../../../core-ui-module/styles/variables';

.container {
    display: flex;
    > div {
        display: flex;
        padding: 3px 0;
        align-items: center;
    }
    > .icon {
        width: 32px;
        position: relative;
        top: 2px;
    }
    > .permissionName {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 40px;
        flex-grow: 1;
        padding: 3px 5px;
        > .primary {
            word-break: break-all;
            max-height: 1.5em;
            line-height: 1.5em;
            overflow: hidden;
        }
        > .secondary {
            font-size: 80%;
            color: $textLight;
            margin-top: -3px;
            min-height: 3px;
        }
    }
    .permission-type {
        position: relative;
    }
}
.deleted-info {
    // the outer boundary in share dialog has 15px + 5px padding
    width: calc(100% + 20px);
    height: 100%;
    position: absolute;
    align-items: center;
    left: -15px;
    top: 0;
    z-index: 1;
    display: flex;
    border-radius: 25px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px) saturate(50%);
    .line {
        flex-grow: 1;
        padding: 0 15px;
        &:last-child {
            padding-right: 60px;
        }
        hr {
            border: none;
            background: #000;
            height: 1px;
        }
    }
}
.publish {
    padding: 0 5px;
}
.group {
    position: relative;
}
.group,
.container {
    width: 100%;
}
.readOnly button {
    color: $textLight;
}
.permission {
    justify-content: flex-end;
    > div {
        display: flex;
        justify-content: flex-end;
        padding: 0 5px;
    }
}
.icon {
    padding-right: 5px;
}
.typeAdd {
    position: absolute;
    right: 20px;
    width: 310px !important;
    top: -60px;
}
.select {
    width: 25px;
    display: inline-flex;
    padding: 0 2px;
}
.icon,
.remove,
.inherit {
    min-width: 24px;
}
.remove {
    position: relative;
    z-index: 2;
}
.remove i,
.type {
    color: $textLight;
}
.remove .inherit {
    color: $workspaceInheritColor;
    font-size: 21px;
}
@media screen and (max-width: $mobileWidth) {
    .permission > div > div span {
        display: none;
    }
}
