<div class="group">
  <div class="deleted-info" *ngIf="isDeleted">
    <div class="line"><hr /></div>
    <div class="info">{{ 'WORKSPACE.SHARE.DELETED' | translate }}</div>
    <div class="line"><hr /></div>
  </div>
  <div class="container">
    <div class="icon">
      <es-user-avatar [user]="_permission" size="xsmall"></es-user-avatar>
      <!--<i class="type material-icons">{{_permission.authority.authorityType=='USER' ? "person" : _permission.authority.authorityType=='LINK' ? "link" : "group"}}{{added ? "_add" : "" }}</i>-->
    </div>
    <div class="permissionName">
      <span class="primary">{{ _permission | permissionName }}</span>
      <span class="secondary">{{ _permission | permissionName: { field: 'secondary' } }}</span>
    </div>
    <div class="permission" [class.readOnly]="readOnly">
      <div class="publish">
        <i
          class="material-icons"
          *ngIf="
            _permission.permissions.indexOf('Coordinator') > -1 ||
            _permission.permissions.indexOf('CCPublish') > -1
          "
          matTooltip="{{ 'WORKSPACE.SHARE.PUBLISHER' | translate }}"
          >public</i
        >
      </div>
      <div
        *ngIf="invalidPermission"
        title="{{
          'WORKSPACE.SHARE.TYPE_UNKNOWN_DESCRIPTION'
            | translate: { permissions: _permission.permissions.join(', ') }
        }}"
      >
        <div>
          <i aria-hidden="true" class="material-icons align">help_outline</i>
          <span>{{ 'WORKSPACE.SHARE.TYPE_UNKNOWN' | translate }}</span>
          <div class="select"></div>
        </div>
      </div>
      <div *ngIf="!invalidPermission" class="permission-type">
        <button
          mat-button
          [disabled]="readOnly"
          (click)="chooseType()"
          role="combobox"
          [attr.aria-label]="
            'WORKSPACE.SHARE.TYPE_MENU_LABEL' | translate: { user: _permission | permissionName }
          "
          aria-haspopup="true"
          [attr.aria-expanded]="showChooseType || null"
          [attr.aria-controls]="showChooseType ? 'es-share-dialog-choose-type-menu' : null"
        >
          <ng-container *ngIf="_permission.permissions.indexOf('Owner') > -1">
            <i class="material-icons align">home</i>
            <span>{{ 'WORKSPACE.SHARE.GROUP_OWNER' | translate }}</span>
          </ng-container>
          <ng-container *ngIf="_permission.permissions.indexOf('Consumer') > -1">
            <i class="material-icons align">remove_red_eye</i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_VIEWER' | translate }}</span>
            <span *ngIf="!readOnly && !isEveryone" class="select"
              ><i class="material-icons align">keyboard_arrow_down</i></span
            >
          </ng-container>
          <ng-container *ngIf="_permission.permissions.indexOf('Collaborator') > -1">
            <i class="material-icons align">edit</i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_COWORKER' | translate }}</span>
            <span *ngIf="!readOnly && !isEveryone" class="select"
              ><i class="material-icons align">keyboard_arrow_down</i></span
            >
          </ng-container>
          <ng-container
            *ngIf="
              _permission.permissions.indexOf('Coordinator') > -1 ||
              _permission.permissions.indexOf('All') > -1
            "
          >
            <i class="material-icons align">work</i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_COORDINATOR' | translate }}</span>
            <span *ngIf="!readOnly && !isEveryone" class="select"
              ><i class="material-icons align">keyboard_arrow_down</i></span
            >
          </ng-container>
        </button>

        <div *ngIf="_permission.permissions.length == 0"></div>

        <es-share-dialog-choose-type
          *ngIf="showChooseType"
          class="typeAdd"
          [aria-label]="
            'WORKSPACE.SHARE.TYPE_MENU_LABEL' | translate: { user: _permission | permissionName }
          "
          [selected]="_permission.permissions"
          [isDirectory]="isDirectory"
          [canPublish]="canPublish"
          (onCancel)="showChooseType = false"
          (onType)="changeType($event)"
        ></es-share-dialog-choose-type>
      </div>
    </div>
    <button
      class="remove"
      mat-icon-button
      (click)="remove()"
      *ngIf="showDelete"
      [disabled]="readOnly"
    >
      <i *ngIf="!inherit && !isDeleted" class="material-icons">cancel</i>
      <i *ngIf="!inherit && isDeleted" class="material-icons">undo</i>
      <i
        *ngIf="inherit"
        class="inherit"
        esIcon="edu-inherit"
        matTooltip="{{ 'WORKSPACE.SHARE.INHERIT_HINT' | translate }}"
      ></i>
    </button>
  </div>
</div>
