<div class="group">
  @if (isDeleted) {
  <div class="deleted-info">
    <div class="line">
      <hr />
    </div>
    <div class="info">{{ 'WORKSPACE.SHARE.DELETED' | translate }}</div>
    <div class="line">
      <hr />
    </div>
  </div>
  }
  <div class="container">
    <div class="icon">
      <es-user-avatar [user]="_permission" size="xsmall"></es-user-avatar>
    </div>
    <div class="permissionName">
      <span class="primary">{{ _permission | permissionName }}</span>
      <span class="secondary">{{ _permission | permissionName : { field: 'secondary' } }}</span>
    </div>
    <div class="permission" [class.readOnly]="!isEditable">
      @if (permissionTimebased && (inherit || ((isEditable === 'timebasedOnly' || isEditable ===
      true) && timebasedAllowed))) {
      <button
        mat-icon-button
        (click)="openTimebased()"
        [class.timebased-active]="_permission.from || _permission.to"
        [disabled]="inherit"
        matTooltip="{{
          'WORKSPACE.SHARE.TIMEBASED.TOOLTIP'
            | translate : { permissions: _permission.permissions.join(', ') }
        }}"
        cdkOverlayOrigin
        #timebasedTrigger="cdkOverlayOrigin"
      >
        <i esIcon="alarm"></i>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayHasBackdrop]="true"
          (backdropClick)="timebasedOpen = false"
          (overlayKeydown)="onTimebasedKeydown($event)"
          [cdkConnectedOverlayOrigin]="timebasedTrigger"
          [cdkConnectedOverlayPositions]="[
            {
              originX: 'end',
              originY: 'bottom',
              overlayX: 'end',
              overlayY: 'top'
            },
            {
              originX: 'end',
              originY: 'bottom',
              overlayX: 'end',
              overlayY: 'bottom'
            }
          ]"
          [cdkConnectedOverlayOpen]="timebasedOpen"
        >
          <div
            class="timebased-overlay"
            cdkTrapFocus
            [cdkTrapFocusAutoCapture]="true"
            [formGroup]="timebasedForm"
          >
            <div class="content">
              <mat-checkbox
                [ngModel]="fromEnabled"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="toggleFrom($event)"
                >{{ 'WORKSPACE.SHARE.TIMEBASED.FROM_CHECKBOX' | translate }}
              </mat-checkbox>
              @if (fromEnabled) {
              <div>
                <es-share-dialog-choose-date
                  formControlName="from"
                  [from]="currentDate"
                  [to]="timebasedRaw.to"
                ></es-share-dialog-choose-date>
                @if (timebasedForm.controls.from.hasError('inPast')) {
                <div class="timebased-error" role="alert">
                  {{ 'WORKSPACE.SHARE.TIMEBASED.IN_PAST' | translate }}
                </div>
                }
              </div>
              }
              <mat-checkbox
                [ngModel]="toEnabled"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="toggleTo($event)"
                >{{ 'WORKSPACE.SHARE.TIMEBASED.TO_CHECKBOX' | translate }}
              </mat-checkbox>
              @if (toEnabled) {
              <div>
                <es-share-dialog-choose-date
                  formControlName="to"
                  [from]="timebasedRaw.from || currentDate"
                ></es-share-dialog-choose-date>
              </div>
              } @if (timebasedForm.hasError('fromAfterTo')) {
              <div class="timebased-error" role="alert">
                {{ 'WORKSPACE.SHARE.TIMEBASED.INVALID_RANGE' | translate }}
              </div>
              }
              <div class="actions">
                <button mat-button color="primary" (click)="timebasedOpen = null">
                  {{ 'CANCEL' | translate }}
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  (click)="saveTimebased()"
                  [disabled]="timebasedForm.invalid"
                >
                  {{ 'SAVE' | translate }}
                </button>
              </div>
            </div>
            <!-- <div class="close">
                <button mat-icon-button (click)="timebasedOpen = false">
                  <i esIcon="close"></i>
                </button>
              </div> -->
          </div>
        </ng-template>
      </button>
      } @if ((_permission.from || _permission.to) && timebasedInvalid) {
      <i
        esIcon="warning"
        class="timebased-invalid"
        [matTooltip]="'WORKSPACE.SHARE.TIMEBASED.INVALID_STATE' | translate"
      ></i>
      }
      <div class="publish">
        @if (_permission.permissions.indexOf('Coordinator') > -1 ||
        _permission.permissions.indexOf('CCPublish') > -1) {
        <i class="material-icons" matTooltip="{{ 'WORKSPACE.SHARE.PUBLISHER' | translate }}"
          >public</i
        >
        }
      </div>
      <!-- This template displays the overlay content and is connected to the button -->

      @if (invalidPermission) {
      <div
        title="{{
          'WORKSPACE.SHARE.TYPE_UNKNOWN_DESCRIPTION'
            | translate : { permissions: _permission.permissions.join(', ') }
        }}"
      >
        <div>
          <i aria-hidden="true" class="material-icons align">help_outline</i>
          <span>{{ 'WORKSPACE.SHARE.TYPE_UNKNOWN' | translate }}</span>
          <div class="select"></div>
        </div>
      </div>
      } @if (!invalidPermission) {
      <div class="permission-type">
        <button
          mat-button
          [disabled]="isEditable !== true"
          (click)="chooseType()"
          role="combobox"
          [attr.aria-label]="
            'WORKSPACE.SHARE.TYPE_MENU_LABEL' | translate : { user: _permission | permissionName }
          "
          aria-haspopup="true"
          [attr.aria-expanded]="showChooseType || null"
          [attr.aria-controls]="showChooseType ? 'es-share-dialog-choose-type-menu' : null"
        >
          @if (_permission.permissions.indexOf('Owner') > -1) {
          <ng-container>
            <i class="material-icons align">home</i>
            <span>{{ 'WORKSPACE.SHARE.GROUP_OWNER' | translate }}</span>
          </ng-container>
          } @if (_permission.permissions.indexOf('Consumer') > -1) {
          <ng-container>
            <i class="material-icons align">remove_red_eye</i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_VIEWER' | translate }}</span>
            @if (isEditable === true && !isEveryone) {
            <span class="select"><i class="material-icons align">keyboard_arrow_down</i></span>
            }
          </ng-container>
          } @if (_permission.permissions.indexOf('Collaborator') > -1) {
          <ng-container>
            <i class="material-icons align">edit</i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_COWORKER' | translate }}</span>
            @if (isEditable === true && !isEveryone) {
            <span class="select"><i class="material-icons align">keyboard_arrow_down</i></span>
            }
          </ng-container>
          } @if (_permission.permissions.indexOf('Coordinator') > -1 ||
          _permission.permissions.indexOf('All') > -1) {
          <ng-container>
            <i class="material-icons align">work</i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_COORDINATOR' | translate }}</span>
            @if (isEditable === true && !isEveryone) {
            <span class="select"><i class="material-icons align">keyboard_arrow_down</i></span>
            }
          </ng-container>
          }
        </button>

        @if (_permission.permissions.length === 0) {
        <div></div>
        } @if (showChooseType) {
        <es-share-dialog-choose-type
          class="typeAdd"
          [aria-label]="
            'WORKSPACE.SHARE.TYPE_MENU_LABEL' | translate : { user: _permission | permissionName }
          "
          [selected]="_permission.permissions"
          [isDirectory]="isDirectory"
          [canPublish]="canPublish"
          (cancelType)="showChooseType = false"
          (typeChosen)="doChangeType($event)"
        ></es-share-dialog-choose-type>
        }
      </div>
      }
    </div>
    <div>
      @if (showDelete) {
      <button class="remove" mat-icon-button (click)="remove()" [disabled]="isEditable !== true">
        @if (!inherit && !isDeleted) {
        <i class="material-icons">cancel</i>
        } @if (!inherit && isDeleted) {
        <i class="material-icons">undo</i>
        } @if (inherit) {
        <i
          class="inherit"
          esIcon="edu-inherit"
          matTooltip="{{ 'WORKSPACE.SHARE.INHERIT_HINT' | translate }}"
        ></i>
        }
      </button>
      }
    </div>
  </div>
</div>
