@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;
@use 'sass:color';

$expandToggleWidthThreshold: 400px;

es-input-fill-progress {
    display: flex;
    min-width: 200px;
    height: 36px;
}

:host ::ng-deep es-mds-editor-core {
    --mds-content-padding: 25px;
    .extended-toggle-container {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        padding: 0 20px;
        justify-content: flex-end;
        background-color: #f7f7f7;
        @media only screen and (min-width: $expandToggleWidthThreshold) {
            z-index: 11;
            background-color: unset;
        }
        .extended-toggle {
            display: flex;
            padding: 0 10px 0 25px;
            height: 39px;
            background: linear-gradient(
                to right,
                rgba(
                        color.channel($workspaceMetadataBackground, 'red', $space: rgb),
                        color.channel($workspaceMetadataBackground, 'green', $space: rgb),
                        color.channel($workspaceMetadataBackground, 'blue', $space: rgb),
                        0.0001
                    )
                    0,
                $workspaceMetadataBackground 15px
            );
        }
    }
    .heading-container {
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .heading {
        margin: 0;
        border-bottom: 1px solid #eee;
        font-size: 130%;
        font-weight: normal;
    }
}
