<ng-container *ngIf="item.type === 'ORG' || item.type === 'GROUP'">
  <ng-container [ngSwitch]="item.name">
    <span *ngSwitchCase="'displayName'">
      {{ $any(node).profile.displayName }}
    </span>
    <span *ngSwitchCase="'groupType'">
      {{ 'PERMISSIONS.GROUP_TYPE.' + $any(node).profile.groupType | translate }}
    </span>
    <span *ngSwitchDefault>
      {{ $any(node)[item.name] }}
    </span>
  </ng-container>
</ng-container>
<ng-container *ngIf="item.type === 'USER'">
  <span *ngIf="isUserProfileAttribute(item.name)">
    {{ $any(node).profile[item.name] }}
  </span>
  <span *ngIf="item.name === 'status'">
    {{ 'PERMISSIONS.USER_STATUS.' + $any(node).status.status | translate }}
  </span>
  <span *ngIf="!isUserProfileAttribute(item.name) && item.name !== 'status'">
    {{ $any(node)[item.name] }}
  </span>
</ng-container>
<ng-container [ngSwitch]="item.name" *ngIf="item.type === 'NODE' || item.type === 'COLLECTION'">
  <span *ngSwitchCase="'name'">
    {{ $any(node).name }}
  </span>
  <span *ngSwitchCase="'title'">
    {{ $any(node).title || $any(node).name }}
  </span>
  <span *ngSwitchCase="'cm:title'">
    {{ $any(node).title || $any(node).name }}
  </span>
  <span *ngSwitchCase="'cclom:title'">
    {{ $any(node).title || $any(node).name }}
  </span>
  <span
    *ngSwitchCase="'mediatype'"
    [matTooltip]="showFieldTooltip ? ('NODE.mediatype' | translate) : null"
  >
    {{ 'MEDIATYPE.' + $any(node).mediatype | translate }}
  </span>
  <span *ngSwitchCase="'size'" [matTooltip]="showFieldTooltip ? ('NODE.size' | translate) : null">
    {{ $any(node).size | formatSize }}
  </span>
  <span
    *ngSwitchCase="'dimensions'"
    [matTooltip]="showFieldTooltip ? ('NODE.dimensions' | translate) : null"
  >
    {{ $any(node) | NodeImageSize }}
  </span>
  <span
    *ngSwitchCase="'cm:creator'"
    [matTooltip]="showFieldTooltip ? ('NODE.cm:creator' | translate) : null"
  >
    {{ $any(node).createdBy | nodePersonName }}
  </span>
  <span
    *ngSwitchCase="'cm:modifier'"
    [matTooltip]="showFieldTooltip ? ('NODE.cm:modifier' | translate) : null"
  >
    {{ $any(node).modifiedBy | nodePersonName }}
  </span>
  <span
    *ngSwitchCase="'ccm:replicationsource'"
    [matTooltip]="
      ('NODE.ccm:replicationsource' | translate) +
      ': ' +
      ('REPOSITORIES.' +
        ($any(node).properties['ccm:replicationsource'] | appNodeSource: { mode: 'escaped' })
        | translate
          : {
              fallback: ($any(node).properties['ccm:replicationsource'] | appNodeSource: { mode: 'text' })
            })
    "
  >
    <img
      src="{{ $any(node).properties['ccm:replicationsource'] | appNodeSource: { mode: 'url' } }}"
      (error)="$any($event.target).style.display = 'none'"
      [alt]="
      ('NODE.ccm:replicationsource' | translate) +
      ': ' +
      ('REPOSITORIES.' +
        ($any(node).properties['ccm:replicationsource'] | appNodeSource: { mode: 'escaped' })
        | translate
          : {
              fallback: ($any(node).properties['ccm:replicationsource'] | appNodeSource: { mode: 'text' })
            })
    "
    />
  </span>
  <span *ngSwitchDefault [matTooltip]="showFieldTooltip ? ('NODE.' + item.name | translate) : null">
    <ng-container *ngIf="DATE_FIELDS.indexOf(item.name) === -1">
      {{
      $any(node).properties ?
        ($any(node).properties[item.name + '_DISPLAYNAME']
          ? $any(node).properties[item.name + '_DISPLAYNAME'].join(', ')
          : $any(node).properties[item.name]?.join(', ')
        )
         : ''
      }}
    </ng-container>
    <ng-container *ngIf="DATE_FIELDS.indexOf(item.name) !== -1">
      {{ $any(node).properties[item.name] ? ($any(node).properties[item.name][0] | formatDate) : '' }}
    </ng-container>
  </span>
</ng-container>
