@if (deleteResult) {
<es-card
  title="{{ 'PERMISSIONS.DELETE.RESULTS' | translate }}"
  icon="delete"
  width="large"
  height="xxlarge"
  [isCancelable]="false"
  [buttons]="deleteButtons"
>
  <div class="card-result">
    <textarea matInput [ngModel]="deleteResult" readonly></textarea>
    <mat-hint>{{ 'PERMISSIONS.DELETE.RESULTS_HINT' | translate }}</mat-hint>
  </div>
</es-card>
}
<div class="wrapper">
  <h2 class="mat-heading-2 mat-heading-underline">
    {{ 'PERMISSIONS.DELETE.MAIN_HEADING' | translate }}
  </h2>
  <div class="group">
    @if (!usersDataSource.isLoading) {
    <h3 class="mat-heading-3 mat-heading-underline">
      <span>{{ 'PERMISSIONS.DELETE.USER_LIST' | translate }}</span
      ><button mat-icon-button (click)="refresh()"><i esIcon="refresh"></i></button>
    </h3>
    } @if (usersDataSource.isLoading || !usersDataSource.isEmpty()) {
    <div class="user-list">
      <es-node-entries-wrapper
        [displayType]="DisplayType.Table"
        [columns]="columns"
        [dataSource]="usersDataSource"
        [checkbox]="true"
        [elementInteractionType]="InteractionType.Emitter"
        (fetchData)="fetchMore($event)"
      ></es-node-entries-wrapper>
    </div>
    }
  </div>
  @if (!usersDataSource.isLoading && usersDataSource.isEmpty()) {
  <es-info-message
    mode="info"
    message="{{ 'PERMISSIONS.DELETE.STATE.NO_USERS' | translate }}"
  ></es-info-message>
  } @if (!usersDataSource.isEmpty() && options) {
  <div>
    @if (jobs?.length) {
    <div class="group group-jobs">
      <h3 class="mat-heading-3 mat-heading-underline">
        {{ 'PERMISSIONS.DELETE.JOBS.CAPTION' | translate }}
      </h3>
      <mat-form-field>
        <mat-label>{{ 'PERMISSIONS.DELETE.JOBS.TITLE' | translate }}</mat-label>
        <mat-select [(ngModel)]="job">
          <mat-option [value]="'NONE'">{{
            'PERMISSIONS.DELETE.JOBS.DEFAULT' | translate
          }}</mat-option>
          @for (j of jobs; track j) {
          <mat-option [value]="j">{{ j.description }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    } @if (job === 'NONE') {
    <div class="group">
      <h3 class="mat-heading-3 mat-heading-underline">
        {{ 'PERMISSIONS.DELETE.HOME_FOLDER.CAPTION' | translate }}
      </h3>
      <div class="side-by-side">
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.HOME_FOLDER.FOLDERS_CAPTION' | translate }}
          </h4>
          <mat-radio-group [(ngModel)]="options.homeFolder.folders" (ngModelChange)="updateForm()">
            @for (mode of deleteModes; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
          @if (options.homeFolder.folders === 'none') {
          <es-info-message
            mode="warning"
            message="{{ 'PERMISSIONS.DELETE.STATE.HOME_FOLDER_NONE' | translate }}"
          ></es-info-message>
          } @if (options.homeFolder.folders === 'delete') {
          <es-info-message
            mode="warning"
            message="{{ 'PERMISSIONS.DELETE.STATE.HOME_FOLDER_DELETE' | translate }}"
          ></es-info-message>
          }
        </div>
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.HOME_FOLDER.PRIVATE_FILES_CAPTION' | translate }}
          </h4>
          <mat-radio-group
            [(ngModel)]="options.homeFolder.privateFiles"
            (ngModelChange)="updateForm()"
          >
            @for (mode of deleteModes; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.HOME_FOLDER.CC_FILES_CAPTION' | translate }}
          </h4>
          <mat-radio-group [(ngModel)]="options.homeFolder.ccFiles" (ngModelChange)="updateForm()">
            @for (mode of deleteModes; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
      </div>
      <div class="structure">
        <h4 class="mat-heading-4">
          {{ 'PERMISSIONS.DELETE.HOME_FOLDER.FOLDER_STRUCTURE_CAPTION' | translate }}
        </h4>
        <mat-radio-group
          [(ngModel)]="options.homeFolder.keepFolderStructure"
          [disabled]="!allAssigning()"
        >
          <mat-radio-button [value]="false">{{
            'PERMISSIONS.DELETE.FOLDER_STRUCTURE_DISINTEGRATE' | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="true">{{
            'PERMISSIONS.DELETE.FOLDER_STRUCTURE_KEEP' | translate
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="group">
      <h3 class="mat-heading-3 mat-heading-underline">
        {{ 'PERMISSIONS.DELETE.SHARED_FOLDERS.CAPTION' | translate }}
      </h3>
      <div class="side-by-side">
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.SHARED_FOLDERS.FOLDERS_CAPTION' | translate }}
          </h4>
          <mat-radio-group [(ngModel)]="options.sharedFolders.folders">
            @for (mode of deleteModesFolder; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.SHARED_FOLDERS.PRIVATE_FILES_CAPTION' | translate }}
          </h4>
          <mat-radio-group [(ngModel)]="options.sharedFolders.privateFiles">
            @for (mode of deleteModes; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.SHARED_FOLDERS.CC_FILES_CAPTION' | translate }}
          </h4>
          <mat-radio-group [(ngModel)]="options.sharedFolders.ccFiles">
            @for (mode of deleteModes; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
      </div>
      @if ( options.sharedFolders.privateFiles === 'assign' || options.sharedFolders.ccFiles ===
      'assign' ) {
      <div class="move">
        <mat-checkbox [(ngModel)]="options.sharedFolders.move">{{
          'PERMISSIONS.DELETE.MOVE_SHARED_FILES' | translate
        }}</mat-checkbox>
      </div>
      }
    </div>
    <div class="group">
      <h3 class="mat-heading-3 mat-heading-underline">
        {{ 'PERMISSIONS.DELETE.COLLECTIONS.CAPTION' | translate }}
      </h3>
      <div class="side-by-side">
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.COLLECTIONS.PRIVATE_COLLECTIONS_CAPTION' | translate }}
          </h4>
          <mat-radio-group [(ngModel)]="options.collections.privateCollections">
            @for (mode of deleteModes; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
        <div>
          <h4 class="mat-heading-4">
            {{ 'PERMISSIONS.DELETE.COLLECTIONS.PUBLIC_COLLECTIONS_CAPTION' | translate }}
          </h4>
          <mat-radio-group [(ngModel)]="options.collections.publicCollections">
            @for (mode of deleteModes; track mode) {
            <mat-radio-button [value]="mode">{{
              'PERMISSIONS.DELETE.DELETE_MODE.' + mode | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="group">
      @if (hasAssigning()) {
      <div class="assigning">
        <h4 class="mat-heading-4">{{ 'PERMISSIONS.DELETE.RECEIVER_CAPTION' | translate }}</h4>
        <!-- @TODO: The component does currently not support searching ONLY for users -->
        <es-authority-search-input
          (chooseAuthority)="receiver = $event"
          [globalSearchAllowed]="true"
          [showRecent]="false"
          placeholder="{{ 'PERMISSIONS.DELETE.RECEIVER' | translate }}"
        ></es-authority-search-input>
        <mat-chip-listbox>
          @if (receiver) {
          <mat-chip-option (removed)="receiver = null">
            <span>{{ receiver | authorityName }}</span>
            <i matChipRemove esIcon="cancel"></i>
          </mat-chip-option>
          }
        </mat-chip-listbox>
        <h4 class="mat-heading-4">
          {{ 'PERMISSIONS.DELETE.RECEIVER_GROUP_CAPTION' | translate }}
        </h4>
        <es-authority-search-input
          [mode]="AuthoritySearchMode.Organizations"
          hint="{{ 'PERMISSIONS.DELETE.RECEIVER_GROUP_HINT' | translate }}"
          [globalSearchAllowed]="true"
          [showRecent]="false"
          (chooseAuthority)="receiverGroup = $event"
          placeholder="{{ 'PERMISSIONS.DELETE.RECEIVER_GROUP' | translate }}"
        ></es-authority-search-input>
        <mat-chip-listbox>
          @if (receiverGroup) {
          <mat-chip-option (removed)="receiverGroup = null">
            <span>{{ receiverGroup | authorityName }}</span>
            <i matChipRemove esIcon="cancel"></i>
          </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>
      }
    </div>
    <div class="info-wrapper">
      @if (missingAssigning()) {
      <es-info-message
        mode="warning"
        message="{{ 'PERMISSIONS.DELETE.STATE.NO_RECEIVER' | translate }}"
      ></es-info-message>
      } @if ( options.collections.privateCollections === 'delete' ||
      options.collections.publicCollections === 'delete' ) {
      <es-info-message
        mode="warning"
        message="{{ 'PERMISSIONS.DELETE.STATE.DELETE_COLLECTIONS' | translate }}"
      ></es-info-message>
      } @if (!isValid()) {
      <es-info-message
        mode="warning"
        message="{{ 'PERMISSIONS.DELETE.STATE.NON_CONFORM' | translate }}"
      ></es-info-message>
      }
    </div>
    @if (hasAssigning()) {
    <div class="group group-metadata">
      <h3 class="mat-heading-3 mat-heading-underline">
        {{ 'PERMISSIONS.DELETE.METADATA.CAPTION' | translate }}
      </h3>
      <mat-checkbox [(ngModel)]="options.cleanupMetadata">{{
        'PERMISSIONS.DELETE.METADATA.DELETE' | translate
      }}</mat-checkbox>
      <mat-hint>{{ 'PERMISSIONS.DELETE.METADATA.HINT' | translate }}</mat-hint>
    </div>
    }
    <div class="group group-interactions">
      <h3 class="mat-heading-3 mat-heading-underline">
        {{ 'PERMISSIONS.DELETE.USER_INTERACTIONS.CAPTION' | translate }}
      </h3>
      <mat-checkbox [(ngModel)]="options.stream.delete">{{
        'PERMISSIONS.DELETE.USER_INTERACTIONS.STREAM' | translate
      }}</mat-checkbox>
      <mat-hint>{{ 'PERMISSIONS.DELETE.USER_INTERACTIONS.STREAM_HINT' | translate }}</mat-hint>
      <mat-checkbox [(ngModel)]="options.comments.delete">{{
        'PERMISSIONS.DELETE.USER_INTERACTIONS.COMMENTS' | translate
      }}</mat-checkbox>
      <mat-hint>{{ 'PERMISSIONS.DELETE.USER_INTERACTIONS.COMMENTS_HINT' | translate }}</mat-hint>
      <mat-checkbox [(ngModel)]="options.ratings.delete">{{
        'PERMISSIONS.DELETE.USER_INTERACTIONS.RATINGS' | translate
      }}</mat-checkbox>
      <mat-hint>{{ 'PERMISSIONS.DELETE.USER_INTERACTIONS.RATINGS_HINT' | translate }}</mat-hint>
      <mat-checkbox [(ngModel)]="options.collectionFeedback.delete">{{
        'PERMISSIONS.DELETE.USER_INTERACTIONS.COLLECTION_FEEDBACK' | translate
      }}</mat-checkbox>
      <mat-hint>{{
        'PERMISSIONS.DELETE.USER_INTERACTIONS.COLLECTION_FEEDBACK_HINT' | translate
      }}</mat-hint>
      <mat-checkbox [(ngModel)]="options.statistics.delete">{{
        'PERMISSIONS.DELETE.USER_INTERACTIONS.STATISTICS' | translate
      }}</mat-checkbox>
      <mat-hint>{{ 'PERMISSIONS.DELETE.USER_INTERACTIONS.STATISTICS_HINT' | translate }}</mat-hint>
      <es-info-message
        class="info-delete-assigning"
        mode="info"
        message="{{ 'PERMISSIONS.DELETE.STATE.ASSIGNING_DELETED_USER' | translate }}"
      ></es-info-message>
    </div>
    }
  </div>
  } @if (!usersDataSource.isLoading) {
  <div class="group group-buttons">
    <button
      mat-flat-button
      color="primary"
      [disabled]="(canSubmit$ | async) === false"
      (click)="prepareStart()"
    >
      {{ 'PERMISSIONS.DELETE.START' | translate }}
    </button>
  </div>
  }
</div>
