@import '../../../core-ui-module/styles/variables';
.wrapper {
    padding: 10px 30px;
    .info-wrapper {
        padding: 0 10%;
        es-info-message {
            margin: 10px 10%;
        }
    }
    .user-list {
        min-height: 200px;
        max-height: 35vh;
        overflow-y: auto;
    }
    .group {
        padding: 10px 20px;
        &.group-jobs {
            > mat-form-field {
                padding: 30px 20px;
                width: 100%;
                max-width: 800px;
            }
        }
    }
    .group-interactions,
    .group-metadata {
        display: flex;
        flex-direction: column;
        mat-checkbox {
            margin-bottom: -8px;
        }
        .info-delete-assigning {
            padding-top: 15px;
        }
        > mat-hint {
            padding-left: 46px;
            padding-bottom: 2px;
            font-size: 90%;
        }
    }
    .side-by-side {
        display: flex;
        flex-wrap: wrap;
        > div {
            width: 0;
            flex-grow: 1;
            es-info-message {
                display: flex;
                padding: 10px;
            }
        }
    }
    .structure,
    .move {
        display: table;
        margin: 10px auto 0 auto;
    }
    .assigning {
        margin: 20px 20% 0 20%;
    }
    mat-radio-group {
        display: flex;
        flex-direction: column;
        mat-radio-button {
            margin: -5px 0;
        }
    }
}
.card-result {
    height: 100%;
    display: flex;
    flex-direction: column;
    textarea {
        flex-grow: 1;
        padding: $cardPadding;
    }
    mat-hint {
        padding: $cardPadding;
    }
}
