@if (showSuggestions) {
<div class="dialog" (click)="showSuggestions = false"></div>
}
<div class="form-group edusharing-autocomplete-wrapper">
  <form (ngSubmit)="addValue()">
    <mat-form-field>
      <input
        matInput
        name="valueInput"
        class="searchInput"
        [(ngModel)]="valueInput"
        (ngModelChange)="updateValue()"
        (keyup.enter)="addValue()"
        [disabled]="disabled"
        placeholder="{{ placeholder | translate }}"
        title="{{ placeholder | translate }}"
        autocomplete="off"
      />
      @if (hintBottom) {
      <mat-hint>{{ hintBottom | translate }}</mat-hint>
      }
    </mat-form-field>
  </form>
  @if (showSuggestions) {
  <ul class="suggestbox">
    @for (suggestion of _suggestions; track suggestion) {
    <li>
      <a
        (click)="handleSuggestClick(suggestion)"
        [class.activeItem]="activeItem === suggestion.index"
        title="{{ 'SUGGESTION' | translate }} {{ suggestion.title }}"
      >
        @if (contentRef) {
        <div>
          <ng-container
            *ngTemplateOutlet="contentRef; context: { suggestion: suggestion }"
          ></ng-container>
        </div>
        } @if (!contentRef) {
        <div>
          @if (suggestion.materialIcon) {
          <span class="material-icons">{{ suggestion.materialIcon }}</span>
          }
          <ng-container
            *ngTemplateOutlet="iconRef; context: { suggestion: suggestion }"
          ></ng-container>
          <span class="data">
            <span class="primary">{{ suggestion.title }}</span>
            @if (suggestion.secondaryTitle) {
            <span class="secondary">{{ suggestion.secondaryTitle }}</span>
            }
          </span>
          <ng-container
            *ngTemplateOutlet="suggestRef; context: { suggestion: suggestion }"
          ></ng-container>
        </div>
        }
      </a>
    </li>
    }
  </ul>
  } @for (item of chosen; track item) {
  <div
    role="button"
    tabindex="0"
    title="{{ 'FILTER' | translate }} {{ placeholder }}. {{ 'VALUE' | translate }} {{
      item.title
    }}. {{ 'CLICKTOREMOVE' | translate }}."
    class="badge clickable"
    (keyup.enter)="removeValue(item)"
    (click)="removeValue(item)"
  >
    <span>{{ item.title }}</span
    ><i class="material-icons">cancel</i>
  </div>
  }
</div>
