@import '../../../core-ui-module/styles/variables';

.card-content-padding {
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        mat-form-field, es-node-search-selector {
            width: 100%;
        }
    }
    .relation-result {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 15px;
        background-color: $cardLightBackground;
        .relation-details {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 10px 0;
            > span {
                padding: 0 5px;
            }
            > i {
                transform: rotate(90deg);
            }
        }
        > es-node-row {
            width: 100%;
        }
    }
    .actions {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        width: 100%;
        justify-content: flex-end;
        padding-top: 10px;
    }
    .relations-none {
        font-size: 110%;
        padding: 20px 0;
        color: $textLight;
        text-align: center;
    }
    .relations-group {
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(auto-fit, 1fr);
        .relation-nodes {
            background-color: $cardLightBackground;
            margin: 10px 0;
            padding: 5px 10px;
            .relation-node {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-gap: 10px;
                align-items: center;
            }
        }
    }
}
.info-group {
    display: flex;
    flex-direction: column;
    label {
        font-size: $fontSizeXSmall;
        color: $textLight;
    }
}
