@import "../../../../styles/variables.scss";

.calendar{
 position: relative;
 display: flex;
}
.reset{
 position: absolute;
 top:14px;
 right:0;
 color:$textLight;
 margin-left: 15px;
}
.picker{
 position: absolute;
 z-index: $dialogZIndex+1;
 background-color: #fff;
 padding: 5px;
 width: 250px;
 @include materialShadowMediumLarge();
 mat-calendar{
  width: 100%;
 }
}