@if (avatar) {
<div class="card-dialog-avatar">
  @if (avatar.kind === 'icon') {
  <i [esIcon]="avatar.icon"></i>
  } @if (avatar.kind === 'image') {
  <img [src]="avatar.url" alt="" esImageConfig />
  } @if (avatar.kind === 'node') {
  <es-node-type-badge [node]="avatar.node" />
  }
</div>
}

<div class="card-dialog-header-text">
  <p id="card-dialog-title-{{ id }}" class="card-dialog-title">{{ title }}</p>
  @if (subtitle) {
  <p id="card-dialog-subtitle-{{ id }}" class="card-dialog-subtitle">
    {{ subtitle }}
  </p>
  }
</div>

@if (additionalContent) {
<div class="additional-content">
  <ng-container [ngTemplateOutlet]="additionalContent"></ng-container>
</div>
} @if (showCloseButton) {
<div class="card-dialog-close-button-box">
  <button
    class="card-dialog-close-button"
    mat-icon-button
    [disabled]="disableCloseButton"
    (click)="onClose()"
  >
    <i esIcon="close" [aria]="true"></i>
  </button>
</div>
}
