@import '../../../../../core-ui-module/styles/variables';
@import '../../../../../shared/components/card/variables';

:host {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    flex-shrink: 0;
    background-color: $actionDialogBackground;
    border-bottom: solid 1px $cardSeparatorLineColor;
    display: flex;
    align-items: center;
    height: $titleHeight;

    @media screen and (max-width: 599.9px) {
        display: grid;
        grid-template-columns: auto 1fr auto;
        height: auto;
        .card-dialog-header-text {
            grid-column: 2;
        }
        .additional-content {
            grid-row: 2;
            grid-column: 1 / 4;
            margin: 0 10px 10px;
            justify-content: center;
        }
    }
}

.additional-content {
    display: flex;
    margin: 0 10px;
}

.card-dialog-avatar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17px;
    background-color: #fff;
    height: 46px;
    width: 46px;
    border-radius: 50px;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%);
    img {
        width: 24px;
        height: 24px;
    }
    i {
        color: $primary;
    }
}

.card-dialog-header-text {
    flex-grow: 1;
    min-width: 0;
    margin-left: 16px;
    &:last-child {
        margin-right: 16px;
    }

    .card-dialog-title,
    .card-dialog-subtitle {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-dialog-title {
        color: $textMain;
        font-size: 130%;
    }
    .card-dialog-subtitle {
        color: $textLight;
        margin-top: 4px;
    }
}

.card-dialog-close-button-box {
    flex-shrink: 0;
    height: $titleHeight;
    width: $titleHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-dialog-close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        // We use a standard icon button, which has a width and height of 40px, for aesthetic
        // reasons, but we widen the clickable area to cover the complete square.
        &::before {
            content: '';
            position: absolute;
            height: $titleHeight;
            width: $titleHeight;
        }
    }
}
