@if (!connector.mdsGroup) {
<form>
  <mat-form-field>
    <mat-label>{{ 'CONNECTOR.' + connector.id + '.PLACEHOLDER' | translate }}</mat-label>
    <input matInput type="text" #input [(ngModel)]="name" name="filename" autofocus />
  </mat-form-field>
  <mat-form-field [class.hide]="connector.filetypes.length === 1">
    <mat-label>{{ 'CONNECTOR_FORMAT_LABEL' | translate }}</mat-label>
    <mat-select [(ngModel)]="type" name="filetype" [disabled]="connector.filetypes.length === 1">
      @for (filetype of connector.filetypes; track filetype; let i = $index) {
      <mat-option [value]="i">
        {{
          'CONNECTOR.MIMETYPE.' +
            (filetype.mimetype === 'application/zip'
              ? filetype.ccressourcetype +
                (filetype.ccressourceversion
                  ? '_' + filetype.ccressourceversion + '_' + filetype.ccresourcesubtype
                  : '')
              : filetype.mimetype) | translate
        }}</mat-option
      >
      }
    </mat-select>
  </mat-form-field>
</form>
} @if (connector.mdsGroup) {
<es-mds-editor-wrapper
  editorMode="form"
  [groupId]="connector.mdsGroup"
  [currentValues]="data.data || {}"
  [embedded]="true"
></es-mds-editor-wrapper>
} @if (name.trim() && !connector.mdsGroup) {
<div class="name">
  {{ 'CONNECTOR.' + connector.id + '.FILENAME' | translate }}: {{ name }}.{{ getType().filetype }}
</div>
}
