@import '../../../../core-ui-module/styles/variables';

mat-form-field {
    width: 100%;
}
:host ::ng-deep {
    es-mds-editor-view {
        .content {
            padding-left: $cardPadding;
            padding-right: $cardPadding;
        }
    }
}
