@import "../../core-ui-module/styles/variables";

/*
table, div {
   font-family: open_sansregular;
   font-size: 14px;
}
*/
.tabs{
  max-width:1200px;
}
.tab-group{
  margin-bottom:0;
  position:fixed;
  top:$mainnavHeight;
  width:100%;
  z-index: 15;
}
.collectionsContainer{
  width:100%;
  position:absolute;
  top: $mainnavHeight;
}
.collectionsContainerTabs{
  top: $mainnavHeight+48px;
}
.collection-new-preview-headline{
  word-break: normal;
  overflow-wrap: break-word;
}
.switchToSearch{
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
}

.switchToSearch i{
  position: relative;
  top:6px;
}

.collections-cards-div {
    clear: left;
    width: 100%;
    margin-top: 8px;
}

.table-tab {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
    padding-bottom: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
    color: $primary;
    cursor: pointer;
}

.table-tab-selected {
    vertical-align: bottom;
    padding: 10px;
    padding-bottom: 3px;
    background-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
}

.section-headline {
    color: #5F5F5F;
    padding: 20px 15px 20px;
}

.collections-breadcrumb {
    margin-top: 10px;
    padding: 8px;
}

.coll-breadcrumb {
    display: inline;
    color: black;
    margin-left: 2px;
}

.coll-breadcrumb-clickable {
    color: $primary;
    cursor: pointer;
}

.collections-master-div {
    padding:20px 10% 20px 15%;
    float: left;
    width: 100%;
}

.collections-header-textarea {
  position: relative;
  padding: 20px;
}

.collections-header-texttop {
    text-align: left;
}
.noAddPermissions{
  color: $textLight;
  padding-top: 10px;
}
.collection-new-preview-infoarea {
    min-height: 120px;
    padding: 16px;
    color: white;
}
.card-image-icon-circle{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  @include unselectableText();
  >i{
    font-size: 75px;
    margin-top: 25px;
  }
}
.collection-header-image{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection-new-preview-headline {
  font-size: 180%;
  padding-bottom: 15px;
}

.collection-new-preview-subline {
  //font-size: 120%;
  opacity: 0.85;
}

.collection-new-preview-infoline {
  opacity: 0.85;
  margin-top: 16px;
  margin-left: -2px;
  margin-bottom: 4px;
}

.collection-nocontent-container {
  text-align: left;
  float:left;
  width: 100%;
}

.collection-nocontent-big {
    font-size: 150%;
    padding:16px;
    padding-top: 8px;
    padding-left: 0px;
    width:100%;
}

.collection-nocontent-small {
    padding:16px;
    padding-top: 0px;
    padding-left: 0px;
}

.icon-bottom {
    vertical-align: bottom;
}

.dialog-basic-area {
    padding:16px;
    padding-bottom:8px;
}

.dialog-dark-area {
    padding:16px;
    padding-bottom:8px;
    background: #EFEFEF;
}

.button-area {
    text-align: right;
}

.dialog-input {
    width: 90%;
    height: 25px;
    padding: 4px;
}

.card-collection-image-container {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 200px;
    color: white;
}

.card-image-icon-container {
    position: relative;
    height: 210px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-edit-button{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 50%;
  //background: #ff000042;
}
.collection-option{
  position: absolute;
  top: -40px;
  right: 10px;
  z-index: 1;
}

.collections-header  {
    background-color: $primary;
    color: #fff;
    left: 0;
    height: 110%;
    width: 250px;
    position: fixed;
    //overflow-y: auto;
    top:$mainnavHeight;
}
.dark-color{
  color: #000;
}
.collections-master-div-notabs {
    padding-left:285px;
    padding-right: 16px;
}

.table-tab-title-short {
    display: none;
}
.collections-cards-div{
  display: flex;
  flex-direction: column;
  >* {
    width: 100%;
  }
}
.section-headline {
  float:left;
  width:100%;
  > div {
    float: left;
  }
  .custom-order {
    padding-left: 10px;
  }
  .actionbarMaterials{
    position: absolute;
    right:20px;
    margin-top: -5px;
  }
}
:host /deep/{
  footer{
    float:left;
    width:100%;
  }
}
.breadcrumb-space{
  padding: 20px 50px;
  padding-bottom: 0;
  background: #fff;
  margin-top: -40px;
  margin-left: -40px;
  margin-right: -16px;
  @include materialShadow();
}
@media only screen and (max-width: $mobileWidth+$mobileStage*3) {
    .table-tab-title-long {
        display: none!important;
    }
    .tabs > li{
      width:auto;
    }
    .table-tab-title-short {
      display: flex!important;
      align-items: center;
      justify-content: center;
        >span{
          display:none;
        }
      &.active > span{
        display:flex;
      }
      >i{
        display: flex;
      }
    }
}
@media all and (max-width: ($cardWidth*3)) {
  :host /deep/ .cardSmallList{
    width:calc(100% - 10px)!important;
  }
}

@media screen and (max-width: ($mobileTabSwitchWidth)){
  .switchToSearch{
    display: none;
  }
}
@media only screen and (max-width: $mobileWidth) {
    :host /deep/{
      .collections-master-div-notabs .subcollections{
        margin-top: 240px+$mainnavHeight;
      }
    }
  .collection-new-preview-headline{
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /*line-height: 1em;*/
    //max-height: 1.5em;
    text-align: center;
    overflow: hidden;
  }
  .card-image-icon-container{
    margin-top: $mainnavHeight;
  }
  .breadcrumb-space{
    background: transparent;
    padding:0;
    margin-top: 0;
  }
    .collections-breadcrumb{
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      z-index: 1;
      background: rgba(255, 255, 255, .7);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      height: 65px;
      padding-top: 22px;
      padding-bottom: 20px;
      padding-right: 50px;
    }
    .collection-new-preview-infoline,.collection-description{
      display: none;
    }
    .collections-master-div-notabs{
      margin-top:0;
    }

    .collections-header {
        margin-top: 0;
        top: unset;
        left: unset;
        height: unset;
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    .collections-header-texttop {
        display: flex;
        justify-content: center;
    }

    .table-tab-middle {
        width: unset;
    }

    .collections-master-div {
        padding-left: 20px;
        padding-right: 20px;
    }

    .collections-master-div-notabs {
        min-width: unset;
    }
    .card-collection-image-container {
        height: 200px;
    }

    .collections-header-detailview {
        display: none;
    }
    .tab-group{
      max-width:1000px;
    }
}
@media only screen and (max-width: $mobileTabSwitchWidth) {
  .collectionsContainer{
    margin-bottom: $mobileTabNavHeight;
  }
}