@import '../../core-ui-module/styles/variables';
@import '../../core-ui-module/styles/mixins';
$sidenavWidth: 250px;
/*
table, div {
   font-family: open_sansregular;
   font-size: 14px;
}
*/
mat-tab-group {
    margin-bottom: 0;
    position: fixed;
    top: $mainnavHeight;
    width: 100%;
    z-index: 15;
}
.collectionsContainer {
    width: 100%;
    display: grid;
    // Do not set `overflow: hidden` as this would inhibit the `position: sticky` property of the
    // actionbar.
    grid-template-columns: $sidenavWidth auto;
    position: relative;
    // Use `margin-top` instead of `top` to not create a negative position offset at the bottom of
    // the container, which could be overlapped by a custom footer.
    margin-top: $mainnavHeight;
    min-height: calc(100vh - #{$mainnavHeight});

    &.collectionsContainerTabs {
        margin-top: $mainnavHeight + 48px;
    }

    es-collection-content {
        display: block;
        padding-top: 30px;
    }

    &.collectionsContainerNoSidebar {
        padding: 0 10%;
        grid-template-columns: auto;
    }
}
.switchToSearch {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-top: 15px;
}

.table-tab {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
    padding-bottom: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
    color: $primary;
    cursor: pointer;
}

.table-tab-selected {
    vertical-align: bottom;
    padding: 10px;
    padding-bottom: 3px;
    background-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
}

section {
    padding: 20px 0px;
}

.coll-breadcrumb {
    display: inline;
    color: black;
    margin-left: 2px;
}

.coll-breadcrumb-clickable {
    color: $primary;
    cursor: pointer;
}

.collections-master-div {
    width: 100%;
}
.noAddPermissions {
    color: $textLight;
    padding-top: 10px;
}
.collection-header-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-bottom {
    vertical-align: bottom;
}

.dialog-basic-area {
    padding: 16px;
    padding-bottom: 8px;
}

.dialog-dark-area {
    padding: 16px;
    padding-bottom: 8px;
    background: #efefef;
}

.button-area {
    text-align: right;
}

.dialog-input {
    width: 90%;
    height: 25px;
    padding: 4px;
}
.collections-master-div-notabs {
    padding: 0 35px;
}

.table-tab-title-short {
    display: none;
}
.content-header {
    display: flex;
    width: 100%;
    > .actionbarMaterials {
        margin-right: 20px;
    }
}
:host ::ng-deep {
    footer {
        float: left;
        width: 100%;
    }
    es-collection-content {
        .actionbarMaterials {
            position: sticky;
            top: $mainnavHeight;
            z-index: 2;
            background-color: $backgroundColor;
        }
    }
}
.breadcrumb-space {
    padding: 15px 30px;
    background: #fff;
    @include materialShadow();
}

@media only screen and (max-width: $mobileWidth+$mobileStage*3) {
    :host ::ng-deep {
        .tab-label {
            display: none;
        }
        .mat-tab-label-active .tab-label {
            display: flex;
        }
    }
}
@media all and (max-width: ($cardWidth*3)) {
    :host ::ng-deep .cardSmallList {
        width: calc(100% - 10px) !important;
    }
}

@media screen and (max-width: ($mobileTabSwitchWidth)) {
    .switchToSearch {
        display: none;
    }
}
@media only screen and (max-width: $mobileWidth) {
    .collection-new-preview-headline {
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        /*line-height: 1em;*/
        //max-height: 1.5em;
        text-align: center;
        overflow: hidden;
    }
    .collectionsContainer {
        grid-template-columns: auto;
    }
    .card-image-icon-container {
        margin-top: 20px;
    }
    .breadcrumb-space {
        background: transparent;
        padding: 0;
        margin-top: 0;
    }
    .collections-breadcrumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        height: 65px;
        padding-top: 22px;
        padding-bottom: 20px;
        padding-right: 50px;
        margin: 0;
    }
    .collection-new-preview-infoline,
    .collection-description,
    .collection-permissions {
        display: none !important;
    }
    .collections-master-div-notabs {
        margin-top: 0;
    }

    .collections-header {
        margin-top: 0;
        width: 100%;
        // Handle negative margin of `mds-editor-widget-container`.
        overflow: hidden;
    }

    .collections-header-texttop {
        display: flex;
        justify-content: center;
    }

    .table-tab-middle {
        width: unset;
    }

    .collections-master-div {
        padding-left: 20px;
        padding-right: 20px;
    }

    .collections-master-div-notabs {
        min-width: unset;
    }
    .card-collection-image-container {
        height: 200px;
    }

    .collections-header-detailview {
        display: none;
    }
    .tab-group {
        max-width: 1000px;
    }
}
@media only screen and (max-width: $mobileTabSwitchWidth) {
    .collectionsContainer {
        margin-bottom: $mobileTabNavHeight;
    }
}
