@import '../../core-ui-module/styles/variables';
@import '../../core-ui-module/styles/mixins';
$sidenavWidth: 250px;

/*
table, div {
   font-family: open_sansregular;
   font-size: 14px;
}
*/
mat-tab-group {
    margin-bottom: 0;
    position: fixed;
    top: $mainnavHeight;
    width: 100%;
    z-index: 15;
}
.collectionsContainer {
    width: 100%;
    position: absolute;
    top: $mainnavHeight;
}
.collectionsContainerTabs {
    top: $mainnavHeight + 48px;
}
.collection-new-preview-headline {
    word-break: normal;
    overflow-wrap: break-word;
}
.switchToSearch {
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
}

.switchToSearch i {
    position: relative;
    top: 6px;
}

.table-tab {
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
    padding-bottom: 3px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
    color: $primary;
    cursor: pointer;
}

.table-tab-selected {
    vertical-align: bottom;
    padding: 10px;
    padding-bottom: 3px;
    background-color: white;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: $primary;
}

section {
    padding: 20px 0px;
}

.collections-breadcrumb {
    margin-top: 10px;
}

.coll-breadcrumb {
    display: inline;
    color: black;
    margin-left: 2px;
}

.coll-breadcrumb-clickable {
    color: $primary;
    cursor: pointer;
}

.collections-master-div {
    padding: 0 10% 20px 15%;
    width: 100%;
}

.collections-header-textarea {
    position: relative;
    padding: 50px 20px 30px 20px;
}

.collections-header-texttop {
    text-align: left;
}
.noAddPermissions {
    color: $textLight;
    padding-top: 10px;
}
.collection-new-preview-infoarea {
    min-height: 120px;
    padding: 16px;
    color: white;
}
.card-image-icon-circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.1);
    @include unselectableText();
    > i {
        color:#fff;
        font-size: 45px;
        margin-top: 25px;
    }
}
.collection-header-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection-new-preview-headline {
    font-size: 150%;
    padding-bottom: 15px;
}

.collection-new-preview-subline {
    //font-size: 120%;
    opacity: 0.85;
}

.collection-new-preview-infoline {
    display: flex;
    align-items: center;
    opacity: 0.85;
    margin-top: 16px;
    margin-left: -2px;
    margin-bottom: 4px;
}

.collection-nocontent-container {
    text-align: left;
    float: left;
    width: 100%;
}

.collection-nocontent-big {
    font-size: 150%;
    padding: 16px;
    padding-top: 8px;
    padding-left: 0px;
    width: 100%;
}

.collection-nocontent-small {
    padding: 16px;
    padding-top: 0px;
    padding-left: 0px;
}

.icon-bottom {
    vertical-align: bottom;
}

.dialog-basic-area {
    padding: 16px;
    padding-bottom: 8px;
}

.dialog-dark-area {
    padding: 16px;
    padding-bottom: 8px;
    background: #efefef;
}

.button-area {
    text-align: right;
}

.dialog-input {
    width: 90%;
    height: 25px;
    padding: 4px;
}

.card-collection-image-container {
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 200px;
    color: white;
}

.card-image-icon-container {
    position: relative;
    height: 210px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-edit-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    //background: #ff000042;
}
.collection-option {
    position: absolute;
    top: -20px;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.collections-header {
    background-color: $primary;
    color: #fff;
    left: 0;
    height: calc(100vh - #{$mainnavHeight});
    width: $sidenavWidth;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: $mainnavHeight;
    float: left;
    z-index: 1;
}
.dark-color {
    color: #000;
}
.collections-master-div-notabs {
    padding-left: 285px; // 250px sidebar + 35px
    padding-right: 35px;
}

.table-tab-title-short {
    display: none;
}
.collections-cards-div {
    display: flex;
    flex-direction: column;
}
.content-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 1.46rem; // Same as mat-heading-3
    > h3.mat-heading-3 {
        flex-grow: 1;
        margin-top: 0;
        margin-right: 10px;
    }
    > .actionbarMaterials {
        margin-top: -5px;
        margin-right: -5px;
    }
}
:host ::ng-deep {
    footer {
        float: left;
        width: 100%;
    }
}
.breadcrumb-space {
    padding: 15px 30px;
    background: #fff;
    margin-left: -35px;
    margin-right: -35px;
    @include materialShadow();
}
.collections-header-textarea{
    background-color: rgba(0,0,0,0.1);
    .collection-label{
        margin-top:16px;
        opacity:0.85;
    }
    .collection-content{
        margin-top:5px;
    }
    .collection-permissions.collection-content{
        display: flex;
        flex-direction: column;
        > div{
            display: flex;
            align-items: center;
            padding:3px 0;
            >user-avatar{
                height: 24px;
                margin-right: 7px;
            }
            >span{
                @include limitLineCount(2, 1.25);
            }
        }
    }
}
.tab-icon{
    margin-right: 5px;
}
@media only screen and (max-width: $mobileWidth+$mobileStage*3) {
    :host ::ng-deep {
        .tab-label {
            display: none;
        }
        .mat-tab-label-active .tab-label{
            display: flex;
        }
    }
}
@media all and (max-width: ($cardWidth*3)) {
    :host ::ng-deep .cardSmallList {
        width: calc(100% - 10px) !important;
    }
}

@media screen and (max-width: ($mobileTabSwitchWidth)) {
    .switchToSearch {
        display: none;
    }
}
@media only screen and (max-width: $mobileWidth) {
    :host ::ng-deep {
        .collections-master-div-notabs {
            padding-top: 240px + $mainnavHeight;
        }
    }
    .collection-new-preview-headline {
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        /*line-height: 1em;*/
        //max-height: 1.5em;
        text-align: center;
        overflow: hidden;
    }
    .card-image-icon-container {
        margin-top: $mainnavHeight;
    }
    .breadcrumb-space {
        background: transparent;
        padding: 0;
        margin-top: 0;
    }
    .collections-breadcrumb {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        z-index: 1;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        height: 65px;
        padding-top: 22px;
        padding-bottom: 20px;
        padding-right: 50px;
    }
    .collection-new-preview-infoline,
    .collection-description,
    .collection-permissions {
        display: none !important;
    }
    .collections-master-div-notabs {
        margin-top: 0;
    }

    .collections-header {
        margin-top: 0;
        top: unset;
        left: unset;
        height: unset;
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    .collections-header-texttop {
        display: flex;
        justify-content: center;
    }

    .table-tab-middle {
        width: unset;
    }

    .collections-master-div {
        padding-left: 20px;
        padding-right: 20px;
    }

    .collections-master-div-notabs {
        min-width: unset;
    }
    .card-collection-image-container {
        height: 200px;
    }

    .collections-header-detailview {
        display: none;
    }
    .tab-group {
        max-width: 1000px;
    }
}
@media only screen and (max-width: $mobileTabSwitchWidth) {
    .collectionsContainer {
        margin-bottom: $mobileTabNavHeight;
    }
}
