<es-tutorial
  [element]="tutorialElement"
  [heading]="'COLLECTIONS.TUTORIAL_HEADING'"
  [description]="'COLLECTIONS.TUTORIAL_DESCRIPTION'"
  [showSkip]="false"
></es-tutorial>
<es-infobar
  [title]="infoTitle"
  [message]="infoMessage"
  [buttons]="infoButtons"
  [isCancelable]="true"
  (onCancel)="infoClose()"
></es-infobar>
<mat-tab-group
  role="navigation"
  [attr.aria-label]="'NAV.COLLECTIONS' | translate"
  mat-stretch-tabs
  [color]="$any('dark')"
  [(selectedIndex)]="tabSelectedIndex"
  *ngIf="showTabs()"
  class="scrollWithBanner"
>
  <mat-tab *ngIf="!isGuest">
    <ng-template mat-tab-label>
      <i esIcon="person" class="tab-icon"></i>
      <span class="tab-label">{{ 'COLLECTIONS.TAB.MY' | translate }}</span>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="!isGuest" label="{{ 'COLLECTIONS.TAB.EDU_GROUPS' | translate }}">
    <ng-template mat-tab-label>
      <i esIcon="group" class="tab-icon"></i>
      <span class="tab-label">{{ 'COLLECTIONS.TAB.EDU_GROUPS' | translate }}</span>
    </ng-template>
  </mat-tab>
  <mat-tab
    *ngIf="hasEditorial">
    <ng-template mat-tab-label>
      <i esIcon="star" class="tab-icon"></i>
      <span class="tab-label">{{ 'COLLECTIONS.TAB.TYPE_EDITORIAL' | translate }}</span>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="hasMediacenter">
    <ng-template mat-tab-label>
      <i esIcon="business" class="tab-icon"></i>
      <span class="tab-label">{{ 'COLLECTIONS.TAB.TYPE_MEDIA_CENTER' | translate }}</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="language" class="tab-icon"></i>
      <span class="tab-label">{{ 'COLLECTIONS.TAB.EDU_ALL' | translate }}</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="collections-header-group">
  <es-actionbar
    *ngIf="collectionContentTemplateRef && !isRootLevelCollection()"
    #actionbarCollection
    [numberOfAlwaysVisibleOptions]="1"
    [numberOfAlwaysVisibleOptionsMobile]="1"
    appearance="round"
    [style]="'flat'"
    [dropdownPosition]="'right'"
  ></es-actionbar>
  <!-- collection header -->
  <ng-container
    [ngTemplateOutlet]="collectionContentTemplateRef ? collectionContentTemplateRef : collectionContentTemplateRefDefault"
    [ngTemplateOutletContext]="{$implicit: null, collection: collection, permissions: collectionContentRef?.permissions, isLoading: isLoading, tabSelected: tabSelected}"></ng-container>
  <ng-template #collectionContentTemplateRefDefault>
  </ng-template>
</div>

<div class="alignWithBanner"
     cdkDropListGroup
>
  <div [class.collectionsContainerTabs]="showTabs()"
       [class.collectionsContainerNoSidebar]="isRootLevelCollection() || isLoading"
       class="collectionsContainer"
  >

    <es-collection-info-bar
      #infobar
      *ngIf="!isLoading && !isRootLevelCollection() && collection"
      [collection]="collection"
      [permissions]="collectionContentRef?.permissions"
      (edit)="collectionEdit()"
    ></es-collection-info-bar>
    <!-- <div *ngIf="isLoading" class="collection-loading"><es-spinner-small></es-spinner-small></div> -->
    <div
      class="collections-right"
    >
      <section
        *ngIf="isLoading || !isReady"
        class="collections-loading-div"
        style="padding-top: 24px;text-align: center;"
      >
        <es-spinner></es-spinner>
      </section>
      <h1
        *ngIf="isRootLevelCollection()"
        esTitle
        class="cdk-visually-hidden"
      >{{ 'COLLECTIONS.TITLE' | translate }}</h1>
      <a
        *ngIf="!isLoading && isGuest"
        mat-button
        color="primary"
        class="switchToSearch"
        title="{{ 'COLLECTIONS.TO_SEARCH' | translate }}"
        tabindex="0"
        (click)="navigateToSearch()"
        [routerLink]="['/' + ROUTER_PREFIX + 'search']"
      >
        {{ 'COLLECTIONS.TO_SEARCH' | translate }}
        <i esIcon="arrow_forward"></i>
      </a>
      <ng-container
        *ngIf="collection"
      >
        <div
          role="navigation"
          [attr.aria-label]="'NAV.COLLECTIONS' | translate"
          class="breadcrumb-space"
          *ngIf="!isRootLevelCollection() && !isLoading"
        >
          <es-breadcrumbs
            class="collections-breadcrumb"
            [home]="'COLLECTIONS.TAB.' + tabSelected"
            [homeRouterLink]="{routerLink: ['.'], queryParams: { scope: tabSelected } }"
            [breadcrumbsAsNode]="path"
            [invisibleDescription]="true"
            (onDrop)="collectionContentComponent.dropOnCollection($event.target, $event.source)"
          ></es-breadcrumbs>
        </div>
        <es-collection-content
          #collectionContentComponent
          [collection]="collection"
          [infobar]="infobar"
          [scope]="getScope()"
          [isRootLevel]="isRootLevelCollection()"
          [createAllowed]="createAllowed"
          [class.collections-master-div-notabs]="!showTabs()"
        >
          <ng-template #empty>
            <ng-container *ngIf="isRootLevelCollection()">
              <ng-container *ngIf="tabSelected === 'EDU_GROUPS'">
                {{ 'COLLECTIONS.EMPTY.SHARED' | translate }}
              </ng-container>
              <ng-container *ngIf="tabSelected === 'EDU_ALL'" >
                {{ 'COLLECTIONS.EMPTY.PUBLIC' | translate }}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!isRootLevelCollection()">
              {{ 'COLLECTIONS.EMPTY.SUBCOLLECTIONS' | translate }}
            </ng-container>
          </ng-template>
        </es-collection-content>
      </ng-container>
    </div>
  </div>
  <es-footer [scope]="'collections'"></es-footer>
</div>
<ng-template #sortTool let-columns="columns" let-sortInfo="sortInfo" let-callback="callback" let-toggleCallback="toggleCallback">
  <mat-slide-toggle *ngIf="sortInfo.name === 'ccm:collection_ordered_position'" [(ngModel)]="sortInfo.customActive" (ngModelChange)="toggleCallback.emit($event)">
    {{ 'COLLECTIONS.SORT_SLIDER' | translate }}
  </mat-slide-toggle>
  <button *ngIf="sortDropdown.menu"
          [matMenuTriggerFor]="sortDropdown.menu"
          mat-button
          color="primary"
  >
    {{ ('NODE.' + sortInfo.name) | translate}}
    <i *ngIf="sortInfo.name !== 'ccm:collection_ordered_position'"
       [esIcon]="'arrow_' + (sortInfo.ascending ? 'upward' : 'downward')"></i>
  </button>
  <es-sort-dropdown
    #sortDropdown
    [columns]="columns"
    [sortBy]="sortInfo.name"
    [sortAscending]="sortInfo.ascending"
    (onSort)="callback.emit($event)"
  ></es-sort-dropdown>
</ng-template>
