<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <mirrors>
    <mirror>
      <id>edusharing-mirror</id>
      <url>https://artifacts.edu-sharing.com/repository/maven-mirror/</url>
      <mirrorOf>!edusharing-remote,*</mirrorOf>
    </mirror>
  </mirrors>
  <servers>
    <server>
      <id>edusharing-remote</id>
      <username>${env.MAVEN_REMOTE_USERNAME}</username>
      <password>${env.MAVEN_REMOTE_PASSWORD}</password>
    </server>
    <server>
      <id>edusharing-releases</id>
      <username>${env.MAVEN_DEPLOY_USERNAME}</username>
      <password>${env.MAVEN_DEPLOY_PASSWORD}</password>
    </server>
    <server>
      <id>edusharing-snapshots</id>
      <username>${env.MAVEN_DEPLOY_USERNAME}</username>
      <password>${env.MAVEN_DEPLOY_PASSWORD}</password>
    </server>
  </servers>
</settings>
