<div class="calendar">
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      readonly
      [ngModel]="getFormatted()"
      (click)="showDatepicker = !showDatepicker"
      [disabled]="disabled"
      placeholder="{{ 'CHOOSE_DATE' | translate }}"
    />
  </mat-form-field>
  @if (isResettable && date) {
  <button mat-button color="primary" class="reset" (click)="setDate(null)">
    <i esIcon="clear"></i>
  </button>
  }
  <!--<button mat-button color="primary" (click)="showDatepicker=!showDatepicker"><i esIcon="event"></i></button>-->
  @if (showDatepicker) {
  <div class="picker" [@overlay]="showDatepicker">
    <mat-calendar
      [minDate]="minDate"
      [maxDate]="maxDate"
      (selectedChange)="setDate($event)"
      [selected]="date"
    ></mat-calendar>
  </div>
  } @if (showDatepicker) {
  <div
    [@overlay]="showDatepicker"
    class="dialog picker-background"
    (click)="showDatepicker = false"
    (contextmenu)="showDatepicker = false"
  ></div>
  }
</div>
