@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;

// workaround to undo the card padding of the parent container
::ng-deep .card-content:has(.select-element-dialog) {
    padding: 0 !important;
}

.select-element-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;

    ::ng-deep .select-element-message > .block.info {
        border-radius: 0;
        border: none;
    }

    iframe {
        flex: 1;
        width: 100%;
        border: none;
    }
}
