<es-mds-editor-widget-container
  #container
  [widget]="widget"
  [label]="true"
  [valueType]="valueType"
  [control]="formArray"
  [wrapInFormField]="false"
  [showSpinner]="isInitState$ | async"
>
  <mat-form-field *ngIf="hasFilter()">
    <mat-label>{{ 'MDS.FILTER_FACET' | translate }}</mat-label>
    <input matInput [formControl]="filter" type="search" />
  </mat-form-field>
  <ul *ngIf="formArray" [formGroup]="$any(formArray)" class="checkboxes-group">
    <li *ngFor="let control of formArray.controls; let i = index">
      <mat-checkbox [formControlName]="i">
        <span class="label">
          <span
            class="caption"
            esCheckTextOverflow
            #text="esCheckTextOverflow"
            (mouseenter)="text.hasTextOverflow()"
            [matTooltip]="text.hasTextOverflow() ? getFacet(i).label : null"
            [innerHTML]="getFacet(i).label | escapeHtml | highlight : filter.value"
          ></span>
          <span class="count">{{ getFacet(i).count }}</span>
        </span>
      </mat-checkbox>
    </li>
  </ul>
  <button
    *ngIf="
      (facetAggregationSubject | async)?.hasMore && facetValuesFiltered.length < MAX_FACET_COUNT
    "
    mat-button
    color="primary"
    (click)="onLoadMore()"
    [disabled]="isLoading"
    class="load-more-button"
  >
    {{ 'LOAD_MORE' | translate }}
    <i *ngIf="!isLoading" esIcon="keyboard_arrow_down"></i>
    <es-spinner-small *ngIf="isLoading" class="spinner"></es-spinner-small>
  </button>
</es-mds-editor-widget-container>
