@import '../../../../../core-ui-module/styles/variables';

$countBackgroundColor: scale-color($backgroundColor, $lightness: -15%);

:host ::ng-deep {
    .mdc-form-field {
        width: 100%;
        .mdc-label {
            min-width: 0;
            flex-grow: 1;
        }
    }
    .mdc-checkbox {
        .mdc-checkbox-layout {
            width: 100%;
        }
    }
}

ul {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

li {
    padding: 0 4px;
    margin: -10px 0;
}

mat-checkbox {
    width: 100%;
}

.label {
    display: flex;
    width: 100%;
    align-items: center;
    .caption {
        @include limitLineCount(1);
        flex-grow: 1;
        padding-right: 10px;
        word-break: break-all;
        // white-space: nowrap;
    }
    .count {
        border-radius: 20px;
        padding: 0 6px;
        color: $textMain;
        background-color: $countBackgroundColor;
        font-weight: bold;
    }
}

.load-more-button {
    margin-top: 1em;
    .spinner {
        margin-left: 10px;
        transform: scale(0.8);
    }
}
