@import '../../../core-ui-module/styles/variables';

::ng-deep {
    .mat-notification-menu {
        width: 500px;
        max-width: 100vw !important;
    }
}
button {
    position: relative;
    .unread {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -2px;
        top: -6px;
        width: 23px;
        height: 23px;
        line-height: 1;
        font-size: $fontSizeXSmall;
        font-weight: bold;
        border-radius: 50%;
        background-color: #ad4638;
    }
}
.menu-wrapper {
    padding: 10px 20px;
    .dialog-title {
        display: flex;
        align-items: center;
        column-gap: 15px;
        > div {
            font-size: $fontSizeXLarge;
            flex-grow: 1;
        }
    }
}
