@import "../../../../styles/variables.scss";

:host /deep/ .modal-dialog-toast{
  padding: $cardPadding;
  white-space: pre-line;
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
}
