@import "../../../../styles/variables.scss";

.dialog{
  z-index: $dialogZIndex + 10;
}
.modal-dialog-toast{
  z-index: $dialogZIndex + 11;
}
:host /deep/ .modal-dialog-toast{
  .card-content p {
    white-space: pre-line;
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.4rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    h5 {
      font-size: 1.1rem;
    }
  }
}
