<es-global-progress *ngIf="visible && progressType"></es-global-progress>
<es-infobar
  *ngIf="dialogType === DialogType.Infobar"
  [title]="title"
  [message]="message"
  [messageParameters]="messageParameters"
  [buttons]="buttons"
  [isCancelable]="isCancelable"
  (onCancel)="cancel()"
>
</es-infobar>
<es-card
  *ngIf="visible && !progressType && dialogType === DialogType.ModalCard"
  title="{{ title | translate : messageParameters }}"
  (onCancel)="cancel()"
  [isCancelable]="isCancelable"
  [buttons]="buttons"
  [priority]="priority"
  [type]="cardType"
  [node]="node"
  height="auto"
>
  <div class="modal-dialog-toast">
    <span class="modal-dialog-toast-message" *ngIf="messageType === 'text'">{{
      message | translate : messageParameters
    }}</span>
    <span
      class="modal-dialog-toast-message"
      *ngIf="messageType === 'html'"
      innerHTML="{{ message | translate : messageParameters }}"
    ></span>
  </div>
  <mat-progress-bar *ngIf="progressType" [mode]="progressType"></mat-progress-bar>
</es-card>
