<div class="smallCollection" *ngIf="_collection">
  <div
    class="image"
    [class.image-icon]="_collection.preview.isIcon"
    [style.background-color]="_collection.collection.color"
  >
    <img
      [src]="_collection.preview.url + '&crop=true&width=65&height=65'"
      *ngIf="!_collection.preview.isIcon"
    />
    <div *ngIf="_collection.preview.isIcon" class="icon">
      <i class="material-icons" [style.color]="_collection.collection.color">layers</i>
    </div>
  </div>
  <div class="right">
    <div class="title" *ngIf="titleLabel">
      {{ titleLabel | translate: { title: _collection.title } }}
    </div>
    <div class="title titleMobile" *ngIf="titleLabelShort">
      {{ titleLabelShort | translate: { title: _collection.title } }}
    </div>
    <div class="title titleMobile" *ngIf="!(titleLabel && titleLabelShort)">
      {{ _collection.title }}
    </div>
    <es-list-base [node]="_collection" [item]="scopeItem"></es-list-base>
  </div>
</div>
