@import '../../../core-ui-module/styles/variables';

.smallCollection {
    display: flex;
    height: $secondaryBarHeight;
    width: 100%;
    background-color: $primary;
    .right {
        padding-left: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        color: #fff;
        .title {
            font-size: 120%;
        }
        .scope {
            display: flex;
            align-items: center;
            color: #eee;
            font-size: $fontSizeXSmall;
            > span {
                padding-left: 5px;
            }
        }
    }

    .image-icon {
        align-items: center;
        justify-content: center;
    }
    .image {
        width: $secondaryBarHeight - 5px;
        display: flex;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        img {
            height: calc(#{$secondaryBarHeight} - 5px);
            width: 100%;
        }
    }
}
.titleMobile {
    display: none;
}
:host ::ng-deep {
    es-list-collection-info {
        display: flex;
        > i {
            font-size: 18px;
        }
        > span {
            padding-left: 5px;
        }
    }
}
@media screen and (max-width: ($mobileWidth)) {
    .title {
        display: none;
    }
    .titleMobile {
        display: block;
    }
}
