@import "../../../../styles/variables.scss";

.info{
  display:table;
  width: 100%;
  .info-left,.info-right{
    display: table-cell;
  }
  .configuration-link{
    position: relative;
    margin-bottom: 20px;
  }
  .info-left{
    width:100%;
  }
  .info-right{
    position: relative;
    text-align: right;
    .switch{
      float:right;
    }
  }

}
.copyLink{
  padding-left: 10px;
}
.heading{
  font-weight: bold;
}
.link{
  background-color: $backgroundColor;
  padding: 30px 30px 10px;
  margin-left: -20px;
  margin-right: -20px;

  .link-copy{
    margin: 0;
    padding: 0 1rem;
    position: relative;
    top: 10px;
    height: 40px;
    line-height: 41px;
  }
}

.link-info,.link-downloads{
  display: block;
  width:100%;
  line-height: 1.5;
}
.link-info{
  padding: 10px 0 5px;
}
input-password{
  margin-top: 10px;
}
.link-activate{
  color: black;
}
:host /deep/{
  .datepickerShareLink .datepicker-calendar {
    margin-left: 50px;
  }
  .ngx-datepicker-container{
    z-index: 1;
  }
}
.link-title{
  margin-top: 10px;
}
.link-enabled{
  margin-top: -10px;
}

.copyLink{
  min-width: 135px;
  top: 5px;
  text-transform: uppercase;
}