@import '../../../core-ui-module/styles/variables';

$mainMenuHoverBackgroundColor: $itemSelectedBackground !default;
$mainMenuAccentColor: $primary !default;
$mainMenuSelectedBackground: linear-gradient(
        to right,
        $mainMenuAccentColor 0,
        $mainMenuAccentColor 5px,
        rgba(0, 0, 0, 0) 5px,
        rgba(0, 0, 0, 0) 5px
    )
    no-repeat;

// We cannot use `:host` here, since the `mat-menu` elements are rearranged
// outside of the original container. Hence we rely on the `.mat-dropdown-menu`
// selector to not bleed into other components.
::ng-deep .main-menu-dropdown {
    border-radius: 0px;
    .mat-mdc-menu-content {
        min-width: 250px;

        @if variable-exists(mainMenuBackgroundColor) {
            background-color: $mainMenuBackgroundColor;
        }
        .mat-menu-item {
            @if variable-exists(mainMenuForegroundColor) {
                &:not(:disabled) {
                    color: $mainMenuForegroundColor;
                    @if variable-exists(mainMenuForegroundColorIcon) {
                        > i {
                            color: $mainMenuForegroundColorIcon;
                        }
                    }
                }
            }
            &.mat-menu-item-selected {
                background: $mainMenuSelectedBackground;
            }
            &.cdk-focused {
                @if variable-exists(mainMenuBackgroundColor) {
                    background-color: $mainMenuBackgroundColor;
                }
            }
            &:hover:not([disabled]),
            &.cdk-key-focused {
                background-color: $mainMenuHoverBackgroundColor;
                @if variable-exists(mainMenuBackgroundColor) {
                    color: $mainMenuHoverForegroundColor;
                    @if variable-exists(mainMenuHoverForegroundColorIcon) {
                        > i {
                            color: $mainMenuHoverForegroundColorIcon;
                        }
                    }
                }
            }
        }
    }
}
