<div class="avatar size_{{size}}">
  <div class="avatarOuter sizable">
    <ng-container *ngIf="_user?.authorityType === 'GROUP'">
      <div *ngFor="let i of [0,1,2]" class="avatarCircle sizable avatarCircleGroup" style.border-color="{{ _user | authorityColor}}"></div>
    </ng-container>
    <img *ngIf="isEditorialUser()" class="editorial-badge" src="assets/images/editorial-badge.svg" alt="">
    <div class="avatarCircle sizable" style.border-color="{{ _user | authorityColor}}" [class.clickable]="link" (click)="link ? openProfile() : null">
      <div *ngIf="_customImage">
        <img [src]="_customImage" class="userImage sizable" alt="user image">
      </div>
      <div *ngIf="!_customImage">
        <img *ngIf="_user?.profile?.avatar && !isSafe()" [src]="_user.profile.avatar+'&crop=true&width=200&height=200'" class="userImage sizable" alt="">
        <div class="user-letter"
             style.background-color="{{ _user | authorityColor}}"
             *ngIf="!icon && _user && !(_user?.profile?.avatar && !isSafe())">{{getLetter(_user)}}</div>
        <i class="user-icon" icon [iconId]="icon" style.background-color="{{ _user | authorityColor}}" *ngIf="icon"></i>
      </div>
    </div>
  </div>
</div>
