<div class="side-menu-wrapper" [class]="'position-' + position">
  <div
    #sideMenuWrapper
    role="group"
    class="side-menu"
    [class.mobile-hidden]="mobileHidden()"
    [class.menu-hidden]="sideMenuHidden()"
    [attr.aria-label]="'TOPIC_PAGE.WIDGET.SIDE_MENU' | translate"
  >
    <ng-content select="[slot=menu]"></ng-content>
  </div>

  @if (selectedMenuItem !== '') {
  <div class="menu-content" [style.min-height.px]="sideMenuWrapper.offsetHeight + 20">
    <button mat-icon-button class="close-btn" [disabled]="closeDisabled()" (click)="closeContent()">
      <i esIcon="close" [aria]="true"></i>
    </button>
    <ng-content select="[slot=content]"></ng-content>
  </div>
  }
</div>
