<ng-container [ngSwitch]="widgetType">
  <ng-container
    *ngSwitchCase="'Custom'"
  >
    <ng-container *ngTemplateOutlet="customTemplate; context: {item, node, provideLabel, forceText}">
    </ng-container>
  </ng-container>
  <es-list-collection-info
    *ngSwitchCase="'CollectionInfo'"
    [item]="item"
    [node]="node"
    [provideLabel]="provideLabel"
  ></es-list-collection-info>
  <es-list-text
    *ngSwitchCase="'Text'"
    [item]="item"
    [node]="node"
    [provideLabel]="provideLabel"
  ></es-list-text>
  <es-list-counts
    *ngSwitchCase="'NodeCounts'"
    [item]="item"
    [node]="node"
    [provideLabel]="provideLabel"
  ></es-list-counts>
  <es-list-node-license
    *ngSwitchCase="'NodeLicense'"
    [item]="item"
    [node]="node"
    [provideLabel]="provideLabel"
  ></es-list-node-license>
  <es-list-node-replication-source
    *ngSwitchCase="'NodeReplicationSource'"
    [item]="item"
    [node]="node"
    [provideLabel]="provideLabel"
  ></es-list-node-replication-source>
  <es-list-node-workflow
    *ngSwitchCase="'NodeWorkflow'"
    [item]="item"
    [node]="node"
    [provideLabel]="provideLabel"
  ></es-list-node-workflow>
</ng-container>
