@import "../../../core-ui-module/styles/variables";

.config {
    width: 100%;
    height:100%;
    max-width: 1300px;
    padding-right: 20px;
    overflow-x: hidden;
    .actions{
        margin:10px 0;
    }
    > info-message {
        display: flex;
        padding-top: 20px;
    }
}
.config-size-medium{
    ngx-monaco-editor{
        height:200px;
        resize: vertical;
        overflow: auto;
    }
}
.size-chooser{
    >mat-label{
        padding-right: 20px;
    }
}
.config-size-large{
    ngx-monaco-editor{
        min-height:500px;
        height:calc((100vh - 220px));
    }
}
:host ::ng-deep{
    ngx-monaco-editor.globalConfig, ngx-monaco-editor.parsedConfig{
        .view-lines{
            opacity: 0.7;
        }
    }
}
