<div class="group-padding">
  <h4 class="mat-heading-4">
    <!--<i icon iconId="public"></i>-->
    {{ 'WORKSPACE.SHARE.PUBLISH_DOCUMENT' | translate }}
  </h4>
  <info-message mode="info" *ngIf="isCopy">
    {{'WORKSPACE.SHARE.PUBLISH.COPY_ACTIVE' | translate}}
  </info-message>
  <info-message mode="warning" *ngIf="!getLicense()">
    {{'WORKSPACE.SHARE.PUBLISH.NO_LICENSE' | translate}}
    <div>
      <button mat-button color="primary" (click)="openLicense()">
        <i icon iconId="arrow_forward"></i> {{'WORKSPACE.SHARE.PUBLISH.SET_LICENSE' | translate}}
      </button>
    </div>
  </info-message>
  <info-message mode="warning" *ngIf="inherited">
    {{'WORKSPACE.SHARE.PUBLISH.INHERITED' | translate}}
    <div>
      <button mat-button color="primary" (click)="onDisableInherit.emit()">
        <i icon iconId="arrow_forward"></i> {{'WORKSPACE.SHARE.PUBLISH.DISABLE_INHERIT' | translate}}
      </button>
    </div>
  </info-message>
  <mat-radio-group [(ngModel)]="shareMode" (ngModelChange)="updateShareMode()" *ngIf="!inherited">
    <mat-radio-button class="mat-radio-multiline" [value]="null" [disabled]="isCopy">
      <h4>{{'WORKSPACE.SHARE.PUBLISH.MODE_OFF' | translate}}</h4>
      <h5>{{'WORKSPACE.SHARE.PUBLISH.MODE_OFF_INFO' | translate}}</h5>
    </mat-radio-button>
    <mat-radio-button class="mat-radio-multiline" value="direct" [disabled]="isCopy">
      <h4>{{'WORKSPACE.SHARE.PUBLISH.MODE_DIRECT' | translate}}</h4>
      <h5>{{'WORKSPACE.SHARE.PUBLISH.MODE_DIRECT_INFO' | translate}}</h5>
    </mat-radio-button>
    <mat-radio-button class="mat-radio-multiline" value="copy" [disabled]="!publishCopyPermission">
      <h4>{{'WORKSPACE.SHARE.PUBLISH.MODE_COPY' | translate}}</h4>
      <h5>{{'WORKSPACE.SHARE.PUBLISH.MODE_COPY_INFO' | translate}}</h5>
    </mat-radio-button>
    <div class="published-versions-container">
      <div class="not-published" *ngIf="!publishedVersions?.length">
        <h5 class="mat-heading-5">{{'WORKSPACE.SHARE.PUBLISH.NO_VERSIONS_PUBLISHED' | translate}}</h5>
      </div>
      <div class="published-versions" *ngIf="publishedVersions?.length">
        <div class="version-republish" *ngIf="!currentVersionPublished()">
          <mat-checkbox [(ngModel)]="republish"
                        [disabled]="!publishCopyPermission"
                        class="mat-checkbox-multiline"
          >
            <h4>{{'WORKSPACE.SHARE.PUBLISH.REPUBLISH' | translate}}</h4>
            <h5>
              <span class="version-comment">{{ node | versionComment }}</span>
              <span class="version-number">({{ node['properties']['cclom:version'][0] }})</span>
            </h5>
          </mat-checkbox>
        </div>
        <h6 class="published-versions mat-heading-6">{{'WORKSPACE.SHARE.PUBLISH.VERSIONS_PUBLISHED' | translate}}</h6>
        <div *ngFor="let v of publishedVersions" class="version">
          <div class="version-group">
            <div>
              <div class="version-comment">{{ v | versionComment }}</div>
              <div class="version-number">({{ v['properties']['cclom:version'][0] }})</div>
            </div>
            <div>
              <div class="version-date">{{ v.properties['ccm:published_date_LONG'][0] | formatDate }}</div>
            </div>
          </div>
          <div *ngIf="v.properties['ccm:published_handle_id'] || true"
               class="version-handle"
               matTooltip="{{'WORKSPACE.SHARE.PUBLISH.HAS_HANDLE' | translate}}">
            <i icon iconId="vpn_key"></i>
          </div>
          <div class="version-actions">
            <button mat-button color="primary"
                    matTooltip="{{'WORKSPACE.SHARE.PUBLISH.OPEN_VERSION' | translate}}"
                    (click)="openVersion(v)"
            ><i icon iconId="open_in_new"></i></button>
          </div>
        </div>
      </div>
    </div>
  </mat-radio-group>
</div>
<div class="doi" *ngIf="doiPermission && !inherited">
  <mat-checkbox [disabled]="doiDisabled || !shareMode" [(ngModel)]="doiActive" id="doi">
    <div class="strong label">
       {{'WORKSPACE.SHARE.DOI' | translate}}
      <i icon iconId="vpn_key"></i>
    </div>
    <div class="label-secondary">{{'WORKSPACE.SHARE.DOI_INFO' | translate}}</div>
  </mat-checkbox>
</div>
