<app-mds-editor-widget-container
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="chipsControl"
>
  <mat-chip-list #chipList [formControl]="chipsControl">
    <mat-chip
      *ngFor="let value of chipsControl.value"
      [selectable]="false"
      [removable]="true"
      (removed)="remove(value)"
    >
      {{ value.displayString }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      #input
      [formControl]="inputControl"
      [matAutocomplete]="auto"
      [placeholder]="widget.definition.placeholder"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let value of filteredValues | async" [value]="value">
      {{ value.displayString }}
    </mat-option>
  </mat-autocomplete>
</app-mds-editor-widget-container>
