<app-mds-editor-widget-container
  #container
  [injectedView]="this"
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="chipsControl"
>
  <mat-chip-list
    #chipList
    [formControl]="chipsControl"
    *ngIf="chipsControl"
    [attr.aria-labelledby]="container.labelId"
  >
    <mat-chip
      *ngFor="let value of chipsControl.value"
      [selectable]="false"
      [removable]="true"
      (click)="add(value)"
      (removed)="remove(value)"
      [class.indeterminate]="(indeterminateValues$ | async)?.includes(value.key)"
      appCheckTextOverflow=".mat-chip-label"
      #text="appCheckTextOverflow"
      [matTooltip]="getTooltip(value, text.hasTextOverflow())"
    >
      <span class="mat-chip-label">{{ value.label }}</span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <div class="input-wrapper">
      <input
        #input
        #trigger="matAutocompleteTrigger"
        autocomplete="off"
        [formControl]="inputControl"
        [matAutocomplete]="auto"
        [placeholder]="chipsControl.value?.length ? null : widget.definition.placeholder"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="false"
        (matChipInputTokenEnd)="onInputTokenEnd($event)"
        (blur)="onBlurInput($event)"
      />
      <button
        mat-icon-button
        class="mat-button-select-arrow"
        *ngIf="showDropdownArrow"
        (click)="toggleAutoCompletePanel(); $event.stopPropagation()"
        [attr.aria-label]="'MDS.SHOW_OPTIONS_BUTTON' | translate"
      >
        <span class="mat-select-arrow"></span>
      </button>
    </div>
  </mat-chip-list>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
    (optionActivated)="showTooltip($any($event.option)?.tooltip)"
  >
    <mat-option
      *ngFor="let value of autocompleteValues | async"
      [value]="value"
      appCheckTextOverflow=".mat-option-text"
      #text="appCheckTextOverflow"
      #tooltip="matTooltip"
      #option="matOption"
      [matTooltip]="text.hasTextOverflow() ? value.label : null"
      [appRegisterCustomProperty]="{ key: 'tooltip', value: tooltip, object: option }"
    >
      <span [innerHTML]="value.label | sanitizeHTML | highlight: inputControl.value"></span>
    </mat-option>
  </mat-autocomplete>
</app-mds-editor-widget-container>

<!-- Load styles for mat-select-arrow. -->
<mat-select hidden style="display: none"></mat-select>
