@import "../../../../styles/variables.scss";

.fileChooserOut{
  padding:20px;
}
.card-content{
  background-color: $backgroundColor;
}
.noElements{
  text-align: center;
  color: $textLight;
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}
.breadcrumbFrame{
  float:left;
  padding:11px;
  /* padding-top:20px; */
  height: 50px;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  @include materialShadowBottom();
  input{
    border: 1px solid #eee;
    margin:0;
    padding: 0 10px;
    margin-top: -10px;
    width: calc(100% - 25px);
  }
}
.fileChooser{
  margin:0 auto;
  width:100%;
  display: flex;
  flex-direction: column;
}
:host /deep/{
  .fileChooserList{
    overflow: visible;
    width:100%;
    background:none;
    position: relative;
    top: 10px;
  }
}

/*
.card-action{
  float:right;
  padding-right:20px;
  padding-bottom:20px;
  position: absolute;
  right: 50%;
  margin-right: -$width/2;
}

@media screen and (max-width: $width + 50) {
  .card-action{
    position: relative;
    right: 0;
    margin-right: 0;
  }
  .fileChooser{
    width:100%;
  }
}
*/
