<card title="{{title | translate }}" [isCancelable]="isCancelable" [priority]="priority" [subtitle]="subtitle" width="normal" height="xxlarge"
      [buttons]="buttons"
      (onCancel)="cancel()"
>
    <div class="fileChooser">
        <breadcrumbs class="breadcrumbFrame" *ngIf="!searchMode"
                     [breadcrumbsAsNode]="path"
                     (onClick)="selectBreadcrumb($event)"
        ></breadcrumbs>
        <div *ngIf="searchMode" class="breadcrumbFrame">
            <form (ngSubmit)="search()" autocomplete="off"><input type="search" name="search" placeholder="{{'NODE_SEARCH' | translate}}" [(ngModel)]="searchQuery"></form>
        </div>
        <listTable class="listFrame" *ngIf="isLoading || list.length"
                   [nodes]="list"
                   [columns]="columns"
                   [hasIcon]="true"
                   [hasCheckbox]="false"
                   [hasHeading]="hasHeading"
                   [isClickable]="true"
                   [viewType]="viewType"
                   [icon]="icon"
                   [selectOnClick]="!_pickDirectory"
                   [isLoading]="isLoading"
                   [validatePermissions]="writeRequired ? hasWritePermissions : null"
                   [scrollWindow]="false"
                   [sortBy]="sortBy"
                   [sortAscending]="sortAscending"
                   (onSelectionChanged)="onSelection($event)"
                   [listClass]="'fileChooserList'"
                   (sortListener)="setSorting($event)"
                   (clickRow)="selectItem($event.node)"
                   (loadMore)="loadMore()"></listTable>
        <h5 class="noElements" *ngIf="!isLoading && !list.length && !searchMode">{{'NO_MORE_ELEMENTS' | translate }}</h5>
        <h5 class="noElements" *ngIf="!isLoading && !list.length && searchMode">{{'NO_MATCHES' | translate }}</h5>
    </div>
</card>

