@use '@angular/material' as mat;
@import '../../../../../core-ui-module/styles/variables';

mat-form-field {
    width: 100%;
}
.mat-chip-label {
    @include limitLineLength(200px);
}
.input-wrapper {
    display: flex;
    flex-grow: 1;
}
.suggestion-card {
    width: 100%;
    min-width: 350px;
    max-height: 500px;
    overflow: auto;
    // margin-top: -22px;
    @include mat.elevation(2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.mat-select-arrow {
    // Use the button color which respects disabled state.
    color: unset;
}
