<mat-tab-group class="tab-main-view" *ngIf="submission()">
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="search_check" class="tab-icon"></i>
      <span class="tab-label">{{ 'EDITORIAL.SIDEBAR.SUBMISSION.TAB_SUBMISSION' | translate }}</span>
    </ng-template>
    <div class="submission">
      <div class="details">
        <div class="left">
          <label>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.SUBMISSION_FROM' | translate }}</label>
          <div class="from details">{{ submission().assignee | authorityName }}</div>
          <label>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.SUBMISSION_STATE' | translate }}</label>
          <div class="state details">
            <es-list-node-assignment
              [node]="submission()"
              [item]="submissionStatus"
            ></es-list-node-assignment>
            <es-list-node-assignment
              [node]="submission()"
              [item]="validationStatus"
            ></es-list-node-assignment>
          </div>
          <ng-container *ngIf="submission().submissionDate">
            <label>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.SUBMISSION_DATE' | translate }}</label>
            <div class="details">
              <es-list-node-assignment
                [node]="submission()"
                [item]="submissionDate"
              ></es-list-node-assignment>
            </div>
          </ng-container>
          <ng-container *ngIf="submission().returnDate">
            <label>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.RETURN_DATE' | translate }}</label>
            <div class="details">
              <es-list-node-assignment
                [node]="submission()"
                [item]="returnDate"
              ></es-list-node-assignment>
            </div>
          </ng-container>
        </div>
        <es-user-avatar size="large" class="right" [user]="submission().assignee"></es-user-avatar>
      </div>
      <es-info-message *ngIf="data().submission.submissionStatus === 'NOT_STARTED'">
        {{ 'EDITORIAL.SIDEBAR.SUBMISSION.NOT_STARTED' | translate }}
      </es-info-message>
      <ng-container *ngIf="data().submission.submissionStatus !== 'NOT_STARTED'">
        <div class="submissions">
          <label>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.SUBMISSION_ATTACHMENT' | translate }}</label>
          <es-manage-assignment-submissions
            [data]="data()"
            (nodeClick)="data().submissionFileCallback($event)"
          ></es-manage-assignment-submissions>
        </div>
        <div class="feedback">
          <form [formGroup]="feedbackForm">
            <mat-form-field floatLabel="always">
              <mat-label>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.FEEDBACK' | translate }}</mat-label>
              <textarea
                matInput
                formControlName="feedback"
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="6"
              ></textarea>
            </mat-form-field>
            <mat-slide-toggle
              class="toggle-reverse show-notes"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="!!feedbackForm.get('validationNotes').value"
              [ngModel]="showValidationNotes() || !!feedbackForm.get('validationNotes').value"
              (ngModelChange)="showValidationNotes.set($event)"
            >
              {{ 'EDITORIAL.SIDEBAR.SUBMISSION.INTERNAL_NOTE_SHOW' | translate }}
            </mat-slide-toggle>
            <mat-form-field
              floatLabel="always"
              *ngIf="showValidationNotes() || !!feedbackForm.get('validationNotes').value"
            >
              <mat-label>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.INTERNAL_NOTE' | translate }}</mat-label>
              <textarea
                matInput
                formControlName="validationNotes"
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="6"
              ></textarea>
            </mat-form-field>
          </form>
        </div>
        <div class="actions">
          <button mat-button color="primary" (click)="stepElement(-1)" [disabled]="!canGoBack()">
            <i esIcon="arrow_back"></i>
            {{ 'EDITORIAL.SIDEBAR.SUBMISSION.PREVIOUS' | translate }}
          </button>
          <button
            mat-flat-button
            color="primary"
            [disabled]="data().submission.validationStatus === 'FINISHED'"
            (click)="markAsFinished()"
          >
            <i esIcon="send"></i>{{ 'EDITORIAL.SIDEBAR.SUBMISSION.SEND_BACK' | translate }}
          </button>
          <button mat-button color="primary" (click)="stepElement(+1)" [disabled]="!canGoForward()">
            <i esIcon="arrow_forward"></i>
            {{ 'EDITORIAL.SIDEBAR.SUBMISSION.NEXT' | translate }}
          </button>
        </div>
      </ng-container>
    </div>
  </mat-tab>
  <mat-tab *ngIf="data().submission.submissionStatus !== 'NOT_STARTED'">
    <ng-template mat-tab-label>
      <i esIcon="comment" class="tab-icon"></i>
      <span class="tab-label">{{ 'EDITORIAL.SIDEBAR.SUBMISSION.TAB_DISCUSSION' | translate }}</span>
    </ng-template>
    <form [formGroup]="submitFormGroup" class="comments">
      <es-comments-list
        *ngIf="submission()?.ref?.id"
        mode="view"
        text="html"
        [node]="submission()?.ref?.id"
      ></es-comments-list>
      <editor [init]="editorConfig" formControlName="submitComment"></editor>
      <button mat-flat-button color="primary" (click)="addComment()">
        {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.ADD_COMMENT' | translate }}
      </button>
    </form>
  </mat-tab>
</mat-tab-group>
