@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;
@use '../nodes-selector/nodes-selector.component' as ns;

:host ::ng-deep {
    @include ns.tabLayout2Line();
}

.submission {
    .actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    > div {
        display: flex;
        gap: 20px;
    }
    padding: 20px;
    label {
        font-size: vars.$fontSizeSmall;
    }
    .left {
        flex-grow: 1;

        .from {
            font-size: vars.$fontSizeXLarge;
            font-weight: bold;
        }
    }
    .details {
        padding-bottom: 20px;
    }
    .state {
        display: flex;
        align-items: center;
        gap: 10px;
        > span {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
    .submissions {
        padding-top: 50px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .feedback {
        padding-top: 50px;
        width: 100%;
        flex-direction: column;
        > form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            > mat-form-field {
                width: 100%;
                textarea {
                    resize: vertical;
                }
            }
        }
    }
}
.comments {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    overflow-x: hidden;
}
