<nav aria-label="breadcrumbs" class="breadcrumbs-wrapper">
  @if (clickable) {
  <!-- Full (not short) breadcrumbs -->
  <div class="breadcrumb breadcrumb-full" [attr.role]="nodes.length > 0 ? 'list' : null">
    @if (showLanding) {
    <ng-container *ngTemplateOutlet="landingBreadcrumbElement"></ng-container>
    <i aria-hidden="true" esIcon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    }
    <ng-container *ngTemplateOutlet="homeBreadcrumbElement"></ng-container>
    @if (nodes.length === 0 && showHomeNotice) {
    <i aria-hidden="true" esIcon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="home-notice">{{ 'BREADCRUMBS.YOU_ARE_HOME' | translate }}</span>
    } @for (node of nodes; track node; let index = $index; let last = $last) {
    <i aria-hidden="true" esIcon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <ng-container
      *ngTemplateOutlet="
        nodeBreadcrumbElement;
        context: { node: node, index: index, currentPos: last }
      "
    ></ng-container>
    }
  </div>
  <!-- Short breadcrumbs
    Show only the last breadcrumbs and either a back- or a home button.
    -->
  <div class="breadcrumb breadcrumb-short" [attr.role]="nodes.length > 0 ? 'list' : null">
    <!-- root / home breadcrumb -->
    @if (nodes.length <= 1) {
    <ng-container *ngTemplateOutlet="homeBreadcrumbElement"></ng-container>
    @if (nodes.length === 1) {
    <i aria-hidden="true" esIcon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    } }
    <!-- back / level-up breadcrumb -->
    @if (nodes.length > 1) {
    <ng-container
      *ngTemplateOutlet="
        nodeBreadcrumbElement;
        context: { node: nodes[nodes.length - 2], index: nodes.length - 2, inner: backInner }
      "
    ></ng-container>
    }
    <!-- breadcrumb for current node -->
    @if (nodes.length > 0) { @if (invisibleDescription) {
    <div class="cdk-visually-hidden">
      {{ 'BREADCRUMB_LOCATION_PREFIX' | translate }}
    </div>
    }
    <ng-container
      *ngTemplateOutlet="
        nodeBreadcrumbElement;
        context: { node: nodes[nodes.length - 1], index: nodes.length - 1, currentPos: true }
      "
    ></ng-container>
    }
  </div>
  }

  <!-- Read-only breadcrumbs.

  Short version works only with `short="always"`.
  -->
  @if (!clickable) {
  <div class="breadcrumb breadcrumb-readonly" [attr.role]="nodes.length > 0 ? 'list' : null">
    <span class="breadcrumb-element" [class.breadcrumb-element-active]="nodes.length === 0">
      @if (homeIcon) {
      <i class="home-icon" [esIcon]="homeIcon"></i>
      } @if (home) {
      {{ home | translate }}
      } @if (!home && !homeIcon) {
      <i class="home-icon" esIcon="home"></i>
      }
    </span>
    @if (nodes.length === 0 && showHomeNotice) {
    <i aria-hidden="true" esIcon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="home-notice">{{ 'BREADCRUMBS.IN_HOME' | translate }}</span>
    } @if (short === 'always' && nodes.length > 1) {
    <i aria-hidden="true" esIcon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="folder">...</span>
    } @for ( node of short === 'always' && nodes.length > 1 ? [nodes[nodes.length - 1]] : nodes;
    track node; let last = $last) {
    <i aria-hidden="true" esIcon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="breadcrumb-element" [class.breadcrumb-element-active]="last">{{
      node ? (node | nodeTitle : { type: preferredName }) : ''
    }}</span>
    }
  </div>
  }

  <ng-template #homeInner>
    <div class="breadcrumb-inner">
      @if (homeIcon) {
      <i [esIcon]="homeIcon" class="home-icon"></i>
      } @if (home) {
      {{ home | translate }}
      } @if (!home && !homeIcon) {
      <i esIcon="home" class="home-icon"></i>
      } @if (nodes.length < 1) {
      <i esIcon="keyboard_arrow_down" class="dropdown-icon mobile-only"></i>
      }
    </div>
  </ng-template>

  <ng-template #backInner>
    <i esIcon="keyboard_arrow_left" class="breadcrumb-arrow"></i>
  </ng-template>

  <ng-template #homeBreadcrumbElement>
    @if (homeRouterLink) {
    <div
      role="listitem"
      [esNodesDropTarget]="HOME"
      [canDropNodes]="canDropNodes"
      (nodeDropped)="onDropped($event)"
      class="breadcrumb-element"
    >
      <a
        #trigger
        [routerLink]="homeRouterLink.routerLink"
        [queryParams]="homeRouterLink.queryParams"
        [queryParamsHandling]="homeRouterLink.queryParamsHandling"
        cdkMonitorElementFocus
        class="breadcrumb-element-home"
      >
        <ng-container *ngTemplateOutlet="homeInner"></ng-container>
        <div mat-ripple [matRippleTrigger]="trigger" matRippleColor="primary"></div>
      </a>
    </div>
    } @if (!homeRouterLink) {
    <div
      role="listitem"
      [esNodesDropTarget]="HOME"
      [canDropNodes]="canDropNodes"
      (nodeDropped)="onDropped($event)"
      class="breadcrumb-element"
    >
      <button
        #trigger
        cdkMonitorElementFocus
        class="breadcrumb-element-home"
        (click)="openBreadcrumb(0)"
      >
        <ng-container *ngTemplateOutlet="homeInner"></ng-container>
        <div mat-ripple [matRippleTrigger]="trigger" matRippleColor="primary"></div>
      </button>
    </div>
    }
  </ng-template>
  <ng-template #landingBreadcrumbElement>
    <div role="listitem" class="breadcrumb-element">
      <a
        #trigger
        cdkMonitorElementFocus
        class="breadcrumb-element-landing"
        [routerLink]="'/' + ROUTER_PREFIX + 'landing'"
      >
        {{ 'EDITORIAL.BREADCRUMB.HOME' | translate }}
        <div mat-ripple [matRippleTrigger]="trigger" matRippleColor="primary"></div>
      </a>
    </div>
  </ng-template>

  <ng-template
    #nodeBreadcrumbElement
    let-node="node"
    let-index="index"
    let-inner="inner"
    let-currentPos="currentPos"
  >
    <es-node-url
      role="listitem"
      #trigger="esElementRef"
      esElementRef
      cdkMonitorSubtreeFocus
      [aria-label]="false"
      [node]="node"
      [mode]="createLink ? 'link' : 'button'"
      (buttonClick)="openBreadcrumb(index + 1)"
      [disabled]="currentPos"
    >
      <span
        [esNodesDropTarget]="node"
        [canDropNodes]="canDropNodes"
        (nodeDropped)="onDropped($event)"
        class="breadcrumb-element"
      >
        <span
          class="breadcrumb-inner"
          [class.breadcrumb-inner-active]="currentPos"
          esCheckTextOverflow
          #text="esCheckTextOverflow"
          [matTooltip]="
            text.hasTextOverflow()
              ? node
                ? (node | nodeTitle : { type: preferredName })
                : ''
              : null
          "
        >
          @if (currentPos && invisibleDescription) {
          <span class="cdk-visually-hidden">
            {{ 'BREADCRUMB_LOCATION_PREFIX' | translate }}
          </span>
          } @if (!inner) {
          {{ node ? (node | nodeTitle : { type: preferredName }) : '' }}
          } @else {
          <ng-template [ngTemplateOutlet]="inner"></ng-template>
          }
        </span>
      </span>
      <!-- <div mat-ripple [matRippleTrigger]="$any(trigger)" matRippleColor="primary"></div> -->
    </es-node-url>
  </ng-template>
</nav>
