@import '../../../core-ui-module/styles/variables';

.stars {
    display: flex;
    align-items: center;
    span {
        margin-top: 3px;
        padding-left: 8px;
    }
}
.likes {
    display: flex;
    align-items: center;
}
.mat-icon-button.mat-primary {
    color: $textLight;
    &.likes {
    }
    &.star,
    &.delete {
        min-width: unset;
        width: 18px;
        height: 18px;
        ::ng-deep {
            i {
                font-size: 17px;
            }
        }
        &.star-hover {
            color: $colorStarActive;
        }
    }
}
