<ng-container *ngIf="hasPermission && node.type === 'ccm:io'">
  <div *ngIf="mode === 'likes'" class="likes">
    <button
      (click)="toogleLike()"
      [disabled]="connector.getCurrentLogin().isGuest"
      mat-icon-button
      color="primary"
      matTooltip="{{ 'RATING.LIKES' | translate }}"
    >
      <i [esIcon]="'edu-thumb_up' + (!node.rating?.user ? '_off' : '')"></i>
    </button>
    <span matTooltip="{{ 'RATING.COUNT_LIKES' | translate }}">{{
      node.rating?.overall.count
    }}</span>
  </div>
  <div *ngIf="mode === 'stars'" class="stars" mat-icon-button color="primary">
    <button
      *ngFor="let rating of [1, 2, 3, 4, 5]"
      mat-icon-button
      color="primary"
      class="star"
      (click)="setRating(rating)"
      [disabled]="connector.getCurrentLogin().isGuest"
      (focus)="hoverStar = rating"
      (mouseenter)="hoverStar = rating"
      (mouseleave)="hoverStar = 0"
      (blur)="hoverStar = 0"
      [class.star-hover]="hoverStar >= rating"
    >
      <i
        [esIcon]="
          'star' +
          ((hoverStar ? hoverStar >= rating : getPrimaryRating() >= rating) ? '' : '_border')
        "
        matTooltip="{{ 'RATING.STARS_RATE' | translate: { rating: rating } }}"
      ></i>
    </button>
    <button
      *ngIf="!!node.rating?.user"
      mat-icon-button
      color="primary"
      class="delete"
      matTooltip="{{ 'RATING.DELETE_RATING' | translate }}"
      (click)="deleteRating()"
      [disabled]="connector.getCurrentLogin().isGuest"
    >
      <i esIcon="clear"></i>
    </button>
    <span matTooltip="{{ 'RATING.COUNT_RATINGS' | translate }}"
      >({{ node.rating?.overall.count }})</span
    >
  </div>
</ng-container>
