<div class="dialog darken" *ngIf="node.length">
<div class="card center-card">
    <div class="card-content">
        <span class="card-title">{{'RECYCLE.DELETE.CONFIRM_TITLE' | translate }}</span>
              <p>{{'RECYCLE.DELETE.CONFIRM_MESSAGE' | translate }}</p>
              <form>
              <div class="checkbox"><input name="skipDeleteConfirmation" id="skipDeleteConfirmation" class="filled-in" type="checkbox" [(ngModel)]="skipDeleteConfirmation" >
              <label for="skipDeleteConfirmation">{{'RECYCLE.DELETE.NOT_ASK_AGAIN' | translate }}</label>
                </div>
              </form>

    </div>
         <div class="card-action">
          <a class="waves-effect waves-light btn" (click)="confirm()">{{'RECYCLE.DELETE.YES' | translate }}</a>
          <a class="btn-flat" (click)="cancel()">{{'RECYCLE.DELETE.CANCEL' | translate }}</a>
         </div>
</div>
</div>
