<card title="{{'RECYCLE.DELETE.CONFIRM_TITLE' | translate }}" [node]="node" width="normal" height="auto" (onCancel)="cancel()" [buttons]="buttons">
    <div class="card-content-padding">
        <span class="card-title"></span>
          <p>{{'RECYCLE.DELETE.CONFIRM_MESSAGE' | translate }}</p>
          <form>
              <div class="checkbox">
                  <mat-checkbox name="skipDeleteConfirmation"[(ngModel)]="skipDeleteConfirmation">{{'RECYCLE.DELETE.NOT_ASK_AGAIN' | translate }}</mat-checkbox>
              </div>
          </form>
    </div>
</card>