@import "../../../../styles/variables.scss";

form{
  div{
    position: relative;
  }
  label span{
    color: $textLight;
    font-size: 9pt;
    text-transform: initial;
    font-weight: normal;
  }
  input {
    margin-bottom: 22px;
  }
  input[type="checkbox"] + label {
    height: unset;
    display: inline-block;
    margin-bottom: 15px;
  }
}
.name-input{
  div{
    display: inline-block;
    width: calc(50% - 5px);
  }
  .last-name{
    margin-left: 10px;
  }
}
.accept {
  margin-top: 5px;
}
.imprint{
  display: block;
  margin: -10px 35px 15px;
}
