@import "../../../../styles/variables.scss";

:host /deep/ {
  mat-form-field {
    width: 100%;
  }
}
form{
  div{
    position: relative;
  }
  label span{
    color: $textLight;
    font-size: 9pt;
    text-transform: initial;
    font-weight: normal;
  }
}
.accept{
  margin-top: 10px;
}
.name-input{
  mat-form-field{
    display: inline-block;
    width: calc(50% - 5px);
  }
  .last-name{
    margin-left: 10px;
  }
}
.imprint{
  display: block;
  margin: 5px 35px;
  font-size: 1rem;
}
.organization{
  margin-top: 10px;
}