<form (ngSubmit)="register()" #loginForm>
    <div class="name-input">
        <div>
            <label for="username">{{'USER.firstName' | translate}} *</label>
            <input [ngClass]="{'valid': info.firstName.trim()}" type="text" required name="username" id="username"  placeholder="{{'REGISTER.PL_USER' | translate}}" [(ngModel)]="info.firstName"/>
        </div>
        <div class="last-name">
            <label for="lastname">{{'USER.lastName' | translate}}</label>
            <input [ngClass]="{'valid': info.lastName.trim()}" type="text" name="lastname" id="lastname" placeholder="{{'REGISTER.PL_NAME' | translate}}" [(ngModel)]="info.lastName"/>
        </div>
    </div>

    <div>
        <label for="email">{{'USER.email' | translate}} *</label>
        <input required [ngClass]="{'valid': mailValid, 'invalid': !mailValid && info.email.trim()}" type="email" name="email" id="email" placeholder="{{'REGISTER.PL_MAIL' | translate}}" (keyup)="checkMail()" [(ngModel)]="info.email"/>
    </div>
    <div>
        <div *ngIf="info.password" class="strength">
            <span class='{{password_strength}}'>{{'REGISTER.PW_'+password_strength | translate}}</span>
        </div>
        <label for="password">{{'USER.password' | translate}} *</label>
        <input-password [inputClass]="password_strength == 'strong' || password_strength == 'medium' ? 'valid' : password_strength == 'accept' ? 'middle' : password_strength == 'weak' ? 'invalid' : null" id="password" required="true" (keyup)="checkPassword()" (keydown.enter)="register()" [(value)]="info.password" placeholder="{{'REGISTER.PL_PASSWORD' | translate}}"></input-password>
        <div class="input-hint-bottom">{{'REGISTER.HINT' | translate}}</div>
    </div>
    <div>
        <label for="organization">{{'REGISTER.ORGANIZATION' | translate}}</label>
        <input [ngClass]="{'valid': info.organization.trim()}" type="text" name="organization" id="organization" placeholder="{{'REGISTER.PL_ORG' | translate}} {{'REGISTER.ORGANIZATION_TITLE' | translate}}" [(ngModel)]="info.organization"/>
    </div>
</form>
<div>
    <input id="newsletter" type="checkbox" [(ngModel)]="info.allowNotifications" class="filled-in">
    <label for="newsletter">{{'REGISTER.NEWSLETTER' | translate}}</label>
</div>
<div class="accept">
    <input id="accept" type="checkbox" class="filled-in" [(ngModel)]="agree" (change)="setAccept(agree)">
    <label for="accept">{{'REGISTER.ACCEPT' | translate}}<a class="imprint" *ngIf="privacyUrl" (click)="openPrivacy()">{{'REGISTER.PRIVACY-LINK' | translate}}</a></label>
</div>