@import "../../../core-ui-module/styles/variables";

form{
  div{
    position: relative;
  }
  label span{
    color: $textLight;
    font-size: 9pt;
    text-transform: initial;
    font-weight: normal;
  }
}
.name-input{
  div{
    display: inline-block;
    width: calc(50% - 5px);
  }
  .last-name{
    margin-left: 10px;
  }
}
.imprint{
  display: block;
  margin: 5px 35px;
}