<form (ngSubmit)="register()" #loginForm>
    <div class="name-input">
        <mat-form-field>
            <mat-label>{{'USER.firstName' | translate}}</mat-label>
            <input matInput type="text" required name="username" id="username"  placeholder="{{'REGISTER.PL_USER' | translate}}" [(ngModel)]="info.firstName"/>
        </mat-form-field>
        <mat-form-field class="last-name">
            <mat-label>{{'USER.lastName' | translate}}</mat-label>
            <input matInput type="text" name="lastname" id="lastname" placeholder="{{'REGISTER.PL_NAME' | translate}}" [(ngModel)]="info.lastName"/>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>{{'USER.email' | translate}}</mat-label>
        <input matInput required [formControl]="emailFormControl" type="email" name="email" id="email" placeholder="{{'REGISTER.PL_MAIL' | translate}}"/>
    </mat-form-field>
    <input-password label="{{'USER.password' | translate}}" [hint]="true" [displayStrength]="true" autocomplete="new-password" id="password" required="true" (keydown.enter)="register()" [(value)]="info.password" placeholder="{{'REGISTER.PL_PASSWORD' | translate}}"></input-password>
    <mat-form-field class="organization">
        <mat-label>{{'REGISTER.ORGANIZATION' | translate}}</mat-label>
        <input matInput type="text" name="organization" id="organization" placeholder="{{'REGISTER.PL_ORG' | translate}} {{'REGISTER.ORGANIZATION_TITLE' | translate}} ..." [(ngModel)]="info.organization"/>
    </mat-form-field>
</form>
<mat-checkbox [(ngModel)]="info.allowNotifications">{{'REGISTER.NEWSLETTER' | translate}}</mat-checkbox>
<div class="accept">
    <mat-checkbox [(ngModel)]="agree" (change)="setAccept(agree)">{{'REGISTER.ACCEPT' | translate}}</mat-checkbox>
    <a class="clickable imprint" *ngIf="privacyUrl" (click)="openPrivacy()">{{'REGISTER.PRIVACY-LINK' | translate}}</a>
</div>