<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	
	<!-- webdav stuff-->
	  <context-param>
         <param-name>store</param-name>
         <param-value>workspace://SpacesStore</param-value>
   </context-param>
   <context-param>
         <param-name>rootPath</param-name>
         <param-value>/app:company_home</param-value>
   </context-param>
    <!-- SAML
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/securityContext.xml
        </param-value>
    </context-param>
    SAML -->

   
   <filter>
      
   	  <filter-name>Edu WebDAV Authentication Filter</filter-name>
	      
      <filter-class>org.alfresco.repo.webdav.Edu_SharingBeanProxyFilter</filter-class>
      <init-param>
         <param-name>beanName</param-name>
         <param-value>WebDavAuthenticationFilter</param-value>
      </init-param>
       
      <!--
      <filter-class>org.alfresco.repo.webdav.auth.Edu_SharingAuthenticationFilter</filter-class>
      -->

      <!--       
      <filter-name>Edu WebDAV Authentication Filter</filter-name>
      <filter-class>org.alfresco.repo.webdav.auth.ShibbolethAuthenticationFilter</filter-class>
      <init-param>
		      <param-name>protectedURL</param-name>
		      <param-value>https://edurepo.rz.tu-ilmenau.de/test/index.php</param-value>
	  </init-param>
      <init-param>
		      <param-name>successContent</param-name>
		      <param-value>Shib-Session-ID</param-value>
	  </init-param>
      -->
      
      <!--
      <filter-class>org.alfresco.repo.webdav.auth.LDAPAuthenticationFilter</filter-class>
      <init-param>
		      <param-name>ldap.uri</param-name>
		      <param-value>ldap://localhost:389</param-value>
	  </init-param>
	  <init-param>
		      <param-name>ldap.base</param-name>
		      <param-value>dc=personen,dc=produktion,dc=schulcockpit</param-value>
		    </init-param>
		    <init-param>
		      <param-name>ldap.sec.auth</param-name>
		      <param-value>simple</param-value>
		    </init-param>
		    <init-param>
		      <param-name>ldap.sec.user</param-name>
		      <param-value>cn=Manager,dc=projektname</param-value>
		    </init-param>
		    <init-param>
		      <param-name>ldap.sec.pwd</param-name>
		      <param-value>secret</param-value>
		    </init-param>
		    <init-param>
		      <param-name>ldap.from</param-name>
		      <param-value>eduSchoolPrimaryMail</param-value>
		    </init-param>
		    <init-param>
		      <param-name>ldap.to</param-name>
		      <param-value>uid</param-value>
		    </init-param>
      -->
   </filter>
  
   
	<filter>
		<filter-name>Edu Context Management Filter</filter-name>
		<filter-class>org.edu_sharing.repository.server.authentication.ContextManagementFilter</filter-class>
	</filter>
	
	<filter>
      <filter-name>Edu-Sharing Guest Filter</filter-name>
      <filter-class>org.edu_sharing.repository.server.authentication.GuestFilter</filter-class>
    </filter>
	<filter>
      <filter-name>Edu-Sharing Authentication Filter</filter-name>
      <filter-class>org.edu_sharing.repository.server.authentication.AuthenticationFilter</filter-class>
    </filter>
    <filter>
      <filter-name>Edu-Sharing Authentication Preview Filter</filter-name>
      <filter-class>org.edu_sharing.repository.server.authentication.AuthenticationFilterPreview</filter-class>
    </filter>
    
    <filter>
      <filter-name>Edu-Sharing Authentication Rest Filter</filter-name>
      <filter-class>org.edu_sharing.restservices.ApiAuthenticationFilter</filter-class>
    </filter>
   
    <filter>
        <filter-name>App Signature Filter</filter-name>
        <filter-class>org.edu_sharing.repository.server.authentication.AppSignatureFilter</filter-class>
    </filter>
    
    <filter>
    	<filter-name>Shibboleth SoapAction Header Fix</filter-name>
    	<filter-class>org.edu_sharing.repository.server.authentication.ShibbolethSLOHeaderFix</filter-class>
    </filter>
    
    <filter>
        <filter-name>REST Origin Filter</filter-name>
        <filter-class>org.edu_sharing.restservices.ApiOriginFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>ResponseTimeFilter</filter-name>
        <filter-class>org.edu_sharing.repository.server.debug.ResponseTimeFilter</filter-class>
    </filter>

    <filter>
        <filter-name>DisableCacheFilter</filter-name>
        <filter-class>org.edu_sharing.repository.server.DisableCacheFilter</filter-class>
    </filter>

    <!-- SAML
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    SAML -->

    <filter>
        <filter-name>SameSiteCookieFilter</filter-name>
        <filter-class>org.edu_sharing.repository.server.authentication.SameSiteCookieFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SameSiteCookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- SAML
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/saml/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/shibboleth</url-pattern>
    </filter-mapping>
     SAML -->

    <filter-mapping>
        <filter-name>DisableCacheFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DisableCacheFilter</filter-name>
        <url-pattern>/components/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>App Signature Filter</filter-name>
        <url-pattern>/rest/authentication/v1/appauth/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>REST Origin Filter</filter-name>
      <url-pattern>/rest/*</url-pattern>
   </filter-mapping>

    <filter-mapping>
      <filter-name>REST Origin Filter</filter-name>
      <url-pattern>/oauth2/*</url-pattern>
   </filter-mapping>

    <filter-mapping>
      <filter-name>Edu Context Management Filter</filter-name>
      <url-pattern>/webdav/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>Edu WebDAV Authentication Filter</filter-name>
      <url-pattern>/webdav/*</url-pattern>
   </filter-mapping>

   <!-- Filter Mapping Edu Context Management Filter-->
    <filter-mapping>
        <filter-name>Edu Context Management Filter</filter-name>
        <url-pattern>/oauth2/*</url-pattern>
    </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/index.html</url-pattern>
   </filter-mapping>
	<filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	       <url-pattern>/schoolcontext.jsp</url-pattern>
   </filter-mapping>
    <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/eduservlet/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>Edu Context Management Filter</filter-name>
       <url-pattern>/share</url-pattern>
   </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/jsp/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/logout</url-pattern>
   </filter-mapping>
    <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/shibboleth</url-pattern>
   </filter-mapping>
    <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/cas</url-pattern>
   </filter-mapping>
    <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/appactivation</url-pattern>
   </filter-mapping>
    <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/preview</url-pattern>
   </filter-mapping>
    <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/services/*</url-pattern>
   </filter-mapping>
   
    <filter-mapping>
	      <filter-name>Shibboleth SoapAction Header Fix</filter-name>
	      <url-pattern>/services/LogoutNotification/*</url-pattern>
   </filter-mapping>
   
    <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
	      <url-pattern>/restservice/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
   		  <url-pattern>/rest/*</url-pattern>
   </filter-mapping> 
   <filter-mapping>
	      <filter-name>Edu Context Management Filter</filter-name>
   		  <url-pattern>/renderingproxy/*</url-pattern>
   </filter-mapping>    
   

   
    <filter-mapping>
       	  <filter-name>Edu Context Management Filter</filter-name>
          <url-pattern>/screenreader/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
       	  <filter-name>Edu Context Management Filter</filter-name>
          <url-pattern>/node/*</url-pattern>
   </filter-mapping>
    <!-- filter for LRMI data in render view -->
    <filter-mapping>
        <filter-name>Edu Context Management Filter</filter-name>
        <url-pattern>/components/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Edu-Sharing Guest Filter</filter-name>
        <url-pattern>/components/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Edu-Sharing Authentication Filter</filter-name>
        <url-pattern>/components/render/*</url-pattern>
    </filter-mapping>

   <filter-mapping>
       	  <filter-name>Edu Context Management Filter</filter-name>
          <url-pattern>/search</url-pattern>
   </filter-mapping>   
    <filter-mapping>
       <filter-name>Edu-Sharing Guest Filter</filter-name>
       <url-pattern>/node/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>Edu-Sharing Authentication Filter</filter-name>
       <url-pattern>/node/*</url-pattern>
   </filter-mapping>

   <filter-mapping>
       <filter-name>Edu-Sharing Guest Filter</filter-name>
       <url-pattern>/eduservlet/download</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>Edu-Sharing Guest Filter</filter-name>
       <url-pattern>/search</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>Edu-Sharing Guest Filter</filter-name>
       <url-pattern>/preview/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>Edu-Sharing Guest Filter</filter-name>
       <url-pattern>/rest/*</url-pattern>
   </filter-mapping>
    <filter-mapping>
        <filter-name>Edu-Sharing Guest Filter</filter-name>
        <url-pattern>/eduservlet/redirect</url-pattern>
    </filter-mapping>
   <filter-mapping>
       <filter-name>Edu-Sharing Guest Filter</filter-name>
       <url-pattern>/eduservlet/sitemap</url-pattern>
   </filter-mapping>
    <filter-mapping>
        <filter-name>Edu-Sharing Guest Filter</filter-name>
        <url-pattern>/eduservlet/oai/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Edu-Sharing Guest Filter</filter-name>
        <url-pattern>/eduservlet/oembed</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Edu-Sharing Guest Filter</filter-name>
        <url-pattern>/eduservlet/render</url-pattern>
    </filter-mapping>
   <filter-mapping>
       <filter-name>Edu-Sharing Authentication Filter</filter-name>
       <url-pattern>/search</url-pattern>
   </filter-mapping>


   <!-- Filter Mapping Edu-Sharing Authentication Filter-->
   <filter-mapping>
	      <filter-name>Edu-Sharing Authentication Filter</filter-name>
	      <url-pattern>/index.html</url-pattern>
   </filter-mapping>
   <filter-mapping>
       <filter-name>Edu-Sharing Authentication Filter</filter-name>
       <url-pattern>/components/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu-Sharing Authentication Filter</filter-name>
	      <url-pattern>/index.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu-Sharing Authentication Filter</filter-name>
	      <url-pattern>/schoolcontext.jsp</url-pattern>
   </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu-Sharing Authentication Filter</filter-name>
	      <url-pattern>/eduservlet/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
	      <filter-name>Edu-Sharing Authentication Rest Filter</filter-name>
	      <url-pattern>/rest/*</url-pattern>
   </filter-mapping>
   
   <filter-mapping>
       <filter-name>Edu-Sharing Authentication Filter</filter-name>
       <url-pattern>/screenreader/*</url-pattern>
   </filter-mapping>
   
   <filter-mapping>
       <filter-name>Edu-Sharing Authentication Filter</filter-name>
       <url-pattern>/classic.html</url-pattern>
   </filter-mapping>
   
   
   <filter-mapping>
	      <filter-name>Edu-Sharing Authentication Preview Filter</filter-name>
	      <url-pattern>/preview</url-pattern>
   </filter-mapping>
    <filter-mapping>
        <filter-name>REST Origin Filter</filter-name>
        <url-pattern>/preview</url-pattern>
    </filter-mapping>


    <filter-mapping>
	      <filter-name>ResponseTimeFilter</filter-name>
	      <url-pattern>/*</url-pattern>
   </filter-mapping>
   
    <!-- uncomment the following to configure cas authentication -->
	<!--<filter>
  		<filter-name>CAS Authentication Filter</filter-name>
  		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
  		<init-param>
    			<param-name>casServerLoginUrl</param-name>
    			<param-value>http://cas.edu-sharing.com:8081/cas/login</param-value>
  		</init-param>
  		<init-param>
    			<param-name>serverName</param-name>
    			<param-value>http://edu-sharing.com:8080</param-value>
  		</init-param>
	</filter> 
	<filter>
  		<filter-name>CAS Validation Filter</filter-name>
  		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
  		<init-param>
    			<param-name>casServerUrlPrefix</param-name>
    			<param-value>http://cas.edu-sharing.com:8081/cas</param-value>
  		</init-param>
  		<init-param>
    			<param-name>serverName</param-name>
    			<param-value>http://edu-sharing.com:8080</param-value>
  		</init-param>
	</filter>
	
	<filter>
  		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
  		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/cas</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/cas</url-pattern>
	</filter-mapping>
   	<filter-mapping>
		<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
		<url-pattern>/cas</url-pattern>
	</filter-mapping>
	-->
    
<servlet>
        <servlet-name>FolderTemplateServlet</servlet-name>
        <servlet-class>
            org.edu_sharing.repository.server.FolderTemplateServlet
        </servlet-class> 
    </servlet>
    
    <servlet>  
      <servlet-name>RestService</servlet-name>  
      <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
      <init-param>
            <!-- Application class name -->
            <param-name>org.restlet.application</param-name>
            <param-value>org.edu_sharing.rest.RestService</param-value>
      </init-param>
   </servlet>  
   
   <servlet>
      <servlet-name>EduWebDAV</servlet-name>
      <servlet-class>org.alfresco.repo.webdav.Edu_SharingWebDAVServlet</servlet-class>
      <load-on-startup>5</load-on-startup>
   </servlet>
	

    <servlet>
        <servlet-name>SuggestService</servlet-name>
        <servlet-class>
            org.edu_sharing.repository.server.SuggestServiceImpl
        </servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>CCCreate</servlet-name>
        <servlet-class>
            org.edu_sharing.repository.server.CCCreate
        </servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>CCUpdate</servlet-name>
        <servlet-class>
            org.edu_sharing.repository.server.CCUpdate
        </servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>CCConfirmActivation</servlet-name>
        <servlet-class>
            org.edu_sharing.repository.server.CCConfirmActivation
        </servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>RedirectServlet</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ServerUpdate</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.ServerUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUsersNodes</servlet-name>
        <servlet-class>
            org.edu_sharing.repository.server.RemoveUsersNodes
        </servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.authentication.LoginServlet</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.authentication.LogoutServlet</servlet-class> 
    </servlet>
    <servlet>
        <servlet-name>Shibboleth</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.authentication.ShibbolethServlet</servlet-class> 
        <init-param>
                <param-name>useHeaders</param-name>
                <param-value>false</param-value>
        </init-param>
    </servlet>
     <servlet>
        <servlet-name>CAS</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.authentication.CASServlet</servlet-class> 
    </servlet>
     <servlet>
        <servlet-name>Metadata</servlet-name>
        <servlet-class>
            org.edu_sharing.repository.server.MetadataServlet
        </servlet-class> 
    </servlet>
    <servlet>
    	<servlet-name>PreviewDownload</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.PreviewServlet</servlet-class>   
    </servlet>
    <servlet>
    	<servlet-name>ContentServlet</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.ContentServlet</servlet-class>
    </servlet>
     <servlet>
    	<servlet-name>DownloadServlet</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OaiServlet</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.oai.OaiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SitemapServlet</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.sitemap.SitemapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RobotsTXTServlet</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.sitemap.RobotsTXTServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ShareServlet</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.ShareServlet</servlet-class>   
    </servlet>
	<servlet>
		<servlet-name>RenderingProxy</servlet-name>
		<servlet-class>org.edu_sharing.repository.server.rendering.RenderingProxy</servlet-class>
	</servlet>
    <!-- servlet for just outputing rendering data, e.g. for playout or embed links -->
    <servlet>
        <servlet-name>RenderingServlet</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.rendering.RenderingServlet</servlet-class>
    </servlet>
    <!-- servlet for oEmbed standard -->
    <servlet>
        <servlet-name>oEmbedServlet</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.oembed.oEmbedServlet</servlet-class>
    </servlet>
     <servlet>
    	<servlet-name>ExcelImport</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.ExcelImportServlet</servlet-class>   
    </servlet>
    <servlet>
    	<servlet-name>DispatchToIndexServlet</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.DispatcherServlet</servlet-class>
    	<init-param>
    		<param-name>mapTo</param-name>
    		<param-value>/index.html</param-value>
    	</init-param>
    </servlet>
    
    <servlet>
    	<servlet-name>OAuth2Token</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.authentication.oauth2.TokenEndpoint</servlet-class>
    </servlet>

    <!-- <servlet>
    	<servlet-name>casjsp</servlet-name>
    	<jsp-file>/cas_ccsearch.jsp</jsp-file>
    </servlet>
    <servlet>
    	<servlet-name>cas_proxycallback</servlet-name>
    	<jsp-file>/cas_proxycallback.jsp</jsp-file>
    </servlet>-->
    
    <!-- Axis servlet stuff -->
    <servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
		org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>REST API</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.edu_sharing.restservices.ApiApplication</param-value>
        </init-param>
    </servlet>

    <servlet>
    	<servlet-name>Connector</servlet-name>
    	<servlet-class>org.edu_sharing.repository.server.connector.ConnectorServlet</servlet-class>
    </servlet>

    <servlet>
    	<servlet-name>Monitoring</servlet-name>
    	<servlet-class>org.edu_sharing.service.monitoring.MonitoringServlet</servlet-class>
    </servlet>

    <servlet-mapping>
       <servlet-name>Monitoring</servlet-name>
       <url-pattern>/monitoring</url-pattern>
    </servlet-mapping>

    <!-- servlet mapping -->
 <servlet-mapping> 
        <servlet-name>FolderTemplateServlet</servlet-name>
        <url-pattern>/eduservlet/foldertemplate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>REST API</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>  
        
	 <servlet-mapping>  
      <servlet-name>RestService</servlet-name>  
      <url-pattern>/restservice/*</url-pattern>  
   </servlet-mapping>  
	
	<!-- webdav stuff-->
	<servlet-mapping>
        <servlet-name>EduWebDAV</servlet-name>
        <url-pattern>/webdav/*</url-pattern>
   </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping> 
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
	 <servlet-mapping>
    	<servlet-name>Shibboleth</servlet-name>
    	<url-pattern>/shibboleth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CAS</servlet-name>
    	<url-pattern>/cas</url-pattern>
    </servlet-mapping>
	<servlet-mapping> 
        <servlet-name>CCConfirmActivation</servlet-name>
        <url-pattern>/appactivation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderingServlet</servlet-name>
        <url-pattern>/eduservlet/render</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oEmbedServlet</servlet-name>
        <url-pattern>/eduservlet/oembed</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>SuggestService</servlet-name>
        <url-pattern>/eduservlet/suggestservice</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping> 
        <servlet-name>CCCreate</servlet-name>
        <url-pattern>/eduservlet/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>CCUpdate</servlet-name>
        <url-pattern>/eduservlet/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
   		 <servlet-name>RedirectServlet</servlet-name>
    	 <url-pattern>/eduservlet/redirect</url-pattern>
    </servlet-mapping>
     <servlet-mapping> 
        <servlet-name>ServerUpdate</servlet-name>
        <url-pattern>/eduservlet/serverupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>RemoveUsersNodes</servlet-name>
        <url-pattern>/eduservlet/removeusernodes</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
        <servlet-name>ExcelImport</servlet-name>
        <url-pattern>/eduservlet/excelimport</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>Monitoring</servlet-name>
    	<url-pattern>/eduservlet/monitoring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
     	<servlet-name>DownloadServlet</servlet-name>
     	<url-pattern>/eduservlet/download</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SitemapServlet</servlet-name>
        <url-pattern>/eduservlet/sitemap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OaiServlet</servlet-name>
        <url-pattern>/eduservlet/oai/provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RobotsTXTServlet</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Connector</servlet-name>
    	<url-pattern>/eduservlet/connector</url-pattern>
    </servlet-mapping>

    
     <servlet-mapping>
    	<servlet-name>Metadata</servlet-name>
    	<url-pattern>/metadata</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
     	<servlet-name>PreviewDownload</servlet-name>
     	<url-pattern>/preview</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
     	<servlet-name>ContentServlet</servlet-name>
     	<url-pattern>/content</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
     	<servlet-name>ShareServlet</servlet-name>
     	<url-pattern>/share</url-pattern>   
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>RenderingProxy</servlet-name>
    	<url-pattern>/renderingproxy</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    	<servlet-name>DispatchToIndexServlet</servlet-name>
    	<url-pattern>/node/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>DispatchToIndexServlet</servlet-name>
    	<url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RenderingErrorServlet</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.rendering.RenderingErrorServlet</servlet-class>
        <!-- <jsp-file>/index.jsp</jsp-file> -->
    </servlet>
    <servlet-mapping>
        <servlet-name>RenderingErrorServlet</servlet-name>
        <url-pattern>/rendering-error</url-pattern>
    </servlet-mapping>

    <!-- Axis mapping stuff -->
    <servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OAuth2Token</servlet-name>
		<url-pattern>/oauth2/token</url-pattern>
	</servlet-mapping>
		
	<session-config>
      <session-timeout>60</session-timeout>
      <tracking-mode>URL</tracking-mode>
     <!-- <tracking-mode>SSL</tracking-mode>-->
      <tracking-mode>COOKIE</tracking-mode>
   	</session-config>
	
	<welcome-file-list>
      <welcome-file>index.html</welcome-file>
   	</welcome-file-list>
   	
	<listener>
	     <listener-class>org.edu_sharing.repository.server.MCAlfrescoManager</listener-class>
	 </listener>
	<listener>
	 	<listener-class>org.edu_sharing.repository.server.authentication.SessionListener</listener-class>
	 </listener>

    <!-- SAML
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    SAML -->

      <!-- Angular Dynamic routing, added by Torsten 2016-11-02 -->
	<servlet>
      <servlet-name>ng-index</servlet-name>
      <servlet-class>org.edu_sharing.repository.server.NgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>ng-index</servlet-name>
      <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ng-index</servlet-name>
      <url-pattern>/components/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ng-error</servlet-name>
        <servlet-class>org.edu_sharing.repository.server.NgErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ng-error</servlet-name>
        <url-pattern>/error.html</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>400</error-code>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>

    <error-page>
        <exception-type>org.edu_sharing.repository.server.rendering.RenderingException</exception-type>
        <location>/rendering-error</location>
    </error-page>
</web-app>