<div class="dialog darken" [style.z-index]="120 + priority" [@fade]="this"></div>
<input #fileSelect type="file" style="display:none" id="fileSelect" [multiple]="multiple" (change)="filesSelected($event)" />
<div class="card card-high center-card card-action" [style.z-index]="121 + priority" [@cardAnimation]="this">
    <div class="card-content">
        <div class="card-cancel" (click)="cancel()"><i class="material-icons">close</i></div>
        <div class="card-title">{{'WORKSPACE.ADD_OBJECT_TITLE' | translate }}</div>
        <div class="card-scroll">
            <div class="dropArea" [class.dropActive]="isFileOver" fileDrop
                 (onFileDrop)="onDrop($event)"
                 (fileOver)="isFileOver=$event">
                <div><i class="material-icons">cloud_upload</i></div>
                <div *ngIf="supportsDrop">{{ 'WORKSPACE.ADD_OBJECT_MESSAGE' | translate}}</div>
                <div class="btn-flat btn-shadow" tabindex="0" (keyup.enter)="selectFile()" (click)="selectFile()">{{'WORKSPACE.SELECT_MATERIAL' | translate}}</div>
            </div>
            <hr>
            <div class="link"><div class="linkLabel"><i class="material-icons align-icon">link</i> <span class="linkTitle">{{ 'WORKSPACE.SELECT_LINK' | translate}}</span></div>
                <input type="text" [(ngModel)]="link" (keyup.enter)="setLink()" placeholder="http://">
                <div class="lti" *ngIf="showLti">
                    <div class="switch">
                        <label>
                            <input type="checkbox" [disabled]="!ltiAllowed" [(ngModel)]="ltiActivated">
                            <span class="lever"></span>
                            {{ 'WORKSPACE.ADD_OBJECT_LTI' | translate}}
                        </label>
                    </div>
                    <div class="lti-data" *ngIf="ltiAllowed && ltiActivated">
                        <div class="heading">{{'WORKSPACE.LTI_HEADING' | translate}}</div>
                        <div class="info">{{'WORKSPACE.LTI_INFO' | translate}}</div>
                        <div class="inputs">
                            <label for="consumerKey">{{'WORKSPACE.LTI_CONSUMER_KEY' | translate}}</label>
                            <input type="text" id="consumerKey" [(ngModel)]="ltiConsumerKey">
                            <label for="sharedSecret">{{'WORKSPACE.LTI_SHARED_SECRET' | translate}}</label>
                            <input type="text" id="sharedSecret" [(ngModel)]="ltiSharedSecret">
                        </div>
                        <div class="info info-privacy" innerHTML="{{'WORKSPACE.LTI_INFO_PRIVACY' | translate}}"></div>
                    </div>
                    <!--
                    <div *ngIf="ltiActivated && ltiAllowed && ltiTool" class="toolInfo">
                        <img [src]="ltiTool.preview.url+'&crop=true&width=50&height=50'">
                        <div class="title">{{ltiTool.title}}</div>
                    </div>
                    -->
            </div>
            <div *ngIf="showPicker" class="location">
                <div class="caption">{{'WORKSPACE.FILE_LOCATION' | translate}}</div>
                <div class="change clickable" (click)="chooseParent=true">{{'WORKSPACE.CHANGE_LOCATION' | translate}}</div>
                <breadcrumbs
                        [breadcrumbsAsNode]="breadcrumbs"
                        [home]="'WORKSPACE.MY_FILES'"
                ></breadcrumbs>
            </div>
        </div>
    </div>
    </div>
    <div class="card-action">
        <a class="waves-effect waves-light btn" [class.disabled]="disabled" (click)="setLink()">{{'OK' | translate }}</a>
        <a class="btn-flat" (click)="cancel()">{{'CANCEL' | translate }}</a>
    </div>
</div>
<file-chooser *ngIf="chooseParent"
              [isCancelable]="true"
              [pickDirectory]="true"
              [title]="'WORKSPACE.CHOOSE_LOCATION'"
              (onCancel)="chooseParent=false"
              (onChoose)="parentChoosed($event)"
></file-chooser>
