<input #fileSelect type="file" style="display:none" id="fileSelect" [multiple]="multiple" (change)="filesSelected($event)" />
<card title="{{'WORKSPACE.ADD_OBJECT_TITLE' | translate }}" [priority]="priority" subtitle="{{'WORKSPACE.ADD_OBJECT_SUBTITLE' | translate }}" width="small" height="large"
      [buttons]="buttons"
      (onCancel)="cancel()"
>
        <div class="file-upload-content">
            <div class="dropArea" [class.dropActive]="isFileOver" fileDrop
                 (onFileDrop)="onDrop($event)"
                 (fileOver)="isFileOver=$event">
                <div><i icon iconId="cloud_upload"></i></div>
                <div *ngIf="supportsDrop">{{ 'WORKSPACE.ADD_OBJECT_MESSAGE' | translate}}</div>
                <button mat-raised-button (click)="selectFile()">{{'WORKSPACE.SELECT_MATERIAL' | translate}}</button>
            </div>
            <hr>
            <div class="link">
                <div class="link-info">
                    <div class="linkLabel"><i icon iconId="link"></i> <span class="linkTitle">{{ 'WORKSPACE.SELECT_LINK' | translate}}</span></div>
                    <mat-form-field>
                        <mat-label>{{ 'WORKSPACE.SELECT_LINK_LABEL' | translate}}</mat-label>
                        <input matInput [(ngModel)]="link" (keyup.enter)="setLink()" placeholder="http://">
                    </mat-form-field>
                </div>
                <div class="lti" *ngIf="showLti">
                    <mat-slide-toggle [disabled]="!ltiAllowed" [(ngModel)]="ltiActivated">{{ 'WORKSPACE.ADD_OBJECT_LTI' | translate}}</mat-slide-toggle>
                    <div class="lti-data" *ngIf="ltiAllowed && ltiActivated">
                        <div class="heading">{{'WORKSPACE.LTI_HEADING' | translate}}</div>
                        <div class="info">{{'WORKSPACE.LTI_INFO' | translate}}</div>
                        <div class="inputs">
                            <mat-form-field>
                                <mat-label>{{'WORKSPACE.LTI_CONSUMER_KEY' | translate}}</mat-label>
                                <input matInput id="consumerKey" [(ngModel)]="ltiConsumerKey">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{'WORKSPACE.LTI_SHARED_SECRET' | translate}}</mat-label>
                                <input matInput id="sharedSecret" [(ngModel)]="ltiSharedSecret">
                            </mat-form-field>
                        </div>
                        <div class="info info-privacy" innerHTML="{{'WORKSPACE.LTI_INFO_PRIVACY' | translate}}"></div>
                    </div>
                    <!--
                    <div *ngIf="ltiActivated && ltiAllowed && ltiTool" class="toolInfo">
                        <img [src]="ltiTool.preview.url+'&crop=true&width=50&height=50'">
                        <div class="title">{{ltiTool.title}}</div>
                    </div>
                    -->
            </div>
            <div *ngIf="showPicker" class="location">
                <div class="caption">{{'WORKSPACE.FILE_LOCATION' | translate}}</div>
                <div class="change clickable" (click)="chooseParent=true">{{'CHANGE_STORAGE_LOCATION' | translate}}</div>
                <div class="no-breadcrumbs" *ngIf="!_parent">
                    {{'STORAGE_LOCATION_UNSET' | translate}}
                </div>
                <breadcrumbs *ngIf="_parent"
                        [breadcrumbsAsNode]="breadcrumbs"
                        [home]="'WORKSPACE.MY_FILES'"
                ></breadcrumbs>
            </div>
        </div>
    </div>
</card>
<file-chooser *ngIf="chooseParent"
              [isCancelable]="true"
              [pickDirectory]="true"
              [title]="'WORKSPACE.CHOOSE_LOCATION'"
              (onCancel)="chooseParent=false"
              (onChoose)="parentChoosed($event)"
></file-chooser>
