@import "../../../core-ui-module/styles/variables";

.dropArea {
  border-radius: 5px;
  text-align: center;
  border: 2px dashed $cardSeperatorLineColor;
  padding: 40px 30px;
  margin-bottom: 10px;
  color: $textLight;

  a {
    font-weight: bold;
  }

  i {
    font-size: 60px;
  }

  &.dropActive {
    border-color: $primaryMediumLight;
    background: $primaryLight;

    i {
      color: $primary;
    }

    .object-message {
      margin-bottom: 10px;
    }
  }
}
.seperator-line{
  margin:20px 5px;
}
mat-form-field{
  width:100%;
}
.quota{
  padding-bottom: 5px;
}
.quota{
  padding-bottom: 5px;
}

.lti-data{
  margin: 20px $cardPadding*-1;
  padding:20px $cardPadding;
  .heading{
    font-size: 110%;
    font-weight: bold;
    padding:10px 0;
  }
  .info{
    color:$textLight;
    padding:5px 0;
    white-space: pre-line;
  }
  .info-privacy{
    font-size: 90%;
  }
  .inputs{
    padding-top: 15px;
  }
}
.link{
  width:100%;
  .linkLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons{
      margin-right: 5px;
    }
  }
  .linkTitle{
    color:$textLight;
  }
  i{
    top: 7px;
  }
  .lti{
    display: flex;
    flex-direction: column;
  }
  .toolInfo{
    display:flex;
    padding: 15px 20px;
    img{
      padding-right:15px;
    }
    .title{
      font-weight: bold;
    }
  }
}
.dropArea .btn-flat{
  float:none;
  margin-top: 10px;
}
.location{
  margin-top: 20px;

  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  .caption{
    float:left;
    margin-bottom: 5px;
  }
  .picker-group{
    display: flex;
    align-items: center;
    padding: 10px $cardPadding;
    margin: 0 (-$cardPadding);
    background-color: $buttonHoverBackground;
    .no-breadcrumbs{
      display: flex;
      width: 100%;
      justify-content: center;
      color:$textLight;
    }
    .change{
      flex-grow: 1;
      font-weight: bold;
      min-width: 20%;
      text-align: right;
    }
  }
    > mat-checkbox {
        display: flex;
        margin-top: 20px;
    }
}
:host ::ng-deep {
  .location .breadcrumb{
    max-height: unset!important;
    flex-wrap: wrap;
  }
}
