@import "../../../core-ui-module/styles/variables";

.dropArea{
  border-radius:5px;
  text-align: center;
  border: 2px dashed $primary;
  margin: $cardPadding;
  padding: 20px;
  margin-bottom:20px;
  color:$textLight;

  .object-message{
    margin-bottom: 10px;
  }
}
mat-form-field{
  width:100%;
}
.link-info{
  padding:0 $cardPadding;
}
.quota{
  padding-bottom: 5px;
}
.dropActive{
  background:$primaryLight;
}
.dropActive i{
  color:$primary;
}
hr{
  margin-bottom: 20px;
  width: calc(100% - 40px);
}
.dropArea i{
  font-size:60px;
}
.lti-data{
  background-color: $actionDialogBackground;
  padding:20px $cardPadding;
  margin: 20px 0;
  .heading{
    font-size: 110%;
    font-weight: bold;
    padding:10px 0;
  }
  .info{
    color:$textLight;
    padding:5px 0;
    white-space: pre-line;
  }
  .info-privacy{
    font-size: 90%;
  }
  .inputs{
    padding-top: 15px;
  }
}
.link{
  width:100%;
  .linkLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    .material-icons{
      margin-right: 5px;
    }
  }
  .linkTitle{
    color:$textLight;
  }
  i{
    top: 7px;
  }
  .lti{
    display: flex;
    flex-direction: column;
    mat-slide-toggle{
      padding:0 30px;
    }
  }
  .toolInfo{
    display:flex;
    padding: 15px 20px;
    img{
      padding-right:15px;
    }
    .title{
      font-weight: bold;
    }
  }
}
.dropArea .btn-flat{
  float:none;
  margin-top: 10px;
}
.location{
  margin-top: 20px;
  padding:20px;
  background-color: $backgroundColor;
  .caption{
    float:left;
    color:$primary;
    margin-bottom: 10px;
  }
  .change{
    float:right;
    color:$primary;
    text-transform: uppercase;
    font-weight: bold;
  }
  .no-breadcrumbs{
    display: flex;
    width: 100%;
    justify-content: center;
    color:$textLight;
  }
}
:host /deep/ {
  .location .breadcrumb{
    max-height: unset!important;
    flex-wrap: wrap;
  }
}