<input
  type="file"
  #fileInput
  class="display-none"
  accept="image/*"
  (change)="setPreview($event)"
  (cancel)="$event.stopPropagation()"
/>
<div class="preview-wrapper">
  @if (mdsEditorInstance.editorMode === 'inline') {
  <mat-label>{{ 'WORKSPACE.EDITOR.PREVIEW' | translate }}</mat-label>
  } @if (loading$ | async) {
  <div class="loading">
    <es-spinner-small [diameter]="70"></es-spinner-small>
  </div>
  }
  <div class="image-container">
    @if (delete) {
    <div class="delete-overlay">
      <i esIcon="delete"></i>
      {{ 'WORKSPACE.EDITOR.PREVIEW_DELETED' | translate }}
    </div>
    } @if (!(!node?.preview?.isIcon || file)) {
    <es-preview-image [node]="node"></es-preview-image>
    } @if (!node?.preview?.isIcon || file) {
    <img [src]="src$ | async" (load)="loading$.next(false)" />
    <div class="card-image-backdrop">
      <img [src]="src$ | async" alt="" />
    </div>
    }
    <div class="button-group">
      @if (mdsEditorInstance.hasAi | async) {
      <button
        esElementRef
        #overlayRef="esElementRef"
        mat-fab
        [color]="$any('white')"
        (click)="showOverlay()"
      >
        <i esIcon="brush"></i>
      </button>
      } @if (mdsEditorInstance.editorMode !== 'viewer') {
      <button mat-fab [color]="$any('white')" (click)="fileInput.click()">
        <i esIcon="upload"></i>
      </button>
      } @if ( mdsEditorInstance.editorMode !== 'viewer' && !delete && (file || getType() ===
      'TYPE_USERDEFINED') ) {
      <button
        mat-fab
        [color]="$any('white')"
        (click)="file ? (file = null) : (delete = true); updateSrc()"
      >
        <i esIcon="delete"></i>
      </button>
      }
    </div>
    <!-- Overlay template -->
    @if (mdsEditorInstance.hasAi | async) {
    <es-ai-preview-images-overlay
      #aiPreviewImagesOverlay
      [file]="file"
      [node]="node"
      (triggerUpdateSrc)="updateSrc()"
      (updateFile)="file = $event"
      (updateShowOverlay)="overlayVisible$.next($event)"
      (updateSrcAttribute)="src$.next($event)"
    ></es-ai-preview-images-overlay>
    }
  </div>
  @if ((hasChanges | async) && mdsEditorInstance.editorMode === 'inline') {
  <div class="save">
    <button mat-flat-button color="primary" (click)="foreSave()">{{ 'SAVE' | translate }}</button>
  </div>
  }
</div>
