<input
  type="file"
  #fileInput
  class="display-none"
  accept="image/*"
  (change)="setPreview($event)"
  (cancel)="$event.stopPropagation()"
/>
<div class="preview-wrapper">
  <mat-label *ngIf="mdsEditorInstance.editorMode === 'inline'">{{
    'WORKSPACE.EDITOR.PREVIEW' | translate
  }}</mat-label>
  <div class="loading" *ngIf="loading$ | async">
    <es-spinner-small [diameter]="70"></es-spinner-small>
  </div>
  <div class="image-container">
    <div class="delete-overlay" *ngIf="delete">
      <i esIcon="delete"></i>
      {{ 'WORKSPACE.EDITOR.PREVIEW_DELETED' | translate }}
    </div>
    <img [src]="src$ | async" (load)="loading$.next(false)" />
    <div class="card-image-backdrop">
      <img [src]="src$ | async" alt="" />
    </div>
    <div class="button-group">
      <button
        *ngIf="mdsEditorInstance.hasAi | async"
        esElementRef
        #overlayRef="esElementRef"
        mat-fab
        [color]="$any('white')"
        (click)="showOverlay()"
      >
        <i esIcon="brush"></i>
      </button>

      <button mat-fab [color]="$any('white')" (click)="fileInput.click()">
        <i esIcon="file_upload"></i>
      </button>

      <button
        mat-fab
        [color]="$any('white')"
        (click)="file ? (file = null) : (delete = true); updateSrc()"
        *ngIf="!delete && (file || getType() === 'TYPE_USERDEFINED')"
      >
        <i esIcon="delete"></i>
      </button>
    </div>
    <!-- Overlay template -->
    <es-ai-preview-images-overlay
      *ngIf="mdsEditorInstance.hasAi | async"
      #aiPreviewImagesOverlay
      [file]="file"
      [node]="node"
      (triggerUpdateSrc)="updateSrc()"
      (updateFile)="file = $event"
      (updateShowOverlay)="overlayVisible$.next($event)"
      (updateSrcAttribute)="src$.next($event)"
    ></es-ai-preview-images-overlay>
  </div>
  <div class="save" *ngIf="(hasChanges | async) && mdsEditorInstance.editorMode === 'inline'">
    <button mat-flat-button color="primary" (click)="foreSave()">{{ 'SAVE' | translate }}</button>
  </div>
</div>
