@import 'projects/edu-sharing-ui/assets/scss/mixins';

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    .card-image-backdrop {
        position: absolute;
        width: 250px;
        height: 175px;
        background-color: black;
        overflow: hidden;
        img,
        canvas {
            object-fit: cover;
            @include blurImage(15px);
            opacity: 1;
        }
    }
    .delete-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        width: 250px;
        height: 175px;
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(5px);
        > i {
            font-size: 39px;
        }
    }
    img {
        width: 250px;
        height: 175px;
        object-fit: contain;
        position: relative;
        z-index: 1;
    }
    > .button-group {
        position: absolute;
        z-index: 2;
        bottom: -10px;
        margin-left: 90px;
        display: flex;
        // fix for safari
        left: 50%;
        > button {
            margin: 0 7px;
        }
    }
}
