<!-- custom component to override or inject global templates or html -->
<es-custom-global-extensions></es-custom-global-extensions>
<es-main-nav></es-main-nav>
<router-outlet></router-outlet>
<es-rocketchat></es-rocketchat>
<es-cookie-info #cookie></es-cookie-info>
<!-- central access to all dialogs for actions -->
<es-workspace-management #management></es-workspace-management>
<es-scroll-to-top-button
  role="navigation"
  [attr.aria-label]="'GO_TO_TOP' | translate"
></es-scroll-to-top-button>
<es-loading-screen *ngIf="isLoading | async"></es-loading-screen>
