<es-card
  *ngIf="_collection"
  title="{{ 'COLLECTIONS.FEEDBACK_VIEW_TITLE' | translate }}"
  [node]="_collection"
  [isCancelable]="true"
  width="normal"
  height="large"
  [buttons]="feedbackViewButtons"
  (onCancel)="onClose.emit()"
>
  <div class="card-content-padding">
    <div class="feedback">
      <h2 class="empty" *ngIf="!feedbacks || !feedbacks.length">
        {{ 'COLLECTIONS.FEEDBACK_VIEW_EMPTY' | translate }}
      </h2>
      <!-- TODO: introduce a sensible heading structure. -->
      <div *ngIf="feedbacks && feedbacks.length">
        <div *ngFor="let feedback of feedbacks" class="feedback-container">
          <div class="main-data">
            <div class="author">
              <es-user-avatar
                icon="person"
                [user]="{ authorityName: feedback.creator }"
                size="xsmall"
              ></es-user-avatar>
              {{ 'COLLECTIONS.FEEDBACK_CREATOR' | translate: { creator: feedback.creator } }}
            </div>
            <div class="date">
              {{ feedback.createdAt | formatDate: { useRelativeLabels: false, time: true } }}
            </div>
          </div>
          <div class="meta-data">
            <es-mds-viewer
              [data]="feedback.feedback"
              groupId="collection_feedback_view"
            ></es-mds-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>
</es-card>
