Internal/
Frontend/.editorconfig
Backend/version.properties
Backend/build.*.properties
Backend/ng/
Backend/war/
*.class
/Internal/
Backend/build.number
Backend/edu-sharing/
Backend/release/
Backend/lib/edu-sharing_webservices.jar
Backend/lib/edu-sharing_webdav.jar
Backend/lib/edu-sharing_cmis.jar
