Internal/
Edu-Sharing-Internal/
Frontend/.editorconfig
Frontend/node_modules
node_modules/
test/
Backend/version.properties
Backend/build.*.properties
Backend/ng/
Backend/war/
*.class
/Internal/
Backend/build.number
Backend/edu-sharing/
Backend/release/
Backend/lib/edu-sharing_webservices.jar
Backend/lib/edu-sharing_webdav.jar
Backend/lib/edu-sharing_cmis.jar
Backend/lib/edu-sharing_spring.jar
Backend/lib/edu-sharing_security.jar
Backend/lib/edu-sharing_classloaderstuff.jar
Backend/src/org/edu_sharing/repository/public/version.html
edu-sharing-cluster/
Backend/lib/edu-sharing_cifs.jar
Backend/lib/edu-sharing-tomcat.jar
.vscode/settings.json
Frontend/package-lock.json
package-lock.json
.DS_Store
Cordova/.editorconfig
Cordova/node_modules
Cordova/www
Cordova/plugins
Cordova/platforms
Frontend/gitlog.html
Cordova/npm-debug.log
Cordova/.gradle/
*.iml
Backend/.idea/
Backend/soap-generation/generated/
.idea/