@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 5px;
    > div {
        font-size: vars.$fontSizeXLarge;
        @include mixins.limitLineCount(1);
        flex-grow: 1;
    }
}

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.option-show {
    animation: slide-fade 1s;
}
.sidebar-container {
    overflow-y: auto;
    height: 0;
    flex-grow: 1;
}
.option {
    padding: 0 20px;
    &.option-EDITORIAL_OPTIONS_WORKSPACE_METADATA,
    &.option-EDITORIAL_OPTIONS_PREVIEW {
        // has own padding cause of tabs
        padding: 0;
    }
}
.entries {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > es-info-message {
        margin: 10px 20px;
        .message {
            white-space: pre-line;
        }
    }
    .entry {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        //color: var(--primary);
        gap: 20px;
        @include mixins.clickable();
        &:hover {
            background-color: var(--palette-primary-50);
        }
        .icon {
            font-size: 30px;
        }
        .text {
            flex-grow: 1;
            .title {
                @include mixins.limitLineCount(1);
                word-break: break-all;
                font-size: vars.$fontSizeXLarge;
                font-weight: bold;
                margin-bottom: 6px;
            }
            .description {
                @include mixins.limitLineCount(2, 1.25);
                color: var(--textLight);
                font-size: var(--fontSizeXSmall);
            }
        }
        .navigate {
        }
    }
}

@keyframes slide-fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
