<div class="sidebar-header">
  <div>{{ title() | translate }}</div>
  <button mat-icon-button color="primary" (click)="closeTrigger.emit()">
    <i esIcon="close"></i>
  </button>
</div>
<ng-container *ngTemplateOutlet="content"></ng-container>
<ng-template #content>
  <div class="entries">
    <div class="entry" *ngFor="let option of options()">
      <i class="icon" [esIcon]="option.icon"></i>
      <div class="text">
        <div class="title">{{ option.name | translate }}</div>
        <div class="description">{{ option.name | translate }}</div>
      </div>
    </div>
  </div>
</ng-template>
