<div class="sidebar-header">
  <button mat-icon-button color="primary" *ngIf="enabledOption()" (click)="enabledOption.set(null)">
    <i esIcon="keyboard_arrow_left"></i>
  </button>
  <div>{{ title() | translate }}</div>
  <button mat-icon-button color="primary" (click)="closeTrigger.emit()">
    <i esIcon="close"></i>
  </button>
</div>
<ng-container *ngTemplateOutlet="content"></ng-container>
<ng-template #content>
  <div *ngIf="enabledOption() as option" class="option option-{{ option.name | propertySlug }}">
    <es-nodes-selector *ngIf="option.name === 'EDITORIAL.OPTIONS.SORT_INTO'"></es-nodes-selector>
    <es-metadata-sidebar
      *ngIf="option.name === 'EDITORIAL.OPTIONS.WORKSPACE_METADATA'"
      [nodeSidebar]="nodes()?.[0]"
    ></es-metadata-sidebar>
  </div>
  <div class="entries" *ngIf="!enabledOption()">
    <div class="entry" (click)="option.callback(nodes())" *ngFor="let option of options()">
      <i class="icon" [esIcon]="option.icon"></i>
      <div class="text">
        <div class="title">{{ option.name | translate }}</div>
        <div class="description">{{ option.name + '_DESCRIPTION' | translate }}</div>
      </div>
      <i class="navigate" esIcon="keyboard_arrow_right"></i>
    </div>
  </div>
</ng-template>
