@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div:first-child {
        font-size: vars.$fontSizeXLarge;
    }
}

.entries {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .entry {
        display: flex;
        align-items: center;
        color: var(--primary);
        gap: 20px;
        .icon {
            font-size: 30px;
        }
        .text {
            flex-grow: 1;
            .title {
                font-size: vars.$fontSizeXLarge;
                font-weight: bold;
            }
            .description {
                color: var(--textLight);
                font-size: var(--fontSizeXSmall);
            }
        }
    }
}
