<!--<div
  *ngIf="show"
  [@fromBottom]="show"
  class="notice"
  role="region"
  [attr.aria-label]="'COOKIE_INFO.REGION_LABEL' | translate"
>
  <div class="description">{{ 'COOKIE_INFO.DESCRIPTION' | translate }}</div>
  <div class="more">
    <button (click)="dialog = true" cdkMonitorElementFocus>
      {{ 'COOKIE_INFO.MORE_LINK' | translate }}
    </button>
  </div>
  <button mat-flat-button (click)="accept()">{{ 'OK' | translate }}</button>
</div>
-->
<es-card *ngIf="show"
      [isCancelable]="false"
      height="auto"
      icon="open_in_browser"
      [buttons]="buttons"
      title="{{'COOKIE_INFO.DIALOG_TITLE' | translate }}"
      >
  <div class="card-content-padding">
    <div class="message">
      {{'COOKIE_INFO.DESCRIPTION' | translate}}
    </div>
    <button mat-button color="primary" (click)="details = !details">
      {{'COOKIE_INFO.MORE_LINK' | translate}}
      <i [esIcon]="details ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"></i>
    </button>
    <div class="details"
         *ngIf="details"
         [@overlay]="details">{{'COOKIE_INFO.DIALOG_MESSAGE' | translate}}</div>
  </div>
</es-card>
