@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;

.missing-value-msg {
    flex: 0 1 calc(50% - 4px);
    color: var(--placeholderColor);
}

.value-selection-wrapper {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    .selected-value-card {
        height: 52px;
        border-radius: 8px;
        padding: 4px 32px 4px 12px;
        background: var(--backgroundElevatedColor);
        @include mixins.materialShadowBottom();
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .value-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;

        // limit both title and subtitle to one line
        .title,
        .subtitle {
            @include mixins.limitLineCount(1, 1.25);
            word-break: break-word;
        }

        .title {
            font-weight: bold;
            color: vars.$textMain;
        }

        .subtitle {
            font-size: vars.$fontSizeXSmall;
            color: vars.$textLight;
        }
    }

    button.remove-value {
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 36px;
        width: 36px;
        color: vars.$textMain;

        .mat-icon {
            font-size: 18px;
            height: 18px;
            width: 18px;
        }
    }
}
