<div class="value-selection-wrapper">
  <div class="missing-value-msg" *ngIf="!selectedValues()?.length; else valueSelection">
    Noch keine Auswahl vorhanden.
  </div>
  <ng-template #valueSelection>
    <ng-container [formGroup]="form">
      <ng-container formArrayName="selections">
        <mat-card
          class="selected-value-card"
          *ngFor="let value of selectionsArray.controls; let i = index; trackBy: trackByIndex"
        >
          <mat-checkbox
            class="check"
            color="primary"
            [formControlName]="i"
            (change)="onCheckboxChange($event, i)"
          ></mat-checkbox>

          <div class="value-text" *ngIf="selectedValues()[i] as selectedValue">
            <div class="title">
              {{ selectedValue.label }}
            </div>
            <div
              class="subtitle"
              *ngIf="selectedValue.hint && selectedValue.label !== selectedValue.hint"
            >
              {{ selectedValue.hint }}
            </div>
          </div>

          <button
            mat-icon-button
            [attr.aria-label]="'CLICKTOREMOVE' | translate"
            class="remove-value"
            (click)="onRemove(i)"
          >
            <i esIcon="close"></i>
          </button>
        </mat-card>
      </ng-container>
    </ng-container>
  </ng-template>
</div>
