@if (selectedValues()?.length) {
<div class="value-selection-wrapper">
  <ng-container [formGroup]="form">
    <ng-container formArrayName="selections">
      @for (value of selectionsArray.controls; track trackByIndex($index); let i = $index) {
      <mat-card class="selected-value-card">
        <mat-checkbox
          class="check"
          color="primary"
          [formControlName]="i"
          (change)="onCheckboxChange($event, i)"
        ></mat-checkbox>
        @if (selectedValues()[i]; as selectedValue) {
        <div class="value-text">
          <div
            class="title"
            esCheckTextOverflow
            #text="esCheckTextOverflow"
            [matTooltip]="text.hasTextOverflow() ? selectedValue.label : null"
          >
            {{ selectedValue.label }}
          </div>
          @if (selectedValue.hint && selectedValue.label !== selectedValue.hint) {
          <div class="subtitle">
            {{ selectedValue.hint }}
          </div>
          }
        </div>
        }
        <button
          mat-icon-button
          [attr.aria-label]="'CLICKTOREMOVE' | translate"
          class="remove-value"
          (click)="onRemove(i)"
        >
          <i esIcon="close"></i>
        </button>
      </mat-card>
      }
    </ng-container>
  </ng-container>
</div>
}
