<ng-container [ngTemplateOutlet]="additionalContent"></ng-container>
@if (buttonsLeft && buttonsLeft.length > 0) {
<div class="card-dialog-button-box button-box-left">
  @for (button of buttonsLeft; track button) {
  <ng-container
    [ngTemplateOutlet]="buttonsTemplate"
    [ngTemplateOutletContext]="{ $implicit: button }"
  >
  </ng-container>
  }
</div>
}
<div class="card-dialog-button-box card-dialog-button-box-right">
  @for (button of buttonsRight; track button) {
  <ng-container
    [ngTemplateOutlet]="buttonsTemplate"
    [ngTemplateOutletContext]="{ $implicit: button }"
  >
  </ng-container>
  }
</div>

<ng-template #buttonsTemplate let-button>
  @if (button.color === 'primary') {
  <button
    mat-flat-button
    color="primary"
    [disabled]="button.disabled"
    attr.data-test="dialog-button-{{ button.label }}"
    (click)="button.callback()"
  >
    {{ button.label | translate }}
  </button>
  } @if (button.color === 'standard') {
  <button
    mat-button
    color="primary"
    [disabled]="button.disabled"
    attr.data-test="dialog-button-{{ button.label }}"
    (click)="button.callback()"
  >
    {{ button.label | translate }}
  </button>
  } @if (button.color === 'danger') {
  <button
    mat-flat-button
    color="warn"
    [disabled]="button.disabled"
    attr.data-test="dialog-button-{{ button.label }}"
    (click)="button.callback()"
  >
    {{ button.label | translate }}
  </button>
  }
</ng-template>
