<ng-template #content><ng-content></ng-content></ng-template>
<ng-container *ngIf="mode === 'link'">
  <a
    *ngIf="!disabled"
    #link
    matRipple
    matRippleColor="primary"
    [routerLink]="get('routerLink')"
    [state]="getState()"
    [target]="target"
    [queryParams]="get('queryParams')"
    queryParamsHandling="merge"
    cdkMonitorElementFocus
    [attr.aria-label]="ariaLabel ? listTable?.getPrimaryTitle(node) || node.name : null"
    [attr.aria-describedby]="ariaDescribedby"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
  <!-- We use `div`s instead of `span`s here because the legacy `ListTable` component will insert
  `div` elements into this component's content. However, this will lead to invalid HTML for "button"
  mode. So really, users of this component should only insert flow content. -->
  <div *ngIf="disabled && !alwaysRipple">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
  <div *ngIf="disabled && alwaysRipple" matRipple matRippleColor="primary">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
</ng-container>
<ng-container *ngIf="mode === 'wrapper'">
  <div
    class="node-url-wrapper"
    #wrapper
    matRipple
    matRippleColor="primary"
    [matRippleDisabled]="disabled && !alwaysRipple"
    (click)="clickWrapper($event)"
    (auxclick)="clickWrapper($event)"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
  <!-- An invisible link that will by clicked programmatically by `clickWrapper()`. -->
  <a
    #link
    [routerLink]="get('routerLink')"
    [state]="getState()"
    [queryParams]="get('queryParams')"
    queryParamsHandling="merge"
    tabindex="-1"
    aria-hidden="true"
    class="cdk-visually-hidden"
  ></a>
</ng-container>
<ng-container *ngIf="mode === 'button'">
  <button
    [disabled]="disabled"
    #link
    matRipple
    matRippleColor="primary"
    [matRippleDisabled]="disabled && !alwaysRipple"
    (click)="buttonClick.emit($event)"
    cdkMonitorElementFocus
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </button>
</ng-container>
