<!--
    <div
      *ngIf="node.aspects?.includes('ccm:published')"
      class="card-top-bar-published-copy"
    >
      <div class="node-published-copy">
        <i
          esIcon="content_copy"
          [matTooltip]="'PUBLISHED_COPY_TOOLTIP' | translate"
        ></i>
      </div>
    </div>
    -->
<div class="card-top-bar-comments">
  <div
    class="node-comments"
    *ngIf="node.type === 'ccm:io'"
    (click)="
      entriesService?.onClicked({
        event: $event,
        element: node,
        source: ClickSource.Comments
      })
    "
    [matTooltip]="('COMMENTS_MULTIPLE' | translate) + ': ' + node.commentCount"
  >
    <i esIcon="comment"></i>
    <span>{{ node.commentCount }}</span>
  </div>
</div>
<div class="card-top-bar-childobjects" *ngIf="childObjectCount > 0">
  <div
    class="childobject-count"
    matTooltip="{{ 'CHILDOBJECT_COUNT' | translate : { count: childObjectCount + 1 } }}"
  >
    <span>{{ childObjectCount + 1 }}</span
    ><i esIcon="filter_none"></i>
  </div>
</div>
