@import "../../../../styles/variables.scss";

:host /deep/{
  .edusharing-autocomplete-wrapper{
    margin-bottom: 0;
  }
  .mdsEmbedded{
    #add_to_stream_title_container{
      font-weight: bold;
    }
  }
}
.wrapper {
  display:flex;
  flex-direction: column;
  height: 100%;
  >mds,>div{
  }
  mds{
    flex-grow: 1;
  }
  .audience {
    h4 {
      font-size: 12pt;
      width:100%;
    }
    margin: 0 $cardPadding*-1;
    margin-bottom: -12px;
    padding: 0 $cardPadding;
    padding-bottom: 12px;
    background-color: $actionDialogBackground;
    input[type=radio]+label{
      width:100%;
    }
    .audienceSearch{
      padding-top: 20px;
      .badge{
        background-color: #fff;
      }
      .toInvite{
        min-height: 170px;
      }
    }
  }

}
