/* Enable it via your custom variable '$customIcons' */
@if variable-exists(customIcons) {
    @if $customIcons == true {
        @font-face {
            font-family: 'Custom-Icons';
            src: url('custom-icons.eot');
            src: local('Custom-Icons'),
                url('custom-icons.eot?1pib6e#iefix') format('embedded-opentype'),
                url('custom-icons.ttf?1pib6e') format('truetype'),
                url('custom-icons.woff?1pib6e') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .custom-icons {
            /* use !important to prevent issues with browser extensions that change fonts */
            font-family: 'Custom-Icons' !important;
            speak: none;
            font-size: 24px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            /* Enable Ligatures ================ */
            letter-spacing: 0;
            -webkit-font-feature-settings: 'liga';
            -moz-font-feature-settings: 'liga=1';
            -moz-font-feature-settings: 'liga';
            -ms-font-feature-settings: 'liga' 1;
            font-feature-settings: 'liga';
            -webkit-font-variant-ligatures: discretionary-ligatures;
            font-variant-ligatures: discretionary-ligatures;

            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}
