<ng-container [ngSwitch]="item.name">
  <ng-container *ngSwitchCase="'info'">
    <i
      icon="layers"
      [altText]="'COLLECTION.INFO_REFERENCES_MULTI' | translate"
      [matTooltip]="'COLLECTION.INFO_REFERENCES_MULTI' | translate"
    ></i>
    {{ $any(node).collection?.childCollectionsCount }}
    <i
      icon="insert_drive_file"
      [altText]="'collections_content' | translate"
      [matTooltip]="'collections_content' | translate"
    ></i>
    {{ $any(node).collection?.childReferencesCount }}
  </ng-container>
  <ng-container *ngSwitchCase="'scope'">
    <i class="collectionScope" [icon]="nodeHelper.getCollectionScopeInfo($any(node)).icon"></i>
    <span>{{
      'COLLECTION.SCOPE.' + nodeHelper.getCollectionScopeInfo($any(node)).scopeName | translate
    }}</span>
  </ng-container>
</ng-container>
