<ng-container [ngSwitch]="item.name">
  <ng-container *ngSwitchCase="'info'">
    <i
      esIcon="layers"
      [altText]="'COLLECTION.INFO_REFERENCES_MULTI' | translate"
      [matTooltip]="'COLLECTION.INFO_REFERENCES_MULTI' | translate"
    ></i>
    {{ $any(node).collection?.childCollectionsCount }}
    <i
      esIcon="insert_drive_file"
      [altText]="'collections_content' | translate"
      [matTooltip]="'collections_content' | translate"
    ></i>
    {{ $any(node).collection?.childReferencesCount }}
  </ng-container>
  <ng-container *ngSwitchCase="'scope'">
    <i
      class="collectionScope"
      [esIcon]="nodeHelper.getCollectionScopeInfo($any(node)).icon"
      [matTooltip]="
        'COLLECTION.SCOPE.' + nodeHelper.getCollectionScopeInfo($any(node)).scopeName | translate
      "
      [altText]="
        'COLLECTION.SCOPE.' + nodeHelper.getCollectionScopeInfo($any(node)).scopeName | translate
      "
    ></i>
  </ng-container>
</ng-container>
