<div *ngIf="data" class="main" data-test="workspace-sidebar">
  <div class="header">
    <div class="name" data-test="workspace-sidebar-element-name">{{ data.name }}</div>
    <div class="close">
      <button mat-icon-button (click)="close()"><i class="material-icons">close</i></button>
    </div>
  </div>
  <es-spinner *ngIf="loading"></es-spinner>
  <ng-container *ngIf="!loading">
    <mat-tab-group *ngIf="!data.isDirectory; else standaloneInfoTab">
      <mat-tab>
        <ng-template mat-tab-label><i esIcon="info_outline" [aria]="true"></i></ng-template>
        <ng-content *ngTemplateOutlet="infoTab"></ng-content>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <i esIcon="equalizer"></i>
          {{ statsTotalPoints }}
        </ng-template>
        <ng-content *ngTemplateOutlet="usageTab"></ng-content>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label><i esIcon="restore"></i></ng-template>
        <ng-content *ngTemplateOutlet="versionsTab"></ng-content>
      </mat-tab>
    </mat-tab-group>

    <ng-template #standaloneInfoTab>
      <div class="standalone-container">
        <ng-content *ngTemplateOutlet="infoTab"></ng-content>
      </div>
    </ng-template>

    <ng-template #infoTab>
      <es-workspace-metadata-block
        class="content"
        [node]="nodeObject"
        (onDisplay)="display()"
        (onEditMetadata)="edit()"
      ></es-workspace-metadata-block>
    </ng-template>

    <!--Usages Info -->
    <ng-template #usageTab>
      <div class="content content-properties">
        <p class="description">{{ 'WORKSPACE.METADATA.USAGE_COUNT_TITLE' | translate }}</p>

        <canvas #canvas width="320" height="200"></canvas>
        <ul class="statistic-value">
          <li *ngFor="let point of stats.points; let i = index" class="point">
            <i class="material-icons">{{ stats.pointsIcons[i] }}</i> {{ point }}
          </li>
        </ul>
        <p class="description usage-count">
          {{ 'WORKSPACE.METADATA.USAGE_COUNT' | translate }}
          <span class="usage-counter">{{ statsTotalPoints }}</span>
        </p>
        <p class="description collections" *ngIf="!usagesCollection.isEmpty()">
          {{
            'WORKSPACE.METADATA.COLLECTIONS'
              | translate : { count: (usagesCollectionData | async).length }
          }}
        </p>
        <es-node-entries-wrapper
          *ngIf="!usagesCollection.isEmpty()"
          [dataSource]="usagesCollection"
          [columns]="columnsCollections"
          [displayType]="NodeEntriesDisplayType.SmallGrid"
          [elementInteractionType]="InteractionType.DefaultActionLink"
        ></es-node-entries-wrapper>
        <div class="description forkedParend" *ngIf="forkedParent">
          {{ 'WORKSPACE.METADATA.FORKED_PARENT' | translate }}
        </div>
        <es-node-entries-wrapper
          *ngIf="forkedParent"
          [dataSource]="staticDataSource(forkedParent)"
          [columns]="columns"
          [checkbox]="false"
          [displayType]="NodeEntriesDisplayType.Table"
          [elementInteractionType]="InteractionType.DefaultActionLink"
        ></es-node-entries-wrapper>
        <div class="description forkedParend" *ngIf="!forkedChildren.isEmpty()">
          {{
            'WORKSPACE.METADATA.FORKED_CHILDS'
              | translate : { count: forkedChildren.getData().length }
          }}
        </div>
        <es-node-entries-wrapper
          *ngIf="!forkedChildren.isEmpty()"
          [dataSource]="forkedChildren"
          [columns]="columns"
          [checkbox]="false"
          [displayType]="NodeEntriesDisplayType.Table"
          [elementInteractionType]="InteractionType.DefaultActionLink"
        ></es-node-entries-wrapper>
      </div>
    </ng-template>

    <ng-template #versionsTab>
      <div class="content content-versions">
        <div *ngIf="versionsLoading" class="center"><es-spinner></es-spinner></div>
        <div
          *ngFor="let version of versions"
          class="version"
          [class.versionMain]="isCurrentVersion(version)"
        >
          <div class="versionTitle">
            <span *ngIf="isCurrentVersion(version)">{{
              'WORKSPACE.METADATA.CURRENT_VERSION' | translate
            }}</span>
            <span *ngIf="!isCurrentVersion(version)">{{
              'WORKSPACE.METADATA.VERSION' | translate
            }}</span>
            ({{ version.version.major }}.{{ version.version.minor }})
          </div>
          <div class="versionAuthor">
            {{ version.modifiedBy.firstName }} {{ version.modifiedBy.lastName }}
          </div>
          <div class="versionDate">{{ version.modifiedAt | formatDate }}</div>
          <div class="versionComment">{{ version | versionComment }}</div>
          <button mat-button (click)="displayVersion(version)">
            <i [esIcon]="'remove_red_eye'"></i>
            {{ 'WORKSPACE.METADATA.VIEW_VERSION' | translate }}
          </button>
          <button
            *ngIf="!isCurrentVersion(version)"
            mat-button
            [class.disabled]="!canRevert()"
            (click)="restoreVersion(version)"
          >
            <i [esIcon]="'restore'"></i>
            {{ 'WORKSPACE.METADATA.RESTORE' | translate }}
          </button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
