@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;

:host {
    display: flex;
}

:host ::ng-deep {
    mat-header-row {
        display: none;
    }
}
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    > es-spinner {
        display: flex;
        justify-content: center;
        margin-top: 30%;
    }
}
.mimetype {
    word-break: break-all;
    padding-left: 5px;
}

mat-tab-group {
    min-height: 0;
}

mat-tab-group ::ng-deep mat-tab-header {
}

.standalone-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.versionTitle {
    font-weight: bold;
}
.versionComment {
    font-style: italic;
    padding-bottom: 10px;
}
.versionAuthor {
    line-height: 1.25;
}
.versionDate {
    color: $textLight;
}
.button-actions {
    display: flex;
    gap: 10px;
}
.content {
    padding: 0 20px;
}

.content-properties {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
}

.content-versions {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p.description {
    margin-top: 0;
    margin-bottom: 12px;
}

.license-value {
    padding-top: 4px;
    display: flex;
    .license {
        padding-right: 6px;
        height: 21px;
    }
}
