@if (data) {
<img
  class="preview clickable"
  (click)="display.emit(_node)"
  [src]="
    _node | esNodeImage : (isAnimated() ? {} : { crop: true, width: 600, height: 450 }) | async
  "
/>
<div class="metadata-container">
  @if (canEdit()) {
  <button mat-icon-button class="edit" (click)="editMetadata.emit(_node)">
    <i class="material-icons">edit</i>
  </button>
  }
  <div class="metadata">
    <div data-test="sidebar-details-meta-name">
      <div class="description">{{ 'NODE.cm:name' | translate }}</div>
      <div class="value">{{ data.name }}</div>
    </div>
    @if (data.title) {
    <div data-test="sidebar-details-meta-title">
      <div class="description">{{ 'NODE.cclom:title' | translate }}</div>
      <div class="value">{{ data.title }}</div>
    </div>
    } @if (data.keywords) {
    <div data-test="sidebar-details-meta-keywords">
      <div class="description">
        {{ 'NODE.cclom:general_keyword' | translate }}
      </div>
      <div class="value">
        @for (keyword of data.keywords; track keyword) {
        <div class="badge">
          <span class="text">{{ keyword }}</span>
        </div>
        }
      </div>
    </div>
    } @if (data.description) {
    <div data-test="sidebar-details-meta-description">
      <div class="description">{{ 'NODE.description' | translate }}</div>
      <div class="value descriptionValue">{{ data.description }}</div>
    </div>
    } @if (data.author_freetext) {
    <div data-test="sidebar-details-meta-author-freetext">
      <div class="description">
        {{ 'NODE.ccm:author_freetext' | translate }}
      </div>
      <div class="value valueFreetext">{{ data.author_freetext }}</div>
    </div>
    } @if (data.author) {
    <div data-test="sidebar-details-meta-author">
      <div class="description">
        {{ 'NODE.ccm:lifecyclecontributer_authorFN' | translate }}
      </div>
      <div class="value">{{ data.author }}</div>
    </div>
    }
    <div data-test="sidebar-details-meta-creator">
      <div class="description">{{ 'NODE.cm:creator' | translate }}</div>
      <div class="value">{{ data.creator }}<br />{{ data.createDate }}</div>
    </div>
    <div data-test="sidebar-details-meta-mimetype">
      <div class="description">{{ 'NODE.mimetype' | translate }}</div>
      <div class="value">
        @if (data.mediatype && !data.isDirectory) {
        <span>{{ 'MEDIATYPE.' + data.mediatype | translate }}</span>
        } @if (!data.mediatype) {
        <span>{{ 'MEDIATYPE.file' | translate }}</span>
        } @if (data.isDirectory && !data.isCollection) {
        <span>{{ 'MEDIATYPE.folder' | translate }}</span>
        } @if (data.isCollection) {
        <span>{{ 'MEDIATYPE.collection' | translate }}</span>
        } @if (data.mimetype && data.mediatype !== data.mimetype && !data.isDirectory) {
        <span class="mimetype">({{ data.mimetype }})</span>
        }
      </div>
    </div>
    @if (data.exifDate) {
    <div data-test="sidebar-details-meta-exif-date">
      <div class="description">
        {{ 'NODE.exif:dateTimeOriginal' | translate }}
      </div>
      <div class="value">{{ data.exifDate }}</div>
    </div>
    } @if (data.dimensions) {
    <div data-test="sidebar-details-meta-dimensions">
      <div class="description">{{ 'NODE.dimensions' | translate }}</div>
      <div class="value">{{ data.dimensions }}</div>
    </div>
    } @if (data.duration) {
    <div data-test="sidebar-details-meta-duration">
      <div class="description">{{ 'NODE.cclom:duration' | translate }}</div>
      <div class="value">{{ data.duration }}</div>
    </div>
    } @if (!data.isDirectory) {
    <div data-test="sidebar-details-meta-size">
      <div class="description">{{ 'NODE.size' | translate }}</div>
      @if (data.size) {
      <div class="value">{{ data.size | formatSize }}</div>
      } @if (!data.size) {
      <div class="value">{{ 'NO_SIZE' | translate }}</div>
      }
    </div>
    } @if (permissions) {
    <div data-test="sidebar-details-meta-permissions">
      @if (permissions.users.length) {
      <div class="description">
        {{ 'WORKSPACE.METADATA.INVITED_USERS' | translate }}
      </div>
      } @if (permissions.users.length) {
      <div class="value">
        @for (authority of permissions.users; track authority) {
        <div>{{ authority | permissionName }}</div>
        }
      </div>
      } @if (permissions.groups.length) {
      <div class="description">
        {{ 'WORKSPACE.METADATA.INVITED_GROUPS' | translate }}
      </div>
      } @if (permissions.groups.length) {
      <div class="value">
        @for (authority of permissions.groups; track authority) {
        <div>{{ authority | permissionName }}</div>
        }
      </div>
      }
    </div>
    } @if (data.license | async; as license) {
    <div data-test="sidebar-details-meta-license">
      <div class="description">
        {{ 'NODE.ccm:commonlicense_key' | translate }}
      </div>
      <div class="value license-value">
        <img class="license" [src]="license" />
        <div class="licenseName">{{ data.licenseName }}</div>
      </div>
    </div>
    } @if (connector.getCurrentLogin()?.isAdmin) {
    <div data-test="sidebar-details-meta-admin">
      <div class="description">{{ 'Aspects' }}</div>
      <div class="value">
        @for (aspect of data.aspects; track aspect) {
        <div class="aspect">{{ aspect }}</div>
        }
      </div>
      @for (property of data.properties; track property) {
      <div>
        <div class="description">{{ property[0] }}</div>
        <div class="value">{{ property[1] }}</div>
      </div>
      }
    </div>
    }
  </div>
</div>
}
