@if (dataLoaded) {
<div class="main" data-test="workspace-sidebar">
  @if (loading) {
  <es-spinner></es-spinner>
  } @if (!loading) {
  <div class="content content-versions">
    @if (versionsLoading) {
    <div class="center"><es-spinner></es-spinner></div>
    } @for (version of versions; track version) {
    <div class="version" [class.versionMain]="isCurrentVersion(version)">
      <div class="versionTitle">
        @if (isCurrentVersion(version)) {
        <span>{{ 'WORKSPACE.METADATA.CURRENT_VERSION' | translate }}</span>
        } @if (!isCurrentVersion(version)) {
        <span>{{ 'WORKSPACE.METADATA.VERSION' | translate }}</span>
        } ({{ version.version.major }}.{{ version.version.minor }})
      </div>
      <div class="versionAuthor">
        {{ version.modifiedBy.firstName }} {{ version.modifiedBy.lastName }}
      </div>
      <div class="versionDate">{{ version.modifiedAt | formatDate }}</div>
      <div class="versionComment">{{ version | versionComment }}</div>
      <div class="button-actions">
        <button mat-flat-button color="primary" (click)="displayVersion(version)">
          <i [esIcon]="'remove_red_eye'"></i>
          {{ 'WORKSPACE.METADATA.VIEW_VERSION' | translate }}
        </button>
        @if (!isCurrentVersion(version)) {
        <button
          mat-flat-button
          color="warn"
          [class.disabled]="!canRevert()"
          (click)="restoreVersion(version)"
        >
          <i [esIcon]="'restore'"></i>
          {{ 'WORKSPACE.METADATA.RESTORE' | translate }}
        </button>
        }
      </div>
    </div>
    }
  </div>
  }
</div>
}
