$titleHeight:70px;
$actionMenuHeight:70px;
$tabHeight:48px;
$jumpmarksWidth:200px;
$nonModalPadding:20px;
$height-small:400px;
$height-normal:500px;
$height-large:600px;
$height-xlarge:700px;
$height-xxlarge:800px;
