<es-global-progress *ngIf="globalProgress"></es-global-progress>
<div class="content" *ngIf="!globalProgress">
    <div class="preview">
        <img [src]="previewUrl">
        <div class="info">
            <div class="type">{{'MEDIATYPE.'+getType() | translate}}</div>
            <div class="label">{{title ? title : uri}}</div>
            <div class="description" *ngIf="description">{{description}}</div>
        </div>
    </div>
    <div class="location">
        {{'SHARE_APP.WILL_BE_SAVED_AT' | translate}}:
        <div class="breadcrumbs" *ngIf="inbox">
            <i class="material-icons">home</i>
            <div>&rsaquo;</div>
            <div>{{inbox.name}}</div>
        </div>
    </div>
    <div class="collections">
        <div class="addToCollection">
            {{'SHARE_APP.ADD_TO_COLLECTION' | translate}}
        </div>
        <es-spinner *ngIf="loading"></es-spinner>
        <es-listTable
                [nodes]="collections"
                [columns]="columns"
                [hasIcon]="true"
                [validatePermissions]="hasWritePermissions"
                [hasCheckbox]="false"
                [hasHeading]="false"
                [isClickable]="true"
                [viewType]="2"
                (clickRow)="saveToCollection($event.node)"
        ></es-listTable>
      <div class="save">
        <button mat-flat-button color="primary" (click)="saveFile()"><i esIcon="folder"></i><span>{{'SAVE' | translate}}</span></button>
      </div>
    </div>
</div>
