<div
  role="main"
  esSkipTarget="MAIN_CONTENT"
  class="collections-master-div"
  [class.collections-master-div-mainnav]="mainnav"
>
  @if (isLoading) {
  <es-global-progress></es-global-progress>
  } @if (!isLoading) {
  <div class="createContainer">
    @if (newCollectionStep !== STEP_NEW) {
    <div class="createProgress">
      @for (step of availableSteps; track step; let i = $index) {
      <div
        (click)="i < currentStepPosition() ? (newCollectionStep = step) : null"
        [class.current]="step === newCollectionStep"
        [class.finished]="i < currentStepPosition()"
      >
        <div class="circle"></div>
        <i [esIcon]="STEP_ICONS[step]"></i>
        <div class="label">{{ 'COLLECTIONS.STEP.' + step | translate }}</div>
        <div class="connection"></div>
      </div>
      }
      <div class="finish">
        <div class="circle"></div>
        <div class="label">{{ 'COLLECTIONS.STEP.DONE' | translate }}</div>
      </div>
    </div>
    } @if (newCollectionStep === STEP_NEW) {
    <es-card
      class="collection-new-container"
      width="normal"
      height="auto"
      modal="auto"
      title="{{ 'COLLECTIONS.CREATE_TYPE' | translate }}"
      (cancel)="newCollectionCancel()"
    >
      <div class="createCollection collectionShadow">
        <button
          mat-button
          class="collection-item clickable collection-item-scope-my"
          (click)="setCollectionType('MY')"
          data-test="create-private-collection-button"
        >
          <div class="iconLeft"><i esIcon="lock" style="color: #995b5b"></i></div>
          <div class="content">
            <div class="title">{{ 'COLLECTIONS.CREATE.PRIVATE' | translate }}</div>
            <div class="description">
              {{ 'COLLECTIONS.CREATE.PRIVATE_DESCRIPTION' | translate }}
            </div>
          </div>
          <i esIcon="keyboard_arrow_right" class="next"></i>
        </button>
        @if (canInvite) {
        <button
          mat-button
          class="collection-item clickable collection-item-scope-custom"
          (click)="setCollectionType('CUSTOM')"
          data-test="create-shared-collection-button"
        >
          <div class="iconLeft"><i esIcon="group" style="color: #4f7899"></i></div>
          <div class="content">
            <div class="title">{{ 'COLLECTIONS.CREATE.SHARED' | translate }}</div>
            <div class="description">{{ 'COLLECTIONS.CREATE.SHARED_DESCRIPTION' | translate }}</div>
          </div>
          <i esIcon="keyboard_arrow_right" class="next"></i>
        </button>
        } @if (shareToAll && canInvite) {
        <button
          mat-button
          class="collection-item clickable collection-item-scope-public"
          (click)="setCollectionType('EDU_ALL')"
          data-test="create-public-collection-button"
        >
          <div class="iconLeft"><i esIcon="public" style="color: #5c998f"></i></div>
          <div class="content">
            <div class="title">{{ 'COLLECTIONS.CREATE.PUBLIC' | translate }}</div>
            <div class="description">{{ 'COLLECTIONS.CREATE.PUBLIC_DESCRIPTION' | translate }}</div>
          </div>
          <i esIcon="keyboard_arrow_right" class="next"></i>
        </button>
        } @if (createEditorial && shareToAll) {
        <div class="group">
          @if (createEditorial) {
          <button
            mat-button
            class="collection-item clickable collection-item-scope-editorial"
            (click)="setCollectionType('EDITORIAL')"
            data-test="create-editorial-collection-button"
          >
            <div class="iconLeft"><i esIcon="star" style="color: #e9b42a"></i></div>
            <div class="content">
              <div class="title">{{ 'COLLECTIONS.CREATE.EDITORIAL' | translate }}</div>
              <div class="description">
                {{ 'COLLECTIONS.CREATE.EDITORIAL_DESCRIPTION' | translate }}
              </div>
            </div>
            <i esIcon="keyboard_arrow_right" class="next"></i>
          </button>
          }
          <!--
                <div class="collection-item clickable" *ngIf="createCurriculum" (click)="setCollectionType('CURRICULUM')">
                  <div class="iconLeft"><i esIcon="school" style="color:#995C99;">school</i></div>
                  <div class="content">
                    <div class="title">{{'COLLECTIONS.CREATE.CURRICULUM' | translate}}</div>
                    <div class="description">{{'COLLECTIONS.CREATE.CURRICULUM_DESCRIPTION' | translate}}</div>
                  </div>
                  <i esIcon="keyboard_arrow_right" class="next"></i>
                </div>
              -->
        </div>
        } @if (createMediacenter) {
        <button
          mat-button
          class="collection-item clickable"
          (click)="setCollectionType('MEDIA_CENTER')"
          data-test="create-media-center-button"
        >
          <div class="iconLeft"><i esIcon="domain" style="color: #4e4b99"></i></div>
          <div class="content">
            <div class="title">{{ 'COLLECTIONS.CREATE.MEDIA_CENTER' | translate }}</div>
            <div class="description">
              {{ 'COLLECTIONS.CREATE.MEDIA_CENTER_DESCRIPTION' | translate }}
            </div>
          </div>
          <i esIcon="keyboard_arrow_right" class="next"></i>
        </button>
        }
      </div>
    </es-card>
    } @if (newCollectionStep === STEP_GENERAL) {
    <es-card
      [buttons]="buttons"
      [isCancelable]="true"
      (cancel)="newCollectionCancel()"
      title="{{ 'collectionNew_preview' | translate }}"
      [subtitle]="currentCollection.title"
      modal="auto"
      width="xsmall"
      height="auto"
    >
      <div class="collection-general">
        <div class="collectionImage">
          <!-- reuse the MDS preview widget so the image sources (upload / clipboard / search)
               stay in sync with the node preview widget. Host-controlled: it hands back the
               chosen file/delete via (previewChange) and this component persists it on save -->
          <es-mds-editor-widget-preview
            [standalone]="true"
            [deleteAsOption]="true"
            [standaloneNode]="$any(currentCollection)"
            (previewChange)="onPreviewChange($event)"
          >
            <ng-template #previewPlaceholder>
              <div class="card-collection-icon-container">
                <div class="card-image-distance"></div>
                <div
                  class="card-image-icon-container"
                  [style.background-color]="currentCollection.collection.color"
                >
                  <i esIcon="layers"></i>
                </div>
              </div>
            </ng-template>
          </es-mds-editor-widget-preview>
        </div>
        <div
          class="collection-new-preview-infoarea"
          [style.background-color]="currentCollection.collection.color + '33'"
        >
          <div class="dialog-basic-area dialog-input-area">
            <mat-form-field>
              <mat-label>{{ 'collectionNew_placeholderTitle' | translate }}</mat-label>
              <!-- Autofocus and autocomplete don't work well together here, because the
                  autocomplete list will open before the card animation finishes. -->
              <input
                matInput
                class="title"
                [(ngModel)]="currentCollection.title"
                autofocus
                autocomplete="off"
                data-test="new-collection-name-input"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'collectionNew_placeholderDescription' | translate }}</mat-label>
              <textarea matInput [(ngModel)]="currentCollection.collection.description"></textarea>
            </mat-form-field>
          </div>
          <div class="collection-new-owner">
            @if (!authorFreetext) {
            <i esIcon="person"></i>
            <span>{{ user | authorityName }}</span>
            @if (authorFreetextAllowed) {
            <button
              mat-icon-button
              [attr.aria-label]="
                'EDIT' | translate : { thing: ('COLLECTIONS.NEW.AUTHOR_FREETEXT' | translate) }
              "
              (click)="switchToAuthorFreetext()"
            >
              <i esIcon="edit"></i>
            </button>
            } } @if (authorFreetext) {
            <i esIcon="person"></i>
            <mat-form-field class="mat-form-field-no-padding">
              <mat-label id="collection-new-author-freetext-label">
                {{ 'COLLECTIONS.NEW.AUTHOR_FREETEXT' | translate }}
              </mat-label>
              <input
                #authorFreetextInput
                matInput
                [disabled]="!authorFreetextAllowed"
                [(ngModel)]="currentCollection.collection.authorFreetext"
              />
            </mat-form-field>
            <button
              mat-icon-button
              [attr.aria-label]="'CANCEL' | translate"
              aria-describedby="collection-new-author-freetext-label"
              (click)="cancelAuthorFreetext()"
            >
              <i esIcon="close"></i>
            </button>
            }
          </div>
          <div class="dialog-basic-area dialog-color-group">
            <div id="collection-new-color-picker-label" class="collection-new-preview-infoline">
              {{ 'collectionNew_setColor' | translate }}
            </div>
            <ul
              class="color-group"
              aria-labelledby="collection-new-color-picker-label"
              tabindex="0"
              role="listbox"
              aria-orientation="horizontal"
              cdkMonitorElementFocus
              (keydown.arrowright)="setColorByDirection($event)"
              (keydown.arrowup)="setColorByDirection($event)"
              (keydown.arrowleft)="setColorByDirection($event)"
              (keydown.arrowdown)="setColorByDirection($event)"
              [attr.aria-activedescendant]="
                COLORS.indexOf(currentCollection.collection.color) !== -1
                  ? 'collection-new-color-picker-option-' +
                    COLORS.indexOf(currentCollection.collection.color)
                  : null
              "
            >
              @for (color of COLORS; track color; let index = $index) {
              <li
                id="collection-new-color-picker-option-{{ index }}"
                role="option"
                class="color-option"
                [ngClass]="{ 'color-selected': currentCollection.collection.color === color }"
                [attr.aria-selected]="currentCollection.collection.color === color"
                [style.background-color]="color"
                (click)="setColor(color)"
              >
                <span class="cdk-visually-hidden">
                  {{ 'collectionNew_colorIndex' | translate : { index: index + 1 } }}
                </span>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </es-card>
    } @if (newCollectionStep === STEP_METADATA) {
    <es-card
      title="{{ 'COLLECTIONS.STEP.METADATA' | translate }}"
      [subtitle]="currentCollection.title"
      [isCancelable]="true"
      (cancel)="newCollectionCancel()"
      modal="auto"
      width="large"
      height="xlarge"
      [buttons]="buttons"
      class="collection-metadata"
    >
      <div class="card-content">
        <es-mds-editor-wrapper
          #mds
          [groupId]="
            newCollectionType === 'EDITORIAL'
              ? editorialCollectionsConfig.metadataGroup
              : 'collection_' + newCollectionType.toLowerCase()
          "
          [setId]="mdsSet"
          [editorMode]="'form'"
          [embedded]="true"
          [currentValues]="properties"
        ></es-mds-editor-wrapper>
      </div>
    </es-card>
    } @if (newCollectionStep === STEP_EDITORIAL_GROUPS) {
    <es-card
      title="{{ 'COLLECTIONS.STEP.EDITORIAL_GROUPS' | translate }}"
      [subtitle]="currentCollection.title"
      [isCancelable]="true"
      (cancel)="newCollectionCancel()"
      modal="auto"
      width="large"
      height="xxlarge"
      [buttons]="buttons"
      class="collection-metadata"
    >
      <div class="editorial-group">
        <div class="editorial-list">
          @if (!shareToAll) {
          <div class="noPermission">
            <h4>{{ 'TOOLPERMISSION_ERROR_HEADER' | translate }}</h4>
            <h5>{{ 'TOOLPERMISSION.TOOLPERMISSION_INVITE_ALLAUTHORITIES' | translate }}</h5>
          </div>
          }
          <es-node-entries-wrapper
            #organizations
            [dataSource]="editorialGroups"
            [displayType]="NodeEntriesDisplayType.Table"
            [columns]="editorialColumns"
            [sort]="{
              active: null,
              direction: 'asc',
              columns: [],
              allowed: false
            }"
            [elementInteractionType]="InteractionType.Emitter"
            (clickItem)="organizations.getSelection().toggle($event.element)"
          >
            <ng-template #empty>
              <div class="noGroups">{{ 'COLLECTIONS.NO_EDITORIAL_GROUPS' | translate }}</div>
            </ng-template>
          </es-node-entries-wrapper>
        </div>
        <div class="editorial-public">
          <mat-slide-toggle [(ngModel)]="editorialPublic" color="primary">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'COLLECTIONS.EDITORIAL_PUBLIC' | translate }}
              </ng-container>
              <ng-container slot="description">
                {{ 'COLLECTIONS.EDITORIAL_PUBLIC_INFO' | translate }}
              </ng-container>
            </es-multi-line-label>
          </mat-slide-toggle>
        </div>
      </div>
    </es-card>
    } @if (newCollectionStep === STEP_PERMISSIONS) {
    <es-card
      title="{{ 'COLLECTIONS.EDIT_PERMISSIONS' | translate }}"
      modal="auto"
      [isCancelable]="true"
      (cancel)="newCollectionCancel()"
      [buttons]="buttons"
      width="xxlarge"
      height="xxlarge"
      [subtitle]="currentCollection.title"
      class="collection-permission-container"
    >
      <div class="card-content">
        <div class="title">{{ 'COLLECTIONS.EDIT_PERMISSIONS_SUBTEXT' | translate }}</div>
        <div class="description">{{ 'COLLECTIONS.EDIT_PERMISSIONS_DESCRIPTION' | translate }}</div>
        @if (shareConfig) {
        <es-share-dialog
          [dataInput]="shareConfig"
          (permissionsChange)="setPermissions($event)"
        ></es-share-dialog>
        }
      </div>
    </es-card>
    }
  </div>
  }
</div>
