<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <!--title th:text="${#messages.get(titleKey)}"></title-->
        <title th:text="#{${titleKey}}"></title>

        <!-- Always-available base style -->
        <th:block th:replace="~{html/style :: style}"/>
        <!-- Optional, dynamic style fragment -->
        <th:block th:if="${templateStyle}" th:replace="~{${templateStyle} :: style}"/>
    </head>
    <body>
            <div>
                <div class="logo">
                    <img src="cid:logo.png"/>
                </div>
            </div>
            <div class="content" th:insert="~{${template} :: content}"></div>
            <div class="footer" th:insert="~{html/footer :: footer}">
                <a href="http://edu-sharing.com" style="float:left;">www.edu-sharing.com</a>
                <a href="https://twitter.com/edusharing" style="float:right;">@edusharing</a>
            </div>
    </body>
</html>