@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;

// methodology tab related styles
.methodology-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .dropdown-selection,
    .template-toggle,
    .create-template {
        &:not(.mat-mdc-button-disabled) {
            color: var(--primary);
        }
    }

    .template-actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: flex-end;

        .template-selection {
            padding-right: 8px;
            border-right: 1px solid var(--primary);
        }
    }

    .select-template-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .select-template-header {
            display: flex;
            gap: 8px;
            align-items: center;
            font-size: vars.$fontSizeXLarge;
            font-weight: bold;
        }

        .select-template-list {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .template-list-item {
                padding: 4px 0;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid #ccc;

                &.last-list-item {
                    border-bottom: 1px solid #ccc;
                }

                .template-title,
                .template-actions {
                    display: flex;
                    align-items: center;
                }

                .template-title {
                    flex-shrink: 0;
                }
            }
        }
    }
}
