@if (initialized()) {
<div class="media-rendering">
  @if (selectedNode) {
  <div class="render-content" [class.selected]="sidebarOpen()">
    @if (layoutWithTitle()) {
    <div
      #div
      class="render-title"
      esCheckTextOverflow
      #text="esCheckTextOverflow"
      [matTooltip]="text.hasTextOverflow() ? div.innerText : null"
      [innerHTML]="selectedNodeTitle()"
    ></div>
    } @if (selectedNode) {
    <es-render-wrapper-component
      [showTopbar]="false"
      [showMetadata]="false"
      [nodeId]="selectedNode.ref.id"
      [repository]="selectedNode.ref.repo"
    ></es-render-wrapper-component>
    } @if (layout() === MediaRenderingLayout.TitlePreviewButtons) {
    <div class="render-buttons">
      <a
        mat-stroked-button
        color="primary"
        [href]="selectedNode.properties['ccm:wwwurl']?.[0] ?? selectedNode.content.url"
        target="_blank"
      >
        {{ i18nPrefix + 'TO_ORIGINAL_PAGE' | translate }}
        <i esIcon="open_in_new"></i>
      </a>
      <button mat-flat-button color="primary" (click)="itemClicked()">
        {{
          sidebarOpen()
            ? (i18nPrefix + 'HIDE_DETAILS' | translate)
            : (i18nPrefix + 'SHOW_DETAILS' | translate)
        }}
      </button>
    </div>
    }
  </div>
  } @else {
  <es-info-message mode="info" class="info-message">
    {{ i18nPrefix + 'NO_ELEMENT_SELECTED' | translate }}
  </es-info-message>
  }
  <!-- color + configuration buttons -->
  @if (editMode()) {
  <es-widget-configuration-buttons
    [ariaLabel]="i18nPrefix + 'CONFIG_ARIA' | translate"
    [(layout)]="layout"
    [layoutOptions]="layoutOptions"
    [optionOne]="{
      icon: 'search',
      isVisible: true,
      text: nodeId
        ? (i18nPrefix + 'CHANGE_CONTENT' | translate)
        : (i18nPrefix + 'SELECT_CONTENT' | translate),
      tooltip: (i18nPrefix + 'SELECT_CONTENT_TOOLTIP' | translate),
    }"
    [optionTwo]="embedConfigurationOption"
    [pageVariantNode]="pageVariantNode"
    [swimlaneIndex]="swimlaneIndex"
    [updateInProgress]="updateInProgress()"
    (layoutChange)="layoutChanged()"
    (optionOneClicked)="openReurlLink()"
    (optionTwoClicked)="embedWidget()"
  ></es-widget-configuration-buttons>
  }
</div>
} @else {
<es-spinner></es-spinner>
}
