@import "../../../styles/variables.scss";

.stream-container{
    padding-top: $mainnavHeight;
}

.removepadding{
    padding-left: 0 !important;
}

.main-stream{
    padding-left: 25px;
}

.fix-icon-padding{
    padding-right: 15px;
}

.choose-menu{
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;   
    cursor: pointer;
}

.m-inactive{
    border-left: 4px solid #f6f6f6;
}

.m-active{
    border-left: 4px solid #48708e;
    background-color: white;
}

.margin-show{

    padding-top: 15px;
}

.customfloat{
    float: left;
}

.stream-header{
    padding-left: 20px;
}

.stream-box{
    background-color: white;
    margin: 15px 0px;
}

.stream-title-date{
    font-size: 10px;
    color: grey;
}

.stream-title{
    font-weight: bold;
    font-size: 28px;
}

.stream-box-title{
    padding: 15px 15px 0px 15px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.stream-box-main{
    display: inline-block;
}
.stream-box-main-vert{
   
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}

.stream-box-desc{
    padding-top: 15px;
    padding-left: 15px;
    
}

.stream-box-kompetenzen{
    padding: 15px;
    
}

.stream-box-image{
    padding: 1px;
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
    
}

.bottom-left {
    position: absolute;
    bottom: 12px;
    left: 18px;
}

.bottom-right {
    position: absolute;
    bottom: 12px;
    right: 18px;
}


.stream-box-footer{
    border-top: 2px solid black;
    padding: 5px 15px 5px 15px;
}

.stream-box-comment{
    width: 8%;
    display: inline-block;
    font-size: 18px;
}

.stream-box-imgname{
    width: 60%;
    display: inline-block;
}

.stream-box-rating{
    width: 32%;
    display: inline-block;
}

.stic{
    font-size: 18px;
}

.stream-header-left{
    width: 70%;
    display: inline-block;    
}

.stream-header-right{
    display: inline-block;
}

.stream-uppericon{
    font-size: 19px;
    display: inline-block;
}

.stream-uppertext{
    font-size: 19px;
    padding-left: 10px;
    display: inline-block;
    text-decoration: underline;
}

.fix-up{
    padding-top: 10px;
}