<main-nav #mainNav
          [title]="'STREAM.TITLE'"
          [currentScope]="'stream'"
          [searchEnabled]="false"
          [searchPlaceholder]="'STREAM.SEARCH_PLACEHOLDER'"
          [(searchQuery)]="searchQuery"
          (onSearch)="doSearch($event)"
></main-nav>
<workspace-management
    [(addToCollection)]="collectionNodes"
></workspace-management>
<div class="stream-container" infiniteScroll
[scrollWindow]="true"
(scrolled)="onScroll()"
(click)="closeMenuOptions()">
<div class="row">
    <div class="rowRepositories row tab-group row-dark scrollWithBanner arrow-menu-arrow">
        <div class="col s12">
            <ul class="tabs no-bgbottom tabsRepositories tabs-fixed-width">
                <li class="clickable tab col s3" tabindex="0" (click)="goToOption('new')">
                        <a [class.active]="menuOption == 'new' ? true : false"><span class="repositoryTitle">{{'STREAM.MENU.OPTION1' | translate }}</span></a>
                </li>
                <li class="clickable tab col s3" tabindex="0" (click)="goToOption('seen')">
                        <a [class.active]="menuOption == 'seen' ? true : false"><span class="repositoryTitle">{{'STREAM.MENU.OPTION2' | translate }}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col m4 l3 choose-menu-main" [ngClass]="showMenuOptions ? '' : 'hideMenu'">
            <div class="choose-menu" (click)="goToOption('new')" [ngClass]="menuOption == 'new' ? 'm-active' : 'm-inactive'">
                <i class="menuic material-icons ">date_range</i> <div class="menu-icon-text">{{'STREAM.MENU.OPTION1' | translate }}</div>
            </div>
            <div class="choose-menu" (click)="goToOption('seen')" [ngClass]="menuOption == 'seen' ? 'm-active' : 'm-inactive'">
                <i class="menuic material-icons ">visibility</i> <div class="menu-icon-text">{{'STREAM.MENU.OPTION2' | translate }}</div>
            </div>
    </div>
    <div class="col s12 m7 l6 remove-horizontal-padding">
        <div class="margin-show">

        <div class="stream-header-left row stream-marginfix">
            <div *ngIf="menuOption == 'new'" class="stream-title col s10 m12">{{'STREAM.MENU.OPTION1' | translate }}  </div>
            <div *ngIf="menuOption == 'seen'" class="stream-title col s10 m12">{{'STREAM.MENU.OPTION2' | translate }}  </div>
            
            <span id="stream-title-date" class="stream-title-date col s12 m12">
                {{dateToDisplay}}
            </span>

        </div>
        <div *ngIf="streams.length === 0 && imagesToLoad !== 0"><spinner></spinner></div>
        <!--<div class="stream-emptytxt" *ngIf="!allImagesLoaded">
                <div *ngIf="imagesToLoad !== 0"><spinner></spinner></div>
        </div>-->
        <div class="stream-emptytxt" *ngIf="streams.length === 0">
            <div *ngIf="imagesToLoad === 0">{{'STREAM.OBJECT.NOMATERIALS' | translate }} </div>    
        </div>    

        <div *ngFor="let strm of streams" [ngClass]="strm.nodes.length === 0 ? 'hide' : 'stream-box'" >
           <div class="row row-nomargin" >
                <div class="stream-box-icon col s1 " *ngIf="strm.nodes[0]">
                    <img src="{{strm.nodes[0].iconURL}}" alt="" class="stream-icon">
                </div>
                <div class="stream-box-title col s9" (click)="onStreamObjectClick(strm)"> <span *ngIf="strm.properties['add_to_stream_title']">{{ strm.properties['add_to_stream_title'] }}</span> <span *ngIf="!strm.properties['add_to_stream_title']">{{ 'STREAM.OBJECT.NOTITLE' | translate }}</span> </div>
                <div class="stream-box-main-vert col s2">
                    <actionbar
                        [numberOfAlwaysVisibleOptions]="0"
                        [numberOfAlwaysVisibleOptionsMobile]="0"
                        [style]="'flat'"
                        [options]="actionOptions"
                        [node]="strm.id"
                        (click)="checkIfEnable(strm.nodes)"
                    ></actionbar>
                </div>
            </div>
            
                <div class="stream-box-desc"><span *ngIf="strm.properties['add_to_stream_description']">{{ strm.properties['add_to_stream_description'] }}</span></div>

                <div class="stream-box-kompetenzen" > <div class="chip" *ngFor="let keyword of strm.properties['cclom:general_keyword']">{{keyword}}</div> </div>

            <div class="stream-box-nonodes" *ngIf="strm.nodes.length === 0"> {{'STREAM.OBJECT.NONODES' | translate }} </div>
            <div [lazyLoad]="strm.nodes[0].preview.url" class="stream-box-image" (click)="onStreamObjectClick(strm)" *ngIf="strm.nodes[0]">
                <div class="bottom-left">{{ (strm.nodes[0].name.length > 40) ? (strm.nodes[0].name | slice:0:40)+'...':(strm.nodes[0].name) }}</div>
                <div class="bottom-right">{{ strm.nodes[0].commentCount }} </div>
                <div class="bottom-right-icon"><i class="material-icons stic" >comment</i> </div>
            </div>

        </div>
    </div>
    </div> <!-- cols8 -->
    <div class="col m1 l3"></div>
</div> <!-- row -->



    <div class="create fixed-action-btn"
         *ngIf="createAllowed"
         (click)="create()"
    ><a class="btn-floating btn-large waves-effect"><i class="material-icons">add</i></a>
        <!--
      <ul>
        <li><a class="btn-floating btn-floating-inverted" (click)="showUploadSelect=true"><i class="material-icons">cloud_upload</i></a></li>
        <li><a class="btn-floating btn-floating-inverted" (click)="addFolderName=''"><i class="material-icons">create_new_folder</i></a></li>
        <li *ngFor="let connector of connectorList ? connectorList.connectors : null">
          <a class="btn-floating btn-floating-inverted" (click)="createConnectorName='';createConnectorType=connector"><i class="material-icons">{{connector.icon}}</i></a>
        </li>
        <li><a class="btn-floating btn-floating-inverted" (click)="listLTI()"><i class="material-icons">extension</i></a></li>
      </ul>
      -->
    </div>
    <div class="dialog dialogCreate" *ngIf="showCreate" (click)="showCreate=false" (contextmenu)="showCreate=false;$event.preventDefault();$event.stopPropagation();"></div>
    <!-- <input type="file" accept="image/*" capture="camera" #camera (change)="uploadCamera($event)"> -->
    <div class="createMenu collection"
         #dropdown
         [@overlay]="showCreate && connectorList"
         *ngIf="showCreate && connectorList">
        <a *ngFor="let connector of connectorList.connectors;let i=index"
           class="collection-item"
           [class.collection-item-seperate]="!i"
           tabindex="0"
           (keyup.enter)="showCreate=false;createConnectorName='';createConnectorType=connector"
           (click)="showCreate=false;createConnectorName='';createConnectorType=connector">
            <i class="material-icons">{{connector.icon}}</i> {{ 'CONNECTOR.'+connector.id+'.NAME' | translate}}<img class="connectorBeta" src="assets/images/beta.svg"></a>
        <!-- <a class="collection-item collection-item-seperate" (click)="listLTI()"><i class="material-icons">extension</i> {{ 'WORKSPACE.ADD_LTI' | translate}}</a> -->
    </div>
    <workspace-create-connector *ngIf="createConnectorName!=null"
                                [name]="createConnectorName"
                                [connector]="createConnectorType"
                                (onCancel)="createConnectorName=null"
                                (onCreate)="createConnector($event)"
    ></workspace-create-connector>
</div>
