<es-mds-editor-widget-container [label]="false">
  <button
    *ngIf="!$any(widget?.definition)?.button || $any(widget?.definition)?.button === 'mat-button'"
    mat-button color="primary" (click)="onClick()">
    <ng-container *ngTemplateOutlet="link"></ng-container>
  </button>
  <button
    *ngIf="$any(widget?.definition)?.button === 'mat-flat-button'"
    mat-flat-button color="primary" (click)="onClick()">
    <ng-container *ngTemplateOutlet="link"></ng-container>
  </button>
</es-mds-editor-widget-container>
<ng-template #link>
  <span>{{ linkLabel | translate }}</span>
  <i aria-hidden="true" class="material-icons">arrow_forward</i>
</ng-template>
