<html>  
<head></head>
<body>
edu sharing repository 
<br/>
<br/>
build.number: 19<br/> 
build.date: 2018-01-05<br/>
version.main: 4.0.0 <br/>
version.extension: NoExtension<br/>
git.commit: 2018-01-04-7c87296<br/>
git.extension.commit: 2018-01-04-70829e3<br/>
</body>
</html>