<html>  
<head></head>
<body>
edu sharing repository 
<br/>
<br/>
build.date: <br/>
version.main: 6.0.0-rc-1<br/>
version.extension: Extension<br/>
git.commit: <br/>
git.branch: <br/>
git.extension.commit: no-extension<br/><br/>
git.log: <br/>
</body>
</html>
