@import '../../../../core-ui-module/styles/variables';

.more-open {
    position: relative;
    z-index: $dialogZIndex + 1;
    background-color: #fff;
    @include materialShadowBottom();
    .switch label {
        color: $textPrimary;
    }
    .switch label span {
        position: relative;
        top: -2px;
        font-size: 10pt;
    }
    button {
        position: relative;
        width: 100%;
        .selected {
            position: absolute;
            right: 0;
            top: 5px;
        }
    }
    .publish-toggle {
        width: 100%;
        background-color: $actionDialogBackground;
        padding: 20px 10px;
        display: flex;
        justify-content: flex-end;
        mat-slide-toggle {
            background-color: transparent;
            .toggle {
                display: flex;
                align-items: center;
                .material-icons {
                    top: 0;
                    left: 0;
                    margin-right: 5px;
                }
            }
        }
    }
}
:host ::ng-deep {
    .more-open button .mat-button-wrapper {
        flex-direction: column;
        align-items: flex-start;
        white-space: initial;
        div {
            display: flex;
            align-items: center;
            color: $primary;
            font-weight: bold;
            i {
                margin-right: 8px;
            }
        }
        p {
            color: $textLight;
            padding: 0 28px;
            margin: 8px 0;
            text-align: left;
            line-height: 1.5;
        }
    }
}
