<a class="home" [routerLink]="'/' + ROUTER_PREFIX + 'editorial'">
  {{ 'EDITORIAL.BREADCRUMB.HOME' | translate }}
</a>
<ng-container *ngIf="editorialBreadcrumbService.mode()">
  <i esIcon="keyboard_arrow_right"></i>
  <a class="main-scope">
    {{ 'EDITORIAL.BREADCRUMB.' + editorialBreadcrumbService.mode().toUpperCase() | translate }}
  </a>
</ng-container>
<ng-container *ngFor="let e of editorialBreadcrumbService.path()">
  <i esIcon="keyboard_arrow_right"></i>
  <a class="path-scope">
    {{ e }}
  </a>
</ng-container>
