@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;

:host {
    display: flex;
    align-items: center;

    .nav-wrapper {
        ol {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;

                > a {
                    font-size: vars.$fontSizeXLarge;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}
