<div
  class="quota"
  [class.quota-health-medium]="getHealth() == 1"
  [class.quota-health-bad]="getHealth() == 2"
>
  <div class="quota-icon">
    <i class="material-icons">{{ getHealth() == 2 ? 'warning' : 'storage' }}</i>
  </div>
  <div class="quota-details">
    <div class="quota-title">{{ 'QUOTA.TITLE' | translate }}</div>
    <div class="quota-progress">
      <div class="quota-used" [style.width]="getPercentUsed() * 100 + '%'"></div>
    </div>
    <div class="quota-info">
      <span class="quota-free">{{ getFree() | formatSize }}</span>
      <span class="quota-free-label">&nbsp;{{ 'QUOTA.FREE_SPACE' | translate }}&nbsp;</span>
      <span class="quota-size">{{ quota.sizeQuota | formatSize }}</span>
      <span class="quota-free-label">{{ 'QUOTA.OVERALL' | translate }}</span>
    </div>
  </div>
</div>
