########################################################################################################################
### common
########################################################################################################################

# --- bind ip address for all exposed ports (set this to 0.0.0.0 for outside accessibility)
# COMMON_BIND_HOST=127.0.0.1

# --- non proxy host
# NON_PROXY_HOST=localhost,127.0.0.1

# --- proxy host
# PROXY_HOST=

# --- proxy port
# PROXY_PORT=

# --- proxy user
# PROXY_USER=

# --- proxy password
# PROXY_PASS=

########################################################################################################################
### repository-database
########################################################################################################################

# --- database
# REPOSITORY_DATABASE_NAME=repository

# --- username
# REPOSITORY_DATABASE_USER=repository

# --- password
# REPOSITORY_DATABASE_PASS=repository

########################################################################################################################
### repository-mailcatcher
########################################################################################################################

# --- public port
# REPOSITORY_MAILCATCHER_PORT_HTTP=8025

########################################################################################################################
### repository-mongo
########################################################################################################################

# --- database
# REPOSITORY_MONGO_DATABASE=edu-sharing

# --- username
# REPOSITORY_MONGO_USER=repository

# --- password
# REPOSITORY_MONGO_PASS=repository

########################################################################################################################
### repository-search-elastic-index
########################################################################################################################

# --- java heap space (min)
# REPOSITORY_SEARCH_ELASTIC_INDEX_JAVA_XMS=1g

# --- java heap space (max)
# REPOSITORY_SEARCH_ELASTIC_INDEX_JAVA_XMX=1g

# --- index replicas
# REPOSITORY_SEARCH_ELASTIC_INDEX_REPLICAS=1

# --- index shards
# REPOSITORY_SEARCH_ELASTIC_INDEX_SHARDS=1

########################################################################################################################
### repository-search-elastic-tracker
########################################################################################################################

# --- java heap space (min)
# REPOSITORY_SEARCH_ELASTIC_TRACKER_JAVA_XMS=1g

# --- java heap space (max)
# REPOSITORY_SEARCH_ELASTIC_TRACKER_JAVA_XMX=1g

########################################################################################################################
### repository-search-solr4
########################################################################################################################

# --- java heap space (min)
# REPOSITORY_SEARCH_SOLR4_JAVA_XMS=1g

# --- java heap space (max)
# REPOSITORY_SEARCH_SOLR4_JAVA_XMX=1g

########################################################################################################################
### repository-service
########################################################################################################################

# --- admin user password
# REPOSITORY_SERVICE_ADMIN_PASS=admin

# --- guest user name
# REPOSITORY_SERVICE_GUEST_USER=

# --- guest user password
# REPOSITORY_SERVICE_GUEST_PASS=

# --- public domain
# REPOSITORY_SERVICE_HOST=repository.127.0.0.1.nip.io

# --- java heap space (min)
# REPOSITORY_SERVICE_JAVA_XMS=1g

# --- java heap space (max)
# REPOSITORY_SERVICE_JAVA_XMX=1g

# -- mail from
# REPOSITORY_SERVICE_MAIL_FROM=

# -- mail addReplyTo
# REPOSITORY_SERVICE_MAIL_ADDREPLYTO=

# -- mail register receiver
# REPOSITORY_SERVICE_MAIL_REGISTER_RECEIVER=

# -- mail report receiver
# REPOSITORY_SERVICE_MAIL_REPORT_RECEIVER=

# -- mail server smtp host
# REPOSITORY_SERVICE_MAIL_SERVER_SMTP_HOST=

# -- mail server smtp port
# REPOSITORY_SERVICE_MAIL_SERVER_SMTP_PORT=

# -- mail server smtp username
# REPOSITORY_SERVICE_MAIL_SERVER_SMTP_USERNAME=

# -- mail server smtp password
# REPOSITORY_SERVICE_MAIL_SERVER_SMTP_PASSWORD=

# -- mail server smtp authtype
# REPOSITORY_SERVICE_MAIL_SERVER_SMTP_AUTHTYPE=

# --- public path
# REPOSITORY_SERVICE_PATH=/edu-sharing

# --- public port
# REPOSITORY_SERVICE_PORT=8100

# --- public protocol
# REPOSITORY_SERVICE_PROT=http

# --- public ajp port
# REPOSITORY_SERVICE_PORT_AJP=8102

# --- public http port
# REPOSITORY_SERVICE_PORT_HTTP=8100

# --- provider
# REPOSITORY_SERVICE_PROVIDER=org.edu_sharing.service.provider.ElasticSearchProvider

########################################################################################################################
### services-rendering-database
########################################################################################################################

# --- database
# SERVICES_RENDERING_DATABASE_NAME=rendering

# --- username
# SERVICES_RENDERING_DATABASE_USER=rendering

# --- password
# SERVICES_RENDERING_DATABASE_PASS=rendering

########################################################################################################################
### services-rendering-service
########################################################################################################################

# --- public domain
# SERVICES_RENDERING_SERVICE_HOST=rendering.services.127.0.0.1.nip.io

# --- public port
# SERVICES_RENDERING_SERVICE_PORT_HTTP=9100

# --- enables general data protection regulation
# SERVICES_RENDERING_SERVICE_GDPR_ENABLED=false

# --- specifies modules used general data protection regulation
# SERVICES_RENDERING_SERVICE_GDPR_MODULES=moduleA,moduleB

# --- links to general data protection regulation information
# SERVICES_RENDERING_SERVICE_GDPR_URLS='"/.*/" => ["name" => externen Quellen", "url" => "https://myurl.de/example"]'

# --- custom plugins
# SERVICES_RENDERING_SERVICE_PLUGINS='ESRender_Plugin_Omega(["url" => "https://myurl.de/example, "user" => "admin", "validateUrls" => false]);'

# --- enables embedded document viewer
# SERVICES_RENDERING_SERVICE_VIEWER_ENABLED=true

########################################################################################################################
# ONLY FOR DEBUGGING
########################################################################################################################

# CACHE_PORT=7000
# REPOSITORY_DATABASE_PORT=8000
# REPOSITORY_MONGO_PORT=8500
# REPOSITORY_MONGO_EXPRESS_PORT=8501
# REPOSITORY_SERVICE_PORT_JPDA=8101
# REPOSITORY_SEARCH_ELASTIC_INDEX_PORT_HTTP=8300
# REPOSITORY_SEARCH_ELASTIC_INDEX_PORT_JPDA=8301
# REPOSITORY_SEARCH_ELASTIC_TRACKER_PORT_JPDA=8401
# REPOSITORY_SEARCH_SOLR4_PORT_HTTP=8200
# REPOSITORY_SEARCH_SOLR4_PORT_JPDA=8201
# REPOSITORY_TRANSFORM_SERVER_PORT_HTTP=8600
# REPOSITORY_TRANSFORM_SERVER_PORT_JPDA=8601
# SERVICES_RENDERING_DATABASE_PORT=9000