@import '../../../../../../core-ui-module/styles/variables';

h4 {
    font-weight: bold;
    font-size: 100%;
    margin: 1.6rem 0 1rem 0;
}

h5 {
    font-weight: normal;
    font-size: 90%;
    color: $textLight;
    margin: 0;
    line-height: 1.5;
}

.currentLicense {
    text-align: center;
    background-color: $backgroundColor;
    padding: 10px 30px;
    margin: 0 -20px;
    h4 {
        margin: 10px 0 20px 0;
    }
    width: calc(100% + 40px);
}
.licenseName {
    display: table;
    margin: auto;
    padding: 10px 0;
    h4,
    div {
        display: table-cell;
    }
}
.oerStatus {
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
    color: $textOnPrimary;
    .oer {
        background: #0b0;
    }
    .notOer {
        background: #f5a623;
    }
    .oer,
    .notOer {
        padding: 4px 12px;
        border-radius: 8px;
    }
}
.license-additional-data {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    > div {
        margin: 0 10px;
    }
}
.licenseUrl {
    margin: 10px !important;
    text-transform: uppercase;
}
.currentLicenseIcon {
    height: 40px;
    width: auto;
}
.customLicenseDescription {
    white-space: pre-line;
}
.currentLicenseDescription {
    color: $textLight;
}
