<div class="currentLicense">
  @if (type !== 'MULTI' && displayMode === 'full') {
  <h4>
    {{ 'WORKSPACE.LICENSE.CURRENT' | translate }}
  </h4>
  } @if (type !== 'MULTI' && displayMode === 'full') {
  <img class="currentLicenseIcon" src="{{ getLicenseIcon() }}" alt="" />
  } @if ((type === 'CC_BY' || type === 'CC_BY_SA') && displayMode === 'full') {
  <div class="license-additional-data">
    @if (ccVersion !== '4.0') {
    <div class="licenseLocale">
      {{ 'COUNTRY_CODE.' + (ccCountry ? ccCountry : 'INTERNATIONAL') | translate }}
    </div>
    }
    <div class="licenseVersion">
      {{ ccVersion }}
    </div>
  </div>
  }
  <div class="licenseName">
    <h4>{{ getLicenseName() }}</h4>
    @if (getLicenseProperty() !== 'MULTI') {
    <div class="oerStatus">
      @if (isOerLicense()) {
      <span class="oer">{{ 'WORKSPACE.LICENSE.OER' | translate }}</span>
      } @if (!isOerLicense()) {
      <span class="notOer">{{ 'WORKSPACE.LICENSE.NOT_OER' | translate }}</span>
      }
    </div>
    }
  </div>
  <div class="currentLicenseDescription">
    @if (type === 'CUSTOM') {
    <div class="customLicenseDescription">{{ rightsDescription }}</div>
    } @if (type !== 'CUSTOM' && type !== 'COPYRIGHT') {
    <div
      innerHTML="{{ 'LICENSE.DESCRIPTION.' + (type === 'PDM' ? 'CC_0' : type) | translate }}"
    ></div>
    } @if (type === 'COPYRIGHT') {
    <div>
      <div innerHTML="{{ 'LICENSE.DESCRIPTION.' + copyrightType | translate }}"></div>
    </div>
    } @if (type === 'CC_BY') {
    <div>
      @if (ccShare) {
      <div>
        {{ 'LICENSE.DESCRIPTION.CC_SHARE_' + ccShare | translate }}
      </div>
      } @if (ccCommercial) {
      <div>
        {{ 'LICENSE.DESCRIPTION.CC_COMMERCIAL_' + ccCommercial | translate }}
      </div>
      } @if (ccVersion !== '4.0') {
      <div>
        {{ 'WORKSPACE.LICENSE.LOCALE' | translate : { locale: ccCountry } }}
        {{ 'COUNTRY_CODE.' + (ccCountry ? ccCountry : 'INTERNATIONAL') | uppercase | translate }}.
      </div>
      }
    </div>
    } @if ( (type === 'CC_BY' || type === 'CC_0') && (displayMode === 'full' || displayMode ===
    'minimalUrl') ) {
    <div class="licenseUrl">
      <a [href]="getLicenseUrl() | async" target="_blank">{{
        'WORKSPACE.LICENSE.MORE' | translate
      }}</a>
    </div>
    }
    <div class="ai-info">{{ properties || nodes?.[0]?.properties | esLicenseAiInfo }}</div>
  </div>
</div>
