$primary:       #48708e;
$primaryMediumLight: #87acb5;
$primaryLight:  #dde7ee;
$primaryDark: #283851;
$textOnPrimary: #fff;
$textOnPrimaryLight: rgba(255,255,255,0.75);
$textPrimary:   #000;
$workspaceTopBarBackground: #383838;
$workspaceTopBarFontColor: #fff;
