@import "./variables";



.dialog{
   width:100%;
   height:100%;
   left:0;
   top:0;
   position:fixed;
   z-index:120;
 }
.darken{
  @include darken();
}

.center-card{
  position:fixed!important;
  top:15%;
  width:500px;
  left:50%;
  margin: auto!important;
  margin-left:-250px!important;
  padding-bottom: $cardPadding;
}
.card{
  background-color: #fff!important;
}
.card-content{
  height: calc(100% - 50px);
}
.card .card-action a{
  max-width: 400px;
  word-break: break-all;
}
.card-action .card-content{
  padding-top:32px;
  background: linear-gradient(to bottom, $actionDialogBackground 0%,$actionDialogBackground 60px,transparent 60px,transparent 100%);
}
.card-actionbar .card-content {
  padding-top:32px;
  background: linear-gradient(to bottom, $actionDialogBackground 0%,$actionDialogBackground 120px,transparent 120px,transparent 100%);
}
.card-action,.card-actionbar{
  .card-title-actionbar{
    position: relative;
    top: -10px;
    height:60px;
  }
  .card-title,
  .card-cancel {
    font-size: 12pt;
    position: relative;
    top: -25px;
  }
}

.card-title{
  word-break: break-all;
  max-height: 48px;
  overflow: hidden;
  @unselectableText();
}
.center-card .card-scroll{
  overflow-y: auto;
  overflow-x: hidden;
  @include iosScrolling();
  padding-right: $cardPadding;
  margin-right: $cardPadding*-1;
  padding-left: $cardPadding;
  margin-left: $cardPadding*-1;
  height: calc(100% - 8px);

  top: $cardPadding*-1;
  position: relative;
  padding-top: $cardPadding;
  padding-bottom: $cardPadding;
}
.card-actionbar .card-scroll{
  height: calc(100% - 68px);
}
input[type=search]{
  background: #fff;
  border:1px solid $searchInputBorderColor;
  padding:0 10px;
}
.card-high .card-content{
  height:calc(100% - 55px);
}
.card-high{
  top:10%;
  bottom:10%;
}
.card-wide{
  width:650px;
  margin-left:-325px!important;
}
.card-xwide{
  width:700px;
  margin-left:-350px!important;
}
.scrollable{
  overflow-x: hidden;
  overflow-y: auto;
  height:250px;
  margin:0 $cardPadding*-1;
  padding: 0 $cardPadding;
}
.center-card .checkbox{
  padding-top:10px;
}
.center-card .btn,
.center-card .btn-flat{
  float:right;
  margin: 0 5px;
}
.card-cancel{
  float:right;
  padding-top: 10px;
  @include clickable();
}
.dialog-right{
  position: fixed;
  z-index: 100;
  right:0;
  top:$mainnavHeight;
  height: calc( 100% - #{$mainnavHeight});
  width:$dialogRightWidth;
  background-color: #fff;
  @include materialShadow();
  .title{
    padding-top:16px;
    padding-left:$cardPadding;
    padding-right:$cardPadding;
    font-size:110%;
    background-color: $workspaceMetadataBackground;
    word-break: break-all;
    padding-bottom: 15px;
    .close{
      float:right;
    }
  }
  .search{
    padding:10px 30px;
    float:left;
    form {
      position: relative;
      padding-top: 10px;
      input {
        padding-left: 40px;
        width: $dialogRightWidth - 110px;
        margin-bottom: 0;
      }
      .searchIcon {
        position: absolute;
        color: $textLight;
        left: 10px;
        top: 17px;
      }
    }
  }
  .content{
    padding:10px 0;
    height: calc( 100% - #{$mainnavHeight});
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@media screen and (max-width: ($mobileWidth - $mobileStage*1)) {
  .center-card{
    position:fixed;
    width:100%;
    padding-bottom: 25px;
    left:0%;
    margin-left:0!important;
  }
  .card-low{
    width:90%;
    left:5%;
  }
}
@media screen and (max-height: ($mobileHeight)) {
 .card:not(.card-low), .card-high {
    top: 0;
    bottom: 0;
   .scrollable{
     height:100%;
   }
  }
}
