@import "./variables";



.dialog{
  width:100%;
  height:100%;
  left:0;
  top:0;
  position:fixed;
  z-index:$dialogZIndex;
}
.globalProgress{
  z-index:$dialogZIndex+2;
}
.darken{
  @include darken();
}
.card{
  z-index:$dialogZIndex+1;
  background-color: #fff!important;
}
.center-card{
  position:fixed!important;
  top:15%;
  width:500px;
  left:50%;
  margin: auto!important;
  margin-left:-250px!important;
  padding-bottom: 20px;
}

.card-content{
  height: calc(100% - 50px);
}
.card .card-action {
  display: flex;
  align-items: end;
  justify-items: right;
  /* justify-content: space-between; */
  flex-direction: row-reverse;
  a {
    max-width: 400px;
    word-break: break-all;
  }
}
.card-action .card-content{
  padding-top:32px;
  background: linear-gradient(to bottom, $actionDialogBackground 0%,$actionDialogBackground 60px,transparent 60px,transparent 100%);
}
.card-actionbar .card-content {
  padding-top:32px;
  background: linear-gradient(to bottom, $actionDialogBackground 0%,$actionDialogBackground 120px,transparent 120px,transparent 100%);
}
.card-action,.card-actionbar{
  .card-title-actionbar{
    position: relative;
    top: -10px;
    height:60px;
  }
  .card-title,
  .card-cancel {
    font-size: 12pt;
    position: relative;
    top: -25px;
  }
}

.card-title{
  word-break: break-all;
  max-height: 48px;
  overflow: hidden;
  display:flex;
  align-items:center;
  @include unselectableText();
  .card-title-back{
    color: $primary;
    @include clickable();
    margin-right:15px;
  }
  .card-title-image{
    width:auto;
    height:25px;
    margin-right:15px;
  }
}
.center-card .card-scroll{
  overflow-y: auto;
  overflow-x: hidden;
  @include iosScrolling();
  padding-right: 20px;
  margin-right: -20px;
  padding-left: 20px;
  margin-left: -20px;
  height: calc(100% - 8px);

  top: -20px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-actionbar .card-scroll{
  height: calc(100% - 68px);
}
input[type=search]{
  background: #fff;
  border:1px solid $searchInputBorderColor;
  padding:0 10px;
}
.card-high .card-content{
  height:calc(100% - 55px);
}
.card-high{
  top:10%;
  bottom:10%;
}
.card-wide{
  width:650px;
  margin-left:-325px!important;
}
.card-xwide{
  width:700px;
  margin-left:-350px!important;
}
.center-card .checkbox{
  padding-top:10px;
}
.card-title-element{
  font-size:140%;
  font-weight:bold;
  border-bottom: 1px solid #000;
  padding-bottom:10px;
  padding-top:8px;
  float:left;
  width:100%;
  background-color: $workspaceMetadataBackground;
  i{
    margin-left:10px;
    margin-right:10px;
    color:#666;
    position: relative;
    top:5px;
  }
}
.center-card .btn,
.center-card .btn-flat{
  float:right;
  margin: 0 5px;
}
.card-cancel{
  float:right;
  padding-top: 10px;
  @include clickable();
}
.dialog-right{
  position: fixed;
  z-index: 100;
  right:0;
  top:$mainnavHeight;
  height: calc( 100% - #{$mainnavHeight});
  width:$dialogRightWidth;
  background-color: #fff;
  @include materialShadow();
  .title{
    padding-top:16px;
    padding-left:20px;
    padding-right:20px;
    font-size:110%;
    background-color: $workspaceMetadataBackground;
    word-break: break-all;
    padding-bottom: 15px;
    .close{
      float:right;
    }
  }
  .search{
    padding:10px 30px;
    float:left;
    form {
      position: relative;
      padding-top: 10px;
      input {
        padding-left: 40px;
        width: $dialogRightWidth - 110px;
        margin-bottom: 0;
      }
      .searchIcon {
        position: absolute;
        color: $textLight;
        left: 10px;
        top: 17px;
      }
    }
  }
  .content{
    padding:10px 0;
    height: calc( 100% - #{$mainnavHeight});
    overflow-x: hidden;
    overflow-y: auto;
  }
}
@mixin fullsizeCard(){
  position:fixed;
  width:100%;
  padding-bottom: 25px;
  left:0%;
  margin-left:0!important;
}
@media screen and (max-width: ($mobileWidth)) {
  .dialogOptions{
    overflow: scroll;
    @include darken();
    z-index:151;
    background: linear-gradient(to top, #ffffff 0,#ffffff 120px,$darkenColor 120px,$darkenColor 100%);
  }
  .card-wide{
    @include fullsizeCard();
  }
}
@media screen and (max-width: ($mobileWidth - $mobileStage*1)) {
  .center-card{
    @include fullsizeCard();
  }
  .card-low{
    width:90%;
    left:5%;
  }
  .center-card .btn,
  .center-card .btn-flat{
    margin: 0 0;
    padding:0 1.5rem;
  }
}
@media screen and (max-height: ($mobileHeight)) {
  .card:not(.card-low), .card-high {
    top: 0;
    bottom: 0;
    .scrollable{
      height:100%;
    }
  }
}
