
.fileChooserList{
  overflow-x: hidden;
  overflow-y: scroll;
  width:calc(100% + 40px)!important;
  margin-left: -20px;
  height:calc(100% - 30px);
  background:none;
}

/*
.fileChooserList .heading{
  float:left;
}
*/
