@import "./variables";
.clickable{
  @include clickable();
}
/**
  ios fix for wrong positioned input cursor
  nop: when enabled, it will break positio
  font-smoothing: antialiased;n fixed dialog layouts.
*/
  //html,body{ @include iosScrolling(); }

html,body,md-card{
  height:100%;
  font-family:'open_sansregular',sans-serif!important;
  font-size:10pt;
  -webkit-font-smoothing: antialiased;
  background-color: $backgroundColor;
}
a{
  color:$primary;
}
.action-title{
  background-color: $actionDialogBackground;
}
.blue-label{
  color:$primary;
  font-weight: bold;
  font-size: 80%;
}
.center{
  margin: 0 auto;
}
.display-none{
  display: none!important;
}
.invisible{
  opacity:0;
}
.badge{
  border-radius: 25px;
  background: #eee;
  padding: 5px 15px;
  height:auto;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  span{
    display:table-cell;
    vertical-align: middle;
    word-break: break-all;
  }
  i{
    color:$textLight;
    position: relative;
    top: 0;
    left: 7px;
    display:table-cell;
    vertical-align: middle;
  }
  .badgeIconLeft{
    left:0;
  }
  .badge-group{
    display: flex;
    flex-direction: column;
    >.secondary{
      font-size: 80%;
      color: $textLight;
      margin-top: -3px;
      min-height: 3px;
    }
  }
}
.workflowStatus{
  width:80px;
  color:#fff;
  font-weight:bold;
  font-size:8pt;
  border-radius: 2px;
  text-align: center;
}
.completer-row{
  color:$textPrimary!important;
  background: #fff!important;
}
.completer-selected-row,
.completer-row:hover{
  color:$textOnPrimary!important;
  background: $primary!important;
}
.completer-dropdown{
  @include materialShadow();
  border:none!important;
  margin-top:-20px!important;
}
.card-action .card-title,.card-action .card-cancel{
  font-size:12pt;
  position: relative;
  top:-25px;
}
.noElementsInfo{
  color:#999;
  font-size:110%;
  width: 100%;
  float: left;
  text-align: center;
  padding-top:10px;
}
.material-icons.collectionScope {
  font-size: 130%;
  left: -1px;
  position: relative;
  top: 2px;
}
.uppercase {
  text-transform: uppercase;
}
.general-warning{
  display: flex;
  align-items: center;
  background-color: lighten($warningMedium,50%);
  border: 1px solid $warningMedium;
  border-radius: 2px;
  padding: 15px 20px;
  color: #674E04;
  >div:first-child{
    padding-right: 20px;
  }
}
.input-hint-bottom{
  margin: 0 0.75em;
  margin-top:-15px;
  color:$textLight;
  font-size: 0.8em;
}
a:focus,
.btn:focus,
.btn-flat:focus,
.clickable:focus {
  @include setGlobalInsetFocus();
}

@media screen and (max-width: $mobileWidth) {
  .hidemobile {
    display: none;
  }

}
