@import "../app/core-ui-module/styles/variables";
.clickable{
  @include clickable();
}
/**
  ios fix for wrong positioned input cursor
  nop: when enabled, it will break positio
  font-smoothing: antialiased;n fixed dialog layouts.
*/
  //html,body{ @include iosScrolling(); }

html,body,md-card{
  height:100%;
  font-family:'open_sansregular',sans-serif!important;
  font-size:10pt;
  -webkit-font-smoothing: antialiased;
  background-color: $backgroundColor;
}
a{
  color:$primary;
}
.action-title{
  background-color: $actionDialogBackground;
}
.blue-label{
  color:$primary;
  font-weight: bold;
  font-size: 80%;
}
.center{
  margin: 0 auto;
}
.badge{
  border-radius: 25px;
  background: #eee;
  padding: 5px 15px;
  height:auto;
  margin: 2px;
  display: inline-flex;
  align-items: center;
  &:focus{
    @include setGlobalInsetFocus();
  }
  span{
    display:table-cell;
    vertical-align: middle;
    word-break: break-all;
  }
  i{
    color:$textLight;
    position: relative;
    top: 0;
    left: 7px;
    display:table-cell;
    vertical-align: middle;
    &:focus{
      @include focusShadow();
    }
  }
  .badgeIconLeft{
    left:0;
  }
  .mat-chip-group{
    display: flex;
    flex-direction: column;
    >.secondary{
      font-size: 80%;
      color: $textLight;
      margin-top: -3px;
      min-height: 3px;
    }
  }
}
.workflowStatus{
  width:80px;
  color:#fff;
  font-weight:bold;
  font-size:8pt;
  border-radius: 2px;
  text-align: center;
}
.completer-row{
  color:$textPrimary!important;
  background: #fff!important;
}
.completer-selected-row,
.completer-row:hover{
  color:$textOnPrimary!important;
  background: $primary!important;
}
.completer-dropdown{
  @include materialShadow();
  border:none!important;
  margin-top:-20px!important;
}
.card-action .card-title,.card-action .card-cancel{
  font-size:12pt;
  position: relative;
  top:-25px;
}
.noElementsInfo{
  color:#999;
  font-size:110%;
  width: 100%;
  float: left;
  text-align: center;
  padding-top:10px;
}
.uppercase {
  text-transform: uppercase;
}
.profile-gradient{
  background: linear-gradient(to bottom, transparent 0,rgba(0,0,0,.5) 100%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.blurred-image{
  $blurStrength:25px;
  position: absolute;
  left:-$blurStrength;
  top:-$blurStrength;
  width:calc(100% + #{$blurStrength*2});
  height:calc(100% + #{$blurStrength*2});
  z-index: 1;
  overflow: hidden;
  filter: blur($blurStrength);
  object-fit: cover;
  opacity: 0.7;
}
.input-hint-bottom{
  margin: 0 0.75em;
  margin-top:-15px;
  color:$textLight;
  font-size: 0.8em;
}
a:focus,
.btn:focus,
.btn-flat:focus,
.clickable:focus {
  @include setGlobalInsetFocus();
}
.focus-underline{
  cursor: pointer;
  &:focus{
    box-shadow: none !important;
    @include removeDefaultFocus();
    padding-bottom: 2px;
    border-bottom: 1px solid $focusColor;
  }
}
.btn-circle {
  padding: 10px;
  height: 44px;
  color: $primary;
  background-color: #fff;
  border-radius: 50%;
  @include clickable();
  @include materialShadowBottom();
  margin-left: 8px;
  float: left;
  &:focus{
    @include setGlobalInsetFocus();
  }
  i{
    background-color: rgba(255,255,255,0.75);
    border-radius:5pt;
  }
}
@media screen and (max-width: $mobileWidth) {
  .hidemobile {
    display: none;
  }

}
