@import "materialize.scss";

@import "../assets/fonts/opensans_regular/stylesheet.css";
@import "../assets/fonts/opensans_bold/stylesheet.css";
@import "../assets/css/nouislider.min.css";

@import "custom_materialize.scss";
@import "globals.scss";
@import "override.scss";
