@import "variables.scss";

.mdsCard {
  .mdsExtended {
    background-color: $workspaceMetadataBackground;
    padding:15px;
    height: 45px;
  }
  .mdsExtended .switch {
    float: right;
  }
  .mdsExtended .label {
    float: left;
  }
}
.mdsViewHeader{
  font-size:140%;
  font-weight:bold;
  border-bottom: 1px solid #000;
  padding-bottom:10px;
  padding-top:8px;
  float:left;
  width:100%;
  background-color: $workspaceMetadataBackground;
  i{
    margin-left:10px;
    margin-right:10px;
    color:#666;
    position: relative;
    top:5px;
  }
}
.mdsMainCard .mdsGroup{
  background-color: #fff;
}
mds .mdsGroup{
  width:100%;
  float:left;
  padding:25px;
  padding-bottom:5px;
  label{
    display: inline-flex;
    .required{
      padding-left: 5px;
      font-size: 80%;
      font-weight: bold;
      display: flex;
      align-self: center;
    }
  }
  > div{
    padding: 15px 0px;
  }
  fieldset{
    border:none;
  }
  .card{
    padding: 0!important;
    padding-bottom: 20px!important;
  }
  .mdsNoPermissions{
    color:$textLight;
    font-size: 90%;
    padding-top: 10px;
    font-style: italic;
  }
  .radioVertical label,
  .checkboxVertical label{
    width: 100%;
    float:left;
  }
  .checkboxVertical label{
    margin:5px 0;
  }
  .radioHorizontal label,
  .checkboxHorizontal label{
    padding-right:10px;
  }
  .multivalueBadges{
    padding: 0 10px 0 10px;
  }

  .mdsWidget{
    position: relative;
  }
  .mdsWidget select{
    margin-bottom: 20px;
  }
  .hint{
    color:$textLight;
    font-size:80%;
    margin-top:-5px;
    margin-bottom:2px;
  }
  .suggestionInput{
    position: relative;
    z-index: 130;
  }
  .suggestHighlight{
    font-weight:bold;
    color:$primary;
  }
  .widget_multivalueFixedBadges,
  .widget_multivalueBadges,
  .widget_multivalueSuggestBadges,
  .widget_multivalueTree{
    .input-hint-bottom{
      margin-top: -5px;
      margin-bottom: 5px;
    }
  }
  .suggestionMoreItems{
    font-weight: bold;
    text-align: center;
  }
  .suggestionNoMatches{
    font-style: italic;
    cursor: default;
  }
  .suggestionList{
    position: absolute;
    width:100%;
    max-width:600px;
    margin-top: -18px;
    top: 53px;
  }
  .suggestionListAll{
    max-height: 300px;
    overflow-y: auto;
  }
  .collection-item{
    min-height:36px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 2em;        /* fallback */
    max-height: 4em;       /* fallback */
  }

  .suggestInput{
    width:calc(100% - 25px);
  }
  .suggestInputNoOpen{
    width:100%;
  }
  .suggestInput, .multivalueBadgesText {
    margin-bottom: 10px;
  }
  .auto-suggest-field{
    display: flex;
    >.auto-suggest-field{
      width:100%;
    }
    input{
      flex-grow: 1;
    }
    .btn-flat{
      overflow: hidden;
      padding:0 1rem;
    }
  }
  .widget_range{
    height: 50px;
  }
  .widget_duration{
    width: 100%;
    float: left;
  }
  .widget_multivalueGroup{
    .widgetGroup{
      display:flex;
      align-items:center;
      flex-wrap:wrap;
      padding:10px 0;
      >div{
        flex-grow:1;
        padding:0 10px;
      }
    }
  }
  .widget_duration div.inputField{
    padding-top: 5px;
    width:40px;
    float:left;
    text-align: center;
  }
  .widget_duration div.inputField input{
    margin-top:-10px;
  }
  .widget_duration div.inputField label{
    font-size:70%;
  }
  .widget_duration div.inputField span{
    position: relative;
    top:18px;
  }
  .widget_duration div.inputSlider{
    width:calc(100% - 130px);
    float:right;
    position: relative;
    top:35px;
  }
  .checkboxVertical{
    input+label:before,input+label:after {
        top: 3px!important;
    }
    label{
      height:auto;
      img{
        vertical-align: middle;
      }
      img,.caption{
        padding-right: 5px;
      }
      .description{
        float: left;
        width: 100%;
        font-size: 80%;
        line-height: 1.75em;
      }
    }
  }
  .widget_checkbox{
    .input-hint-bottom{
      margin-top: 0;
    }
  }
  > label,
  .widget_checkbox,
  .mdsVersion{
    float:left;
    width:100%;
    padding-bottom: 15px;
  }
  .widget_vcard{
    height:95px;
  }
  .license{
    .caption{
      color:$textPrimary;
      font-weight: bold;
    }
    img{
      max-height:20px;
    }
  }
  .templateLink,.licenseLink,.contributorsLink{
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
    i{
      position: relative;
      top: 6px;
    }
  }
  .contributorsLink{
    padding-top: 0;
  }
  .version {
    margin-top: 10px;
  }
  #versionGroup{
    padding-top:20px;
  }
  .mdsVersion .btn-flat{
    float:left;
    margin-bottom: 15px;
  }
  #versionChooser{
    padding-left: 20px;
    position: relative;
    top: 4px;
  }
  input[type=color]{
    width:40px;
    height:40px;
  }
  input[type="checkbox"]+label{
    display:inline;
  }
  .inputRange{
    margin-top: 35px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
  }
  .inputTable{
    display:flex;
    width: 100%;
    align-items: center;
  }
  .inputTable input{
    display:flex;
  }
  .inputIcon{
    display:flex;
    margin-top: -14px;
    margin-right:10px;
    color:#666;
  }
  .mdsAuthor{
    float:left;
    width:100%;
  }
  .mdsAuthor{
    .materialize-textarea{
      min-height:1.5rem;
      height:1.5rem;
    }
  }
  .mdsPreview{
    .previewImage {
      text-align: center;
      width:100%;
      float:left;
      padding-top: 5px;
    }
    label{
      float: left;
      text-align: left;
    }
    .changePreview{
      float:right;
      color:$primary;
      text-transform: uppercase;
    }
    img{
      width:40%;
      height: 175px;
      object-fit: cover;
    }
  }
}
.vcardGroup{
  width: 50%;
  float: left;
  padding: 10px;
  .vcardFirstInput{
    width:calc(100% - 30px);
    float:right;
  }
  i{
    float:left;
    color:$textLight;
    position: relative;
    top:3px;
  }
}
.treeGroup {
  div {
    float: left;
    width: 100%;
    padding-left: 4px;
  }
  [type="checkbox"] + label {
    height: 35px;
    top: 7px;
    max-width: calc(100% - 40px);
  }
  .treeSelected {
    /* Not working when scrolling */
    background: $workspaceSelectedBackgroundEffect;
    background-color: $workspaceSelectedBackground;
    /*position: absolute;
    left: 0;*/
  }
  div .treeIcon{
    position: relative;
    z-index: 1;
    width:30px;
    height:35px;
    top: 7px;
    i{
      color:$textLight;
      font-size: 16pt;
    }
  }
  .treeGroup{
    padding-left:30px;
  }
}
.mdsExtendedSearch {
  margin: 0 -20px;
  background: #fff;
  padding: 10px 20px;
  .switch {
    margin-top: 10px;
  }
}
mds .mdsEmbedded{
   padding:0;
 }
