@import "branding";
$tabColor: $primary;
$tabColorDark: $primary;
$tabColorLight: $primaryMediumLight;
$warning:       #a00;
$textLight:     #6f6f6f;
$textVeryLight:     #aaa;
$backgroundColor: #f6f6f6;
$workspaceSidebarWidth: 300px;
$workspaceInheritColor: #42CA8D;
$editorialCollectionsBackground: #F5BB23;
$workspaceSelectedBackground:     #f1f1f1;
$secondaryBarHeight: 65px; // the white bar height in search and workspace
$workspaceSelectedBackgroundEffect: linear-gradient(to right, $primary 0,$primary 5px,rgba(0,0,0,0) 5px,rgba(0,0,0,0) 5px);
$workspaceTreeBackground: #f7f7f7;
$mainnavHeight: 70px;
$dialogRightWidth: 300px;
$workspaceTreeSelectedBackground: #fff;
$workspaceBreadcrumbsHeight: $secondaryBarHeight;
$workspaceTreeSelectedBackgroundEffect: linear-gradient(to right, $primary 0,$primary 5px,rgba(0,0,0,0) 5px,rgba(0,0,0,0) 5px);
$workspaceMetadataBackground: #f7f7f7;
$contextMenuWidth: 240px;
$actionDialogBackground: #eee;
$searchInputBorderColor: #ccc;
$cardSeperatorLineColor: #ccc;
$noResultsColor: #999;
$darkenColor:rgba(0,0,0,.75);
$colorStatusPositive:#40BF8E;
$focusColor: $primaryMediumLight;
$placeholderColor: #999;
$focusWidth: 1px;
$cardWidth: 200px;
$cardHeight: 300px;
$listItemHeight: 70px;
$listCardSmallHeight: 100px;
$animationTime: 0.25s;
$transitionNormal: .2s;
$mobileWidth:   700px;
$mobileHeight:   750px;
$mobileHeightWithKeyboard:   550px;
// this factor should be multiplied by a natural number, e.g. *3 means stage 3 (relatively early)
$mobileStage:   100px;
$dialogZIndex: 120;

// for variable overrides, include it again
@import "branding";
@import "mixins";
