@import "branding";
$tabColor: $primary;
$tabColorDark: $primary;
$tabColorLight: $primaryMediumLight;
$warning: #f44336;
$warningMedium:       #c90;
$toastLeftError:     #c15d5d;
$toastPrimary:  #5C5C5C;
$textLight:     #585858;
$textVeryLight:     #aaa;
$textMain: #383838;
$backgroundColor: #f6f6f6;
$workspaceSidebarWidth: 300px;
$workspaceInheritColor: #42CA8D;
$editorialCollectionsBackground: #f5ec19;
$workspaceSelectedBackground:     #f1f1f1;
$secondaryBarHeight: 65px; // the white bar height in search and workspace
$workspaceSelectedBackgroundEffect: linear-gradient(to right, $primary 0,$primary 5px,rgba(0,0,0,0) 5px,rgba(0,0,0,0) 5px);
$workspaceTreeBackground: #f7f7f7;
$mainnavHeight: 70px;
$dialogRightWidth: 320px;
$workspaceTreeSelectedBackground: #fff;
$workspaceBreadcrumbsHeight: $secondaryBarHeight;
$workspaceTreeSelectedBackgroundEffect: linear-gradient(to right, $primary 0,$primary 5px,rgba(0,0,0,0) 5px,rgba(0,0,0,0) 5px);
$workspaceMetadataBackground: #f7f7f7;
$contextMenuWidth: 240px;
$tableIconSize:38px;
$actionDialogBackground: #eee;
$searchInputBorderColor: #ccc;
$cardSeperatorLineColor: #ccc;
$inputBorderColor:#9e9e9e;
$commentsActionsSeperatorLineColor: $backgroundColor;
$noResultsColor: #999;
$darkenColor:rgba(0,0,0,.75);
$darkenLightColor:rgba(0,0,0,.25);
$colorStatusPositive:#40BF8E;
$colorStatusWarning:$warningMedium;
$colorStatusNegative:$warning;
$focusColor: $primaryMediumLight;
$placeholderColor: #999;
$focusWidth: 1px;
$cardWidth: 200px;
$cardHeight: 300px;
$listItemHeight: 70px;
$listCardSmallHeight: 100px;
$cardPadding: 25px;
$transitionNormal: .2s;
$mobileWidth:   700px;
$mobileHeight:   750px;
$mobileHeightWithKeyboard:   550px;
$mobileHeightLandscape: 400px;
$mobileWidthPortrait: 400px;
// this factor should be multiplied by a natural number, e.g. *3 means stage 3 (relatively early)
$mobileStage:   100px;
$dialogZIndex: 120;
$mobileTabSwitchWidth:   $mobileWidth+$mobileStage*2;
$mobileTabNavHeight:62px;

// for variable overrides, include it again
@import "branding";
@import "mixins";
