@if (_node) {
<es-card
  title="{{ 'FEEDBACK.VIEW_TITLE' | translate }}"
  [node]="_node"
  [isCancelable]="true"
  width="normal"
  height="large"
  [buttons]="feedbackViewButtons"
  (cancel)="closeFeedback.emit()"
>
  <div class="card-content-padding">
    <div class="feedback">
      @if (!feedbacks || !feedbacks.length) {
      <h2 class="empty">
        {{ 'FEEDBACK.VIEW_EMPTY' | translate }}
      </h2>
      }
      <!-- TODO: introduce a sensible heading structure. -->
      @if (feedbacks && feedbacks.length) {
      <div>
        @for (feedback of feedbacks; track feedback) {
        <div class="feedback-container">
          <div class="main-data">
            <div class="author">
              <es-user-avatar
                icon="person"
                [user]="{ authorityName: feedback.authority }"
                size="xsmall"
              ></es-user-avatar>
              {{ 'FEEDBACK.CREATOR' | translate : { creator: feedback.authority } }}
            </div>
            <div class="date">
              {{ feedback.modifiedAt | formatDate : { relative: true, time: true } }}
            </div>
          </div>
          <div class="meta-data">
            <es-mds-viewer [data]="feedback.data" groupId="material_feedback_view"></es-mds-viewer>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</es-card>
}
