<ng-container *ngIf="data">
  <img
    class="preview clickable"
    (click)="onDisplay.emit(_node)"
    [src]="
      _node | esNodeImage : (isAnimated() ? {} : { crop: true, width: 600, height: 450 }) | async
    "
  />
  <div class="metadata-container">
    <button mat-icon-button class="edit" (click)="onEditMetadata.emit(_node)" *ngIf="canEdit()">
      <i class="material-icons">edit</i>
    </button>
    <div class="metadata">
      <div class="description">{{ 'NODE.cm:name' | translate }}</div>
      <div class="value">{{ data.name }}</div>
      <div class="description" *ngIf="data.title">{{ 'NODE.cclom:title' | translate }}</div>
      <div class="value" *ngIf="data.title">{{ data.title }}</div>
      <div class="description" *ngIf="data.keywords">
        {{ 'NODE.cclom:general_keyword' | translate }}
      </div>
      <div class="value" *ngIf="data.keywords">
        <div class="badge" *ngFor="let keyword of data.keywords">
          <span class="text">{{ keyword }}</span>
        </div>
      </div>
      <div class="description" *ngIf="data.description">{{ 'NODE.description' | translate }}</div>
      <div class="value descriptionValue" *ngIf="data.description">{{ data.description }}</div>
      <div class="description" *ngIf="data.author_freetext">
        {{ 'NODE.ccm:author_freetext' | translate }}
      </div>
      <div class="value valueFreetext" *ngIf="data.author_freetext">{{ data.author_freetext }}</div>
      <div class="description" *ngIf="data.author">
        {{ 'NODE.ccm:lifecyclecontributer_authorFN' | translate }}
      </div>
      <div class="value" *ngIf="data.author">{{ data.author }}</div>
      <div class="description">{{ 'NODE.cm:creator' | translate }}</div>
      <div class="value">{{ data.creator }}<br />{{ data.createDate }}</div>
      <div class="description">{{ 'NODE.mimetype' | translate }}</div>
      <div class="value">
        <span *ngIf="data.mediatype && !data.isDirectory">{{
          'MEDIATYPE.' + data.mediatype | translate
        }}</span>
        <span *ngIf="!data.mediatype">{{ 'MEDIATYPE.file' | translate }}</span>
        <span *ngIf="data.isDirectory && !data.isCollection">{{
          'MEDIATYPE.folder' | translate
        }}</span>
        <span *ngIf="data.isCollection">{{ 'MEDIATYPE.collection' | translate }}</span>
        <span
          class="mimetype"
          *ngIf="data.mimetype && data.mediatype != data.mimetype && !data.isDirectory"
          >({{ data.mimetype }})</span
        >
      </div>
      <div class="description" *ngIf="data.exifDate">
        {{ 'NODE.exif:dateTimeOriginal' | translate }}
      </div>
      <div class="value" *ngIf="data.exifDate">{{ data.exifDate }}</div>
      <div class="description" *ngIf="data.dimensions">{{ 'NODE.dimensions' | translate }}</div>
      <div class="value" *ngIf="data.dimensions">{{ data.dimensions }}</div>
      <div class="description" *ngIf="data.duration">{{ 'NODE.cclom:duration' | translate }}</div>
      <div class="value" *ngIf="data.duration">{{ data.duration }}</div>
      <div class="description" *ngIf="!data.isDirectory">{{ 'NODE.size' | translate }}</div>
      <div class="value" *ngIf="!data.isDirectory && data.size">{{ data.size | formatSize }}</div>
      <div class="value" *ngIf="!data.isDirectory && !data.size">{{ 'NO_SIZE' | translate }}</div>
      <div *ngIf="permissions">
        <div class="description" *ngIf="permissions.users.length">
          {{ 'WORKSPACE.METADATA.INVITED_USERS' | translate }}
        </div>
        <div class="value" *ngIf="permissions.users.length">
          <div *ngFor="let authority of permissions.users">{{ authority | permissionName }}</div>
        </div>
        <div class="description" *ngIf="permissions.groups.length">
          {{ 'WORKSPACE.METADATA.INVITED_GROUPS' | translate }}
        </div>
        <div class="value" *ngIf="permissions.groups.length">
          <div *ngFor="let authority of permissions.groups">{{ authority | permissionName }}</div>
        </div>
      </div>
      <div class="description" *ngIf="data.license">
        {{ 'NODE.ccm:commonlicense_key' | translate }}
      </div>
      <div class="value license-value" *ngIf="data.license">
        <img class="license" [src]="data.license" />
        <div class="licenseName">{{ data.licenseName }}</div>
      </div>
      <div *ngIf="connector.getCurrentLogin()?.isAdmin">
        <div class="description">{{ 'Aspects' }}</div>
        <div class="value">
          <div class="aspect" *ngFor="let aspect of data.aspects">{{ aspect }}</div>
        </div>
        <div *ngFor="let property of data.properties">
          <div class="description">{{ property[0] }}</div>
          <div class="value">{{ property[1] }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
