@if (addNodesStream) {
<es-add-stream
  [nodes]="addNodesStream"
  (loading)="globalProgress = $event"
  (cancelStream)="closeStream()"
  (done)="closeStream()"
></es-add-stream>
} @if (addToCollection) {
<es-collection-chooser
  class="dialog-right"
  [@fromRight]="addToCollection"
  [title]="'WORKSPACE.SELECT_COLLECTION'"
  (cancel)="cancelAddToCollection()"
  (dropElement)="addToCollectionList($event.target, $event.source, false)"
  (createCollection)="addToCollectionCreate($event)"
  (choose)="addToCollectionList($event)"
>
  <ng-template #beforeRecent let-currentRoot>
    <ng-container
      *ngTemplateOutlet="collectionChooserBeforeRecentRef; context: { $implicit: currentRoot }"
    ></ng-container>
  </ng-template>
</es-collection-chooser>
}
