<es-add-stream
  *ngIf="addNodesStream"
  [nodes]="addNodesStream"
  (loading)="globalProgress = $event"
  (cancelStream)="closeStream()"
  (done)="closeStream()"
></es-add-stream>
<es-view-material-feedback
  *ngIf="materialViewFeedback"
  [node]="materialViewFeedback"
  (closeFeedback)="closeMaterialViewFeedback()"
></es-view-material-feedback>
<es-collection-chooser
  class="dialog-right"
  *ngIf="addToCollection"
  [@fromRight]="addToCollection"
  [title]="'WORKSPACE.SELECT_COLLECTION'"
  (cancel)="cancelAddToCollection()"
  (dropElement)="addToCollectionList($event.target, $event.source, false)"
  (createCollection)="addToCollectionCreate($event)"
  (choose)="addToCollectionList($event)"
>
  <ng-template #beforeRecent let-currentRoot>
    <ng-container
      *ngTemplateOutlet="collectionChooserBeforeRecentRef; context: { $implicit: currentRoot }"
    ></ng-container>
  </ng-template>
</es-collection-chooser>
