<es-dropdown #dropdown [options]="entriesService.options?.[Target.ListDropdown]"></es-dropdown>
<button
  #menuTrigger="matMenuTrigger"
  mat-button
  class="dropdown-dummy cdk-visually-hidden"
  [style.left.px]="dropdownLeft"
  [style.top.px]="dropdownTop"
  [matMenuTriggerFor]="dropdown.menu"
  tabindex="-1"
  aria-hidden="true"
></button>
<mat-table [dataSource]="entriesService.dataSource"
           matSort
           cdkDropList
           [cdkDropListSortPredicate]="dragEnter"
           esInfiniteScroll
           (scrolled)="loadData()"
>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [ngModel]="entriesService.selection.selected.length > 0"
        [indeterminate]="entriesService.selection.selected.length > 0 && entriesService.selection.selected.length !== entriesService.dataSource.getData().length"
        (ngModelChange)="toggleAll($event)"
        aria-label="{{ 'LIST_TABLE.TOGGLE_ALL' | translate }}"
      ></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let node">
      <mat-checkbox
        [checked]="entriesService.selection.isSelected(node)"
        (change)="entriesService.handleSelectionEvent(node)"
        aria-label="{{ 'SELECT' | translate:{element:(node | nodeTitle)} }}"
      ></mat-checkbox>
    </mat-cell>
  </ng-container>
  <div matColumnDef="icon">
    <mat-header-cell *matHeaderCellDef class="cell-icon cell-count">

      ({{entriesService.selection.selected.length}}<ng-container *ngIf="entriesService.dataSource?.getTotal() !== undefined"> / {{entriesService.dataSource?.getTotal()}}</ng-container>)
    </mat-header-cell>
    <mat-cell *matCellDef="let node" class="cell-icon">
      <ng-container *ngIf="entriesService.elementInteractionType === InteractionType.DefaultActionLink">
        <ng-container
          *ngTemplateOutlet="icon; context: {node}"
        ></ng-container>
      </ng-container>
      <div *ngIf="entriesService.elementInteractionType !== InteractionType.DefaultActionLink"
           (click)="entriesService.clickItem.emit({element: node, source: ClickSource.Icon})"
           (dblclick)="entriesService.dblClickItem.emit({element: node, source: ClickSource.Icon})"
      >
        <ng-container
          *ngTemplateOutlet="icon; context: {node}"
          (click)="entriesService.clickItem.emit({element: node, source: ClickSource.Icon})"
          (dblclick)="entriesService.dblClickItem.emit({element: node, source: ClickSource.Icon})"
        ></ng-container>
      </div>
    </mat-cell>
  </div>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button
        *ngIf="entriesService.configureColumns"
        mat-icon-button
        (click)="columnChooserVisible = !columnChooserVisible"
        cdkOverlayOrigin
        #columnChooserTrigger="cdkOverlayOrigin"
        [matTooltip]="'LIST_TABLE.CONFIGURE_COLUMNS' | translate"
        [attr.aria-label]="'LIST_TABLE.CONFIGURE_COLUMNS' | translate"
      >
        <i esIcon="settings"></i>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let node">
      <button mat-icon-button
              *ngIf="entriesService.options?.[Target.List]?.length"
              color="primary"
              (click)="openMenu(node)"
              [matMenuTriggerFor]="dropdown.menu"
      >
        <i esIcon="more_vert" [aria]="true"></i>
      </button>
    </mat-cell>
  </ng-container>
  <!-- Data Columns -->
  <ng-container *ngFor="let column of entriesService.columns;let first=first" [matColumnDef]="column.name">
    <ng-container *ngIf="entriesService.sort?.allowed && isSortable(column)">
      <mat-header-cell *matHeaderCellDef mat-sort-header [class.mat-column-primary]="first">{{ column | appListItemLabel }}</mat-header-cell>
    </ng-container>
    <ng-container *ngIf="!(entriesService.sort?.allowed && isSortable(column))">
      <mat-header-cell *matHeaderCellDef [class.mat-column-primary]="first">{{ column | appListItemLabel }}</mat-header-cell>
    </ng-container>
    <mat-cell *matCellDef="let node" #cell [class.mat-column-primary]="first">
      <ng-container *ngIf="entriesService.elementInteractionType === InteractionType.DefaultActionLink"
      >
        <es-node-url
          cdkMonitorSubtreeFocus
          [node]="node"
          [mode]="first ? 'link' : 'wrapper'"
        >
          <es-list-base
            [forceText]="true"
            [node]="node"
            [item]="column"
            esCheckTextOverflow
            #text="esCheckTextOverflow"
            [matTooltip]="text.hasTextOverflow() ? cell.innerText : null"
          ></es-list-base>
        </es-node-url>
      </ng-container>
      <es-list-base
        *ngIf="entriesService.elementInteractionType !== InteractionType.DefaultActionLink"
        [forceText]="true"
        [node]="node"
        [item]="column"
        (click)="entriesService.clickItem.emit({element: node, source: ClickSource.Metadata, attribute: column})"
        (dblclick)="entriesService.dblClickItem.emit({element: node, source: ClickSource.Metadata, attribute: column})"
        esCheckTextOverflow
        #text="esCheckTextOverflow"
        [matTooltip]="text.hasTextOverflow() ? cell.innerText : null"
      ></es-list-base>
    </mat-cell>
  </ng-container>
  <mat-header-row mat-header-row *matHeaderRowDef="getVisibleColumns()"></mat-header-row>
  <ng-container *ngIf="entriesService.dragDrop?.dragAllowed && !ui.isMobile()">
    <mat-row
      mat-row
      matRipple
      cdkDrag
      esDragCursor
      [cdkDragData]="node"
      (cdkDragStarted)="dragSource = node"
      (cdkDragExited)="dragExit($event)"
      (cdkDragDropped)="drop($event)"
      class="mat-row"
      [class.mat-row-drop-allowed]="getDragState()?.element === node && getDragState().dropAllowed"
      [class.mat-row-drop-blocked]="getDragState()?.element === node && !getDragState().dropAllowed"
      [class.mat-row-selected]="entriesService.selection.isSelected(node)"
      [class.mat-row-virtual]="node.virtual"
      [class.mat-row-virtual-seperator]="node.virtual && !last && !$any(entriesService.dataSource.getData()[i+1]).virtual"
      *matRowDef="let node; let i=index; let last=last; columns: getVisibleColumns()"
      (contextmenu)="onRowContextMenu({ event: $event, node: node })"
      (keydown.ContextMenu)="onRowContextMenu({ event: $event, node: node })"
    >
      Test
    </mat-row>
  </ng-container>
  <ng-container *ngIf="!(entriesService.dragDrop?.dragAllowed && !ui.isMobile())">
    <mat-row
      mat-row
      matRipple
      class="mat-row"
      [class.mat-row-selected]="entriesService.selection.isSelected(node)"
      [class.mat-row-virtual]="node.virtual"
      [class.mat-row-virtual-seperator]="node.virtual && !last && !$any(entriesService.dataSource.getData()[i+1]).virtual"
      *matRowDef="let node; let i=index; let last=last; columns: getVisibleColumns()"
      (contextmenu)="onRowContextMenu({ event: $event, node: node })"
      (keydown.ContextMenu)="onRowContextMenu({ event: $event, node: node })"
    >
    </mat-row>
  </ng-container>
</mat-table>
<ng-container *ngIf="entriesService.dataSource.isLoading">
  <ng-container *ngTemplateOutlet="loading">
  </ng-container>
</ng-container>
<!--
<mat-paginator #paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
-->

<!-- Wait for 'ready' state to avoid changed-after-checked error when `columnChooserTrigger` becomes
available. -->
<es-column-chooser
  *ngIf="ready"
  [columns]="entriesService.columns"
  [(columnChooserVisible)]="columnChooserVisible"
  [origin]="columnChooserTrigger"
  (columnsChange)="entriesService.columnsChange.emit($event)"
></es-column-chooser>
<ng-template #loading>
  <es-spinner></es-spinner>
</ng-template>
<ng-template #icon let-node="node">
  <div class="icon-bg">
    <img
      *ngIf="node.iconURL"
      [src]="node.iconURL"
      [alt]="node.mediatype ? ('NODE.mediatype' | translate) + ': ' + ('MEDIATYPE.' + node.mediatype | translate) : ''"
      [matTooltip]="node.mediatype ? ('NODE.mediatype' | translate) + ': ' + ('MEDIATYPE.' + node.mediatype | translate) : ''"
    >
    <i *ngIf="!node.iconURL"
    [esIcon]="node.authorityType ? node.authorityType === 'GROUP' ? 'group' : 'person' : null"></i>
  </div>
</ng-template>
