@if (show && mdsEditorValues.editorMode !== 'viewer') {
<es-mds-editor-widget-container [label]="'WORKSPACE.EDITOR.VERSION' | translate">
  @if (loading$ | async) {
  <div class="loading">
    <es-spinner-small [diameter]="30"></es-spinner-small>
  </div>
  }
  <div class="version-container">
    <div>
      <input
        #fileInput
        type="file"
        class="display-none"
        id="xmlSelect"
        (change)="setFile($event)"
      />
      <div>
        <button mat-raised-button (click)="fileInput.click()">
          {{ 'WORKSPACE.EDITOR.REPLACE_MATERIAL' | translate }}
        </button>
      </div>
      @if (file || mdsEditorValues?.editorMode !== 'inline') {
      <mat-form-field>
        <mat-label>{{ 'VERSION_COMMENT' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [placeholder]="'WORKSPACE.EDITOR.VERSION_COMMENT' | translate"
          [(ngModel)]="comment"
          (ngModelChange)="onChange()"
        />
      </mat-form-field>
      } @if (file && mdsEditorValues?.editorMode === 'inline') {
      <button mat-flat-button color="primary" (click)="forceUpload()">
        {{ 'SAVE' | translate }}
      </button>
      }
    </div>
    @if (file) {
    <mat-chip-listbox>
      <mat-chip-option (removed)="file = null">
        {{ file.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-option>
    </mat-chip-listbox>
    }
  </div>
</es-mds-editor-widget-container>
}
