<es-mds-editor-widget-container
  *ngIf="show"
  [label]="'WORKSPACE.EDITOR.VERSION' | translate"
>
  <div class="version-container">
    <div>
      <input
        #fileInput
        type="file"
        style="display: none"
        id="xmlSelect"
        (change)="setFile($event)"
      />
      <div>
        <button mat-raised-button (click)="fileInput.click()">
          {{ 'WORKSPACE.EDITOR.REPLACE_MATERIAL' | translate }}
        </button>
      </div>
      <mat-form-field>
        <mat-label>{{ 'VERSION_COMMENT' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [placeholder]="'WORKSPACE.EDITOR.VERSION_COMMENT' | translate"
          [(ngModel)]="comment"
          (ngModelChange)="onChange()"
        />
      </mat-form-field>
    </div>
    <mat-chip-list *ngIf="file">
      <mat-chip (removed)="file = null">
        {{ file.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</es-mds-editor-widget-container>
