<es-mds-editor-widget-container
  *ngIf="show && mdsEditorValues.editorMode !== 'viewer'"
  [label]="'WORKSPACE.EDITOR.VERSION' | translate"
>
  <div class="loading" *ngIf="loading$ | async">
    <es-spinner-small [diameter]="30"></es-spinner-small>
  </div>
  <div class="version-container">
    <div>
      <input
        #fileInput
        type="file"
        class="display-none"
        id="xmlSelect"
        (change)="setFile($event)"
      />
      <div>
        <button mat-raised-button (click)="fileInput.click()">
          {{ 'WORKSPACE.EDITOR.REPLACE_MATERIAL' | translate }}
        </button>
      </div>
      <mat-form-field *ngIf="file || mdsEditorValues?.editorMode !== 'inline'">
        <mat-label>{{ 'VERSION_COMMENT' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [placeholder]="'WORKSPACE.EDITOR.VERSION_COMMENT' | translate"
          [(ngModel)]="comment"
          (ngModelChange)="onChange()"
        />
      </mat-form-field>
      <button
        *ngIf="file && mdsEditorValues?.editorMode === 'inline'"
        mat-flat-button
        color="primary"
        (click)="forceUpload()"
      >
        {{ 'SAVE' | translate }}
      </button>
    </div>
    <mat-chip-listbox *ngIf="file">
      <mat-chip-option (removed)="file = null">
        {{ file.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-option>
    </mat-chip-listbox>
  </div>
</es-mds-editor-widget-container>
