@import '../../../../../../../projects/edu-sharing-ui/assets/scss/mixins';

es-mds-editor-widget-container {
    position: relative;
    .loading {
        @include overlay();
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .version-container > div {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 8px;
        width: 100%;

        mat-form-field {
            flex-grow: 1;
        }
    }
    mat-chip-list {
        display: flex;
        margin-top: 20px;
    }
}
:host ::ng-deep es-mds-editor-widget-container .version-container {
    mat-form-field {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }
}
