es-mds-editor-widget-container {
    .version-container > div {
        display: flex;
        align-items: center;
        width: 100%;

        mat-form-field {
            margin-left: 20px;
            flex-grow: 1;
        }
    }
    mat-chip-list {
        display: flex;
        margin-top: 20px;
    }
}
:host ::ng-deep es-mds-editor-widget-container .version-container {
    mat-form-field {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }
}
