@import "../../../core-ui-module/styles/variables";
.wrapper{
  padding:10px 30px;
  .info-wrapper {
    padding:0 10%;
    info-message {
      margin: 10px 10%;
    }
  }
  .user-list{
    min-height: 200px;
    max-height: 35vh;
    overflow-y: auto;
  }
  .group{
    padding: 10px 20px;
  }
  .group-interactions{
    display: flex;
    flex-direction: column;
    >mat-hint{
      padding-left: 40px;
      padding-bottom: 10px;
      font-size: 90%;
    }
  }
  .side-by-side{
    display: flex;
    flex-wrap: wrap;
    >div{
      flex-grow: 1;
    }
  }
  .structure{
    display: table;
    margin: 10px auto 0 auto;
  }
  .assigning{
    margin: 20px 20% 0 20%;
  }
  mat-radio-group{
    display: flex;
    flex-direction: column;
    mat-radio-button{
      padding:5px 0;
    }
  }
}
