<div class="wrapper">
  <h2 class="mat-heading-2 mat-heading-underline">{{'PERMISSIONS.DELETE.MAIN_HEADING' | translate}}</h2>
  <div class="group">
    <spinner *ngIf="loading"></spinner>
    <h3 class="mat-heading-3 mat-heading-underline" *ngIf="!loading" ><span>{{'PERMISSIONS.DELETE.USER_LIST' | translate}}</span><button mat-icon-button (click)="refresh()"><i icon iconId="refresh" ></i></button></h3>
    <div class="user-list" *ngIf="users && users.length">
      <listTable
              [nodes]="users"
              [hasIcon]="true"
              [hasCheckbox]="true"
              [selectOnClick]="true"
              [isClickable]="true"
              [selectedNodes]="selectedUsers"
              icon="person"
              [isLoading]="loading"
              [columns]="columns"
              [totalCount]="users.length"
              (onSelectionChanged)="selectedUsers=$event"
      ></listTable>
    </div>
  </div>
  <info-message mode="info" *ngIf="!loading && !(users && users.length)" message="{{'PERMISSIONS.DELETE.STATE.NO_USERS' | translate}}"></info-message>
  <div *ngIf="!loading && users && users.length">
    <div class="group">
      <h3 class="mat-heading-3 mat-heading-underline">{{'PERMISSIONS.DELETE.HOME_FOLDER.CAPTION' | translate}}</h3>
      <div class="side-by-side">
        <div>
          <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.HOME_FOLDER.PRIVATE_FILES_CAPTION' | translate}}</h4>
          <mat-radio-group [(ngModel)]="options.homeFolder.privateFiles">
            <mat-radio-button *ngFor="let mode of deleteModes" [value]="mode">{{'PERMISSIONS.DELETE.DELETE_MODE.'+mode | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.HOME_FOLDER.CC_FILES_CAPTION' | translate}}</h4>
          <mat-radio-group [(ngModel)]="options.homeFolder.ccFiles">
            <mat-radio-button *ngFor="let mode of deleteModes" [value]="mode">{{'PERMISSIONS.DELETE.DELETE_MODE.'+mode | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="structure" *ngIf="options.homeFolder.privateFiles == 'assign' || options.homeFolder.ccFiles == 'assign'">
        <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.HOME_FOLDER.FOLDER_STRUCTURE_CAPTION' | translate}}</h4>
        <mat-radio-group [(ngModel)]="options.homeFolder.keepFolderStructure">
          <mat-radio-button [value]="false">{{'PERMISSIONS.DELETE.FOLDER_STRUCTURE_DISINTEGRATE' | translate}}</mat-radio-button>
          <mat-radio-button [value]="true">{{'PERMISSIONS.DELETE.FOLDER_STRUCTURE_KEEP' | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="group">
      <h3 class="mat-heading-3 mat-heading-underline">{{'PERMISSIONS.DELETE.SHARED_FOLDERS.CAPTION' | translate}}</h3>
      <div class="side-by-side">
        <div>
          <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.SHARED_FOLDERS.PRIVATE_FILES_CAPTION' | translate}}</h4>
          <mat-radio-group [(ngModel)]="options.sharedFolders.privateFiles">
            <mat-radio-button *ngFor="let mode of deleteModes" [value]="mode">{{'PERMISSIONS.DELETE.DELETE_MODE.'+mode | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.SHARED_FOLDERS.CC_FILES_CAPTION' | translate}}</h4>
          <mat-radio-group [(ngModel)]="options.sharedFolders.ccFiles">
            <mat-radio-button *ngFor="let mode of deleteModes" [value]="mode">{{'PERMISSIONS.DELETE.DELETE_MODE.'+mode | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="group">
      <h3 class="mat-heading-3 mat-heading-underline">{{'PERMISSIONS.DELETE.COLLECTIONS.CAPTION' | translate}}</h3>
      <div class="side-by-side">
        <div>
          <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.COLLECTIONS.PRIVATE_COLLECTIONS_CAPTION' | translate}}</h4>
          <mat-radio-group [(ngModel)]="options.collections.privateCollections">
            <mat-radio-button *ngFor="let mode of deleteModes" [value]="mode">{{'PERMISSIONS.DELETE.DELETE_MODE.'+mode | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.COLLECTIONS.PUBLIC_COLLECTIONS_CAPTION' | translate}}</h4>
          <mat-radio-group [(ngModel)]="options.collections.publicCollections">
            <mat-radio-button *ngFor="let mode of deleteModes" [value]="mode">{{'PERMISSIONS.DELETE.DELETE_MODE.'+mode | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div class="group">
      <div *ngIf="hasAssigning()" class="assigning">
        <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.RECEIVER_CAPTION' | translate}}</h4>
        <!-- @TODO: The component does currently not support searching ONLY for users -->
        <authority-search-input
                (onChooseAuthority)="receiver=$event"
                placeholder="{{'PERMISSIONS.DELETE.RECEIVER' | translate}}"
        ></authority-search-input>
        <mat-chip-list>
          <mat-chip *ngIf="receiver" (removed)="receiver=null">
            <span>{{receiver | authorityName}}</span>
            <i matChipRemove icon iconId="cancel"></i>
          </mat-chip>
        </mat-chip-list>
        <h4 class="mat-heading-4">{{'PERMISSIONS.DELETE.RECEIVER_GROUP_CAPTION' | translate}}</h4>
        <authority-search-input
                mode="Organizations"
                (onChooseAuthority)="receiverGroup=$event"
                placeholder="{{'PERMISSIONS.DELETE.RECEIVER_GROUP' | translate}}"
        ></authority-search-input>
        <mat-chip-list>
          <mat-chip *ngIf="receiverGroup" (removed)="receiverGroup=null">
            <span>{{receiverGroup | authorityName}}</span>
            <i matChipRemove icon iconId="cancel"></i>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="info-wrapper">
      <info-message *ngIf="missingAssigning()" mode="warning" message="{{'PERMISSIONS.DELETE.STATE.NO_RECEIVER' | translate}}"></info-message>
      <info-message *ngIf="!isValid()" mode="warning" message="{{'PERMISSIONS.DELETE.STATE.NON_CONFORM' | translate}}"></info-message>
    </div>
  </div>
    <div class="group group-interactions">
      <h3 class="mat-heading-3 mat-heading-underline">{{'PERMISSIONS.DELETE.USER_INTERACTIONS.CAPTION' | translate}}</h3>
      <mat-checkbox [(ngModel)]="options.comments.delete">{{'PERMISSIONS.DELETE.USER_INTERACTIONS.STREAM' | translate}}</mat-checkbox>
      <mat-hint>{{'PERMISSIONS.DELETE.USER_INTERACTIONS.STREAM_HINT' | translate}}</mat-hint>
      <mat-checkbox [(ngModel)]="options.comments.delete">{{'PERMISSIONS.DELETE.USER_INTERACTIONS.COMMENTS' | translate}}</mat-checkbox>
      <mat-hint>{{'PERMISSIONS.DELETE.USER_INTERACTIONS.COMMENTS_HINT' | translate}}</mat-hint>
      <mat-checkbox [(ngModel)]="options.ratings.delete">{{'PERMISSIONS.DELETE.USER_INTERACTIONS.RATINGS' | translate}}</mat-checkbox>
      <mat-hint>{{'PERMISSIONS.DELETE.USER_INTERACTIONS.RATINGS_HINT' | translate}}</mat-hint>
      <mat-checkbox [(ngModel)]="options.statistics.delete">{{'PERMISSIONS.DELETE.USER_INTERACTIONS.STATISTICS' | translate}}</mat-checkbox>
      <mat-hint>{{'PERMISSIONS.DELETE.USER_INTERACTIONS.STATISTICS_HINT' | translate}}</mat-hint>
    </div>
  <div class="group group-buttons">
    <button mat-raised-button color="primary" [disabled]="!canSubmit()" (click)="prepareStart()">{{'PERMISSIONS.DELETE.START' | translate}}</button>
  </div>
</div>
