@import '../../styles/variables';

.password {
    position: relative;
    .strength {
        position: absolute !important;
        top: -25px;
        right: -30px;
        //font-weight: bold;
        text-transform: uppercase;
        font-size: 90%;
        margin-right: 0.75em;
    }
    .eye {
        color: $textLight;
    }
    :host & ::ng-deep .mat-form-field-suffix {
        align-self: center; // fix alignment on Firefox
    }
    .password-strength {
        &.weak {
            color: $warning;
        }
        &.accept {
            color: #ff9800;
        }
        &.medium {
            color: $primary;
        }
        &.strong {
            color: #37a574;
        }
    }
    /*
  .password-input{
    &.weak{
      border-color: $warning;
    }
    &.accept{
      border-color: #FF9800;
    }
    &.medium{
      border-color: $primary;
    }
    &.strong{
      border-color: #37a574;
    }
  }
  input::-ms-clear, input::-ms-reveal {
    display: none;
  }
}
.input-hint-bottom{
  margin-bottom: 22px;
  */
}
.middle {
    border-color: #ff9800;
}
