@import "../../../../core-ui-module/styles/variables";

.no-history{
    padding: 60px 0;
    text-align: center;
    color: $textLight;
}
.history {
    .user,.date{
        padding-top: 20px;
        padding-bottom: 10px;
        color: $textLight;
    }
    .user{
        float:left;
    }
    .date{
        float:right;
    }
    .box {
        background-color: $backgroundColor;
        padding:10px 0;
        display: flex;
        width:100%;
        label{
            padding-bottom: 5px;
        }
        .workflowStatus{
            float:left;
        }
        .status,.comment{
            padding-top: 15px;
        }
        .row{
            display:flex;
            flex-direction: column;
            &.arrow{
                flex-grow: 0;
                padding: 0 25px;
                justify-content: center;
            }
            &.origin, &.target{
                .badgeIconLeft{
                    padding-right: 5px;
                }
                flex-grow: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        label{
            float: left;
            width: 100%;
        }
    }


}
:host ::ng-deep es-authority-search-input .mat-form-field-wrapper{
    padding-bottom: 0;
}
.inputs{
    display:flex;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
    es-authority-search-input{
        display: flex;
        width:0;
        flex-grow: 1;
    }
    .btn-flat {
        min-width: 150px;
        display: flex;
        align-items: center;
        .right{
            position: relative;
            left:2px;
        }
    }
    >div{
        display: flex;
        margin-left: 20px;
    }
    .selected{
        float:right;
        top:0;
        left:7px;
    }
    .collection-item{
        height:40px;
        line-height: 3rem;
        display: flex;
        align-items: center;
    }
    .collection-item.disabled{
        /*filter:blur(1px);*/
        color:$textVeryLight;
        i{
            filter:saturate(0.5) contrast(0.5);
            opacity: 0.5;
        }
    }
    .statusIcon{
        border-radius: 50%;
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        top: 0;
    }
}
.chooseStatus{
    position:absolute;
    right: 30px;
    min-width: 200px;
    top: 10px;
}
@media screen and (max-width: $mobileWidth - $mobileStage*1) {
    .inputs {
        flex-direction: column;
        es-authority-search-input {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
