<div>
  <div class="header" (esBorderBoxObserver)="setMainNavOffset($event.height - 75)">
    <img [src]="'assets/images/layout/oer_bg.jpg' | esAssetsPath" esImageConfig alt="" />
    <div class="headerGradient"></div>
  </div>
  <div class="heading">
    <h1 esTitle>{{ 'OER.HEADING_TITLE' | translate }}</h1>
    <h2>{{ 'OER.HEADING_DESCRIPTION' | translate }}</h2>
  </div>
  <div class="content">
    @if (nodes[COLLECTIONS] && nodes[COLLECTIONS].length) {
    <div class="collectionsGroup">
      <div class="caption">{{ 'OER.COLLECTIONS' | translate }}</div>
      @if (hasMore[COLLECTIONS] || true) {
      <div class="more">
        <a
          tabindex="0"
          class="clickable"
          (click)="goToCollections()"
          (keyup.enter)="goToCollections()"
          >{{ (showMore[COLLECTIONS] ? 'HIDE_MORE' : 'SHOW_MORE') | translate }}</a
        >
      </div>
      } @if (!loading[COLLECTIONS] && !nodes[COLLECTIONS].length) {
      <div class="noResults collections">
        {{ 'OER.NO_COLLECTION_RESULTS' | translate }}
      </div>
      }
      <div>TODO</div>
    </div>
    }
    <div class="materials">
      <div class="caption">{{ 'OER.MATERIALS' | translate }}</div>
      @if (hasMore[MATERIALS]) {
      <div class="more">
        <a tabindex="0" class="clickable" (click)="goToSearch()">{{
          (showMore[MATERIALS] ? 'HIDE_MORE' : 'SHOW_MORE') | translate
        }}</a>
      </div>
      } @if (!(loading[MATERIALS] || (nodes[MATERIALS] && nodes[MATERIALS].length))) {
      <div class="noResults materials">
        {{ 'OER.NO_MATERIAL_RESULTS' | translate }}
      </div>
      } TODO
    </div>
    @if (false) {
    <div class="tools">
      <div class="caption">{{ 'OER.TOOLS' | translate }}</div>
      @if (hasMore[TOOLS]) {
      <div class="more">
        <a
          tabindex="0"
          class="clickable"
          (click)="toggleMore(TOOLS)"
          (keyup.enter)="toggleMore(TOOLS)"
          >{{ (showMore[TOOLS] ? 'HIDE_MORE' : 'SHOW_MORE') | translate }}</a
        >
      </div>
      } @if (!loading[TOOLS] && !nodes[TOOLS].length) {
      <div class="noResults tools">
        {{ 'OER.NO_TOOL_RESULTS' | translate }}
      </div>
      } TODO
    </div>
    }
  </div>
</div>
<es-footer [scope]="'oer'"></es-footer>
