@import '../../../../core-ui-module/styles/variables';

:host {
    display: flex;
    flex-direction: column;
}

.template-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.template-disabled {
    .disabled-info {
        padding: 0 10%;
        text-align: center;
        font-size: 140%;
        color: $textLight;
    }
}

.enable-toggle {
    margin: -$cardPadding;
    margin-bottom: 20px;
    padding: 20px $cardPadding;
    background: $actionDialogBackground;
    border-bottom: 1px solid $cardSeparatorLineColor;
    display: flex;
    flex-direction: row-reverse;

    label {
        float: right;
        margin-right: -8px;
    }
    strong {
        font-weight: bold;
        letter-spacing: 0.25px;
    }
}

.node-status {
    padding-right: 80px;
}

@media screen and (max-width: ($mobileWidth - $mobileStage*2)) {
    .node-status {
        p {
            display: none;
        }
        strong {
            font-weight: normal;
            letter-spacing: normal;
        }
    }
}
