@if (rocketChat._data) {
<div class="chat" [class.opened]="rocketChat.opened" [class.fullscreen]="fullscreen">
  <div class="bar" [class.unread]="rocketChat.unread">
    <div class="title">
      {{ 'ROCKETCHAT.TITLE' | translate }}
      @if (rocketChat.unread) {
      <span>({{ rocketChat.unread }})</span>
      }
    </div>
    <div class="options">
      @if (!loaded) {
      <mat-spinner diameter="20"></mat-spinner>
      } @if (loaded && rocketChat.opened) {
      <button mat-button class="toggle-fullscreen clickable" (click)="fullscreen = !fullscreen">
        <i [esIcon]="fullscreen ? 'fullscreen_exit' : 'fullscreen'"></i>
      </button>
      } @if (loaded && rocketChat.opened) {
      <button
        mat-button
        class="toggle-close clickable"
        (click)="rocketChat.opened = !rocketChat.opened; rocketChat.unread = 0"
      >
        <i esIcon="close"></i>
      </button>
      } @if (loaded && !fullscreen) {
      <button
        mat-button
        class="toggle-open clickable"
        (click)="rocketChat.opened = !rocketChat.opened; rocketChat.unread = 0"
      >
        <i [esIcon]="rocketChat.opened ? 'remove' : 'launch'"></i>
      </button>
      }
    </div>
  </div>
  <iframe #frame [src]="src" [class.opened]="rocketChat.opened"></iframe>
</div>
}
