@if (img() !== null) {
<img [src]="'/assets/images/motivation/' + img() + '.svg'" alt="" />
}

<h3>{{ 'WORKSPACE.SHARE.PUBLISH.MOTIVATION.TITLE' | translate }}</h3>
<div class="message">
  {{ 'WORKSPACE.SHARE.PUBLISH.MOTIVATION.MESSAGE_INTRO' | translate }}
  <span class="count">{{
    'WORKSPACE.SHARE.PUBLISH.MOTIVATION.MESSAGE_COUNT'
      | translate : { count: stats()?.publicStats.nodeCountOER || 1 }
  }}</span>
  {{ 'WORKSPACE.SHARE.PUBLISH.MOTIVATION.MESSAGE_OUTRO' | translate }}
</div>
<div class="random-message">
  {{ 'WORKSPACE.SHARE.PUBLISH.MOTIVATION.MESSAGES.' + randomMessage() | translate }}
</div>
