<div class="suggestion-content">
  <es-user-avatar [user]="authority" size="small"></es-user-avatar>
  <div class="text-content">
    <div class="data">
      <div
        class="primary"
        esCheckTextOverflow
        #name="esCheckTextOverflow"
        [matTooltip]="name.hasTextOverflow() ? (authority | authorityName) : null"
      >
        {{ authority | authorityName }}
      </div>
      @if (secondaryTitle) {
      <div class="secondary">{{ secondaryTitle }}</div>
      }
    </div>
    <div class="secondary-data">
      <div class="parent-orgs">
        @if (authority.organizations) {
        <span
          esCheckTextOverflow
          #orgs="esCheckTextOverflow"
          #div
          [matTooltip]="orgs.hasTextOverflow() ? div.innerText : null"
        >
          @for (org of authority.organizations; track org; let last = $last) {
          <span> {{ org | authorityName }}@if (!last) { , } </span>
          }
        </span>
        } @if (!authority.organizations) {
        <span>&nbsp;</span>
        }
      </div>
      @if (authority.authorityType === 'USER') {
      <div class="affiliation">
        {{ (authority | authorityAffiliation) || '&nbsp;' }}
      </div>
      } @if (authority.profile?.displayName && authority.properties) {
      <div class="affiliation affiliation-group">
        {{
          'AUTHORITY_TYPE_' + (authority.properties['ccm:edu_homedir'] ? 'ORG' : 'GROUP')
            | translate
        }}
      </div>
      }
    </div>
  </div>
</div>
