@import '../../../core-ui-module/styles/variables';

::ng-deep {
    .mobile-move-top,
    .mobile-move-bottom {
        &:focus-within {
            // Don't hide any dynamic elements when focused.
            top: 0 !important;
        }
    }
}

.navigation-container {
    position: sticky;
    top: 0;
    z-index: $topBarZIndex;
}

.topBar {
    width: 100%;
    max-width: 100%;
    :host ::ng-deep &.topBar-safe > div {
        background: $workspaceTopBarSafeBackground;
    }
}
.dialog {
    z-index: $dialogZIndex + 5;
}

es-user-profile {
    display: inherit !important;
}

.topBar {
    @include placeholder {
        color: mix(
            $workspaceTopBarInputBackground,
            $workspaceTopBarInputText,
            20%
        ); //rgba(255,255,255,0.165);/* => #595959;*/
    }
}

es-search-field {
    max-width: 550px;
}

.tab-nav {
    display: none;
}

@media screen and (max-width: ($mobileTabSwitchWidth)) {
    #scrollToTop {
        display: none !important;
    }

    .topBar {
        z-index: $topBarMobileZIndex;
    }

    .tab-nav {
        position: fixed;
        z-index: $mobileTabsZIndex;
        width: 100%;
        bottom: 0;
        display: flex;
        // disable events to "click-through" if menu is hidden
        pointer-events: none;
        > es-main-menu-bottom {
            // but re-enable them on the real menu again
            pointer-events: auto;
        }
    }
}

@media print {
    .topBar {
        position: absolute;
    }
}
