<ng-container *ngIf="visible">
  <es-skip-nav></es-skip-nav>
  <es-banner [scope]="mainNavConfig.currentScope" (onUpdate)="refreshBanner()"></es-banner>

  <div role="navigation" [attr.aria-label]="'NAV.MAIN' | translate">
    <es-user-profile *ngIf="showProfile" (onCancel)="showProfile = false"></es-user-profile>

    <es-card
      *ngIf="licenseDialog"
      title="{{ 'LICENSE_INFORMATION' | translate }}"
      width="xxlarge"
      height="xxlarge"
      [isCancelable]="true"
      (onCancel)="licenseDialog = false"
    >
      <div class="card-content-padding card-licenses">
        <es-spinner *ngIf="!licenseDetails"></es-spinner>
        <div [innerHTML]="licenseDetails"></div>
      </div>
    </es-card>

    <es-global-progress *ngIf="globalProgress"></es-global-progress>
    <es-tutorial
      [element]="tutorialElement"
      [heading]="'USER_TUTORIAL_HEADING'"
      [description]="'USER_TUTORIAL_DESCRIPTION'"
      [showSkip]="false"
    ></es-tutorial>

    <div class="dialog darken" *ngIf="licenseAgreement" [@fade]="licenseAgreement"></div>
    <div
      class="card card-agreement center-card card-scroll card-high card-wide card-action"
      *ngIf="licenseAgreement"
      [@cardAnimation]="licenseAgreement"
    >
      <div class="card-content">
        <div class="card-title">{{ 'LICENSE_AGREEMENT.TITLE' | translate }}</div>
        <div class="agreementGroup card-scroll">
          <div class="agreement" [innerHTML]="licenseAgreementHTML"></div>
        </div>
        <div *ngIf="licenseAgreementHTML">
          <mat-checkbox [(ngModel)]="acceptLicenseAgreement">{{
            'LICENSE_AGREEMENT.CHECKBOX' | translate
          }}</mat-checkbox>
        </div>
      </div>
      <div class="card-action">
        <a
          tabindex="0"
          class="waves-effect waves-light btn"
          [class.disabled]="!acceptLicenseAgreement"
          (keyup.enter)="saveLicenseAgreement()"
          (click)="saveLicenseAgreement()"
          >{{ 'LICENSE_AGREEMENT.ACCEPT' | translate }}</a
        >
        <a
          tabindex="0"
          class="waves-effect waves-light btn-flat"
          (keyup.enter)="logout()"
          (click)="logout()"
          >{{ 'LICENSE_AGREEMENT.DECLINE' | translate }}</a
        >
      </div>
    </div>

    <es-top-bar
      class="topBar {{ 'topBar-' + mainNavConfig.currentScope }} scrollWithBanner"
      [class.noUser]="!showUser"
      [autoLogoutTimeout$]="autoLogoutTimeout$"
      [canOpen]="canOpen"
      [chatCount]="getChatCount()"
      [config]="config"
      [create]="mainNavConfig.create"
      [currentScope]="mainNavConfig.currentScope"
      [currentUser]="currentUser"
      [isCreateAllowed]="isCreateAllowed()"
      [isSafe]="isSafe()"
      [mainMenuStyle]="mainMenuStyle"
      [searchEnabled]="mainNavConfig.searchEnabled"
      [showChat]="showChat()"
      [showScope]="mainNavConfig.showScope"
      [showUser]="showUser"
      [title]="mainNavConfig.title"
      [userMenuOptions]="userMenuOptions"
      (created)="mainNavConfig.onCreate && mainNavConfig.onCreate($event)"
      (createNotAllowed)="mainNavConfig.onCreateNotAllowed && mainNavConfig.onCreateNotAllowed()"
      (openChat)="openChat()"
      (openImprint)="openImprint()"
      (openPrivacy)="openPrivacy()"
      (showLicenses)="showLicenses()"
    >
      <es-search-field
        data-selector-search-field
        *ngIf="mainNavConfig.searchEnabled"
        [(searchString)]="searchQuery"
        (searchStringChange)="
          mainNavConfig.searchQueryChange && mainNavConfig.searchQueryChange($event)
        "
        [placeholder]="mainNavConfig.searchPlaceholder"
        [enableFiltersAndSuggestions]="mainNavConfig.currentScope === 'search'"
        (search)="doSearch(searchQuery)"
        (clear)="clearSearch()"
      ></es-search-field
    ></es-top-bar>

    <div *ngIf="canOpen && mainNavConfig.currentScope !== 'render'" #tabNav class="tab-nav">
      <es-main-menu-bottom
        class="mobile-move-bottom"
        [currentScope]="mainNavConfig.currentScope"
      ></es-main-menu-bottom>
    </div>
  </div>
</ng-container>
