<ng-container *ngIf="visible">
  <es-skip-nav></es-skip-nav>
  <es-banner [scope]="mainNavConfig.currentScope" (onUpdate)="refreshBanner()"></es-banner>

  <div role="navigation" [attr.aria-label]="'NAV.MAIN' | translate">
    <es-user-profile *ngIf="showProfile" (onCancel)="showProfile = false"></es-user-profile>

    <es-global-progress *ngIf="globalProgress"></es-global-progress>
    <es-tutorial
      [element]="tutorialElement"
      [heading]="'USER_TUTORIAL_HEADING'"
      [description]="'USER_TUTORIAL_DESCRIPTION'"
      [showSkip]="false"
    ></es-tutorial>

    <es-top-bar
      class="topBar {{ 'topBar-' + mainNavConfig.currentScope }} scrollWithBanner"
      [class.noUser]="!showUser"
      [autoLogoutTimeout$]="autoLogoutTimeout$"
      [canOpen]="canOpen"
      [chatCount]="getChatCount()"
      [config]="config"
      [create]="mainNavConfig.create"
      [currentScope]="mainNavConfig.currentScope"
      [currentUser]="currentUser"
      [isCreateAllowed]="isCreateAllowed()"
      [isSafe]="isSafe()"
      [mainMenuStyle]="mainMenuStyle"
      [searchEnabled]="searchFieldEnabled"
      [showChat]="showChat()"
      [showScope]="mainNavConfig.showScope"
      [showUser]="showUser"
      [title]="mainNavConfig.title"
      [userMenuOptions]="userMenuOptions"
      (created)="mainNavConfig.onCreate && mainNavConfig.onCreate($event)"
      (createNotAllowed)="mainNavConfig.onCreateNotAllowed && mainNavConfig.onCreateNotAllowed()"
      (openChat)="openChat()"
      (openImprint)="openImprint()"
      (openPrivacy)="openPrivacy()"
      (showLicenses)="showLicenses()"
    >
      <es-search-field data-selector-search-field *ngIf="searchFieldEnabled"></es-search-field
    ></es-top-bar>

    <div *ngIf="canOpen && mainNavConfig.currentScope !== 'render'" #tabNav class="tab-nav">
      <es-main-menu-bottom
        class="mobile-move-bottom"
        [currentScope]="mainNavConfig.currentScope"
      ></es-main-menu-bottom>
    </div>
  </div>
</ng-container>
