<div class="dialog darken valign-wrapper">
    <div class="card center-card">
        <div class="card-content">
            <div class="card-title">{{'REGISTER.TITLE' | translate}}</div>
            <div class="card-scroll ">
                <form (ngSubmit)="login()" #loginForm>
                    Test
                </form>
            </div>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn" (click)="register()">{{'REGISTER.REGISTER' | translate }}</a>
        </div>
    </div>
</div>
