<es-card
  role="main"
  esSkipTarget="MAIN_CONTENT"
  avatar="assets/images/app-icon.svg"
  [buttons]="buttons"
  title="{{
    (state === 'request' || state === 'done-reset'
      ? 'REGISTER.REQUEST.TITLE'
      : state === 'reset-password'
      ? 'REGISTER.RESET.TITLE'
      : 'REGISTER.TITLE'
    ) | translate
  }}"
  subtitle="{{ 'REGISTER.ORGANIZATION_TITLE' | translate }}"
  width="normal"
  height="auto"
  (onCancel)="cancel()"
  [isCancelable]="false"
>
  <div class="register-content card-content-padding">
    <h1 esTitle class="cdk-visually-hidden">{{ 'REGISTER.TITLE' | translate }}</h1>
    <es-register-form
      [class.display-none]="!(state === 'register')"
      (onStateChanged)="updateButtons()"
      (onRegisterDone)="onRegisterDone()"
      #registerForm
    ></es-register-form>
    <es-register-done
      *ngIf="state === 'done' || state === 'done-reset'"
      (onStateChanged)="updateButtons()"
      (onModify)="modifyData()"
      [inputState]="state"
      #registerDone
    ></es-register-done>
    <es-register-request
      *ngIf="state === 'request'"
      (onStateChanged)="updateButtons()"
      (onDone)="onPasswordRequested()"
      #request
    ></es-register-request>
    <es-register-reset-password
      *ngIf="state === 'reset-password'"
      (onStateChanged)="updateButtons()"
      #resetPassword
      [params]="params"
    ></es-register-reset-password>
    <div
      *ngIf="
        state !== 'register' &&
        state !== 'done' &&
        state !== 'done-reset' &&
        state !== 'request' &&
        canRegister()
      "
      class="register"
    >
      {{ 'LOGIN.REGISTER_TEXT' | translate }}
      <button mat-button color="primary" (click)="linkRegister()">
        {{ 'LOGIN.REGISTER_LINK' | translate }} <i esIcon="arrow_forward"></i>
      </button>
    </div>
  </div>
</es-card>
