@import "../../../styles/variables.scss";

.card-action a{
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.register{
  color:$textLight;
  text-align: center;
  margin-bottom: 10px;
  a{
    text-transform: uppercase;
    i{
      font-size: 11pt;
      position: relative;
      top: 3px;
    }
  }
}