<div
  class="grid-card"
  [class.grid-card-collection]="nodeHelper.isNodeCollection(node)"
  [style.background-color]="nodeHelper.isNodeCollection(node) ? node.collection.color : null"
  (contextmenu)="openContextmenu($event)"
>
  <es-node-url *ngIf="entriesService.elementInteractionType === InteractionType.DefaultActionLink"
                mode="wrapper"
                [node]="node"
  >
    <ng-container *ngTemplateOutlet="image"></ng-container>
    <ng-container *ngTemplateOutlet="meta"></ng-container>
  </es-node-url>
  <ng-container *ngIf="entriesService.elementInteractionType !== InteractionType.DefaultActionLink">
    <ng-container *ngTemplateOutlet="image"></ng-container>
    <ng-container *ngTemplateOutlet="meta"></ng-container>
  </ng-container>
</div>
<ng-template #image>
  <div class="card-image-area">
    <div class="card-image-backdrop">
      <img
        *ngIf="!(nodeHelper.isNodeCollection(node) && node.preview.isIcon)"
        [src]="(node | appNodeImage)"
        alt=""
      >
    </div>
    <img
      *ngIf="!(nodeHelper.isNodeCollection(node) && node.preview.isIcon)"
      [src]="(node | appNodeImage)"
      alt=""
    >
    <div *ngIf="nodeHelper.isNodeCollection(node) && node.preview.isIcon"
         class="card-collection-image"
    >
      <i esIcon="layers"></i>
    </div>
  </div>
</ng-template>
<ng-template #meta>
  <div class="card-meta">
    <div
      *ngFor="let displayPart of entriesService.columns; let first = first;"
      class="card-meta-row"
    >
      <ng-container *ngIf="first">
        <es-node-url *ngIf="entriesService.elementInteractionType === InteractionType.DefaultActionLink"
                      [node]="node"
                      #link
        >
          <es-list-base
            [item]="displayPart"
            [node]="node"
            [showFieldTooltip]="false"
          >
          </es-list-base>
        </es-node-url>
        <div *ngIf="entriesService.elementInteractionType !== InteractionType.DefaultActionLink"
        >
          <es-list-base
            [item]="displayPart"
            [node]="node"
            [showFieldTooltip]="false"
          >
          </es-list-base>
        </div>
      </ng-container>
      <ng-container *ngIf="!first">
        <es-list-base
          [item]="displayPart"
          [node]="node"
          [showFieldTooltip]="false"
        >
        </es-list-base>
      </ng-container>
    </div>
  </div>
</ng-template>
