<es-global-progress *ngIf="globalProgress && !embedded"></es-global-progress>
<div *ngIf="!embedded">
  <!--
    <div class="card-title" *ngIf="currentNode || _groupId">{{currentNode ? currentNode.name : _currentValues['cm:name']}}</div>
    <div class="card-title" *ngIf="!(currentNode || _groupId)">{{"CREATE_NODE."+createType | translate:{parent:parentNode ? parentNode.name : ""} }}</div>
  -->
  <es-card
    height="xlarge"
    width="large"
    title="{{ (customTitle ? customTitle : 'MDS.TITLE') | translate }}"
    [jumpmarks]="displayJumpmarks ? jumpmarks : null"
    [node]="currentNodes"
    [priority]="priority"
    [buttons]="buttons"
    (onCancel)="cancel()"
  >
    <div class="mdsCard">
      <es-spinner class="loading" *ngIf="isLoading"></es-spinner>
      <div class="dialogMds" *ngIf="currentWidgetSuggestion" (click)="closeDialog()"></div>
      <div [innerHTML]="rendered"></div>
    </div>
  </es-card>
</div>
<div *ngIf="embedded">
  <div class="mdsEmbeddedGroup">
    <div class="dialogMds" *ngIf="currentWidgetSuggestion" (click)="closeDialog()"></div>
    <div [innerHTML]="rendered" *ngIf="rendered"></div>
    <div class="reset" *ngIf="mode == 'search' && rendered">
      <a class="btn-flat" tabindex="0" (click)="resetValues()" (keyup.enter)="resetValues()">{{
        'CLEAR_FILTERS' | translate
      }}</a>
    </div>
    <div *ngIf="renderedSuggestions" [innerHTML]="renderedSuggestions" class="suggestions"></div>
  </div>
</div>
<es-mds
  #mdsChildobject
  *ngIf="editChildobject"
  [priority]="2"
  [groupId]="'io_childobject'"
  [currentValues]="editChildobject.properties"
  (onCancel)="editChildobject = null"
  (onDone)="setChildobjectProperties($event)"
  [invalidate]="editChildobject != null"
></es-mds>
<es-modal-dialog
  [priority]="1 + priority"
  [title]="dialogTitle"
  [message]="dialogMessage"
  [isCancelable]="true"
  [messageParameters]="dialogParameters"
  [buttons]="dialogButtons"
  (onCancel)="dialogTitle = null"
></es-modal-dialog>
