<es-mds-editor-widget-container
  #container
  *ngIf="filteredSuggestions$ | async"
  [widget]="widget"
  [label]="true"
  [wrapInGroup]="false"
>
  <mat-chip-list
    #chipList
    [attr.aria-labelledby]="container.labelId"
    [attr.aria-describedby]="container.descriptionId"
  >
    <mat-chip
      *ngFor="let value of filteredSuggestions$ | async"
      [selectable]="false"
      (click)="add(value)"
      (keydown.enter)="add(value)"
      [matTooltip]="'MDS.FILTER_FOR' | translate: { value: value.label, count: value.count }"
    >
      <mat-icon>add</mat-icon>
      <span class="caption">{{ value.label }}</span>
      <span class="count">({{ value.count }})</span>
    </mat-chip>
  </mat-chip-list>
</es-mds-editor-widget-container>
