@import '../../../../../core-ui-module/styles/variables';

$backgroundColor: scale-color($colorStatusPositive, $lightness: +50%);
$iconColor: scale-color($colorStatusPositive, $lightness: -50%);

.mat-chip-list .mat-chip {
    background-color: $backgroundColor;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    .mat-icon {
        color: $iconColor;
        margin-right: 8px;
        margin-left: 0;
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
    .caption {
        @include limitLineLength(200px);
    }
    .count {
        margin-left: 5px;
        color: $textLight;
        font-size: $fontSizeXSmall;
    }
}
