@import "../../../core-ui-module/styles/variables";


$top:16px;
$side:20px;
.valign-wrapper{
  height:100%;
}
.loading{
  margin:auto;
}
.close{
  padding-right:$side;
  padding-top:$top;
  float:right;
}
.mimetype{
  word-break: break-all;
  padding-left: 5px;
}
.name{
  padding-top:$top;
  padding-left:$side;
  font-size:110%;
  background-color: $workspaceMetadataBackground;
  word-break: break-all;
  padding-bottom: 15px;
}

.row{
  padding-top:0;
  background-color: $workspaceMetadataBackground;
  margin-bottom: 0;
}
.row .col{
  padding:0;
}

.btn-flat{
  color:$primary;
}
.btn-flat{
  position: relative;
  top:-5px;
}
.versionTitle{
  font-weight:bold;
}
.versionComment{
  font-style: italic;
  padding-bottom:10px;
}
.versionAuthor{
  line-height:1.25;
}
.versionDate{
  color:$textLight;
}
.versionMain{
  padding-bottom:20px;
}
.version{
  padding-top:20px;
}

.description{
  color: $textMain;
  font-size:90%;
  float:left;
  text-transform: uppercase;
  font-weight: bold;
}
.descriptionValue{
  white-space: pre-wrap;
}
.edit{
  color:$textLight;
  float:right;
  position: relative;
  top: -10px;
}
.btnVersion{
  margin-right: 5px;
}
.content{
  margin-top:20px;
  padding:0 12px;
}
.value{
  padding-top:0;
  float:left;
  padding-bottom:20px;
}
.aspect:not(:last-child){
  padding-bottom: 4px;
}
.valueFreetext{
  white-space: pre-line;
}
.description,.value{
  width:calc(100% - 30px);
}
/*Value show in memu-tabs*/
.value-properties{
  float: right;
  line-height: 40px;
  margin-right: 18px;
}
// Statiskik Canvas
canvas{
  margin: 20px 0;
}
listTable{
  float:left;
  width:100%;
  padding: 10px 0 30px;
}
.statistic-value{
  margin-left: 20px;
  margin-top: -14px;
  margin-bottom: 10px;
  width: 110%;

  .point{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    text-align: center;
    width: 64px;
    color: #383838;
    font-weight: bold;
    font-size: 26px;
    i{
      color: $textLight;
      font-size: 20px;
    }
  }
}

.usage-count{
  margin: 20px 0;
  float: left;
}
.usage-counter{
  font-weight: bold;
}
.preview{
  width:calc(100% + 24px);
  margin-left:-13px;
  height:200px;
  position: relative;
  top:-20px;
  object-fit: cover;
}
.license{
  padding-top: 4px;
  height: 21px;
}

