<button
  type="button"
  class="collapsible-menu-item"
  [class]="'position-' + position"
  [class.background-item]="selectedMenuItem !== '' && selectedMenuItem !== title"
  [class.menu-icon]="icon"
  [class.primary-border]="color === 'primary'"
  [class.selected-item]="selectedMenuItem === title"
  [disabled]="disabled()"
  [matTooltip]="icon && title ? title : null"
  [matTooltipPosition]="position === 'right' ? 'left' : 'right'"
  (click)="menuItemClicked()"
>
  @if (!icon) {
  <span class="menu-title">
    {{ title }}
  </span>
  } @else {
  <!-- note: esIcon does always set aria-hidden to true, even when settings [aria]="true" -->
  <mat-icon aria-hidden="false" [fontIcon]="icon" [attr.aria-label]="title ?? icon"></mat-icon>
  }
</button>
