<div class="dialog" *ngIf="showSuggestions" (click)="showSuggestions=false"></div>
<div class="form-group edusharing-autocomplete-wrapper">
    <form (ngSubmit)="addValue()">
        <input name="valueInput" class="searchInput" [(ngModel)]="valueInput" (ngModelChange)="updateValue()" (keyup.enter)="addValue()" [disabled]="disabled" placeholder="{{placeholder | translate}}" title="{{placeholder | translate}}" autocomplete="off">
        <div class="input-hint-bottom" *ngIf="hintBottom">{{hintBottom | translate}}</div>
    </form>
 <ul class="suggestbox" *ngIf="showSuggestions">
     <li *ngFor="let suggestion of _suggestions">
         <a (click)="handleSuggestClick(suggestion)" [class.activeItem]="activeItem==suggestion.index" title="{{'SUGGESTION' | translate}} {{suggestion.title}}">
           <span *ngIf="suggestion.materialIcon" class="material-icons">{{suggestion.materialIcon}}</span>
             <span class="data">
                 <span class="primary">{{suggestion.title}}</span>
                 <span class="secondary">{{suggestion.secondaryTitle}}</span>
             </span>
         </a>
     </li>
 </ul>
  <div role="button" tabindex="0" title="{{'FILTER' | translate}} {{placeholder}}. {{'VALUE' | translate}} {{item.title}}. {{'CLICKTOREMOVE' | translate}}." class="badge clickable" *ngFor="let item of chosen" (keyup.enter)="removeValue(item)" (click)="removeValue(item)"><span>{{item.title}}</span><i class="material-icons">cancel</i></div>
</div>
