@import "../../../core-ui-module/styles/variables";

.edusharing-autocomplete-wrapper {
  position: relative;
  width: 100%;
  margin-left: 0;
}

mat-form-field {
  width: 100%;
}

.searchInput::-webkit-input-placeholder {
  color: #6f6f6f;
}
.searchInput:-moz-placeholder {
  color: #6f6f6f;
}
.searchInput::-moz-placeholder {
  color: #6f6f6f;
}
.searchInput:-ms-input-placeholder {
  color: #6f6f6f;
}

.suggestbox {
  position:absolute;
  background: white;
  text-align: left;
  z-index: $dialogZIndex+1;
  margin-top: -20px;
  padding-left: 0;
  left:0;
  right:0;
  @include materialShadow();
  border-radius: 2px;
  max-height: 300px;
  overflow-y: auto;
}

.suggestbox > li {
  list-style: none;
  line-height: 1.8;
}
.suggestbox > li:hover{
  background-color: $workspaceSelectedBackground;
}

.suggestbox > li > a > div {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding:10px 16px;
  cursor: pointer;
  >.data{
    display: flex;
    flex-direction: column;
    padding:0 8px;
    >.secondary{
      font-size: 80%;
      opacity: 0.75;
      margin-top: -5px;
      min-height: 5px;
    }
  }
}

.activeItem {
  background-color: #ddd;
}

.badge {
  margin-left: 4px;
  margin-right: 0;
}
