@import "../../../core-ui-module/styles/variables";

.mdsCard{
  padding: 0;
  // We have to take care of height and overflow ourselves here, because we need
  // `.dialogMds` to cover the area we are rendering on.
  height: 100%;
  overflow: auto;
}
:host ::ng-deep {
  .suggestions {
    padding-top: 40px;

    .badge {
      cursor: pointer;
      i {
        color: $workspaceInheritColor;
        left: -5px;
      }
    }

  }
}
.loading{
  position: relative;
  top:50px;
}
.dialogMds{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: $dialogZIndex+1;
}
.reset{
  text-transform: uppercase;
  color: $primary;
  text-align: right;
  @include clickable();
  &:focus{
    @include setGlobalFocus;
  }
}