@import "../../../core-ui-module/styles/variables";

.mdsCard{
  margin-left: -40px;
  margin-right: -20px;
  padding-right: 0;
  padding-top: 0;
}
:host /deep/ {
  .suggestions {
    padding-top: 40px;

    .badge {
      cursor: pointer;
      i {
        color: $workspaceInheritColor;
        left: -5px;
      }
    }

  }
}
.mdsCardJumpmarks{
  margin-left:-220px!important;
}
.loading{
  position: relative;
  top:50px;
}
.dialogMds{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: $dialogZIndex+1;
}
.reset{
  text-transform: uppercase;
  color: $primary;
  text-align: right;
  @include clickable();
  &:focus{
    @include setGlobalFocus;
  }
}
.card-jumpmarks{
  position:fixed;
  z-index: $dialogZIndex+2;
  top:10%;
  left:50%;
  width:200px;
  margin-left:-425px;
  background-color: $workspaceTreeBackground;
  border-radius:3pt;
  padding:10px 0;
}

:host /deep/ .card-jumpmarks{
  a{
    padding:10px 12px;
    width:100%;
    display:flex;
    align-items: center;
    >i{
      margin-right:10px;
    }
  }
  a.active{
    background: $workspaceTreeSelectedBackgroundEffect;
    background-color: $workspaceTreeSelectedBackground;
  }
}
@media screen and (max-width: ($mobileWidth + $mobileStage*2)) {
  .mdsCardJumpmarks{
    margin-left: 0!important;
  }
}
