
<div class="dialog darken" *ngIf="!embedded">
  <div id="jumpmarks" class="card-jumpmarks" [innerHTML]="jumpmarks" *ngIf="(currentNode || createType) && jumpmarksCount>1">

  </div>
  <div class="card center-card card-action card-wide card-high mdsMainCard" [class.mdsCardJumpmarks]="jumpmarksCount>1">
    <spinner class="loading" *ngIf="isLoading"></spinner>
    <div class="card-content" *ngIf="(currentNode || createType) && !isLoading">
      <div class="card-cancel" (click)="cancel()"><i class="material-icons">close</i></div>
      <div class="card-title" *ngIf="currentNode">{{currentNode.name}}</div>
      <div class="card-title" *ngIf="!currentNode">{{"CREATE_NODE."+createType | translate:{parent:parentNode ? parentNode.name : ""} }}</div>
      <div class="card-scroll mdsCard" id="mdsScrollContainer">
        <div [innerHTML]="rendered"></div>

      </div>

    </div>
    <div class="card-action" *ngIf="(currentNode || createType) && !isLoading">
      <a class="btn" (click)="saveValues()">{{'SAVE' | translate}}</a>
      <a class="btn-flat" (click)="cancel()">{{'CANCEL' | translate}}</a>
    </div>
  </div>
</div>
<div *ngIf="embedded">
  <div class="mdsEmbeddedGroup">
    <div [innerHTML]="rendered"></div>
    <div *ngIf="renderedSuggestions" [innerHTML]="renderedSuggestions" class="suggestions"></div>
  </div>
</div>
<div class="globalProgress dialog darken valign-wrapper" *ngIf="globalProgress && !embedded"><spinner class="center"></spinner></div>
