<es-node-entries-wrapper
  [dataSource]="dataSource"
  [scope]="SCOPES.WorkspaceList"
  [columns]="columns"
  [configureColumns]="true"
  (columnsChange)="saveColumns($event)"
  [displayType]="displayType"
  [class.grid]="displayType !== NodeEntriesDisplayType.Table"
  (displayTypeChange)="displayTypeChange.emit($event)"
  [elementInteractionType]="InteractionType.Emitter"
  (fetchData)="load($event)"
  [sort]="sort"
  [dragDrop]="{
    dragAllowed: true,
    dropAllowed: canDrop,
    dropped: drop
  }"
  [primaryInstance]="true"
  [infiniteScrollWindow]="false"
  [singleClickHint]="'static'"
  (sortChange)="setSorting($event)"
  (clickItem)="clickItem($event)"
  (selectionChange)="selectionChange($event)"
  (dblClickItem)="openNode.emit($event.element)"
  (virtualNodesAdded)="syncTreeViewOnAdd($event)"
>
  <ng-template #empty>
    @if (searchQuery$.value === null || searchQuery$.value === '') {
    <h5 class="noElementsInfo">
      {{ 'WORKSPACE.NO_NODES_IN_FOLDER' | translate }}
    </h5>
    } @if (!(searchQuery$.value === null || searchQuery$.value === '')) {
    <h5 class="noElementsInfo">
      @if (node$.value) {
      <div>
        {{ 'WORKSPACE.NO_MATCHING_ITEMS_FOLDER' | translate : { name: node$.value.name } }}
      </div>
      } @if (node$.value) {
      <div class="clickable" (click)="doSearchGlobal()">
        {{ 'WORKSPACE.SEARCH_GLOBAL' | translate }}
      </div>
      } @if (!node$.value) {
      <div>{{ 'WORKSPACE.NO_MATCHING_ITEMS' | translate }}</div>
      }
    </h5>
    }
  </ng-template>
</es-node-entries-wrapper>
