<div class="dialog darken dropZone" fileDrop
     (onFileDrop)="onFileDrop($event)"
     (fileOver)="fileIsOver=$event" *ngIf="fileIsOver && !hasOpenWindows()">
  <div>
    <i class="material-icons" *ngIf="!searchQuery && createAllowed && !filesToUpload">cloud_upload</i>
    <i class="material-icons" *ngIf="!(!searchQuery && createAllowed && !filesToUpload)">cloud_off</i>
    <p *ngIf="!searchQuery && createAllowed">{{'WORKSPACE.DROP_FILES' |translate}}</p>
    <p *ngIf="!(!searchQuery  && createAllowed)">{{'WORKSPACE.DROP_FILES_DISABLED' |translate}}</p>
  </div>
</div>

<div class="frame" fileDrop
     (onFileDrop)="onFileDrop($event)"
     (fileOver)="fileIsOver=$event">

  <main-nav
    #mainNav
    [title]="isSafe ? 'WORKSPACE.TITLE_SAFE' : 'WORKSPACE.TITLE'"
    [currentScope]="isSafe ? 'safe' : 'workspace'"
    [searchEnabled]="!isBlocked"
    [searchPlaceholder]="isSafe ? 'WORKSPACE.SAFE_SEARCH' : 'WORKSPACE.SEARCH' "
    [canOpen]="mainnav"
    [searchQuery]="searchQuery ? searchQuery.query : null"
    (onSearch)="doSearch($event)"
  >

  </main-nav>
<div *ngIf="isBlocked" class="isBlocked">{{'NO_PERMISSIONS_FOR_SCOPE'|translate}}</div>
<div *ngIf="!isBlocked" [class.hide]="globalProgress">

  <div class="timeout" *ngIf="isSafe && timeout">
    <i class="material-icons">av_timer</i>
    {{ timeout }}
  </div>
  <modal-dialog
                [title]="dialogTitle"
                [isCancelable]="dialogCancelable"
                (onCancel)="hideDialog()"
                [message]="dialogMessage"
                [messageParameters]="dialogMessageParameters"
                [buttons]="dialogButtons"
                [priority]="10"
  ></modal-dialog>



  <div class="addMobile"
       *ngIf="createAllowed">
    <div class="mobile-move-bottom">
        <button button mat-fab color="primary" [matMenuTriggerFor]="dropdown"><i icon iconId="add" aria="true"></i></button>
    </div>
    <!--
  <ul>
    <li><a class="btn-floating btn-floating-inverted" (click)="showUploadSelect=true"><i class="material-icons">cloud_upload</i></a></li>
    <li><a class="btn-floating btn-floating-inverted" (click)="addFolderName=''"><i class="material-icons">create_new_folder</i></a></li>
    <li *ngFor="let connector of connectorList ? connectorList.connectors : null">
      <a class="btn-floating btn-floating-inverted" (click)="createConnectorName='';createConnectorType=connector"><i class="material-icons">{{connector.icon}}</i></a>
    </li>
    <li><a class="btn-floating btn-floating-inverted" (click)="listLTI()"><i class="material-icons">extension</i></a></li>
  </ul>
  -->
  </div>
  <button mat-raised-button color="primary" class="addDesktop"
          [disabled]="!createAllowed"
          #dropdownTrigger="matMenuTrigger"
          [matMenuTriggerFor]="dropdown"
    >
    <i icon iconId="add_circle_outline"></i> <span>{{ 'WORKSPACE.ADD' | translate }}</span>
  </button>

  <mat-menu class="addDesktopMenu" #dropdown="matMenu">
      <button mat-menu-item *ngIf="allowBinary" (click)="showUploadSelect=true"><i icon iconId="cloud_upload"></i> {{ 'WORKSPACE.ADD_OBJECT' | translate}}</button>
      <button mat-menu-item *ngIf="allowBinary && cordova.isRunningCordova()" (click)="openCamera()"><i icon iconId="camera_alt"></i> {{ 'WORKSPACE.ADD_CAMERA' | translate}}</button>
      <button mat-menu-item *ngIf="!allowBinary" (click)="createEmptyNode()"><i icon iconId="description"></i> {{ 'WORKSPACE.ADD_EMPTY_OBJECT' | translate}}</button>
      <button mat-menu-item (click)="addFolderName=''"><i icon iconId="create_new_folder"></i> {{ 'WORKSPACE.ADD_FOLDER' | translate}}</button>
      <button mat-menu-item *ngFor="let connector of (connectorList && allowBinary) ? connectorList : null;let i=index"
       [class.mat-menu-item-seperate]="!i"
       (click)="createConnectorName='';createConnectorType=connector">
        <i icon iconId="{{connector.icon}}"></i>
        {{ 'CONNECTOR.'+connector.id+'.NAME' | translate}}
        <img style="padding-left:5px" src="assets/images/beta.svg" alt="">
      </button>
  </mat-menu>
  <div class="dialog" *ngIf="showSelectRoot" (click)="showSelectRoot=false"></div>
  <div class="selectRootMenu collection" [@overlay]="showSelectRoot" *ngIf="showSelectRoot">
    <a class="collection-item" [class.rootSelected]="root=='MY_FILES'" (click)="showSelectRoot=false;setRoot('MY_FILES')"><i icon iconId="person"></i> {{ 'WORKSPACE.MY_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='SHARED_FILES'" (click)="showSelectRoot=false;setRoot('SHARED_FILES')"><i icon iconId="group"></i> {{ 'WORKSPACE.SHARED_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='MY_SHARED_FILES'" (click)="showSelectRoot=false;setRoot('MY_SHARED_FILES')"><i icon iconId="share"></i> {{ 'WORKSPACE.MY_SHARED_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='TO_ME_SHARED_FILES'" (click)="showSelectRoot=false;setRoot('TO_ME_SHARED_FILES')"><i icon iconId="send"></i> {{ 'WORKSPACE.TO_ME_SHARED_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='WORKFLOW_RECEIVE'" (click)="showSelectRoot=false;setRoot('WORKFLOW_RECEIVE')"><i icon iconId="inbox"></i> {{ 'WORKSPACE.WORKFLOW_RECEIVE' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='RECYCLE'" (click)="showSelectRoot=false;setRoot('RECYCLE')"><i icon iconId="delete"></i> {{ 'WORKSPACE.RECYCLE' | translate}}</a>
  </div>

  <workspace-add-folder *ngIf="addFolderName!=null"
                        [folder]="addFolderName"
                        [parent]="currentFolder"
                        (onCancel)="addFolderName=null"
                        (onFolderAdded)="addFolder($event)"
  ></workspace-add-folder>

  <workspace-create-connector *ngIf="createConnectorName!=null"
                        [name]="createConnectorName"
                        [connector]="createConnectorType"
                        (onCancel)="createConnectorName=null"
                        (onCreate)="createConnector($event)"
  ></workspace-create-connector>

  <div class="tree" *ngIf="isLoggedIn">
  <workspace-tree
                  [class.tree-quota]="user.person.quota.enabled"
                  [current]="currentFolder ? currentFolder.ref.id : null"
                  [path]="path"
                  [selectedNode]="selectedNodeTree"
                  [root]="root"
                  [isSafe]="isSafe"
                  [options]="explorerOptions"
                  (onDrop)="handleDrop($event)"
                  (onSetRoot)="setRoot($event)"
                  (onOpenNode)="openNode($event)"
                  (onDeleteNodes)="deleteNode=$event"
                  (onUpdateOptions)="updateOptions($event)"
  ></workspace-tree>
  <user-quota *ngIf="user.person.quota.enabled" [quota]="user.person.quota"></user-quota>
  </div>
<div class="breadcrumbFrame">
    <div class="mobile-move-top">
        <breadcrumbs *ngIf="isLoggedIn"
          [breadcrumbsAsNode]="path"
          [searchQuery]="searchQuery ? searchQuery.query : null"
          [home]="'WORKSPACE.'+root"
          [canDrop]="canDropBreadcrumbs"
          (onDrop)="handleDrop($event)"
          [homeId]="getRootFolderId()"
          (onClick)="openBreadcrumb($event)"
        ></breadcrumbs>
    </div>
</div>
  <recycle *ngIf="root=='RECYCLE'" class="explorer"
           [searchWorkspace]="searchQuery ? searchQuery.query : null"
           [isInsideWorkspace]="true"></recycle>
<div class="actionbarFrame"><div class="mobile-move-top">
  <actionbar class=""
             *ngIf="actionOptions && actionOptions.length"
             [@fadeFast]="actionOptions && actionOptions.length"
             [options]="actionOptions"
></actionbar>
</div></div>
  <workspace-explorer class="explorer"  [class.explorerMetadata]="metadataNode" *ngIf="root!='RECYCLE'"
  (contextmenu)="createContext($event)"
  [current]="currentFolder"
  [selection]="selection"
  [searchQuery]="searchQuery"
  [options]="explorerOptions"
  [viewType]="viewType"
  [preventKeyevents]="hasOpenWindows()"
  (onSearchGlobal)="searchGlobal($event)"
  (onDrop)="handleDrop($event)"
  (onSelectNode)="clickNode($event)"
  (onListChange)="updateList($event)"
  (onSelectionChanged)="setSelection($event)"
  (onOpenNode)="openNode($event)"
  (onUpdateOptions)="updateOptions($event)"
  (onReset)="resetWorkspace()"
></workspace-explorer>

<workspace-management
[(showLtiTools)]="showLtiTools"
[(addToCollection)]="addNodesToCollection"
[(addNodesStream)]="addNodesStream"
[(nodeLicense)]="editNodeLicense"
[(nodeMetadata)]="editNodeMetadata"
[(nodeTemplate)]="editNodeTemplate"
[(nodeDeleteOnCancel)]="editNodeDeleteOnCancel"
[(nodeWorkflow)]="workflowNode"
[(nodeVariant)]="variantNode"
[(nodeShare)]="sharedNode"
[(nodeDelete)]="deleteNode"
[(nodeShareLink)]="shareLinkNode"
[(filesToUpload)]="filesToUpload"
[fileIsOver]="fileIsOver"
[(showUploadSelect)]="showUploadSelect"
[parent]="currentFolder"
[nodeMetadataAllowReplace]="editNodeAllowReplace"
[(nodeContributor)]="contributorNode"
(onRefresh)="refresh()"
(onUploadFileSelected)="uploadFiles($event)"
(onUploadFilesProcessed)="afterUpload($event)"
(onUpdateLicense)="updateLicense()"
(onCloseMetadata)="closeMetadata()"
(onDelete)="deleteDone()"
>
</workspace-management>

  <workspace-metadata *ngIf="metadataNode"
                      [@fromRight]="metadataNode"
                      class="metadata"
                      [node]="metadataNode"
                      [isAdmin]="isAdmin"
                      (onRestore)="restoreVersion($event)"
                      (onDisplay)="openNode($event,false)"
                      (onEditMetadata)="editNode($event)"
                      (onClose)="closeMetadata()"
  ></workspace-metadata>

<node-info *ngIf="nodeDebug"
           [node]="nodeDebug"
           (onClose)="nodeDebug=null"
           ></node-info>

</div>
  <global-progress *ngIf="globalProgress"></global-progress>
</div>

