@import "../../core-ui-module/styles/variables";

.frame{
  position:relative;
  display:table;
  z-index:95;
  width:100%;
  height:100%;
}
.isBlocked{
  position: absolute;
  top: $mainnavHeight;
  color:$noResultsColor;
  font-size:150%;
  text-align: center;
  width:100%;
  padding-top:25px;
}
.timeout{
  background-color: $toastLeftError;
  color: white;
  border-radius: 20pt;
  position: fixed;
  top: 15px;
  left: 200px;
  font-size: 1rem;
  padding: 10px 15px;
  padding-left: 40px;
  z-index: 105;

  i{
    position: absolute;
    top: 7px;
    left: 10px;
  }
}

.tree,.explorer{
  display:table-cell;
}


.globalProgress{
  z-index: 122;
}

$treeWidth:300px;
$quotaHeight:60px;
.tree{
  min-width:$treeWidth;
  max-width:$treeWidth;
  top:$workspaceBreadcrumbsHeight+$mainnavHeight;
  position:fixed;
  height:calc(100% - #{$workspaceBreadcrumbsHeight} - #{$mainnavHeight});
  z-index: 2;
  background: $workspaceTreeBackground;
  workspace-tree{
    min-width:$treeWidth;
    max-width:$treeWidth;
    top:$workspaceBreadcrumbsHeight+$mainnavHeight;
    position:fixed;
    height:calc(100% - #{$workspaceBreadcrumbsHeight} - #{$mainnavHeight});
    overflow-y:auto;
  }
  .tree-quota{
    height:calc(100% - #{$workspaceBreadcrumbsHeight} - #{$mainnavHeight} - #{$quotaHeight});
  }
}

user-quota{
  position: absolute;
  width: $treeWidth;
  height: $quotaHeight;
  background: $workspaceTreeBackground;
  bottom: 0;
  z-index: 3;
  padding: 10px 20px;
}
.nodeRender{
  padding:20px;
}
.addDesktop,.addMobile {
  z-index: 115;
}
.addMobile{
  z-index:85;
  position:fixed;
  right:25px;
  bottom:25px+$mobileTabNavHeight;
  display:none;
}
.addDesktop,.addDesktopMenu{
  position: fixed;
  width: 200px;
  left: 50px;
  top: 13px+$mainnavHeight;
}
.dialogAddDesktop{
  z-index:100;
}
.addDesktopMenu{
  top:42px+$mainnavHeight;
  z-index:105;
}
.selectRootMenu{
  position: fixed;
  width: 250px;
  left: 311px;
  top: 7px+$mainnavHeight;
}
.selectRootMenu .collection-item{
  color:$textLight;
}
.rootSelected{
  color: $primary!important;
  font-weight: bold;
  background:$workspaceTreeSelectedBackgroundEffect;
  background-color: #fff;

}
.metadata{
  min-width:300px;
  max-width:300px;
  position:fixed;
  @include iosScrolling();
  height:calc(100% - #{$mainnavHeight+$workspaceBreadcrumbsHeight});
  top: $mainnavHeight+$workspaceBreadcrumbsHeight;
  right:0;
  overflow-x: hidden;
  overflow-y:auto;
  z-index: 94;
  background-color: #fff;
}
.explorer{
  position:absolute;
  left:300px;
  width:calc(100% - 300px);
  height:100%;
  padding-top:80px+$mainnavHeight;
  transition: all $transitionNormal;
}
.explorerMetadata{
  width:calc(100% - 600px);
}
.dropZone{
  text-align: center;
}
.dropZone div{
  position: relative;
  top:30%;
  color:#fff;
}
.dropZone p{
  font-size:150%;
}
.dropZone i{
  font-size:120pt;
}

.actionbarFrame{
  width:auto;
  position: fixed;
  top: $mainnavHeight;
  right:0;
  z-index: 97;
  >div {
    height:$workspaceBreadcrumbsHeight - 3px;
    margin-right: 10px;
    padding-top: 15px;
    padding-left: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.001) 0, #fff 10px, #fff 100%); /* safari fix */
  }
}
.viewType{
  position:fixed;
  color:$textLight;
  top: $mainnavHeight;
  padding-top:20px;
  padding-right:25px;
  right:0;
  z-index:97;
}
.viewType div{
  /* border-left:1px solid #ccc; */
}
.breadcrumbFrame{
  position:fixed;
  top: $mainnavHeight;
  left:0;
  width:100%;
  z-index:96;
  >div {
    height:$workspaceBreadcrumbsHeight;
    background-color: #fff;
    padding-left:320px;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-right: 50px;
    @include materialShadow();
  }
}
:host /deep/{
  .breadcrumbFrame .breadcrumb {
    position: relative;
    top: -5px;
    div {
      word-break: break-all;
    }
  }
}
.tree,.metadata{
  @include materialShadow();
}

@media screen and (max-width: ($mobileWidth+$mobileStage*6)) {
  .explorerMetadata {
    width: calc(100% - 300px);
  }
}
@media screen and (max-width: ($mobileWidth+$mobileStage*4)){
  /*
  .breadcrumbFrame{
    padding-right:170px;
  }
  */
}

@media screen and (max-width: ($mobileTabSwitchWidth)){
  .tree,
  .addDesktop{
    display:none;
  }
  .selectRootMenu{
    left:10px;
  }
  .addMobile{
    display:inherit;
  }
  .breadcrumbFrame >div{
    padding-left:10px;
  }
  .addDesktopMenu{
    right:53px;
    bottom:38px+$mobileTabNavHeight;
  }
  .explorer{
    left:0;
    width:100%;
  }
  .timeout {
    display: none;
  }
  :host /deep/{
    workspace-explorer .list{
      padding-bottom:80px + $mobileTabNavHeight;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  /*
  .metadata{
    max-width:none;
    width:100%;
  }
  */
}
