@import '../../core-ui-module/styles/variables';

.frame {
    /*position:relative;
  display:table;
  z-index:95;
  */
    width: 100%;
    height: 100%;
}
.isBlocked {
    position: absolute;
    top: $mainnavHeight;
    color: $noResultsColor;
    font-size: 150%;
    text-align: center;
    width: 100%;
    padding-top: 25px;
}

.tree {
    display: table-cell;
}

.globalProgress {
    z-index: 122;
}

$quotaHeight: 60px;
.tree {
    min-width: $workspaceTreeWidth;
    max-width: $workspaceTreeWidth;
    top: $workspaceBreadcrumbsHeight + $mainnavHeight;
    position: fixed;
    height: calc(100% - #{$workspaceBreadcrumbsHeight} - #{$mainnavHeight});
    z-index: 2;
    background: $workspaceTreeBackground;
    es-workspace-tree {
        min-width: $workspaceTreeWidth;
        max-width: $workspaceTreeWidth;
        top: $workspaceBreadcrumbsHeight + $mainnavHeight;
        position: fixed;
        height: calc(100% - #{$workspaceBreadcrumbsHeight} - #{$mainnavHeight});
        overflow-y: auto;
    }
    .tree-quota {
        height: calc(100% - #{$workspaceBreadcrumbsHeight} - #{$mainnavHeight} - #{$quotaHeight});
    }
}

es-user-quota {
    position: absolute;
    width: $workspaceTreeWidth;
    height: $quotaHeight;
    background: $workspaceTreeBackground;
    bottom: 0;
    z-index: 3;
    padding: 10px 20px;
}
.nodeRender {
    padding: 20px;
}
.addDesktop,
.addMobile {
    z-index: 65;
}
.addMobile {
    z-index: 66;
    position: fixed;
    right: 25px;
    bottom: 25px + $mobileTabNavHeight;
    display: none;
}
.selectRootMenu {
    position: fixed;
    width: 250px;
    left: 311px;
    top: 7px + $mainnavHeight;
}
.selectRootMenu .collection-item {
    color: $textLight;
}
.rootSelected {
    color: $primary !important;
    font-weight: bold;
    background: $workspaceTreeSelectedBackgroundEffect;
    background-color: #fff;
}
.explorer {
    position: relative;
    display: block;
    left: 300px;
    top: $mainnavHeight + $secondaryBarHeight;
    width: calc(100% - 300px);
    height: calc(100% - #{$mainnavHeight+$secondaryBarHeight});
    transition: all $transitionNormal;
}

.explorerMetadata {
    width: calc(100% - 600px);
}

.actionbarFrame {
    width: auto;
    position: fixed;
    top: $mainnavHeight;
    right: 0;
    z-index: 62;
    > div {
        height: $workspaceBreadcrumbsHeight - 3px;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 10px;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.001) 0,
            #fff 10px,
            #fff 100%
        ); /* safari fix */
    }
}
.viewType {
    position: fixed;
    color: $textLight;
    top: $mainnavHeight;
    padding-top: 20px;
    padding-right: 25px;
    right: 0;
    z-index: 97;
}
.viewType div {
    /* border-left:1px solid #ccc; */
}
.breadcrumbFrame {
    position: fixed;
    top: $mainnavHeight;
    left: 0;
    width: 100%;
    z-index: 60;
    > div {
        height: $workspaceBreadcrumbsHeight;
        background-color: #fff;
        padding-left: 36px;
        padding-top: 18px;
        padding-bottom: 20px;
        padding-right: 50px;
        @include materialShadow();
    }
}
:host ::ng-deep {
    @media screen and (min-width: ($mobileWidth)) {
        es-workspace-explorer es-listTable .list.list-type-card > .list-container {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    @media screen and (min-width: ($mobileTabSwitchWidth)) {
        es-workspace-explorer es-listTable .list {
            overflow-y: auto;
            position: relative;
            &.list-type-card {
                top: 0;
                height: calc(100vh - #{$mainnavHeight+$secondaryBarHeight});
            }
            &.list-type-table {
                top: $listHeadingHeight;
                height: calc(100vh - #{$mainnavHeight+$secondaryBarHeight+$listHeadingHeight});
                .headingGroup {
                    position: fixed !important;
                    z-index: 1;
                    top: $mainnavHeight + $workspaceBreadcrumbsHeight;
                    width: calc(100% - #{$workspaceTreeWidth});
                }
            }
        }
    }
    @media screen and (min-width: ($mobileWidth+$mobileStage*6)) {
        workspace-explorer.explorerMetadata es-listTable .list-type-table .headingGroup {
            width: calc(100% - #{$workspaceTreeWidth} - 300px);
        }
    }
    .breadcrumbFrame .breadcrumb {
        position: relative;
        top: 5px;
        div {
            word-break: break-all;
        }
    }
}
.tree {
    @include materialShadow();
}

@media screen and (max-width: ($mobileWidth+$mobileStage*6)) {
    .explorerMetadata {
        width: calc(100% - 300px);
    }
}
@media screen and (max-width: ($mobileWidth+$mobileStage*4)) {
    /*
  .breadcrumbFrame{
    padding-right:170px;
  }
  */
}

@media screen and (max-width: ($mobileTabSwitchWidth)) {
    .tree {
        display: none;
    }
    .selectRootMenu {
        left: 10px;
    }
    .addMobile {
        display: inherit;
    }
    .breadcrumbFrame > div {
        padding-left: 20px;
        padding-top: 20px;
    }
    .explorer {
        left: 0;
        width: 100%;
        height: calc(100% - #{$mainnavHeight+$secondaryBarHeight+$mobileTabNavHeight});
    }
    :host ::ng-deep {
        es-workspace-explorer .list {
            margin-bottom: 62px;
        }
    }
}

@media screen and (max-width: $mobileWidth) {
    /*
  .metadata{
    max-width:none;
    width:100%;
  }
  */
}
