<div class="frame">

  <main-nav
    #mainNav
    [title]="isSafe ? 'WORKSPACE.TITLE_SAFE' : 'WORKSPACE.TITLE'"
    [currentScope]="isSafe ? 'safe' : 'workspace'"
    [searchEnabled]="!isBlocked"
    [create]="{allowed: createAllowed, allowBinary: allowBinary, parent: currentFolder, folder: true}"
    (onCreate)="explorer.list.addVirtualNodes($event)"
    [searchPlaceholder]="isSafe ? 'WORKSPACE.SAFE_SEARCH' : 'WORKSPACE.SEARCH' "
    [canOpen]="mainnav"
    [searchQuery]="searchQuery ? searchQuery.query : null"
    (onSearch)="doSearch($event)"
  >

  </main-nav>
<div *ngIf="isBlocked" class="isBlocked">{{'NO_PERMISSIONS_FOR_SCOPE'|translate}}</div>
<div *ngIf="!isBlocked" [class.hide]="globalProgress">


  <div class="dialog" *ngIf="showSelectRoot" (click)="showSelectRoot=false"></div>
  <div class="selectRootMenu collection" [@overlay]="showSelectRoot" *ngIf="showSelectRoot">
    <a class="collection-item" [class.rootSelected]="root=='MY_FILES'" (click)="showSelectRoot=false;setRoot('MY_FILES')"><i icon iconId="person"></i> {{ 'WORKSPACE.MY_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='SHARED_FILES'" (click)="showSelectRoot=false;setRoot('SHARED_FILES')"><i icon iconId="group"></i> {{ 'WORKSPACE.SHARED_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='MY_SHARED_FILES'" (click)="showSelectRoot=false;setRoot('MY_SHARED_FILES')"><i icon iconId="share"></i> {{ 'WORKSPACE.MY_SHARED_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='TO_ME_SHARED_FILES'" (click)="showSelectRoot=false;setRoot('TO_ME_SHARED_FILES')"><i icon iconId="send"></i> {{ 'WORKSPACE.TO_ME_SHARED_FILES' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='WORKFLOW_RECEIVE'" (click)="showSelectRoot=false;setRoot('WORKFLOW_RECEIVE')"><i icon iconId="inbox"></i> {{ 'WORKSPACE.WORKFLOW_RECEIVE' | translate}}</a>
    <a class="collection-item" [class.rootSelected]="root=='RECYCLE'" (click)="showSelectRoot=false;setRoot('RECYCLE')"><i icon iconId="delete"></i> {{ 'WORKSPACE.RECYCLE' | translate}}</a>
  </div>

  <div class="tree" *ngIf="isLoggedIn">
                  [class.tree-quota]="user.person.quota.enabled"
                  [current]="currentFolder ? currentFolder.ref.id : null"
                  [path]="path"
                  [mainNav]="mainNavRef"
                  [selectedNode]="selectedNodeTree"
                  [root]="root"
                  [workspace]="this"
                  [isSafe]="isSafe"
                  (onDrop)="handleDrop($event)"
                  (onSetRoot)="setRoot($event)"
                  (onOpenNode)="openNode($event)"
                  (onDeleteNodes)="mainNav.management.nodeDelete=$event"
  ></workspace-tree>
  <user-quota *ngIf="user.person.quota.enabled" [quota]="user.person.quota"></user-quota>
  </div>
<div class="breadcrumbFrame">
    <div class="mobile-move-top">
        <breadcrumbs *ngIf="isLoggedIn"
          [breadcrumbsAsNode]="path"
          [searchQuery]="searchQuery ? searchQuery.query : null"
          [home]="'WORKSPACE.'+root"
          [canDrop]="canDropBreadcrumbs"
          (onDrop)="handleDrop($event)"
          [homeId]="getRootFolderId()"
          (onClick)="openBreadcrumb($event)"
        ></breadcrumbs>
    </div>
</div>
  <recycle *ngIf="root=='RECYCLE'" class="explorer"
           [actionbar]="actionbar"
           [searchWorkspace]="searchQuery ? searchQuery.query : null"
           [isInsideWorkspace]="true"></recycle>
<div class="actionbarFrame"><div class="mobile-move-top">
  <actionbar #actionbar
></actionbar>
</div></div>
  <workspace-explorer class="explorer"
                      #explorer
                      appCreateContextMenu
                      *ngIf="root!='RECYCLE'"
                      [current]="currentFolder"
                      [selection]="selection"
                      [searchQuery]="searchQuery"
                      [customOptions]="customOptions"
                      [viewType]="viewType"
                      [(reorderDialog)]="reorderDialog"
                      [preventKeyevents]="cardHasOpenModals$ | async"
                      [(nodes)]="currentNodes"
                      [mainNav]="mainNav"
                      [actionbar]="actionbar"
                      (onSearchGlobal)="searchGlobal($event)"
                      (onDrop)="handleDrop($event)"
                      (onSelectionChanged)="setSelection($event)"
                      (onViewNode)="openNode($event, false)"
                      (onOpenNode)="openNode($event, true)"
                      (onReset)="resetWorkspace()"
></workspace-explorer>

</div>
  <global-progress *ngIf="globalProgress"></global-progress>
</div>

