<div class="frame" cdkDropList [cdkDropListSortingDisabled]="true">
  <div *ngIf="isBlocked" class="workspace-container isBlocked">
    {{ 'NO_PERMISSIONS_FOR_SCOPE' | translate }}
  </div>
  <div *ngIf="!isBlocked" class="workspace-container" [class.hide]="globalProgress">
    <div class="dialog" *ngIf="showSelectRoot" (click)="showSelectRoot = false"></div>
    <div class="selectRootMenu collection" [@overlay]="showSelectRoot" *ngIf="showSelectRoot">
      <a
        class="collection-item"
        [class.rootSelected]="root === 'MY_FILES'"
        (click)="showSelectRoot = false; setRoot('MY_FILES')"
        ><i esIcon="person"></i> {{ 'WORKSPACE.MY_FILES' | translate }}</a
      >
      <a
        class="collection-item"
        [class.rootSelected]="root === 'SHARED_FILES'"
        (click)="showSelectRoot = false; setRoot('SHARED_FILES')"
        ><i esIcon="group"></i> {{ 'WORKSPACE.SHARED_FILES' | translate }}</a
      >
      <a
        class="collection-item"
        [class.rootSelected]="root === 'MY_SHARED_FILES'"
        (click)="showSelectRoot = false; setRoot('MY_SHARED_FILES')"
        ><i esIcon="share"></i> {{ 'WORKSPACE.MY_SHARED_FILES' | translate }}</a
      >
      <a
        class="collection-item"
        [class.rootSelected]="root === 'TO_ME_SHARED_FILES'"
        (click)="showSelectRoot = false; setRoot('TO_ME_SHARED_FILES')"
        ><i esIcon="send"></i> {{ 'WORKSPACE.TO_ME_SHARED_FILES' | translate }}</a
      >
      <a
        class="collection-item"
        [class.rootSelected]="root === 'WORKFLOW_RECEIVE'"
        (click)="showSelectRoot = false; setRoot('WORKFLOW_RECEIVE')"
        ><i esIcon="inbox"></i> {{ 'WORKSPACE.WORKFLOW_RECEIVE' | translate }}</a
      >
      <a
        class="collection-item"
        [class.rootSelected]="root === 'RECYCLE'"
        (click)="showSelectRoot = false; setRoot('RECYCLE')"
        ><i esIcon="delete"></i> {{ 'WORKSPACE.RECYCLE' | translate }}</a
      >
    </div>
    <div class="tree" *ngIf="isLoggedIn">
      <es-workspace-tree
        [class.tree-quota]="user.person.quota.enabled"
        [path]="path"
        [selectedNode]="selectedNodeTree"
        [root]="root"
        [workspace]="this"
        [isSafe]="isSafe"
        (onDrop)="handleDrop($event)"
        (onSetRoot)="setRoot($event)"
        (onOpenNode)="openNode($event)"
        (onDeleteNodes)="onDeleteNodes($event)"
      ></es-workspace-tree>
      <es-user-quota *ngIf="user.person.quota.enabled" [quota]="user.person.quota"></es-user-quota>
    </div>
    <div class="breadcrumbFrame">
      <div class="mobile-move-top">
        <!--[homeRouterLink]="path ? {
            routerLink: '.',
            queryParams: { id: null },
            queryParamsHandling: 'merge'
          } : null"-->
        <es-breadcrumbs
          *ngIf="isLoggedIn"
          [searchQuery]="searchQuery?.query"
          [home]="'WORKSPACE.' + root"
          [canDropNodes]="canDropOnBreadcrumb"
          (onDrop)="handleDropOnBreadcrumb($event)"
          (onClick)="openBreadcrumb($event)"
        ></es-breadcrumbs>
      </div>
    </div>
    <es-recycle *ngIf="root === 'RECYCLE'" class="explorer" [actionbar]="actionbar"></es-recycle>
    <div class="actionbarFrame">
      <div class="mobile-move-top">
        <es-actionbar #actionbar></es-actionbar>
      </div>
    </div>
    <h1 esTitle class="cdk-visually-hidden">{{ 'WORKSPACE.TITLE' | translate }}</h1>
    <es-workspace-explorer
      class="explorer"
      #explorer
      role="main"
      esSkipTarget="MAIN_CONTENT"
      appCreateContextMenu
      *ngIf="root !== 'RECYCLE'"
      [current]="currentFolder"
      [root]="root"
      [tree]="treeComponent"
      [searchQuery]="searchQuery"
      [customOptions]="customOptions"
      [displayType]="displayType"
      (displayTypeChange)="setDisplayType($event)"
      [(reorderDialog)]="reorderDialog"
      [preventKeyevents]="cardHasOpenModals$ | async"
      [dataSource]="dataSource"
      [actionbar]="actionbar"
      (onSearchGlobal)="searchGlobal($event)"
      (onDrop)="handleDrop($event)"
      (onViewNode)="openNode($any($event), false)"
      (onOpenNode)="openNode($any($event), false)"
      (onReset)="resetWorkspace()"
    ></es-workspace-explorer>
  </div>
  <es-global-progress *ngIf="globalProgress"></es-global-progress>
</div>
