<mat-stepper [linear]="true" labelPosition="bottom">
  <!-- Step 1: Title -->
  <mat-step
    state="main"
    label="{{ 'EDITORIAL.ASSIGNMENT.STEP.MAIN' | translate }}"
    [stepControl]="mainDataFormGroup"
  >
    <h2 class="mat-heading-4">
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.MAIN_TITLE' | translate }}</mat-label>
    </h2>
    <form [formGroup]="mainDataFormGroup" class="main-form">
      <mat-form-field>
        <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.TITLE' | translate }}</mat-label>
        <input matInput formControlName="title" required autofocus />
      </mat-form-field>
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.SUMMARY' | translate }}</mat-label>
      <editor [init]="editorConfig" formControlName="summary"></editor>
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES' | translate }}</mat-label>
      <div class="files">
        <es-info-message class="submissions" *ngIf="submissions()?.length">{{
          'EDITORIAL.ASSIGNMENT.FORM.HAS_SUBMISSIONS' | translate
        }}</es-info-message>
        <es-manage-assignment-nodes
          [assignment]="assignment()"
          [readonly]="submissions()?.length > 0"
          [nodes]="nodes()"
        ></es-manage-assignment-nodes>
        <button
          mat-flat-button
          color="primary"
          (click)="showFileDialog()"
          [disabled]="submissions()?.length"
        >
          <i esIcon="add"></i> {{ 'EDITORIAL.ASSIGNMENT.FORM.ADD_FILE' | translate }}
        </button>
      </div>
      <mat-slide-toggle formControlName="allowAdditionalDocumentSubmissions" class="toggle-reverse">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_ALLOW_ADDITIONAL' | translate }}
          </ng-container>
          <ng-container slot="description">
            <span
              innerHTML="{{
                'EDITORIAL.ASSIGNMENT.FORM.FILES_ALLOW_ADDITIONAL_DETAILS' | translate
              }}"
            ></span>
          </ng-container>
        </es-multi-line-label>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="useEndTime" class="toggle-reverse">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'EDITORIAL.ASSIGNMENT.FORM.END' | translate }}
          </ng-container>
          <ng-container slot="description">
            <span innerHTML="{{ 'EDITORIAL.ASSIGNMENT.FORM.END_DETAILS' | translate }}"></span>
          </ng-container>
        </es-multi-line-label>
      </mat-slide-toggle>
      <div *ngIf="mainDataFormGroup.get('useEndTime').value === true">
        <es-share-dialog-choose-date
          #dateChooser
          [from]="now"
          [(dateTime)]="dateTime"
        ></es-share-dialog-choose-date>
      </div>
      <div class="navigation">
        <button mat-button color="primary" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        <button mat-flat-button color="primary" matStepperNext (click)="validateMainForm()">
          {{ 'NEXT' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step state="permissions" label="{{ 'EDITORIAL.ASSIGNMENT.STEP.INVITE' | translate }}">
    <h2 class="mat-heading-4">
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.PERMISSIONS_TITLE' | translate }}</mat-label>
    </h2>
    <div class="mainForm">
      <es-authority-search-input
        [globalSearchAllowed]="'autoDetect'"
        (chooseAuthority)="addAuthority($event)"
      ></es-authority-search-input>
      <es-manage-assignment-authorities
        [assignment]="assignment()"
        [authorities]="authorities()"
      ></es-manage-assignment-authorities>
    </div>
    <div class="navigation">
      <button mat-button color="primary" matStepperPrevious>{{ 'BACK' | translate }}</button>
      <button mat-flat-button color="primary" matStepperNext (click)="submit()">
        {{ 'EDITORIAL.ASSIGNMENT.SUBMIT' | translate }}
      </button>
    </div>
  </mat-step>
  <ng-template matStepperIcon="main">
    <i esIcon="task">task</i>
  </ng-template>
</mat-stepper>
