@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;

:host {
    display: block;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

mat-stepper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    &.hidden {
        display: none;
    }
}
.loading-container {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.step-label {
    display: flex;
    align-items: center;
    gap: 5px;
}
.mat-heading-4 {
    justify-content: center;
    padding-bottom: 30px;
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    > * {
        width: 100%;
    }
    ::ng-deep mat-slide-toggle > div {
        display: flex;
        flex-grow: 1;
    }
}
::ng-deep editor.editor-invalid .tox-tinymce {
    border-color: vars.$warning;
}
.files {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 20px 0;
}
.file-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .file-section-title {
        font-weight: 600;
    }
    .file-section-description {
        color: var(--textLight);
    }
    es-manage-assignment-nodes {
        display: block;
    }
    > button {
        align-self: flex-start;
    }
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    gap: 20px;
    es-spinner-small {
        display: flex;
    }
}
