<mat-stepper [linear]="true" labelPosition="bottom">
  <!-- Step 1: Title -->
  <mat-step
    state="main"
    label="{{ 'EDITORIAL.ASSIGNMENT.STEP.MAIN' | translate }}"
    [stepControl]="mainDataFormGroup"
  >
    <h2 class="mat-heading-4">
      <mat-label>{{
        'EDITORIAL.ASSIGNMENT.MAIN_TITLE_' + (assignment().ref?.id ? 'EDIT' : 'CREATE') | translate
      }}</mat-label>
    </h2>
    <form [formGroup]="mainDataFormGroup" class="main-form">
      <mat-form-field>
        <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.TITLE' | translate }}</mat-label>
        <input matInput formControlName="title" required autofocus />
      </mat-form-field>
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.SUMMARY' | translate }}</mat-label>
      <editor [init]="editorConfig" formControlName="summary"></editor>
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES' | translate }}</mat-label>
      <div class="files">
        <es-info-message class="submissions" *ngIf="submissionsWithContent()?.length > 0">{{
          'EDITORIAL.ASSIGNMENT.FORM.HAS_SUBMISSIONS' | translate
        }}</es-info-message>
        <es-manage-assignment-nodes
          [assignment]="assignment()"
          [readonly]="submissionsWithContent()?.length > 0"
          [nodes]="nodes()"
        ></es-manage-assignment-nodes>
        <button
          mat-flat-button
          color="primary"
          (click)="showFileDialog()"
          [disabled]="submissionsWithContent()?.length > 0"
        >
          <i esIcon="add"></i> {{ 'EDITORIAL.ASSIGNMENT.FORM.ADD_FILE' | translate }}
        </button>
      </div>
      <mat-slide-toggle formControlName="allowAdditionalDocumentSubmissions" class="toggle-reverse">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_ALLOW_ADDITIONAL' | translate }}
          </ng-container>
          <ng-container slot="description">
            <span
              innerHTML="{{
                'EDITORIAL.ASSIGNMENT.FORM.FILES_ALLOW_ADDITIONAL_DETAILS' | translate
              }}"
            ></span>
          </ng-container>
        </es-multi-line-label>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="useEndTime" class="toggle-reverse">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'EDITORIAL.ASSIGNMENT.FORM.END' | translate }}
          </ng-container>
          <ng-container slot="description">
            <span innerHTML="{{ 'EDITORIAL.ASSIGNMENT.FORM.END_DETAILS' | translate }}"></span>
          </ng-container>
        </es-multi-line-label>
      </mat-slide-toggle>
      <div *ngIf="mainDataFormGroup.get('useEndTime').value === true">
        <es-share-dialog-choose-date
          #dateChooser
          [from]="now"
          [(dateTime)]="dateTime"
        ></es-share-dialog-choose-date>
      </div>
      <div class="navigation">
        <button mat-button color="primary" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        <button mat-flat-button color="primary" matStepperNext (click)="validateMainForm()">
          {{ 'NEXT' | translate }}
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step state="permissions" label="{{ 'EDITORIAL.ASSIGNMENT.STEP.INVITE' | translate }}">
    <h2 class="mat-heading-4">
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.PERMISSIONS_TITLE' | translate }}</mat-label>
    </h2>
    <div class="mainForm">
      <es-authority-search-input
        [globalSearchAllowed]="'autoDetect'"
        (chooseAuthority)="addAuthority($event)"
      ></es-authority-search-input>
      <es-manage-assignment-authorities
        [assignment]="assignment()"
        [authorities]="authorities()"
      ></es-manage-assignment-authorities>
    </div>
    <div class="navigation">
      <es-spinner-small *ngIf="saving()"></es-spinner-small>
      <button mat-button color="primary" matStepperPrevious [disabled]="saving()">
        {{ 'BACK' | translate }}
      </button>
      <ng-container *ngIf="assignment().status !== 'DRAFT'">
        <button
          mat-button
          color="primary"
          matStepperNext
          (click)="submit('INPROGRESS')"
          [disabled]="saving()"
        >
          {{ 'SAVE' | translate }}
        </button>
        <button
          mat-flat-button
          color="primary"
          matStepperNext
          (click)="finishSubmission()"
          [disabled]="saving()"
        >
          {{ 'EDITORIAL.ASSIGNMENT.SAVE_FINISH' | translate }}
        </button>
        <button
          mat-flat-button
          color="warn"
          [disabled]="submissionsWithContent()?.length > 0 || saving()"
          matStepperNext
          (click)="resetToDraft()"
        >
          {{ 'EDITORIAL.ASSIGNMENT.SAVE_RESET_DRAFT' | translate }}
        </button>
      </ng-container>
      <button
        mat-button
        color="primary"
        matStepperNext
        (click)="submit('DRAFT')"
        *ngIf="assignment().status === 'DRAFT'"
        [disabled]="saving()"
      >
        <i esIcon="draft"></i>
        {{ 'EDITORIAL.ASSIGNMENT.SAVE_DRAFT' | translate }}
      </button>
      <button
        mat-flat-button
        *ngIf="assignment().status === 'DRAFT'"
        color="primary"
        matStepperNext
        (click)="submit('INPROGRESS')"
        [disabled]="saving()"
      >
        <i esIcon="send"></i>
        {{ 'EDITORIAL.ASSIGNMENT.SUBMIT' | translate }}
      </button>
    </div>
  </mat-step>
  <ng-template matStepperIcon="main">
    <i esIcon="task">task</i>
  </ng-template>
</mat-stepper>
