<es-mds-editor-widget-container
  *ngIf="currentValue"
  [widget]="widget"
  [label]="widget.definition.caption"
  [valueType]="valueType"
>
  <ngx-slider
    *ngIf="isRange"
    class="ngx-slider-small"
    [value]="currentValue[0]"
    [(highValue)]="currentValue[1]"
    [options]="sliderOptions"
    (valueChange)="updateValue($event)"
    (highValueChange)="updateHighValue($event)"
  ></ngx-slider>
  <ngx-slider
    *ngIf="!isRange"
    class="ngx-slider-small"
    [value]="currentValue[0]"
    [options]="sliderOptions"
    (valueChange)="updateValue($event)"
  ></ngx-slider>
</es-mds-editor-widget-container>
