@if (currentValue) {
<es-mds-editor-widget-container
  [widget]="widget"
  [label]="widget.definition.caption"
  [valueType]="valueType"
>
  @if (isRange) {
  <ngx-slider
    class="ngx-slider-small mds-slider"
    [class.isAiSuggestion]="(aiSuggestion$ | async)?.status === 'ACCEPTED'"
    [value]="currentValue[0]"
    [highValue]="currentValue[1]"
    [options]="sliderOptions"
    (userChange)="updateValue($event)"
  ></ngx-slider>
  } @if (!isRange) {
  <ngx-slider
    class="ngx-slider-small"
    [value]="currentValue[0]"
    [options]="sliderOptions"
    (userChange)="updateValue($event)"
  ></ngx-slider>
  }
</es-mds-editor-widget-container>
}
