@import '../../../../../core-ui-module/styles/variables';

::ng-deep {
    .mat-notification-menu {
        width: 500px;
        max-width: 100vw !important;
        // background: transparent;
        // backdrop-filter: blur(5px) brightness(1.0);
        // box-shadow: none;
    }
}
button {
    position: relative;
    .unread {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -2px;
        top: -6px;
        width: 23px;
        height: 23px;
        line-height: 1;
        font-size: $fontSizeXSmall;
        font-weight: bold;
        border-radius: 50%;
        background-color: #ad4638;
    }
}
.list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 0 2px;
    > es-notification-list-entry {
        border-radius: 8px;
        padding: 5px 20px;
        background: rgb(var(--palette-background-card));
    }
}
.menu-wrapper {
    .dialog-title {
        margin: 0;
        display: flex;
        align-items: center;
        column-gap: 30px;
        padding: 10px 20px;
        border-radius: 8px;
        background: rgb(var(--palette-background-card));
        // @include materialShadowBottom();
        > div {
            font-size: $fontSizeXLarge;
            flex-grow: 1;
        }
    }
    es-spinner-small {
        display: flex;
        justify-content: center;
    }
    .toggle-reverse {
        display: flex;
        justify-content: flex-end;
        padding: 10px 15px;
        background-color: $cardLightBackground;
        margin-bottom: 10px;
    }
}
.empty {
    display: flex;
    justify-content: center;
    user-select: none;
    padding: 20px 30px;
    font-size: $fontSizeLarge;
    color: $textMediumLight;
}
