@use 'variables-scss' as vars;

footer {
    padding: 36px 36px 48px 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--footerBackground);

    es-imprint-privacy {
        display: flex;
        gap: 32px;
        text-align: center;
        font-size: vars.$fontSizeLarge;
        font-weight: bold;

        &::ng-deep a {
            color: var(--footerFontColor);
        }
    }
}
