<es-dropdown #dropdown [options]="options"></es-dropdown>
@if (_node) {
<div class="group">
  @if (canComment() && mode !== 'view') {
  <div class="new">
    <div class="left">
      <es-user-avatar [size]="'small'" [user]="user"></es-user-avatar>
    </div>
    <div class="right">
      <form (ngSubmit)="addComment()">
        <mat-form-field>
          <textarea
            matInput
            name="addComment"
            [disabled]="sending"
            placeholder="{{ 'NODE_COMMENTS.NEW_COMMENT_PLACEHOLDER' | translate }}"
            [(ngModel)]="newComment"
          ></textarea>
        </mat-form-field>
        @if (!sending) {
        <button mat-icon-button (click)="addComment()">
          <i esIcon="send"></i>
        </button>
        } @if (sending) {
        <es-spinner-small></es-spinner-small>
        }
      </form>
    </div>
  </div>
  } @if (!canComment() && mode !== 'view') {
  <div class="new-no-permission">
    <div class="no-permission">
      {{
        'NODE_COMMENTS.' +
          (isFromHomeRepo
            ? isGuest
              ? 'NO_GUEST_COMMENTING'
              : 'NO_PERMISSION'
            : 'NOT_SUPPORTED_REMOTELY') | translate
      }}
    </div>
  </div>
  } @if (isLoading) {
  <div class="comments comments-loading"><es-spinner></es-spinner></div>
  } @if (comments) {
  <div class="comments" [class.commentsLong]="!canComment()">
    @if (comments && !comments.length && canComment()) {
    <div class="no-comments">
      {{ 'NODE_COMMENTS.NO_COMMENTS' | translate }}
    </div>
    } @for (comment of comments; track comment; let i = $index) {
    <div class="comment">
      <div class="top">
        <div class="left">
          <es-user-avatar [link]="true" [size]="'small'" [user]="comment.creator"></es-user-avatar>
        </div>
        <div class="right">
          <div class="creator">
            <div class="name">{{ comment.creator | authorityName }}</div>
            @if (getOptions(comment) && getOptions(comment).length) {
            <button
              mat-icon-button
              #menuTrigger="matMenuTrigger"
              class="dropdown-dummy"
              [matMenuTriggerFor]="dropdown.menu"
              (click)="options = getOptions(comment)"
            >
              <i esIcon="more_vert" class="dropdown"></i>
            </button>
            }
          </div>
          @if (comment !== editComment && text === 'plain') {
          <div class="commentText">
            {{ comment.comment }}
          </div>
          } @if (comment !== editComment && text === 'html') {
          <div class="commentText commentHTML" [innerHTML]="comment.comment"></div>
          } @if (comment === editComment) {
          <div class="commentTextEdit">
            <form (ngSubmit)="saveEditComment()">
              <mat-form-field>
                <textarea
                  matInput
                  name="comment"
                  placeholder="{{ 'NODE_COMMENTS.NEW_COMMENT_PLACEHOLDER' | translate }}"
                  [(ngModel)]="editCommentText"
                ></textarea>
              </mat-form-field>
            </form>
          </div>
          }
        </div>
      </div>
      @if (comment === editComment) {
      <div class="icons">
        <div
          class="btn-negative"
          tabindex="0"
          (click)="editComment = null"
          (keyup.enter)="editComment = null"
        >
          <i esIcon="close"></i>
        </div>
        <div
          class="btn-positive"
          tabindex="0"
          (click)="saveEditComment()"
          (keyup.enter)="saveEditComment()"
        >
          <i esIcon="check"></i>
        </div>
      </div>
      } @if (comment !== editComment) {
      <div class="date">{{ comment.created | formatDate }}</div>
      }
    </div>
    }
  </div>
  }
</div>
}
