$titleHeight: 70px;
$tabHeight: 48px;
$jumpmarksWidth: 200px;
$nonModalPadding: 20px;
$heights: (
    'small': 400px,
    'normal': 500px,
    'large': 600px,
    'xlarge': 700px,
    'xxlarge': 800px,
    'xxxlarge': 900px,
);
$widths: (
    'xsmall': 400px,
    'small': 500px,
    'normal': 600px,
    'mlarge': 650px,
    'large': 700px,
    'xlarge': 800px,
    'xxlarge': 900px,
    'xxxlarge': 1200px,
);
