:host es-mds-editor-widget-container ::ng-deep .header-container label {
    margin-bottom: 10px;
}

.link {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}
.license-list {
    > div:not(:last-child) {
        margin-bottom: 10px;
    }
    .checkbox-label {
        display: flex;
        align-items: center;
        img {
            height: 15px;
            margin-right: 5px;
        }
    }
}
