<ng-container *ngIf="clickable">
  <!-- Full (not short) breadcrumbs -->
  <div class="breadcrumb breadcrumb-full">
    <ng-container *ngTemplateOutlet="homeBreadcrumbElement"></ng-container>
    <ng-container *ngFor="let node of nodes; let index = index; let last = last">
      <i aria-hidden="true" icon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
      <ng-container
        *ngTemplateOutlet="nodeBreadcrumbElement; context: { node: node, index: index, currentPos: last }"
      ></ng-container>
    </ng-container>
  </div>

  <!-- Short breadcrumbs

  Show only the last breadcrumbs and either a back- or a home button.
  -->
  <div class="breadcrumb breadcrumb-short">
    <!-- root / home breadcrumb -->
    <ng-container *ngIf="nodes.length <= 1">
      <ng-container
        *ngTemplateOutlet="
          homeBreadcrumbElement;
          context: {
            classes: 'breadcrumb-element-home'
          }
        "
      ></ng-container>
      <i
        *ngIf="nodes.length === 1"
        aria-hidden="true"
        icon="keyboard_arrow_right"
        class="breadcrumb-arrow"
      ></i>
    </ng-container>
    <!-- back / level-up breadcrumb -->
    <ng-container *ngIf="nodes.length > 1">
      <ng-container
        *ngTemplateOutlet="
          nodeBreadcrumbElement;
          context: { node: nodes[nodes.length - 2], index: nodes.length - 2, inner: backInner }
        "
      ></ng-container>
    </ng-container>
    <!-- breadcrumb for current node -->
    <ng-container *ngIf="nodes.length > 0">
      <div *ngIf="invisibleDescription" class="cdk-visually-hidden">
        {{'BREADCRUMB_LOCATION_PREFIX' | translate}}
      </div>
      <ng-container
        *ngTemplateOutlet="
          nodeBreadcrumbElement;
          context: { node: nodes[nodes.length - 1], index: nodes.length - 1, currentPos: true }
        "
      ></ng-container>
    </ng-container>
  </div>
</ng-container>

<!-- Read-only breadcrumbs.

Short version works only with `short="always"`.
-->
<div *ngIf="!clickable" class="breadcrumb breadcrumb-readonly">
  <span *ngIf="home" class="home mat-button-no-uppercase">{{ home | translate }}</span>
  <span *ngIf="!home" class="home home-icon mat-button-no-uppercase"><i icon="home"></i></span>
  <ng-container *ngIf="short === 'always' && nodes.length > 1">
    <i aria-hidden="true" icon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="folder">...</span>
  </ng-container>
  <ng-container
    *ngFor="let node of short === 'always' && nodes.length > 1 ? [nodes[nodes.length - 1]] : nodes"
  >
    <i aria-hidden="true" icon="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="folder">{{ node ? node.name : '' }}</span>
  </ng-container>
</div>

<ng-template #homeInner>
  <div class="breadcrumb-inner">
    <ng-container *ngIf="home">
      {{ home | translate }}
    </ng-container>
    <ng-container *ngIf="!home">
      <i icon="home" class="home-icon"></i>
    </ng-container>
    <i *ngIf="nodes.length < 1" icon="keyboard_arrow_down" class="dropdown-icon mobile-only"></i>
  </div>
</ng-template>

<ng-template #backInner>
  <i icon="keyboard_arrow_left" class="breadcrumb-arrow"></i>
</ng-template>

<ng-template #homeBreadcrumbElement let-classes="classes">
  <a
    *ngIf="homeRouterLink"
    #trigger
    [routerLink]="homeRouterLink.routerLink"
    [queryParams]="homeRouterLink.queryParams"
    [queryParamsHandling]="homeRouterLink.queryParamsHandling"
    cdkMonitorElementFocus
    class="breadcrumb-element {{ classes }}"
  >
    <ng-container *ngTemplateOutlet="homeInner"></ng-container>
    <div mat-ripple [matRippleTrigger]="trigger" matRippleColor="primary"></div>
  </a>
  <button
    *ngIf="!homeRouterLink"
    #trigger
    cdkMonitorElementFocus
    class="breadcrumb-element {{ classes }}"
    (click)="openBreadcrumb(0)"
  >
    <ng-container *ngTemplateOutlet="homeInner"></ng-container>
    <div mat-ripple [matRippleTrigger]="trigger" matRippleColor="primary"></div>
  </button>
</ng-template>

<ng-template #nodeBreadcrumbElement let-node="node" let-index="index" let-inner="inner" let-currentPos="currentPos">
  <app-node-url
    #trigger="appElementRef"
    appElementRef
    cdkMonitorSubtreeFocus
    class="breadcrumb-element clickable"
    [aria-label]="false"
    [node]="node"
    [unclickable]="!createLink"
    (click)="openBreadcrumb(index + 1)"
  >
    <div
      class="breadcrumb-inner"
      [appNodesDropTarget]="canDropNodes.bind(this, node)"
      (nodesHoveringChange)="onNodesHoveringChange($event, node)"
      (nodesDrop)="onNodesDrop($event, node)"
      [class.selected]="node && dragHover == node"
    >
      <span *ngIf="currentPos && invisibleDescription" class="cdk-visually-hidden">
        {{'BREADCRUMB_LOCATION_PREFIX' | translate}}
      </span>
      <ng-container *ngIf="!inner; else inner">
        {{ node ? node.name : '' }}
      </ng-container>
    </div>
    <div mat-ripple [matRippleTrigger]="$any(trigger)" matRippleColor="primary"></div>
  </app-node-url>
</ng-template>
