<div class="dialog darken">
  <div class="card center-card card-high card-actionbar card-wide">
    <div class="card-content" *ngIf="_tool">
      <div tabindex="0" class="card-cancel" (click)="cancel()" (keyup.enter)="cancel()"><i esIcon="close" [aria]="true"></i></div>
      <div class="card-title">{{'WORKSPACE.LTI_TOOLS.TITLE_CONFIG' | translate:{tool:_tool.name} }}</div>
      <div class="card-title-actionbar">
        <div class="actionbar">
          <es-actionbar
            [options]="actionOptions"
          ></es-actionbar>
        </div>
      </div>

      <es-spinner *ngIf="loading"></es-spinner>
      <div class="card-scroll" *ngIf="!loading">
        <es-listTable
        [customOptions]="explorerOptions"
        [columns]="columns"
        [nodes]="configs"
        [hasIcon]="true"
        [hasHeading]="false"
        ></es-listTable>
      </div>
  </div>
  <div class="card-action">
    <a class="btn-flat" (click)="cancel()">{{'CLOSE' | translate }}</a>
  </div>
  </div>
</div>
<es-modal-dialog
[title]="dialogTitle"
[message]="dialogMessage"
[buttons]="dialogButtons"
[isCancelable]="true"
(onCancel)="dialogTitle=null"
></es-modal-dialog>
