@import '../../../../core-ui-module/styles/variables';
@import '../../../../shared/components/card/variables';

.block {
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
        padding-top: 20px;
    }
    &:not(:last-child) {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    .top {
        display: flex;
        align-items: center;
        > h3 {
            color: $textMain;
            font-weight: bold;
            flex-grow: 1;
            font-size: 125%;
        }
        button {
            position: relative;
            top: 3px;
        }
    }
}
