<!-- TODO: remove remaining h4 and h5 headings (misused as labels) -->

@if (oerAvailable) {
<mat-slide-toggle class="oerSelect switch toggle-reverse" [(ngModel)]="oerMode">{{
  'WORKSPACE.LICENSE.ONLY_OER' | translate
}}</mat-slide-toggle>
} @if (oerMode) {
<mat-radio-group class="oerLicenses" [(ngModel)]="type" name="oerLicenses mat-group-gap">
  <fieldset>
    <legend>{{ 'LICENSE.GROUPS.CC_0' | translate }}</legend>
    <div class="oerCC0">
      @if (isAllowedLicense('CC_0')) {
      <div>
        <mat-radio-button value="CC_0">
          <es-multi-line-label>
            <ng-container slot="label">
              {{ 'WORKSPACE.LICENSE.CC0.CC0' | translate }}
            </ng-container>
            <ng-container slot="description">
              <span innerHTML="{{ 'WORKSPACE.LICENSE.CC0.CC0_INFO' | translate }}"></span>
            </ng-container>
          </es-multi-line-label>
        </mat-radio-button>
        <div class="more-information-link">
          <a [href]="getLicenseUrlVersion('CC_0') | async" target="_blank">{{
            'WORKSPACE.LICENSE.MORE' | translate
          }}</a>
        </div>
      </div>
      } @if (isAllowedLicense('PDM')) {
      <div>
        <mat-radio-button value="PDM">
          <es-multi-line-label>
            <ng-container slot="label">
              {{ 'WORKSPACE.LICENSE.CC0.PDM' | translate }}
            </ng-container>
            <ng-container slot="description">
              {{ 'WORKSPACE.LICENSE.CC0.PDM_INFO' | translate }}
            </ng-container>
          </es-multi-line-label>
        </mat-radio-button>
        <div class="more-information-link">
          <a class="focus-underline" [href]="getLicenseUrlVersion('PDM') | async" target="_blank">{{
            'WORKSPACE.LICENSE.MORE' | translate
          }}</a>
        </div>
      </div>
      }
    </div>
  </fieldset>
  <fieldset>
    <legend>{{ 'LICENSE.GROUPS.CC_BY' | translate }}</legend>
    <div class="oerCCBY">
      @if (isAllowedLicense('CC_BY')) {
      <div>
        <mat-radio-button value="CC_BY" id="CC_BY">
          <es-multi-line-label>
            <ng-container slot="label">
              {{ 'WORKSPACE.LICENSE.CC.CC_BY_RADIO' | translate }}
            </ng-container>
            <ng-container slot="description">
              {{ 'WORKSPACE.LICENSE.CC.CC_BY_INFO' | translate }}
            </ng-container>
          </es-multi-line-label>
        </mat-radio-button>
        <div class="more-information-link">
          <a
            class="focus-underline"
            [href]="getLicenseUrlVersion('CC_BY') | async"
            target="_blank"
            >{{ 'WORKSPACE.LICENSE.MORE' | translate }}</a
          >
        </div>
      </div>
      } @if (isAllowedLicense('CC_BY_SA')) {
      <div>
        <mat-radio-button value="CC_BY_SA" id="CC_BY_SA">
          <es-multi-line-label>
            <ng-container slot="label">
              {{ 'WORKSPACE.LICENSE.CC.CC_BY_SA_RADIO' | translate }}
            </ng-container>
            <ng-container slot="description">
              {{ 'WORKSPACE.LICENSE.CC.CC_BY_SA_INFO' | translate }}
            </ng-container>
          </es-multi-line-label>
        </mat-radio-button>
        <div class="more-information-link">
          <a
            class="focus-underline"
            [href]="getLicenseUrlVersion('CC_BY_SA') | async"
            target="_blank"
            >{{ 'WORKSPACE.LICENSE.MORE' | translate }}</a
          >
        </div>
      </div>
      }
    </div>
  </fieldset>
</mat-radio-group>
} @if (!oerMode) {
<div class="allLicenses">
  <mat-form-field class="licenseType">
    <mat-label>{{ 'WORKSPACE.LICENSE.TYPE' | translate }}</mat-label>
    <mat-select #selectLicense id="type" type="text" [(ngModel)]="primaryType">
      @for (license of licenseMainTypes; track license) {
      <mat-option [value]="license">{{ 'LICENSE.GROUPS.' + license | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (primaryType === 'CC_BY') {
  <div class="cc">
    <h5 class="ccAbout">
      <a
        class="focus-underline"
        [href]="getLicenseUrlVersion('CC_BY_ABOUT') | async"
        target="_blank"
        >{{ 'WORKSPACE.LICENSE.CC.ABOUT' | translate }}</a
      >
    </h5>
    @if (isAllowedLicense('CC_BY_SA') || isAllowedLicense('CC_BY_ND')) {
    <div>
      <h4>{{ 'WORKSPACE.LICENSE.CC.SHARE' | translate }}</h4>
      <h5>{{ 'WORKSPACE.LICENSE.CC.SHARE_INFO' | translate }}</h5>
      <mat-radio-group [(ngModel)]="ccShare">
        <mat-radio-button value="">{{ 'YES' | translate }}</mat-radio-button>
        @if (isAllowedLicense('CC_BY_SA')) {
        <mat-radio-button value="SA">{{
          'WORKSPACE.LICENSE.CC.YES_ALIKE' | translate
        }}</mat-radio-button>
        } @if (isAllowedLicense('CC_BY_ND')) {
        <mat-radio-button value="ND">{{ 'NO' | translate }}</mat-radio-button>
        }
      </mat-radio-group>
    </div>
    } @if (isAllowedLicense('CC_BY_NC')) {
    <div>
      <h4>{{ 'WORKSPACE.LICENSE.CC.COMMERCIAL' | translate }}</h4>
      <h5>{{ 'WORKSPACE.LICENSE.CC.COMMERCIAL_INFO' | translate }}</h5>
      <mat-radio-group [(ngModel)]="ccCommercial">
        <mat-radio-button value="">{{ 'YES' | translate }}</mat-radio-button>
        <mat-radio-button value="NC">{{ 'NO' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>
    }
  </div>
  } @if (primaryType === 'COPYRIGHT') {
  <mat-radio-group [(ngModel)]="type" class="copyright mat-group-gap">
    @if (isAllowedLicense('COPYRIGHT_FREE')) {
    <div>
      <mat-radio-button value="COPYRIGHT_FREE">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'WORKSPACE.LICENSE.COPYRIGHT.FREE' | translate }}
          </ng-container>
          <ng-container slot="description">
            <span innerHTML="{{ 'WORKSPACE.LICENSE.COPYRIGHT.FREE_INFO' | translate }}"></span>
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
    </div>
    } @if (isAllowedLicense('COPYRIGHT_LICENSE')) {
    <div>
      <mat-radio-button value="COPYRIGHT_LICENSE">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'WORKSPACE.LICENSE.COPYRIGHT.LICENSE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'WORKSPACE.LICENSE.COPYRIGHT.LICENSE_INFO' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
    </div>
    }
  </mat-radio-group>
  } @if (primaryType === 'CC_0') {
  <mat-radio-group [(ngModel)]="type" class="cc">
    @if (isAllowedLicense('CC_0')) {
    <div>
      <mat-radio-button value="CC_0">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'WORKSPACE.LICENSE.CC0.CC0' | translate }}
          </ng-container>
          <ng-container slot="description">
            <span [innerHTML]="'WORKSPACE.LICENSE.CC0.CC0_INFO' | translate"></span>
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
      <div class="more-information-link">
        <a class="focus-underline" [href]="getLicenseUrlVersion('CC_0') | async" target="_blank">{{
          'WORKSPACE.LICENSE.MORE' | translate
        }}</a>
      </div>
    </div>
    } @if (isAllowedLicense('PDM')) {
    <div>
      <mat-radio-button value="PDM">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'WORKSPACE.LICENSE.CC0.PDM' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'WORKSPACE.LICENSE.CC0.PDM_INFO' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
      <div class="more-information-link">
        <a class="focus-underline" [href]="getLicenseUrlVersion('PDM') | async" target="_blank">{{
          'WORKSPACE.LICENSE.MORE' | translate
        }}</a>
      </div>
    </div>
    }
  </mat-radio-group>
  }
  <!--<div *ngIf="primaryType=='EDU'" class="edu">
            <div class="radio">
              <input type="radio" [(ngModel)]="eduType" value="P_NR" id="P_NR">
              <label for="P_NR">
                <h4>{{'WORKSPACE.LICENSE.EDU.P_NR' | translate}}</h4>
                <h5>{{'WORKSPACE.LICENSE.EDU.P_NR_INFO' | translate}}</h5>
              </label>
            </div>
            <div class="radio">
              <input type="radio" [(ngModel)]="eduType" value="NC" id="NC">
              <label for="NC">
                <h4>{{'WORKSPACE.LICENSE.EDU.NC' | translate}}</h4>
                <h5>{{'WORKSPACE.LICENSE.EDU.NC_INFO' | translate}}</h5>
              </label>
            </div>
            <input type="checkbox" class="filled-in" [(ngModel)]="eduDownload" id="DOWNLOAD"><label for="DOWNLOAD">{{'WORKSPACE.LICENSE.EDU.DOWNLOAD' | translate}}</label>
          </div>-->
  @if (primaryType === 'CUSTOM') {
  <div class="custom">
    <mat-form-field>
      <mat-label>{{ 'LICENSE.GROUPS.CUSTOM' | translate }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        required
        [(ngModel)]="rightsDescription"
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
  </div>
  }
</div>
}
<es-mds-editor-widget-author
  #author
  [showContributorDialog]="!_properties"
></es-mds-editor-widget-author>
@if (isCCAttributableLicense()) {
<es-license-source
  class="cc-additional"
  [(ccTitleOfWork)]="ccTitleOfWork"
  [(ccSourceUrl)]="ccSourceUrl"
  [(ccProfileUrl)]="ccProfileUrl"
></es-license-source>
}
<div class="ai-info">
  <button class="more clickable" (click)="aiOpen = !aiOpen">
    <span class="title">{{ 'WORKSPACE.LICENSE.AI.TITLE' | translate }}</span>
    @if (aiOpen) {
    <i esIcon="keyboard_arrow_up"></i>
    } @if (!aiOpen) {
    <i esIcon="keyboard_arrow_down"></i>
    }
  </button>
  @if (aiOpen) {
  <div [@overlay]="aiOpen" class="ai-details">
    @if (isPublic === false) {
    <es-info-message mode="info">
      {{ 'WORKSPACE.LICENSE.AI.NO_PUBLIC_NODE' | translate }}
    </es-info-message>
    }
    <mat-checkbox
      [ngModel]="isPublic ? ai.allowUsage : false"
      [disabled]="!isPublic"
      [indeterminate]="ai.allowUsage === 'indeterminate'"
      (ngModelChange)="ai.allowUsage = $event; updateAi()"
    >
      <es-multi-line-label>
        <ng-container slot="label">
          {{ 'WORKSPACE.LICENSE.AI.USE_FOR_TRAINING' | translate }}
        </ng-container>
        <ng-container slot="description">
          <span innerHTML="{{ 'WORKSPACE.LICENSE.AI.USE_FOR_TRAINING_INFO' | translate }}"></span>
        </ng-container>
      </es-multi-line-label>
    </mat-checkbox>
    <mat-checkbox
      [(ngModel)]="ai.generated"
      [indeterminate]="ai.generated === 'indeterminate'"
      (ngModelChange)="updateAi()"
    >
      <es-multi-line-label>
        <ng-container slot="label">
          <span>{{ 'WORKSPACE.LICENSE.AI.GENERATED' | translate }}</span>
        </ng-container>
        <ng-container slot="description">
          <span innerHTML="{{ 'WORKSPACE.LICENSE.AI.GENERATED_INFO' | translate }}"></span>
        </ng-container>
      </es-multi-line-label>
    </mat-checkbox>
    @if (ai.generated !== false) {
    <mat-form-field>
      <mat-label>
        {{ 'WORKSPACE.LICENSE.AI.TOOL' | translate }}
      </mat-label>
      <mat-select [(ngModel)]="ai.tool" (ngModelChange)="updateAi()">
        <mat-option value="">{{ 'WORKSPACE.LICENSE.AI.TOOL_NO_INFO' | translate }}</mat-option>
        <mat-option value="custom">{{ 'WORKSPACE.LICENSE.AI.TOOL_CUSTOM' | translate }}</mat-option>
        @if (ai.tool === 'indeterminate') {
        <mat-option value="indeterminate">{{
          'WORKSPACE.LICENSE.AI.TOOL_INDETERMINATE' | translate
        }}</mat-option>
        } @for (tool of aiTools; track tool) {
        <mat-option [value]="tool.id">{{ tool.caption }}</mat-option>
        }
      </mat-select>
      <mat-hint>
        {{ 'WORKSPACE.LICENSE.AI.TOOL_INFO' | translate }}
      </mat-hint>
    </mat-form-field>
    @if (ai.tool === 'custom') {
    <mat-form-field>
      <mat-label>
        {{ 'WORKSPACE.LICENSE.AI.TOOL_CUSTOM_NAME' | translate }}
      </mat-label>
      <input matInput [(ngModel)]="ai.toolCustom" />
    </mat-form-field>
    }
    <mat-checkbox
      [(ngModel)]="ai.manuallyModified"
      [indeterminate]="ai.manuallyModified === 'indeterminate'"
      (ngModelChange)="updateAi()"
    >
      <es-multi-line-label>
        <ng-container slot="label">
          {{ 'WORKSPACE.LICENSE.AI.MANUALLY_MODIFIED' | translate }}
        </ng-container>
        <ng-container slot="description">
          <span innerHTML="{{ 'WORKSPACE.LICENSE.AI.MANUALLY_MODIFIED_INFO' | translate }}"></span>
        </ng-container>
      </es-multi-line-label>
    </mat-checkbox>
    }
  </div>
  }
</div>
<div class="currentLicense">
  @if (type !== 'MULTI') {
  <h4>{{ 'WORKSPACE.LICENSE.CURRENT' | translate }}</h4>
  } @if (type !== 'MULTI') {
  <img class="currentLicenseIcon" src="{{ getLicenseIcon() }}" alt="" />
  } @if (type.startsWith('CC_BY')) {
  <div class="license-additional-data">
    @if (ccVersion !== '4.0') {
    <div class="licenseLocale">
      <mat-form-field>
        <mat-label>{{ 'WORKSPACE.LICENSE.LOCALE' | translate }}</mat-label>
        <mat-select id="localeCountry" [(ngModel)]="ccCountry">
          <mat-option value="">{{ 'COUNTRY_CODE.INTERNATIONAL' | translate }}</mat-option>
          @for (country of _ccCountries; track country) {
          <mat-option value="{{ country.key }}">{{ country.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    }
    <div class="licenseVersion">
      <mat-form-field>
        <mat-label>{{ 'WORKSPACE.LICENSE.VERSION' | translate }}</mat-label>
        <mat-select id="version" [(ngModel)]="ccVersion">
          <mat-option value="2.0">2.0</mat-option>
          <mat-option value="3.0">3.0</mat-option>
          <mat-option value="4.0">4.0</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  }
  <div class="licenseName">
    <h4>{{ getLicenseName() }}</h4>
    @if (getLicenseProperty() !== 'MULTI') {
    <div class="oerStatus">
      @if (isOerLicense()) {
      <span class="oer">{{ 'WORKSPACE.LICENSE.OER' | translate }}</span>
      } @if (!isOerLicense()) {
      <span class="notOer">{{ 'WORKSPACE.LICENSE.NOT_OER' | translate }}</span>
      }
    </div>
    }
  </div>
  <div class="currentLicenseDescription">
    @if (primaryType === 'CUSTOM') {
    <div class="customLicenseDescription">
      {{ rightsDescription }}
    </div>
    } @if (primaryType !== 'CUSTOM' && primaryType !== 'COPYRIGHT') {
    <div innerHTML="{{ 'LICENSE.DESCRIPTION.' + primaryType | translate }}"></div>
    } @if (primaryType === 'COPYRIGHT') {
    <div>
      <div innerHTML="{{ 'LICENSE.DESCRIPTION.' + copyrightType | translate }}"></div>
    </div>
    } @if (primaryType === 'CC_BY') {
    <div>
      @if (ccShare) {
      <div>
        {{ 'LICENSE.DESCRIPTION.CC_SHARE_' + ccShare | translate }}
      </div>
      } @if (ccCommercial) {
      <div>
        {{ 'LICENSE.DESCRIPTION.CC_COMMERCIAL_' + ccCommercial | translate }}
      </div>
      } @if (ccVersion !== '4.0') {
      <div>
        {{ 'WORKSPACE.LICENSE.LOCALE' | translate : { locale: ccCountry } }}
        {{ 'COUNTRY_CODE.' + (ccCountry ? ccCountry : 'INTERNATIONAL') | uppercase | translate }}.
      </div>
      }
    </div>
    } @if (primaryType === 'CC_BY' || primaryType === 'CC_0') {
    <div class="licenseUrl">
      <a [href]="getLicenseUrl() | async" target="_blank">{{
        'WORKSPACE.LICENSE.MORE' | translate
      }}</a>
    </div>
    }
    <div class="ai-info">{{ getAiProperties() | esLicenseAiInfo }}</div>
  </div>
</div>
