<div class="card-image-backdrop">
  <!-- The blur filter does not work with canvas as it does with img on Chrome, so we go for a black
  background for now. -->
  <!-- <canvas *ngIf="showCanvas" #backdropCanvas role="presentation" aria-hidden="true"></canvas> -->
  <img
    [src]="node | appNodeImage: { maxWidth: 300, maxHeight: 300, crop: true }"
    alt=""
    *ngIf="!replacedWithStatic"
  />
</div>

<canvas *ngIf="showCanvas" #canvas role="presentation" aria-hidden="true"></canvas>
<img
  (load)="onImageLoad($event)"
  #image
  [src]="node | appNodeImage: { maxWidth: 300, maxHeight: 300, crop: true }"
  alt=""
  [class.display-none]="replacedWithStatic && !playAnimation"
/>
