<div id="eduSearchWrapper" (window:resize)="onResize()">
  <main-nav *ngIf="mainnav" #mainNav
    [title]="'SEARCH.TITLE'"
    [currentScope]="'search'"
    [searchEnabled]="true"
    [showScope]="mainnav"
    [showUser]="mainnav"
    [searchPlaceholder]="'SEARCH.SEARCH_STUFF'"
    [canOpen]="true"
    [(searchQuery)]="searchService.searchTerm"
    (onSearch)="routeAndClearSearch($event)"
  ></main-nav>
  <tutorial [element]="tutorialElement" [heading]="'SEARCH.TUTORIAL_HEADING'" [description]="'SEARCH.TUTORIAL_DESCRIPTION'" [showSkip]="false"
  ></tutorial>

  <div class="rowRepositories row tab-group row-dark scrollWithBanner" [class.no-mainnav]="!mainnav" *ngIf="repositories && repositories.length>2">
    <div class="col s12">
      <ul class="tabs tabsRepositories tabs-fixed-width">
        <li class="clickable tab col s3" *ngFor="let repo of repositories.length<=4 ? repositories : repositories.slice(0,3)" tabindex="0" (keyup.enter)="setRepository(repo.id)" (click)="setRepository(repo.id)">
          <a [class.active]="currentRepository==repo.id">
            <img [src]="getSourceIcon(repo)"><span class="repositoryTitle">{{ repo.title }}</span></a>
        </li>
        <li class="clickable tab col s3" *ngIf="repositories.length>4 && !extendedRepositorySelected" tabindex="0" (keyup.enter)="showMoreRepositories=true" (click)="showMoreRepositories=true">
          <a>
            <span>
              <img [src]="getSourceIconPath('more')"><span class="repositoryTitle">{{ 'SEARCH.REPOSITORY_MORE' | translate }}</span>
            </span>
            <i class="material-icons" >keyboard_arrow_down</i>
          </a>
        </li>
        <li class="clickable tab col s3" *ngIf="repositories.length>4 && extendedRepositorySelected"
            tabindex="0"
            (keyup.enter)="currentRepository==repositories[3].id ? showMoreRepositories=true : setRepository(repositories[3].id)"
            (click)="currentRepository==repositories[3].id ? showMoreRepositories=true : setRepository(repositories[3].id)">
          <a [class.active]="currentRepository==repositories[3].id">
            <img [src]="getSourceIcon(repositories[3])"><span class="repositoryTitle">{{ repositories[3].title }}</span>
            <i class="material-icons" (click)="$event.stopPropagation();showMoreRepositories=true">keyboard_arrow_down</i>
          </a>
        </li>
        <!--
        <li class="clickable tab col s1" *ngIf="repositories.length>4" (click)="showMoreRepositories=true">
          <a><i class="material-icons">more_vert</i></a>
        </li>
        -->

      </ul>
    </div>
  </div>
  <div class="top scrollWithBanner" [class.topNoRepositories]="!(repositories && repositories.length>2)" [class.no-mainnav]="!mainnav" *ngIf="initalized">
    <div class="extendedSearch" #extendedSearch>
        <a tabindex="0" title="{{'SEARCH.TOGGLE_EXPANDED_SEARCH' | translate}}" (keyup.enter)="searchService.sidenavOpened=!searchService.sidenavOpened" (click)="searchService.sidenavOpened=!searchService.sidenavOpened" class="pointed filtertoggler">
          <span>{{'SEARCH.EXPANDED_SEARCH' | translate}}</span>
          <span class="mobile">{{'SEARCH.EXPANDED_SEARCH_SHORT' | translate}}</span>
          <i class="material-icons">{{searchService.sidenavOpened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</i></a>
    </div>
      <div class="switchToCollections" *ngIf="isGuest">
        <a tabindex="0" title="{{'SEARCH.TO_COLLECTIONS' | translate}}" class="clickable" (click)="switchToCollections()" (keyup.enter)="switchToCollections()">{{'SEARCH.TO_COLLECTIONS' | translate}} <i class="material-icons">arrow_forward</i></a>
      </div>
    <small-collection *ngIf="addToCollection"
      [collection]="addToCollection"
      [titleLabel]="'SEARCH.ADD_INTO_COLLECTION'"
      [titleLabelShort]="'SEARCH.ADD_INTO_COLLECTION_SHORT'"
    ></small-collection>
      <actionbar class="actionbarFrame"
                 [backgroundType]="addToCollection ? 'primary' : 'bright'"
                 *ngIf="actionOptions && actionOptions.length"
                 [options]="actionOptions"></actionbar>
  </div>
<div class="sidenavContainer">
  <div class="apply" *ngIf="searchService.sidenavOpened && !isMdsLoading()"><actionbar [options]="mdsActions" [numberOfAlwaysVisibleOptions]="2"></actionbar><a *ngIf="rendered" class="btn" tabindex="0" (keyup.enter)="saveValues()" (click)="saveValues()">{{'SEARCH.APPLY_FILTER' | translate}}</a></div>
  <div #sidenav class="sidenav scrollWithBanner" [class.no-mainnav]="!mainnav" [class.sidenavNoRepositories]="!repositories || repositories.length<=2" [class.sidenavHidden]="!searchService.sidenavOpened" [@fromLeft]="searchService.sidenavOpened">
     <div class="row tab-group" *ngIf="!isGuest">
       <div class="col s12">
         <ul class="tabs">
           <li class="clickable tab col s6" tabindex="0" (keyup.enter)="sidenavTab=0" (click)="sidenavTab=0">
             <a [class.active]="sidenavTab==0">
               <i class="material-icons">tune</i>{{'SEARCH.TAB_FILTER' | translate}}
             </a>
           </li>
           <li class="clickable tab col s6" tabindex="0" (keyup.enter)="sidenavTab=1" (click)="sidenavTab=1">
             <a [class.active]="sidenavTab==1">
               <i class="material-icons">favorite</i>{{'SEARCH.TAB_SAVED' | translate}}
             </a>
           </li>
         </ul>
       </div>
     </div>
     <div *ngIf="sidenavTab==0">
     <div *ngIf="currentRepository=='-all-'" class="repositoryList">
       <label>{{'SEARCH.REPOSITORY_FILTER' | translate}}</label>
       <div *ngFor="let repo of repositoryIds">
         <input type="checkbox" class="filled-in" [(ngModel)]="repo.enabled" [id]="repo.id"><label [for]="repo.id">{{repo.title}}</label>
       </div>
     </div>


      <mds #mds
       [class.display-none]="currentRepository=='-all-'"
        [groupId]="queryId"
        [repository]="currentRepository"
        [setId]="mdsId"
        [embedded]="true"
        [currentValues]="getValuesForMds()"
        [suggestions]="mdsSuggestions"
        [invalidate]="reloadMds"
        [mode]="'search'"
        [(extended)]="mdsExtended"
        (onMdsLoaded)="onMdsReady($event)"
        (onDone)="applyParameters($event)"
      >
      </mds>
       <div class="mdsSelect" *ngIf="initalized">
         <div *ngIf="mdsSets && mdsSets.length>1">
           <label for="mds">{{'SEARCH.METADATASET' | translate}}</label>
           <div>
             <i class="material-icons">settings</i>
             <select id="mds" [(ngModel)]="mdsId" (change)="updateMds()">
               <option *ngFor="let set of mdsSets" [value]="set.id">{{set.name}}</option>
             </select>
             <div class="info">{{'SEARCH.METADATASET_INFO' | translate}}</div>
           </div>
         </div>
       </div>
     </div>
     <div *ngIf="sidenavTab==1">
       <div class="switch">
         <label>
           <input type="checkbox" [(ngModel)]="savedSearchOwn" (change)="loadSavedSearch()">
           {{ 'SEARCH.SAVED_SEARCH_ONLY_OWN' | translate}}
           <span class="lever"></span>

         </label>
       </div>
       <form *ngIf="!savedSearchOwn" (ngSubmit)="setSavedSearchQuery(savedSearchQueryModel)">
         <input type="search" name="savedSearchQuery" [(ngModel)]="savedSearchQueryModel" placeholder="{{'SEARCH.SAVED_SEARCH_QUERY' | translate}}">
       </form>
       <div class="empty" *ngIf="!savedSearch.length && !savedSearchLoading && !savedSearchQuery">
         {{'SEARCH.NO_SAVED_SEARCH' | translate}}
       </div>
       <div class="empty" *ngIf="!savedSearch.length && !savedSearchLoading && savedSearchQuery">
         {{'SEARCH.NO_SAVED_SEARCH_FOUND' | translate}}
       </div>
       <div class="savedSearch">
        <listTable
          [hasHeading]="false"
          [selectOnClick]="false"
          [isClickable]="true"
          [nodes]="savedSearch"
          [hasIcon]="true"
          [viewType]="0"
          [options]="savedSearchOptions"
          [isLoading]="savedSearchLoading"
          [selectedNodes]="currentSavedSearch ? [currentSavedSearch] : null"
          [columns]="savedSearchColumns"
          (clickRow)="loadSavedSearchNode($event)"
        ></listTable>
         <div class="manageSavedSearch" *ngIf="savedSearch.length && savedSearchOwn">
           <a (click)="goToSaveSearchWorkspace()" class="clickable">{{'SEARCH.MANAGE_SAVED_SEARCH' | translate}}</a>
         </div>
       </div>
     </div>
     <!--
      <label id="keywordlabel" class="a11y_hidden_label">{{'SEARCH.KEYWORD' | translate}}</label>
      <autocomplete id="keyword" inputMinLength="2" placeholder="{{'SEARCH.KEYWORD' | translate}}" [suggestions]="autocompleteSuggestions.keyword" [chosen]="searchService.autocompleteData.keyword" (updateInput)="getAutocompleteSuggestions($event)" (addItem)="addAutocompleteValue($event)" (removeItem)="removeAutoCompleteValue($event)" [attr.labelled-by]="keywordlabel"></autocomplete>

      <label id="taxonidlabel" class="a11y_hidden_label">{{'SEARCH.SUBJECTS' | translate}}</label>
      <autocomplete id="taxonid" inputMinLength="1" placeholder="{{'SEARCH.SUBJECTS' | translate}}" [suggestions]="autocompleteSuggestions.taxonid" [chosen]="searchService.autocompleteData.taxonid" (updateInput)="getAutocompleteSuggestions($event)" (addItem)="addAutocompleteValue($event)" (removeItem)="removeAutoCompleteValue($event)" [attr.labelled-by]="taxonidlabel"></autocomplete>

      <label id="lrsLabel" class="a11y_hidden_label">{{'SEARCH.RESSOURCETYPE' | translate}}</label>
    <autocomplete id="educationallearningresourcetype" inputMinLength="1" placeholder="{{'SEARCH.RESSOURCETYPE' | translate}}" [suggestions]="autocompleteSuggestions.educationallearningresourcetype" [chosen]="searchService.autocompleteData.educationallearningresourcetype" (updateInput)="getAutocompleteSuggestions($event)" (addItem)="addAutocompleteValue($event)" (removeItem)="removeAutoCompleteValue($event)" [attr.labelled-by]="lrsLabel"></autocomplete>

    <label id="contextlabel" class="a11y_hidden_label">{{'SEARCH.CONTEXT' | translate}}</label>
      <autocomplete id="educationalcontext" inputMinLength="1" placeholder="{{'SEARCH.CONTEXT' | translate}}" [suggestions]="autocompleteSuggestions.educationalcontext" [chosen]="searchService.autocompleteData.educationalcontext" (updateInput)="getAutocompleteSuggestions($event)" (addItem)="addAutocompleteValue($event)" (removeItem)="removeAutoCompleteValue($event)" [attr.labelled-by]="contextlabel"></autocomplete>
-->
   <!-- <div style="text-align: right">
       <a class="btn" tabindex="0" id="filterSubmit" title="{{'SEARCH.APPLY_FILTER' | translate}}" (click)="getSearch(null, true)">{{'SEARCH.APPLY' | translate}}</a>
   </div> -->
<!--
<div id="facettes">
    <div *ngFor="let facette of searchService.facettes">
      <span *ngIf="facette.values" class="chosenfilters_heading">{{'SEARCH.FREQUENTKEYWORDS' | translate}}</span>
        <div *ngFor="let fac of facette.values" role="button" title="{{'SEARCH.FILTER' | translate}} {{'SEARCH.KEYWORD' | translate}}. {{'VALUE' | translate}} {{fac.value}}." tabindex="0" class="chip facette"
        (keyup.enter)="addAutocompleteValue({id: 'keyword', item: {title: fac.value, id: fac.value}}, true)"
        (click)="addAutocompleteValue({id: 'keyword', item: {title: fac.value, id: fac.value}})">{{fac.value}} ({{fac.count}})</div>
    </div>
</div>
-->

   </div>
    <div class="content-with-footer">
        <div class="content_wrapper" [class.content_wrapper_grouped]="currentRepository=='-all-' && groupResults" [class.contentSidenav]="searchService.sidenavOpened">
            <div class="results alignWithBanner" [class.no-mainnav]="!mainnav" [class.resultsNoRepositories]="!repositories || repositories.length<=2" vocab="http://schema.org/" typeof="WebPage">
                <div *ngIf="!searchService.reurl && searchService.searchResultCollections.length>0 && !addToCollection">
                    <div class="collectionsHeading">
                        <div class="heading">{{ 'SEARCH.COLLECTIONS' | translate}} ({{searchService.resultCount.collections}})<a *ngIf="hasMoreCollections" class="toggle clickable" (click)="collectionsMore=!collectionsMore">{{(collectionsMore ? 'HIDE_MORE' : 'SHOW_MORE') | translate}}</a></div>
                    </div>
                    <div class="collections" [class.collectionsMore]="collectionsMore" id="collections">
                        <listTable
                                class="collections"
                                [nodes]="searchService.searchResultCollections"
                                [columns]="searchService.collectionsColumns"
                                [hasIcon]="true"
                                [dragDrop]="false"
                                [hasCheckbox]="false"
                                [hasHeading]="false"
                                [isClickable]="true"
                                [viewType]="2"
                                [scrollWindow]="true"
                                (clickRow)="render($event)"
                                (doubleClickRow)="render($event)"
                                [isLoading]="false"></listTable>
                    </div>
                </div>
                <div *ngIf="!(currentRepository=='-all-' && groupResults && !searchService.showspinner)" class="searchUngrouped">
                    <div class="noResultsMatched" *ngIf="searchService.searchResult.length && searchService.ignored && searchService.ignored.length">
                        <i class="material-icons">search</i>
                        {{'SEARCH.QUERY_NO_RESULT' | translate}}
                    </div>
                    <div class="heading" *ngIf="searchService.searchResult.length">{{ 'SEARCH.MATERIALS' | translate}} <span *ngIf="searchService.resultCount.materials && currentRepository!='-all-'">({{searchService.resultCount.materials}})</span></div>
                    <div class="heading" *ngIf="searchService.searchResult.length && searchService.ignored && searchService.ignored.length">{{ 'SEARCH.IGNORED_PARAMETERS' | translate}}</div>
                    <listTable
                            [nodes]="searchService.searchResult"
                            [columns]="searchService.columns"
                            [hasIcon]="true"
                            [selectedNodes]="selection"
                            [options]="options"
                            [dragDrop]="true"
                            [canDrop]="canDrop"
                            [hasCheckbox]="hasCheckbox"
                            [hasHeading]="false"
                            [isClickable]="true"
                            [viewType]="searchService.viewType"
                            [validatePermissions]="addToCollection ? permissionAddToCollection : null"
                            [hasMore]="!searchService.complete"
                            [applyMode]="applyMode"
                            [scrollWindow]="true"
                            (clickRow)="render($event)"
                            (doubleClickRow)="render($event)"
                            (loadMore)="getMoreResults()"
                            (onSelectionChanged)="updateSelection($event)"
                            [isLoading]="searchService.showspinner"></listTable>

                    <div class="noResults" *ngIf="searchFail && !searchService.showspinner" title="{{'SEARCH.QUERY_NO_RESULT' | translate}}">
                        <i class="material-icons">search</i>
                        {{'SEARCH.QUERY_NO_RESULT' | translate}}
                    </div>
                </div>
                <div class="searchGrouped" *ngIf="currentRepository=='-all-' && groupResults && repositories && !searchService.showspinner">
                    <div *ngFor="let repo of groupedRepositories;let i=index">
                        <div class="heading" *ngIf="searchService.searchResultRepositories[i]"><img [src]="getSourceIcon(repo)"><span>{{ repo.title }}</span></div>
                        <a class="more clickable" *ngIf="searchService.searchResultRepositories[i]" (click)="setRepository(repo.id)">{{'SHOW_MORE' | translate}}</a>
                        <div class="noResults" *ngIf="searchService.searchResultRepositories[i] && !searchService.searchResultRepositories[i].length && !searchService.showspinner" title="{{'SEARCH.QUERY_NO_RESULT' | translate}}">{{'SEARCH.QUERY_NO_RESULT' | translate}}.</div>
                        <listTable [class.list]="view==0" *ngIf="searchService.searchResultRepositories[i] && searchService.searchResultRepositories[i].length"
                                   [nodes]="searchService.searchResultRepositories[i]"
                                   [columns]="searchService.columns"
                                   [hasIcon]="true"
                                   [options]="options"
                                   [dragDrop]="false"
                                   [hasCheckbox]="false"
                                   [hasHeading]="false"
                                   [isClickable]="true"
                                   [viewType]="view"
                                   [hasMore]="false"
                                   [applyMode]="applyMode"
                                   [scrollWindow]="true"
                                   (clickRow)="render($event)"
                                   (doubleClickRow)="render($event)"
                                   (onSelectionChanged)="updateSelection($event)"
                                   [isLoading]="searchService.showspinner"></listTable>
                    </div>
                </div>
            </div>
        </div>
        <app-footer [scope]="'search'" class="alignWithBanner"></app-footer>
    </div>
</div>
</div>
<workspace-management #managementDialogs
  [(nodeReport)]="nodeReport"
  [(nodeVariant)]="nodeVariant"
  [(addToCollection)]="addNodesToCollection"
  [(addNodesStream)]="addNodesStream"
></workspace-management>
<div *ngIf="showMoreRepositories" class="dialog moreRepositories" (click)="showMoreRepositories=false">
  <div class="collection" [class.no-mainnav]="!mainnav">
    <a class="collection-item"
       *ngFor="let repo of repositories.slice(3)"
       [class.active]="currentRepository==repo.id"
       tabindex="0"
       (keyup.enter)="setRepository(repo.id);showMoreRepositories=false"
       (click)="setRepository(repo.id);showMoreRepositories=false">
      <img [src]="getSourceIcon(repo)"><span class="repositoryTitle">{{ repo.title }}</span>
    </a>
  </div>
</div>
<search-save-search *ngIf="saveSearchDialog"
  [searchQuery]="searchService.searchTerm"
  [name]="currentSavedSearch ? currentSavedSearch.title : null"
  (onClose)="closeSaveSearchDialog()"
  (onSave)="saveSearch($event)"
></search-save-search>
<modal-dialog
  [title]="dialogTitle"
  [message]="dialogMessage"
  [buttons]="dialogButtons"
  [isCancelable]="true"
  (onCancel)="dialogTitle=null"
></modal-dialog>
<global-progress *ngIf="globalProgress"></global-progress>