@import '../../core-ui-module/styles/variables';

$repoTabBarHeight: 48px;
$toolbarHeight: 65px;

$sidenavWidth: 300px;
$sidenavTopBaseOffset: $repoTabBarHeight + $toolbarHeight;
.switchToCollections {
    font-weight: bold;
    flex-grow: 1;
}
.extendedSearch {
    text-transform: uppercase;
    padding-top: 3px;
    flex-grow: 1;
}
.repository {
    width: calc(100% - 10px);
    margin: 3px;
}
.moreRepositories {
    z-index: 15;
    .collection {
        position: absolute;
        right: 20px;
        top: $mainnavHeight;
        width: calc(25% - 20px);
        text-transform: uppercase;
        &.no-mainnav {
            top: 0;
        }
    }
}
.repositoryList {
    padding: 15px $cardPadding 0 $cardPadding;
    > label {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
}
.rowRepositories {
    position: fixed;
    top: $mainnavHeight;
    width: 100%;
    z-index: 13;
    > div {
        width: 100%;
        margin-bottom: 0;
        ul {
            border-bottom: none;
        }
    }
}
.rowRepositories.no-mainnav {
    top: 0;
}
.sidenav .row {
    margin: 0 -30px;
    margin-top: 0;
}
.repositoryActive {
    background: $workspaceTreeSelectedBackgroundEffect;
    background-color: $itemSelectedBackground;
}
.collectionsHeading .toggle {
    text-transform: uppercase;
    padding: 0 10px;
}
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $textLight;
    // padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 5px;
    width: 100%;
    h2 {
        font-size: 120%;
        margin: 1rem 0;
        flex-grow: 1;
    }
    .sort-by {
        border: unset;
        background: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 70px;
        .sorting-info {
            padding: 0 10px;
            display: flex;
            align-items: center;
            color: $primary;
            text-transform: uppercase;

            .material-icons {
                padding-left: 5px;
                font-size: 18px;
            }
        }
    }
    > div {
        display: inline-flex;
        > span {
            padding-left: 3px;
        }
        > i {
            font-size: 20px;
            padding-left: 5px;
        }
    }
}
.collections {
    margin-bottom: 25px;
}
.switchToCollections a,
.switchToSearch a {
    padding: 5px;
}

es-sort-dropdown {
    position: absolute;
    right: 250px;
}
.extendedSearch {
    button {
        margin-left: -16px;
    }
    .mobile {
        display: none !important;
    }
}

.did-you-mean-suggestion {
    padding: 0 20px;
    .did-you-mean-suggestion-link ::ng-deep em {
        font-style: normal;
        font-weight: bold;
    }
}

.noResults,
.noResultsMatched {
    color: $noResultsColor;
    text-align: center;
    padding-top: 30px;
    font-size: 120%;
    i {
        font-size: 60px;
        width: 100%;
    }
}
.noResultsMatched {
    padding-bottom: 70px;
}

#main_view_selector_wrapper {
    margin: auto;
    display: inline-block;
    height: 100%;
}

.main_view_selector {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding: 25px;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

.main_view_selector.active {
    font-weight: 600;
    border-bottom: 5px solid #f90;
    color: rgba(255, 255, 255, 1);
}

.content-with-footer {
    position: absolute;
    top: 0;
    width: 100%;
    .content_wrapper {
        /* transition: all $transitionNormal; */
        text-align: center;
        margin: 0 10px;
        min-height: 100%;
        width: calc(100% - 20px);
    }
    .contentSidenav {
        margin-left: $sidenavWidth + 10px;
        width: calc(100% - 20px - #{$sidenavWidth});
    }
}

md-sidenav-container,
.sidenav,
#top {
    background-color: $backgroundColor;
}

#facettes {
    margin-top: 50px;
    margin-bottom: 50px;
}

a,
a:hover,
a:visited,
a:active,
button {
    color: $primary;
    i,
    span {
        vertical-align: middle;
    }
}

.infobutton {
    background-color: #fff;
}

.pointed {
    cursor: pointer;
}

.viewtoggler {
    font-size: 30px;
    color: #6a6a6a;
}

#toolbar {
    color: #fff;
    display: flex;
    width: 100%;
    display: flex;
    background: $primary;
    justify-content: space-between;
}

#searchTerm {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background-color: #5f5f5f;
    border: 0;
    color: #fff;
    border-radius: 2px;
    font-size: 100%;
    padding: 10px;
    margin: 20px 0;
}

#searchTerm::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
}
#searchTerm:-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
#searchTerm::-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
#searchTerm:-ms-input-placeholder {
    color: #fff;
    opacity: 0.5;
}

#searchTerm:read-only {
    background-color: #595959;
    color: #999;
}

#searchTerm:focus {
    border: none;
    box-shadow: none;
}

.fill-remaining-space {
    text-align: center;
    flex: 1 1 auto;
    margin: 0;
}

.nowrap {
    white-space: nowrap;
}

#apptitle {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 2%;
}

#portalinfobutton {
    margin-right: 10px;
}

.top {
    position: fixed;
    // On mobile, the underlying `div` of this container gets hidden by `MainNav` via
    // `.mobile-move-top`, however, this container remains invisibly on its usual position. This
    // inhibits mouse clicks on content below the invisible container. To fix this, we disable
    // pointer events on this container and explicitly enable them again on the underlying `div`
    // using `pointer-events: auto`.
    pointer-events: none;
    top: $mainnavHeight + 48px;
    z-index: 12;
    width: 100%;
    &.no-mainnav {
        top: 48px;
    }
    es-actionbar {
        margin-right: -5px;
    }
    > div {
        pointer-events: auto; // See above.
        height: $secondaryBarHeight;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 0 25px;
        @include materialShadow();
    }
}
es-small-collection {
    position: absolute;
    top: 0;
    left: $sidenavWidth;
    width: calc(100% - #{$sidenavWidth});
}
.topNoRepositories {
    top: $mainnavHeight;
    &.no-mainnav {
        top: 0;
    }
}
.mdsSelect {
    float: left;
    width: 100%;
    > div {
        width: 100%;
        padding: 10px 15px;
        margin-top: 20px;
        background-color: #fff;
        > div {
            display: table;
            width: 100%;
            .material-icons,
            select {
                display: table-cell;
            }
            .material-icons {
                color: $textLight;
                font-size: 16px;
                vertical-align: top;
                padding-top: 13px;
                padding-right: 10px;
            }
        }
        .info {
            padding-top: 3px;
            font-size: 80%;
            color: $textLight;
        }
    }
}
.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: $sidenavWidth;
    top: $mainnavHeight + $sidenavTopBaseOffset;
    height: calc(100% - #{$mainnavHeight} - #{$sidenavTopBaseOffset});
    transition: $transitionNormal all ease;
    @include iosScrolling();
    &.no-mainnav {
        top: $sidenavTopBaseOffset;
        height: calc(100% - #{$sidenavTopBaseOffset});
    }
    .mat-tab-group {
        min-height: 0;
        flex-grow: 1;
        & ::ng-deep .mat-tab-body-wrapper {
            flex-grow: 1;
        }
    }
}
.sidenavHidden {
    transform: translateX(-100%);
    display: none;
}
.sidenavNoRepositories {
    top: $mainnavHeight + $toolbarHeight;
    // This brakes when the site has a custom header, that adds to the page height.
    height: calc(100% - #{$mainnavHeight} - #{$toolbarHeight});
    &.no-mainnav {
        top: $toolbarHeight;
        height: calc(100% - #{$toolbarHeight});
    }
}
#sub {
    padding-top: 20px;
}

.results {
    margin-top: $mainnavHeight + 130px;
    padding-bottom: 20px;
    text-align: left;
    min-height: 1000px;
    display: inline-block;
    width: 100%;
    &.no-mainnav {
        margin-top: 130px;
    }
}
.resultsNoRepositories {
    margin-top: $mainnavHeight + 85px;
    &.no-mainnav {
        margin-top: 85px;
    }
}

.a11y-hidden-label {
    display: none;
}

.filter_label {
    display: block;
    margin-bottom: 5px;
    color: #999;
}

.a11y_hidden_label {
    display: none;
}

#search_type {
    display: flex;
    line-height: 36px;
    font-size: 14px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 30px;
    width: 200px; /*needed for IE*/
}

#search_type div {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    background-color: #fff;
    padding: 0 16px;
}

#search_type div.active {
    background-color: $primary;
    color: #fff;
}

#search_type div:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#search_type div:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#filterSubmit {
    background-color: #1a7388;
    color: #fff;
    margin-top: 30px;
}

#chosenfilters {
    text-align: left;
    margin-left: 8px;
    width: 100%;
    float: left;
}
.chosenfilters_heading {
    display: block;
    color: #666;
    margin: 10px 0;
    clear: both;
}

es-node-entries-wrapper {
    display: block;
    padding: 0 20px;
}

.chip.facette {
    padding-right: 7px;
    margin-left: 4px;
    margin-right: 0;
    display: inline-block;
    color: #000;
    font-weight: 400;
    height: inherit;
    cursor: pointer;
}
.tabsRepositories,
.moreRepositories {
    img {
        height: 20px;
        position: relative;
        top: 5px;
        padding-right: 5px;
        opacity: 0.75;
        transition: $transitionNormal all;
    }
    .active img {
        opacity: 1;
    }
    .s4 {
        width: 30.333%;
    }
    .s1 {
        min-width: 50px;
    }
}
.content_wrapper_grouped {
    margin-right: 0;
}
.searchGrouped {
    > div {
        float: left;
        width: 100%;
    }
    es-listTable,
    .noResults {
        width: calc(100% + #{$cardWidth + 60px});
        float: left;
        overflow: hidden;
        height: $cardHeight + 15px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    listTable.list {
        width: calc(100% - 10px);
        height: $listItemHeight * 5;
    }
    .noResults {
        width: 100%;
        height: auto;
    }
    .heading {
        float: left;
        margin-top: 5px;
        img {
            padding-right: 5px;
            max-height: 16px;
        }
        span {
            position: relative;
            top: -3px;
        }
    }
    .more {
        float: right;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 20px;
    }
}
.sidenav-container {
    es-mds-editor-wrapper {
        display: block;
        margin-top: 15px;
    }
    .apply {
        background-color: $backgroundColor;
        display: flex;
        justify-content: flex-end;
        padding: 20px 8px;
    }
}
.sidenav {
    & ::ng-deep .mat-tab-labels {
        .mat-tab-label {
            flex-grow: 1;
            min-width: unset;
        }
    }
    .tab-label {
        display: flex;
        align-items: center;
        i {
            font-size: 20px;
            margin-right: 3px;
        }
    }
    .empty {
        margin-top: 20px;
        text-align: center;
        color: $textLight;
        width: 100%;
    }
    .savedSearch {
        display: flex;
        flex-direction: column;
        listtable {
            flex-grow: 1;
        }
        .manageSavedSearch {
            display: flex;
            justify-content: center;
        }
    }
    form {
        padding: 10px 20px;
        input[type='search'] {
            margin-bottom: 0;
        }
    }
    .manageSavedSearch {
        text-transform: uppercase;
    }
    listtable {
        width: 100%;
    }
    .saved-search-toggle {
        text-align: right;
        margin: 10px 4px;
    }
}
div.dialog.darken {
    z-index: 1040;
}
:host ::ng-deep {
    .sidenav .list > div {
        margin-bottom: 20px;
    }
    .sidenav-container es-actionbar {
        .action-always-caption {
            display: inline-block !important;
        }
        .moreOpen {
            left: 0px;
            top: -56px;
            width: 220px;
        }
    }
    es-mds {
        .mdsEmbeddedGroup {
            float: left;
            width: 100%;
            padding: 0 20px 20px;
            /* margin-bottom: 40px; */
        }
    }
    es-mds-editor-embedded {
        es-mds-editor-core {
            --mds-editor-horizontal-padding: 20px;
        }
    }
}
.rowFrame,
.searchUngrouped listtable {
    background-color: #fff !important;
}
@media all and (max-width: $mobileWidth) {
    .switchToCollections {
        display: none;
    }
    .content_wrapper {
        width: 100%;
    }
}
@media all and (max-width: $mobileWidth - $mobileStage*3) {
    .extendedSearch {
        span {
            display: none;
        }
        .mobile {
            display: inline-block;
        }
    }
}
@media (pointer: coarse) {
    :host ::ng-deep .collections {
        .list {
            width: max-content;
        }
    }
    .collections {
        overflow-x: auto;
        @include iosScrolling();
    }
}
@media all and (max-width: $mobileWidth) {
    .contentSidenav {
        width: calc(100% - 20px) !important;
        margin-left: 10px !important;
    }
}
@media all and (max-width: $mobileWidth+$mobileStage*1) {
    :host ::ng-deep .collections {
        .list {
            width: max-content;
        }
    }
    es-small-collection {
        left: 0;
        width: 100%;
    }
    .tabsRepositories,
    .moreRepositories {
        .repositoryTitle {
            display: none;
        }
    }
    .moreRepositories .collection-item {
        text-align: center;
    }

    .content_wrapper {
        margin: 0;
    }
    #results {
        width: 100%;
    }

    #chosenfilters {
        margin-left: 20px;
    }

    #apptitle {
        display: none;
    }
}
@media print {
    .sidenav,
    .top {
        display: none;
    }
    .rowRepositories {
        position: absolute;
    }
    .contentSidenav {
        margin-left: 0;
    }
}

@media all and (max-width: $mobileTabSwitchWidth) {
    .results {
        margin-bottom: $mobileTabNavHeight;
    }
    .sidenav {
        height: calc(100% - #{$mainnavHeight} - #{$mobileTabNavHeight} - 105px);
    }
    .sidenavNoRepositories {
        height: calc(100% - #{$mainnavHeight} - #{$mobileTabNavHeight} - 65px - 70px);
    }
    .sidenav-container .apply {
        bottom: $mobileTabNavHeight;
    }
}
