@import '../../../../core-ui-module/styles/variables';

:host {
    @media (min-width: $mobileWidth) {
        width: 1200px;
        max-width: 100%;
        height: 500px;
        .content-container {
            display: flex;
            height: 100%;
        }
    }
}

.preview-container {
    flex-grow: 1;
    // Center using grid and `margin: auto` to avoid cropped content on overflow. See
    // https://bhch.github.io/posts/2021/04/centring-flex-items-and-allowing-overflow-scroll/.
    display: grid;
    overflow: auto;
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.48);
    // From https://freebiesupply.com/blog/css-background-patterns/
    $deepColor: rgba(0, 0, 0, 0.2);
    $cubeSize: 25px;
    background-color: whitesmoke;
    background-image: linear-gradient(
            45deg,
            $deepColor 25%,
            transparent 25%,
            transparent 75%,
            $deepColor 75%,
            $deepColor
        ),
        linear-gradient(
            45deg,
            $deepColor 25%,
            transparent 25%,
            transparent 75%,
            $deepColor 75%,
            $deepColor
        );
    background-size: ($cubeSize * 2) ($cubeSize * 2);
    background-position: 0 0, $cubeSize $cubeSize;
}

.preview {
    margin: auto;
    line-height: 0;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.48);
}

.preferences-container {
    flex-shrink: 0;
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    // width: 350px;
    overflow: auto;
}

.not-public-warning-message {
    margin-top: 0;
}

.preferences-form {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.size-fields-container {
    display: flex;
    gap: 10px;
}

.size-field {
    flex-grow: 1;
    & ::ng-deep .mat-form-field-infix {
        width: unset;
    }
}

.version-radio-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.4375em; // Same as mat form field
    > mat-radio-button {
        height: 2.75em;
    }
}

.embed-code-field {
    font-family: monospace;
}
