<div class="dialog darken" [@fade]="this"></div>
  <div class="card center-card card-action card-high" [@cardAnimation]="this">
    <div class="card-content">
      <div tabindex="0" class="card-cancel" (click)="cancel()" (keyup.enter)="cancel()"><i icon iconId="close" aria="true"></i></div>
      <div class="card-title">{{'NODE_COMMENTS.TITLE' | translate }}</div>

        <div *ngIf="_node" class="group">
          <div class="comments" [class.commentsLong]="!canComment()" *ngIf="comments">
            <div *ngIf="comments && !comments.length" class="noComments">{{'NODE_COMMENTS.NO_COMMENTS' | translate}}</div>
            <div *ngFor="let comment of comments;let i=index" class="comment">
              <div class="top">
              <div class="left">
                <user-avatar
                  [link]="true"
                  [size]="'small'"
                  [user]="comment.creator"
                ></user-avatar>
              </div>
              <div class="right">
                <div class="creator">
                  <div class="name">{{comment.creator | authorityName}}</div>
                  <div class="date">{{comment.created | formatDate}}</div>
                </div>
                <div class="commentText" *ngIf="comment!=editComment">{{comment.comment}}</div>
                <div class="commentTextEdit" *ngIf="comment==editComment">
                  <form (ngSubmit)="saveEditComment()">
                    <textarea name="comment" class="materialize-textarea" placeholder="{{'NODE_COMMENTS.NEW_COMMENT_PLACEHOLDER' | translate}}" [(ngModel)]="editCommentText"></textarea>
                    <div class="icons">
                      <i tabindex="0" class="material-icons clickable" (click)="editComment=null" (keyup.enter)="editComment=null">close</i>
                      <i tabindex="0" class="material-icons clickable" (click)="saveEditComment()" (keyup.enter)="saveEditComment()">save</i>
                    </div>
                  </form>
                </div>
              </div>
              </div>
              <div *ngIf="!readOnly" class="actions" [class.actionsAvailable]="(options[i] && options[i].length)">
                <actionbar
                  [numberOfAlwaysVisibleOptions]="1"
                  [options]="options[i]"
                  [style]="'flat'"
                ></actionbar>
              </div>
            </div>
          </div>
          <div class="new" *ngIf="canComment()">
            <div class="left">
              <user-avatar
                [size]="'small'"
                [user]="user"
              ></user-avatar>
            </div>
            <div class="right">
              <form (ngSubmit)="addComment()">
                <textarea name="addComment" class="materialize-textarea" placeholder="{{'NODE_COMMENTS.NEW_COMMENT_PLACEHOLDER' | translate}}" [(ngModel)]="newComment"></textarea>
                <i tabindex="0" class="material-icons send-icon" (click)="addComment()" (keyup.enter)="addComment()">send</i>
              </form>
            </div>
          </div>
        </div>
      </div>

    <!--<div class="card-action">
      <a class="btn" (click)="cancel()">{{'CLOSE' | translate }}</a>
    </div>-->
  </div>
<modal-dialog [priority]="1"
              [title]="dialogTitle"
              [message]="dialogMessage"
              [buttons]="dialogButtons"
              [isCancelable]="true"
              (onCancel)="dialogTitle=null"
></modal-dialog>
