<div class="header-container">
  <label *ngIf="label" [id]="labelId">{{ label }}</label>
  <div class="spacer"></div>
  <!-- A small changes notice mainly for debugging purposes, but could also be used in the product
  -->
  <!-- <span *ngIf="widget?.getHasChanged()" class="changes-notice">{{
    'MDS.HAS_CHANGES' | translate
  }}</span> -->
  <mat-slide-toggle *ngIf="shouldShowBulkEditToggle()" (change)="onBulkEditToggleChange($event)">{{
    'MDS.BULK_EDIT' | translate
  }}</mat-slide-toggle>
</div>

<ng-container *ngIf="!wrapInFormField">
  <ng-container *ngTemplateOutlet="content"></ng-container>
  <p
    *ngIf="widget?.definition.bottomCaption && !shouldShowError()"
    class="mat-hint subscript"
    [id]="descriptionId"
  >
    {{ widget.definition.bottomCaption }}
  </p>
  <p
    *ngIf="shouldShowError()"
    class="mat-error subscript"
    [class.warn]="missingRequired === RequiredMode.MandatoryForPublish"
  >
    <ng-container *ngTemplateOutlet="error"></ng-container>
  </p>
</ng-container>

<mat-form-field
  appRegisterFormField
  *ngIf="wrapInFormField"
  [floatLabel]="widget.definition.placeholder ? 'always' : 'auto'"
  class="widget-form-field-{{widget.definition.id.replace(':','-')}}"
  [class.warn]="missingRequired === RequiredMode.MandatoryForPublish"
>
  <mat-label [id]="labelId">
    {{ widget.definition.caption }}
    <span *ngIf="widget.definition.isRequired === RequiredMode.Mandatory" class="required-marker">*</span>
  </mat-label>
  <ng-container *ngTemplateOutlet="content"></ng-container>
  <mat-hint *ngIf="widget.definition.bottomCaption">
    {{ widget.definition.bottomCaption }}
  </mat-hint>
  <mat-error [hidden]="!control.errors?.required">
    <ng-container *ngTemplateOutlet="error"></ng-container>
  </mat-error>
</mat-form-field>

<ng-template #content><ng-content></ng-content></ng-template>

<ng-template #error>
  <ng-container *ngIf="missingRequired === RequiredMode.Mandatory">
    {{ 'MDS.REQUIRED_MESSAGE' | translate }}
  </ng-container>
  <ng-container *ngIf="missingRequired === RequiredMode.MandatoryForPublish">
    {{ 'MDS.REQUIRED_FOR_PUBLISH_MESSAGE' | translate }}
  </ng-container>
</ng-template>
