@import '../../../../../core-ui-module/styles/variables';

mat-form-field {
    width: 100%;
}

:host .mat-form-field.mat-form-field-invalid.warn ::ng-deep {
    .mat-form-field-label,
    .mat-form-field-outline,
    .mat-error {
        color: $colorStatusWarning;
    }
    .mat-input-element {
        caret-color: $colorStatusWarning;
    }
}

.header-container {
    display: flex;
    .spacer {
        flex-grow: 1;
    }
    label {
        font-weight: 700;
    }
    .bulk-mode-radio-group {
        mat-radio-button:not(:last-of-type) {
            margin-right: 20px;
        }
    }
}

.body-container {
    margin-bottom: 2em;
    .mat-form-field {
        scroll-margin-top: 50px;
    }
}
