@import "../../../core-ui-module/styles/variables";

.password{
  position: relative;
  .strength{
    position: absolute !important;
    top: -22px;
    right: -20px;
    //font-weight: bold;
    text-transform: uppercase;
    font-size: 90%;
    margin-right: 0.75em;
  }
  .eye{
    //background: white;
    color: $textLight;
    cursor: pointer;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
  }
  .password-strength{
    &.weak{
      color: $warning;
    }
    &.accept{
      color: #FF9800;
    }
    &.medium{
      color: $primary;
    }
    &.strong{
      color: #37a574;
    }
  }
  /*
  .password-input{
    &.weak{
      border-color: $warning;
    }
    &.accept{
      border-color: #FF9800;
    }
    &.medium{
      border-color: $primary;
    }
    &.strong{
      border-color: #37a574;
    }
  }
  */
}
.middle{
  border-color: #FF9800;
}