<div class="password">
  <div *ngIf="displayStrength && value" class="strength">
    <span class='password-strength {{passwordStrength}}'>{{'REGISTER.PW_'+passwordStrength | translate}}</span>
  </div>
  <input autocomplete="off" #input type="{{input_type}}" [autocomplete]="autocomplete" [class]="inputClass+' password-input '+((displayStrength && value) ? passwordStrength : null)" [id]="id" [required]="required" [placeholder]="placeholder" (ngModelChange)="ngModelChange.emit($event)" (change)="change.emit($event)" (keyup)="keyup.emit($event)" (keydown)="keydown.emit($event)" [(ngModel)]="value">
  <i (click)="showPassword()" [class.eye-active]="input_type == 'text'"  class="material-icons eye">{{input_type === 'text' ? 'visibility_off':'visibility'}}</i>
  <div *ngIf="hint" class="input-hint-bottom">{{'REGISTER.HINT' | translate}}</div>
</div>