<ng-template #bottomBarContent>
  <div
    *ngIf="!data.collections && !this.path$.value.length && !this.canSelectHome"
    class="no-permissions"
  >
    {{ 'WORKSPACE.FILE_CHOOSER.HOME_FOLDER_NO_PERMISSIONS' | translate }}
  </div>
  <div *ngIf="!folderIsWritable()" class="no-permissions">
    {{ 'WORKSPACE.FILE_CHOOSER.NO_WRITE_PERMISSIONS' | translate }}
  </div>
</ng-template>

<mat-tab-group
  *ngIf="tabs; else tabContent"
  mat-stretch-tabs
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab *ngFor="let tab of tabs">
    <ng-template mat-tab-label>
      <i [esIcon]="tab.homeIcon" class="tab-icon"></i>
      <span class="tab-label">{{ tab.label | translate }}</span>
    </ng-template>
    <ng-container *ngTemplateOutlet="tabContent; context: tab"></ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #tabContent let-homeIcon="homeIcon" let-label="label">
  <div class="tab-content">
    <es-breadcrumbs
      class="breadcrumbFrame"
      *ngIf="!searchMode"
      [createLink]="false"
      (onClick)="selectBreadcrumb($event)"
      [home]="homeOverride ? homeOverride.label : (label | translate)"
      [homeIcon]="homeOverride ? homeOverride.icon : homeIcon"
    ></es-breadcrumbs>
    <div *ngIf="searchMode" class="searchInputFrame">
      <form (ngSubmit)="search()" autocomplete="off">
        <mat-form-field floatLabel="always">
          <mat-label></mat-label>
          <i esIcon="search" matPrefix></i>
          <input
            matInput
            type="search"
            name="search"
            placeholder="{{ 'NODE_SEARCH' | translate }}"
            [(ngModel)]="searchQuery"
          />
        </mat-form-field>
      </form>
    </div>

    <es-node-entries-wrapper
      class="fileChooserList"
      [dataSource]="list"
      [columns]="columns"
      [configureColumns]="true"
      [displayType]="displayType"
      [checkbox]="false"
      [sort]="sort"
      [elementInteractionType]="InteractionType.Emitter"
      (columnsChange)="checkColumnState($event)"
      (sortChange)="setSorting($event)"
      (clickItem)="selectItem($event.element)"
      (fetchData)="loadMore()"
      esInfiniteScroll
      [scrollWindow]="false"
      (scrolled)="loadMore()"
    >
      <ng-template #empty>
        <h5 class="noElements" *ngIf="!searchMode">
          {{ 'NO_MORE_ELEMENTS' | translate }}
        </h5>
        <h5 class="noElements" *ngIf="searchMode">
          {{ 'NO_MATCHES' | translate }}
        </h5>
      </ng-template>
    </es-node-entries-wrapper>
  </div>
</ng-template>
