<ng-template #bottomBarContent>
  @if (!data.collections && !path$.value.length && !canSelectHome) {
  <div class="no-permissions">
    {{ 'WORKSPACE.FILE_CHOOSER.HOME_FOLDER_NO_PERMISSIONS' | translate }}
  </div>
  } @if (!folderIsWritable()) {
  <div class="no-permissions">
    {{ 'WORKSPACE.FILE_CHOOSER.NO_WRITE_PERMISSIONS' | translate }}
  </div>
  }
</ng-template>

@if (tabs) {
<mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)">
  @for (tab of tabs; track tab) {
  <mat-tab>
    <ng-template mat-tab-label>
      <i [esIcon]="tab.homeIcon" class="tab-icon"></i>
      <span class="tab-label">{{ tab.label | translate }}</span>
    </ng-template>
    <ng-container *ngTemplateOutlet="tabContent; context: tab"></ng-container>
  </mat-tab>
  }
</mat-tab-group>
} @else {
<ng-container *ngTemplateOutlet="tabContent"></ng-container>
}

<ng-template #tabContent let-homeIcon="homeIcon" let-label="label">
  <div class="tab-content">
    @if (!searchMode) {
    <es-breadcrumbs
      class="breadcrumbFrame"
      [createLink]="false"
      [showLanding]="false"
      (clickBreadcrumb)="selectBreadcrumb($event)"
      [home]="homeOverride ? homeOverride.label : (label | translate)"
      [homeIcon]="homeOverride ? homeOverride.icon : homeIcon"
    ></es-breadcrumbs>
    } @if (searchMode) {
    <div class="searchInputFrame">
      <form (ngSubmit)="search()" autocomplete="off">
        <mat-form-field floatLabel="always">
          <mat-label></mat-label>
          <i esIcon="search" matPrefix></i>
          <input
            matInput
            type="search"
            name="search"
            placeholder="{{ 'NODE_SEARCH' | translate }}"
            [(ngModel)]="searchQuery"
          />
        </mat-form-field>
      </form>
    </div>
    }

    <es-node-entries-wrapper
      class="fileChooserList"
      [dataSource]="list"
      [columns]="columns"
      [configureColumns]="true"
      [displayType]="displayType"
      [checkbox]="false"
      [sort]="sort"
      [elementInteractionType]="InteractionType.Emitter"
      (columnsChange)="checkColumnState($event)"
      (sortChange)="setSorting($event)"
      (clickItem)="selectItem($event.element)"
      (fetchData)="loadMore()"
      esInfiniteScroll
      [scrollWindow]="false"
      (scrolled)="loadMore()"
    >
      <ng-template #empty>
        @if (!searchMode) {
        <h5 class="noElements">
          {{ 'NO_MORE_ELEMENTS' | translate }}
        </h5>
        } @if (searchMode) {
        <h5 class="noElements">
          {{ 'NO_MATCHES' | translate }}
        </h5>
        }
      </ng-template>
    </es-node-entries-wrapper>
  </div>
</ng-template>
