@import "../../../../styles/variables.scss";


.preview{
  width:100%;
  font-size:90%;
  color:$textLight;
  text-align: center;
}
.preview div{
  width:100%;
  text-align: left;
}
.preview img{
  width:50%;
}
md-input,
.keywords{
  width:100%;
}
.keywords{
  padding-bottom:10px;
  float:left;
}
.comment{
  margin-top:10px;
}
.authorFirst{
  width:48%;
  float: left;
}
.authorLast{
  width:48%;
  float: right;
}
.version{
  width:100%;
}
.version .btn-flat{
  float:left;
  margin-left:1px;
  margin-bottom:2px;
}
.version label{
  left: 20px;
  top: 9px;
}
