<div class="pdf-editor">
  @if (isSaving()) {
  <div class="save">
    <es-spinner></es-spinner>
  </div>
  }
  <div class="pdf-form">
    <h2>
      {{ 'PDF_EDITOR.HEADING' | translate : { suffix: !!renderNodeId ? ':' : '' } }}
      @if (!!renderNodeId) {
      <mat-checkbox [(ngModel)]="editMode" (ngModelChange)="triggerReload()">
        {{ 'PDF_EDITOR.EDIT_MODE' | translate }}
      </mat-checkbox>
      }
    </h2>
    <div class="form-content">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ 'ID' | translate }}</mat-label>
        <input
          matInput
          name="nodeId"
          type="text"
          placeholder="20130ce3-b641-42d7-930c-e3b641a2d7c6"
          [(ngModel)]="nodeId"
          autofocus
        />
      </mat-form-field>
      <div class="node-buttons">
        @if (!isLoading()) {
        <button
          mat-flat-button
          color="primary"
          (click)="updateNodeId(nodeId)"
          [matTooltip]="'PDF_EDITOR.SAVE_ID' | translate"
        >
          <i esIcon="refresh"></i>
        </button>
        } @else {
        <es-spinner-small></es-spinner-small>
        }
        <div class="separator-line"></div>
        @if (!isLoading()) {
        <button
          mat-flat-button
          color="primary"
          (click)="openReurlLink()"
          [matTooltip]="'PDF_EDITOR.OPEN_SEARCH' | translate"
        >
          <i esIcon="open_in_new"></i>
        </button>
        } @else {
        <es-spinner-small></es-spinner-small>
        }
      </div>
      @if (renderNodeId && hasChanges()) {
      <div class="change-node">
        <button mat-flat-button color="primary" (click)="saveChanges(nodeId)">
          <i esIcon="save"></i>
          {{ 'PDF_EDITOR.SAVE_CHANGES' | translate }}
        </button>
      </div>
      }
    </div>
  </div>

  <!-- button options can be found here: https://pdfviewer.net/extended-pdf-viewer/hiding-buttons -->
  @if (initialized()) {
  <ngx-extended-pdf-viewer
    [(src)]="renderNodeId"
    [height]="'auto'"
    [language]="language"
    [textLayer]="true"
    [showHandToolButton]="true"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showPropertiesButton]="false"
    [showRotateButton]="false"
    [showScrollingButtons]="false"
    [showSpreadButton]="false"
    [showDrawEditor]="editMode"
    [showHighlightEditor]="editMode"
    [showStampEditor]="editMode"
    [showTextEditor]="editMode"
    [zoom]="'page-fit'"
    (annotationEditorEvent)="changeAnnotation()"
  ></ngx-extended-pdf-viewer>
  }
</div>
