<form role="search" autocomplete="off" (ngSubmit)="onSubmit()">
  <!-- #trigger="cdkOverlayOrigin" -->
  <div
    class="search-field-wrapper"
    cdkOverlayOrigin
    cdkMonitorSubtreeFocus
    [class.input-has-focus]="inputHasFocus"
    esBorderBoxObserver
    #triggerBorderBox="borderBoxObserver"
  >
    <mat-form-field class="search-field" appearance="legacy" floatLabel="always">
      <mat-label></mat-label>
      <div class="search-field-input-wrapper">
        <div matPrefix
             class="filter-prefix"
             matTooltip="{{'SEARCH.ACTIVE_FILTER_TOOLTIP' | translate:{count: filtersCount} }}"
             *ngIf="filtersCount">
          {{filtersCount}}
        </div>
        <input
          class="search-input"
          #input
          name="search"
          type="search"
          matInput
          [formControl]="inputControl"
          autocomplete="off"
          placeholder="{{ placeholder | translate }}"
          [attr.aria-label]="placeholder | translate"
          (focus)="onInputFocus()"
          (blur)="onInputBlur($event)"
          (keydown.tab)="focusOverlayIfOpen($event)"
          (keydown.enter)="onSubmit()"
        />
        <button
          class="clear-button"
          *ngIf="inputControl.value"
          mat-icon-button
          type="button"
          (click)="onClear()"
          attr.aria-label="{{'SEARCH_CLEAR' | translate}}"
        >
          <i esIcon="clear" [aria]="false"></i>
        </button>
        <button
          class="submit-button"
          mat-icon-button
          attr.aria-label="{{ 'WORKSPACE.SEARCH_ACTION' | translate }}"
        >
          <i esIcon="search" [aria]="false"></i>
        </button>
      </div>
    </mat-form-field>
  </div>
</form>



<!-- <ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showOverlay && (!!filtersCount || hasSuggestions)"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayWidth]="triggerBorderBox.width$ | async"
  (overlayOutsideClick)="onOutsideClick($event)"
  (detach)="onDetach()"
>
  <!-- FIXME: The focus trap doesn't seem to work, when there are suggestions for only one facet
  category. ->
  <div class="suggestion-card mat-elevation-z2" cdkTrapFocus>
    <div *ngIf="filtersCount"
         class="suggestion-active-filter"
         [class.suggestion-active-filter-separator]="!facets.isEmpty()"
    >
      <label #label>{{'SEARCH.ACTIVE_FILTER' | translate:{count:filtersCount} }}</label>
      <mat-chip-list [attr.aria-labelledby]="label" #chipList>
        <div class="chips-wrapper" *ngIf="filters$ | async as filtersDict">
          <ng-container *ngFor="let filters of filtersDict | keyvalue">
            <!-- We considered injecting the chip list from the mds editor like the suggestions
            panel, but `mat-chip-list` needs direct access to `mat-chip`s as child components for
            keyboard interaction to work. ->
            <ng-container *ngIf="(categories$ | async)?.includes(filters.key)">
              <mat-chip
                *ngFor="let filterValue of filters.value"
                class="filter-chip-{{ filters.key | propertySlug }}"
                [removable]="true"
                (removed)="onRemoveFilter(filters.key, filterValue)"
              >
                {{ filterValue.label }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </ng-container>
          </ng-container>
        </div>
      </mat-chip-list>
    </div>
    <ng-container *ngTemplateOutlet="facets.suggestionsPanel"></ng-container>
  </div>
</ng-template>

<!-- We need to have `SearchFieldFacets` permanently injected, so we can get the `categories`
parameter that tells us which facets to request for suggestions. When there are any suggestions, we
show the suggestion panel via template outlet. ->
<es-search-field-facets
  #facets
  [repository]="(mdsInfo$ | async)?.repository"
  [metadataSet]="(mdsInfo$ | async)?.metadataSet"
  group="search_input"
  [values]="rawFilters$ | async"
  (valuesChange)="onValuesChange($event)"
  [suggestions]="suggestions$ | async"
  (categories)="onCategories($event)"
></es-search-field-facets> -->
