@import '../../../core-ui-module/styles/variables';

@mixin suggestionCardHeading {
    font-size: $fontSizeSmall;
    color: $textLight;
}

:host {
    position: relative;
    display: block;
}

:host mat-form-field.search-field ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-infix {
        padding: 0;
        border: none;
        width: auto;
        min-width: auto;
    }
}

mat-form-field {
    width: 100%;
    color: $workspaceTopBarInputText;
}

.search-field-wrapper {
    width: 100%;
    display: flex;
    background: $workspaceTopBarInputBackground;
    border-radius: 2px;
    &.input-has-focus {
        border-radius: 0;
        &:not(.cdk-keyboard-focused) {
            @include setGlobalFocus();
        }
        &.cdk-keyboard-focused {
            transition: none;
            @include setGlobalKeyboardFocus();
        }
    }
}

.filters-button {
    margin-right: 6px;
    margin-left: -10px;
    &.mat-badge ::ng-deep .mat-badge-content {
        right: -3px;
        top: -3px;
    }
}

.suggestion-active-filter {
    &.suggestion-active-filter-separator {
        padding-bottom: 8px;
        border-bottom: 1px solid $cardSeparatorLineColor;
        margin-bottom: 8px;
    }
    > label {
        display: flex;
        @include suggestionCardHeading;
        margin-bottom: 5px;
    }
    .chips-wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .mat-chip.mat-standard-chip {
            word-break: break-word;

            @each $property, $color in $chip-colors {
                &.filter-chip-#{$property} {
                    background-color: $color;
                }
            }
            .mat-chip-remove {
                color: inherit;
                opacity: 0.4;
            }
        }
    }
}

.search-field-input-wrapper {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    min-width: 100px;
    padding-left: 16px;
}

.search-input {
    -webkit-appearance: none; // Fix white background on Safari
    width: unset;
    min-width: 0;
    flex: 1 0 0;
    &::placeholder {
        color: mix($workspaceTopBarInputText, $workspaceTopBarInputBackground, 75%);
    }
}

.submit-button {
    height: 48px;
    width: 48px;
    border-radius: 0 2px 2px 0;
    background-color: mix($workspaceTopBarInputBackground, $workspaceTopBarBackground, 80%);
}

.clear-button {
    color: rgba($workspaceTopBarInputText, 0.8);
    &.cdk-keyboard-focused {
        @include setGlobalKeyboardFocus('border');
    }
    @media all and (max-width: ($mobileWidth - $mobileStage*3)) {
        display: none;
    }
}

.suggestion-card {
    width: 100%;
    background-color: $backgroundColor;
    border-radius: 2px;
    padding: 10px;
}

::ng-deep .cdk-overlay-container .suggestion-card {
    es-mds-editor-widget-container {
        label {
            @include suggestionCardHeading;
        }
    }
}
