@for (entry of entries$ | async; track entry) {
<button
  mat-button
  color="primary"
  class="entry mat-button-no-uppercase"
  [class.selected]="currentScope === entry.scope"
  (click)="entry.open(); entryClicked.emit()"
  [class.collection-item-separate]="entry.isSeparate"
  [class.clickable]="!entry.isDisabled"
  [class.disabled]="entry.isDisabled"
  title="{{ 'GOTO' | translate }} {{ entry.name | translate }}"
>
  @if (entry.icon) {
  <i class="align-icon" [esIcon]="entry.icon"></i>
  }
  <span>{{ entry.name | translate }}</span>
</button>
}
