@if (initialized()) {
<es-mds-editor-widget-preview
  [standalone]="true"
  [standaloneNode]="imageNode()"
  [hostControlled]="true"
  [readonly]="!editMode || !atLeastOneEditOptionSupported()"
  [deletable]="!deleteImageDisabled()"
  [additionalOptions]="aiOptions()"
  [cropPreview]="false"
  (previewChange)="onPreviewChange($event)"
>
  <ng-template #previewPlaceholder>
    <div class="card-image-icon-circle">
      <i esIcon="layers"></i>
    </div>
  </ng-template>
</es-mds-editor-widget-preview>
<!-- displays an AI label, if the image is generated and has not been uploaded by the user -->
@if (imageNode() && aiGeneratedImage() && !userUploadedNodeId() && !imageProcessing()) {
<es-ai-label [imageContainer]="true"></es-ai-label>
}
<!-- displays a spinner while the image is being processed -->
@if (imageProcessing()) {
<div class="image-loading">
  <es-spinner></es-spinner>
</div>
} } @else {
<es-spinner></es-spinner>
}
