<div
  *ngIf="sliderOptions && hasRequiredPermissions"
  class="selection"
  [class.small]="size === 'small'"
>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'VIDEO_CONTROLS.HEADING' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="selectionSlider">
        <ngx-slider
          [(value)]="values.startTime"
          [(highValue)]="values.endTime"
          [options]="sliderOptions"
          (valueChange)="onValueChange($event, 'start')"
          (highValueChange)="onValueChange($event, 'end')"
        ></ngx-slider>
      </div>
      <div>
        <form class="addChapter">
          <div class="time">
            <mat-form-field class="startTime">
              <mat-label>{{ 'START' | translate }}</mat-label>
              <input
                matInput
                type="text"
                name="startTime"
                id="startTime"
                pattern="\d\d:\d\d(:\d\d)?"
                [ngModel]="values.startTime | duration: video.duration"
                (ngModelChange)="
                  values.startTime =
                    ($event.length === 8 || $event.length === 5) &&
                    convertStringToTime($event) !== 0
                      ? convertStringToTime($event)
                      : values.startTime
                "
              />
            </mat-form-field>
          </div>
          <div class="time">
            <mat-form-field class="endTime">
              <mat-label>{{ 'STOP' | translate }}</mat-label>
              <input
                matInput
                type="text"
                name="endTime"
                id="endTime"
                pattern="\d\d:\d\d(:\d\d)?"
                [ngModel]="values.endTime | duration: video.duration"
                (ngModelChange)="
                  values.endTime =
                    ($event.length === 8 || $event.length === 5) &&
                    convertStringToTime($event) !== 0
                      ? convertStringToTime($event)
                      : values.endTime
                "
              />
            </mat-form-field>
          </div>
          <div class="title">
            <mat-form-field>
              <mat-label>{{ 'NODE.cm:title' | translate }}</mat-label>
              <input
                matInput
                type="text"
                name="chapterName"
                id="chapterName"
                [(ngModel)]="values.title"
              />
            </mat-form-field>
          </div>
          <div class="save">
            <button mat-raised-button color="primary" (click)="save()" *ngIf="!isLoading">
              {{ 'SAVE' | translate }}
            </button>
            <es-spinner-small *ngIf="isLoading">{{ 'SAVE' | translate }}</es-spinner-small>
          </div>
        </form>
      </div>
    </ng-template>
  </mat-expansion-panel>
</div>
