@import '../../styles/variables';

// ngx-slider sets `visibility: visible` on some elements. This reintroduces interactive elements to
// the tab order although the parent container sets `visibility: hidden`. We fix this be hiding
// everything inside ngx-slider explicitly as long as the expansion panel is collapsed.
:host
    .mat-expansion-panel:not(.mat-expanded)
    ::ng-deep
    .mat-expansion-panel-content:not(.ng-animating)
    ngx-slider
    * {
    display: none !important;
}

.time {
    .mat-form-field,
    input {
        cursor: pointer;
    }
}

.ngx-slider {
    width: 90%;
}

.selection {
    background: #fff;
    margin-top: -2px;
}

.chapterTitle {
    text-align: left;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    z-index: 5000;
}

.addChapter {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 40px 0 40px;
    .time,
    .title,
    .save {
        margin: 0 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 0;
        > mat-form-field {
            width: 100%;
        }
    }
    .save {
        flex-grow: 1;
        min-width: 100px;
        > * {
            position: relative;
            top: -9px;
        }
    }
    .time {
        flex-grow: 2;
    }
    .title {
        flex-grow: 4;
    }
}

.addChapter input[type='text'] {
    color: $textMain;
    margin-bottom: 0;
}

.addChapter h3 {
    font-size: 100%;
    margin: auto 8px;
}

.selection.small {
    .ngx-slider {
        width: 100%;
    }
    .addChapter {
        margin: 10px 0;
        flex-direction: column;
        > div {
            width: 100%;
        }
        .startTime,
        .endTime {
            display: none;
        }
    }
}
