@use 'sass:map';
@use 'branding' as *;

@forward 'variables-root';
@forward 'branding';

/**
    declarations of static scss variables
 */
$mobileWidth: 700px !default;
$mobileStage: 100px !default;
$mobileTabSwitchWidth: $mobileWidth + $mobileStage * 2 !default;

// row height of the node-entries table
$nodeEntriesTableRowHeight: 58px !default;

// All variables can be overridden in `branding.scss`.
/* replace variables which are may not defined in the branding */
$primaryVeryLight: var(--primaryBackground50) !default;
$primaryMediumDark: var(--primaryBackground700) !default;

$tabColor: var(--primary) !default;
$tabColorDark: var(--primaryBackground700) !default;
$tabColorLight: var(--primaryBackground100) !default;
// @Deprecated: Use the css var(--colorStatusNegative)
$warning: #cd2457 !default;
// @Deprecated: Use the css var(--colorStatusWarning)
$warningMedium: #e98c1b !default;
$toastLeftError: #c15d5d !default;
$toastPrimary: var(--toastBackground) !default;
$textLight: var(--textLight) !default;
$textMediumLight: var(--textMediumLight) !default;
$textVeryLight: var(--textVeryLight) !default;
// prefer using var(--textMain)
$textMain: var(--textMain) !default;
$textRenderingLabels: var(--textRenderingLabels) !default;
$fontSizeXLarge: 120% !default;
$fontSizeLarge: 110% !default;
$fontSizeSmall: 90% !default;
$fontSizeXSmall: var(--fontSizeXSmall) !default;
// page background
$backgroundColor: var(--backgroundColor) !default;
$workspaceSidebarWidth: 300px !default;
$workspaceInheritColor: #42ca8d !default;
$editorialCollectionsBackground: #f5ec19 !default;
$itemSelectedBackground: $primaryVeryLight !default;
$itemSelectedTextColor: $primaryMediumDark !default;
$buttonHoverBackground: var(--buttonHoverBackground) !default;
$workspaceNewBackground: $itemSelectedBackground !default;
// the white bar height in search and es-workspace
$secondaryBarHeight: 65px !default;
$listItemSelectedBackground: var(--primaryBackground50) !default;
$workspaceSelectedBackgroundEffect: linear-gradient(
        to right,
        var(--primary) 0,
        var(--primary) 5px,
        rgba(0, 0, 0, 0) 5px,
        rgba(0, 0, 0, 0) 5px
    )
    no-repeat !default;
$workspaceTreeBackground: var(--workspaceTreeBackground) !default;
$dialogRightWidth: 320px !default;
$workspaceTreeSelectedBackground: var(--workspaceTreeSelectedBackground) !default;
$workspaceTreeWidth: 300px !default;
$workspaceBreadcrumbsHeight: $secondaryBarHeight !default;
$workspaceTreeSelectedBackgroundEffect: linear-gradient(
    to right,
    var(--primary) 0,
    var(--primary) 5px,
    rgba(0, 0, 0, 0) 5px,
    rgba(0, 0, 0, 0) 5px
) !default;
$workspaceMetadataBackground: var(--workspaceMetadataBackground) !default;
$buttonBorderRadius: 2px !default;
$contextMenuWidth: 240px !default;
$tableIconSize: 38px !default;
$actionDialogBackground: var(--actionDialogBackground) !default;
$cardLightBackground: var(--cardLightBackground) !default;
$searchInputBorderColor: var(--searchInputBorderColor) !default;
$cardSeparatorLineColor: var(--cardSeparatorLineColor) !default;
$chipsSeperatorLineColor: var(--chipsSeperatorLineColor) !default;
$inputBorderColor: var(--inputBorderColor) !default;
$commentsActionsSeperatorLineColor: $backgroundColor !default;
$noResultsColor: var(--noResultsColor) !default;
// prefer using var(--colorStatusPositive)
$colorStatusPositive: #40bf8e !default;
// prefer using var(--colorStatusNegative)
$colorStatusNegative: #cd2457 !default;
// prefer using var(--colorStatusWarning)
$colorStatusWarning: var(--colorStatusWarning) !default;
$colorStatusRecommended: #acd331 !default;
$colorStatusNeutral: #777 !default;
$colorStarActive: var(--colorStarActive) !default;
$placeholderColor: var(--placeholderColor) !default;
$cardWidth: var(--cardWidth) !default;
$cardHeight: 300px !default;
$listItemHeight: 70px !default;
$listCardSmallHeight: 100px !default;
$listHeadingHeight: 36px !default;
$cardPadding: 25px !default;
$transitionNormal: var(--transitionNormal) !default;
$mobileHeight: 750px !default;
$mobileHeightWithKeyboard: 550px !default;
$mobileHeightLandscape: 400px !default;
$mobileWidthPortrait: 400px !default;
// this factor should be multiplied by a natural number, e.g. *3 means stage 3 (relatively early)
$dialogZIndex: 130 !default;
// before the top bar on mobile, but behind the mobile tabs and the top bar on desktop
$dialogNonModalZIndex: 90 !default; // before the top bar on mobile, but behind the mobile tabs and the top bar on desktop
$topBarZIndex: 98 !default;
$topBarMobileZIndex: 80 !default;
$workspaceTopBarInputBackground: var(--workspaceTopBarInputBackground) !default;
$workspaceTopBarInputText: $textMain !default;
$mobileTabsZIndex: 110 !default;
$mobileTabNavHeight: 62px !default;
$primaryFontFamily: 'open_sansregular', Arial, Sans-Serif !default;
$primaryFontSize: 10pt !default;

$default-chip-colors: (
    'cclom_general_keyword': rgb(166, 214, 208),
    'ccm_educationalcontext': rgb(214, 166, 166),
    'ccm_educationallearningresourcetype': rgb(214, 193, 166),
    'ccm_objecttype': rgb(166, 192, 214),
    'ccm_taxonid': rgb(166, 214, 174),
    'ccm_educationalintendedenduserrole': rgb(211, 214, 166),
);
$custom-chip-colors: () !default;
$chip-colors: map.merge($default-chip-colors, $custom-chip-colors);

@forward 'mixins';
