@if (history) { @if (!history.length) {
<div class="no-history">
  {{ 'WORKSPACE.WORKFLOW.NO_HISTORY' | translate }}
</div>
} @if (history.length) {
<div class="history">
  @for (entry of history; track entry; let i = $index; let last = $last) {
  <div>
    <div class="user">{{ entry.editor | authorityName }}</div>
    <div class="date">{{ entry.time | formatDate : { time: true, relative: true } }}</div>
    <div class="box">
      <div class="row origin">
        <div class="receivers">
          <label>{{ 'WORKSPACE.WORKFLOW.RECEIVERS' | translate }}</label>
          @if ( i === history.length - 1 || !getWorkflowForId(history[i + 1].status).hasReceiver ) {
          <mat-chip-set>
            <mat-chip>
              {{ 'WORKSPACE.WORKFLOW.NOBODY' | translate }}
            </mat-chip>
          </mat-chip-set>
          } @if ( !(i === history.length - 1 || !getWorkflowForId(history[i +
          1].status).hasReceiver) ) {
          <mat-chip-set>
            @for (receiver of history[i + 1].receiver; track receiver) {
            <mat-chip class="badge">
              <i
                matChipAvatar
                [esIcon]="receiver.authorityType === 'USER' ? 'person' : 'group'"
              ></i>
              <div class="mat-chip-group">
                <span class="primary">{{ receiver | authorityName }}</span>
                <span class="secondary">{{
                  receiver | permissionName : { field: 'secondary' }
                }}</span>
              </div>
            </mat-chip>
            }
          </mat-chip-set>
          }
        </div>
        @if (i < history.length - 1) {
        <div class="status">
          <label>{{ 'WORKSPACE.WORKFLOW.OLD_STATUS' | translate }}</label>
          <div
            class="workflowStatus"
            [style.background-color]="getWorkflowForId(history[i + 1].status).color"
          >
            {{ 'WORKFLOW.' + history[i + 1].status | translate }}
          </div>
        </div>
        } @if (i === history.length - 1) {
        <div class="status">
          <label>{{ 'WORKSPACE.WORKFLOW.OLD_STATUS' | translate }}</label>
          <div class="workflowStatus" [style.background-color]="defaultStatus.color">
            {{ 'WORKFLOW.' + defaultStatus.id | translate }}
          </div>
        </div>
        }
      </div>
      <div class="row arrow">
        <i esIcon="keyboard_arrow_right"></i>
      </div>
      <div class="row target">
        <div class="receivers">
          <label>{{ 'WORKSPACE.WORKFLOW.RECEIVERS_NEXT' | translate }}</label>
          @if (!getWorkflowForId(history[i].status).hasReceiver) {
          <mat-chip-set>
            <mat-chip>
              {{ 'WORKSPACE.WORKFLOW.NOBODY' | translate }}
            </mat-chip>
          </mat-chip-set>
          } @if (getWorkflowForId(history[i].status).hasReceiver && entry.receiver?.length) {
          <mat-chip-set>
            @for (receiver of entry.receiver; track receiver) {
            <mat-chip class="badge">
              <i
                matChipAvatar
                [esIcon]="receiver.authorityType === 'USER' ? 'person' : 'group'"
              ></i>
              <div class="mat-chip-group">
                <span class="primary">{{ receiver | authorityName }}</span>
                <span class="secondary">{{
                  receiver | permissionName : { field: 'secondary' }
                }}</span>
              </div>
            </mat-chip>
            }
          </mat-chip-set>
          }
        </div>
        <div class="status">
          <label>{{ 'WORKSPACE.WORKFLOW.NEW_STATUS' | translate }}</label>
          <div
            class="workflowStatus"
            [style.background-color]="getWorkflowForId(entry.status).color"
          >
            {{ 'WORKFLOW.' + entry.status | translate }}
          </div>
        </div>
      </div>
    </div>
    @if (entry.comment) {
    <div class="comment">
      <label>{{ 'WORKSPACE.WORKFLOW.COMMENT' | translate }}</label>
      <div>{{ entry.comment }}</div>
    </div>
    } @if (!last) {
    <hr />
    }
  </div>
  }
</div>
} }
