@import '../../../../../core-ui-module/styles/variables';

$backgroundColor: rgba($colorStatusPositive, 0.5);

mat-chip-grid mat-chip-row {
    background-color: $backgroundColor !important;
    cursor: pointer;
    display: inline-flex;
    .mat-icon {
        height: 16px;
        width: 16px;
        font-size: 16px;
    }
    .wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        .caption {
            @include limitLineLength(200px);
        }

        .count {
            color: $textLight;
            font-size: $fontSizeXSmall;
        }
    }
}
