<es-mds-editor-widget-container
  #container
  *ngIf="filteredSuggestions$ | async"
  [widget]="widget"
  [label]="true"
  [wrapInGroup]="false"
>
  <mat-chip-grid
    #chipList
    [attr.aria-labelledby]="container.labelId"
    [attr.aria-describedby]="container.descriptionId"
  >
    <mat-chip-row
      *ngFor="let value of filteredSuggestions$ | async"
      (click)="add(value)"
      (keydown.enter)="add(value)"
      [matTooltip]="'MDS.FILTER_FOR' | translate : { value: value.label, count: value.count }"
    >
      <div class="wrapper">
        <mat-icon>add</mat-icon>
        <span class="caption">{{ value.label }}</span>
        <span class="count">({{ value.count }})</span>
      </div>
    </mat-chip-row>
  </mat-chip-grid>
</es-mds-editor-widget-container>
