<es-node-entries-wrapper
  #list
  [columns]="columns"
  [checkbox]="true"
  [displayType]="NodeEntriesDisplayType.Table"
  [scope]="Scope.WorkspaceList"
  [elementInteractionType]="InteractionType.Emitter"
  [sort]="sort"
  [dataSource]="dataSource"
  (sortChange)="updateSort($event)"
  (clickItem)="click($event)"
  (fetchData)="refresh($event)"
>
  <ng-template #empty>
    @if (!!searchQuery) {
    <h3 class="empty mat-heading-3">
      {{ 'RECYCLE.NO_RESULTS_MESSAGE' | translate }}
    </h3>
    } @if (!searchQuery) {
    <h3 class="empty mat-heading-3">
      @if ((dataSource.connectPagination() | async).total === 0) {
      {{ 'RECYCLE.ARCHIVE_EMPTY' | translate }}
      } @if ((dataSource.connectPagination() | async).total !== 0) {
      {{ 'RECYCLE.ARCHIVE_REORDERING' | translate }}
      }
    </h3>
    }
  </ng-template>
</es-node-entries-wrapper>

<ng-template #confirmDeleteDialog>
  <p>{{ 'RECYCLE.DELETE.CONFIRM_MESSAGE' | translate }}</p>
  <form>
    <div class="checkbox">
      <mat-checkbox name="skipDeleteConfirmation" [(ngModel)]="skipDeleteConfirmation">{{
        'RECYCLE.DELETE.NOT_ASK_AGAIN' | translate
      }}</mat-checkbox>
    </div>
  </form>
</ng-template>

<ng-template #restoreDialog let-restoreResult>
  @if (restoreResult.hasDuplicateNames) {
  <div>
    <p>{{ 'RECYCLE.RESTORE.LIST_DUPLICATE_NAMES' | translate }}</p>
    @for (result of restoreResult.results; track result) {
    <div>
      @if (result.restoreStatus === 'DUPLICATENAME') {
      <div>
        {{ result.name }} <span class="restore-message">({{ result.message }})</span>
      </div>
      }
    </div>
    }
  </div>
  } @if (restoreResult.hasParentFolderMissing) {
  <div>
    @if (restoreResult.hasDuplicateNames) {
    <hr />
    }
    <p>{{ 'RECYCLE.RESTORE.LIST_PARENT_FOLDER_MISSING' | translate }}</p>
    @for (result of restoreResult.results; track result) {
    <div>
      @if ( result.restoreStatus === 'FALLBACK_PARENT_NOT_EXISTS' || result.restoreStatus ===
      'FALLBACK_PARENT_NO_PERMISSION' ) {
      <div>
        {{ result.name }} <span class="restore-message">({{ result.message }})</span>
      </div>
      }
    </div>
    }
  </div>
  }
</ng-template>
