<h4>{{'REGISTER.RESET.REST_INFO' | translate}}</h4>
<br>
<div>
    <div *ngIf="new_password" class="strength">
        <span class='{{password_strength}}'>{{'REGISTER.PW_'+password_strength | translate}}</span>
    </div>
    <label for="password_new">{{'USER.password' | translate}}</label>
    <input-password [hint]="true" [inputClass]="password_strength == 'strong' || password_strength == 'medium' ? 'valid' : password_strength == 'accept' ? 'middle' : password_strength == 'weak' ? 'invalid' : null" id="password_new" required="true" (keyup)="checkPassword()" (keydown.enter)="newPassword()" [(value)]="new_password" placeholder="{{'REGISTER.PL_PASSWORD' | translate}}"></input-password>
</div>