@import "../../../../styles/variables.scss";
h4{
  text-align: center;
  white-space: pre-line;
}

div{
    position: relative;
}

.input-hint-bottom{
  margin-bottom: 15px;
}

.strength{
  position: absolute !important;
  top: 0;
  right: 0;
  //font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
  margin-right: 0.75em;
}
.weak{
  color: $warning;
}
.accept{
  color: #FF9800;
}
.medium{
  color: $primary;
}
.strong{
  color: #37a574;
}