@import "../../../core-ui-module/styles/variables";
.reset-info{
  margin-bottom: 20px;
  text-align: center;
}
:host /deep/{
  mat-form-field{
    width: 100%;
  }
}
img{
  width: auto;
  height: 130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h5{
  text-align: center;
  //white-space: pre-line;
  margin-bottom: 20px;
}

div{
    position: relative;
}
.strength{
  position: absolute !important;
  top: 0;
  right: 0;
  //font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
  margin-right: 0.75em;
}