@import '../../../../core-ui-module/styles/variables';
@import '../../../../shared/components/card/variables';

.authorities {
    &:not(:last-child):after {
        content: ', ';
    }
}
.parent-authorities {
    font-style: italic;
    padding: 5px 10px;
}
mat-button-toggle-group {
    overflow: visible;
}
.toggle-org {
    display: flex;
    flex-wrap: wrap;
    .button-toggle-org {
        width: 50%;
        border-top: solid 1px rgba(0, 0, 0, 0.12);
    }
    @for $i from 1 to 4 {
        .button-toggle-org:nth-child(0n + #{$i}) {
            width: 33%;
            border-top: none;
        }
    }
    ::ng-deep {
        .mat-button-toggle-label-content {
            white-space: pre-line;
            line-height: 1.5em;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.toggles {
    display: flex;
    flex-direction: column;
    .tiles {
        display: flex;
        flex-wrap: wrap;
    }
    .info {
        font-size: $fontSizeSmall;
    }
    .field-group {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    label {
        padding-bottom: 7px;
        font-weight: bold;
    }
}
@media screen and (max-width: (map-get($widths,'normal'))) {
    .tiles {
        justify-content: center;
    }
}
