@import "../../../core-ui-module/styles/variables";

.block{
  display: flex;
  flex-direction: column;
  .top{
    display: flex;
    align-items: center;
    >h3{
      flex-grow: 1;
    }
  }
  app-simple-edit-invite{
    margin-top: 10px;
  }
}
