@import '../../../core-ui-module/styles/variables';
@import '../../../core-ui-module/components/card/variables';

.block {
    display: flex;
    flex-direction: column;
    margin: 0 $cardPadding;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    app-simple-edit-metadata{
        margin-top: -15px;
    }
    .top {
        display: flex;
        align-items: center;
        > h3 {
            flex-grow: 1;
            font-size: 125%;
        }
    }
}
