<es-card
  title="{{ 'SIMPLE_EDIT.TITLE' | translate }}"
  [node]="_nodes"
  width="normal"
  height="xxxlarge"
  [buttons]="buttons"
  (onCancel)="cancel()"
>
  <div>
    <div class="block">
      <div class="top">
        <h3 class="mat-heading-3">
          {{ 'SIMPLE_EDIT.METADATA.TITLE' | translate }}
        </h3>
        <div>
          <button
            mat-button
            color="primary"
            (click)="openMetadata()"
            data-test="more-metadata-button"
          >
            <i esIcon="edit"></i> {{ 'SIMPLE_EDIT.METADATA.MORE' | translate }}
          </button>
        </div>
      </div>
      <es-simple-edit-metadata
        #metadata
        [nodes]="_nodes"
        [fromUpload]="fromUpload"
        (onError)="handleError($event)"
      ></es-simple-edit-metadata>
    </div>
    <div class="block">
      <div class="top">
        <h3 class="mat-heading-3">
          {{ 'SIMPLE_EDIT.INVITE.TITLE' | translate }}
        </h3>
        <div>
          <button
            mat-button
            color="primary"
            [disabled]="!tpInvite || !hasPermission('ChangePermissions')"
            (click)="openInvite()"
          >
            <i esIcon="group_add"></i> {{ 'SIMPLE_EDIT.INVITE.MORE' | translate }}
          </button>
        </div>
      </div>
      <es-simple-edit-invite
        #invite
        [nodes]="_nodes"
        [fromUpload]="fromUpload"
        (onError)="handleError($event)"
        (onInitFinished)="updateInitState('invite')"
      ></es-simple-edit-invite>
    </div>
    <div class="block">
      <div class="top">
        <h3 class="mat-heading-3">
          {{ 'SIMPLE_EDIT.LICENSE.TITLE' | translate }}
        </h3>
        <div>
          <button mat-button color="primary" [disabled]="!tpLicense" (click)="openLicense()">
            <i esIcon="copyright"></i> {{ 'SIMPLE_EDIT.LICENSE.MORE' | translate }}
          </button>
        </div>
      </div>
      <es-simple-edit-license
        #license
        [nodes]="_nodes"
        [fromUpload]="fromUpload"
        (onError)="handleError($event)"
        (onInitFinished)="updateInitState('license')"
      ></es-simple-edit-license>
    </div>
  </div>
</es-card>
