@import "../../../core-ui-module/styles/variables";
.frontpage {
  width: 100%;
  max-width: 1150px;
  .save{
    justify-content: flex-end;
  }
  .group {
    display: flex;
    margin: 50px 10%;
    &.queries{
      margin:90px 12%;
    }
    .monaco-editor{
      display: flex;
      flex-direction: column;
    }
    > * {
      display: flex;
      flex-grow: 1;
      padding: 0 10px;
    }
    > .mode-collection{
      flex-direction: column;
      >button{
        margin-top: 20px;
      }
    }
    >.condition{
      flex-direction: column;
      button{
        margin-top: 30px;
      }
    }
    &.preview {
      margin: 20px 20px 10px 20px;
    }
  }

  .preview-heading .reload {
    text-align: right;
    flex-grow: 1;
  }
}
:host /deep/{
  .group .mat-form-field-wrapper{
    width: 100%;
  }
  h5.preview-error{
    display: flex;
    justify-content: center;
  }
  h5.preview-hint{
    padding:10px 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li{
      list-style: square;
    }
  }
}
