@import '../../../../core-ui-module/styles/variables';

.report {
    margin-bottom: 20px;
    mat-radio-group {
        display: flex;
        padding-bottom: 10px;
        flex-direction: column;
        > mat-radio-button {
            height: 2.75em;
        }
    }
}

mat-form-field {
    width: 100%;
}

h2 {
    margin: 0 0 20px 0;
    font-size: 110%;
    font-weight: bold;
    color: $textLight;
}
