<form #formElement (ngSubmit)="report()" [formGroup]="form">
  <h2>{{ data.mode + '.REPORT_INFO' | translate : { name: (data.node | nodeTitle) } }}</h2>
  <div class="report">
    @if (data.showOptions) {
    <mat-radio-group
      formControlName="reason"
      name="reason"
      [attr.aria-label]="'NODE_REPORT.REASON' | translate"
    >
      @for (reason of reasons; track reason) {
      <mat-radio-button
        [value]="reason"
        [aria-describedby]="shouldShowError('reason') ? 'node-report-reason-error' : null"
        >{{ 'NODE_REPORT.REASONS.' + reason | translate }}</mat-radio-button
      >
      }
    </mat-radio-group>
    } @if (shouldShowError('reason')) {
    <mat-error id="node-report-reason-error">
      {{ data.mode + '.REASON_REQUIRED' | translate }}
    </mat-error>
    }
  </div>
  <mat-form-field floatLabel="always" class="comment">
    <mat-label>{{ data.mode + '.COMMENT' | translate }}</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="5"
      name="comment"
      formControlName="comment"
      placeholder="{{ data.mode + '.COMMENT_PLACEHOLDER' | translate }}"
      autofocus
    ></textarea>
    @if (shouldShowError('comment')) {
    <mat-error id="node-report-comment-error">
      {{ data.mode + '.COMMENT_REQUIRED' | translate }}
    </mat-error>
    }
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>{{ data.mode + '.EMAIL' | translate }}</mat-label>
    <input
      matInput
      type="email"
      name="reportMail"
      name="email"
      formControlName="email"
      placeholder="{{ data.mode + '.EMAIL_PLACEHOLDER' | translate }}"
    />
    <mat-error>
      {{ data.mode + '.EMAIL_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>
</form>
