@import "../../../core-ui-module/styles/variables";

.debug-content{
  padding: $cardPadding;
}
:host /deep/{
  .breadcrumb{
    flex-wrap: wrap;
    max-height: unset!important;
  }
}
img{
  max-width: 140px;
}
.debug-content div{
  margin:0 5px;
  padding-bottom: 5px;
  >span{
    display:flex;
  }
  >span:first-child{
    font-weight: bold;
  }
  .inherited,.local{
    padding:10px 20px 0 20px;
    .authority{
      font-weight: bold;
    }
    .permissions{
      padding:0 10px;
    }
  }
}
.aspects{
  white-space: pre-line;
}
.children{
  flex-direction: column;
}
.property{
  margin:0 10px;
}
.json{
  white-space: pre;
  font-family: "Lucida Console";
}
