@import "../../../../styles/variables.scss";

.tab{
  background-color: transparent;
}
.tab a{
  color:$textLight;
}
.advancedPermission{
  float:left;
  width:33.33%;
}
.hintNoFuzzy{
  margin-top: -10px;
  margin-bottom: 10px;
  padding:0 10px;
  color:$textLight;
}
.card .row{
  background-color: $actionDialogBackground;
  margin: 0 -20px;
  padding:0 20px;
  margin-top: -20px;
  padding-top:10px;
}
.group{
  width:100%;
  padding:10px 20px;
  position: relative;
}
.groupInvite {
  padding: 10px 30px;
  padding-top: 20px;
  background-color: $actionDialogBackground;
  flex-direction: column;
  .global {
    margin-left: 8px;
  }
}
.searchIcon{
  position: absolute;
  color:$textLight;
  left:37px;
  top:27px;
}
.invited,.advanced{
  padding:0 20px;
}
:host /deep/{
  .edusharing-autocomplete-wrapper{
    margin-bottom: 0!important;
    input{
      padding-left: 40px;
      width: calc(100% - 40px);
      border:1px solid $searchInputBorderColor;
      background-color: #fff;
      border-radius: 2px;
    }
  }
}
h2{
  color:$textLight;
  text-align: center;
  font-size: 120%;
}
.advancedAuthority{
  color: $textLight;
  float:left;
  width:100%;
  font-weight: bold;
  padding: 10px 0;
  i{
    position: relative;
    top: 5px;
    padding-right: 10px;
  }
}
.history{
  padding-right: 20px;
  float:right;
  text-transform: uppercase;
  i{
    font-size: 11pt;
    position: relative;
    top: 3px;
  }
}
a.active{
  color:#000!important;
  background: linear-gradient(to top, $primary 0%,$primary 5px,transparent 5px,transparent 5%)
}
.groupMessage{
  padding:0 20px;
}
.publish{
  margin: 20px -20px;
  padding:20px 20px;
  padding-right:30px;
  background: $backgroundColor;
  float: left;
  width: calc(100% + 40px);
  .publishElements{
    float: left;
    max-width: 495px;
    margin-left: 10px;
  }
  .type{
    color: $textLight;
    float: right;
    padding-right: 20px;
    span{
      position: relative;
      top: -3px;
      left: -5px;
    }
  }
  label{
    color: $textPrimary;
    font-size: 110%;
  }
  .publishInfo{
    margin-left: 76px;
    color:$textLight;
    max-width:400px;
  }
  .doi{
    margin-left: 77px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    span{
      margin-left: 35px;
      margin-right: -100px;
    }
  }
}
.group{
  display:flex;
  width:100%;
  margin-bottom: -25px;
}
.global{
  margin-bottom: 20px;
}
.groupToInvite{
  display:flex;
  margin-top: 35px;
  padding-bottom:45px;
  padding-right: 20px;
  align-items: center;
  .toInvite{
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .typeButton{
    display: flex;
    .material-icons{
    }
    .btn-flat {
      height: 40px;
    }
    .right{
      width:0;
      left:0;
    }
  }
}
.crossed{
  text-decoration: line-through;
}
.groupEntry{
  width:100%;
  display:flex;
  background: #eee;
  width: 100%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 5px;
  margin-bottom: 6px;
  height: 35px;
  align-items: center;
  workspace-share-permission{
    width: 100%;
  }
  border:2px dashed transparent;
}
.added{
  background: transparent;
  border-color:$workspaceInheritColor;
}
.inherit{
  color:$textLight;
  min-height:50px;
}
.inherit .groupEntry{
  border:1px solid $workspaceInheritColor;
  cursor:default;
}
.normal{
  cursor:default;
}
.owner{
  cursor:default;
}
.groupHeading{
  display:flex;
  align-items:baseline;
}
.groupName{
  color:$textLight;
  font-size:90%;
  padding-top:15px;
  padding-bottom:5px;
  float:left;
}
.inheritDisabled,
.inheritEmpty{
  font-size:90%;
  color:$textLight;
  padding:20px 10px;
  font-style: italic;
  width: 100%;
  text-align: center;
  white-space: pre-wrap;
}
img.inherit{
  position: relative;
  top: 4px;
}
.search,.search div input{
  margin-bottom:0;
  width:95%;
}
.row{
  margin:0 -30px;
  margin-bottom: 0;
}
.tabContent{
  padding-top: 20px;
  height: calc(100% - 68px);
  margin:0 -20px;
  overflow: auto;
  overflow-x: hidden;
  @include iosScrolling();
}
.tabContentInvite{
  padding-top: 0;
}
.inheritCheck{
  float:left;
  padding-left: 20px;
}
.manageLink{
  float:left;
  padding-left: 20px;
  text-transform: uppercase;
  position: relative;
  top:14px;
}
.group .btn-flat{
  width:210px;
  min-width:210px;
  float:none;
}
.typeAdd{
  position:absolute;
  right: 20px;
  width: 310px!important;
  top: -60px;
}
label.notify{
  color:$textPrimary;
}
label.notify p{
  color:$textLight;
}

.state{
  font-size: 9pt;
  position: absolute;
  left: 12px;
  i{
    color: $textLight;
    vertical-align: bottom;
    font-size: 14pt;
  }
  .show-state{
    border: 2px dashed transparent;
    border-radius: 15px;
    padding: 6px;
    padding-right: 12px;
    padding-left: 8px;
  }

  .state-changed{
    border-color: $workspaceInheritColor;
    i{
      color: $textLight;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .typeButton .btn-flat{
    min-width: auto;
    width: 76px;
    span {
      display: none;
    }
  }
  .advancedPermission{
    width:50%;
  }
  .publish .doi span{
    margin-right: 0;
  }
  .publish .type{
    display: none;
  }

}
@media screen and (max-width: $mobileWidth - $mobileStage*2) {
  .groupHeading{
    flex-direction:column;
    padding-bottom:5px;
  }
  .inheritCheck{
    padding-left:5px;
  }
  .state{
    left: 10px;
    .show-state > span{
      display: none;
    }

    .state-changed{
      border-color: transparent;
      i{
        color: $workspaceInheritColor;
      }
    }
  }

}