<card title="{{'WORKSPACE.SHARE.TITLE' | translate }}" [subtitle]="_node ? _node.name : null" tabbed="true" width="normal" height="large"
    [buttons]="buttons"
>
      <div class="share-link" tabindex="0" (click)="openLink()" (keyup.enter)="openLink()" *ngIf="!isCollection()"><i icon iconId="link"></i> <span>{{'WORKSPACE.OPTION.SHARE_LINK' | translate}}</span></div>
  <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tab">
      <mat-tab label="{{'WORKSPACE.TAB_INVITE' | translate}}" class="tabContent tabContentInvite">
        <div class="invite-group">
        <div class="group groupInvite">
            <i class="material-icons searchIcon">search</i>
            <authority-search-input
            [globalSearch]="globalSearch"
            (onChooseAuthority)="addSuggestion($event)"
          ></authority-search-input>
          <div class="hintNoFuzzy" *ngIf="globalSearch && !fuzzyAllowed">{{'WORKSPACE.SHARE.NO_FUZZY' | translate}}</div>
          <!-- <ng2-completer [(ngModel)]="searchStr" [clearSelected]="true" (selected)="addAuthority($event)" [dataService]="dataService" [minSearchLength]="2" class="search"></ng2-completer>-->
          <!-- <input type="text" id="inviteName" /> -->


          <div class="global">
            <input type="checkbox" class="filled-in" [(ngModel)]="globalSearch" [disabled]="!globalAllowed" id="global">
            <label for="global">{{'WORKSPACE.SHARE.GLOBAL_SEARCH' | translate}}</label>
          </div>
        </div>

        <div class="group groupToInvite" *ngIf="filterDisabledPermissions(newPermissions).length">
          <div class="toInvite">
            <div class="badge" *ngFor="let permission of filterDisabledPermissions(newPermissions)">
                <div class="badge-group">
                    <span class="primary">{{permission | permissionName}}</span>
                    <span class="secondary">{{permission | permissionName:{field:'secondary'} }}</span>
                </div>
                <i class="material-icons clickable" tabindex="0" (keyup.enter)="removePermission(permission)" (click)="removePermission(permission)">cancel</i>
              </div>

          </div>
          <div class="typeButton" *ngIf="filterDisabledPermissions(newPermissions).length">
            <div class="btn-flat btn-shadow" *ngIf="currentType.length==0" tabindex="0" (keyup.enter)="chooseType()" (click)="chooseType()"><i class="material-icons align-icon">help_outline</i> <span>{{'WORKSPACE.SHARE.TYPE_UNKNOWN' | translate}}</span>
              <i aria-hidden="true" class="material-icons align-icon right">keyboard_arrow_down</i></div>
            <div class="btn-flat btn-shadow" *ngIf="currentType.indexOf('Consumer')>-1" tabindex="0" (keyup.enter)="chooseType()" (click)="chooseType()"><i class="material-icons align-icon">remove_red_eye</i> <span>{{'WORKSPACE.SHARE.TYPE_VIEWER' | translate}}</span>
              <i aria-hidden="true" class="material-icons align-icon right">keyboard_arrow_down</i></div>
            <div class="btn-flat btn-shadow" *ngIf="currentType.indexOf('Collaborator')>-1" tabindex="0" (keyup.enter)="chooseType()" (click)="chooseType()"><i class="material-icons align-icon">edit</i> <span>{{'WORKSPACE.SHARE.TYPE_COWORKER' | translate}}</span>
              <i aria-hidden="true" class="material-icons align-icon right">keyboard_arrow_down</i></div>
            <div class="btn-flat btn-shadow" *ngIf="currentType.indexOf('Coordinator')>-1" tabindex="0" (keyup.enter)="chooseType()" (click)="chooseType()"><i class="material-icons align-icon">work</i> <span>{{'WORKSPACE.SHARE.TYPE_COORDINATOR' | translate}}</span>
              <i aria-hidden="true" class="material-icons align-icon right">keyboard_arrow_down</i></div>
            <!--<div class="share-type-mobile">-->
              <!--<p *ngIf="currentType.length==0">{{'WORKSPACE.SHARE.TYPE_UNKNOWN' | translate}}</p>-->
              <!--<p *ngIf="currentType.indexOf('Consumer')>-1">{{'WORKSPACE.SHARE.TYPE_VIEWER' | translate}}</p>-->
              <!--<p *ngIf="currentType.indexOf('Collaborator')>-1">{{'WORKSPACE.SHARE.TYPE_COWORKER' | translate}}</p>-->
              <!--<p *ngIf="currentType.indexOf('Coordinator')>-1">{{'WORKSPACE.SHARE.TYPE_COORDINATOR' | translate}}</p>-->
            <!--</div>-->
          </div>

            <workspace-share-choose-type *ngIf="showChooseType" class="typeAdd"
             [selected]="currentType"
             [isDirectory]="_node.isDirectory"
             [canPublish]="!isSafe"
             (onCancel)="showChooseType=false"
             (onType)="setType($event)"
            ></workspace-share-choose-type>

        </div>

        <div *ngIf="sendMessages && filterDisabledPermissions(newPermissions).length" class="groupMessage">
          <label for="message">{{'WORKSPACE.SHARE.MESSAGE' | translate}}</label>
          <input type="text" id="message" name="message" [(ngModel)]="notifyMessage" placeholder="{{'WORKSPACE.SHARE.MESSAGE_PLACEHOLDER' | translate}}"/>
        <input type="checkbox" class="filled-in" id="notify" [(ngModel)]="notifyUsers"> <label for="notify" class="notify">{{'WORKSPACE.NOTIFY_TITLE' | translate}}<p>{{'WORKSPACE.NOTIFY_INFO' | translate}}</p></label>
        </div>
        <div [ngClass]="{'publish-grey': filterDisabledPermissions(newPermissions).length}" class="publish" *ngIf="!isSafe">
          <div class="publishElements">
          <div class="switch">
            <label>
              <input type="checkbox" [disabled]="!publishPermission || publishInherit" [(ngModel)]="publishActive" (change)="setPublish(publishActive)">
              <span class="lever"></span>
              {{ ('WORKSPACE.SHARE.PUBLISH_'+(isCollection() ? 'COLLECTION' : _node.isDirectory ? 'DIRECTORY' : 'DOCUMENT')) | translate}}
            </label>
          </div>
          <div *ngIf="!publishPermission && !publishInherit" class="publishInfo">{{ 'WORKSPACE.SHARE.PUBLISH_NO_PERMISSION' | translate}}</div>
          <div>
            <div *ngIf="publishInherit" class="publishInfo">{{ 'WORKSPACE.SHARE.PUBLISH_INHERIT' | translate}}</div>
            <div *ngIf="publishPermission && !publishInherit" class="publishInfo"
                 innerHTML="{{('WORKSPACE.SHARE.PUBLISH_ACTIVE_'+(isCollection() ? 'COLLECTION' : _node.isDirectory ? 'DIRECTORY' : 'DOCUMENT')) | translate}}">
            </div>
            <div *ngIf="allowDOI()" class="doi">
              <input type="checkbox" class="filled-in" [disabled]="doiDisabled" [(ngModel)]="doiActive" id="doi">
              <label for="doi">{{'WORKSPACE.SHARE.DOI' | translate}}</label>
              <span>{{'WORKSPACE.SHARE.DOI_INFO' | translate}}</span>
            </div>
          </div>
          </div>
          <div *ngIf="publishActive" class="type"><i class="material-icons align-icon">remove_red_eye</i> <span>{{'WORKSPACE.SHARE.TYPE_VIEWER' | translate}}</span></div>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="{{'WORKSPACE.TAB_INVITED' | translate}}" class="tabContent">
        <div class="invited">
        <a *ngIf="_node && _node.ref.id" class="history clickable" (click)="showHistory()">{{ 'WORKSPACE.SHARE.SHOW_HISTORY' | translate}}<i class="material-icons">arrow_forward</i></a>
        <div class="groupName" *ngIf="owner">{{'WORKSPACE.SHARE.GROUP_OWNER' | translate}}</div>
        <workspace-share-permission class="groupEntry owner" *ngIf="owner"
          [permission]="owner"
          [isDirectory]="_node.isDirectory"
          [readOnly]="true"
          [showDelete]="false"
        ></workspace-share-permission>
        <div *ngIf="inheritAllowed && !disableInherition">
          <div class="groupHeading">
            <div class="groupName">{{'WORKSPACE.SHARE.GROUP_INHERIT' | translate}}</div>
            <div class="inheritCheck">
              <input type="checkbox" [(ngModel)]="inherited" (change)="updatePublishState()" class="filled-in" id="inherit"> <label for="inherit">{{'WORKSPACE.SHARE.INHERIT' | translate}}
            </label></div>
          </div>
          <div class="inherit" [class.crossed]="!inherited" *ngIf="inherited && inherit && inherit.length">
            <div *ngFor="let permission of inherit" class="groupEntry">
              <workspace-share-permission
                [permission]="permission"
                [isDirectory]="_node.isDirectory"
                [inherit]="true"
                [readOnly]="true"
              ></workspace-share-permission>
            </div>
          </div>
          <div class="inheritDisabled" *ngIf="!inherited">
            {{'WORKSPACE.INHERIT_DISABLED' | translate }}
          </div>
            <div class="inheritDisabled" *ngIf="inherited && inheritAccessDenied">
                {{'WORKSPACE.INHERIT_ACCESS_DENIED' | translate }}
            </div>
          <div class="inheritEmpty" *ngIf="inherited && !inherit.length && !inheritAccessDenied">
            {{'WORKSPACE.INHERIT_EMPTY' | translate }}
          </div>


        </div>
        <div class="groupName" *ngIf="permissionsGroup && permissionsGroup.length">{{'WORKSPACE.SHARE.GROUP_GROUPS' | translate}}</div>
        <div class="normal">
          <div *ngFor="let permission of permissionsGroup"
          >
            <workspace-share-permission class="groupEntry" [class.added]="isNewPermission(permission)"
                                        [permission]="permission"
                                        [readOnly]="!permission.editable && !isNewPermission(permission)"
                                        [showDelete]="permission.editable || isNewPermission(permission)"
                                        [isDeleted]="isDeleted(permission)"
                                        [isDirectory]="_node.isDirectory"
                                        [canPublish]="!isSafe"
                                        [added]="isNewPermission(permission)"
                                        (onRemove)="removePermission(permission)"
                                        (onType)="permission.permissions=$event.permissions;updatePermissionInfo()"
            ></workspace-share-permission>
          </div>
          </div>
        <div class="groupName" *ngIf="permissionsUser && permissionsUser.length">{{'WORKSPACE.SHARE.GROUP_USERS' | translate}}</div>
        <div class="normal">
          <div *ngFor="let permission of permissionsUser"
          >
            <workspace-share-permission class="groupEntry" [class.added]="isNewPermission(permission)"
              [permission]="permission"
              [readOnly]="!permission.editable && !isNewPermission(permission)"
              [showDelete]="permission.editable || isNewPermission(permission)"
              [isDeleted]="isDeleted(permission)"
              [isDirectory]="_node.isDirectory"
              [canPublish]="!isSafe"
              [added]="isNewPermission(permission)"
              (onRemove)="removePermission(permission)"
              (onType)="permission.permissions=$event.permissions;updatePermissionInfo()"
            ></workspace-share-permission>
          </div>
        </div>


        <div class="groupName" *ngIf="showLink && link">{{'WORKSPACE.SHARE.LINK' | translate}}</div>
        <a class="manageLink clickable" (click)="openLink()" *ngIf="showLink && link">{{'WORKSPACE.SHARE.MANAGE_LINK' | translate}}</a>

        <workspace-share-permission *ngIf="showLink && link"
                                    class="groupEntry link"
                                    [permission]="linkEnabled"
                                    [isDirectory]="_node.isDirectory"
                                    [readOnly]="true"
                                    [showDelete]="false"
        ></workspace-share-permission>
          <div class="groupName" *ngIf="hasUsages()">{{'WORKSPACE.SHARE.USAGES' | translate}}</div>
          <div *ngIf="collections && collections.length" class="usage">
              <workspace-share-usages
                      class="usageEntry"
                      [name]="'COLLECTION'"
                      [usages]="collections"
                      [(deleteList)]="deletedUsages"
              ></workspace-share-usages>
          </div>
          <div *ngFor="let key of usages | keys" class="usage">
              <workspace-share-usages *ngIf="key!='null'"
                                          class="usageEntry"
                                          [name]="key"
                                          [usages]="usages[key]"
                                          [(deleteList)]="deletedUsages"
              ></workspace-share-usages>
          </div>


          <!--
          <workspace-share-permission *ngIf="showLink && !link"
                                      class="groupEntry link"
                                      [permission]="linkDisabled"
                                      [readOnly]="true"
                                      [showDelete]="false"
          ></workspace-share-permission>
          -->
        </div>
      </mat-tab>
      <mat-tab label="{{'WORKSPACE.TAB_ADVANCED' | translate}}" *ngIf="isAdmin && permissionsUser && permissionsGroup" class="tabContent">
        <div class="advanced">
        <h2 *ngIf="permissionsUser.length+permissionsGroup.length==0">
          {{'WORKSPACE.SHARE.NO_PERMISSIONS' | translate}}
        </h2>
        <div *ngFor="let permission of permissionsGroup.concat(permissionsUser)">
          <div class="advancedAuthority"><i class="type material-icons">{{permission.authority.authorityType=='USER' ? "person" : "group"}}</i>{{ permission | permissionName }}</div>
          <div *ngFor="let type of ALL_PERMISSIONS" class="advancedPermission">
            <input id="{{permission.authority.authorityName+'_'+type}}"
                   type="checkbox"
                   [checked]="hasImplicitPermission(permission,type)"
                   [disabled]="isImplicitPermission(permission,type)"
                   class="filled-in" (change)="setPermission(permission,type,$event)">
            <label for="{{permission.authority.authorityName+'_'+type}}">{{type}}</label>
          </div>
        </div>
        </div>
      </mat-tab>
  </mat-tab-group>
  <div class="state" *ngIf="initialState">
    <div *ngIf="getState()=='PRIVATE'" [class.state-changed]="isStateModified()" class="show-state"><i icon iconId="lock"></i><span> {{'WORKSPACE.SHARE.STATE.PRIVATE' | translate}}</span></div>
    <div *ngIf="getState()=='SHARED'" [class.state-changed]="isStateModified()" class="show-state"><i icon iconId="group"></i><span> {{'WORKSPACE.SHARE.STATE.SHARED' | translate}}</span></div>
    <div *ngIf="getState()=='PUBLIC'" [class.state-changed]="isStateModified()" class="show-state"><i class="material-icons" style="color: #42CA8D">public</i><span> {{'WORKSPACE.SHARE.STATE.PUBLIC' | translate}}</span></div>
  </div>
</card>
<workspace-share-history
  *ngIf="history"
  [node]="history"
  (onClose)="history=null"
></workspace-share-history>
<workspace-share-link
  *ngIf="linkNode"
  [node]="linkNode"
  (onClose)="updateNodeLink();linkNode=null"
></workspace-share-link>

<div class="dialog darken dialog-collections" [@fade]="showCollections" *ngIf="showCollections"></div>
<div class="card center-card card-action card-high card-collections" [@cardAnimation]="showCollections" *ngIf="showCollections">
  <div class="card-content">
    <div class="card-cancel" (click)="showCollections=false" tabindex="0" (keyup.enter)="showCollections=false"><i icon iconId="close" aria="true"></i></div>
    <span class="card-title">{{'WORKSPACE.SHARE.COLLECTIONS.TITLE' | translate }}</span>
    <listTable
      (clickRow)="openCollection($event.node)"
      [nodes]="collections"
      [isClickable]="true"
      [columns]="collectionColumns"
      [viewType]="2"
    ></listTable>
  </div>
</div>