<modal-dialog
                [title]="dialogTitle"
                [message]="dialogMessage"
                [buttons]="dialogButtons"
                [messageParameters]="dialogParameters"
                [isCancelable]="dialogCancelable"
                (onCancel)="dialogTitle=null"
></modal-dialog>
<modal-loading *ngIf="loadingTitle"
               [title]="loadingTitle"
               [message]="loadingMessage"
></modal-loading>
<div class="topFrame">
  <div class="info">
    <div  *ngIf="_mode!='ORG' && !embedded">
      <div *ngIf="!org">
        {{'PERMISSIONS.INFO_GLOBAL_'+_mode | translate}}
        <br>
        <a class="clickable" (click)="setOrgTab()">{{'PERMISSIONS.CHOOSE_ORG' | translate}}</a>
      </div>
      <div  *ngIf="org">
        {{'PERMISSIONS.INFO_ORG_'+_mode | translate:{org:org.profile.displayName} }}
        <br>
        <span *ngIf="isAdmin">
      <a class="clickable" (click)="deselectOrg()">{{'PERMISSIONS.NO_ORG' | translate}}</a>
      |
      </span>
        <a class="clickable" (click)="setOrgTab()">{{'PERMISSIONS.CHOOSE_ORG' | translate}}</a>
      </div>
    </div>
  </div>
  <actionbar
          [options]="optionsActionbar"
  ></actionbar>
</div>
<toolpermission-manager *ngIf="toolpermissionAuthority"
                        [authority]="toolpermissionAuthority"
                        (onClose)="toolpermissionAuthority=null"
></toolpermission-manager>
<card *ngIf="edit"
      title="{{'PERMISSIONS.'+(editId==null ? 'CREATE' : 'EDIT') + '_' +_mode | translate }}"
      [subtitle]="editId ? edit.authorityName : editDetails.authorityName ? editDetails.authorityName : edit.profile.displayName"
      [buttons]="editButtons"
      height="xlarge"
      (onCancel)="cancelEdit()">
        <div class="card-content-padding card-edit">
          <form (submit)="saveEdits()">
          <div *ngIf="editId" class="editSystemName">
            <label>{{'PERMISSIONS.INTERNAL_NAME' | translate}}</label>
            <div class="infoText">{{edit.authorityName}}</div>
          </div>
          <div *ngIf="_mode=='GROUP'">
            <mat-form-field>
              <mat-label>{{'GROUP.displayName' | translate}}</mat-label>
              <input matInput name="displayName" [(ngModel)]="edit.profile.displayName" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'GROUP.groupEmail' | translate}}</mat-label>
              <input matInput name="groupEmail" [(ngModel)]="edit.profile.groupEmail">
              </mat-form-field>
            <mat-form-field floatLabel="always">
              <mat-label>{{'GROUP.groupType' | translate}}</mat-label>
              <mat-select name="orgType" [(ngModel)]="edit.profile.groupType" placeholder="{{'PERMISSIONS.GROUP_TYPE.null' | translate}}">
                <mat-option *ngFor="let type of GROUP_TYPES" [value]="type">{{('PERMISSIONS.GROUP_TYPE.'+type) | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field floatLabel="always" *ngIf="isAdmin">
              <mat-label>{{'GROUP.scopeType' | translate}}</mat-label>
              <mat-select name="scopeType" [(ngModel)]="edit.profile.scopeType" placeholder="{{'PERMISSIONS.SCOPE_TYPE.null' | translate}}">
                <mat-option *ngFor="let type of SCOPE_TYPES" [value]="type">{{('PERMISSIONS.SCOPE_TYPE.'+type) | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="_mode=='ORG'">
            <mat-form-field>
              <mat-label>{{'ORG.displayName' | translate}}</mat-label>
              <input matInput name="displayName" [(ngModel)]="edit.profile.displayName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'ORG.groupEmail' | translate}}</mat-label>
                <input matInput name="groupEmail" [(ngModel)]="edit.profile.groupEmail">
            </mat-form-field>
            <mat-form-field floatLabel="always">
              <mat-label>{{'ORG.groupType' | translate}}</mat-label>
              <mat-select name="orgType" [(ngModel)]="edit.profile.groupType" placeholder="{{'PERMISSIONS.GROUP_TYPE.null' | translate}}">
                <mat-option *ngFor="let type of ORG_TYPES" [value]="type">{{('PERMISSIONS.GROUP_TYPE.'+type) | translate}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="infoText">{{edit.folder}}</div>
          </div>
          <div *ngIf="_mode=='USER'">
            <mat-form-field *ngIf="!editId">
              <mat-label>{{'USER.authorityName' | translate}}</mat-label>
              <input matInput name="authorityName" [(ngModel)]="editDetails.authorityName" autofocus required>
            </mat-form-field >
            <mat-form-field>
              <mat-label>{{'USER.firstName' | translate}}</mat-label>
              <input matInput name="firstName" [(ngModel)]="edit.profile.firstName" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'USER.lastName' | translate}}</mat-label>
              <input matInput name="lastName" [(ngModel)]="edit.profile.lastName" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'USER.email' | translate}}</mat-label>
              <input matInput name="email" [(ngModel)]="edit.profile.email" required>
            </mat-form-field>
            <div *ngIf="!editId">
              <input-password label="{{'USER.password' | translate}}" [(value)]="editDetails.password"></input-password>
            </div>
            <div class="quota">
                <mat-form-field>
                    <mat-label>{{'USER.sizeQuota' | translate}}</mat-label>
                    <input matInput name="sizeQuota" [(ngModel)]="edit.profile.sizeQuota" required>
                </mat-form-field>
                <user-quota *ngIf="editId && edit.quota.enabled" [quota]="edit.quota"></user-quota>
            </div>
          </div>
          </form>
        </div>
</card>
<card *ngIf="editGroups || editMembers || addMembers"
      title="{{(addMembers ? 'PERMISSIONS.ADD_MEMBER_TO_GROUP' : editMembers=='ALL' ? 'PERMISSIONS.EDIT_ORG_MEMBERS' : editMembers ? 'PERMISSIONS.EDIT_MEMBERS' : 'PERMISSIONS.EDIT_MEMBER_GROUPS') | translate }}"
      [subtitle]="addMembers ? addMembers.profile.displayName : editMembers ? editMembers.profile.displayName : editGroups.authorityName"
      width="xlarge"
      height="xlarge"
      [buttons]="memberButtons"
      (onScrolled)="refreshMemberList()"
      (onCancel)="cancelEditMembers()">
    <div class="card-content-padding">
        <div class="memberActions">
          <form (ngSubmit)="searchMembers()">
            <input type="search" name="manageMemberSearch" [(ngModel)]="manageMemberSearch"  placeholder="{{(addMembers ? 'PERMISSIONS.SEARCH_USER' : editGroups ? 'PERMISSIONS.SEARCH_GROUPS' : 'PERMISSIONS.SEARCH_MEMBER') | translate}}">
          </form>
          <actionbar class="memberItem memberActionBar" *ngIf="editMembers || editGroups"
            [options]="memberOptions"
          ></actionbar>
        </div>
        <div class="currentMembers" *ngIf="editMembers">{{ 'PERMISSIONS.CURRENT_MEMBERS' |translate:{group:editMembers.profile ? editMembers.profile.displayName : org.profile.displayName} }}</div>
        <listTable
          [columns]="editGroups ? editGroupColumns : addMemberColumns"
          [nodes]="memberList"
          [hasCheckbox]="true"
          [icon]="'person'"
          [hasIcon]="true"
          [selectedNodes]="selectedMembers"
          [hasHeading]="true"
          [selectOnClick]="true"
          [isClickable]="true"
          (onSelectionChanged)="updateSelectedMembers($event)"
       ></listTable>
    </div>
</card>
<!-- <div *ngIf="addTo" [@fade]="addTo" class="dialog darken"></div> -->
<div *ngIf="addTo" [@fromRight]="addTo" class="addTo">
  <div class="addToList">
    <permissions-authorities
      [mode]="'GROUP'"
      [org]="org"
      [embedded]="true"
      (onSelection)="addToSelection=$event"
    ></permissions-authorities>
  </div>
  <div class="btns">
      <a class="waves-effect waves-light btn" [class.disabled]="addToSelection==null" tabindex="0" (click)="addToSelect()" (keyup.enter)="addToSelect()">{{'PERMISSIONS.ADD_TO' | translate }}</a>
      <a class="btn-flat" tabindex="0" (click)="cancelAddTo()" (keyup.enter)="cancelAddTo()">{{'CANCEL' | translate }}</a>
  </div>
</div>
<div *ngIf="embedded" class="searchEmbedded">
  <form (ngSubmit)="searchQuery=embeddedQuery"><input type="search" [(ngModel)]="embeddedQuery" placeholder="{{'PERMISSIONS.SEARCH_USER' | translate}}" name="embeddedSearch"></form>
</div>
<listTable class="list" infinite-scroll (scrolled)="loadAuthorities()" [scrollWindow]="false" [class.listEmbedded]="embedded"
  [columns]="columns"
  [nodes]="list"
  [hasCheckbox]="_mode!='ORG'"
  [sortBy]="sortBy"
  [isLoading]="loading"
  [isClickable]="true"
  (onSelectionChanged)="selection($event)"
  [sortAscending]="sortAscending"
  [hasHeading]="true"
  [selectOnClick]="true"
  [hasIcon]="true"
  [options]="options"
  [icon]="_mode=='USER' ? 'person' : (_mode=='ORG' ? 'work' : 'group')"
  (sortListener)="changeSort($event)"
  ></listTable>
<h5 class="noElements" *ngIf="!loading && (!list || !list.length) && !_searchQuery">{{'PERMISSIONS.NO_ELEMENTS' | translate}}</h5>
<h5 class="noElements" *ngIf="!loading && (!list || !list.length) && _searchQuery!='' && searchQuery!=null">{{'PERMISSIONS.NO_ELEMENTS_SEARCH' | translate}}</h5>
<global-progress *ngIf="globalProgress"></global-progress>
