@import "../../../core-ui-module/styles/variables";

.topFrame{
  position:fixed;
  z-index:1;
  width: 100%;
  padding: 15px 10px;
  display:flex;
  align-items: center;
  .info{
    flex-grow: 1;
    color:$textPrimary;
    font-weight:bold;
    line-height: 1.5em;
    margin: 0 20px;
    a{
      text-transform: uppercase;
    }
    @include limitLineCount(3);
  }
  actionbar{
    min-width: 170px;
    display: flex;
    justify-content: flex-end;
  }
}
.org-signup{
  .warning-email{
    display: flex;
    margin-bottom: 20px;
  }
  mat-form-field, input-password{
    width: 100%;
  }
  input-password {
    display: flex;
    margin-top: 20px;
  }
}
::ng-deep {
  .org-signup input-password{
    mat-form-field{
      width: 100%;
    }
  }
}
.memberActions{
  height:50px;
  display: table;
  margin-bottom: 10px;
}
.memberActions input{
  margin-left:10px;
  width:100%;
}
.memberActionBar{
  position: absolute;
  top: 25px;
  right: 40px;
}
.memberItem{
  display: table-cell;
}
.memberInput{
  width:280px;
}
:host ::ng-deep{
  .card-status{
    mat-checkbox{
      display: flex;
      margin-bottom: 20px;
    }
  }
  .card-edit {
    mat-form-field {
      width: 100%;
    }
    .group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }
}
.editSystemName{
  margin-bottom: 10px;
}
.noElements{
  width:100%;
  text-align: center;
  padding-top:50px;
  color:$noResultsColor;
  position: fixed;
  top: $mainnavHeight+100px;
}
.infoText{
  padding:5px 15px;
}
#orgType{
  margin-bottom: 1.5em;
}
.folderLocation{
  color: $primary;
}

$addToWidth:350px;
.list{
  overflow-y: auto;
  position:fixed;
  top: 175px;
  width:100%;
  height: calc(100% - 175px);
}
.searchEmbedded{
  padding:10px;
  mat-form-field{
    width:100%;
  }
}
.listEmbedded{
  top: 250px;
  height: calc(100% - 310px);
  width:350px;
}
.formEmbedded{
  width:$addToWidth;
}
label.search{
  position:relative;
  top:8px;
  left:82px;
}
.currentMembers{
  margin-top: -10px;
  margin-bottom: 10px;
}
.addTo{
  position: fixed;
  right: 0;
  width: $addToWidth;
  top: 105px + $mainnavHeight;
  height: calc(100% - 105px - #{$mainnavHeight});
  z-index: 2;
  padding-bottom: 20px;
  background-color: #fff;
  @include materialShadow();
}
.addTo .btns{
  padding:10px;
}
.addToList{
  height: calc(100% - 37px);
  overflow-y: auto;

}
.addTo .btn,
.addTo .btn-flat{
  float:right;
}
#groupType{
  margin-bottom:20px;
}
