@if (widget?.getInternalError()) {
<div class="internal-error">{{ widget.definition.id }}: {{ widget.getInternalError() }}</div>
} @if ((expandedState$ | async) !== 'disabled' && isVisible()) {
<mat-expansion-panel [expanded]="(expandedState$ | async) === 'expanded'" class="mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      @if (widget.definition.icon) {
      <i [esIcon]="widget.definition.icon" esIconContext="mds"></i>
      }
      {{ label }}
    </mat-panel-title>
    @if (showSpinner) {
    <es-spinner-small></es-spinner-small>
    }
  </mat-expansion-panel-header>
  <ng-container *ngTemplateOutlet="body"></ng-container>
</mat-expansion-panel>
} @if (!widget || (expandedState$ | async) === 'disabled') {
<div
  class="widget-container"
  [class.read-only]="
    widget?.definition.interactionType === 'None' || mdsEditorInstance.editorMode === 'viewer'
  "
>
  <!-- FIXME: The mat-ripple class applies 'overflow: hidden' to the container, which cuts off
    ripple effects of content elements. -->
  <div matRipple [matRippleDisabled]="true" class="ripple-container" #nativeElement>
    <div class="header-container">
      @if (label) {
      <label [id]="labelId">{{ label }}</label>
      }
      <div class="spacer"></div>
      <!-- A small changes notice mainly for debugging purposes, but could also be used in the product
        -->
      <!-- <span *ngIf="widget?.getHasChanged()" class="changes-notice">{{
        'MDS.HAS_CHANGES' | translate
      }}</span> -->
      @if (shouldShowBulkEditToggle()) {
      <mat-slide-toggle (change)="onBulkEditToggleChange($event)">{{
        'MDS.BULK_EDIT' | translate
      }}</mat-slide-toggle>
      }
    </div>
    <ng-container *ngTemplateOutlet="body"></ng-container>
  </div>
</div>
}
<ng-template #body>
  @if (!wrapInFormField) {
  <div
    [attr.role]="wrapInGroup ? 'group' : null"
    [attr.aria-labelledby]="wrapInGroup ? labelId : null"
    [attr.aria-describedby]="
      widget?.definition.bottomCaption && !shouldShowError() && wrapInGroup ? descriptionId : null
    "
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
    @if ( mdsEditorInstance.editorMode !== 'viewer' && showBottomCaption &&
    widget?.definition.bottomCaption && !shouldShowError() ) {
    <p class="mat-hint subscript" [id]="descriptionId">
      {{ widget.definition.bottomCaption }}
    </p>
    } @if (shouldShowError()) {
    <p class="mat-error subscript" [class.warn]="missingRequired === 'mandatoryForPublish'">
      <ng-container *ngTemplateOutlet="error"></ng-container>
    </p>
    }
  </div>
  } @if (wrapInFormField) {
  <mat-form-field
    esRegisterFormField
    [floatLabel]="widget.definition.placeholder ? 'always' : 'auto'"
    class="widget-form-field-{{ widget.definition.id.replace(':', '-') }}"
    [class.warn]="missingRequired === 'mandatoryForPublish'"
    [hideRequiredMarker]="true"
  >
    <mat-label [id]="labelId">
      {{ widget.definition.caption }}
      <!-- We use our own required marker to show it even on disabled controls for bulk editing.
        -->
      @if ( widget.definition.isRequired === 'mandatory' && mdsEditorInstance.editorMode !==
      'search' ) {
      <span class="required-marker" aria-hidden="true">*</span>
      }
    </mat-label>
    <ng-container *ngTemplateOutlet="content"></ng-container>
    <!-- Use [hidden] instead of *ngIf to avoid changed-after-checked errors when setting
        bottomCaption. -->
    <mat-hint [hidden]="!widget.definition.bottomCaption || !showBottomCaption">{{
      widget.definition.bottomCaption
    }}</mat-hint>
    <mat-error [hidden]="!control.errors?.required">
      <ng-container *ngTemplateOutlet="error"></ng-container>
    </mat-error>
  </mat-form-field>
  }
</ng-template>

<ng-template #content><ng-content></ng-content></ng-template>

<ng-template #error>
  @if (missingRequired === 'mandatory') {
  {{ 'MDS.REQUIRED_MESSAGE' | translate }}
  } @if (missingRequired === 'mandatoryForPublish') {
  {{ 'MDS.REQUIRED_FOR_PUBLISH_MESSAGE' | translate }}
  }
</ng-template>
