<div class="widget-container" [class.read-only]="widget?.definition.interactionType === 'None'">
  <div matRipple [matRippleDisabled]="true" class="ripple-container" #nativeElement>
    <div class="header-container">
      <label *ngIf="label" [id]="labelId">{{ label }}</label>
      <div class="spacer"></div>
      <!-- A small changes notice mainly for debugging purposes, but could also be used in the product
      -->
      <!-- <span *ngIf="widget?.getHasChanged()" class="changes-notice">{{
        'MDS.HAS_CHANGES' | translate
      }}</span> -->
      <mat-slide-toggle
        *ngIf="shouldShowBulkEditToggle()"
        (change)="onBulkEditToggleChange($event)"
      >{{ 'MDS.BULK_EDIT' | translate }}</mat-slide-toggle
      >
    </div>

    <div
      *ngIf="!wrapInFormField"
      [attr.role]="wrapInGroup ? 'group' : null"
      [attr.aria-labelledby]="wrapInGroup ? labelId : null"
      [attr.aria-describedby]="
      widget?.definition.bottomCaption && !shouldShowError() && wrapInGroup ? descriptionId : null
    "
    >
      <ng-container *ngTemplateOutlet="content"></ng-container>
      <p
        *ngIf="widget?.definition.bottomCaption && !shouldShowError()"
        class="mat-hint subscript"
        [id]="descriptionId"
      >
        {{ widget.definition.bottomCaption }}
      </p>
      <p
        *ngIf="shouldShowError()"
        class="mat-error subscript"
        [class.warn]="missingRequired === 'mandatoryForPublish'"
      >
        <ng-container *ngTemplateOutlet="error"></ng-container>
      </p>
    </div>

    <mat-form-field
      esRegisterFormField
      *ngIf="wrapInFormField"
      [floatLabel]="widget.definition.placeholder ? 'always' : 'auto'"
      class="widget-form-field-{{ widget.definition.id.replace(':', '-') }}"
      [class.warn]="missingRequired === 'mandatoryForPublish'"
    >
      <mat-label [id]="labelId">
        {{ widget.definition.caption }}
        <span *ngIf="widget.definition.isRequired === 'mandatory'" class="required-marker">*</span>
      </mat-label>
      <ng-container *ngTemplateOutlet="content"></ng-container>
      <mat-hint *ngIf="widget.definition.bottomCaption">
        {{ widget.definition.bottomCaption }}
      </mat-hint>
      <mat-error [hidden]="!control.errors?.required">
        <ng-container *ngTemplateOutlet="error"></ng-container>
      </mat-error>
    </mat-form-field>
  </div>
</div>
<ng-template #content><ng-content></ng-content></ng-template>

<ng-template #error>
  <ng-container *ngIf="missingRequired === 'mandatory'">
    {{ 'MDS.REQUIRED_MESSAGE' | translate }}
  </ng-container>
  <ng-container *ngIf="missingRequired === 'mandatoryForPublish'">
    {{ 'MDS.REQUIRED_FOR_PUBLISH_MESSAGE' | translate }}
  </ng-container>
</ng-template>
