<h3>Basic Inputs</h3>
<div class="example">
  <mat-form-field>
    <mat-label>Text Input</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Text Input</mat-label>
    <input matInput />
    <mat-hint>With hint</mat-hint>
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label>Text Input</mat-label>
    <input matInput placeholder="Placeholder + float=always" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Text Input Required</mat-label>
    <input matInput required />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Text Input Disabled</mat-label>
    <input matInput disabled />
  </mat-form-field>
</div>
<h3>Password Input</h3>
<div class="example">
  <es-input-password label="Password"></es-input-password>
  <es-input-password label="Password" hint="true"></es-input-password>
  <es-input-password label="Password Required" [required]="true"></es-input-password>
  <es-input-password label="Password with strength" [displayStrength]="true"></es-input-password>
</div>
<h3>Textarea</h3>
<div class="example">
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput cdkTextareaAutosize></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Textarea Disabled</mat-label>
    <textarea matInput cdkTextareaAutosize disabled></textarea>
  </mat-form-field>
</div>
<h3>Checkbox, Toggle, Radio</h3>
<div class="example">
  <mat-checkbox>Checkbox</mat-checkbox>
  <mat-checkbox indeterminate="true">Checkbox Indeterminate</mat-checkbox>
  <mat-checkbox disabled>Checkbox Disabled</mat-checkbox>
  <mat-radio-button>Radio Button</mat-radio-button>
  <mat-radio-button disabled>Radio Button disabled</mat-radio-button>
  <mat-slide-toggle>Toggle</mat-slide-toggle>
  <mat-slide-toggle disabled>Toggle disabled</mat-slide-toggle>
</div>
