@use 'variables-scss' as vars;
@use 'mixins' as mixins;

:host {
    background: var(--es-dashboard-swimlane-background);
}
es-node-entries-wrapper {
    --es-node-entries-scroll-gradient-color: var(--es-dashboard-swimlane-background);
}
.toggle {
    @include mixins.clickable();
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: var(--borderRadiusCards) var(--borderRadiusCards) 0 0;
    gap: 10px;
    align-items: center;
    transition: all vars.$transitionNormal;
    > h2 {
        font-weight: bold;
        // flex-grow: 1;
    }
    &:not(.toggle-open) {
        border-radius: var(--borderRadiusCards);
        // @include mixins.materialShadowBottom();
        &:hover,
        &:focus {
            // @include mixins.materialShadowBottom(0.2);
        }
    }
    &:hover,
    &:focus {
        // background-color: color-mix(in srgb, var(--workspaceTopBarBackground), 90% transparent);
    }
    .toggle-button {
        color: var(--textMain);
        position: absolute;
        right: 20px;
    }
}
.no-results-message {
    color: var(--textMediumLight);
    text-align: center;
    font-size: vars.$fontSizeXLarge;
}
.swimlane {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: var(--borderRadiusCards);
    // @include mixins.materialShadowBottom();
    z-index: 1;
    .show-more {
        padding-top: 10px;
        display: flex;
        align-self: flex-end;
    }
    .swimlane-loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swimlane-options {
        ::ng-deep {
            .card-grid.card-grid-layout-scroll {
                grid-template-columns: 56px repeat(auto-fit, var(--cardWidth));
                .global-option .label {
                    display: none;
                }
            }
        }
    }
    // regular card
    .swimlane-type-1 {
        min-height: 458px;
    }
    // small/collection card
    .swimlane-type-2 {
        min-height: 235px;
    }
    &.swimlane-stream {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        > .stream-lane {
            min-width: 150px;
            width: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            > es-dashboard-interactivity-stream {
                flex-grow: 1;
            }
        }
    }
}
