<div class="toggle" (click)="toggleVisibility()" [class.toggle-open]="open | async">
  <h2 class="mat-heading-3">{{ 'DASHBOARD_SWIMLANE.' + swimlane().id + '.TITLE' | translate }}</h2>
  <button mat-icon-button>
    <i [esIcon]="'keyboard_arrow_' + ((open | async) ? 'up' : 'down')"></i>
  </button>
</div>
<div
  class="swimlane"
  [class.swimlane-stream]="
    ['interactivity-stream-shares', 'interactivity-stream-activities'].includes(type())
  "
  *ngIf="open | async"
  @openOverlay
>
  <ng-container class="swimlane-stream" *ngIf="type() === 'interactivity-stream-activities'">
    <div class="stream-lane" *ngFor="let event of streamEvents()">
      <h3 class="mat-heading-4">
        {{ 'DASHBOARD_SWIMLANE.' + swimlane().id + '.SUBTITLE.' + event.key | translate }}
      </h3>
      <es-dashboard-interactivity-stream
        [events]="event.result.nodes"
        [noResultsPlaceholder]="'DASHBOARD_SWIMLANE.NO_RESULTS'"
      >
      </es-dashboard-interactivity-stream>
      <div class="show-more">
        <a mat-button color="primary" [routerLink]="routerLink()" [queryParams]="event.params">
          {{ 'DASHBOARD_SWIMLANE.SHOW_MORE' | translate }} <i esIcon="arrow_forward"></i>
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container class="swimlane-stream" *ngIf="type() === 'interactivity-stream-shares'">
    <div class="stream-lane" *ngFor="let event of sharesEvents()">
      <h3 class="mat-heading-4">
        {{ 'DASHBOARD_SWIMLANE.' + swimlane().id + '.SUBTITLE.' + event.key | translate }}
      </h3>
      <es-dashboard-interactivity-stream
        [events]="event.result.nodes"
        [noResultsPlaceholder]="'DASHBOARD_SWIMLANE_SHARES.NO_RESULTS'"
      >
      </es-dashboard-interactivity-stream>
      <div class="show-more">
        <a mat-button color="primary" [routerLink]="routerLink()" [queryParams]="event.params">
          {{ 'DASHBOARD_SWIMLANE.SHOW_MORE' | translate }} <i esIcon="arrow_forward"></i>
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="type() === 'nodes'">
    <es-node-entries-wrapper
      class="{{
        'swimlane-type-' +
          displayType() +
          ((dataSource.isLoadingSubject | async) ? ' swimlane-loading' : '') +
          (globalOptions().length ? ' swimlane-options' : '')
      }}"
      [scope]="Scope.DashboardSwimlane"
      [dataSource]="dataSource"
      [globalOptions]="globalOptions()"
      [displayType]="displayType()"
      [elementInteractionType]="InteractionType.DefaultActionLink"
      [columns]="columns()"
      [checkbox]="false"
      [gridConfig]="gridConfig"
    >
      <ng-template #empty>
        <div class="no-results-message">
          {{ 'DASHBOARD_SWIMLANE.NO_RESULTS' | translate }}
        </div>
      </ng-template>
    </es-node-entries-wrapper>
    <div class="show-more">
      <a mat-button color="primary" [routerLink]="routerLink()" [queryParams]="routerQueryParams()">
        {{ 'DASHBOARD_SWIMLANE.SHOW_MORE' | translate }} <i esIcon="arrow_forward"></i>
      </a>
    </div>
  </ng-container>
</div>
