@use 'sass:math';
@import '../../../core-ui-module/styles/variables';

:host ::ng-deep {
    es-actionbar {
        .action-always-caption {
            display: none;
        }
    }
}
.group {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.no-comments,
.no-permission {
    font-size: 120%;
    text-align: center;
    color: $textLight;
    padding-top: 30px;
    width: 100%;
}
.new,
.new-no-permission {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 0;
    .left {
        margin: 0 20px;
    }
    .left,
    .right {
        display: flex;
    }
    .right {
        flex-grow: 1;
    }
}
.new {
    @include materialShadow();
}
form {
    display: flex;
    flex-grow: 1;
    align-items: center;
    button {
        margin: 0 10px;
        i {
            color: $primary;
        }
    }
}
mat-form-field {
    flex-grow: 1;
    // Remove additional bottom padding
    ::ng-deep .mat-mdc-form-field-subscript-wrapper::before {
        content: unset;
    }
}

.card {
    background-color: $actionDialogBackground !important;
}
.comments {
    flex-grow: 1;
    max-height: calc(100% - 95px);
    overflow-y: auto;
    margin: -$cardPadding;
    padding: $cardPadding;
    .comment {
        padding: 10px;
        background-color: #fff;
        @include materialShadow();
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        .top {
            display: flex;
            flex-direction: row;
            .left,
            .right {
                display: flex;
            }
            .left {
                padding-right: 15px;
                padding-top: 3px;
            }
            .right {
                flex-grow: 1;
                flex-direction: column;
                input {
                    flex-grow: 1;
                }
                .creator {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 8px;
                    .name {
                        font-weight: bold;
                        flex-grow: 1;
                    }
                    .dropdown {
                        color: $primary;
                        @include clickable();
                    }
                }
                .commentText {
                    white-space: pre-wrap;
                }
            }
        }
        .date {
            color: $textLight;
            display: flex;
            justify-content: flex-end;
            font-size: 80%;
        }
        .icons {
            display: flex;
            justify-content: flex-end;
            padding: 0 10px;
            .btn-negative,
            .btn-positive {
                @include clickable();
                width: 40px;
                height: 30px;
                border-radius: $buttonBorderRadius;
                border: 1px solid $inputBorderColor;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .btn-negative {
                color: $colorStatusNegative;
                background-color: lighten($colorStatusNegative, 62%);
            }
            .btn-positive {
                color: $colorStatusPositive;
                background-color: lighten($colorStatusPositive, 45%);
            }
        }
        .actions {
            margin: 0 math.div($cardPadding, -2);
            padding-right: 10px;
        }
        .actionsAvailable {
            margin-top: 10px;
            padding-top: 15px;
            margin-bottom: -5px;
            border-top: 1px solid $commentsActionsSeperatorLineColor;
        }
    }
}
.commentsLong {
    max-height: 100%;
}
