@if (layout !== GenericNodeEntriesDisplayType.MapView) {
<es-node-entries-wrapper
  #contentWrapper
  [checkbox]="false"
  [class.sidebar-open]="sidebarOpen()"
  [class.single-view]="layout === GenericNodeEntriesDisplayType.SingleView"
  [class.split-view]="layout === GenericNodeEntriesDisplayType.SplitView"
  [class.view-mode]="!hasEditRightsAndIsEditMode"
  [columns]="layout !== GenericNodeEntriesDisplayType.ListView ? columns : tableColumns"
  [dataSource]="dataSource"
  [displayType]="nodeEntriesDisplayType()"
  [dragDrop]="{
    dragAllowed: false,
  }"
  [elementInteractionType]="InteractionType.Emitter"
  [gridConfig]="gridConfig"
  [scope]="Scope.Oer"
  (clickItem)="onItemClicked($event.element)"
  (fetchData)="fetchData($event)"
>
  <!-- placeholder template for empty content -->
  <ng-template #empty>
    <es-info-message>
      {{ 'TOPIC_PAGE.WIDGET.CONTENT_TEASER.NO_CONTENTS' | translate }}
    </es-info-message>
  </ng-template>
</es-node-entries-wrapper>
} @else { @if (genericWidgetGlobalService.hasCustomDisplayType(layout)) {
<div #customType></div>
} }

<!-- custom card template -->
@if (genericWidgetGlobalService.getCustomCards(CustomCardRole.SuggestContent)?.[0]?.templateRef; as
templateRef) {
<ng-template #cardSuggest>
  <ng-container
    *ngTemplateOutlet="
      templateRef;
      context: {
        hasEditRightsAndIsEditMode,
        includeCard: includeCustomCard(),
        includeCardChanged: onIncludeCardChanged.bind(this),
        nodeId: contextNodeId,
      }
    "
  ></ng-container>
</ng-template>
}

<!-- metadata type templates -->
