@use '../../../topic-page-variables' as topicPageVars;

:host {
    margin-top: 15px;
    display: block;
    // This is currently necessary to get the grid working
    --cardWidth: 314px;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_queries
    container-type: inline-size;
}

// do not display the card / list (table) options in view mode
// TODO: add as an option to the es-node-entries-wrapper
:host ::ng-deep es-node-entries-wrapper.view-mode {
    ::ng-deep es-node-entries-card .card-options {
        visibility: hidden !important;
        height: 10px !important;
    }

    ::ng-deep es-node-entries-table mat-table .mat-column-actions {
        display: none !important;
    }
}

// add margin-top to the load more button
// TODO: fix in es-node-entries-wrapper, if this is an actual issue
:host ::ng-deep es-node-entries-wrapper {
    ::ng-deep es-node-entries-card-grid,
    ::ng-deep es-node-entries-table {
        .load-more {
            margin-top: 10px;
        }
    }
}

// increase gap between elements
// TODO: make it configurable via CSS variable
:host ::ng-deep es-node-entries-wrapper ::ng-deep es-node-entries-card-grid {
    .card-grid {
        column-gap: 32px;
        row-gap: 32px;
    }
}

// workarounds for modifying nested components
:host ::ng-deep es-node-entries-wrapper {
    // add border for selected items
    ::ng-deep es-node-entries-card .grid-card {
        &.selected {
            // fix box-sizing for selected items
            box-sizing: border-box;
            border: 3px solid topicPageVars.$primary;
            // remove box-shadow in selected mode
            box-shadow: none;
        }
    }

    ::ng-deep es-node-entries-table mat-table {
        // set fixed height for table rows
        .mat-row {
            height: 60px;
        }

        // fix contrast issue in table header
        .mat-mdc-header-cell {
            color: topicPageVars.$on-surface;
        }

        // add border for selected items
        .mat-mdc-row.selected {
            box-sizing: border-box;
            border: 3px solid topicPageVars.$primary;
        }
    }
}

// workaround to hide the x-axis overflow of the es-node-entries-wrapper (scrollbar overflows container)
:host ::ng-deep es-node-entries-wrapper .card-grid-wrapper {
    overflow: hidden;
}

// fix flickering hover effect of show always buttons (currently only works with !important)
:host ::ng-deep es-node-entries-wrapper .grid-card .card-options-area {
    es-option-button {
        &:hover {
            background-color: unset !important;
        }

        button:hover {
            background-color: topicPageVars.$surface-container-lowest;
        }
    }
}

// modifications for single- and split-view
// style adjustments for full width single-view
:host ::ng-deep es-node-entries-wrapper.single-view {
    es-node-entries-card {
        .grid-card {
            .mat-ripple {
                width: 100%;
                height: 350px;
                display: flex;
                flex-direction: column;

                .card-image-area {
                    width: 100%;
                    height: 100%;
                    flex: 1;
                }

                // fix due to workaround to not reserve separate space for the card-top-bar
                .card-meta {
                    padding: 0;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    z-index: 12;
                    background-color: rgba(0, 0, 0, 0.5) !important;
                    display: flex;

                    // reset the general style of the es-list-base
                    es-list-base {
                        flex-direction: row;

                        // reset margin-bottom of es-list-base div
                        > div {
                            margin-bottom: 0 !important;
                        }
                    }

                    // hide all but the first row
                    .card-meta-row:not(:first-child) {
                        display: none;
                    }

                    // adjust title text
                    .card-meta-row:first-child es-list-text span {
                        padding-left: 16px;
                        text-align: left;
                        color: topicPageVars.$on-primary;
                        font-size: topicPageVars.$fontSizeLarge;
                        font-weight: topicPageVars.$font-weight-bold;
                    }
                }
            }
        }
    }
}

// style adjustments for split-view
:host ::ng-deep es-node-entries-wrapper.split-view {
    es-node-entries-card {
        .grid-card {
            .mat-ripple {
                height: 350px;
                width: 100%;
                display: flex;
                flex-direction: row-reverse;

                .card-image-area {
                    // note: setting width alone does not work
                    min-width: 50%;
                    max-width: 50%;
                    height: 100%;
                    flex: 1;
                }

                .card-meta {
                    padding: 24px 24px 0 24px;
                    width: 100%;

                    .card-meta-row:first-child {
                        align-items: start;
                    }
                }
            }
        }
    }
}

// remove card-options for single- and split-view in view-mode
// otherwise, a 10px height div is added at the bottom which is visible under the text / image
:host ::ng-deep es-node-entries-wrapper.view-mode {
    &.single-view,
    &.split-view {
        es-node-entries-card .card-options {
            display: none !important;
        }
    }
}

// for single- and split-view also make sure that the --cardWidth is not too large
// case 1: sidebar is not open
// desktop breakpoint is 1210px
@media (min-width: 1210px) {
    // the container must be larger or equal 1050px
    @container (min-width: 1050px) {
        es-node-entries-wrapper:not(.sidebar-open) {
            &.single-view,
            &.split-view {
                --cardWidth: 850px;
            }
        }
    }
}

// case 2: sidebar is open
@media (min-width: 1610px) {
    // the container must be larger or equal 1050px
    @container (min-width: 1050px) {
        es-node-entries-wrapper.sidebar-open {
            &.single-view,
            &.split-view {
                --cardWidth: 850px;
            }
        }
    }
}

// make sure that the --cardWidth never gets too small
@container (max-width: 314px) {
    es-node-entries-wrapper {
        --cardWidth: 100%;
    }
}
