@import '../../../core-ui-module/styles/variables';
:host ::ng-deep {
    .mat-tab-body-wrapper {
        padding: 20px;
        .mat-tab-body,
        .mat-tab-body-content {
            overflow: unset;
        }
    }
}
.select-mediacenter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    > mat-form-field {
        width: 100%;
        max-width: 500px;
    }
}
.base-data {
    display: flex;
    flex-direction: column;
    .status {
        font-size: 130%;
        margin-top: 0;
    }
    #activate-label {
        margin: 0 10px;
    }
    .activate-group {
        display: flex;
        flex-direction: column;
        margin: 0.25em 10px 1.8em;
        > .mat-radio-button {
            margin: 0.4em;
        }
    }
    .base-fields {
        display: flex;
        flex-wrap: wrap;
        > mat-form-field {
            width: calc(50% - 20px);
            margin: 0 10px;
        }
    }
    .edit-not-allowed {
        padding-bottom: 20px;
    }
    .data-catalogs {
        padding: 30px 20px;
        mat-form-field {
            width: 100%;
        }
        h5 {
            display: flex;
            > span {
                flex-grow: 1;
            }
        }
        .catalog-fields {
            display: flex;
            > mat-form-field {
                margin: 0 10px;
            }
        }
    }
    .actions {
        display: flex;
        > button {
            margin: 0 10px;
        }
    }
}
.groups {
    > h6 {
        padding: 10px 0;
    }
    > button {
        margin-bottom: 20px;
    }
}

.import {
    display: flex;
    align-items: center;
    .inputGroup {
        margin: 20px 0 20px 0;
        flex-grow: 1;
        .file {
            display: inline-block;
            padding: 0 10px;
        }
    }
    mat-checkbox {
        margin-right: 1em;
    }
}

.nodes {
    .export {
        display: flex;
        justify-content: flex-end;
    }
    mat-form-field {
        width: 67%;
        margin-right: 2%;
    }
}
