@if (initialized()) {
<div class="topics-column-browser">
  <!-- node list for navigation -->
  <div class="node-list" [class.mobile]="isMobile() | async">
    @if (path.length === 0 || (isMobile() | async) === false) {
    <mat-selection-list
      class="first-level-list"
      [multiple]="false"
      [hideSingleSelectionIndicator]="true"
    >
      @if (dataSource.getRootNodes() | wrapObservable | async; as nodes) { @if (nodes.state ===
      'success') { @if (nodes.data?.length > 0) { @for (node of nodes.data; track node.id) {
      <mat-list-option
        [value]="node"
        [selected]="path[0] === node"
        [attr.data-node-id]="node.id"
        (click)="scrollLeft(); onSelectedChange(node)"
        (keydown)="onFirstLevelKeydown($event, node)"
      >
        <span matListItemTitle class="list-item-title-container">
          @if (customUrl && customUrl(node.data)) {
          <a
            [href]="customUrl(node.data)"
            (click)="$event.stopPropagation()"
            class="item-link cursor-pointer"
            tabindex="-1"
            [attr.data-text]="node.data | nodeTitle"
            [target]="customUrlTarget"
          >
            {{ node.data | nodeTitle }}
          </a>
          } @else {
          <ng-container *ngTemplateOutlet="nodeLink; context: { node: node.data }"></ng-container>
          } @if ( node.data.collection.childReferencesCount ||
          node.data.collection.childCollectionsCount ) {
          <div class="container-right">
            @if (node.data.collection.childReferencesCount) {
            <span
              class="badge"
              [matTooltip]="
                (i18nPrefix + 'REFERENCES_LABEL' | translate) +
                ': ' +
                node.data.collection.childReferencesCount
              "
              tooltipAriaLabel
            >
              {{ node.data.collection.childReferencesCount }}
            </span>
            } @if (node.data.collection.childCollectionsCount) {
            <i esIcon="keyboard_arrow_right" class="arrow-right"></i>
            }
          </div>
          }
        </span>
      </mat-list-option>
      } } @else {
      <ng-container [ngTemplateOutlet]="noListItems"></ng-container>
      } } @if (nodes.state === 'loading') {
      <div class="spinner-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      } @if (nodes.state === 'error') {
      <div class="error-notice">
        <p>
          {{ i18nPrefix + 'ERROR_RECEIVING_DATA' | translate }}
        </p>
      </div>
      } }
    </mat-selection-list>
    }

    <ng-template #noListItems>
      <es-info-message mode="info" class="info-message">
        {{ 'TOPIC_PAGE.WIDGET.NO_SUBCOLLECTIONS' | translate }}
      </es-info-message>
    </ng-template>

    @for (selectedNode of path; track selectedNode.id; let last = $last; let index = $index) { @if
    (dataSource.getChildren(selectedNode) | wrapObservable | async; as nodes) { @if ((isMobile() |
    async) === false || last) {
    <div class="children-list-container" [attr.data-parent-id]="selectedNode.id" esLifecycle>
      @if (isMobile() | async) {
      <div class="back">
        <button
          mat-button
          class="back-button"
          (click)="goBackOneLevel()"
          (keydown)="onBackButtonKeydown($event)"
        >
          <i esIcon="arrow_back_ios"></i>
          {{ 'BACK' | translate }}
        </button>
      </div>
      } @if (nodes.state === 'success' && nodes.data.length > 0) {
      <ul
        role="listbox"
        class="child-level-list"
        esLifecycle
        (afterViewInit)="index > 0 && scrollIntoView($event.nativeElement)"
      >
        @for (node of nodes.data; track node.id; let itemIndex = $index) {
        <li
          class="child-list-item"
          role="option"
          [attr.tabindex]="itemIndex === 0 ? 0 : -1"
          [attr.aria-selected]="path.includes(node)"
          [attr.data-node-id]="node.id"
          [class.cursor-pointer]="node.data.collection.childCollectionsCount"
          [class.item-selected]="path.includes(node) && node.children?.length"
          (click)="node.data.collection.childCollectionsCount && onSelectedChange(node)"
          (keydown)="onChildItemKeydown($event, node, index + 1)"
        >
          @if (customUrl && customUrl(node.data)) {
          <a
            [href]="customUrl(node.data)"
            (click)="$event.stopPropagation()"
            class="item-link cursor-pointer"
            tabindex="-1"
            [attr.data-text]="node.data | nodeTitle"
            [target]="customUrlTarget"
          >
            {{ node.data | nodeTitle }}
          </a>
          } @else {
          <ng-container *ngTemplateOutlet="nodeLink; context: { node: node.data }"></ng-container>
          } @if ( node.data.collection.childReferencesCount ||
          node.data.collection.childCollectionsCount ) {
          <div class="container-right">
            @if (node.data.collection.childReferencesCount) {
            <span
              class="badge"
              [matTooltip]="
                (i18nPrefix + 'REFERENCES_LABEL' | translate) +
                ': ' +
                node.data.collection.childReferencesCount
              "
              tooltipAriaLabel
            >
              {{ node.data.collection.childReferencesCount }}
            </span>
            } @if (node.data.collection.childCollectionsCount) {
            <i esIcon="keyboard_arrow_right" class="arrow-right"></i>
            }
          </div>
          }
        </li>
        }
      </ul>
      } @if (nodes.state === 'loading') {
      <div class="spinner-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
      } @if (nodes.state === 'error') {
      <div class="error-notice">
        <p>
          {{ i18nPrefix + 'ERROR_RECEIVING_DATA' | translate }}
        </p>
      </div>
      } @if (nodes.state === 'success' && nodes.data.length === 0) {
      <div>
        <ng-container [ngTemplateOutlet]="noListItems"></ng-container>
      </div>
      }
    </div>
    } } }
  </div>
  <!-- color + configuration buttons -->
  @if (editMode()) {
  <es-widget-configuration-buttons
    [optionOne]="embedConfigurationOption"
    [pageVariantNode]="pageVariantNode"
    [swimlaneIndex]="swimlaneIndex"
    [updateInProgress]="updateInProgress()"
    (optionOneClicked)="embedWidget()"
  ></es-widget-configuration-buttons>
  }
</div>
} @else {
<es-spinner></es-spinner>
}
<ng-template #nodeLink let-node="node">
  <es-node-url [node]="node" [mode]="'link'">
    {{ node | nodeTitle }}
  </es-node-url>
</ng-template>
