<es-card-header
  [id]="id"
  [title]="config.title | translate"
  [subtitle]="config.subtitle | translate"
  [avatar]="config.avatar"
  (closeButtonClick)="onCloseButtonClick()"
  [showCloseButton]="shouldShowCloseButton()"
  [disableCloseButton]="isLoading || autoSavingState === 'saving'"
></es-card-header>

<div class="card-content" [style.padding.px]="config.contentPadding" [attr.aria-hidden]="isLoading">
  <ng-template cdkPortalOutlet></ng-template>
  <div *ngIf="isLoading" class="loading-overlay">
    <es-spinner></es-spinner>
  </div>
</div>

<es-card-actions
  *ngIf="(buttons && buttons.length > 0) || autoSavingState"
  [buttons]="buttons"
  [additionalContent]="config.customBottomBarContent ?? savingInfo"
></es-card-actions>
<ng-template #savingInfo>
  <p *ngIf="autoSavingState === 'saving'" class="saving-info" aria-live="polite">
    {{ 'DIALOG.SAVING' | translate }}
  </p>
  <p *ngIf="autoSavingState === 'saved'" class="saving-info" aria-live="polite">
    {{ 'DIALOG.SAVED' | translate }}
  </p>
  <p *ngIf="autoSavingState === 'error'" class="saving-error" aria-live="polite">
    {{ 'DIALOG.SAVING_ERROR' | translate }}
  </p>
</ng-template>
