@import '../../../../core-ui-module/styles/variables';

::ng-deep .card-dialog-pane {
    flex-direction: column;
    transition: transform $transitionNormal;
    &.card-dialog-pane-mobile-background {
        transform: translate(0, -15px);
    }
}

:host {
    flex-grow: 1;
    display: flex;
    min-height: 0;
    &:focus {
        outline: none;
    }
}

.jump-marks {
    align-self: flex-start;
    flex-shrink: 0;
    // Don't let the card's shadow cover the jump marks.
    z-index: 0;
    margin-right: 5px;
    width: 200px;
    @media only screen and (max-width: 800px) {
        display: none;
    }
}

.card-dialog {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // width: 100%;
    // height: 100%;
    min-height: 0;
    min-width: 0;
    border-radius: 4px;
    background-color: white;
    &.card-dialog-mobile {
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    > * {
        // Don't let card-content be shadowed by the jump marks without covering the jump marks with
        // the card's shadow.
        z-index: 0;
        background-color: inherit;
    }
    > :first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .card-dialog-header {
        background-color: $actionDialogBackground;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: auto;
    flex-grow: 1;
    position: relative;
    & ::ng-deep > * {
        min-height: 100%;
        flex-grow: 1;
    }
}

.loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: white, $alpha: 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.saving-info {
    color: $textMain;
}

.saving-error {
    color: $warning;
}
