@import '../../../core-ui-module/styles/variables';

.skip-link {
    position: fixed;
    padding: 20px;
    margin: 6px 10px;
    background-color: white;
    z-index: 1000;
    &:not(:focus) {
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
    }
    &:focus {
        @include setGlobalKeyboardFocus();
    }
}
