@import "../../../core-ui-module/styles/variables";
.modes{
  display: flex;
  flex-direction: column;
  align-items: center;
  >mat-form-field{
    width: 100%;
    max-width: 500px;
  }
  .group-multi{
    display: flex;
  }
  .group{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px 0;
    >*{
      padding:0 10px;
    }
    mat-label{
      font-weight: bold;
      color: $textLight;
    }
    mat-radio-group{
      display: flex;
      flex-direction: column;
      .mat-radio-button{
        padding: 5px 0;
      }
    }
  }
  .calendars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    >div{
      padding:10px;
      margin:15px;
      background-color: #fff;
      @include materialShadow();
      text-align: center;
      mat-calendar{
        width: 220px;
      }
    }
  }
}
canvas{
  max-width:100%;
}
listTable{
  width: 100%;
}
.single-data-table,
.custom-group-data-table{
  margin: 20px 0;
  max-height: 70vh;
  overflow: auto;
  .mat-cell,
  .mat-header-cell{
    padding:0 10px;
    >span{
      @include limitLineCount(2,1.5);
      display:flex;
      flex-direction: column;
    }
  }
}
.stats-grouped,.stats-nodes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:host /deep/ {
  .mat-tab-body {
    padding: 0 20px;
    &,.mat-tab-body-content {
      overflow: visible!important;
      width: 100%;
    }
  }
}
