<mat-tab-group mat-stretch-tabs>
    <mat-tab label="{{'ADMIN.STATISTICS.GROUPED' | translate}}" class="stats-grouped">
        <h4 class="mat-heading-4 mat-heading-underline"><i icon iconId="history"></i> {{'ADMIN.STATISTICS.GROUPED' | translate}}</h4>
        <div class="modes">
            <mat-form-field>
                <mat-label>{{'ADMIN.STATISTICS.GROUP_BY' | translate}}</mat-label>
                <mat-select [(ngModel)]="groupedMode">
                    <mat-option value="Daily">{{'ADMIN.STATISTICS.GROUP_DAILY' | translate}}</mat-option>
                    <mat-option value="Monthly">{{'ADMIN.STATISTICS.GROUP_MONTHLY' | translate}}</mat-option>
                    <mat-option value="Yearly">{{'ADMIN.STATISTICS.GROUP_YEARLY' | translate}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="calendars">
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.FROM' | translate}}</mat-label>
                    <mat-calendar [(selected)]="groupedStart" [maxDate]="groupedEnd"></mat-calendar>
                </div>
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.TO' | translate}}</mat-label>
                    <mat-calendar [(selected)]="groupedEnd" [minDate]="groupedStart" [maxDate]="today"></mat-calendar>
                </div>
            </div>
        </div>
        <spinner *ngIf="groupedLoading"></spinner>
        <h5 class="mat-heading-5" *ngIf="groupedNoData">{{'ADMIN.STATISTICS.NO_DATA' | translate}}</h5>
        <canvas id="groupedChart" [class.display-none]="groupedLoading || groupedNoData"></canvas>
    </mat-tab>
    <mat-tab *ngIf="customGroups" label="{{'ADMIN.STATISTICS.CUSTOM_GROUPS' | translate}}" class="stats-custom-groups">
        <h4 class="mat-heading-4 mat-heading-underline"><i icon iconId="view_list"></i> {{'ADMIN.STATISTICS.CUSTOM_GROUPS' | translate}}</h4>
        <div class="modes">
            <div class="group">
                <mat-label>{{'ADMIN.STATISTICS.CUSTOM_GROUP_MODE' | translate}}</mat-label>
                <mat-radio-group [(ngModel)]="customGroup">
                    <mat-radio-button *ngFor="let group of customGroups" value="{{group}}">{{group}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="group">
                <mat-label>{{'ADMIN.STATISTICS.SINGLE_MODE' | translate}}</mat-label>
                <mat-radio-group [(ngModel)]="customGroupMode">
                    <mat-radio-button value="NODES">{{'ADMIN.STATISTICS.MODE_NODES' | translate}}</mat-radio-button>
                    <mat-radio-button value="USERS">{{'ADMIN.STATISTICS.MODE_USERS' | translate}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="calendars">
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.FROM' | translate}}</mat-label>
                    <mat-calendar [(selected)]="customGroupStart" [maxDate]="customGroupEnd"></mat-calendar>
                </div>
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.TO' | translate}}</mat-label>
                    <mat-calendar [(selected)]="customGroupEnd" [minDate]="customGroupStart" [maxDate]="today"></mat-calendar>
                </div>
            </div>
        </div>
        <spinner *ngIf="customGroupLoading"></spinner>
        <div class="custom-group-data-table">
            <mat-table [dataSource]="customGroupData" [class.mat-table-clickable]="singleMode=='NODES'" *ngIf="customGroupData && !customGroupLoading">

                <ng-container *ngFor="let key of customGroupRows" [matColumnDef]="key">
                    <mat-header-cell *matHeaderCellDef> {{'ADMIN.STATISTICS.HEADERS.'+key | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="openNode(element.entry ? element.entry : null)">
                        <span *ngIf="key=='action'">{{'ADMIN.STATISTICS.ACTIONS.'+element[key] | translate}}</span>
                        <span *ngIf="key=='count'">{{element[key]}}</span>
                        <span *ngIf="!(key=='action' || key=='count')">{{element.entry.data[key]}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="customGroupRows; sticky: true"></mat-header-row>
                <mat-row matRipple *matRowDef="let row; columns: customGroupRows"></mat-row>
            </mat-table>
        </div>
    </mat-tab>
    <mat-tab label="{{'ADMIN.STATISTICS.NODES' | translate}}" class="stats-nodes">
        <h4 class="mat-heading-4 mat-heading-underline"><i icon iconId="assessment"></i> {{'ADMIN.STATISTICS.NODES' | translate}}</h4>
        <div class="modes">
            <div class="calendars">
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.FROM' | translate}}</mat-label>
                    <mat-calendar [(selected)]="nodesStart" [maxDate]="nodesEnd"></mat-calendar>
                </div>
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.TO' | translate}}</mat-label>
                    <mat-calendar [(selected)]="nodesEnd" [minDate]="nodesStart" [maxDate]="today"></mat-calendar>
                </div>
            </div>
        </div>
        <h5 class="mat-heading-5" *ngIf="nodesNoData">{{'ADMIN.STATISTICS.NO_DATA' | translate}}</h5>
        <listTable *ngIf="!nodesNoData"
                   [hasIcon]="true"
                   [hasHeading]="true"
                   [isClickable]="true"
                   (clickRow)="openNode($event)"
                   [viewType]="0"
                   [columns]="columns"
                   [isLoading]="nodesLoading"
                   [nodes]="nodes"
        ></listTable>
    </mat-tab>
    <mat-tab label="{{'ADMIN.STATISTICS.SINGLE' | translate}}" class="stats-single">
        <h4 class="mat-heading-4 mat-heading-underline"><i icon iconId="view_headline"></i> {{'ADMIN.STATISTICS.SINGLE' | translate}}</h4>
        <div class="modes">
            <div class="group">
                <mat-label>{{'ADMIN.STATISTICS.SINGLE_MODE' | translate}}</mat-label>
                <mat-radio-group [(ngModel)]="singleMode">
                    <mat-radio-button value="NODES">{{'ADMIN.STATISTICS.MODE_NODES' | translate}}</mat-radio-button>
                    <mat-radio-button value="USERS">{{'ADMIN.STATISTICS.MODE_USERS' | translate}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="calendars">
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.FROM' | translate}}</mat-label>
                    <mat-calendar [(selected)]="singleStart" [maxDate]="singleEnd"></mat-calendar>
                </div>
                <div>
                    <mat-label>{{'ADMIN.STATISTICS.TO' | translate}}</mat-label>
                    <mat-calendar [(selected)]="singleEnd" [minDate]="singleStart" [maxDate]="today"></mat-calendar>
                </div>
            </div>
        </div>
        <spinner *ngIf="singleLoading"></spinner>
        <div class="single-data-table ">
            <mat-table [dataSource]="singleData" [class.mat-table-clickable]="singleMode=='NODES'" *ngIf="singleData && !singleLoading">

                <ng-container *ngFor="let key of singleDataRows" [matColumnDef]="key">
                    <mat-header-cell *matHeaderCellDef> {{'ADMIN.STATISTICS.HEADERS.'+key | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="openNode(element.entry ? element.entry : null)">
                        <span *ngIf="key=='action'">{{'ADMIN.STATISTICS.ACTIONS.'+element[key] | translate}}</span>
                        <span *ngIf="key=='date'">{{element[key] | formatDate:{time:true,relative:false} }}</span>
                        <span *ngIf="key=='authority'">{{element[key] | slice:0:8 }}</span>
                        <span *ngIf="key=='node'">{{element[key]}}</span>
                        <span *ngIf="!(key=='action' || key=='date' || key=='authority' || key=='nod')">{{element.entry.data[key]}}</span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="singleDataRows; sticky: true"></mat-header-row>
                <mat-row matRipple *matRowDef="let row; columns: singleDataRows"></mat-row>
            </mat-table>
        </div>
    </mat-tab>
</mat-tab-group>
