@if (service.imprintUrl || service.privacyInformationUrl) { @if (service.imprintUrl) {
<a
  cdkMonitorElementFocus
  tabindex="0"
  class="clickable"
  (click)="service.openImprint()"
  (keyup.enter)="service.openImprint()"
  >{{ 'IMPRINT' | translate }}</a
>
}
{{ service.imprintUrl && service.privacyInformationUrl ? separator : '' }}
@if (service.privacyInformationUrl) {
<a
  cdkMonitorElementFocus
  tabindex="0"
  class="clickable"
  (click)="service.openPrivacy()"
  (keyup.enter)="service.openPrivacy()"
  >{{ 'PRIVACY_INFORMATION' | translate }}</a
>
} }
