<div class="dialog darken" *ngIf="show" [@fade]="show" (click)="hide()"></div>

<div class="sidebar" *ngIf="show" [@fromLeft]="show" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div class="main">
    <button mat-button class="close" (click)="hide()">
      <i esIcon="close" [aria]="true"></i>
    </button>
    <!-- We should get loginInfo in any case, but it might not be ready from the start. -->
    <div
      *ngIf="loginInfo"
      class="top"
      style.background-color="{{ (currentUser || null) | authorityColor }}"
    >
      <div class="profile-gradient"></div>
      <img
        *ngIf="currentUser?.profile?.avatar"
        class="blurred-image"
        [src]="currentUser.profile.avatar + '&crop=true&width=200&height=200'"
      />
      <div *ngIf="currentUser" class="profile">
        <ng-template #userAvatar>
            <es-user-avatar
              [user]="currentUser"
              size="medium"
            ></es-user-avatar>
            <div id="main-menu-sidebar-username" class="username">
              <ng-container *ngIf="currentUser && !loginInfo.isGuest">{{ currentUser | authorityName }}</ng-container>
              <ng-container *ngIf="loginInfo.isGuest">{{ 'USER_GUEST' | translate }}</ng-container>
            </div>
        </ng-template>
        <a
          *ngIf="!loginInfo.isGuest; else userAvatar"
          [routerLink]="['/' + ROUTER_PREFIX + 'profiles', ME]"
          [attr.aria-label]="'PROFILES.TITLE_NAV' | translate"
          aria-describedby="main-menu-sidebar-username"
          (click)="hide()"
        ><ng-container *ngTemplateOutlet="userAvatar"></ng-container></a>
      </div>
    </div>
    <es-main-menu-buttons [currentScope]="currentScope" (entryClicked)="hide()"></es-main-menu-buttons>
  </div>
  <div class="license-info">
    <button mat-button class="mat-button-no-uppercase" (click)="onShowLicenses()">
      {{ 'LICENSE_INFORMATION' | translate }}
    </button>
  </div>
</div>
