@import '../../../core-ui-module/styles/variables';

$licenseInfoHeight: 40px;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 300;
    overflow-y: auto;
    background: $workspaceTreeBackground;
    width: $workspaceSidebarWidth;
    @include materialShadow();
    &:focus {
        @include removeDefaultFocus();
    }
    .main {
        min-height: calc(100% - #{$licenseInfoHeight});
        button.close {
            @include clickable();
            position: absolute;
            right: 2px;
            top: 2px;
            padding: 10px;
            z-index: 2;
            color: #fff;
            border-radius: 50%;
            height: 66px;
        }
        .top {
            display: flex;
            align-items: center;
            position: relative;
            height: 200px;
            overflow: hidden;
            @include unselectableText();
            > .profile {
                z-index: 2;
                left: 0;
                width: 100%;
                text-align: center;
                color: #fff;
                a {
                    color: unset;
                }
                es-user-avatar {
                    display: flex;
                    justify-content: center;
                }
                i {
                    font-size: 50pt;
                }
                .username {
                    font-size: 120%;
                    overflow: hidden;
                    margin-top: 5px;
                }
            }
        }
        button.close,
        .top .profile .username {
            text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        }
    }
    .license-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: $licenseInfoHeight;
        color: $textLight;
        font-size: 90%;
        @include clickable();
    }
}
:host ::ng-deep .mat-button:hover .mat-button-focus-overlay {
    opacity: 0;
}
