@import '../../../core-ui-module/styles/variables';

$licenseInfoHeight: 48px;

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 300;
    overflow-y: auto;
    background: $workspaceTreeBackground;
    width: $workspaceSidebarWidth;
    @include materialShadow();
    &:focus {
        @include removeDefaultFocus();
    }
    .main {
        min-height: calc(100% - #{$licenseInfoHeight});
        button.close {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 2px;
            top: 2px;
            z-index: 2;
            color: #fff;
            width: 66px;
            height: 66px;
            --mat-mdc-button-ripple-color: rgba(255, 255, 255, 0.1);
            --mat-mdc-button-persistent-ripple-color: white;
        }
        .top {
            display: flex;
            align-items: center;
            position: relative;
            height: 200px;
            overflow: hidden;
            @include unselectableText();
            > .profile {
                z-index: 1;
                width: 100%;
                text-align: center;
                color: #fff;
                a {
                    display: flex;
                    flex-direction: column;
                    color: unset;
                    text-decoration: none;
                    &.cdk-keyboard-focused {
                        @include setGlobalKeyboardFocus('border');
                    }
                }
                es-user-avatar {
                    display: flex;
                    justify-content: center;
                }
                i {
                    font-size: 50pt;
                }

                .username {
                    font-size: 120%;
                    overflow: hidden;
                    margin-top: 5px;
                }
            }
        }
        button.close,
        .top .profile .username {
            text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        }
    }
    .license-info {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        padding: 0 20px;
        height: $licenseInfoHeight;
        ::ng-deep span {
            color: $textLight;
        }
        font-size: 90%;
        @include clickable();
    }
}
