@if (show) {
<div class="dialog darken" [@fade]="show" (click)="hide()"></div>
} @if (show) {
<div class="sidebar" [@fromLeft]="show" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div class="main">
    <button mat-icon-button class="close" (click)="hide()">
      <i esIcon="close" [aria]="true"></i>
    </button>
    <!-- We should get loginInfo in any case, but it might not be ready from the start. -->
    @if (loginInfo) {
    <div class="top" style.background-color="{{ currentUser || null | authorityColor }}">
      <div class="profile-gradient"></div>
      @if (currentUser?.profile?.avatar) {
      <img
        class="blurred-image"
        [src]="currentUser.profile.avatar + '&crop=true&width=200&height=200'"
      />
      } @if (currentUser) {
      <div class="profile">
        <ng-template #userAvatar>
          <es-user-avatar [user]="currentUser" size="medium"></es-user-avatar>
          <div id="main-menu-sidebar-username" class="username">
            @if (currentUser && !loginInfo.isGuest) {
            {{ currentUser | authorityName }}
            } @if (loginInfo.isGuest) {
            {{ 'USER_GUEST' | translate }}
            }
          </div>
        </ng-template>
        @if (!loginInfo.isGuest) {
        <a
          cdkMonitorElementFocus
          [routerLink]="['/' + ROUTER_PREFIX + 'profiles', ME]"
          [attr.aria-label]="'PROFILES.TITLE_NAV' | translate"
          aria-describedby="main-menu-sidebar-username"
          (click)="hide()"
          ><ng-container *ngTemplateOutlet="userAvatar"></ng-container
        ></a>
        } @else {
        <es-user-avatar [user]="currentUser" size="medium"></es-user-avatar>
        <div id="main-menu-sidebar-username" class="username">
          @if (currentUser && !loginInfo.isGuest) {
          {{ currentUser | authorityName }}
          } @if (loginInfo.isGuest) {
          {{ 'USER_GUEST' | translate }}
          }
        </div>
        }
      </div>
      }
    </div>
    }
    <es-main-menu-buttons
      [currentScope]="currentScope"
      (entryClicked)="hide()"
    ></es-main-menu-buttons>
  </div>
  <div class="license-info">
    <button mat-button class="mat-button-no-uppercase" (click)="onShowLicenses()">
      {{ 'LICENSE_INFORMATION' | translate }}
    </button>
  </div>
</div>
}
