<spinner *ngIf="loading"></spinner>
<div class="done-info" *ngIf="!loading">
    <img *ngIf="inputState != 'done-request'" src="assets/images/register/register-conform.svg" alt="register-done">
    <img *ngIf="inputState == 'done-request'" src="assets/images/register/register-done.svg" alt="request-done">
    <h3> {{'REGISTER.DONE.TITLE' | translate}} </h3>
    <p class="mail-info">{{'REGISTER.DONE.MAIL_INFO' | translate }} <span (click)='editMail()'>{{email}} <i *ngIf="!keyUrl" class='material-icons'>edit</i></span> {{'REGISTER.DONE.MAIL_INFO2' | translate }}</p>
    <p>{{(inputState=='done-request' ? 'REGISTER.REQUEST' : 'REGISTER.DONE')+'.MAIL_NOTE' | translate}}</p>
    <div *ngIf="!keyUrl" class="keyForm">
        <form (ngSubmit)="keyInput.trim() ? activate(keyInput) : null">
            <input type="text" placeholder="{{'REGISTER.DONE.KEY_PL' | translate}}" id="key" name="key" [(ngModel)]="keyInput">
            <div class="input-hint-bottom">{{'REGISTER.DONE.ACTIVATE_HINT' | translate}}</div>
        </form>

    </div>

    <b>{{'REGISTER.DONE.NO_MAIL' | translate }}</b>
    <small>{{'REGISTER.DONE.NO_MAIL_INFO' | translate }}</small>
    <a *ngIf="!keyUrl" class="send-mail" (click)="sendMail()">{{'REGISTER.DONE.SEND_MAIL' | translate }}</a>
</div>