@import "../../../../styles/variables.scss";

.actionbar{

}
.actionAlways,.more{
  float:right;
  padding:0 15px;
  color:$primary;
  @include clickable();
}
.moreOpen{
  position:absolute;
  right:20px;
  width:200px;
  padding:0!important;
}
.more{
  padding-left:5px;
}
.more a{
  color:$primary;
}
.actionAlwaysCaption{
  position: relative;
  top:-3px;
}
.disabled,.disabled a{
  color:$textLight!important;
  cursor:default;
}
@media screen and (max-width: ($mobileWidth+$mobileStage*4)){
  .actionAlwaysCaption{
    display: none;
  }
}
