$expandToggleWidthThreshold: 400px;

app-input-fill-progress {
    display: flex;
    min-width: 200px;
    height: 36px;
}

:host ::ng-deep app-mds-editor-core {
    .extended-toggle-container {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #f7f7f7;
        @media only screen and (min-width: $expandToggleWidthThreshold) {
            z-index: 11;
            height: 0;
            background-color: unset;
        }
        .extended-toggle {
            padding-right: 10px;
            height: 45px;
        }
    }
    .heading {
        margin: 0;
        position: sticky;
        top: 0;
        z-index: 10;
        border-bottom: 1px solid #eee;
        font-size: 130%;
        font-weight: normal;
        // padding: 12px 17px;
        // background-color: #f7f7f7;
    }
    .content {
        margin: 25px;
    }
}
