@import '../../../../core-ui-module/styles/variables';

$expandToggleWidthThreshold: 400px;

es-input-fill-progress {
    display: flex;
    min-width: 200px;
    height: 36px;
}

:host ::ng-deep es-mds-editor-core {
    --mds-content-padding: 25px;
    .extended-toggle-container {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #f7f7f7;
        @media only screen and (min-width: $expandToggleWidthThreshold) {
            z-index: 11;
            height: 0;
            background-color: unset;
        }
        .extended-toggle {
            padding: 0 10px 0 25px;
            height: 39px;
            background: linear-gradient(to right,rgba(red($workspaceMetadataBackground),green($workspaceMetadataBackground),blue($workspaceMetadataBackground),0.0001) 0,$workspaceMetadataBackground 15px);
        }
    }
    .heading {
        margin: 0;
        position: sticky;
        top: 0;
        z-index: 10;
        border-bottom: 1px solid #eee;
        font-size: 130%;
        font-weight: normal;
        // padding: 12px 17px;
        // background-color: #f7f7f7;
    }
}
