@use '../../mds-mixins' as mds;
$button-margin-horizontal: 20px;
$button-margin-vertical: 10px;

mat-radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$button-margin-horizontal;
    padding: 5px 20px;
    &.vertical {
        flex-direction: column;
    }
    &.expandable {
        margin-top: -8px;
        padding: 0 8px;
    }
    mat-radio-button {
        &.isAiSuggestion {
            --mat-radio-label-text-color: var(--aiColor);
            @include mds.highlightAiText();
        }
    }
}

mat-radio-button.mat-mdc-radio-button {
    margin-right: $button-margin-horizontal;
    ::ng-deep {
        .mdc-radio {
            --mat-radio-state-layer-size: 32px;
        }
    }
}
