$button-margin-horizontal: 20px;
$button-margin-vertical: 10px;

mat-radio-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$button-margin-horizontal;
    padding: 5px 20px;
    &.vertical {
        flex-direction: column;
    }
}

mat-radio-button.mat-mdc-radio-button {
    margin-right: $button-margin-horizontal;
    ::ng-deep {
        .mdc-radio {
            --mdc-radio-state-layer-size: 32px;
        }
    }
}
