<div class="dialog darken" *ngIf="show" [@fade]="show" (click)="hide()"></div>

<div class="sidebar" *ngIf="show" [@fromLeft]="show" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div class="main">
    <button mat-button class="close" (click)="hide()">
      <i icon iconId="close" aria="true"></i>
    </button>
    <div class="top" style.background-color="{{ (user ? user.person : null) | authorityColor }}">
      <div class="profile-gradient"></div>
      <img
        *ngIf="user && user.person.profile.avatar"
        class="blurred-image"
        [src]="user.person.profile.avatar + '&crop=true&width=200&height=200'"
      />
      <div class="profile">
        <user-avatar
          *ngIf="user"
          [user]="user.person"
          [size]="'medium'"
          class="clickable"
          (click)="onOpenProfile()"
        ></user-avatar>
        <div *ngIf="user && !loginInfo.isGuest">{{ username }}</div>
        <div *ngIf="loginInfo.isGuest">{{ 'USER_GUEST' | translate }}</div>
      </div>
    </div>
    <button
      *ngFor="let entry of entries$ | async"
      mat-button
      color="primary"
      class="entry mat-button-no-uppercase"
      [class.selected]="currentScope === entry.scope"
      (click)="entry.open()"
      [class.collection-item-separate]="entry.isSeparate"
      [class.clickable]="!entry.isDisabled"
      [class.disabled]="entry.isDisabled"
      title="{{ 'GOTO' | translate }} {{ entry.name | translate }}"
    >
      <i *ngIf="entry.icon" class="material-icons align-icon">{{ entry.icon }}</i>
      <span>{{ entry.name | translate }}</span>
    </button>
  </div>
  <div class="license-info">
    <button mat-button class="mat-button-no-uppercase" (click)="onShowLicenses()">
      {{ 'LICENSE_INFORMATION' | translate }}
    </button>
  </div>
</div>
