@import '../../../core-ui-module/styles/variables';
.groups-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.groups-template-select {
    display: flex;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
    ::ng-deep .mat-form-field-wrapper {
        width: 100%;
    }
}
.modes {
    display: flex;
    flex-direction: column;
    align-items: center;
    > button {
        margin: 20px 0;
    }
    > mat-form-field {
        width: 100%;
        max-width: 500px;
    }
    .group-multi {
        display: flex;
    }
    .group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        > * {
            padding: 0 10px;
        }
        mat-label {
            font-weight: bold;
            color: $textLight;
        }
        mat-radio-group {
            display: flex;
            flex-direction: column;
            .mat-radio-button {
                padding: 5px 0;
            }
        }
    }
}
.calendars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
        padding: 10px;
        margin: 15px;
        background-color: #fff;
        @include materialShadow();
        text-align: center;
        mat-calendar {
            width: 220px;
        }
    }
}
canvas {
    max-width: 100%;
    padding: 0 20px;
}
es-listTable {
    width: 100%;
}
.single-data-table,
.custom-group-data-table {
    margin: 20px 0;
    max-height: 70vh;
    overflow: auto;
    .mat-cell,
    .mat-header-cell {
        padding: 0 10px;
        > span {
            @include limitLineCount(2, 1.5);
            display: flex;
            flex-direction: column;
        }
    }
}
.stats-grouped,
.stats-nodes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats-archived-table {
    > es-info-message {
        display: flex;
        margin: 20px 0;
    }
    .empty {
        color: $textLight;
        font-size: 110%;
        padding: 20px;
        text-align: center;
    }
}

.export {
    padding: 0 30px 20px 20px;
    > h4 {
        > span {
            flex-grow: 1;
        }
    }
    > div {
        display: flex;
        flex-direction: column;
        padding: 10px 5%;
        width: 100%;
        > mat-form-field {
            margin-bottom: 20px;
        }
    }
}
:host ::ng-deep {
    .mat-tab-body {
        padding: 0 20px;
        &,
        .mat-tab-body-content {
            overflow: visible !important;
            width: 100%;
        }
    }
}
