<mat-tab-group mat-stretch-tabs [(selectedIndex)]="currentTab">
  @if (_mediacenter) {
  <mat-tab label="{{ 'ADMIN.STATISTICS.ARCHIVED' | translate }}">
    <div class="stats-archived-table">
      <es-info-message mode="info">
        {{ 'ADMIN.STATISTICS.ARCHIVED_INFO' | translate }}
      </es-info-message>
      <es-node-entries-wrapper
        [elementInteractionType]="InteractionType.Emitter"
        [displayType]="NodeEntriesDisplayType.Table"
        [dataSource]="archivedNodesDataSource"
        [checkbox]="false"
        [columns]="archivedNodesColumns"
        (clickItem)="downloadArchivedNode($event.element)"
      >
        <ng-template #empty>
          <div class="empty">
            {{ 'ADMIN.STATISTICS.ARCHIVED_EMPTY' | translate }}
          </div>
        </ng-template>
      </es-node-entries-wrapper>
    </div>
  </mat-tab>
  }
  <mat-tab label="{{ 'ADMIN.STATISTICS.GROUPED' | translate }}" class="stats-grouped">
    <div class="modes">
      <mat-form-field>
        <mat-label>{{ 'ADMIN.STATISTICS.GROUP_BY' | translate }}</mat-label>
        <mat-select [(ngModel)]="groupedMode">
          <mat-option value="Daily">{{ 'ADMIN.STATISTICS.GROUP_DAILY' | translate }}</mat-option>
          <mat-option value="Monthly">{{
            'ADMIN.STATISTICS.GROUP_MONTHLY' | translate
          }}</mat-option>
          <mat-option value="Yearly">{{ 'ADMIN.STATISTICS.GROUP_YEARLY' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="calendars">
        <div>
          <mat-label>{{ 'ADMIN.STATISTICS.FROM' | translate }}</mat-label>
          <mat-calendar [(selected)]="groupedStart" [maxDate]="groupedEnd"></mat-calendar>
        </div>
        <div>
          <mat-label>{{ 'ADMIN.STATISTICS.TO' | translate }}</mat-label>
          <mat-calendar
            [(selected)]="groupedEnd"
            [minDate]="groupedStart"
            [maxDate]="today"
          ></mat-calendar>
        </div>
      </div>
    </div>
    @if (groupedLoading) {
    <es-spinner></es-spinner>
    } @if (groupedNoData) {
    <h5 class="mat-heading-5">
      {{ 'ADMIN.STATISTICS.NO_DATA' | translate }}
    </h5>
    }
    <canvas #groupedChart [class.display-none]="groupedLoading || groupedNoData"></canvas>
  </mat-tab>
  <mat-tab label="{{ 'ADMIN.STATISTICS.CUSTOM_GROUPS' | translate }}" class="stats-custom-groups">
    <mat-form-field class="groups-template-select">
      <mat-label>{{ 'ADMIN.STATISTICS.GROUP_TEMPLATE_LABEL' | translate }}</mat-label>
      <mat-select
        [(ngModel)]="currentTemplate"
        (ngModelChange)="applyTemplate($event)"
        [name]="currentTemplate?.name"
      >
        @for (templates of groupModeTemplates; track templates) {
        <mat-option [value]="templates">
          {{ 'ADMIN.STATISTICS.GROUP_TEMPLATE.' + templates.name | translate }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="groups-button">
      <button mat-button color="primary" (click)="toggleModes()">
        {{ 'ADMIN.STATISTICS.GROUPS_ADVANCED' | translate }}
        <i esIcon="keyboard_arrow_{{ showModes ? 'up' : 'down' }}"></i>
      </button>
    </div>
    <div class="modes" [class.display-none]="!showModes" [@dialog]="showModes">
      <div class="group-multi">
        <div class="group">
          <mat-label>{{ 'ADMIN.STATISTICS.CUSTOM_GROUP_MODE' | translate }}</mat-label>
          <mat-radio-group [(ngModel)]="customGroup">
            @for (group of customGroups; track group) {
            <mat-radio-button value="{{ group }}">{{
              'ADMIN.STATISTICS.HEADERS.' + group | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
        <div class="group">
          <mat-label>{{ 'ADMIN.STATISTICS.CUSTOM_UNFOLD_MODE' | translate }}</mat-label>
          <mat-radio-group [(ngModel)]="customUnfold">
            <mat-radio-button value="">{{
              'ADMIN.STATISTICS.UNFOLD_NONE' | translate
            }}</mat-radio-button>
            @for (group of customGroups; track group) {
            <mat-radio-button value="{{ group }}" [disabled]="group === customGroup">{{
              'ADMIN.STATISTICS.HEADERS.' + group | translate
            }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
      </div>
      @if (nodesPermission && userPermission) {
      <div class="group">
        <mat-label>{{ 'ADMIN.STATISTICS.SINGLE_MODE' | translate }}</mat-label>
        <mat-radio-group [(ngModel)]="customGroupMode">
          <mat-radio-button value="NODES">{{
            'ADMIN.STATISTICS.MODE_NODES' | translate
          }}</mat-radio-button>
          <mat-radio-button value="USERS">{{
            'ADMIN.STATISTICS.MODE_USERS' | translate
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
      }
    </div>
    <div class="calendars">
      <div>
        <mat-label>{{ 'ADMIN.STATISTICS.FROM' | translate }}</mat-label>
        <mat-calendar [(selected)]="customGroupStart" [maxDate]="customGroupEnd"></mat-calendar>
      </div>
      <div>
        <mat-label>{{ 'ADMIN.STATISTICS.TO' | translate }}</mat-label>
        <mat-calendar
          [(selected)]="customGroupEnd"
          [minDate]="customGroupStart"
          [maxDate]="today"
        ></mat-calendar>
      </div>
    </div>
    @if (customGroupLoading) {
    <es-spinner></es-spinner>
    }
    <div class="custom-group-data-table">
      @if (customGroupData && !customGroupLoading) {
      <mat-table
        [dataSource]="customGroupData"
        [class.mat-table-clickable]="singleMode === 'NODES'"
      >
        @for (key of customGroupRows; track key) {
        <ng-container [matColumnDef]="key">
          <mat-header-cell *matHeaderCellDef>
            @if (key === 'action' || key === 'count' || key === customGroup) {
            <span>{{ 'ADMIN.STATISTICS.HEADERS.' + key | translate }}</span>
            } @if (!(key === 'action' || key === 'count' || key === customGroup)) {
            <span>{{ customGroupLabels[key] || key }}</span>
            }
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            @if (key === 'action') {
            <span>{{ 'ADMIN.STATISTICS.ACTIONS.' + element[key] | translate }}</span>
            } @if (key === 'count') {
            <span>{{ element[key] }}</span>
            } @if (key === customGroup) {
            <span>{{ element.displayValue }}</span>
            } @if (!(key === 'action' || key === 'count' || key === customGroup)) {
            <span>{{
              element.entry.groups[element['action']]
                ? element.entry.groups[element['action']][customUnfold][key]
                : 0
            }}</span>
            }
          </mat-cell>
        </ng-container>
        }
        <mat-header-row *matHeaderRowDef="customGroupRows; sticky: true"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: customGroupRows"></mat-row>
      </mat-table>
      }
    </div>
  </mat-tab>
  <mat-tab label="{{ 'ADMIN.STATISTICS.NODES' | translate }}" class="stats-nodes">
    @if (nodesMode) {
    <!-- "by object" panel: choose a content source, a time range and run the evaluation -->
    <div class="stats-nodes-view">
      <div class="source-selection">
        <h4 class="mat-heading-4">
          {{ 'ADMIN.STATISTICS.SOURCE_TITLE' | translate }}
        </h4>
        <mat-radio-group class="source-group" [(ngModel)]="contentSource">
          @if (hasSelectedNodes) {
          <mat-radio-button value="selected">
            {{ 'ADMIN.STATISTICS.SOURCE_SELECTED' | translate }}
          </mat-radio-button>
          @if (contentSource === 'selected') {
          <div class="selected-nodes">
            @if (selectedNodesDataSource.isLoading) {
            <es-spinner></es-spinner>
            } @else {
            <es-node-entries-wrapper
              [scope]="Scope.Admin"
              [dataSource]="selectedNodesDataSource"
              [elementInteractionType]="InteractionType.Emitter"
              [checkbox]="false"
              [showActions]="false"
              [displayType]="NodeEntriesDisplayType.Table"
              [columns]="columnsSelectedNodes"
              (clickItem)="openNode.emit($event)"
            ></es-node-entries-wrapper>
            }
          </div>
          } } @if ('TOOLPERMISSION_USER_STATISTICS_NODES' | esToolpermission | async) {
          <mat-radio-button value="my">
            {{ 'ADMIN.STATISTICS.SOURCE_MY' | translate }}
          </mat-radio-button>
          } @if ( ('TOOLPERMISSION_ORGANIZATION_STATISTICS_NODES' | esToolpermission | async) &&
          organizations.length > 0 ) {
          <mat-radio-button value="org">
            {{ 'ADMIN.STATISTICS.SOURCE_ORG' | translate }}
          </mat-radio-button>
          } @if (contentSource === 'org' && organizations.length > 1) {
          <div class="org-suboptions">
            <mat-radio-group [(ngModel)]="selectedOrg">
              @for (org of organizations; track org.authorityName) {
              <mat-radio-button [value]="org.authorityName">
                {{ org.profile?.displayName || org.authorityName }}
              </mat-radio-button>
              }
            </mat-radio-group>
          </div>
          } @if ('TOOLPERMISSION_GLOBAL_STATISTICS_NODES' | esToolpermission | async) {
          <mat-radio-button value="all">
            {{ 'ADMIN.STATISTICS.SOURCE_ALL' | translate }}
          </mat-radio-button>
          }
        </mat-radio-group>

        <!-- object type + "published only" are not applicable to the global "all content" source -->
        @if (contentSource !== 'all') {
        <div class="object-type">
          <h4 class="mat-heading-4">{{ 'ADMIN.STATISTICS.OBJECT_TYPE_TITLE' | translate }}</h4>
          <mat-radio-group class="type-group" [(ngModel)]="objectType">
            <mat-radio-button value="ALL">
              {{ 'ADMIN.STATISTICS.OBJECT_TYPE_ALL' | translate }}
            </mat-radio-button>
            <mat-radio-button value="COLLECTIONS">
              {{ 'ADMIN.STATISTICS.OBJECT_TYPE_COLLECTIONS' | translate }}
            </mat-radio-button>
            <mat-radio-button value="FILES">
              {{ 'ADMIN.STATISTICS.OBJECT_TYPE_CONTENT' | translate }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-slide-toggle class="source-only-public" [(ngModel)]="onlyPublic">
          {{ 'ADMIN.STATISTICS.SOURCE_ONLY_PUBLIC' | translate }}
        </mat-slide-toggle>
        }

        <es-timeframe-range-toggle
          class="period-range"
          [rangeOptions]="nodesRangeOptions"
          [selectedRange]="selectedNodesRange"
          (rangeChange)="changeNodesRange($event)"
        ></es-timeframe-range-toggle>
        <div class="calendars">
          <div>
            <mat-calendar
              [selected]="nodesRange"
              (selectedChange)="selectNodesRange($event)"
              [maxDate]="today"
            ></mat-calendar>
          </div>
        </div>

        <div class="start-button">
          <button
            mat-flat-button
            color="primary"
            (click)="refreshNodes()"
            [disabled]="nodesDataSource?.isLoading"
          >
            {{ 'ADMIN.STATISTICS.NODES_APPLY' | translate }}
          </button>
        </div>
      </div>

      @if (nodesDataSource !== null) { @if (nodesDataSource.isLoading) {
      <es-spinner></es-spinner>
      } @if (nodesNoData && !nodesDataSource.isLoading) {
      <h5 class="mat-heading-5 no-data">{{ 'ADMIN.STATISTICS.NO_DATA' | translate }}</h5>
      } @if (!nodesNoData && !nodesDataSource.isLoading) {
      <es-node-entries-wrapper
        [scope]="Scope.Admin"
        [dataSource]="nodesDataSource"
        [tableConfig]="{ dataColumnLayout: 'scroll' }"
        [elementInteractionType]="InteractionType.Emitter"
        [checkbox]="false"
        [showActions]="false"
        [displayType]="NodeEntriesDisplayType.Table"
        [columns]="columns"
        (clickItem)="openNode.emit($event)"
      ></es-node-entries-wrapper>
      } }
      <div class="export">
        <h4
          class="mat-heading-4 mat-heading-underline clickable"
          (click)="showExport = !showExport"
        >
          <i esIcon="cloud_download"></i>
          <span>{{ 'ADMIN.STATISTICS.EXPORT_LABEL' | translate }}</span>
          <i [esIcon]="'keyboard_arrow_' + (showExport ? 'up' : 'down')"></i>
        </h4>
        @if (showExport) {
        <div [@overlay]="showExport">
          <es-info-message mode="info">
            {{ 'ADMIN.STATISTICS.EXPORT_INFO' | translate }}
          </es-info-message>
          @if ((null | esGlobalAdmin | async)) {
          <div>
            <mat-button-toggle-group
              class="export-properties-mode"
              [(ngModel)]="exportPropertiesMode"
            >
              <mat-button-toggle value="input">
                {{ 'ADMIN.STATISTICS.EXPORT_PROPERTIES_MODE_INPUT' | translate }}
              </mat-button-toggle>
              <mat-button-toggle value="list">
                {{ 'ADMIN.STATISTICS.EXPORT_PROPERTIES_MODE_LIST' | translate }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          } @if ((null | esGlobalAdmin | async) && exportPropertiesMode === 'input') {
          <mat-form-field>
            <mat-label>{{ 'ADMIN.STATISTICS.EXPORT_PROPERTIES' | translate }}</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="6"
              [(ngModel)]="exportProperties"
            ></textarea>
            <mat-hint>{{ 'ADMIN.STATISTICS.EXPORT_PROPERTIES_HINT' | translate }}</mat-hint>
          </mat-form-field>
          } @else {
          <div class="export-properties-list">
            @for (column of availableExportColumns; track column.name) {
            <mat-checkbox
              [checked]="isExportColumnSelected(column)"
              (change)="toggleExportColumn(column, $event.checked)"
            >
              {{ column | esListItemLabel | async }}
            </mat-checkbox>
            }
          </div>
          }
          <div class="actions">
            <button mat-raised-button color="primary" (click)="startExport()">
              {{ 'ADMIN.STATISTICS.EXPORT_REQUEST' | translate }}
            </button>
            <button
              mat-button
              color="primary"
              [disabled]="exportProperties === exportPropertiesDefault"
              (click)="resetExportProperties()"
            >
              {{ 'ADMIN.STATISTICS.EXPORT_PROPERTIES_RESET' | translate }}
            </button>
          </div>
        </div>
        }
      </div>
    </div>
    } @else {
    <!-- global / mediacenter "by object" statistics -->
    @if (_mediacenter) {
    <es-info-message>
      {{ 'ADMIN.STATISTICS.NODES_MEDIACENTER_INFO' | translate }}
    </es-info-message>
    }
    <!-- only hide to prevent mat-calendar to reset view -->
    <div class="modes" [@overlay]="!nodesDataSource?.isLoading">
      <div class="calendars">
        <div>
          <mat-label>{{ 'ADMIN.STATISTICS.FROM' | translate }}</mat-label>
          <mat-calendar [(selected)]="nodesStart" [maxDate]="nodesEnd"></mat-calendar>
        </div>
        <div>
          <mat-label>{{ 'ADMIN.STATISTICS.TO' | translate }}</mat-label>
          <mat-calendar
            [(selected)]="nodesEnd"
            [minDate]="nodesStart"
            [maxDate]="today"
          ></mat-calendar>
        </div>
      </div>
      <button
        mat-flat-button
        color="primary"
        (click)="refreshNodes()"
        [disabled]="nodesDataSource?.isLoading"
      >
        {{ 'ADMIN.STATISTICS.NODES_APPLY' | translate }}
      </button>
    </div>
    @if (nodesDataSource !== null) { @if (!nodesNoData && !nodesDataSource?.isLoading) {
    <div class="export">
      <h4 class="mat-heading-4 mat-heading-underline clickable" (click)="showExport = !showExport">
        <i esIcon="cloud_download"></i>
        <span>{{ 'ADMIN.STATISTICS.EXPORT_LABEL' | translate }}</span>
        <i [esIcon]="'keyboard_arrow_' + (showExport ? 'up' : 'down')"></i>
      </h4>
      @if (showExport) {
      <div [@overlay]="showExport">
        <mat-form-field>
          <mat-label>{{ 'ADMIN.STATISTICS.EXPORT_PROPERTIES' | translate }}</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="4"
            cdkAutosizeMaxRows="6"
            [(ngModel)]="exportProperties"
          ></textarea>
          <mat-hint>{{ 'ADMIN.STATISTICS.EXPORT_PROPERTIES_HINT' | translate }}</mat-hint>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="export()">
            {{ 'ADMIN.STATISTICS.EXPORT' | translate }}
          </button>
        </div>
      </div>
      }
    </div>
    } @if (nodesNoData && !nodesDataSource.isLoading) {
    <h5 class="mat-heading-5">
      {{ 'ADMIN.STATISTICS.NO_DATA' | translate }}
    </h5>
    } @if (!(nodesNoData && !nodesDataSource.isLoading)) {
    <es-node-entries-wrapper
      [scope]="Scope.Admin"
      [dataSource]="nodesDataSource"
      [tableConfig]="{ dataColumnLayout: 'scroll' }"
      [elementInteractionType]="InteractionType.Emitter"
      [checkbox]="false"
      [displayType]="NodeEntriesDisplayType.Table"
      [columns]="columns"
      (clickItem)="openNode.emit($event)"
    ></es-node-entries-wrapper>
    } @if (!nodesNoData) {
    <es-info-message>
      {{ 'ADMIN.STATISTICS.SLICE_INFO_DOWNLOAD' | translate }}
    </es-info-message>
    } } }
  </mat-tab>
</mat-tab-group>

@if ( !hasSelectedNodes && ((currentTab === 0 && !groupedLoading) || (currentTab === 1 &&
!customGroupLoading)) ) {
<div class="export">
  <h4 class="mat-heading-4 mat-heading-underline">
    <i esIcon="cloud_download"></i>{{ 'ADMIN.STATISTICS.EXPORT_LABEL' | translate }}
  </h4>
  <div>
    <div>
      <button mat-raised-button color="primary" (click)="export()">
        {{ 'ADMIN.STATISTICS.EXPORT' | translate }}
      </button>
    </div>
  </div>
</div>
}
