@use '@angular/material' as mat;
@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;

$iconContainerHeight: 80px;
$tileSize: 124px;

:host {
    display: flex;
    flex-direction: column;
}

@keyframes jiggle {
    0%,
    100% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
}

.entries-container {
    --menu-padding: 16px;
    margin: 0 auto;
    position: relative;
    padding-top: var(--menu-padding);
    padding-bottom: var(--menu-padding);
    width: 100%;
    background: var(--landingPageShortcutBackground);
    color: var(--workspaceTopBarFontColor);
    // center tiles-wrapper with text-align, as inline-flex is used
    text-align: center;
    box-shadow: 0 2px 2px 0 #0000001a;

    .entries-wrapper {
        // the padding is important to not be able to scroll at every dimension
        padding: var(--menu-padding);
        display: inline-flex;
        flex-direction: row;
        // note: avoid adding "align-items: center" and "justify-content: center",
        //       as it conflicts with the horizontal scrolling
        gap: 24px;
        overflow-x: auto;
        box-sizing: content-box;
        // hint: use content-box here to prevent the scrollbar from destroying the layout
        //       manually subtract the padding set
        max-width: calc(100% - 2 * var(--menu-padding));

        &.flex-wrap {
            display: grid;
            grid-template-columns: repeat(auto-fit, $tileSize);
            justify-content: center;
        }
    }

    .scroll-fade {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 100%;
        background: linear-gradient(
            to left,
            var(--landingPageShortcutBackground),
            rgba(0, 0, 0, 0)
        );
    }
}

// place element outside entries-container / wrapper to also apply the style during drag and drop
.entry-card {
    // https://stackoverflow.com/a/68382653
    flex-shrink: 0 !important;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: $tileSize;
    height: $tileSize;
    color: var(--landingPageShortcutTileColor);
    background-color: var(--landingPageShortcutTileBackground);
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);

    &.drag-indicator {
        cursor: grab;
    }

    // display the entry menu button on hover, in mobile edit mode or when it is the selected entry
    &:hover,
    &.mobile-edit-mode,
    &.selected-entry {
        .entry-menu-button {
            opacity: 1 !important;
            pointer-events: auto !important;
        }
    }

    // display the entry menu button on focus
    .entry-menu-button:focus {
        opacity: 1 !important;
        pointer-events: auto !important;
    }

    // on hover, change the background color and slightly move the title
    &:hover {
        //background-color: #f4f4f4;

        .entry-title-wrapper {
            padding-top: 4px;
            padding-bottom: 6px;
        }
    }

    // jiggle animation in mobile edit mode
    &.mobile-edit-mode {
        animation: jiggle 0.3s infinite;
    }

    // stop animation on drag-preview, as it will break the layout
    // however, the same behavior is done on iPhone home screen
    &.cdk-drag-preview {
        animation: none !important;
    }

    // apply different styles for the [new] button
    &.empty {
        background: unset;
        border: 2px dashed var(--landingPageShortcutNewColor);
        border-radius: 8px;
        box-shadow: none;
        cursor: pointer;
        user-select: none;

        &.disabled {
            cursor: not-allowed;
            border-color: #ccc;

            .entry-icon-wrapper .entry-icon {
                color: #ccc;
            }
        }

        .entry-icon-wrapper {
            height: 100%;
            align-items: center;

            .entry-icon {
                color: var(--landingPageShortcutNewColor);
                filter: brightness(100%);
            }
        }
    }

    // badge for new items
    .entry-badge {
        padding: 2px 6px;
        position: absolute;
        top: 8px;
        right: 8px;
        min-width: 20px;
        border-radius: 50%;
        text-align: center;
        font-size: $fontSizeXSmall;
        color: #fff;
        background-color: var(--warning);
    }

    // wrapper for the main icon of the entry
    .entry-icon-wrapper {
        height: $iconContainerHeight;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .entry-icon {
            font-size: 48px;
            // height + width are necessary for img to be resized properly
            height: 1em;
            width: 1em;
        }

        // convert SVG icons to white
        img.entry-icon {
            filter: brightness(0) invert(1);
        }
    }

    // wrapper for the title of the entry
    .entry-title-wrapper {
        padding: 6px 8px 4px 8px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc($tileSize - $iconContainerHeight);
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: padding-bottom 0.2s;

        // reset padding top and bottom to properly fit the mat-form-field
        &.reset-padding {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .entry-title {
            max-height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: $fontSizeSmall;
            font-weight: 700;
            line-height: 1.2;
            // fix line-height cuts off text on last row
            padding-bottom: 2px;
            text-align: center;
            color: var(--landingPageShortcutTileColor);

            .rename-node-title {
                @include mat.form-field-overrides(
                    (
                        outlined-label-text-color: var(--landingPageShortcutTileColor),
                        outlined-hover-label-text-color: var(--landingPageShortcutTileColor),
                        outlined-focus-label-text-color: var(--landingPageShortcutTileColor),
                        outlined-input-text-color: var(--landingPageShortcutTileColor),
                        outlined-outline-color: var(--landingPageShortcutTileColor),
                        outlined-hover-outline-color: var(--landingPageShortcutTileColor),
                        outlined-focus-outline-color: var(--landingPageShortcutTileColor),
                    )
                );

                input {
                    max-width: 100px;
                    caret-color: var(--landingPageShortcutTileColor);
                    color: var(--landingPageShortcutTileColor);
                    font-size: $fontSizeSmall;
                    font-weight: 700;
                    line-height: 1.2;
                }

                // guarantee floating label stays in the correct color + font weight
                &:not(.mat-form-field-disabled) ::ng-deep .mdc-floating-label {
                    font-weight: 700;
                    color: var(--landingPageShortcutTileColor) !important;
                }
            }
        }
    }

    // the menu button of the entry
    .entry-menu-button {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 2;
        //background-color: rgba(128, 128, 128, 0.3);
        width: 32px;
        height: 32px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: var(--transitionNormal) all;
        pointer-events: none; // verhindert versehentliche Klicks im Normalzustand

        .mat-icon {
            font-size: 20px;
        }
    }
}

.entries-expand-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;

    .line {
        flex: 1;
        height: 1px;
        background-color: #ccc;
        margin: 0 8px;
    }

    .icon-text {
        display: flex;
        align-items: center;
        gap: 8px;
        white-space: nowrap;
        color: var(--landingPageShortcutNewColor);
    }

    .icon {
        font-size: 12px;
        transform: translateY(1px); // slight alignment tweak
    }
}

// dummy dropdown element for the contextMenu positioning
.dropdown-dummy {
    position: fixed;
}

// quickfix for now - replace by es-dropdown, if possible
::ng-deep .add-shortcut-entry-menu {
    .mat-mdc-menu-item .mat-icon {
        font-size: 24px;
    }
    .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
    }
}

// override form-field max-width + add padding-top to properly show label
::ng-deep .rename-node-title {
    padding-top: 8px;
    max-width: 100%;

    // decrease paddings inside input
    .mat-mdc-text-field-wrapper {
        padding-left: 8px;
        padding-right: 8px;
    }

    // decrease size of input field
    .mat-mdc-form-field-infix {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
}
