<es-info-message *ngIf="openedInModal()" mode="info">
  <ng-container *ngIf="!nodeIncluded(); else nodeAlreadyIncluded">
    <ng-container *ngIf="entries.length < maxItems; else nodeReplace">
      {{ i18nPrefix + 'MODAL_HINT_ADD_REPLACE' | translate }}
    </ng-container>
    <ng-template #nodeReplace>
      {{ i18nPrefix + 'MODAL_HINT_REPLACE' | translate }}
    </ng-template>
  </ng-container>
  <ng-template #nodeAlreadyIncluded>
    {{ i18nPrefix + 'MODAL_HINT_INCLUDED' | translate }}
  </ng-template>
</es-info-message>

<div #entriesContainer class="entries-container">
  <div
    #entriesWrapper
    class="entries-wrapper"
    [class.flex-wrap]="viewExpanded()"
    cdkDropList
    cdkDropListOrientation="mixed"
    (cdkDropListDropped)="drop($event)"
    (click)="mobileEditMode = false"
  >
    <ng-container *ngIf="entries.length < maxItems && entriesOverflow()">
      <ng-container *ngTemplateOutlet="addNewEntry"></ng-container>
    </ng-container>
    <ng-container *ngFor="let entry of entries; let i = index">
      <mat-card
        *ngIf="i < maxItems"
        role="button"
        class="entry-card"
        [class.drag-indicator]="!entriesOverflow() || viewExpanded()"
        [class.mobile-edit-mode]="mobileEditMode"
        [class.selected-entry]="i === selectedEntryIndex"
        cdkDrag
        [cdkDragDisabled]="entriesOverflow() && !viewExpanded()"
        (cdkDragEnded)="onDragEnd()"
        (cdkDragStarted)="onDragStart($event)"
        (touchstart)="onPressStart()"
        (touchend)="onPressEnd()"
        (mousedown)="onPressStart()"
        (mouseup)="onPressEnd()"
        (contextmenu)="openContextMenu(i, $event)"
        (click)="entryClicked(entry, i, $event)"
      >
        <button
          mat-icon-button
          class="entry-menu-button"
          [matMenuTriggerFor]="dropdown.menu"
          (click)="setSelectedMenuIndex(i, $event)"
          [attr.aria-label]="
            i18nPrefix + 'OPTIONS_FOR'
              | translate : { element: (entry | shortcutEntryTitle : i : i18nPrefix | async) }
          "
        >
          <i esIcon="more_vert"></i>
        </button>
        <div class="entry-badge" *ngIf="entry.updates > 0">
          {{ entry.updates }}
        </div>
        <div class="entry-icon-wrapper" cdkDragHandle>
          <i
            *ngIf="entry.node?.icon?.fontGlyphId || entry.icon; else previewNode"
            [esIcon]="entry.node?.icon?.fontGlyphId || entry.icon"
            class="entry-icon"
          ></i>
          <ng-template #previewNode>
            <img
              *ngIf="entry.node"
              class="entry-icon"
              [src]="entry.node.icon?.url"
              aria-hidden="true"
            />
          </ng-template>
        </div>
        <div
          class="entry-title-wrapper"
          [class.reset-padding]="renameEntryVisible && i === selectedEntryIndex"
          cdkDragHandle
        >
          <a class="entry-title" tabindex="0">
            <ng-container
              *ngIf="!renameEntryVisible || i !== selectedEntryIndex; else renameNodeTitle"
            >
              {{ entry | shortcutEntryTitle : i : i18nPrefix | async }}
            </ng-container>
            <ng-template #renameNodeTitle>
              <mat-form-field appearance="outline" class="rename-node-title">
                <mat-label>
                  {{ i18nPrefix + 'CHANGE_TITLE' | translate }}
                </mat-label>
                <input
                  #editInput
                  matInput
                  [(ngModel)]="editTitle"
                  (keydown.enter)="renameEntry()"
                  (blur)="renameEntry()"
                  (click)="$event.stopPropagation()"
                  autofocus
                />
              </mat-form-field>
            </ng-template>
          </a>
        </div>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="entries.length < maxItems && !entriesOverflow()">
      <ng-container *ngTemplateOutlet="addNewEntry"></ng-container>
    </ng-container>
  </div>
  <!-- fade overlay (only visible if scrollable) -->
  <div class="scroll-fade" *ngIf="entriesOverflow() && !viewExpanded()"></div>
  <!-- expand button -->
  <button
    class="entries-expand-btn"
    *ngIf="entriesOverflow() && !openedInModal()"
    (click)="isExpanded.set(!isExpanded())"
  >
    <span class="line"></span>
    <span class="icon-text">
      <span class="icon">
        <i [esIcon]="!isExpanded() ? 'keyboard_arrow_down' : 'keyboard_arrow_up'"></i>
        <!-- [aria]="true" is not used at this position, as the translations are ambiguous -->
        <span class="cdk-visually-hidden">
          {{ i18nPrefix + (!isExpanded() ? 'EXPAND' : 'COLLAPSE') | translate }}
        </span>
      </span>
    </span>
    <span class="line"></span>
  </button>
</div>

<!-- dropdown and dummy dropdown trigger to open it on specific positions -->
<es-dropdown #dropdown [options]="entryOptions"></es-dropdown>
<button
  mat-button
  #dropdownTrigger="matMenuTrigger"
  [matMenuTriggerFor]="dropdown.menu"
  class="dropdown-dummy cdk-visually-hidden"
  [style.left.px]="dropdownLeft"
  [style.top.px]="dropdownTop"
  tabindex="-1"
  aria-hidden="true"
></button>

<!-- dropdown to add new shortcut entries -->
<es-dropdown
  #newEntryDropdown
  menuClass="add-shortcut-entry-menu"
  [options]="remainingEntryOptions()"
  position="right"
></es-dropdown>

<!-- button to add new entries -->
<ng-template #addNewEntry>
  <!-- when opened within a modal, execute a click event and when not, use the mat menu trigger -->
  <button
    *ngIf="entries.length < maxItems"
    class="entry-card empty"
    [class.disabled]="nodeIncluded()"
    [matMenuTriggerFor]="newEntryDropdown.menu"
    [attr.aria-label]="i18nPrefix + 'ADD_ENTRY' | translate"
  >
    <div class="entry-icon-wrapper">
      <i esIcon="add" class="entry-icon"></i>
    </div>
  </button>
</ng-template>
