<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%X{EduVersion}] [${hostName}] [%X{RemoteAddr}] [%X{Url}] [%X{User}] %-5p [%c{3}] [%t] %m%n"/>
        </Console>

        <RollingFile name="tomcat" fileName="${sys:catalina.home}/logs/tomcat.log" filePattern="${sys:catalina.home}/logs/tomcat.log.%i">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c.%M] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="edu-sharing-sessions" fileName="${sys:catalina.home}/logs/edu-sharing-sessions.log" append="true"
                     filePattern="${sys:catalina.home}/logs/edu-sharing-sessions.log%d{'.'yyyy-MM-dd}">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c.%M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2147483647"/>
        </RollingFile>
        <RollingFile name="edu-sharing-monitoring" fileName="${sys:catalina.home}/logs/edu-sharing-monitoring.log" append="true"
                     filePattern="${sys:catalina.home}/logs/edu-sharing-monitoring.log%d{'.'yyyy-MM-dd}">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c.%M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2147483647"/>
        </RollingFile>
        <RollingFile name="edu-sharing-oai-validator" fileName="${sys:catalina.home}/logs/edu-sharing-oai-validator.log" append="true"
                     filePattern="${sys:catalina.home}/logs/edu-sharing-oai-validator.log%d{'.'yyyy-MM-dd}">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{3}.%M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2147483647"/>
        </RollingFile>
        <RollingFile name="edu-sharing-search" fileName="${sys:catalina.home}/logs/edu-sharing-search.log" append="true"
                     filePattern="${sys:catalina.home}/logs/edu-sharing-search.log%d{'.'yyyy-MM-dd}">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c.%M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2147483647"/>
        </RollingFile>
        <RollingFile name="edu-sharing-jobs" fileName="${sys:catalina.home}/logs/edu-sharing-jobs.log" append="true"
                     filePattern="${sys:catalina.home}/logs/edu-sharing-jobs.log%d{'.'yyyy-MM-dd}">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{3}.%M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2147483647"/>
        </RollingFile>
        <RollingFile name="File" fileName="${sys:catalina.home}/logs/edu-sharing.log" append="true"
                     filePattern="${sys:catalina.home}/logs/edu-sharing.log%d{'.'yyyy-MM-dd}">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{3}.%M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2147483647"/>
        </RollingFile>
        <RollingFile name="edu-sharing-deletedobj" fileName="${sys:catalina.home}/logs/edu-sharing-deletedobj.log" append="true"
                     filePattern="${sys:catalina.home}/logs/edu-sharing-deletedobj.log%d{'.'yyyy-MM-dd}">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{3}.%M] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="2147483647"/>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Root level="error">
            <AppenderRef ref="tomcat"/>
            <AppenderRef ref="console"/>
        </Root>


        <!--START alfresco-->
        <Logger name="alfresco.missingProperties" level="WARN"/>
        <Logger name="freemarker.runtime" level=""/>
        <Logger name="net.sf.jooreports.openoffice.connection" level="FATAL"/>
        <Logger name="org.alfresco" level="ERROR"/>
        <Logger name="org.alfresco.cmis" level="ERROR"/>
        <Logger name="org.alfresco.cmis.dictionary" level="WARN"/>
        <Logger name="org.alfresco.config" level="WARN"/>
        <Logger name="org.alfresco.config.JBossEnabledWebApplicationContext" level="WARN"/>
        <Logger name="org.alfresco.config.JndiObjectFactoryBean" level="WARN"/>
        <Logger name="org.alfresco.enterprise.repo.authorization.AuthorizationsConsistencyMonitor" level="WARN"/>
        <Logger name="org.alfresco.enterprise.repo.authorization.AuthorizationService" level="INFO"/>
        <Logger name="org.alfresco.enterprise.repo.cluster" level="INFO"/>
        <Logger name="org.alfresco.fileserver" level="WARN"/>
        <Logger name="org.alfresco.ftp.protocol" level="ERROR"/>
        <Logger name="org.alfresco.mbeans.VirtServerRegistry" level="ERROR"/>
        <Logger name="org.alfresco.module.vti" level="INFO"/>
        <Logger name="org.alfresco.opencmis" level="ERROR"/>
        <Logger name="org.alfresco.opencmis.AlfrescoCmisServiceInterceptor" level="ERROR"/>
        <Logger name="org.alfresco.repo" level="warn"/>
        <Logger name="org.alfresco.repo.module" level="info"/>
        <Logger name="org.alfresco.repo.activities" level="WARN"/>
        <Logger name="org.alfresco.repo.admin" level="INFO"/>
        <Logger name="org.alfresco.repo.admin.ConfigurationChecker" level="INFO"/>
        <Logger name="org.alfresco.repo.admin.patch.impl.DeploymentMigrationPatch" level="INFO"/>
        <Logger name="org.alfresco.repo.admin.patch.PatchExecuter" level="INFO"/>
        <Logger name="org.alfresco.repo.bulkimport" level="WARN"/>
        <Logger name="org.alfresco.repo.cache.TransactionalCache" level="WARN"/>
        <Logger name="org.alfresco.repo.cmis.rest.CMISTest" level="INFO"/>
        <Logger name="org.alfresco.repo.content.metadata.AbstractMappingMetadataExtracter" level="WARN"/>
        <Logger name="org.alfresco.repo.content.ReplicatingContentStore" level="ERROR"/>
        <Logger name="org.alfresco.repo.content.replication" level="ERROR"/>
        <Logger name="org.alfresco.repo.dictionary" level="WARN"/>
        <Logger name="org.alfresco.repo.dictionary.types.period" level="WARN"/>
        <Logger name="org.alfresco.repo.domain.hibernate.DirtySessionMethodInterceptor" level="WARN"/>
        <Logger name="org.alfresco.repo.domain.patch.ibatis.PatchDAOImpl" level="INFO"/>
        <Logger name="org.alfresco.repo.domain.schema.SchemaBootstrap" level="INFO"/>
        <Logger name="org.alfresco.repo.domain.schema.script.ScriptBundleExecutorImpl" level="OFF"/>
        <Logger name="org.alfresco.repo.domain.schema.script.ScriptExecutorImpl" level="INFO"/>
        <Logger name="org.alfresco.repo.imap" level="INFO"/>
        <Logger name="org.alfresco.repo.importer.ImporterBootstrap" level="ERROR"/>
        <Logger name="org.alfresco.repo.jscript" level="ERROR"/>
        <Logger name="org.alfresco.repo.jscript.ScriptLogger" level="WARN"/>
        <Logger name="org.alfresco.repo.management.subsystems" level="WARN"/>
        <Logger name="org.alfresco.repo.management.subsystems.ChildApplicationContextFactory" level="INFO"/>
        <Logger name="org.alfresco.repo.management.subsystems.ChildApplicationContextFactory$ChildApplicationContext" level="WARN"/>
        <Logger name="org.alfresco.repo.model.filefolder" level="WARN"/>
        <Logger name="org.alfresco.repo.module.ModuleServiceImpl" level="INFO"/>
        <Logger name="org.alfresco.repo.node.db.hibernate.HibernateNodeDaoServiceImpl" level="WARN"/>
        <Logger name="org.alfresco.repo.node.db.NodeStringLengthWorker" level="INFO"/>
        <Logger name="org.alfresco.repo.node.index.AbstractReindexComponent" level="WARN"/>
        <Logger name="org.alfresco.repo.node.index.FullIndexRecoveryComponent" level="INFO"/>
        <Logger name="org.alfresco.repo.node.index.IndexTransactionTracker" level="WARN"/>
        <Logger name="org.alfresco.repo.node.integrity" level="ERROR"/>
        <Logger name="org.alfresco.repo.search.impl.lucene.fts.FullTextSearchIndexerImpl" level="WARN"/>
        <Logger name="org.alfresco.repo.search.impl.lucene.index" level="ERROR"/>
        <Logger name="org.alfresco.repo.search.impl.lucene.index.IndexInfo" level="WARN"/>
        <Logger name="org.alfresco.repo.search.impl.noindex.NoIndexIndexer" level="FATAL"/>
        <Logger name="org.alfresco.repo.search.impl.noindex.NoIndexSearchService" level="FATAL"/>
        <Logger name="org.alfresco.repo.search.impl.solr.facet.SolrFacetServiceImpl" level="INFO"/>
        <Logger name="org.alfresco.repo.search.Indexer" level="ERROR"/>
        <Logger name="org.alfresco.repo.security.authentication" level="WARN"/>
        <Logger name="org.alfresco.repo.security.person" level="INFO"/>
        <Logger name="org.alfresco.repo.security.sync" level="INFO"/>
        <Logger name="org.alfresco.repo.tenant" level="INFO"/>
        <Logger name="org.alfresco.repo.transaction" level="WARN"/>
        <Logger name="org.alfresco.repo.transaction.RetryingTransactionHelper" level="WARN"/>
        <Logger name="org.alfresco.repo.usage" level="INFO"/>
        <Logger name="org.alfresco.repo.usage.RepoUsageMonitor" level="INFO"/>
        <Logger name="org.alfresco.repo.version.Version2ServiceImpl" level="WARN"/>
        <Logger name="org.alfresco.repo.version.VersionMigrator" level="INFO"/>
        <Logger name="org.alfresco.repo.web.scripts" level="WARN"/>
        <Logger name="org.alfresco.repo.web.scripts.AlfrescoRhinoScriptDebugger" level="OFF"/>
        <Logger name="org.alfresco.repo.web.scripts.BaseWebScriptTest" level="INFO"/>
        <Logger name="org.alfresco.repo.workflow" level="INFO"/>
        <Logger name="org.alfresco.sample" level="INFO"/>
        <Logger name="org.alfresco.service.descriptor.DescriptorService" level="INFO"/>
        <Logger name="org.alfresco.smb" level="warn"/>
        <Logger name="org.alfresco.smb.protocol" level="ERROR"/>
        <Logger name="org.alfresco.util" level="warn"/>
        <Logger name="org.alfresco.util.AbstractTriggerBean" level="WARN"/>
        <Logger name="org.alfresco.util.OpenOfficeConnectionTester" level="INFO"/>
        <Logger name="org.alfresco.util.remote.server.socket.HostConfigurableSocketFactory" level="WARN"/>
        <Logger name="org.alfresco.util.RuntimeSystemPropertiesSetter" level="INFO"/>
        <Logger name="org.alfresco.util.transaction.SpringAwareUserTransaction.trace" level="WARN"/>
        <Logger name="org.alfresco.web" level="INFO"/>
        <Logger name="org.alfresco.web.config.forms" level="INFO"/>
        <Logger name="org.alfresco.web.scripts.forms" level="INFO"/>
        <Logger name="org.alfresco.webdav.protocol" level="INFO"/>
        <Logger name="org.apache" level="info"/>
        <Logger name="org.apache.axis" level="INFO"/>
        <Logger name="org.apache.chemistry.opencmis" level="INFO"/>
        <Logger name="org.apache.chemistry.opencmis.server.impl.atompub.CmisAtomPubServlet" level="OFF"/>
        <Logger name="org.apache.chemistry.opencmis.server.impl.browser.CmisBrowserBindingServlet" level="OFF"/>
        <Logger name="org.apache.cxf" level="ERROR"/>
        <Logger name="org.apache.myfaces" level="warn"/>
        <Logger name="org.apache.myfaces.application.jsp.JspViewHandlerImpl" level="ERROR"/>
        <Logger name="org.apache.myfaces.el.VariableResolverImpl" level="ERROR"/>
        <Logger name="org.apache.myfaces.taglib" level="ERROR"/>
        <Logger name="org.apache.myfaces.util.DebugUtils" level="INFO"/>
        <Logger name="org.apache.pdfbox.pdmodel.font.PDCIDFont" level="FATAL"/>
        <Logger name="org.apache.pdfbox.pdmodel.font.PDFont" level="FATAL"/>
        <Logger name="org.apache.pdfbox.pdmodel.font.PDSimpleFont" level="FATAL"/>
        <Logger name="org.apache.ws" level="INFO"/>
        <Logger name="org.edu_sharing.repository.server.tools.HttpQueryTool" level="DEBUG"/>
        <Logger name="org.hibernate" level="ERROR"/>
        <Logger name="org.hibernate.cfg.SettingsFactory" level="WARN"/>
        <Logger name="org.hibernate.event.def.AbstractFlushingEventListener" level="FATAL"/>
        <Logger name="org.hibernate.ps.PreparedStatementCache" level="INFO"/>
        <Logger name="org.hibernate.type" level="WARN"/>
        <Logger name="org.hibernate.util.JDBCExceptionReporter" level="FATAL"/>
        <Logger name="org.jbpm.graph.def.GraphElement" level="FATAL"/>
        <Logger name="org.springframework" level="WARN"/>
        <Logger name="org.springframework.extensions.webscripts" level="INFO"/>
        <Logger name="org.springframework.extensions.webscripts.ScriptDebugger" level="OFF"/>
        <Logger name="org.springframework.extensions.webscripts.ScriptLogger" level="WARN"/>
        <Logger name="org.springframework.remoting.support" level="ERROR"/>
        <Logger name="org.springframework.util" level="ERROR"/>

        <!--END alfresco-->

        <Logger name="org.edu_sharing.alfresco.cluster" level="warn"/>

        <Logger name="org.edu_sharing" level="info"/>
        <Logger name="org.edu_sharing.alfresco.jobs" level="warn"/>
        <Logger name="org.edu_sharing.repository.server.rendering.RenderingProxy" level="debug"/>
        <Logger name="org.edu_sharing.repository.server.tools.cache" level="debug"/>
        <Logger name="org.edu_sharing.repository.server.MCAlfrescoAPIClient" level="info"/>
        <Logger name="org.edu_sharing.repository.server.tools.ActionObserver" level="debug"/>
        <Logger name="org.edu_sharing.repository.server.tools.HttpQueryTool" level="debug"/>
        <Logger name="org.edu_sharing.repository.server.importer.OAIPMHLOMValidator" level="info">
            <AppenderRef ref="edu-sharing-oai-validator"/>
        </Logger>
        <Logger name="org.edu_sharing.service.search.SearchLogger" level="info">
            <AppenderRef ref="edu-sharing-search"/>
        </Logger>
        <Logger name="org.edu_sharing.repository.server.jobs.quartz.RemoveDeletedImportsJob" level="info">
            <AppenderRef ref="edu-sharing-deletedobj"/>
        </Logger>
        <Logger name="org.edu_sharing.repository.server.authentication.SessionListener" level="debug">
            <AppenderRef ref="edu-sharing-sessions"/>
        </Logger>
        <Logger name="org.edu_sharing.repository.server.jobs" level="info">
            <AppenderRef ref="edu-sharing-jobs"/>
        </Logger>
        <Logger name="org.edu_sharing.repository.server.monitoring" level="debug">
            <AppenderRef ref="edu-sharing-monitoring"/>
        </Logger>
        <Logger name="org.edu_sharing.repository.server.importer" level="debug">
            <AppenderRef ref="edu-sharing-jobs"/>
        </Logger>
        <Logger name="org.edu_sharing.repository.server.importer.ImportCleaner" level="info">
            <AppenderRef ref="edu-sharing-deletedobj"/>
        </Logger>

    </Loggers>

</Configuration>
