@import '../../../core-ui-module/styles/variables';
.info-disabled {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.frontpage {
    width: 100%;
    max-width: 1300px;
    .save {
        justify-content: flex-end;
    }
    .group-info {
        margin: 0 10%;
    }
    .group {
        display: flex;
        margin: 50px 10%;
        .select-collection {
            justify-content: flex-end;
        }
        .config-timespan {
            display: flex;
            flex-direction: column;
            > mat-form-field {
                padding-bottom: 15px;
            }
        }
        &.queries {
            margin: 30px 12%;
        }
        .monaco-editor {
            display: flex;
            flex-direction: column;
        }
        > * {
            display: flex;
            flex-grow: 1;
            padding: 0 10px;
        }
        > div {
            width: 100%;
            > mat-form-field {
                display: inline;
                width: 100%;
            }
        }
        > .mode-collection {
            flex-direction: column;
            > button {
                margin-top: 20px;
            }
        }
        > .condition {
            flex-direction: column;
            .negate {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                mat-label {
                    width: 100%;
                }
                mat-radio-button {
                    padding: 5px 10px;
                }
            }
            button {
                margin-top: 15px;
            }
        }
        &.preview {
            margin: 20px 20px 10px 20px;
            es-node-entries-wrapper {
                display: inline;
            }
        }
    }

    .preview-heading .reload {
        text-align: right;
        flex-grow: 1;
    }
}
:host ::ng-deep {
    .group .mat-form-field-wrapper {
        width: 100%;
    }
    h5.preview-error {
        display: flex;
        justify-content: center;
    }
    h5.preview-hint {
        padding: 10px 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
            list-style: square;
        }
    }
}
