@if ((configService.get('frontpage.enabled', true) | async) === false) {
<es-info-message class="info-disabled">
  {{ 'ADMIN.FRONTPAGE.DISABLED' | translate }}
</es-info-message>
} @if (chooseCollection) {
<es-collection-chooser
  class="dialog-right"
  [@fromRight]="chooseCollection"
  title="WORKSPACE.SELECT_COLLECTION"
  (cancel)="chooseCollection = false"
  (choose)="setCollection($event)"
></es-collection-chooser>
} @if (configService.get('frontpage.enabled', true) | async) {
<div class="frontpage">
  @if (config) {
  <form [formGroup]="form">
    <h4 class="mat-heading-4 mat-heading-underline">
      <i esIcon="settings"></i>{{ 'ADMIN.FRONTPAGE.GENERAL' | translate }}
    </h4>
    <div class="group">
      <div>
        <mat-form-field>
          <mat-label>{{ 'ADMIN.FRONTPAGE.MODE_LABEL' | translate }}</mat-label>
          <mat-hint>{{ 'ADMIN.FRONTPAGE.MODE_HINT' | translate }}</mat-hint>
          <mat-select
            id="mode"
            [(ngModel)]="config.frontpage.mode"
            [ngModelOptions]="{ standalone: true }"
          >
            @for (mode of modes; track mode) {
            <mat-option [value]="mode">{{ 'ADMIN.FRONTPAGE.MODE.' + mode | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if (config.frontpage.mode === 'collection') {
      <div class="mode-collection">
        <mat-form-field>
          <mat-label>{{ 'ADMIN.FRONTPAGE.COLLECTION_LABEL' | translate }}</mat-label>
          <mat-hint>{{ 'ADMIN.FRONTPAGE.COLLECTION_HINT' | translate }}</mat-hint>
          <input
            matInput
            id="collection"
            [(ngModel)]="collectionName"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            readonly="true"
          />
        </mat-form-field>
      </div>
      } @if (config.frontpage.mode !== 'collection') {
      <div class="config-timespan">
        <mat-form-field>
          <mat-label
            >{{ 'ADMIN.FRONTPAGE.TIMESPAN_LABEL' | translate }} ({{
              'ADMIN.FRONTPAGE.TIMESPAN_DAYS' | translate
            }})</mat-label
          >
          <mat-hint>{{ 'ADMIN.FRONTPAGE.TIMESPAN_HINT' | translate }}</mat-hint>
          <input matInput id="timespan" type="number" min="1" formControlName="timespan" />
        </mat-form-field>
        <mat-checkbox formControlName="timespanAll">
          {{ 'ADMIN.FRONTPAGE.TIMESPAN.all' | translate }}
        </mat-checkbox>
      </div>
      }
    </div>
    @if (config.frontpage.mode === 'collection') {
    <div class="group">
      <div class="select-collection">
        <button mat-raised-button color="primary" (click)="chooseCollection = true">
          {{ 'ADMIN.FRONTPAGE.CHOOSE_COLLECTION' | translate }}
        </button>
      </div>
    </div>
    } @if (config.frontpage.mode !== 'collection') {
    <div>
      <div class="group">
        <mat-form-field>
          <mat-label>{{ 'ADMIN.FRONTPAGE.TOTAL_COUNT_LABEL' | translate }}</mat-label>
          <mat-hint>{{ 'ADMIN.FRONTPAGE.TOTAL_COUNT_HINT' | translate }}</mat-hint>
          <input matInput id="totalCount" formControlName="totalCount" type="number" />
          @if (form.get('totalCount').errors) {
          <mat-error>
            @if (form.get('totalCount').errors.required) {
            <span>{{ 'FIELD_REQUIRED' | translate }}</span>
            } @if (form.get('totalCount').errors.pattern) {
            <span>{{ 'FIELD_VALIDATION_ERROR_INTEGER' | translate }}</span>
            } @if (form.get('totalCount').errors.outOfRange) {
            <span>{{ 'ADMIN.FRONTPAGE.TOTAL_COUNT_OUT_OF_RANGE' | translate }}</span>
            }
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'ADMIN.FRONTPAGE.DISPLAY_COUNT_LABEL' | translate }}</mat-label>
          <mat-hint>{{ 'ADMIN.FRONTPAGE.DISPLAY_COUNT_HINT' | translate }}</mat-hint>
          <input
            matInput
            id="displayCount"
            type="number"
            formControlName="displayCount"
            [(ngModel)]="config.frontpage.displayCount"
          />
        </mat-form-field>
      </div>
      <div class="group-info">
        @if (form.get('totalCount').value > form.get('displayCount').value) {
        <es-info-message>
          {{ 'ADMIN.FRONTPAGE.TOTAL_COUNT_LARGER_HINT' | translate }}
        </es-info-message>
        }
      </div>
      @for (query of config.frontpage.queries; track query) {
      <div class="group queries">
        <div class="condition">
          <mat-form-field>
            <mat-label>{{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_CONDITION_TYPE' | translate }}</mat-label>
            <mat-hint>{{
              'ADMIN.FRONTPAGE.CUSTOM_QUERY_CONDITION_TYPE_HINT' | translate
            }}</mat-hint>
            <mat-select
              id="conditionType"
              [(ngModel)]="query.condition.type"
              [ngModelOptions]="{ standalone: true }"
            >
              @for (type of conditionTypes; track type) {
              <mat-option [value]="type">{{
                'ADMIN.FRONTPAGE.CONDITION_TYPE.' + type | translate
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          @if (query.condition.type === 'TOOLPERMISSION') {
          <mat-form-field>
            <mat-label>{{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_CONDITION_VALUE' | translate }}</mat-label>
            <mat-hint>{{
              'ADMIN.FRONTPAGE.CUSTOM_QUERY_CONDITION_VALUE_HINT' | translate
            }}</mat-hint>
            <mat-select
              id="conditionValue"
              [(ngModel)]="query.condition.value"
              [ngModelOptions]="{ standalone: true }"
            >
              @for (p of toolpermissions; track p) {
              <mat-option [value]="p">{{ p }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          }
          <mat-radio-group
            class="negate"
            [(ngModel)]="query.condition.negate"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-label>{{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_CONDITION_NEGATE' | translate }}</mat-label>
            <mat-radio-button [value]="false" [checked]="query.condition.negate === false"
              >true</mat-radio-button
            >
            <mat-radio-button [value]="true" [checked]="query.condition.negate === true"
              >false</mat-radio-button
            >
          </mat-radio-group>
          <!--
                        <div class="negate">
                          <mat-label>{{'ADMIN.FRONTPAGE.CUSTOM_QUERY_CONDITION_NEGATE' | translate}}</mat-label>
                          <div class="mat-slide-toggle-twoside">
                            <mat-label>false</mat-label>
                            <mat-slide-toggle [ngModel]="!query.condition.negate" (ngModelChange)="query.condition.negate=!$event" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
                            <mat-label>true</mat-label>
                          </div>
                        </div>
                        -->
          <button mat-flat-button color="warn" (click)="removeQueryCondition(query)">
            {{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_REMOVE_CONDITION' | translate }}
          </button>
        </div>
        <div class="monaco-editor">
          <mat-label>{{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_LABEL' | translate }}</mat-label>
          <es-code-editor [options]="codeOptions" [(ngModel)]="query.query"></es-code-editor>
          <mat-hint
            ><div>{{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_HINT' | translate }}</div>
            <button mat-button (click)="queryHelp()">
              {{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_HINT_HELP' | translate }}
            </button></mat-hint
          >
        </div>
      </div>
      }
      <div class="group">
        <div>
          <button mat-raised-button color="primary" (click)="addQueryCondition()">
            {{ 'ADMIN.FRONTPAGE.CUSTOM_QUERY_ADD_CONDITION' | translate }}
          </button>
        </div>
      </div>
    </div>
    }
    <div class="group">
      <div class="save">
        <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">
          {{ 'SAVE' | translate }}
        </button>
      </div>
    </div>
  </form>
  }
  <h4 class="mat-heading-4 mat-heading-underline preview-heading">
    <i esIcon="apps"></i>{{ 'ADMIN.FRONTPAGE.PREVIEW' | translate }}
    <div class="reload">
      <button mat-icon-button (click)="updatePreviews()"><i esIcon="refresh"></i></button>
    </div>
  </h4>
  <div class="group preview">
    @if (previewError) {
    <h5 class="mat-heading-5 preview-error">
      {{ 'ADMIN.FRONTPAGE.PREVIEW_ERROR.' + previewError | translate }}
    </h5>
    } @if (!previewError) {
    <es-node-entries-wrapper
      [columns]="previewColumns"
      [dataSource]="previewNodesDataSource"
      [checkbox]="false"
      [displayType]="NodeEntriesDisplayType.Grid"
      [elementInteractionType]="InteractionType.Emitter"
      (clickItem)="openNode.emit($event)"
      (dblClickItem)="openNode.emit($event)"
      [scope]="$any('dummy')"
    ></es-node-entries-wrapper>
    }
  </div>
  @if (!previewLoading && !previewError) {
  <h5
    class="mat-heading-5 preview-hint"
    innerHTML="{{ 'ADMIN.FRONTPAGE.PREVIEW_HINT' | translate }}"
  ></h5>
  }
</div>
}
