<es-mds-editor-widget-container
  #container
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="formControl"
  [wrapInFormField]="false"
>
  <!-- TODO: add `[aria-describedby]="container.descriptionId"` after updating to Angular 10 -->
  <mat-checkbox
    matInput
    [(indeterminate)]="isIndeterminate"
    [formControl]="formControl"
    (indeterminateChange)="onIndeterminateChange($event)"
    >{{ widget.definition.caption }}</mat-checkbox
  >
</es-mds-editor-widget-container>
