@import "../../../../styles/variables.scss";


.loading{
  margin:0 10px;
  >div{
    display:flex;
  }
}
.group{
  width:100%;
  display: flex;
  margin-bottom: 10px;
  .icon{
    color:$textVeryLight;
    margin-top: 5px;
  }
  .center{
    flex-direction: column;
    flex-grow: 1;
    .fileName{
      word-break: break-all;
      padding-bottom: 4px;
      height: 1.5em;
      overflow: hidden;
    }
    .fileName,.info{
      padding-left: 10px;
    }
    .info{
      font-size:8pt;
      font-weight: bold;
      padding-top: 2px;
      min-height: 1.3rem;
      .size{
        font-weight: normal;
        padding-left: 0.5em;
        color:$textLight;
      }
    }
  }
  >div{
    display: flex;
  }
  .right{
    justify-content: flex-end;
    align-items: center;
    width: 80px;
  }
  .done{
    color:$primary;
  }
  .success{
    color:$colorStatusPositive;
  }
  .failed{
    color:$colorStatusNegative;
  }
  .progress{
    margin:0 10px;
  }
}
.groupColumn{
  flex-direction: column;
}
.scrollable{
  overflow-x: hidden;
  overflow-y: auto;
  height:350px;
  margin:$cardPadding*-1;
  padding:$cardPadding;
}
@media screen and (max-height: ($mobileHeight)) {
  .card .scrollable{
    height:calc(100% + 60px);
  }
}
