<ng-template #shareLink>
  @if (!isCollection() && !isBulk() && showShareLink()) {
  <button mat-raised-button class="share-link-button" (click)="openShareLinkDialog()">
    <i esIcon="link"></i>
    {{ 'OPTIONS.SHARE_LINK' | translate }}
  </button>
  }
</ng-template>

<mat-tab-group mat-stretch-tabs [(selectedIndex)]="tab" (selectedTabChange)="onTabChange($event)">
  <mat-tab class="tabContent tabContentShares">
    <ng-template mat-tab-label>
      <i esIcon="group_add" class="tab-icon"></i>
      {{ 'WORKSPACE.TAB_SHARING' | translate }}
    </ng-template>
    <div class="share-group">
      <!-- notification settings -->
      <div class="group groupMessage">
        @if (!hasNotificationService) {
        <mat-checkbox id="notify" [(ngModel)]="notifyUsers">
          <strong>{{ 'WORKSPACE.NOTIFY_TITLE' | translate }}</strong>
          <div class="notify-info">{{ 'WORKSPACE.NOTIFY_INFO' | translate }}</div>
        </mat-checkbox>
        }
        <!--        <mat-form-field *ngIf="notifyUsers" [@overlay]="notifyUsers" floatLabel="always">-->
        <!--          <mat-label>{{ 'WORKSPACE.SHARE.MESSAGE' | translate }}</mat-label>-->
        <!--          <textarea-->
        <!--            matInput-->
        <!--            cdkTextareaAutosize-->
        <!--            cdkAutosizeMinRows="3"-->
        <!--            cdkAutosizeMaxRows="5"-->
        <!--            id="message"-->
        <!--            name="message"-->
        <!--            [(ngModel)]="notifyMessage"-->
        <!--            placeholder="{{ 'WORKSPACE.SHARE.MESSAGE_PLACEHOLDER' | translate }}"-->
        <!--          ></textarea>-->
        <!--        </mat-form-field>-->
      </div>

      <!-- search for new shares -->
      <div class="group groupInvite">
        <es-authority-search-input
          [globalSearchAllowed]="globalAllowed"
          [initialFocus]="false"
          (chooseAuthority)="addSuggestion($event)"
        ></es-authority-search-input>
        @if (globalSearch && !fuzzyAllowed) {
        <div class="hintNoFuzzy">
          {{ 'WORKSPACE.SHARE.NO_FUZZY' | translate }}
        </div>
        }
        <!-- <ng2-completer [(ngModel)]="searchStr" [clearSelected]="true" (selected)="addAuthority($event)" [dataService]="dataService" [minSearchLength]="2" class="search"></ng2-completer>-->
        <!-- <input type="text" id="inviteName" /> -->
      </div>

      <!-- settings for single node -->
      @if (_nodes?.length === 1) {
      <div class="group groupInvited">
        <!-- local shares overview -->
        <strong>
          {{ 'WORKSPACE.SHARE.LOCAL_SHARING_TITLE' | translate }}
        </strong>
        <br />
        @if (_nodes && _nodes[0].ref.id) {
        <es-mat-link class="history uppercase" (clickOnLink)="showHistory()"
          >{{ 'WORKSPACE.SHARE.SHOW_HISTORY' | translate }} <i esIcon="arrow_forward"></i
        ></es-mat-link>
        } @if (owner) {
        <div class="groupName">{{ 'WORKSPACE.SHARE.GROUP_OWNER' | translate }}</div>
        } @if (owner) {
        <es-share-dialog-permission
          class="groupEntry owner"
          [permission]="owner"
          [isDirectory]="_nodes[0].isDirectory"
          [isEditable]="false"
          [showDelete]="false"
        ></es-share-dialog-permission>
        } @if (permissionsGroup && permissionsGroup.length) {
        <div class="groupName">
          {{ 'WORKSPACE.SHARE.GROUP_GROUPS' | translate }}
        </div>
        }
        <div class="normal">
          @for (permission of permissionsGroup; track permission) {
          <div>
            <es-share-dialog-permission
              class="groupEntry"
              [class.added]="isNewPermission(permission)"
              [permission]="permission"
              [isEditable]="permission.editable || isNewPermission(permission)"
              [showDelete]="permission.editable || isNewPermission(permission)"
              [isDeleted]="isDeleted(permission)"
              [isDirectory]="_nodes[0].isDirectory"
              [canPublish]="!isSafe"
              (removePermission)="removePermission(permission)"
              (changeType)="permission.permissions = $event.permissions; updatePermissionInfo()"
            ></es-share-dialog-permission>
          </div>
          }
        </div>
        @if (permissionsUser && permissionsUser.length) {
        <div class="groupName">
          {{ 'WORKSPACE.SHARE.GROUP_USERS' | translate }}
        </div>
        }
        <div class="normal">
          @for (permission of permissionsUser; track permission) {
          <div>
            <es-share-dialog-permission
              class="groupEntry"
              [class.added]="isNewPermission(permission)"
              [class.invalid]="timebasedInvalid(permission)"
              [permission]="permission"
              [isEditable]="permission.editable || isNewPermission(permission)"
              [showDelete]="permission.editable || isNewPermission(permission)"
              [timebasedAllowed]="isOnlyTimebasedForAuthority(permission)"
              [timebasedInvalid]="timebasedInvalid(permission)"
              [isDeleted]="isDeleted(permission)"
              [isDirectory]="_nodes[0].isDirectory"
              [canPublish]="!isSafe"
              (removePermission)="removePermission(permission)"
              (changeType)="permission.permissions = $event.permissions; updatePermissionInfo()"
            ></es-share-dialog-permission>
          </div>
          }
        </div>
        @if (showLink && link) {
        <div class="groupName">{{ 'WORKSPACE.SHARE.LINK' | translate }}</div>
        <es-mat-link class="manageLink uppercase" (clickOnLink)="openShareLinkDialog()">{{
          'WORKSPACE.SHARE.MANAGE_LINK' | translate
        }}</es-mat-link>
        <es-share-dialog-permission
          class="groupEntry link"
          [permission]="linkEnabled"
          [isDirectory]="_nodes[0].isDirectory"
          [isEditable]="false"
          [showDelete]="false"
        ></es-share-dialog-permission>
        } @if ( !!publishComponent?.shareModeDirect || !!publishComponent?.shareModeCopy ||
        !!publishComponent?.initialState?.direct || !!publishComponent?.initialState?.copy ) {
        <div class="groupName">{{ 'WORKSPACE.SHARE.PUBLISH_LABEL' | translate }}</div>
        @if (publishPermission && !isBulk() && !isSafe) {
        <es-mat-link
          class="manageLink uppercase"
          (clickOnLink)="
            tab = _nodes[0].ref?.id && isCollectionOrDirectory() && atLeastOneTreeChild() ? 2 : 1
          "
        >
          {{ 'WORKSPACE.SHARE.MANAGE_PUBLISH' | translate }}</es-mat-link
        >
        }
        <es-share-dialog-permission
          class="groupEntry link"
          [class.added]="
            !publishComponent.initialState?.direct &&
            !publishComponent.initialState?.copy &&
            (publishComponent.shareModeDirect || publishComponent.shareModeCopy)
          "
          [permission]="publishEnabled"
          [isDirectory]="_nodes[0].isDirectory"
          [isEditable]="publishComponent.shareModeDirect ? 'timebasedOnly' : false"
          [showDelete]="false"
          [isDeleted]="
            (publishComponent.initialState?.direct || publishComponent.initialState?.copy) &&
            !publishComponent.shareModeDirect &&
            !publishComponent.shareModeCopy
          "
        ></es-share-dialog-permission>
        } @if (hasUsages()) {
        <div class="groupName">{{ 'WORKSPACE.SHARE.USAGES' | translate }}</div>
        } @if (collections && collections.length) {
        <div class="usage">
          <es-share-dialog-usage
            class="usageEntry"
            [name]="'COLLECTION'"
            [usages]="collections"
            [(deleteList)]="deletedUsages"
          ></es-share-dialog-usage>
        </div>
        } @for (usage of usages | keyvalue; track usage) {
        <div class="usage">
          @if (usage.key !== 'null') {
          <es-share-dialog-usage
            class="usageEntry"
            [name]="usage.key"
            [usages]="usage.value"
            [(deleteList)]="deletedUsages"
          ></es-share-dialog-usage>
          }
        </div>
        }
        <!--
        <es-share-dialog-permission *ngIf="showLink && !link"
          class="groupEntry link"
          [permission]="linkDisabled"
          [readOnly]="true"
          [showDelete]="false"
        ></es-share-dialog-permission>
        -->
        <!-- inheritance settings -->
        @if (inheritAllowed) {
        <div>
          <div class="groupHeading">
            <div class="inheritCheck">
              <mat-checkbox
                #inheritRef
                (click)="onCheckInherit(inheritRef)"
                [(ngModel)]="inherited"
                id="inherit"
              >
                <strong>
                  {{
                    'WORKSPACE.SHARE.INHERIT' + (isCollection() ? '_COLLECTION' : '') | translate
                  }}
                  {{ inherit.length > 0 ? '(' + inherit.length + ')' : '' }}
                </strong>
                <div class="inherit-info">
                  {{
                    'WORKSPACE.SHARE.INHERIT' + (isCollection() ? '_COLLECTION' : '') + '_INFO'
                      | translate
                  }}
                </div>
              </mat-checkbox>
            </div>
          </div>
          @if (inherited && inherit && inherit.length) {
          <div class="inherit" [class.crossed]="!inherited">
            @for (permission of inherit; track permission) {
            <div class="groupEntry">
              <es-share-dialog-permission
                [permission]="permission"
                [isDirectory]="_nodes[0].isDirectory"
                [inherit]="true"
                [isEditable]="false"
              ></es-share-dialog-permission>
            </div>
            }
          </div>
          } @if (!inherited) {
          <div class="inheritDisabled">
            {{ 'WORKSPACE.INHERIT_DISABLED' | translate }}
          </div>
          } @if (inherited && inheritAccessDenied) {
          <div class="inheritDisabled">
            {{ 'WORKSPACE.INHERIT_ACCESS_DENIED' | translate }}
          </div>
          } @if (inherited && !inherit.length && !inheritAccessDenied) {
          <div class="inheritEmpty">
            {{ 'WORKSPACE.INHERIT_EMPTY' | translate }}
          </div>
          }
        </div>
        }
      </div>
      }

      <!-- settings for multiple nodes -->
      @if (isBulk()) {
      <!-- shares to add -->
      @if (getNewInvitedAuthorities().length) {
      <div class="group groupToInvite">
        <mat-chip-set class="toInvite">
          @for (permission of getNewInvitedAuthorities(); track permission) {
          <mat-chip (removed)="removePermission(permission)">
            <div class="mat-chip-group">
              <span class="primary">{{ permission | permissionName }}</span>
              <span class="secondary">{{
                permission | permissionName : { field: 'secondary' }
              }}</span>
            </div>
            <i matChipRemove esIcon="cancel"></i>
          </mat-chip>
          }
        </mat-chip-set>
        @if (getNewInvitedAuthorities().length) {
        <div class="typeButton">
          <button
            mat-raised-button
            (click)="chooseType()"
            role="combobox"
            [attr.aria-label]="'WORKSPACE.SHARE.TYPE_MENU_LABEL_NEW' | translate"
            aria-haspopup="true"
            [attr.aria-expanded]="showChooseType || null"
            [attr.aria-controls]="showChooseType ? 'es-share-dialog-choose-type-menu' : null"
          >
            @if (currentType.length === 0) {
            <i esIcon="help"></i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_UNKNOWN' | translate }}</span>
            <i aria-hidden="true" esIcon="keyboard_arrow_down"></i>
            } @if (currentType.indexOf('Consumer') > -1) {
            <i esIcon="remove_red_eye"></i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_VIEWER' | translate }}</span>
            <i aria-hidden="true" esIcon="keyboard_arrow_down"></i>
            } @if (currentType.indexOf('Collaborator') > -1) {
            <i esIcon="edit"></i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_COWORKER' | translate }}</span>
            <i aria-hidden="true" esIcon="keyboard_arrow_down"></i>
            } @if (currentType.indexOf('Coordinator') > -1) {
            <i esIcon="work"></i>
            <span>{{ 'WORKSPACE.SHARE.TYPE_COORDINATOR' | translate }}</span>
            <i aria-hidden="true" esIcon="keyboard_arrow_down"></i>
            }
          </button>
          <!--<div class="share-type-mobile">-->
          <!--<p *ngIf="currentType.length==0">{{'WORKSPACE.SHARE.TYPE_UNKNOWN' | translate}}</p>-->
          <!--<p *ngIf="currentType.indexOf('Consumer')>-1">{{'WORKSPACE.SHARE.TYPE_VIEWER' | translate}}</p>-->
          <!--<p *ngIf="currentType.indexOf('Collaborator')>-1">{{'WORKSPACE.SHARE.TYPE_COWORKER' | translate}}</p>-->
          <!--<p *ngIf="currentType.indexOf('Coordinator')>-1">{{'WORKSPACE.SHARE.TYPE_COORDINATOR' | translate}}</p>-->
          <!--</div>-->
        </div>
        } @if (showChooseType) {
        <es-share-dialog-choose-type
          class="typeAdd"
          [aria-label]="'WORKSPACE.SHARE.TYPE_MENU_LABEL_NEW' | translate"
          [selected]="currentType"
          [isDirectory]="_nodes[0].isDirectory"
          [canPublish]="!isSafe"
          (cancelType)="showChooseType = false"
          (typeChosen)="setType($event)"
        ></es-share-dialog-choose-type>
        }
      </div>
      }
      <!-- bulk configuration -->
      <div class="bulk-config">
        <mat-radio-group [(ngModel)]="bulkMode">
          <strong>{{ 'WORKSPACE.SHARE.BULK_MODE.TITLE' | translate }}</strong>
          <mat-radio-button value="extend">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'WORKSPACE.SHARE.BULK_MODE.EXTEND' | translate }}
              </ng-container>
              <ng-container slot="description">
                {{ 'WORKSPACE.SHARE.BULK_MODE.EXTEND_DESCRIPTION' | translate }}
              </ng-container>
            </es-multi-line-label>
          </mat-radio-button>
          <mat-radio-button value="replace">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'WORKSPACE.SHARE.BULK_MODE.REPLACE' | translate }}
              </ng-container>
              <ng-container slot="description">
                {{ 'WORKSPACE.SHARE.BULK_MODE.REPLACE_DESCRIPTION' | translate }}
              </ng-container>
            </es-multi-line-label>
          </mat-radio-button>
        </mat-radio-group>
        <div class="publish-bulk">
          <mat-slide-toggle [(ngModel)]="bulkPublish" [disabled]="!publishPermission">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'WORKSPACE.SHARE.PUBLISH.MODE_DIRECT' | translate }}
              </ng-container>
              <ng-container slot="description">
                {{ 'WORKSPACE.SHARE.PUBLISH.MODE_DIRECT_INFO_MULTIPLE' | translate }}
              </ng-container>
            </es-multi-line-label>
          </mat-slide-toggle>
        </div>
      </div>
      }
    </div>
  </mat-tab>
  <!-- structure and inheritance tab -->
  @if ( _nodes?.length === 1 && _nodes[0].ref?.id && isCollectionOrDirectory() &&
  atLeastOneTreeChild() ) {
  <mat-tab [id]="structureTabId" class="tabContent">
    <ng-template mat-tab-label>
      <i esIcon="group" class="tab-icon"></i>
      <span class="tab-label">{{ 'WORKSPACE.TAB_STRUCTURE_INHERITANCE' | translate }}</span>
    </ng-template>
    <div class="structure-group">
      <es-info-message mode="info">
        <span [innerHTML]="'WORKSPACE.STRUCTURE.INFO' | translate"></span>
      </es-info-message>
      @if (dataSourceStructure.getTotal() > 0) {
      <es-node-entries-wrapper
        class="node-entries-structure"
        [columns]="structureColumns"
        [dataSource]="dataSourceStructure"
        [displayType]="NodeEntriesDisplayType.Tree"
        [elementInteractionType]="InteractionType.Emitter"
        [treeConfig]="structureTreeConfig"
        (selectionChange)="onNodeSelectionChange($event)"
      ></es-node-entries-wrapper>
      }
    </div>
  </mat-tab>
  } @if (_nodes && publishPermission && !isBulk() && !isSafe) {
  <mat-tab class="tabContent">
    <ng-template mat-tab-label>
      <i esIcon="public" class="tab-icon"></i>
      <span class="tab-label">{{ 'WORKSPACE.TAB_PUBLISH' | translate }}</span>
    </ng-template>
    <div class="publish-tab">
      <es-share-dialog-publish
        #publish
        [restrictedAccessComponent]="restrictedAccessComponent"
        [node]="_nodes[0]"
        [permissions]="permissions"
        [inherited]="getPublishInherit()"
        (initCompleted)="setInitialState()"
        [isAuthorEmpty]="isAuthorRequired() ? isAuthorEmpty() : false"
        [isLicenseEmpty]="isLicenseMandatory() ? isLicenseEmpty() : false"
        (disableInherit)="inherited = false"
      ></es-share-dialog-publish>
    </div>
  </mat-tab>
  } @if (_nodes && restrictedAccessPermission && !isBulk() && !isCollection() && !isSafe) {
  <mat-tab class="tabContent">
    <ng-template mat-tab-label>
      <i esIcon="lock" class="tab-icon"></i>
      <span class="tab-label">{{ 'WORKSPACE.TAB_RESTRICTED_ACCESS' | translate }}</span>
    </ng-template>
    <div class="restricted-access-tab">
      <es-share-dialog-restricted-access
        #restrictedAccessComponent
        [node]="_nodes[0]"
      ></es-share-dialog-restricted-access>
    </div>
  </mat-tab>
  } @if (isAdmin && permissionsUser && permissionsGroup) {
  <mat-tab class="tabContent">
    <ng-template mat-tab-label>
      <i esIcon="settings" class="tab-icon"></i>
      <span class="tab-label">{{ 'WORKSPACE.TAB_ADVANCED' | translate }}</span>
    </ng-template>
    <div class="advanced">
      @if (permissionsUser.length + permissionsGroup.length === 0) {
      <h4 class="mat-heading-4">
        {{ 'WORKSPACE.SHARE.NO_PERMISSIONS' | translate }}
      </h4>
      } @for (permission of permissionsGroup.concat(permissionsUser); track permission) {
      <div>
        <div class="advancedAuthority">
          <i class="type material-icons">{{
            permission.authority.authorityType === 'USER' ? 'person' : 'group'
          }}</i
          >{{ permission | permissionName }}
        </div>
        @for (type of ALL_PERMISSIONS; track type) {
        <div class="advancedPermission">
          <mat-checkbox
            id="{{ permission.authority.authorityName + '_' + type }}"
            [checked]="hasImplicitPermission(permission, type)"
            [disabled]="isImplicitPermission(permission, type)"
            (change)="setPermission(permission, type, $event)"
          >
            {{ type }}
          </mat-checkbox>
        </div>
        }
      </div>
      }
    </div>
  </mat-tab>
  }
</mat-tab-group>

<ng-template #state>
  @if (initialState) {
  <div class="state">
    @if (getState() === 'PRIVATE') {
    <div [class.state-changed]="isStateModified()" class="show-state">
      <i esIcon="lock"></i><span> {{ 'WORKSPACE.SHARE.STATE.PRIVATE' | translate }}</span>
    </div>
    } @if (getState() === 'SHARED') {
    <div [class.state-changed]="isStateModified()" class="show-state">
      <i esIcon="group"></i><span> {{ 'WORKSPACE.SHARE.STATE.SHARED' | translate }}</span>
    </div>
    } @if (getState() === 'PUBLIC') {
    <div [class.state-changed]="isStateModified()" class="show-state">
      <i class="material-icons" style="color: #42ca8d">public</i
      ><span> {{ 'WORKSPACE.SHARE.STATE.PUBLIC' | translate }}</span>
    </div>
    }
  </div>
  }
</ng-template>
