<card title="{{'NODE_VARIANT.TITLE' | translate}}" [node]="_node" width="normal" height="normal"
      [buttons]="buttons"
      (onCancel)="cancel()"
>
    <div *ngIf="_node" class="variant-content">
        <label for="variantName">{{'NODE_VARIANT.NEW_VARIANT' | translate}}</label>
        <input type="text" id="variantName" [(ngModel)]="variantName">
        <div class="general-warning license-warning" *ngIf="licenseWarning">
            <div>
                <i class="material-icons">warning_outline</i>
            </div>
            <div>
                <div class="warning">{{'NODE_VARIANT.WARNING.'+licenseWarning | translate}}</div>
                <div class="clickable link" *ngIf="getLicenseUrl()" (click)="openLicense()">{{'NODE_VARIANT.WARNING.LINK' | translate}}</div>
            </div>
        </div>
        <div class="breadcrumb-style">
            <div class="breadcrumb-info">{{'NODE_VARIANT.BREADCRUMB_INFO' | translate}}</div>
            <breadcrumbs
                    [breadcrumbsAsNode]="breadcrumbs"
                    [home]="'WORKSPACE.MY_FILES'"
                    [clickable]="false"
            ></breadcrumbs>
            <button mat-raised-button class="btn-choose" (click)="chooseDirectory=true">{{'NODE_VARIANT.CHOOSE' | translate}}</button>
        </div>
    </div>
</card>
<file-chooser
        *ngIf="chooseDirectory"
        [title]="'NODE_VARIANT.FILE_PICKER_TITLE'"
        [pickDirectory]="true"
        [isCancelable]="true"
        [writeRequired]="true"
        [priority]="1"
        (onCancel)="chooseDirectory=false"
        (onChoose)="setDirectory($event)"
></file-chooser>