@import '../../../core-ui-module/styles/variables';

.report {
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 20px;
    font-size: 110%;
    font-weight: bold;
    color: $textLight;
}
.variant-content {
    padding: $cardPadding;
}

.breadcrumb-style {
    margin: 20px -20px;
    padding: 20px 20px;
    //padding-right: 30px;
    background: $buttonHoverBackground;
    display: flex;
    width: calc(100% + 40px);
    align-items: center;
    .group-left {
        display: flex;
        flex-direction: column;
        .breadcrumb-info {
            padding-bottom: 5px;
        }
    }
}

.btn-choose {
    flex-grow: 1;
    > button {
        margin-top: 10px;
    }
}
es-info-message {
    .link {
        color: $primary;
        text-transform: uppercase;
    }
}
