<div class="dialog darken" [@fade]="this"></div>
<div class="card center-card card-action card-wide" [@cardAnimation]="this">
  <div class="card-content">
      <div tabindex="0" class="card-cancel" (click)="cancel()" (keyup.enter)="cancel()"><i icon iconId="close" aria="true"></i></div>
      <div class="card-title" innerHTML="{{'NODE_VARIANT.TITLE' | translate : {name:_node.name} }}"></div>
    <div *ngIf="_node" class="card-scroll">

        <label for="variantName">{{'NODE_VARIANT.NEW_VARIANT' | translate}}</label>
        <input type="text" id="variantName" [(ngModel)]="variantName">
        <div class="general-warning license-warning" *ngIf="licenseWarning">
            <div>
                <i class="material-icons">warning_outline</i>
            </div>
            <div>
                <div class="warning">{{'NODE_VARIANT.WARNING.'+licenseWarning | translate}}</div>
                <div class="clickable link" *ngIf="getLicenseUrl()" (click)="openLicense()">{{'NODE_VARIANT.WARNING.LINK' | translate}}</div>
            </div>
        </div>
        <div class="breadcrumb-style">
            <div class="breadcrumb-info">{{'NODE_VARIANT.BREADCRUMB_INFO' | translate}}</div>
            <breadcrumbs
                    [breadcrumbsAsNode]="breadcrumbs"
                    [home]="'WORKSPACE.MY_FILES'"
                    [clickable]="false"
            ></breadcrumbs>
            <div tabindex="0" class="btn-flat btn-shadow btnVersion" (click)="chooseDirectory=true" (keyup.enter)="chooseDirectory=true">{{'NODE_VARIANT.CHOOSE' | translate}}</div>
        </div>

    </div>
  </div>

  <div class="card-action">
    <a class="waves-effect waves-light btn" [class.disabled]="!variantName.trim()" tabindex="0" (keyup.enter)="create()" (click)="create()">{{'NODE_VARIANT.CREATE'+(this.openViaConnector ? '_EDIT' : '') | translate }}</a>
    <a class="btn-flat" tabindex="0" (click)="cancel()" (keyup.enter)="cancel()">{{'CANCEL' | translate }}</a>
  </div>
</div>

<file-chooser
        *ngIf="chooseDirectory"
        [title]="'NODE_VARIANT.FILE_PICKER_TITLE'"
        [pickDirectory]="true"
        [isCancelable]="true"
        [writeRequired]="true"
        [priority]="1"
        (onCancel)="chooseDirectory=false"
        (onChoose)="setDirectory($event)"
></file-chooser>