@import '../../../styles/variables';

.order-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;

    &.card-grid-reorder {
        > .card-grid-order-wrapper {
            &.cdk-drop-list-dragging {
                opacity: 0.75;
                outline: 3px solid $primary;
                > app-node-entries-card:last-child {
                    display: none;
                }

            }
        }
    }
    > li.global-options {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        grid-row-gap: 20px;
        height: 100%;
        min-height: 250px;
        .global-option-btn {
            display: flex;
            height: 100%;
            padding: 0;
        }
        .global-option {
            cursor: pointer;
            display: flex;
            @include materialShadow();
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 3px dashed $primary;
            color: $primary;
            > i {
                font-size: 32px;
                margin-bottom: 5px;
            }
            > label {
                cursor: pointer;
                font-weight: bold;
            }
            &:hover, &:focus {
                background-color: $primaryVeryLight;
            }
        }
    }
}
:host ::ng-deep {
    .card-grid {
        > li.global-options {
            .global-option-btn {
                .mat-button-wrapper {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
