<es-card
  role="main"
  esSkipTarget="MAIN_CONTENT"
  avatar="assets/images/app-icon.svg"
  [buttons]="buttons"
  title="{{
    (state === 'request' || state === 'done-reset'
      ? 'REGISTER.REQUEST.TITLE'
      : state === 'reset-password'
      ? 'REGISTER.RESET.TITLE'
      : 'REGISTER.TITLE'
    ) | translate
  }}"
  subtitle="{{ 'REGISTER.ORGANIZATION_TITLE' | translate }}"
  width="normal"
  height="auto"
  (cancel)="cancel()"
  [isCancelable]="false"
>
  <div class="register-content card-content-padding">
    <h1 esTitle class="cdk-visually-hidden">{{ 'REGISTER.TITLE' | translate }}</h1>
    <es-register-form
      [class.display-none]="!(state === 'register')"
      (stateChanged)="updateButtons()"
      (registerDone)="onRegisterDone()"
      #registerForm
    ></es-register-form>
    @if (state === 'done' || state === 'done-reset') {
    <es-register-done
      (stateChanged)="updateButtons()"
      (modify)="modifyData()"
      [inputState]="state"
      #registerDone
    ></es-register-done>
    } @if (state === 'request') {
    <es-register-request
      (stateChanged)="updateButtons()"
      (done)="onPasswordRequested()"
      #request
    ></es-register-request>
    } @if (state === 'reset-password') {
    <es-register-reset-password
      (stateChanged)="updateButtons()"
      #resetPassword
      [params]="params"
    ></es-register-reset-password>
    } @if ( state !== 'register' && state !== 'done' && state !== 'done-reset' && state !==
    'request' && canRegister() ) {
    <div class="register">
      {{ 'LOGIN.REGISTER_TEXT' | translate }}
      <button mat-button color="primary" (click)="linkRegister()">
        {{ 'LOGIN.REGISTER_LINK' | translate }} <i esIcon="arrow_forward"></i>
      </button>
    </div>
    }
  </div>
</es-card>
