@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
    .info-checkbox {
        padding-bottom: 8px;
    }
    .configuration-link {
        position: relative;
        margin-bottom: 16px;
    }
    .info-left {
        width: 100%;
    }
    .info-right {
        position: relative;
        text-align: right;
        .switch {
            float: right;
        }
    }
}
:host ::ng-deep es-input-password mat-form-field {
    width: 100%;
}

es-input-password {
    display: flex;
    margin-top: 8px;
}

.copyLink {
    padding-left: 10px;
    margin-top: 8px;
}

.heading {
    font-weight: bold;
}

.link {
    background-color: $backgroundColor;
}

.link-info,
.link-downloads {
    display: block;
    width: 100%;
    line-height: 1.5;
}

.link-info {
    padding: 8px 0 5px;
    margin-bottom: 8px;
    display: flex;
    .linkInput {
        flex-grow: 1;
    }
}

.link-disabled {
    filter: blur(2px);
}

.qr-code {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
