<div class="group">
  <div class="configuration-link">
    <div class="info-left">
      <div class="heading">{{ 'WORKSPACE.SHARE_LINK.EXPIRY_TITLE' | translate }}</div>
      <p>{{ 'WORKSPACE.SHARE_LINK.EXPIRY_INFO' | translate }}</p>
      <es-calendar
        *ngIf="expiry"
        label="{{ 'WORKSPACE.SHARE_LINK.EXPIRY_LABEL' | translate }}"
        [(date)]="expiryDate"
        [minDate]="today"
      ></es-calendar>
    </div>
    <div class="info-right">
      <mat-slide-toggle
        [(ngModel)]="expiry"
        (change)="setExpiry(expiry)"
        [disabled]="!enabled"
      ></mat-slide-toggle>
    </div>
  </div>
  <div class="configuration-link">
    <div class="info-left">
      <div class="heading">{{ 'WORKSPACE.SHARE_LINK.PASSWORD' | translate }}</div>
      <p>{{ 'WORKSPACE.SHARE_LINK.PASSWORD_INFO' | translate }}</p>
    </div>

    <div class="info-right">
      <mat-slide-toggle
        [(ngModel)]="passwordEnabled"
        (change)="setPassword()"
        [disabled]="!enabled"
      ></mat-slide-toggle>
    </div>
    <es-input-password
      *ngIf="passwordEnabled"
      (change)="setPassword()"
      [(value)]="passwordString"
      label="{{
        (passwordAlreadySet
          ? 'WORKSPACE.SHARE_LINK.PASSWORD_PLACEHOLDER_EDIT'
          : 'WORKSPACE.SHARE_LINK.PASSWORD_PLACEHOLDER'
        ) | translate
      }}"
    >
    </es-input-password>
  </div>
</div>

<div class="link">
  <div class="info">
    <div class="info-checkbox">
      <mat-checkbox [(ngModel)]="enabled" (change)="setEnabled(enabled)">{{
        'WORKSPACE.SHARE_LINK.ACTIVATE' | translate
      }}</mat-checkbox>
    </div>
  </div>
  <div class="info link-info" [class.link-disabled]="!enabled">
    <mat-form-field class="linkInput info-left">
      <mat-label>{{ 'WORKSPACE.SHARE_LINK.LINK' | translate }}</mat-label>
      <input
        matInput
        #shareUrl
        [disabled]="!enabled"
        (click)="shareUrl.select()"
        readonly="true"
        [(ngModel)]="currentShare.url"
      />
    </mat-form-field>
    <div class="copyLink">
      <button
        mat-raised-button
        (click)="copyClipboard()"
        [disabled]="!enabled"
        (keyup.enter)="copyClipboard()"
        class="link-copy"
      >
        {{ 'WORKSPACE.SHARE_LINK.COPY_CLIPBOARD' | translate }}
      </button>
    </div>
  </div>
</div>

<div class="group">
  <div class="link-info">
    {{ 'WORKSPACE.SHARE_LINK.LINK_INFO' + (_node.isDirectory ? '_FOLDER' : '') | translate }}
  </div>
  <div class="link-downloads" *ngIf="enabled">
    {{ 'WORKSPACE.SHARE_LINK.LINK_DOWNLOADS' | translate : { count: currentShare.downloadCount } }}
  </div>
</div>
