<es-info-message>{{ 'ADMIN.CONTEXT.CREATE_INFO' | translate }}</es-info-message>
<h4 class="mat-heading-4 mat-heading-underline">
  <i esIcon="settings"></i>{{ 'ADMIN.CONTEXT.CREATE' | translate }}
</h4>
<form [formGroup]="createForm" class="create" #createFormRef>
  <mat-form-field floatLabel="always">
    <mat-label>{{ 'ADMIN.CONTEXT.CONTEXT_DOMAIN' | translate }}</mat-label>
    <mat-chip-grid #chipList formControlName="domain">
      <mat-chip
        *ngFor="let cid of createForm.get('domain').value"
        (removed)="
          createForm
            .get('domain')
            .value.splice(createForm.get('domain').value.indexOf($event.chip.value), 1)
        "
      >
        {{ cid }}
        <i esIcon="cancel" matChipRemove></i>
      </mat-chip>

      <input
        matInput
        #domainInput
        [matChipInputFor]="chipList"
        (matChipInputTokenEnd)="
          createForm.get('domain').value.push($event.value); domainInput.value = ''
        "
        [placeholder]="createForm.get('domain').value?.length ? '' : 'example.tld'"
      />
    </mat-chip-grid>
    <mat-hint>{{ 'WORKSPACE.EDITOR.HINT_ENTER' | translate }}</mat-hint>
  </mat-form-field>
  <ng-container *ngTemplateOutlet="editors; context: { form: createForm }"></ng-container>
  <div>
    <button mat-flat-button color="primary" (click)="createContext()">
      {{ 'ADMIN.CONTEXT.CREATE_SAVE' | translate }}
    </button>
  </div>
</form>
<h4 class="mat-heading-4 mat-heading-underline">
  <i esIcon="settings"></i>{{ 'ADMIN.CONTEXT.CURRENT' | translate }}
</h4>
<es-spinner *ngIf="loading"></es-spinner>
<div *ngIf="!loading" class="current">
  <div *ngFor="let c of context">
    <div
      class="open-close clickable context"
      tabindex="0"
      [class.opened]="openCloseContext[c.id]"
      (click)="openCloseContext[c.id] = !openCloseContext[c.id]"
    >
      <i esIcon="public"></i>
      <span>{{ c.domain.join(', ') }}</span>
      <i
        *ngIf="c.id === currentId"
        class="active"
        esIcon="home"
        matTooltip="{{ 'ADMIN.CONTEXT.ACTIVE' | translate }}"
      ></i>
      <i [esIcon]="openCloseContext[c.id] ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"></i>
    </div>
    <div
      class="context-details"
      *ngIf="openCloseContext[c.id]"
      [@openOverlay]="openCloseContext[c.id]"
    >
      <form [formGroup]="contextForm[c.id]" class="edit">
        <mat-form-field>
          <mat-label>{{ 'ADMIN.CONTEXT.CONTEXT_ID' | translate }}</mat-label>
          <input readonly matInput [ngModel]="c.id" [ngModelOptions]="{ standalone: true }" />
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>{{ 'ADMIN.CONTEXT.CONTEXT_DOMAIN' | translate }}</mat-label>
          <mat-chip-grid #chipList formControlName="domain">
            <mat-chip
              *ngFor="let cid of contextForm[c.id].get('domain').value"
              (removed)="
                contextForm[c.id]
                  .get('domain')
                  .value.splice(contextForm[c.id].get('domain').value.indexOf($event.chip.value), 1)
              "
            >
              {{ cid }}
              <i esIcon="cancel" matChipRemove></i>
            </mat-chip>

            <input
              matInput
              #domainInput
              [matChipInputFor]="chipList"
              (matChipInputTokenEnd)="
                contextForm[c.id].get('domain').value.push($event.value); domainInput.value = ''
              "
              [placeholder]="contextForm[c.id].get('domain').value?.length ? '' : 'example.tld'"
            />
          </mat-chip-grid>
          <mat-hint>{{ 'WORKSPACE.EDITOR.HINT_ENTER' | translate }}</mat-hint>
        </mat-form-field>
        <ng-container
          *ngTemplateOutlet="editors; context: { context: c, form: contextForm[c.id] }"
        ></ng-container>
        <div class="actions">
          <button mat-flat-button color="primary" (click)="saveContext(c)">
            {{ 'SAVE' | translate }}
          </button>
          <button mat-flat-button (click)="asTemplate(c)">
            <i esIcon="assignment_turned_in"></i>{{ 'ADMIN.CONTEXT.TEMPLATE' | translate }}
          </button>
          <button
            *ngIf="c.id !== currentId"
            mat-flat-button
            color="primary"
            (click)="enableContext(c)"
          >
            <i esIcon="swap_horiz"></i>
            {{ 'ADMIN.CONTEXT.ACTIVATE' | translate }}
          </button>
          <button mat-flat-button color="warn" (click)="deleteContext(c)">
            <i esIcon="delete"></i>{{ 'ADMIN.CONTEXT.DELETE' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #editors let-context="context" let-form="form">
  <div *ngFor="let variant of ConfigVarians" [formGroup]="form">
    <div
      class="open-close clickable"
      [class.opened]="openCloseEditors[context?.id + variant]"
      tabindex="0"
      (click)="openCloseEditors[context?.id + variant] = !openCloseEditors[context?.id + variant]"
    >
      <span>{{ 'ADMIN.CONTEXT.CONTEXT_CONFIG_' + variant.toUpperCase() | translate }}</span>
      <i
        [esIcon]="
          openCloseEditors[context?.id + variant] ? 'keyboard_arrow_up' : 'keyboard_arrow_down'
        "
      ></i>
    </div>
    <div
      class="editor editor-values"
      *ngIf="openCloseEditors[context?.id + variant]"
      [@openOverlay]="openCloseEditors[context?.id + variant]"
    >
      <es-code-editor [formControlName]="variant" [options]="editorOptions"></es-code-editor>
      <label for="{{ variant }}-sample">{{ 'ADMIN.CONTEXT.VALUES_SAMPLE' | translate }}</label>
      <!-- TODO getSpec -->
      <es-code-editor
        id="{{ variant }}-sample"
        class="roConfig"
        [ngModel]="getSpec(variant)"
        [ngModelOptions]="{ standalone: true }"
        [options]="editorOptionsRO"
      ></es-code-editor>
    </div>
  </div>
</ng-template>
