<div class="messages">
  <h3 class="mat-heading-3 mat-heading-underline" #heading>
    {{ 'ADMIN.MESSAGES.' + (this.editId() ? 'EDIT_MESSAGE' : 'ADD_MESSAGE') | translate }}
  </h3>
  <form class="create" [formGroup]="createForm">
    <mat-form-field>
      <mat-chip-grid #chipGridComponent>
        <mat-chip-row
          (removed)="removeComponent($event)"
          [value]="item"
          *ngFor="let item of selectedComponents()"
        >
          {{ 'SIDEBAR.' + item.toUpperCase() | translate }}
          <button matChipRemove>
            <i esIcon="cancel"></i>
          </button>
        </mat-chip-row>
        <!-- Input with autocomplete -->
        <input
          [value]="componentFilter()"
          (input)="componentFilter.set($any($event.target).value)"
          placeholder="{{ 'ADMIN.MESSAGES.SELECT_COMPONENT' | translate }}"
          [matChipInputFor]="chipGridComponent"
          [matAutocomplete]="autoComponent"
        />
      </mat-chip-grid>

      <mat-autocomplete
        #autoComponent="matAutocomplete"
        (optionSelected)="selectComponent($event)"
        [autoSelectActiveOption]="false"
      >
        <mat-option *ngFor="let option of availableComponents()" [value]="option">
          {{ 'SIDEBAR.' + option.toUpperCase() | translate }}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>{{ 'ADMIN.MESSAGES.SELECT_COMPONENT_HINT' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field *ngIf="contexts()?.length">
      <mat-chip-grid #chipGrid>
        <mat-chip-row
          (removed)="removeContext($event)"
          [value]="item"
          *ngFor="let item of selectedContexts()"
        >
          {{ item | esContextName }}
          <button matChipRemove>
            <i esIcon="cancel"></i>
          </button>
        </mat-chip-row>
        <!-- Input with autocomplete -->
        <input
          [value]="contextsFilter()"
          (input)="contextsFilter.set($any($event.target).value)"
          placeholder="{{ 'ADMIN.MESSAGES.SELECT_CONTEXT' | translate }}"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
        />
      </mat-chip-grid>

      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectContext($event)"
        [autoSelectActiveOption]="false"
      >
        <mat-option *ngFor="let option of availableContexts()" [value]="option">
          {{ option | esContextName }}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>{{ 'ADMIN.MESSAGES.SELECT_CONTEXT_HINT' | translate }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-chip-grid #chipGrid>
        <mat-chip-row
          (removed)="removeTp($event)"
          [value]="item"
          *ngFor="let item of selectedTp()"
          matTooltip="{{ 'TOOLPERMISSION.' + item | translate }}"
        >
          {{ item }}
          <button matChipRemove>
            <i esIcon="cancel"></i>
          </button>
        </mat-chip-row>
        <!-- Input with autocomplete -->
        <input
          placeholder="{{ 'ADMIN.MESSAGES.SELECT_TP' | translate }}"
          [value]="tpFilter()"
          (input)="tpFilter.set($any($event.target).value)"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
        />
      </mat-chip-grid>

      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectTp($event)"
        [autoSelectActiveOption]="false"
      >
        <mat-option
          *ngFor="let option of availableTp()"
          [value]="option"
          matTooltip="{{ 'TOOLPERMISSION.' + option | translate }}"
          class="select-toolpermission"
        >
          <div class="primary">
            {{ option }}
          </div>
          <div class="secondary">
            {{ 'TOOLPERMISSION.' + option | translate : { fallback: '' } }}
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-hint>{{ 'ADMIN.MESSAGES.SELECT_TP_HINT' | translate }}</mat-hint>
    </mat-form-field>
    <label class="mat-heading-5">
      {{ 'ADMIN.MESSAGES.TIME_RANGE' | translate }}
    </label>
    <div class="time-range">
      <div>
        <mat-slide-toggle formControlName="fromEnabled"
          >{{ 'ADMIN.MESSAGES.TIME_FROM_ENABLED' | translate }}
        </mat-slide-toggle>
        <es-share-dialog-choose-date
          *ngIf="createForm.get('fromEnabled').value === true"
          [dateTime]="fromDate()"
          (dateTimeChange)="fromDate.set($event)"
          [to]="createForm.get('toEnabled').value === true ? toDate() : null"
        ></es-share-dialog-choose-date>
      </div>

      <div>
        <mat-slide-toggle formControlName="toEnabled"
          >{{ 'ADMIN.MESSAGES.TIME_TO_ENABLED' | translate }}
        </mat-slide-toggle>
        <es-share-dialog-choose-date
          *ngIf="createForm.get('toEnabled').value === true"
          [dateTime]="toDate()"
          (dateTimeChange)="toDate.set($event)"
          [from]="createForm.get('fromEnabled').value === true ? fromDate() : null"
        ></es-share-dialog-choose-date>
      </div>
    </div>
    <label class="mat-heading-5">
      {{ 'ADMIN.MESSAGES.USER_MODES' | translate }}
    </label>
    <mat-radio-group formControlName="userMode">
      <mat-radio-button value="all">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.USER_MODE.ALL_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.USER_MODE.ALL_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
      <mat-radio-button value="guest">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.USER_MODE.GUEST_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.USER_MODE.GUEST_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
      <mat-radio-button value="user">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.USER_MODE.USER_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.USER_MODE.USER_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
    </mat-radio-group>
    <label class="mat-heading-5">
      {{ 'ADMIN.MESSAGES.MODES' | translate }}
    </label>
    <mat-radio-group formControlName="mode">
      <mat-radio-button value="bar">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.MODE.BAR_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.MODE.BAR_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
      <mat-radio-button value="modal">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.MODE.MODAL_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.MODE.MODAL_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="createForm.get('mode').value === 'bar'">
      <label class="mat-heading-5">
        {{ 'ADMIN.MESSAGES.SEVERITIES' | translate }}
      </label>
      <mat-radio-group formControlName="severity">
        <mat-radio-button value="info">
          <es-multi-line-label>
            <ng-container slot="label">
              {{ 'ADMIN.MESSAGES.SEVERITY.INFO_TITLE' | translate }}
            </ng-container>
            <ng-container slot="description">
              {{ 'ADMIN.MESSAGES.SEVERITY.INFO_DESCRIPTION' | translate }}
            </ng-container>
          </es-multi-line-label>
        </mat-radio-button>
        <mat-radio-button value="warning">
          <es-multi-line-label>
            <ng-container slot="label">
              {{ 'ADMIN.MESSAGES.SEVERITY.WARNING_TITLE' | translate }}
            </ng-container>
            <ng-container slot="description">
              {{ 'ADMIN.MESSAGES.SEVERITY.WARNING_DESCRIPTION' | translate }}
            </ng-container>
          </es-multi-line-label>
        </mat-radio-button>
        <mat-radio-button value="error">
          <es-multi-line-label>
            <ng-container slot="label">
              {{ 'ADMIN.MESSAGES.SEVERITY.ERROR_TITLE' | translate }}
            </ng-container>
            <ng-container slot="description">
              {{ 'ADMIN.MESSAGES.SEVERITY.ERROR_DESCRIPTION' | translate }}
            </ng-container>
          </es-multi-line-label>
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
    <label class="mat-heading-5">
      {{ 'ADMIN.MESSAGES.REPEATS' | translate }}
    </label>
    <mat-radio-group formControlName="repeat">
      <mat-radio-button value="once">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.REPEAT.ONCE_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.REPEAT.ONCE_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
      <mat-radio-button value="repeat">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.REPEAT.REPEAT_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.REPEAT.REPEAT_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
      <mat-radio-button value="always" *ngIf="createForm.get('mode').value === 'bar'">
        <es-multi-line-label>
          <ng-container slot="label">
            {{ 'ADMIN.MESSAGES.REPEAT.ALWAYS_TITLE' | translate }}
          </ng-container>
          <ng-container slot="description">
            {{ 'ADMIN.MESSAGES.REPEAT.ALWAYS_DESCRIPTION' | translate }}
          </ng-container>
        </es-multi-line-label>
      </mat-radio-button>
    </mat-radio-group>
    <label class="mat-heading-5">
      {{ 'ADMIN.MESSAGES.MESSAGE' | translate }}
    </label>
    <editor
      #editor
      *ngIf="editorConfig"
      [init]="editorConfig"
      [(ngModel)]="message"
      [ngModelOptions]="{ standalone: true }"
    ></editor>
    <div class="actions">
      <button mat-button color="primary" (click)="reset()" *ngIf="editId()">
        {{ 'CANCEL' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="addMessage()" [disabled]="!message">
        {{ 'ADMIN.MESSAGES.CREATE_SAVE' | translate }}
      </button>
    </div>
  </form>

  <div
    class="list"
    *ngIf="config()?.messages?.length; else empty"
    cdkDropList
    [cdkDropListData]="config()?.messages"
    (cdkDropListDropped)="drop($event)"
  >
    <es-info-message *ngIf="config().messages.length > 1">
      {{ 'ADMIN.MESSAGES.MULTIPLE_ORDER_HINT' | translate }}
    </es-info-message>
    <div class="message-card" *ngFor="let msg of config().messages" cdkDrag>
      <div class="handle" cdkDragHandle><i esIcon="reorder"></i></div>
      <div class="attributes">
        <div class="main-config">
          <div class="userMode">
            <label>{{ 'ADMIN.MESSAGES.USER_MODES' | translate }}</label>
            <div>
              {{ 'ADMIN.MESSAGES.USER_MODE.' + msg.userMode?.toUpperCase() + '_TITLE' | translate }}
            </div>
          </div>
          <div class="mode">
            <label>{{ 'ADMIN.MESSAGES.MODES' | translate }}</label>
            <div>{{ 'ADMIN.MESSAGES.MODE.' + msg.mode?.toUpperCase() + '_TITLE' | translate }}</div>
          </div>
          <div class="from">
            <label>{{ 'ADMIN.MESSAGES.TIME_FROM_ENABLED' | translate }}</label>
            <div>
              {{ msg.from ? (msg.from | formatDate : { relative: false, time: true }) : '-' }}
            </div>
          </div>
          <div class="to" *ngIf="msg.to">
            <label>{{ 'ADMIN.MESSAGES.TIME_TO_ENABLED' | translate }}</label>
            <div>{{ msg.to ? (msg.to | formatDate : { relative: false, time: true }) : '-' }}</div>
          </div>
          <div class="severity" *ngIf="msg.mode === 'bar'">
            <label>{{ 'ADMIN.MESSAGES.SEVERITIES' | translate }}</label>
            <div>
              {{ 'ADMIN.MESSAGES.SEVERITY.' + msg.severity?.toUpperCase() + '_TITLE' | translate }}
            </div>
          </div>
          <div class="repeat">
            <label>{{ 'ADMIN.MESSAGES.REPEATS' | translate }}</label>
            <div>
              {{ 'ADMIN.MESSAGES.REPEAT.' + msg.repeat?.toUpperCase() + '_TITLE' | translate }}
            </div>
          </div>
        </div>
        <div class="chips">
          <mat-chip-set>
            <mat-chip
              class="contexts"
              *ngFor="let c of msg.contexts"
              matTooltip="{{ getContext(c)?.domain }}"
            >
              {{ c }}
            </mat-chip>
            <mat-chip
              class="tp"
              *ngFor="let t of msg.toolpermissions"
              matTooltip="{{ 'TOOLPERMISSION.' + t | translate }}"
            >
              {{ t }}
            </mat-chip>
          </mat-chip-set>
        </div>
        <div>
          <label>{{ 'ADMIN.MESSAGES.MESSAGE' | translate }}</label>
          <div class="message" [innerHTML]="msg.message | safeHtml : { purify: true }"></div>
        </div>
      </div>

      <!-- message html -->
      <div class="actions">
        <!-- <button mat-icon-button color="primary" (click)="editMessage(msg)">
           <i esIcon="edit"></i>
         </button>-->
        <button mat-icon-button color="primary" (click)="editMessage(msg)">
          <i esIcon="edit"></i>
        </button>
        <button mat-icon-button color="warn" (click)="deleteMessage(msg)">
          <i esIcon="delete"></i>
        </button>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <p class="empty">{{ 'ADMIN.MESSAGES.NO_MESSAGES' | translate }}</p>
  </ng-template>
</div>
