<div class="infobar infobar-{{position}}"
      *ngIf="title"
      [@infobarBottom]="title"
>
    <div class="infobar-message">
      <div class="title">{{title | translate}}</div>
      <div class="message">{{message | translate:messageParameters }}</div>
    </div>
    <div class="infobar-buttons" *ngIf="_buttons">
      <div *ngFor="let button of _buttons;let i=index" #buttonElements>
          <button mat-raised-button color="white" *ngIf="button.type==1" (click)="click(button)">{{button.name | translate}}</button>
          <button mat-button color="white" *ngIf="button.type==2" (click)="click(button)">{{button.name | translate}}</button>
      </div>
    </div>
    <div *ngIf="isCancelable" class="infobar-cancel clickable" (click)="cancel()"><i class="material-icons">close</i></div>
</div>
