<mat-sidenav-container
  [class.mat-sidenav-container-right-open]="editorialSidebarService.sidebarOpened()"
>
  <mat-sidenav
    #rightSidenav
    [mode]="'side'"
    [opened]="editorialSidebarService.sidebarOpened()"
    [defaultWidth]="0.3"
    class="es-mat-sidenav"
    storageKey="WORKSPACE_SIDENAV_RIGHT_WIDTH"
    esResizableSidenav
    position="end"
  >
    <div class="es-mat-sidenav-content">
      <es-editorial-sidebar
        [primaryMode]="'workspace'"
        [parent]="sidebarParent"
      ></es-editorial-sidebar>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="frame" cdkDropList [cdkDropListSortingDisabled]="true">
      <div class="topbarFrame">
        <div class="mobile-move-top">
          @if (isLoggedIn) {
          <es-breadcrumbs
            [showLanding]="true"
            [searchQuery]="searchQuery?.query"
            [home]="'WORKSPACE.' + root"
            [canDropNodes]="canDropOnBreadcrumb"
            (dropElement)="handleDropOnBreadcrumb($event)"
            (clickBreadcrumb)="openBreadcrumb($event)"
          ></es-breadcrumbs>
          }
          <es-actionbar #actionbar></es-actionbar>
        </div>
      </div>
      @if (isBlocked) {
      <div class="workspace-container isBlocked">
        {{ 'NO_PERMISSIONS_FOR_SCOPE' | translate }}
      </div>
      } @if (!isBlocked) {
      <div class="workspace-container" [class.hide]="globalProgress">
        @if (showSelectRoot) {
        <div class="dialog" (click)="showSelectRoot = false"></div>
        } @if (showSelectRoot) {
        <div class="selectRootMenu collection" [@overlay]="showSelectRoot">
          <a
            class="collection-item"
            [class.rootSelected]="root === 'MY_FILES'"
            (click)="showSelectRoot = false; setRoot('MY_FILES')"
            ><i esIcon="person"></i> {{ 'WORKSPACE.MY_FILES' | translate }}</a
          >
          <a
            class="collection-item"
            [class.rootSelected]="root === 'SHARED_FILES'"
            (click)="showSelectRoot = false; setRoot('SHARED_FILES')"
            ><i esIcon="group"></i> {{ 'WORKSPACE.SHARED_FILES' | translate }}</a
          >
          <a
            class="collection-item"
            [routerLink]="'/' + UIConstants.ROUTER_PREFIX + 'editorial/share'"
            data-test="workspace-tree-shared-files-link"
          >
            <i class="material-icons typeIcon">send</i
            >{{ 'WORKSPACE.SHARED_FILES_LINK' | translate }}
            <i class="material-icons"> open_in_new </i>
          </a>
          <a
            class="collection-item"
            [class.rootSelected]="root === 'WORKFLOW_RECEIVE'"
            (click)="showSelectRoot = false; setRoot('WORKFLOW_RECEIVE')"
            ><i esIcon="inbox"></i> {{ 'WORKSPACE.WORKFLOW_RECEIVE' | translate }}</a
          >
          <a
            class="collection-item"
            [class.rootSelected]="root === 'RECYCLE'"
            (click)="showSelectRoot = false; setRoot('RECYCLE')"
            ><i esIcon="delete"></i> {{ 'WORKSPACE.RECYCLE' | translate }}</a
          >
        </div>
        } @if (isLoggedIn) {
        <div class="tree" [style.--treeOffset.px]="treeOffset">
          <es-workspace-tree
            [class.tree-quota]="user.person.quota.enabled"
            [path]="path"
            [selectedNode]="selectedNodeTree"
            [root]="root"
            [workspace]="this"
            [isSafe]="isSafe"
            (dropElement)="handleDrop($event)"
            (setRoot)="setRoot($event)"
            (openNode)="openNode($event)"
            (deleteNodes)="onDeleteNodes($event)"
          ></es-workspace-tree>
          @if (user.person.quota.enabled) {
          <es-user-quota [quota]="user.person.quota"></es-user-quota>
          }
        </div>
        } @if (root === 'RECYCLE') {
        <es-recycle class="explorer" [actionbar]="actionbar"></es-recycle>
        }
        <h1 esTitle class="cdk-visually-hidden">{{ 'WORKSPACE.TITLE' | translate }}</h1>
        @if (root !== 'RECYCLE') {
        <es-workspace-explorer
          class="explorer"
          #explorer
          role="main"
          esSkipTarget="MAIN_CONTENT"
          appCreateContextMenu
          [current]="currentFolder"
          [root]="root"
          (refreshTree)="treeComponent?.refresh()"
          [searchQuery]="searchQuery"
          [customOptions]="customOptions"
          [displayType]="displayType"
          (displayTypeChange)="setDisplayType($event)"
          [(reorderDialog)]="reorderDialog"
          [preventKeyevents]="cardHasOpenModals$ | async"
          [dataSource]="dataSource"
          [actionbar]="actionbar"
          (searchGlobal)="searchGlobal($event)"
          (dropElement)="handleDrop($event)"
          (viewNode)="openNode($any($event), false)"
          (openNode)="openNode($any($event), false)"
          (resetDataSource)="resetWorkspace()"
        ></es-workspace-explorer>
        }
      </div>
      } @if (globalProgress) {
      <es-global-progress></es-global-progress>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
