<div class="events-wrapper" role="list">
  @for (event of events(); track event) {
  <es-node-url class="event" [node]="event" role="listitem">
    <div class="node-title">
      {{ event | nodeTitle }}
    </div>
    <div class="action-text">
      {{ 'DASHBOARD_SWIMLANE.ACTIVITY.ACTION_TEXT_PREFIX' | translate }}
      <span>
        @if (type() === 'activity') {
        {{
          'EVENT.TYPE.' + $any(event).event.eventType
            | translate : { fallback: $any(event).event.eventType }
        }}
        } @if (type() === 'share') {
        {{ 'DASHBOARD_SWIMLANE.SHARE.INFO_MESSAGE' | translate }}
        }
      </span>
      {{ 'DASHBOARD_SWIMLANE.ACTIVITY.ACTION_TEXT_SUFFIX' | translate }}
      {{
        ($any(event).event || $any(event).share).timestamp
        | formatDate
        : {
        async: true,
        relative: false,
        time: 'auto',
      }
      | async
      }}
    </div>
    <i class="forward-btn" esIcon="chevron_forward"></i>
  </es-node-url>
  } @if (events().length < 1) {
  <div class="empty">
    {{ 'DASHBOARD_SWIMLANE.' + type().toUpperCase() + '.EMPTY' | translate }}
  </div>
  }
</div>
