@use 'variables-scss' as vars;
@use 'mixins' as mixins;

.events-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .event ::ng-deep {
        background: #fff;
        box-shadow: 0 2px 2px 0 #0000001f;
        border-radius: 8px;
        color: var(--textLight);

        a {
            padding: 14px 48px 14px 18px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: center;
            border-radius: inherit;
            color: var(--textLight);
        }

        .node-title {
            font-weight: bold;
            font-size: vars.$fontSizeLarge;
            @include mixins.limitLineCount(1, 1.25);
        }

        .action-text {
            span {
                font-size: vars.$fontSizeSmall;
                font-weight: bold;
                color: var(--primary);
            }
        }

        .forward-btn {
            position: absolute;
            right: 16px;
            color: var(--textLight);
        }
    }
}

.empty {
    color: var(--textLight);
}
