<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <i esIcon="search" matPrefix></i>
  <input
    type="search"
    matInput
    #inputElement
    [matAutocomplete]="autoGroup"
    name="authoritySearch"
    [formControl]="input"
  />
  @if (searchStatus.loading) {
  <es-spinner-small matSuffix></es-spinner-small>
  }
  <mat-autocomplete
    #autoGroup="matAutocomplete"
    class="mat-autocomplete-high"
    (optionSelected)="setOption($event)"
  >
    @if (!searchStatus.loading) { @if (searchStatus.result?.length === 0) {
    <mat-option [disabled]="true">
      <div class="no-match">{{ 'NODE_SEARCH_SELECTOR.NO_MATCHES' | translate }}</div>
    </mat-option>
    } @for (suggestion of searchStatus.result; track suggestion) {
    <mat-option
      class="node-row-option"
      [value]="suggestion"
      [disabled]="!hasPermissions(suggestion)"
    >
      @if (!hasPermissions(suggestion)) {
      <div class="missing-permissions">
        <ng-container
          *ngTemplateOutlet="noPermissionsRef; context: { node: suggestion }"
        ></ng-container>
        @if (!noPermissionsRef) {
        <i
          esIcon="security"
          matTooltip="{{ 'NODE_SEARCH_SELECTOR.NO_PERMISSIONS' | translate }}"
        ></i>
        }
      </div>
      }
      <es-node-row [node]="suggestion" [columns]="columns['Default']"></es-node-row>
    </mat-option>
    } }
  </mat-autocomplete>
</mat-form-field>
@if (hasMds) {
<div class="more clickable" (click)="showMds = !showMds">
  <span>{{ 'NODE_SEARCH_SELECTOR.MORE_FILTERS' | translate }}</span>
  <button mat-icon-button color="primary" (click)="showMds = !showMds; $event.stopPropagation()">
    <i [esIcon]="'keyboard_arrow_' + (showMds ? 'up' : 'down')"></i>
  </button>
</div>
}
<div [@switchDialog]="showMds" class="mds-wrapper">
  <es-mds-editor-wrapper
    #mds
    [embedded]="true"
    [editorMode]="'search'"
    [groupId]="groupId"
    [currentValues]="{}"
    (mdsLoaded)="onMdsLoaded()"
  ></es-mds-editor-wrapper>
</div>
