@import '../../../core-ui-module/styles/variables';

:host {
    width: 100vw;
    text-align: center;
}

.powered {
    font-size: 95%;
    color: #fff;
    opacity: 0.75;
    display: inline-flex;
    align-items: center;
    &.cdk-keyboard-focused {
        @include setGlobalKeyboardFocus();
    }
    img {
        width: auto;
        height: 20px;
        padding-left: 10px;
    }
}

.powered-color {
    color: #000;
}
