@import "../../../../styles/variables.scss";
.powered{
  font-size: 95%;
  width: 100vw;
  color: #fff;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: auto;
    height:20px;
    padding-left: 10px;
  }
}
.powered-color{
  color:#000;
}