@if (loading) {
<es-global-progress></es-global-progress>
}
<h1 esTitle class="cdk-visually-hidden">{{ 'SHARING.TITLE' | translate }}</h1>
@if (!loading && sharingInfo) {
<div class="container">
  <div class="container-inside">
    <div class="branding">
      <img [src]="'assets/images/logo.svg' | esAssetsPath" esImageConfig alt="logo" />
    </div>
    <div
      class="details"
      [ngClass]="{ 'details-opacity': !(!sharingInfo.password || sharingInfo.passwordMatches) }"
    >
      <div class="details-type">
        <img class="icon" [src]="sharingInfo.node | esNodeIcon | async" />
        <div>
          <div class="name">{{ sharingInfo.node.name }}</div>
          @if (childCount() > 0) {
          <div class="subobjects">
            {{
              'SHARING.SUBELEMENT_' + (childCount() === 1 ? 'SINGLE' : 'MULTI')
                | translate : { count: childCount() }
            }}
          </div>
          } @if (inviterIsAuthor()) {
          <div>
            {{
              'SHARING.INVITED_AND_CREATED_BY'
                | translate : { inviter: getPersonName(sharingInfo.invitedBy) }
            }}
          </div>
          } @if (!inviterIsAuthor()) {
          <div>
            {{
              'SHARING.INVITED_PLUS_CREATED_BY'
                | translate
                  : {
                      inviter: getPersonName(sharingInfo.invitedBy),
                      creator: getPersonName(sharingInfo.node.createdBy)
                    }
            }}
          </div>
          }
        </div>
      </div>
    </div>
    @if (!(!sharingInfo.password || sharingInfo.passwordMatches)) {
    <div class="password-required">
      <form (ngsubmit)="validatePassword()">
        <es-input-password
          label="{{ 'SHARING.PASSWORD' | translate }}"
          [required]="true"
          inputId="password"
          (keydown.enter)="validatePassword()"
          [(value)]="passwordInput"
          placeholder="{{ 'SHARING.PASSWORD_PLACEHOLDER' | translate }}"
        ></es-input-password>
        <button mat-raised-button color="primary" (click)="validatePassword()">
          {{ 'SHARING.ENTER_PASSWORD' | translate }}
        </button>
      </form>
    </div>
    } @if (!sharingInfo.password || sharingInfo.passwordMatches) {
    <div class="password-valid">
      @if (sharingInfo.password && sharingInfo.passwordMatches && !sharingInfo.node.isDirectory) {
      <div class="password-correct">
        <i esIcon="done"></i>{{ 'SHARING.PASSWORD_CORRECT' | translate }}
      </div>
      } @if (sharingInfo.node.isDirectory) {
      <div>
        @if (!nodesDataSource?.isEmpty()) {
        <div class="download-top">
          <button mat-raised-button color="primary" (click)="download()">
            <i esIcon="cloud_download"></i>{{ 'SHARING.DOWNLOAD_ZIP' | translate }}
          </button>
        </div>
        }
        <div class="folder">
          <es-node-entries-wrapper
            #nodeEntries
            [dataSource]="nodesDataSource"
            [scope]="Scope.Sharing"
            [columns]="columns"
            [checkbox]="false"
            [sort]="sort"
            [elementInteractionType]="InteractionType.None"
            [displayType]="NodeEntriesDisplayType.Table"
            (sortChange)="changeSort($event)"
          >
            <ng-template #empty>
              <div class="empty mat-heading-5">{{ 'SHARING.EMPTY_FOLDER' | translate }}</div>
            </ng-template>
          </es-node-entries-wrapper>
        </div>
      </div>
      } @if (!sharingInfo.node.isDirectory || !nodesDataSource?.isEmpty()) {
      <div class="download">
        <button mat-raised-button color="primary" (click)="download()">
          <i esIcon="cloud_download"></i
          >{{
            'SHARING.' +
              (sharingInfo.node.mediatype === 'link'
                ? 'LINK'
                : sharingInfo.node.isDirectory && nodesDataSource.getData()?.length > 1
                ? 'DOWNLOAD_ZIP'
                : 'DOWNLOAD') | translate
          }}
        </button>
      </div>
      }
    </div>
    }
  </div>
  <es-powered-by mode="color"></es-powered-by>
</div>
}
