<mat-menu
     #dropdown="matMenu" [xPosition]="position=='right' ? 'after' : 'before'" >
      <button mat-menu-item
         *ngFor="let option of _options;let i=index;"
         class="mat-menu-item collection-item-{{option.name | replaceChars:{search:'.',replace:'-'} }}"
         [class.mat-menu-item-seperate]="option.isSeperate"
         [class.mat-menu-item-seperate-bottom]="option.isSeperateBottom && (i<_options.length-1 && !_options[i+1].isSeperate)"
         [disabled]="!option.isEnabled"
         [class.display-none]="!option.isEnabled && !showDisabled"
         (click)="click(option)"
      ><i icon [iconId]="option.icon"></i> {{option.name | translate}}</button>
</mat-menu>