<div class="dialog dialogOptions" *ngIf="_show" (contextmenu)="hide();$event.preventDefault();$event.stopPropagation();" (click)="hide()"></div>
<div class="collectionContainer"
     #dropdownContainer
     [@openOverlay]="_show" *ngIf="_show" (contextmenu)="hide();$event.preventDefault();$event.stopPropagation();" (click)="hide()">
  <div [@openOverlay]="_show"
       #dropdownRef
       class="moreOpen collection" [class.dropdown-right]="position=='right'" (keydown.escape)="hide();$event.preventDefault();$event.stopPropagation();">
      <a class="collection-item waves-effect collection-item-{{option.name | replaceChars:{search:'.',replace:'-'} }}"
         *ngFor="let option of _options;let i=index;"
         [class.collection-item-seperate]="option.isSeperate"
         [class.collection-item-seperate-bottom]="option.isSeperateBottom && (i<_options.length-1 && !_options[i+1].isSeperate)"
         [class.disabled]="!option.isEnabled"
         [class.display-none]="!option.isEnabled && !showDisabled"
         tabindex="0"
         (keyup.enter)="click(option)"
         (click)="click(option)"
      ><i icon [iconId]="option.icon"></i> {{option.name | translate}}</a>
  </div>
</div>