<es-node-entries-wrapper
  #list
  [columns]="columns"
  [checkbox]="true"
  [displayType]="NodeEntriesDisplayType.Table"
  [scope]="Scope.WorkspaceList"
  [elementInteractionType]="InteractionType.Emitter"
  [sort]="sort"
  [dataSource]="dataSource"
  (sortChange)="updateSort($event)"
  (clickItem)="click($event)"
  (fetchData)="refresh($event)"
>
  <ng-template #empty>
    <h3 *ngIf="!!searchQuery" class="empty mat-heading-3">
      {{ 'RECYCLE.NO_RESULTS_MESSAGE' | translate }}
    </h3>
    <h3 *ngIf="!searchQuery" class="empty mat-heading-3">
      {{ 'RECYCLE.ARCHIVE_EMPTY' | translate }}
    </h3>
  </ng-template>
</es-node-entries-wrapper>

<es-recycle-restore-info
  *ngIf="restoreResult"
  [results]="restoreResult"
  (onClose)="finishRestore()"
  (onRestoreFolder)="restoreNodesEvent($event)"
></es-recycle-restore-info>

<ng-template #confirmDeleteDialog>
  <p>{{ 'RECYCLE.DELETE.CONFIRM_MESSAGE' | translate }}</p>
  <form>
    <div class="checkbox">
      <mat-checkbox name="skipDeleteConfirmation" [(ngModel)]="skipDeleteConfirmation">{{
        'RECYCLE.DELETE.NOT_ASK_AGAIN' | translate
      }}</mat-checkbox>
    </div>
  </form>
</ng-template>
