@if (!nodes()?.length) {
<div class="empty">
  {{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_EMPTY' | translate }}
</div>
} @if (assignment() && nodes()?.length) {
<div class="node-list" cdkDropList [cdkDropListData]="nodes()" (cdkDropListDropped)="drop($event)">
  @for (item of nodes(); track item) {
  <div cdkDrag [cdkDragDisabled]="readonly()">
    <div class="handle" cdkDragHandle><i esIcon="reorder"></i></div>
    <es-node-type-badge [node]="item"></es-node-type-badge>
    <div class="title">{{ item | nodeTitle }}</div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_ROLE' | translate }}</mat-label>
      <mat-select
        [value]="item.documentRole || 'SUBMITTABLE'"
        (selectionChange)="setRole(item, $event)"
        [disabled]="readonly()"
      >
        @if (translateReady$ | async) { @for (role of ['SUBMITTABLE', 'SUPPLEMENTARY']; track role)
        {
        <mat-option [value]="role"
          >{{ 'EDITORIAL.ASSIGNMENT.FORM.ROLE.' + role | translate : { fallback: role } }}
        </mat-option>
        } }
      </mat-select>
    </mat-form-field>
    <div class="warn-area">
      @if ( !item.isPublic && assignment().type !== 'SUBMISSION' &&
      nodeHelperService.getNodesRight([item], ChangePermissions, NodesRightMode.Effective) ) {
      <div
        class="not-public-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_INVITE' | translate }}"
      >
        <i esIcon="group_add"></i>
      </div>
      }
      <!-- @TODO: To define if node rights are required or we may do a copy? -->
      @if ( !item.isPublic && !isLicenseMedia(item) && assignment().type !== 'SUBMISSION' &&
      !nodeHelperService.getNodesRight([item], ChangePermissions, NodesRightMode.Effective) ) {
      <div
        class="not-public-no-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_NO_ACCESS' | translate }}"
      >
        <i esIcon="warning"></i>
      </div>
      } @if (!item.isPublic && isLicenseMedia(item)) {
      <div
        class="not-public-no-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_LICENSE_MEDIA' | translate }}"
      >
        <i esIcon="warning"></i>
      </div>
      }
    </div>
    <button
      mat-icon-button
      class="delete"
      (click)="remove(item)"
      [disabled]="readonly()"
      [attr.aria-label]="'EDITORIAL.ASSIGNMENT.FORM.DELETE' | translate"
    >
      <i esIcon="close"></i>
    </button>
  </div>
  }
</div>
}
