@if (loading()) {
<es-spinner-small></es-spinner-small>
} @else if (!roleNodes()?.length) {
<div class="empty">
  {{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_EMPTY' | translate }}
</div>
} @if (!loading() && assignment() && roleNodes()?.length) {
<div
  class="node-list"
  cdkDropList
  [cdkDropListData]="roleNodes()"
  (cdkDropListDropped)="drop($event)"
>
  @for (item of roleNodes(); track item) {
  <div cdkDrag [cdkDragDisabled]="readonly()">
    <div class="handle" cdkDragHandle><i esIcon="reorder"></i></div>
    <es-node-type-badge [node]="item"></es-node-type-badge>
    <div class="title">{{ item | nodeTitle }}</div>
    <div class="warn-area">
      @if ( !item.isPublic && assignment().type !== 'SUBMISSION' &&
      nodeHelperService.getNodesRight([item], ChangePermissions, NodesRightMode.Effective) ) {
      <div
        class="not-public-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_INVITE' | translate }}"
      >
        <i esIcon="group_add"></i>
      </div>
      }
      <!-- @TODO: To define if node rights are required or we may do a copy? -->
      @if ( !item.isPublic && !isLicenseMedia(item) && assignment().type !== 'SUBMISSION' &&
      !nodeHelperService.getNodesRight([item], ChangePermissions, NodesRightMode.Effective) ) {
      <div
        class="not-public-no-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_NO_ACCESS' | translate }}"
      >
        <i esIcon="warning"></i>
      </div>
      } @if (!item.isPublic && isLicenseMedia(item)) {
      <div
        class="not-public-no-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_LICENSE_MEDIA' | translate }}"
      >
        <i esIcon="warning"></i>
      </div>
      }
    </div>
    <button
      type="button"
      mat-icon-button
      class="delete"
      (click)="remove(item)"
      [disabled]="readonly()"
      [attr.aria-label]="'EDITORIAL.ASSIGNMENT.FORM.DELETE' | translate"
    >
      <i esIcon="close"></i>
    </button>
  </div>
  }
</div>
}
