<div class="empty" *ngIf="!nodes()?.length">
  {{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_EMPTY' | translate }}
</div>
<div
  class="node-list"
  *ngIf="assignment() && nodes()?.length"
  cdkDropList
  [cdkDropListData]="nodes()"
  (cdkDropListDropped)="drop($event)"
>
  @for (item of nodes(); track item) {
  <div cdkDrag [cdkDragDisabled]="readonly()">
    <div class="handle" cdkDragHandle><i esIcon="reorder"></i></div>
    <es-node-type-badge [node]="item"></es-node-type-badge>
    <div class="title">{{ item | nodeTitle }}</div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_ROLE' | translate }}</mat-label>
      <mat-select
        [value]="item.documentRole || 'SUPPLEMENTARY'"
        (selectionChange)="setRole(item, $event)"
        [disabled]="readonly()"
      >
        <ng-container *ngIf="translateReady$ | async">
          <mat-option [value]="role" *ngFor="let role of ['SUPPLEMENTARY', 'SUBMITTABLE']"
            >{{ 'EDITORIAL.ASSIGNMENT.FORM.ROLE.' + role | translate : { fallback: role } }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <div class="warn-area">
      <div
        class="not-public-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_INVITE' | translate }}"
        *ngIf="
          !item.isPublic &&
          assignment().type !== 'SUBMISSION' &&
          nodeHelperService.getNodesRight([item], ChangePermissions, NodesRightMode.Effective)
        "
      >
        <i esIcon="group_add"></i>
      </div>
      <!-- @TODO: To define if node rights are required or we may do a copy? -->
      <div
        class="not-public-no-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_NO_ACCESS' | translate }}"
        *ngIf="
          !item.isPublic &&
          !isLicenseMedia(item) &&
          assignment().type !== 'SUBMISSION' &&
          !nodeHelperService.getNodesRight([item], ChangePermissions, NodesRightMode.Effective)
        "
      >
        <i esIcon="warning"></i>
      </div>
      <div
        class="not-public-no-invite"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.FILES_LICENSE_MEDIA' | translate }}"
        *ngIf="!item.isPublic && isLicenseMedia(item)"
      >
        <i esIcon="warning"></i>
      </div>
    </div>
    <button
      mat-icon-button
      class="delete"
      (click)="remove(item)"
      [disabled]="readonly()"
      [attr.aria-label]="'EDITORIAL.ASSIGNMENT.FORM.DELETE' | translate"
    >
      <i esIcon="close"></i>
    </button>
  </div>
  }
</div>
