<html>
<head></head>
<body>
bom.bom.version: ${bom.bom.version}<br/>
bom.repository.version: ${bom.repository.version}<br/>
bom.repository-antivirus.version: ${bom.repository-antivirus.version}<br/>
bom.repository-cluster.version: ${bom.repository-cluster.version}<br/>
bom.repository-elastic.version: ${bom.repository-elastic.version}<br/>
bom.repository-mongo.version: ${bom.repository-mongo.version}<br/>
bom.repository-remote.version: ${bom.repository-remote.version}<br/>
bom.repository-transform.version: ${bom.repository-transform.version}<br/>
bom.services-rendering.version: ${bom.services-rendering.version}<br/>
<br/>
git.branch: ${git.branch}<br/>
git.closest.tag.name: ${git.closest.tag.fixed}<br/>
git.commit.id: ${git.commit.id}<br/>
git.commit.timestamp.datetime: ${git.commit.timestamp.datetime}<br/>
git.dirty: ${git.dirty}<br/>
<br/>
mvn.project.groupId: ${project.groupId}<br/>
mvn.project.artifactId: ${project.artifactId}<br/>
mvn.project.version: ${project.version}<br/>
<br/>
version.main: ${git.closest.tag.fixed}<br/>
</body>
</html>
