@import '../../../core-ui-module/styles/variables';

#reference-info-expander {
    display: inline-flex;
    vertical-align: middle;
    padding-right: 5px;
    font-weight: bold;
    line-height: 24px;
}
.ccAuthorGroup {
    display: flex;
    flex-direction: column;
    mat-form-field {
        width: 100%;
    }
}
