<div class="add-page-variant-dialog">
  <es-info-message mode="warning" *ngIf="pageConfigRef; else noPageConfigRef">
    <strong>
      {{ i18nPrefix + 'EXISTING_VARIANT.INFO_HEADING' | translate }}
    </strong>
    <br />
    {{ i18nPrefix + 'EXISTING_VARIANT.INFO_LIST_TEXT' | translate }}
    <ul>
      <li>
        {{ i18nPrefix + 'EXISTING_VARIANT.INFO_LIST_ITEM_ONE' | translate }}
      </li>
      <li>
        {{ i18nPrefix + 'EXISTING_VARIANT.INFO_LIST_ITEM_TWO' | translate }}
      </li>
    </ul>
  </es-info-message>

  <ng-template #noPageConfigRef>
    <es-info-message mode="info" *ngIf="!pageConfigRef">
      <strong>
        {{ i18nPrefix + 'EXISTING_TOPIC_PAGE.INFO_HEADING' | translate }}
      </strong>
      {{ i18nPrefix + 'EXISTING_TOPIC_PAGE.INFO_TEXT' | translate }}
    </es-info-message>
  </ng-template>

  <div class="select-copy-option">
    {{ i18nPrefix + 'CREATE_COPY_OF_LABEL' | translate }}
    <mat-button-toggle-group
      class="select-copy-option-btn-group"
      name="copyOption"
      [attr.aria-label]="i18nPrefix + 'COPY_OPTIONS.ARIA' | translate"
      [value]="selectedOption"
      (change)="onCopyOptionChange($event)"
    >
      <mat-button-toggle *ngFor="let option of copyOptions" [value]="option.value">
        <i [esIcon]="option.icon" [aria]="false"></i>
        {{ i18nPrefix + option.viewValue | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-form-field class="search-form-field" subscriptSizing="dynamic" floatLabel="always">
    <mat-label></mat-label>
    <div class="search-field-input-wrapper">
      <i class="search-icon" esIcon="search" aria-hidden="true"></i>
      <input
        matInput
        [(ngModel)]="searchValue"
        [ngModelOptions]="{ standalone: true }"
        [placeholder]="i18nPrefix + 'SEARCH_PLACEHOLDER' | translate"
        (input)="onSearchInput($event)"
        (keyup.enter)="onSearchInput($event)"
      />
      <button
        *ngIf="searchValue"
        matSuffix
        type="button"
        mat-icon-button
        [attr.aria-label]="'RESET' | translate"
        [matTooltip]="'RESET' | translate"
        (click)="clearSearch()"
      >
        <i esIcon="close"></i>
      </button>
      <button
        class="search-button"
        type="button"
        mat-flat-button
        color="primary"
        (click)="updateList()"
      >
        {{ i18nPrefix + 'SEARCH' | translate }}
      </button>
    </div>
  </mat-form-field>

  <div class="search-filters-and-results">
    <es-mds-editor-wrapper
      class="page-variant-search-filters"
      groupId="topic_page_variant_search"
      [repository]="HOME_REPOSITORY"
      [setId]="genericWidgetGlobalService.getDefaultMds()"
      [embedded]="true"
      [currentValues]="{}"
      (currentValuesChange)="onSearchFiltersChange($event)"
      mode="search"
    ></es-mds-editor-wrapper>

    <es-node-entries-wrapper
      #nodeEntriesWrapper
      class="topic-page-entries-wrapper"
      [checkbox]="false"
      [dataSource]="dataSource"
      [columns]="columns"
      [displayType]="DisplayType.Table"
      [elementInteractionType]="InteractionType.Emitter"
      [scope]="Scope.TopicPage"
      [sort]="{
      allowed: true,
      active: sortActive,
      direction: sortDirection,
      columns: sortColumns,
    }"
      (clickItem)="onNodeClick($event)"
      (sortChange)="onSort($event)"
    >
      <!-- placeholder template for empty content -->
      <ng-template #empty>
        <div class="empty">{{ i18nPrefix + 'EMPTY' | translate }}</div>
      </ng-template>
    </es-node-entries-wrapper>
  </div>
</div>
