<div class="message-bg">
  @if (message) {
  <div class="message-container">
    @if (error === '404') {
    <img [src]="'assets/images/message/404.svg' | esAssetsPath" alt="" />
    } @if (error === '500') {
    <img [src]="'assets/images/message/500.svg' | esAssetsPath" alt="" />
    } @if (error !== '500' && error !== '404') {
    <img [src]="'assets/images/message/invalid.svg' | esAssetsPath" alt="" />
    }
    <div>
      <h1 esTitle>{{ message | translate }}</h1>
      <h2>{{ messageDetail | translate : { text: messageText } }}</h2>
      <div class="link">
        <a tabindex="0" (click)="openSearch()" (keyup.enter)="openSearch()" class="clickable">{{
          'MESSAGES.GO_TO_SEARCH' | translate
        }}</a>
      </div>
    </div>
  </div>
  }
</div>
