@import "../../core-ui-module/styles/variables";

.tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    &.tab-metadata {
        > button {
            margin: 5px 20px;
        }
    }
    > h3 {
        font-size: $fontSizeLarge;
        color: $textMediumLight;
        margin: 10px;
    }
    .metadata-list {
        background-color: #f6f6f6;
        padding: 20px 15px;
        li {
            display: flex;
            align-items: center;
            i {
                margin-right: 7px;
                color: $colorStatusNegative;
                &.completed{
                    color: $colorStatusPositive;
                }
            }
        }
    }
}
