<mat-sidenav-container>
  <mat-sidenav
    #leftSidenav
    [mode]="'side'"
    [opened]="sidenavLeft() && (mainComponent$ | async) === null"
    position="start"
    class="es-mat-sidenav"
    storageKey="EDITORIAL_SIDENAV_LEFT_WIDTH"
    esResizableSidenav
  >
    <div class="es-mat-sidenav-content es-mat-sidenav-content-mds">
      <es-mds-editor-wrapper
        *ngIf="mdsGroup()"
        [groupId]="mdsGroup()"
        [embedded]="true"
        [repository]="HOME_REPOSITORY"
        [mode]="'search'"
        (mdsLoaded)="mdsLoaded$.next(true)"
        [currentValues]="searchValues$ | async"
        (currentValuesChange)="updateMdsFilter($event)"
      ></es-mds-editor-wrapper>
    </div>
  </mat-sidenav>

  <!-- Right Sidebar -->
  <mat-sidenav
    #rightSidenav
    [mode]="'side'"
    [opened]="editorialSidebarService.sidebarOpened() && (isMobile$ | async) === false"
    [defaultWidth]="0.3"
    storageKey="EDITORIAL_SIDENAV_RIGHT_WIDTH"
    class="es-mat-sidenav"
    esResizableSidenav
    position="end"
  >
    <div class="es-mat-sidenav-content">
      <es-editorial-sidebar
        [primaryMode]="(params$ | async).primaryMode"
        [nodes]="selection()?.selected"
        [component]="mainComponent$ | async"
        (showComponent)="mainComponent$.next($event)"
        (closeTrigger)="editorialSidebarService.sidebarOpened.set(false)"
      ></es-editorial-sidebar>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <mat-toolbar>
       <button mat-icon-button (click)="sidenavLeft.set(!sidenavLeft())">
         <mat-icon>menu</mat-icon>
       </button>
       <span>Main Content</span>
       <button mat-icon-button (click)="sidenavRight.set(!sidenavRight())">
         <mat-icon>more_vert</mat-icon>
       </button>
     </mat-toolbar>
 -->
    <div class="main-content" esBorderBoxObserver #observer="borderBoxObserver">
      <div class="top-area">
        <es-editorial-breadcrumb
          [class.display-none]="(observer.width$ | async) < 400"
        ></es-editorial-breadcrumb>
        <es-actionbar
          [class.display-none]="(mainComponent$ | async) !== null"
          [numberOfAlwaysVisibleOptions]="2"
          [showCaptions]="(observer.width$ | async) > 700"
        ></es-actionbar>
      </div>
      <ng-container *ngIf="mainComponent$ | async as component">
        @switch(component) { @case('manageAssignment') {
        <es-manage-assignment></es-manage-assignment>
        } @case('assignmentSubmission') {
        <es-assignment-submission></es-assignment-submission>
        } @case('submitAssignment') {
        <es-submit-assignment></es-submit-assignment>
        }@default {
        <span> Component "{{ component }}" not implemented </span>
        } }
      </ng-container>
      <ng-container *ngIf="(mainComponent$ | async) === null">
        <mat-tab-group
          *ngIf="(editorialPageService.observeTabs() | async)?.length"
          [selectedIndex]="tabSelection$ | async"
          (selectedIndexChange)="tabSelection$.next($event)"
        >
          <mat-tab *ngFor="let tab of editorialPageService.observeTabs() | async">
            <ng-template mat-tab-label>
              <i [esIcon]="tab.icon"></i>
              {{ tab.caption ? tab.caption : ('EDITORIAL.TAB.' + tab.id | translate) }}
            </ng-template>
          </mat-tab>
        </mat-tab-group>
        <ng-container *ngIf="(params$ | async).primaryMode as mode">
          <ng-container *ngIf="mode === 'activity' || mode === 'share' || mode === 'assignment'">
            <es-node-entries-wrapper
              [primaryInstance]="true"
              [dataSource]="dataSource"
              [elementInteractionType]="InteractionType.Emitter"
              [scope]="Scope.EditorialPage"
              singleClickHint="static"
              (clickItem)="select($event)"
              (fetchData)="fetchEvent($event)"
              (selectionChange)="selection.set($any($event.source))"
              [columns]="columns()"
              [displayType]="editorialPageService.displayType()"
            >
              <ng-template #empty>
                <div class="empty">
                  {{ 'EDITORIAL.' + mode.toUpperCase() + '.EMPTY' | translate }}
                </div>
              </ng-template>
            </es-node-entries-wrapper>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<es-editorial-sidebar
  *ngIf="(isMobile$ | async) === true && editorialSidebarService.sidebarOpened()"
  [primaryMode]="(params$ | async).primaryMode"
  [nodes]="selection()?.selected"
  [isModal]="true"
  (closeTrigger)="editorialSidebarService.sidebarOpened.set(false)"
></es-editorial-sidebar>
