@use '../../topic-page-variables' as topicPageVars;

.ai-widget {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        width: 100%;
        text-align: center;
    }

    es-editable-text {
        width: 100%;
    }

    .edit-mode {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        mat-form-field {
            width: 100%;
            display: block;
        }

        .prompt-description code {
            cursor: pointer;
        }

        .select-dimensions {
            display: grid;
            place-items: center;
            gap: 0.5rem;

            &.topic-page-grid-cols-1 {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            &.topic-page-grid-cols-2 {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            &.topic-page-grid-cols-3 {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }

            es-mds-editor-single-widget {
                width: 100%;

                &::ng-deep {
                    .mat-mdc-form-field-subscript-wrapper {
                        display: none;
                    }
                }
            }
        }

        .answers-container {
            margin-top: 25px;
        }
    }

    .placeholder-btn {
        margin-bottom: 20px;
    }

    .empty-result-string {
        padding: 8px 16px 16px 16px;
    }

    .reloading-indicator {
        // hint: this requires the outer container to be relative to display the reloading indicator over the full div
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: wait;
        background: rgba(topicPageVars.$inverse-surface, 0.4);
    }
}

// fix for displaying the full spinner
:host ::ng-deep es-spinner .spinner {
    width: 150px;
}
