@if (initialized()) {
<div class="ai-widget">
  @if (reloadingIndicator()) {
  <ng-container *ngTemplateOutlet="loadingSpinner"></ng-container>
  } @if (editMode()) {
  <div class="edit-mode">
    <h3 class="mat-heading-4">
      {{ i18nPrefix + 'HEADING' | translate }}
    </h3>
    <p class="prompt-description">
      {{ i18nPrefix + 'PROMPT_DESCRIPTION' | translate }}
      {{ i18nPrefix + 'PLACEHOLDER_DESCRIPTION' | translate }}
      @if (availableSelectDimensionKeys.length > 0) { @for (key of availableSelectDimensionKeys;
      track key; let i = $index) {
      <code (click)="appendDimensionKey(key)">{{ dimensionPrefix + key + dimensionSuffix }}</code>
      {{ i <= availableSelectDimensionKeys.length - 3 ? ', ' : '' }}
      {{
        i === availableSelectDimensionKeys.length - 2 ? ' ' + (i18nPrefix + 'AND' | translate) : ''
      }}
      } . }
    </p>
    <mat-form-field appearance="outline">
      <mat-label>
        {{ i18nPrefix + 'PROMPT_LABEL' | translate }}
      </mat-label>
      <textarea
        matInput
        [placeholder]="i18nPrefix + 'PROMPT_PLACEHOLDER' | translate"
        [(ngModel)]="promptInput"
        [ngModelOptions]="{ standalone: true }"
        rows="3"
        (change)="checkForPromptChanges()"
        #promptTextarea
      ></textarea>
    </mat-form-field>
    <p>
      {{ i18nPrefix + 'SEND_HINT' | translate }}
    </p>
    <button
      mat-flat-button
      color="primary"
      (click)="processPromptUpdate()"
      [disabled]="disabled() || processPromptInProgress"
    >
      {{ i18nPrefix + 'SEND' | translate }}
    </button>
    @if (latestStoredPrompt) {
    <div class="answers-container">
      <h3 class="mat-heading-4">
        {{ i18nPrefix + 'ANSWERS_LABEL' | translate }}
      </h3>
      <p>
        {{ i18nPrefix + 'ANSWERS_DESCRIPTION' | translate }}
      </p>
      @if (selectDimensionKeysUsed.length > 0 && !processPromptInProgress) {
      <div
        class="select-dimensions"
        [class.topic-page-grid-cols-1]="selectDimensionKeysUsed.length === 1"
        [class.topic-page-grid-cols-2]="selectDimensionKeysUsed.length % 2 === 0"
        [class.topic-page-grid-cols-3]="
          selectDimensionKeysUsed.length > 2 && selectDimensionKeysUsed.length % 2 !== 0
        "
      >
        @for (dimensionKey of selectDimensionKeysUsed; track dimensionKey; let i = $index) {
        <es-mds-editor-single-widget
          [editorMode]="'form'"
          [mds]="mds"
          [widgetId]="dimensionKey"
          [customAttributes]="{ type: MdsWidgetType.Singleoption }"
          [ngModel]="latestSelectedDimensionValues[dimensionKey]"
          (ngModelChange)="
            latestSelectedDimensionValues[dimensionKey] = $event; updateResultInput()
          "
          ngDefaultControl
        ></es-mds-editor-single-widget>
        }
      </div>
      }
    </div>
    } @if (latestStoredPrompt) {
    <es-editable-text
      [applyTextareaPadding]="false"
      [disabled]="disabled() || processPromptInProgress"
      [editable]="true"
      [label]="i18nPrefix + 'CURRENT_SELECTION_ANSWER_LABEL' | translate"
      [inputLimit]="1000"
      [nonEditText]="resultInput"
      [showMoreLimit]="650"
      [text]="resultInput"
      (textChange)="resultInput = $event; saveModification()"
    ></es-editable-text>
    }
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="generateTextForSelection()"
        [disabled]="disabled()"
      >
        {{ i18nPrefix + 'GENERATE_TEXT' | translate }}
      </button>
    </div>
    <!-- color + configuration buttons -->
    <es-widget-configuration-buttons
      [optionOne]="embedConfigurationOption"
      [pageVariantNode]="pageVariantNode"
      [swimlaneIndex]="swimlaneIndex"
      (optionOneClicked)="embedWidget()"
    ></es-widget-configuration-buttons>
  </div>
  } @else { @if (resultString) {
  <es-editable-text
    [aiGenerated]="aiGeneratedText()"
    [editable]="false"
    [label]="i18nPrefix + 'CURRENT_SELECTION_ANSWER_LABEL' | translate"
    [nonEditText]="resultString"
    [searchInput]="searchInput()"
    [text]="resultString"
    (searchResultsUpdated)="updateSearchResults($event)"
  ></es-editable-text>
  } @else { @if (initialized() && !reloadingIndicator()) {
  <div class="empty-result-string">
    {{ i18nPrefix + 'NO_ANSWER_DEFINED' | translate }}
  </div>
  } } }
</div>
} @else { @if (reloadingIndicator()) {
<div class="reloading-indicator">
  <es-spinner></es-spinner>
</div>
} }
<ng-template #loadingSpinner>
  @if (reloadingIndicator()) {
  <div class="reloading-indicator">
    <es-spinner></es-spinner>
  </div>
  }
</ng-template>
