@if (initialized()) {
<div class="es-topic-page-breadcrumb" [class.edit-mode]="editMode()">
  <ul class="es-topic-page-breadcrumb-list">
    @for (node of processedNodes(); track node; let i = $index; let last = $last) {
    <li class="es-topic-page-breadcrumb-list-item" [class.last-item]="last">
      @if (i === 0 && rootLink()) {
      <a [href]="rootLink()">
        {{ rootName ?? (i18nPrefix + 'DEFAULT_ROOT_NAME' | translate) }}
      </a>
      } @else { @if (customUrl && customUrl(node)) {
      <a [href]="customUrl(node)" [target]="customUrlTarget">
        <ng-container *ngTemplateOutlet="nodeTitle; context: { node }"></ng-container>
      </a>
      } @else {
      <es-node-url [node]="node" [mode]="'link'">
        <ng-container *ngTemplateOutlet="nodeTitle; context: { node }"></ng-container>
      </es-node-url>
      } } @if (!last || pageVariantConfigNodes().length || (isAdmin() && pageTemplateExists())) {
      <i esIcon="chevron_right"></i>
      }
    </li>
    } @if (pageVariantConfigNodes().length || (isAdmin() && pageTemplateExists())) {
    <li class="es-topic-page-breadcrumb-list-item">
      <mat-form-field class="select-config-field" appearance="outline" subscriptSizing="dynamic">
        <mat-label>
          {{ i18nPrefix + 'PAGE_VARIANT_LABEL' | translate }}
        </mat-label>
        <!-- hint: use default mat-select over es-dropdown due to being implemented as mat-menu -->
        <mat-select
          [disabled]="
            (pageVariantConfigNodes().length === 1 || isProcessing()) &&
            !(isAdmin() && pageTemplateExists() && !templateMode())
          "
          [value]="pageVariantNode?.ref.id"
          (selectionChange)="selectVariant($event.value)"
        >
          @for (variant of pageVariantConfigNodes(); track variant; let i = $index) {
          <mat-option [value]="variant.ref.id">
            {{
              variant.title && !variant.title.includes(pageVariantConfigPrefix)
                ? (variant | nodeTitle)
                : (i18nPrefix + 'PAGE_VARIANT_LABEL' | translate) + ' ' + (i + 1)
            }}
          </mat-option>
          } @if (isAdmin() && pageTemplateExists()) {
          <mat-option class="navigate-to-template" [value]="navigateToTemplateValue">
            {{ i18nPrefix + 'NAVIGATE_TO_PAGE_TEMPLATE' | translate }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </li>
    }
  </ul>
  @if (hasBreadcrumbExtension()) {
  <div #customExtension></div>
  }
</div>
} @else {
<es-spinner></es-spinner>
}
<ng-template #nodeTitle let-node="node">
  {{ node.properties?.['ccm:collectionshorttitle']?.[0] || (node | nodeTitle) }}
</ng-template>
