@if (shouldShowHeadline()) {
<es-editable-text
  class="generic-widget-headline"
  [aiGenerated]="headlineAiGenerated()"
  [alignCenter]="true"
  [disabled]="updateInProgress()"
  [editable]="editMode()"
  [headerElement]="'h3'"
  [label]="'TOPIC_PAGE.WIDGET.SUB_HEADING_LABEL_OPTIONAL' | translate"
  [searchInput]="searchInput()"
  [showAiCheckbox]="true"
  [text]="headline() | aiTextPrompt : editMode() : headlineMapping()"
  (generateWithAiChanged)="onGenerateWithAiChanged($event, true)"
  (searchResultsUpdated)="onSearchResultsUpdated($event, 'headline')"
  (textChange)="onTextChange($event, true)"
></es-editable-text>
} @if (shouldShowDescription()) {
<es-editable-text
  class="generic-widget-description"
  [aiGenerated]="descriptionAiGenerated()"
  [disabled]="updateInProgress()"
  [editable]="editMode()"
  [label]="descriptionLabel() | translate"
  [searchInput]="searchInput()"
  [showAiButtons]="aiSupported()"
  [showAiCheckbox]="true"
  [text]="description() | aiTextPrompt : editMode() : descriptionMapping()"
  (generateWithAiChanged)="onGenerateWithAiChanged($event, false)"
  (searchResultsUpdated)="onSearchResultsUpdated($event, 'description')"
  (textChange)="onTextChange($event)"
></es-editable-text>
}
