<es-mds-editor-widget-container
  #container
  [widget]="widget"
  [label]="true"
  [valueType]="valueType"
  [control]="formArray"
  [wrapInFormField]="false"
>
  @if (formArray) {
  <ul [formGroup]="$any(formArray)" class="checkboxes-group" [class]="mode">
    @for (control of formArray.controls; track control; let i = $index) {
    <li>
      <mat-checkbox
        [formControlName]="i"
        [indeterminate]="indeterminateValues[i]"
        (indeterminateChange)="onIndeterminateChange($event, i)"
        esCheckTextOverflow=".caption"
        #text="esCheckTextOverflow"
        [matTooltip]="text.hasTextOverflow() ? values.values[i].label : null"
      >
        <span class="label">
          <span class="caption">
            {{ values.values[i].label }}
          </span>
        </span>
      </mat-checkbox>
    </li>
    }
  </ul>
  }
</es-mds-editor-widget-container>
