:host ::ng-deep .mat-checkbox {
    display: flex;
    max-width: 100%;
    .mat-checkbox-layout {
        flex-grow: 1; // Maximize clickable area
        min-width: 0; // Cut overflowing labels
        .mat-checkbox-label {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.checkboxes-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    &.vertical {
        flex-direction: column;
    }
}
