<es-mds-editor-widget-container
  #container
  [widget]="widget"
  [label]="true"
  [valueType]="valueType"
  [control]="formArray"
  [wrapInFormField]="false"
>
  <div *ngIf="formArray" [formGroup]="$any(formArray)" class="checkboxes-group" [class]="mode">
    <mat-checkbox
      *ngFor="let control of formArray.controls; let i = index"
      [formControlName]="i"
      [indeterminate]="indeterminateValues[i]"
      (indeterminateChange)="onIndeterminateChange($event, i)"
      esCheckTextOverflow=".mat-checkbox-label"
      #text="esCheckTextOverflow"
      [matTooltip]="text.hasTextOverflow() ? values.values[i].label : null"
    >
      {{ values.values[i].label }}
    </mat-checkbox>
  </div>
</es-mds-editor-widget-container>
