<es-mds-editor-widget-container
  #container
  [widget]="widget"
  [label]="true"
  [valueType]="valueType"
  [control]="formArray"
  [wrapInFormField]="false"
>
  <ul *ngIf="formArray" [formGroup]="$any(formArray)" class="checkboxes-group" [class]="mode">
    <li *ngFor="let control of formArray.controls; let i = index">
      <mat-checkbox
        [formControlName]="i"
        [indeterminate]="indeterminateValues[i]"
        (indeterminateChange)="onIndeterminateChange($event, i)"
        esCheckTextOverflow=".caption"
        #text="esCheckTextOverflow"
        [matTooltip]="text.hasTextOverflow() ? values.values[i].label : null"
      >
        <span class="label">
          <span class="caption">
            {{ values.values[i].label }}
          </span>
        </span>
      </mat-checkbox>
    </li>
  </ul>
</es-mds-editor-widget-container>
