@if (isLoading) {
<es-global-progress></es-global-progress>
} @if (!isLoading && !show2FaDialog) {
<div>
  <es-card
    role="main"
    esSkipTarget="MAIN_CONTENT"
    title="{{ caption | translate }}"
    avatar="assets/images/app-icon.svg"
    subtitle="{{ 'LOGIN.SUBTITLE' | translate }}"
    [priority]="-30"
    modal="auto"
    [isCancelable]="bridge.isRunningCordova()"
    (cancel)="appBack()"
    [buttons]="showProviders() ? [] : buttons"
    [width]="showProviders() ? (providersOnlyMode() ? 'normal' : 'xxlarge') : 'normal'"
    [height]="showProviders() ? '' : 'large'"
    [attr.showProviders]="showProviders()"
  >
    <div class="login-content">
      <h1 esTitle class="cdk-visually-hidden">{{ 'LOGIN.TITLE' | translate }}</h1>
      <div class="branding">
        <img
          [src]="
            (themeService.isDarkMode()
              ? 'assets/images/logo_darkmode.svg'
              : 'assets/images/logo.svg'
            ) | esAssetsPath
          "
          esImageConfig
          alt="{{ 'LOGIN.APP_LOGO' | translate }}"
        />
      </div>
      <div class="groups" [class.providers-only]="providersOnlyMode()">
        @if (showProviders()) {
        <div class="providers-select">
          <div class="group-heading">{{ 'LOGIN.PROVIDER_SELECT_GROUP' | translate }}</div>
          <div class="group-description">
            {{ 'LOGIN.PROVIDER_SELECT_GROUP_DESCRIPTION' | translate }}
          </div>
          <mat-form-field floatLabel="always">
            <mat-label>{{ 'LOGIN.PROVIDER_LABEL' | translate }}</mat-label>
            <input
              type="text"
              matInput
              placeholder="{{ 'LOGIN.PROVIDER_PLACEHOLDER' | translate }}"
              (keydown.enter)="goToProvider()"
              [formControl]="providerControl"
              [matAutocomplete]="autoProvider"
            />
            <mat-autocomplete
              #autoProvider="matAutocomplete"
              [displayWith]="currentProviderDisplay"
            >
              @for (group of filteredProviders | async; track group) {
              <mat-optgroup [label]="group.group.name">
                @for (option of group.providers; track option) {
                <mat-option [value]="option" (onSelectionChange)="currentProvider = option">
                  <div class="mat-option-primary">{{ option.name }}</div>
                  <div class="mat-option-secondary">
                    {{ option.url | esUrl : { mode: 'domain' } }}
                  </div>
                </mat-option>
                }
              </mat-optgroup>
              }
            </mat-autocomplete>
          </mat-form-field>
          <div class="sso-group">
            <img class="sso-logo" [src]="'assets/images/sso_logo.svg' | esAssetsPath" />
            <div class="group-actions">
              <button mat-raised-button color="primary" (click)="goToProvider()">
                {{ 'LOGIN.GO_TO_PROVIDER' | translate }}
              </button>
            </div>
          </div>
        </div>
        } @if (!showProviders() || showLocalLogin()) {
        <div class="login-form">
          @if (showProviders()) {
          <div class="group-heading">
            {{ 'LOGIN.LOGIN_GROUP' | translate }}
          </div>
          } @if (showProviders()) {
          <div class="group-description">
            {{ 'LOGIN.LOGIN_GROUP_DESCRIPTION' | translate }}
          </div>
          }
          <form (ngSubmit)="login()" #loginForm>
            @if (!isSafeLogin) {
            <mat-form-field floatLabel="always">
              <mat-label>{{ 'LOGIN.USERNAME' | translate }}</mat-label>
              <input
                matInput
                #usernameInput
                required
                name="username"
                id="username"
                (keydown.enter)="login()"
                (keyup)="checkConditions($event)"
                [(ngModel)]="username"
                autofocus
                autocapitalize="none"
              />
            </mat-form-field>
            }
            <div class="password-field">
              <es-input-password
                #passwordInput
                inputId="password"
                label="{{ 'LOGIN.PASSWORD' | translate }}"
                floatLabel="always"
                [required]="true"
                (keydown.enter)="login()"
                [(value)]="password"
              ></es-input-password>
              @if ( (config.register.local && config.register.recoverPassword !== false) ||
              config.register.recoverPassword === true || config.register.recoverUrl ) {
              <div class="forgot-password">
                @if (config.register.local || config.register.recoverPassword === true) {
                <a
                  cdkMonitorElementFocus
                  [routerLink]="['/' + ROUTER_PREFIX + 'register', 'request']"
                >
                  {{ 'LOGIN.RECOVER_PASSWORD' | translate }}
                </a>
                } @if (!(config.register.local || config.register.recoverPassword === true)) {
                <a [href]="config.register.recoverUrl" cdkMonitorElementFocus>
                  {{ 'LOGIN.RECOVER_PASSWORD' | translate }}
                </a>
                }
              </div>
              }
            </div>
          </form>
          @if (showLoginUrl()) {
          <div class="useUrl">
            <div>{{ 'LOGIN.USE_URL_TEXT' | translate }}</div>
            <es-mat-link (clickOnLink)="openLoginUrl()" class="goto">
              <span>{{ 'LOGIN.USE_URL_LINK' | translate }}</span>
              <i class="material-icons">arrow_forward</i>
            </es-mat-link>
          </div>
          } @if (showProviders()) {
          <div class="group-actions">
            @if (canRegister()) {
            <button mat-button color="primary" (click)="register()">
              {{ 'LOGIN.REGISTER_TEXT' | translate }}
            </button>
            }
            <button mat-raised-button color="primary" [class.disabled]="disabled" (click)="login()">
              {{ 'LOGIN.LOGIN' | translate }}
            </button>
          </div>
          } @if (isSafeLogin && loginSafeFailed) {
          <div
            role="alert"
            innerHTML="{{
              'LOGIN.ERROR_SAFE_DETAIL'
                | translate : { safeAccountUrl: config.register.recoverUrlSafe }
            }}"
          ></div>
          }
        </div>
        }
      </div>
      @if (showOauthProviders()) {
      <div class="oauth-providers">
        <h4 class="mat-heading-4">{{ 'LOGIN.OAUTH.TITLE' | translate }}</h4>
        <div>
          @for (provider of registeredOauthProviders; track provider) {
          <a
            matTooltip="{{ 'LOGIN.OAUTH.USE_PROVIDER' | translate : { provider: provider.name } }}"
            [href]="'/edu-sharing/sso?id=' + encodeURIComponent(provider.registrationId)"
            ><img
              [src]="'assets/images/oauth/' + provider.name.toLowerCase() + '.svg'"
              [alt]="provider.name"
          /></a>
          }
        </div>
      </div>
      }
    </div>
    @if (showProviders()) {
    <div class="login-help">
      <div innerHTML="{{ 'LOGIN.ACTION_HELP' | translate }}"></div>
    </div>
    }
  </es-card>
  <es-powered-by
    mode="color"
    [ngClass]="{ 'powered-down': config.register.local || config.register.registerUrl }"
  ></es-powered-by>
</div>
}
<ng-template #faConfirmRef>
  <form class="fa-confirm" [formGroup]="faConfirm" (ngSubmit)="show2FaDialog.close('NEXT')">
    <h3 class="mat-heading-6">
      {{ 'LOGIN.2FA.CONFIRM_CODE' | translate }}
    </h3>
    <mat-form-field>
      <mat-label>{{ 'LOGIN.2FA.CODE' | translate }} </mat-label>
      <input matInput formControlName="code" maxlength="6" minlength="6" placeholder="000000" />
    </mat-form-field>
  </form>
</ng-template>
