<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="search" class="tab-icon"></i>
      <span class="tab-label">{{ 'SIDEBAR.SEARCH_SHORT' | translate }}</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="layers" class="tab-icon"></i>
      <span class="tab-label">{{ 'COLLECTIONS.TITLE' | translate }}</span>
    </ng-template>
  </mat-tab>
  <mat-tab *ngIf="'TOOLPERMISSION_WORKSPACE' | esToolpermission | async">
    <ng-template mat-tab-label>
      <i esIcon="cloud" class="tab-icon"></i>
      <span class="tab-label">{{ 'WORKSPACE.TITLE' | translate }}</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="upload" class="tab-icon"></i>
      <span class="tab-label">{{ 'WORKSPACE.UPLOAD_EXISTS.UPLOAD' | translate }}</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="tab-content" [ngSwitch]="selectedTabIndex">
  <ng-container *ngSwitchCase="1">
    <es-node-entries-wrapper
      [columns]="collectionsColumns"
      [dataSource]="dataSourceCollections"
      [displayType]="NodeEntriesDisplayType.Tree"
      (selectionChange)="onCollectionSelectionChange($event)"
    ></es-node-entries-wrapper>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <p>No view available for tab {{ selectedTabIndex + 1 }}.</p>
  </ng-container>
  {{ selectedNodes()?.length }}
  <div
    style="margin-top: 16px; margin-bottom: 8px; width: 100%; display: flex; justify-content: end"
    *ngIf="selectedNodes().length"
  >
    <button mat-flat-button color="primary" (click)="copyNodes(selectedNodes())">
      Gewählte Sammlung kopieren
      <i esIcon="arrow_forward"></i>
    </button>
  </div>
</div>
