@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;

// workaround to set outer option height to 100%
::ng-deep .option-EDITORIAL_OPTIONS_SORT_INTO {
    height: 100%;
    //overflow: hidden;
}

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;

    ::ng-deep {
        mat-tab-header {
            --mdc-secondary-navigation-tab-container-height: 55px;
        }
        .mdc-tab__text-label {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
        .mdc-tab-indicator--active {
            .mdc-tab__text-label {
                //font-weight: bold;
            }
        }
    }
}

.tab-main-view {
    top: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    // take the available space
    flex: 1 1 0;
    // important to flexbox to work properly
    min-height: 100%;
    overflow: hidden;
}

// fix default tab body overflow
:host ::ng-deep {
    .mat-mdc-tab-body {
        overflow: hidden;
    }

    .mat-mdc-tab-body-content {
        overflow-y: auto;
    }
}

.tab-content {
    margin-top: 16px;
    margin-bottom: 16px;
    // takes up remaining space
    flex: 1 1 0;
    // fix taking margins into account
    box-sizing: border-box;
}

.tab-action-bar {
    // fixed height
    flex: 0 0 auto;
    position: sticky;
    z-index: 1;
    background: #fff;
    // workaround to draw the border over the full width
    margin-left: -20px;
    margin-right: -20px;
    padding: 8px 20px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    box-sizing: border-box;

    .back-btn {
        margin-right: auto;
    }
}

// search tab related styles
:host ::ng-deep .search-field {
    --mdc-outlined-text-field-container-shape: 28px;
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;

    .search-actions {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        .search-field {
            flex: 1 1 auto;
        }

        .actionbar-search {
            flex: 0 0 auto;
        }
    }
}

// collections tab related styles
.tree-search-container {
    display: flex;
    align-items: center;

    .search-field {
        flex: 1;
        display: flex;
    }

    .filter-button {
        margin-left: 8px;
    }
}

// fix actionbar layout buttons do not align with search field
es-actionbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

// fix info message header should not have margin-top
es-info-message {
    h4 {
        margin-top: 0;
    }
}

es-info-message.no-config-alert {
    margin-top: 16px;
    display: block;
}

.checklist {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
