@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;

@mixin tabLayout2Line() {
    mat-tab-header {
        --mdc-secondary-navigation-tab-container-height: 55px;
    }
    .mdc-tab__text-label {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .mdc-tab-indicator--active {
        .mdc-tab__text-label {
            //font-weight: bold;
        }
    }
}

:host {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;

    ::ng-deep {
        @include tabLayout2Line();
    }
}

.tab-main-view {
    top: 0;
    box-sizing: border-box;
    // take the available space
    flex: 1 1 0;
    // important to flexbox to work properly
    min-height: 100%;
    overflow: hidden;

    &::ng-deep {
        mat-tab-header,
        .tab-content {
            padding: 0 20px;
        }
    }
}

// fix default tab body overflow
:host ::ng-deep {
    .mat-mdc-tab-body {
        overflow: hidden;
    }

    .mat-mdc-tab-body-content {
        overflow-y: auto;
    }
}

.tab-content {
    margin-top: 16px;
    margin-bottom: 16px;
    // takes up remaining space
    flex: 1 1 0;
    // fix taking margins into account
    box-sizing: border-box;

    &.actionbar-visible {
        padding-bottom: 54px;
    }
}

.tab-action-bar {
    // fixed height
    flex: 0 0 auto;
    position: sticky;
    z-index: 1;
    background: #fff;
    padding: 8px 20px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    box-sizing: border-box;

    .back-btn {
        margin-right: auto;
    }
}

// search tab related styles
:host ::ng-deep .search-field {
    --mdc-outlined-text-field-container-shape: 28px;
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: column;

    .actionbar-search {
        margin-top: 16px;
        margin-left: auto;
    }
}

.info-message {
    margin-top: 16px;
    display: block;
}

// collections tab related styles
.tree-search-container {
    display: flex;
    align-items: center;
}

.collection-display-type {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    // remove group border
    border: none;

    .mat-button-toggle {
        border: none;
        border-radius: 50%;
        // fix focus should be limited to round button
        overflow: hidden;
        padding: 0;
        width: 32px;
        height: 32px;

        .mat-icon {
            font-size: 18px;
        }

        &::ng-deep {
            .mat-button-toggle-button {
                height: 100%;
                // fix centering of icons
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .mat-button-toggle-label-content {
                padding: 0;
                line-height: 100%;
            }
        }
    }

    .mat-button-toggle-unchecked {
        border: 1px solid red;
        color: inherit;
        background: inherit;
    }

    .mat-button-toggle-checked {
        border: 1px solid var(--primary);
        color: inherit;
        background: inherit;
    }
}

// fix actionbar layout buttons do not align with search field
es-actionbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

// fix info message header should not have margin-top
es-info-message {
    h4 {
        margin-top: 0;
    }
}

es-info-message.no-config-alert {
    margin-top: 16px;
    display: block;
}

.checklist {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

// fix: node-entries-table should not reserve space for empty actions
:host ::ng-deep es-node-entries ::ng-deep es-node-entries-table {
    .mat-column-actions {
        display: none;
    }
}
