@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;

:host {
    display: flex;
    width: 100%;
    background-color: var(--backgroundColor);
    overflow-x: auto;
    overflow-y: hidden;
    height: $mobileTabNavHeight;
    @include materialShadow();
}
button {
    border: unset;
    background-color: unset;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 0;
    min-width: 50px;
    color: $textLight;
    border-top: 4px solid transparent;
    align-items: center;
    padding: 9px 10px;
    transition: none;
    &.cdk-keyboard-focused {
        @include setGlobalKeyboardFocus();
        outline-offset: -3px;
    }
    &.selected {
        color: var(--primary);
        border-color: var(--primary);
        > span {
            font-weight: bold;
        }
    }
    > span {
        padding-top: 1px;
        font-size: 9pt;
        word-break: break-all;
        @include mixins.limitLineCount(1);
    }
}
