<div
  class="rootNode"
  [class.rootNodeSelected]="root == MY_FILES"
  [esNodesDropTarget]="MY_FILES"
  [canDropNodes]="canDropOnMyFiles"
  (nodeDropped)="onNodesDrop($event)"
  (click)="doSetRoot(MY_FILES)"
  data-test="workspace-tree-my-content"
>
  <i class="material-icons typeIcon">person</i>{{ 'WORKSPACE.MY_FILES' | translate }}
  <i class="material-icons">
    {{ root === MY_FILES ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
  </i>
</div>
<div class="tree" *ngIf="root === MY_FILES">
  <es-workspace-sub-tree
    [node]="'-userhome-'"
    [currentPath]="currentPath"
    (updateOptions)="doUpdateOptions($event)"
    (dropElement)="drop($event)"
    (clickElement)="doOpenNode($event)"
  ></es-workspace-sub-tree>
</div>
<div
  class="rootNode"
  [class.rootNodeSelected]="root === SHARED_FILES"
  (click)="doSetRoot(SHARED_FILES)"
  data-test="workspace-tree-shared-common"
>
  <i class="material-icons typeIcon">group</i>{{ 'WORKSPACE.SHARED_FILES' | translate }}
  <i class="material-icons">
    {{ root === SHARED_FILES ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}
  </i>
</div>
<div class="tree" *ngIf="root === SHARED_FILES">
  <es-workspace-sub-tree
    [node]="'-shared_files-'"
    [currentPath]="currentPath"
    (updateOptions)="doUpdateOptions($event)"
    (dropElement)="drop($event)"
    (clickElement)="doOpenNode($event)"
  ></es-workspace-sub-tree>
</div>
<div
  class="rootNode"
  [esNodesDropTarget]="SHARED_FILES_LINK"
  [canDropNodes]="canDropOnMySharedFiles"
  (nodeDropped)="onNodesDrop($event)"
  [routerLink]="'/' + UIConstants.ROUTER_PREFIX + 'editorial/share'"
  data-test="workspace-tree-shared-files-link"
>
  <i class="material-icons typeIcon">send</i>{{ 'WORKSPACE.SHARED_FILES_LINK' | translate }}
  <i class="material-icons"> open_in_new </i>
</div>
<div
  class="rootNode"
  [class.rootNodeSelected]="root === WORKFLOW_RECEIVE"
  (click)="doSetRoot(WORKFLOW_RECEIVE)"
  data-test="workspace-tree-workflow"
>
  <i class="material-icons typeIcon">inbox</i>{{ 'WORKSPACE.WORKFLOW_RECEIVE' | translate }}
</div>
<div class="tree" *ngIf="root === WORKFLOW_RECEIVE">
  <es-workspace-sub-tree
    [node]="'-workflow_receive-'"
    [currentPath]="currentPath"
    (updateOptions)="doUpdateOptions($event)"
    (dropElement)="drop($event)"
    (clickElement)="doOpenNode($event)"
  ></es-workspace-sub-tree>
</div>
<div
  class="rootNode"
  [class.rootNodeSelected]="root === RECYCLE"
  (click)="doSetRoot(RECYCLE)"
  [esNodesDropTarget]="RECYCLE"
  [canDropNodes]="canDropOnRecycle"
  (nodeDropped)="onNodesDrop($event)"
  data-test="workspace-tree-recycle"
>
  <i class="material-icons typeIcon">delete</i>{{ 'WORKSPACE.RECYCLE' | translate }}
</div>
