@import "../../../../styles/variables.scss";

h2{
  text-align: center;
  padding-top: 5%;
  font-size: 120%;
  color:$textLight;
}
.global{
  margin-bottom: 20px;
}
.receivers{
  margin-bottom: 20px;
}
.historyLabel{
  font-weight: bold;
  padding-top:30px;
}
.history {
  .user,.date{
    padding-top: 20px;
    padding-bottom: 10px;
    color: $textLight;
  }
  .user{
    float:left;
  }
  .date{
    float:right;
  }
  .box {
    background-color: $backgroundColor;
    padding:20px;
    float:left;
    width:100%;
    label{
      padding-bottom: 5px;
    }
    .workflowStatus{
      float:left;
    }

    .receivers,.status{
      width:50%;
      vertical-align: top!important;
    }
    .status,.comment{
      padding-top: 15px;
    }
    .table{
      display:table;
      .row{
        display:table-row;
        >div{
          display: table-cell;
          vertical-align: middle;
          min-width: 40px;
        }
      }

    }
    label{
      float: left;
      width: 100%;
    }
  }


}
.inputs{
  display:flex;
  width:100%;
  margin-bottom: -25px;
  authority-search-input{
    display: flex;
    width:0;
    flex-grow: 1;
  }
  .btn-flat {
    float: none;
    position: relative;
    left: 10px;
    min-width: 150px;
    .right{
      position: relative;
      top:2px;
      left:2px;
    }
  }
  >div{
    display: flex;
  }
  .selected{
    float:right;
    left:7px;
  }
  .collection-item{
    height:40px;
    line-height: 3rem;
    display: flex;
  }
  .collection-item.disabled{
    /*filter:blur(1px);*/
    color:$textVeryLight;
    i{
      filter:saturate(0.5) contrast(0.5);
      opacity: 0.5;
    }
  }
  .statusIcon{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 13px;
    margin-right: 5px;
  }
}
.chooseStatus{
  position:absolute;
  right: 30px;
  min-width: 200px;
  top: 10px;
}
