<mat-form-field class="password" [floatLabel]="floatLabel">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    autocomplete="off"
    #input
    type="{{ getInputType() }}"
    [autocomplete]="autocomplete"
    [class]="
      inputClass +
      ' mat-input-element password-input ' +
      (displayStrength && value ? passwordStrength : null)
    "
    [id]="inputId"
    [required]="required"
    [placeholder]="placeholder"
    (ngModelChange)="ngModelChange.emit($event)"
    (change)="change.emit($event)"
    (keyup)="keyup.emit($event)"
    (keydown)="keydown.emit($event)"
    [(ngModel)]="value"
  />
  <button
    mat-icon-button
    type="button"
    matSuffix
    class="eye"
    (click)="showPassword = !showPassword"
    [attr.aria-label]="getShowPasswordLabel() | translate"
    [matTooltip]="getShowPasswordLabel() | translate"
  >
    <i [esIcon]="showPassword ? 'visibility_off' : 'visibility'"></i>
  </button>
  <mat-hint>
    <div *ngIf="hint">{{ hint }}</div>
    <div *ngIf="displayStrength && value" class="strength">
      <span class="password-strength {{ passwordStrength }}">{{
        'REGISTER.PW_' + passwordStrength | translate
      }}</span>
    </div>
  </mat-hint>
</mat-form-field>
