<es-card
  title="{{'SEARCH.NODE_STORE.TITLE' | translate }}"
  height="large" width="normal"
  [buttons]="buttons"
  [node]="nodes"
  [isCancelable]="true" (onCancel)="cancel()">
      <es-spinner *ngIf="loading"></es-spinner>
      <div *ngIf="!loading">
          <div class="actions">
            <es-actionbar #actionbar
            ></es-actionbar>
          </div>
        <div class="noElementsInfo noElements" *ngIf="!nodes.length">{{'SEARCH.NODE_STORE.LIST_EMPTY' | translate}}</div>
        <es-listTable *ngIf="nodes.length"
          [nodes]="nodes"
          [columns]="columns"
          [hasIcon]="true"
          [actionbar]="actionbar"
          [customOptions]="options"
          [hasCheckbox]="true"
          [isClickable]="true"
          [dragDrop]="false"
          [selectOnClick]="true"
          [selectedNodes]="selected"
          [sortBy]="sortPolicySubject.value.property"
          [sortAscending]="sortPolicySubject.value.direction === 'asc'"
          (sortListener)="changeSort($event)"
          (selectionChanged)="onSelection($event)"
          (doubleClickRow)="onDoubleClick($event)"
          ></es-listTable>
      </div>
</es-card>>
