@import 'projects/edu-sharing-ui/assets/scss/variables-scss';

.actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 $cardPadding;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
