  <div class="title">{{ title | translate}}
   <i class="material-icons close clickable" (click)="cancel()">close</i>
  </div>
  <div class="content">
    <listTable
      [viewType]="2"
      [hasHeading]="false"
      [addElement]="createCollectionElement"
      (onAddElement)="createCollection()"
    ></listTable>
    <div class="search">
      <label>{{ 'ADD_TO_RECENT_COLLECTION' | translate}}</label>
      <form (ngSubmit)="loadData(true)" autocomplete="off">
          <input name="search" type="search" [(ngModel)]="searchQuery"
                 title="{{'SEARCH_COLLECTIONS' | translate}}" placeholder="{{'SEARCH_COLLECTIONS' | translate}}" />
          <i class="material-icons searchIcon">search</i>
      </form>
    </div>
      <listTable *ngIf="isLoading || list.length"
        [nodes]="list"
        [columns]="columns"
        [hasIcon]="true"
        [hasCheckbox]="false"
        [hasHeading]="false"
        [isClickable]="true"
        [viewType]="2"
        [isLoading]="isLoading"
        [validatePermissions]="hasWritePermissions"
        [scrollWindow]="false"
        [sortBy]="sortBy"
        [sortAscending]="sortAscending"
        [listClass]=""
        (onDrop)="drop($event)"
        (clickRow)="clickCollection($event)"
        (loadMore)="loadData()"></listTable>
    <h5 class="noElements" *ngIf="!isLoading && !list.length && searchQuery==''">{{'NO_MORE_ELEMENTS' | translate }}</h5>
    <h5 class="noElements" *ngIf="!isLoading && !list.length && searchQuery!=''">{{'NO_MATCHES' | translate }}</h5>
  </div>

