<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%X{EduVersion}] [${hostName}] [%X{RemoteAddr}] [%X{LogEventDate}] [%X{Url}] [%X{UserAgent}] [%X{User}] %-5p [%c{3}.%M] [%t] %m%n"/>
        </Console>

        <Async name="ASYNC">
            <AppenderRef ref="STDOUT"/>
        </Async>

    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>

        <Logger name="org.hibernate" level="warn"/>
        <Logger name="org.springframework" level="warn"/>

        <Logger name="org.alfresco.repo.webdav.auth.LDAPAuthenticationFilter" level="INFO"/>
        <Logger name="org.edu_sharing.service.authentication" level="INFO"/>
        <Logger name="org.edu_sharing.service.authentication.ConfidentalScopeAuthenticationService" level="INFO"/>

    </Loggers>

</Configuration>