<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>

    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern=" %d %-5p [%X] [%c{3}] [%t] %m%n"/>
    </Console>

    <Async name="ASYNC">
      <AppenderRef ref="STDOUT"/>
    </Async>

  </Appenders>

  <Loggers>

    <Root level="info">
      <AppenderRef ref="ASYNC"/>
    </Root>

    <Logger name="org.hibernate" level="warn"/>
    <Logger name="org.springframework" level="warn"/>

    <!-- debug transform framework
    <Logger name="org.alfresco.repo.rendition2" level="debug"/>
    <Logger name="org.alfresco.repo.content.transform" level="debug"/>
    <Logger name="org.alfresco.repo.content.transform.RemoteTransformerClient" level="debug"/>
    <Logger name="org.alfresco.repo.content.transform.LocalTransform" level="debug"/>
    <Logger name="org.alfresco.util.ConfigScheduler" level="debug"/>
    <Logger name="org.edu_sharing.repository.server.tools.ActionObserver" level="debug"/>
    <Logger name="org.edu_sharing.alfresco.jobs.PreviewJob" level="debug"/>
    <Logger name="org.alfresco.repo.thumbnail.CreateThumbnailActionExecuter" level="debug"/>

    -->

  </Loggers>

</Configuration>