<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>

    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern=" %d %-5p [%X] [%C{3}] [%t] %m%n"/>
    </Console>

    <Async name="ASYNC">
      <AppenderRef ref="STDOUT"/>
    </Async>

  </Appenders>

  <Loggers>

    <Root level="info">
      <AppenderRef ref="ASYNC"/>
    </Root>

    <Logger name="org.hibernate" level="warn"/>
    <Logger name="org.springframework" level="warn"/>

  </Loggers>

</Configuration>