<es-info-message message="SIMPLE_EDIT.LICENSE.ERROR_TOOLPERMISSION_MISSING" *ngIf="!tpLicense">
</es-info-message>
<es-info-message message="SIMPLE_EDIT.LICENSE.INVALID_STATE" *ngIf="invalid">
  <button mat-raised-button [color]="$any('white')" (click)="invalid = false; prepare()">
    {{ 'SIMPLE_EDIT.LICENSE.REPLACE' | translate }}
  </button>
</es-info-message>
<div class="license" *ngIf="!invalid && tpLicense">
  <label id="material-source-label">{{ 'SIMPLE_EDIT.LICENSE.SOURCE_TYPE' | translate }}</label>
  <div class="field-group">
    <mat-button-toggle-group
      #modeGroup="matButtonToggleGroup"
      aria-labelledby="material-source-label"
    >
      <mat-button-toggle [value]="'own'">{{
        'SIMPLE_EDIT.LICENSE.SOURCE_OWN' | translate
      }}</mat-button-toggle>
      <mat-button-toggle [value]="'foreign'">{{
        'SIMPLE_EDIT.LICENSE.SOURCE_FOREIGN' | translate
      }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <label id="material-license-label">{{ 'SIMPLE_EDIT.LICENSE.SET_LICENSE' | translate }}</label>
  <div class="field-group">
    <mat-button-toggle-group
      #licenseGroup="matButtonToggleGroup"
      aria-labelledby="material-license-label"
    >
      <mat-button-toggle *ngFor="let license of allowedLicenses" [value]="license">{{
        'SIMPLE_EDIT.LICENSE.LICENSES.' + license | translate
      }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <ng-container *ngIf="modeGroup.value === 'foreign'">
    <label for="authorFreetext">{{ 'MDS.AUTHOR_FREETEXT_PLACEHOLDER' | translate }}</label>
    <mat-form-field class="authorFreetext">
      <textarea
        matInput
        cdkTextareaAutosize
        id="authorFreetext"
        [(ngModel)]="authorFreetext"
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
  </ng-container>
  <es-license-source
    *ngIf="isCCAttributableLicense() && modeGroup.value === 'foreign'"
    [(ccTitleOfWork)]="ccTitleOfWork"
    [(ccSourceUrl)]="ccSourceUrl"
    [(ccProfileUrl)]="ccProfileUrl"
    class="field-group"
  ></es-license-source>
</div>
