@import '../../../../core-ui-module/styles/variables';

.groupHistory {
    width: 100%;
}
.heading {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    background: $workspaceMetadataBackground;
    i {
        position: relative;
        top: 7px;
    }
    .name {
        font-weight: bold;
    }
    .date {
        color: $textLight;
        padding-left: 27px;
    }
}
.empty {
    text-align: center;
    padding-top: 10%;
    font-size: 120%;
    color: $textLight;
}
.content {
    padding-bottom: 20px;
}
.group {
    padding: 10px 30px;
    .entry {
        padding: 5px 20px;
    }
    .name {
        margin-right: 5px;
    }
    .type {
        font-weight: bold;
        padding-bottom: 5px;
        i {
            font-size: 16px;
            position: relative;
            top: 3px;
        }
    }
    .permissions,
    .permissionsOld {
        color: $textLight;
    }
    .permissionsOld {
        text-decoration: line-through;
    }
}
