<app-mds-editor-widget-container
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="chipsControl"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <mat-chip-list #chipList [formControl]="chipsControl">
    <mat-chip
      *ngFor="let value of chipsControl.value"
      [selectable]="false"
      [removable]="true"
      [matTooltip]="value.hint"
      [class.indeterminate]="(this.indeterminateValues$ | async)?.includes(value.key)"
      (click)="revealInTree(value)"
      (removed)="remove(value)"
    >
      <span class="mat-chip-label">{{ value.label }}</span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      #input
      autocomplete="off"
      [placeholder]="widget.definition.placeholder"
      [matChipInputFor]="chipList"
    />
  </mat-chip-list>
</app-mds-editor-widget-container>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayWidth]="trigger.elementRef.nativeElement.getBoundingClientRect().width"
  [cdkConnectedOverlayOpen]="overlayIsVisible"
  (overlayKeydown)="onOverlayKeydown($event)"
>
  <div class="suggestion-card">
    <app-mds-editor-widget-tree-core
      #treeRef
      [widget]="widget"
      [tree]="tree"
      [values]="chipsControl.value"
      [indeterminateValues]="indeterminateValues$ | async"
      [parentImpliesChildren]="editorMode === 'search'"
      (close)="closeOverlay()"
      (valuesChange)="onValuesChange($event)"
      (indeterminateValuesChange)="indeterminateValues$.next($event)"
    ></app-mds-editor-widget-tree-core>
  </div>
</ng-template>
