<app-mds-editor-widget-container [widget]="widget" [label]="false" [valueType]="valueType">
  <mat-form-field cdkOverlayOrigin #trigger="cdkOverlayOrigin" (focus)="openOverlay()">
    <mat-label>{{ widget.definition.caption }}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let value of values"
        [selectable]="false"
        [removable]="true"
        [matTooltip]="value.hint"
        (click)="revealInTree(value)"
        (removed)="remove(value)"
      >
        {{ value.label }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #input
        [formControl]="formControl"
        [placeholder]="widget.definition.placeholder"
        [matChipInputFor]="chipList"
      />
    </mat-chip-list>
    <mat-hint *ngIf="widget.definition.bottomCaption">{{
      widget.definition.bottomCaption
    }}</mat-hint>
  </mat-form-field>
</app-mds-editor-widget-container>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayWidth]="trigger.elementRef.nativeElement.getBoundingClientRect().width"
  [cdkConnectedOverlayOpen]="overlayIsVisible"
  (overlayKeydown)="onOverlayKeydown($event)"
>
  <div class="suggestion-card">
    <app-mds-editor-widget-tree-core
      [widget]="widget"
      [tree]="tree"
      [(values)]="values"
      [filterString]="formControl.value"
      (valuesChange)="updateValues()"
    ></app-mds-editor-widget-tree-core>
  </div>
</ng-template>
