<div class="grid-top">
  <div class="title">
    <ng-container *ngTemplateOutlet="templatesService.title"></ng-container>
  </div>
  <div *ngIf="entriesService.sort?.allowed" class="order-panel">
    <mat-slide-toggle
      *ngIf="entriesService.sort.active === 'ccm:collection_ordered_position'"
      [(ngModel)]="entriesService.sort.customSortingInProgress"
      (ngModelChange)="entriesService.sortChange.emit(entriesService.sort)"
    >
      {{ 'COLLECTIONS.SORT_SLIDER' | translate }}
    </mat-slide-toggle>
    <button
      *ngIf="sortDropdown.menu"
      [matMenuTriggerFor]="sortDropdown.menu"
      mat-button
      color="primary"
    >
      <span *ngIf="entriesService.sort.active">{{ 'NODE.' + entriesService.sort.active | translate }}</span>
      <span *ngIf="!entriesService.sort.active">{{ 'SORT_BY' | translate }}</span>
      <i
        *ngIf="entriesService.sort.active && entriesService.sort.active !== 'ccm:collection_ordered_position'"
        [esIcon]="'arrow_' + (entriesService.sort.direction === 'asc' ? 'upward' : 'downward')"
      ></i>
    </button>
    <es-sort-dropdown
      #sortDropdown
      [columns]="getSortColumns()"
      [sortBy]="entriesService.sort.active"
      [sortAscending]="entriesService.sort.direction === 'asc'"
      (onSort)="changeSort($event)"
    ></es-sort-dropdown>
  </div>
</div>
<es-dropdown #dropdown [options]="entriesService.options?.[Target.ListDropdown]"></es-dropdown>

<!-- Do not render the list element (`role="list"` or `li`) when there are no list items. -->
<ng-container
  *ngIf="(visibleNodes$ | async)?.length > 0 || entriesService.globalOptions?.length > 0"
>
  <!-- FIXME: Ideally, we would use native `ul` and `li` elements, but these have a strict model,
  that only allows `li` elements as direct children of `ul` elements. So we would need to use the
  native elements at all places without any elements between `ul` and `li`. -->
  <div
    *ngIf="entriesService.sort?.customSortingInProgress"
    role="list"
    class="card-grid card-grid-reorder"
  >
    <ng-container *ngIf="visibleNodes$ | async as nodes">
      <div
        class="card-grid-order-wrapper"
        *ngFor="let node of nodes; let i = index"
        role="none"
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="i"
        (cdkDropListDropped)="reorder($event)"
      >
        <es-node-entries-card
          *ngIf="displayType === NodeEntriesDisplayType.Grid"
          #item
          [node]="node"
          [dropdown]="dropdown"
          role="listitem"
          cdkDrag
        ></es-node-entries-card>
        <es-node-entries-card-small
          *ngIf="displayType === NodeEntriesDisplayType.SmallGrid"
          #item
          [node]="node"
          role="listitem"
          cdkDrag
        ></es-node-entries-card-small>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="!entriesService.sort?.customSortingInProgress">
    <div
      *ngIf="!(entriesService.dragDrop?.dragAllowed && !ui.isMobile())"
      role="list"
      class="card-grid"
      #grid
      (esBorderBoxObserver)="onGridSizeChanges()"
      esInfiniteScroll
      (scrolled)="loadData()"
    >
      <ng-container *ngTemplateOutlet="list"></ng-container>
    </div>
    <div
      *ngIf="entriesService.dragDrop?.dragAllowed && !ui.isMobile()"
      role="list"
      class="card-grid"
      #grid
      (esBorderBoxObserver)="onGridSizeChanges()"
      esInfiniteScroll
      (dragleave)="dragExit($event)"
      (scrolled)="loadData()"
    >
      <ng-container *ngTemplateOutlet="globalOptions"></ng-container>
      <ng-container *ngIf="visibleNodes$ | async as nodes">
        <div
          class="card-grid-drag-wrapper"
          *ngFor="let node of nodes; let i = index"
          role="none"
          cdkDropList
          cdkDropListOrientation="vertical"
          [class.card-grid-drop-allowed]="
            getDragState()?.element === node && getDragState()?.dropAllowed
          "
          [class.card-grid-drop-blocked]="
            getDragState()?.element === node && !getDragState()?.dropAllowed
          "
          [cdkDropListData]="node"
          [cdkDropListSortingDisabled]="true"
          (cdkDropListEntered)="dragEnter($event)"
          (cdkDropListExited)="dragExit($event)"
          (cdkDropListDropped)="drop($event)"
        >
          <es-node-entries-card
            *ngIf="displayType === NodeEntriesDisplayType.Grid"
            #item
            [node]="node"
            [dropdown]="dropdown"
            role="listitem"
            cdkDrag
            [cdkDragData]="node"
            esDragCursor
          ></es-node-entries-card>
          <es-node-entries-card-small
            *ngIf="displayType === NodeEntriesDisplayType.SmallGrid"
            #item
            [node]="node"
            role="listitem"
            cdkDrag
            [cdkDragData]="node"
            esDragCursor
          ></es-node-entries-card-small>
          <div
            *ngIf="getDragState()?.element === node && !getDragState().dropAllowed"
            class="card-grid-drop-blocked-container"
          >
            <i esIcon="cancel"></i>
          </div>
          <div
            *ngIf="getDragState()?.element === node && getDragState().dropAllowed"
            class="card-grid-drop-allowed-container"
          >
            <i [esIcon]="getDragState().mode === 'copy' ? 'add_circle_outline' : 'archive'"></i>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
<ng-container
  *ngIf="
    !entriesService.dataSource.isLoading &&
    entriesService.dataSource.getCanLoadMore() &&
    entriesService.dataSource.hasMore() &&
    entriesGlobalService.paginationStrategy === PaginationStrategy.InfiniteScroll
  "
>
  <div class="load-more">
    <button mat-button color="primary" (click)="loadData(true)">
      <i esIcon="refresh"></i>
      <span>{{ 'LOAD_MORE' | translate }}</span>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="entriesService.dataSource.isLoading">
  <ng-container *ngTemplateOutlet="loading"></ng-container>
</ng-container>

<ng-template #loading>
  <es-spinner></es-spinner>
</ng-template>
<ng-template #list>
  <ng-container *ngTemplateOutlet="globalOptions"></ng-container>
  <ng-container *ngIf="visibleNodes$ | async as nodes">
    <ng-container *ngIf="displayType === NodeEntriesDisplayType.SmallGrid">
      <es-node-entries-card-small
        *ngFor="let node of nodes; let i = index"
        #item
        [node]="node"
        role="listitem"
      >
      </es-node-entries-card-small>
    </ng-container>
    <ng-container *ngIf="displayType === NodeEntriesDisplayType.Grid">
      <es-node-entries-card
        *ngFor="let node of nodes; let i = index"
        #item
        [node]="node"
        [dropdown]="dropdown"
        role="listitem"
      ></es-node-entries-card>
    </ng-container>
  </ng-container>
  <!--
  <div style="display: flex; flex-wrap: wrap" cdkDropListGroup>
    <mat-card cdkDropList cdkDropListOrientation="horizontal" (cdkDropListEntered)="debug($event)"
              (cdkDropListExited)="debug($event)"
      *ngFor="let node of (nodes$ | async)"
    ><div cdkDrag>
      {{node.name}}
    </div>
    </mat-card>
  </div>
  -->
</ng-template>
<ng-template #globalOptions>
  <div
    *ngIf="entriesService.globalOptions?.length"
    role="listitem"
    class="global-options"
    [class.global-options-small]="displayType === NodeEntriesDisplayType.SmallGrid"
  >
    <button
      mat-button
      *ngFor="let option of entriesService.globalOptions"
      (click)="option.callback()"
      class="global-option-btn"
    >
      <ng-container
        *ngTemplateOutlet="globalOption; context: { option: this.option }"
      ></ng-container>
    </button>
  </div>
</ng-template>
<ng-template #globalOption let-option="option">
  <span class="global-option">
    <i [esIcon]="option.icon"></i>
    <span class="label">{{ option.name | translate }}</span>
  </span>
</ng-template>
