<div class="grid-top">
  <div class="title">
    <ng-container *ngTemplateOutlet="templatesService.title"></ng-container>
  </div>
  <div *ngIf="entriesService.sort?.allowed" class="order-panel">
    <mat-slide-toggle
      *ngIf="entriesService.sort.active === 'ccm:collection_ordered_position'"
      [(ngModel)]="entriesService.sort.customSortingInProgress"
      (ngModelChange)="onCustomSortingInProgressChange()"
    >
      {{ 'COLLECTIONS.SORT_SLIDER' | translate }}
    </mat-slide-toggle>
    <button
      *ngIf="sortDropdown.menu"
      [matMenuTriggerFor]="sortDropdown.menu"
      mat-button
      color="primary"
    >
      <span *ngIf="entriesService.sort.active">{{
        'NODE.' + entriesService.sort.active | translate
      }}</span>
      <span *ngIf="!entriesService.sort.active">{{ 'SORT_BY' | translate }}</span>
      <i
        *ngIf="
          entriesService.sort.active &&
          entriesService.sort.active !== 'ccm:collection_ordered_position'
        "
        [esIcon]="'arrow_' + (entriesService.sort.direction === 'asc' ? 'upward' : 'downward')"
      ></i>
    </button>
    <es-sort-dropdown
      #sortDropdown
      [columns]="getSortColumns()"
      [sortBy]="entriesService.sort.active"
      [sortAscending]="entriesService.sort.direction === 'asc'"
      (onSort)="changeSort($event)"
    ></es-sort-dropdown>
  </div>
</div>
<es-dropdown #dropdown [options]="entriesService.options?.[Target.ListDropdown]"></es-dropdown>

<!-- Do not render the list element (`role="list"` or `li`) when there are no list items. -->
<ng-container *ngIf="(nodes$ | async)?.length > 0 || entriesService.globalOptions?.length > 0">
  <!-- FIXME: Ideally, we would use native `ul` and `li` elements, but these have a strict model,
  that only allows `li` elements as direct children of `ul` elements. So we would need to use the
  native elements at all places without any elements between `ul` and `li`. -->
  <div
    *ngIf="entriesService.sort?.customSortingInProgress"
    role="list"
    class="card-grid card-grid-reorder"
    cdkDropListGroup
  >
    <ng-container *ngIf="nodes$ | async as nodes">
      <div
        class="card-grid-order-wrapper"
        *ngFor="let node of nodes; let i = index"
        role="none"
        cdkDropList
        [cdkDropListConnectedTo]="dropLists"
        [cdkDropListData]="i"
      >
        <es-node-entries-card
          *ngIf="displayType === NodeEntriesDisplayType.Grid"
          #item
          [node]="node"
          role="listitem"
          cdkDrag
          [cdkDragData]="i"
          [cdkDragStartDelay]="getDragStartDelay()"
          cdkDragPreviewClass="es-card-grid-rearrange-drag-preview"
          (cdkDragEntered)="onRearrangeDragEntered($event)"
          (cdkDragStarted)="onRearrangeDragStarted()"
          (cdkDragEnded)="onRearrangeDragEnded()"
        ></es-node-entries-card>
        <es-node-entries-card-small
          *ngIf="displayType === NodeEntriesDisplayType.SmallGrid"
          #item
          [node]="node"
          role="listitem"
          cdkDrag
          [cdkDragData]="i"
          [cdkDragStartDelay]="getDragStartDelay()"
          cdkDragPreviewClass="es-card-grid-rearrange-drag-preview"
          (cdkDragEntered)="onRearrangeDragEntered($event)"
          (cdkDragStarted)="onRearrangeDragStarted()"
          (cdkDragEnded)="onRearrangeDragEnded()"
        ></es-node-entries-card-small>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="!entriesService.sort?.customSortingInProgress">
    <div
      role="list"
      class="card-grid"
      #grid
      (esBorderBoxObserver)="onGridSizeChanges()"
      esInfiniteScroll
      (scrolled)="!visibleItemsLimited && loadData('scroll')"
    >
      <ng-container *ngTemplateOutlet="globalOptions"></ng-container>
      <ng-container *ngIf="nodes$ | async as nodes">
        <div
          class="card-grid-drag-wrapper"
          *ngFor="let node of nodes; let i = index"
          role="none"
          [esNodesDropTarget]="node"
          [canDropNodes]="canDropNodes"
          (nodeDropped)="onNodesDropped($event)"
          #dropTarget="esNodesDropTarget"
        >
          <es-node-entries-card
            *ngIf="displayType === NodeEntriesDisplayType.Grid"
            #item
            [node]="node"
            [dropdown]="dropdown"
            role="listitem"
            cdkDrag
            [cdkDragDisabled]="!getDragEnabled()"
            [cdkDragData]="getDragData(node)"
            esNodesDrag
            (cdkDragStarted)="onDragStarted(node)"
            (cdkDragEnded)="onDragEnded()"
            [class.selected-when-dragging]="isDragging && entriesService.selection.isSelected(node)"
          >
            <ng-container *ngIf="entriesService.selection.selected.length > 1">
              <es-node-entries-card
                *cdkDragPreview
                [node]="node"
                [matBadge]="
                  entriesService.selection.selected.length > 1
                    ? entriesService.selection.selected.length
                    : null
                "
                class="card-drag-preview"
              ></es-node-entries-card>
            </ng-container>
          </es-node-entries-card>
          <es-node-entries-card-small
            *ngIf="displayType === NodeEntriesDisplayType.SmallGrid"
            #item
            [node]="node"
            role="listitem"
            cdkDrag
            [cdkDragDisabled]="!getDragEnabled()"
            [cdkDragData]="[node]"
            esNodesDrag
          >
          </es-node-entries-card-small>
          <div
            *ngIf="dropTarget.active?.canDrop?.denyExplicit"
            class="card-grid-drop-blocked-container"
          >
            <i esIcon="cancel"></i>
          </div>
          <div *ngIf="dropTarget.active?.canDrop?.accept" class="card-grid-drop-allowed-container">
            <i
              [esIcon]="dropTarget.active.action === 'copy' ? 'add_circle_outline' : 'archive'"
            ></i>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
<ng-container
  *ngIf="
    !entriesService.dataSource.isLoading &&
    entriesService.dataSource.hasMore() &&
    !visibleItemsLimited &&
    entriesService.paginationStrategy === 'infinite-scroll'
  "
>
  <div class="load-more">
    <button mat-button color="primary" (click)="loadData('button')">
      <i esIcon="refresh"></i>
      <span>{{ 'LOAD_MORE' | translate }}</span>
    </button>
  </div>
</ng-container>
<ng-container *ngIf="entriesService.dataSource.isLoading">
  <ng-container *ngTemplateOutlet="loading"></ng-container>
</ng-container>

<ng-template #loading>
  <es-spinner></es-spinner>
</ng-template>
<ng-template #globalOptions>
  <div
    *ngIf="entriesService.globalOptions?.length"
    role="listitem"
    class="global-options"
    [class.global-options-small]="displayType === NodeEntriesDisplayType.SmallGrid"
  >
    <button
      mat-button
      *ngFor="let option of entriesService.globalOptions"
      (click)="option.callback()"
      class="global-option-btn"
      attr.data-test="card-button-{{ option.name }}"
    >
      <ng-container
        *ngTemplateOutlet="globalOption; context: { option: this.option }"
      ></ng-container>
    </button>
  </div>
</ng-template>
<ng-template #globalOption let-option="option">
  <span class="global-option">
    <i [esIcon]="option.icon"></i>
    <span class="label">{{ option.name | translate }}</span>
  </span>
</ng-template>
