<es-add-stream
  *ngIf="addNodesStream"
  [nodes]="addNodesStream"
  (onLoading)="globalProgress = $event"
  (onCancel)="closeStream()"
  (onDone)="closeStream()"
></es-add-stream>
<es-workspace-metadata
  *ngIf="nodeSidebar"
  [@fromRight]="nodeSidebar"
  class="metadata-sidebar"
  [node]="nodeSidebar"
  (onRestore)="restoreVersion($event)"
  (onDisplay)="displayNode($event)"
  (onEditMetadata)="openMdsEditor([$event])"
  (onClose)="closeSidebar()"
></es-workspace-metadata>
<es-view-material-feedback
  *ngIf="materialViewFeedback"
  [node]="materialViewFeedback"
  (onClose)="closeMaterialViewFeedback()"
></es-view-material-feedback>
<es-collections-manage-pinning
  *ngIf="addPinnedCollection"
  [addCollection]="addPinnedCollection"
  (onClose)="closePinnedCollection()"
></es-collections-manage-pinning>
<es-workspace-workflow
  *ngIf="nodeWorkflow"
  [nodes]="nodeWorkflow"
  (onLoading)="globalProgress = $event"
  (onDone)="closeWorkflow($event)"
  (onClose)="closeWorkflow()"
></es-workspace-workflow>
<es-collection-chooser
  class="dialog-right"
  *ngIf="addToCollection"
  [@fromRight]="addToCollection"
  [title]="'WORKSPACE.SELECT_COLLECTION'"
  (onCancel)="cancelAddToCollection()"
  (onDrop)="addToCollectionList($event.target, $event.source, false)"
  (onCreateCollection)="addToCollectionCreate($event)"
  (onChoose)="addToCollectionList($event)"
>
  <ng-template #beforeRecent let-currentRoot>
    <ng-container
      *ngTemplateOutlet="collectionChooserBeforeRecentRef; context: { $implicit: currentRoot }"
    ></ng-container>
  </ng-template>
</es-collection-chooser>
