<workspace-license
  *ngIf="nodeLicense"
  [nodes]="nodeLicense"
  (onLoading)="globalProgress=$event"
  (onCancel)="closeLicense()"
  (openContributor)="nodeContributor=$event[0]"
  (onDone)="updateLicense($any($event))"
></workspace-license>
<add-stream
  *ngIf="addNodesStream"
  [nodes]="addNodesStream"
  (onLoading)="globalProgress=$event"
  (onCancel)="closeStream()"
  (onDone)="closeStream()"
></add-stream>
<app-signup-group *ngIf="signupGroup"
    (onCancel)="signupGroup = false; signupGroupChange.emit(false)"
>
</app-signup-group>
<workspace-metadata *ngIf="nodeSidebar"
                    [@fromRight]="nodeSidebar"
                    class="metadata-sidebar"
                    [node]="nodeSidebar"
                    (onRestore)="restoreVersion($event)"
                    (onDisplay)="displayNode($event)"
                    (onEditMetadata)="nodeMetadata=[$event]"
                    (onClose)="closeSidebar()"
></workspace-metadata>

<mds
        *ngIf="collectionWriteFeedback"
        customTitle="COLLECTIONS.FEEDBACK_TITLE"
        [embedded]="false"
        [displayJumpmarks]="false"
        [invalidate]="true"
        [currentValues]="{}"
        groupId="collection_feedback"
        labelPositive="COLLECTIONS.FEEDBACK_SAVE"
        (onCancel)="closeCollectionWriteFeedback()"
        (onDone)="addCollectionFeedback($event)"
></mds>
<app-simple-edit-dialog
    *ngIf="_nodeSimpleEdit"
    [nodes]="_nodeSimpleEdit"
    [fromUpload]="_nodeFromUpload"
    (onOpenMetadata)="reopenSimpleEdit = true; _nodeMetadata = $event"
    (onOpenInvite)="reopenSimpleEdit = true; nodeShare = $event"
    (onOpenLicense)="reopenSimpleEdit = true; nodeLicense = $event"
    (onCancel)="closeSimpleEdit(false)"
    (onClose)="closeSimpleEdit(true, $event)"
    (onDone)="closeSimpleEdit(true, $event)"
    ></app-simple-edit-dialog>
<app-view-collection-feedback
    *ngIf="collectionViewFeedback"
    [collection]="collectionViewFeedback"
    (onClose)="closeCollectionViewFeedback()"
    ></app-view-collection-feedback>
<collections-manage-pinning
        *ngIf="addPinnedCollection"
        [addCollection]="addPinnedCollection"
        (onClose)="closePinnedCollection()"
></collections-manage-pinning>
<workspace-share *ngIf="nodeShare"
                 [nodes]="nodeShare"
                 [sendMessages]="true"
                 (onLoading)="globalProgress=$event"
                 (onClose)="closeShare()"
></workspace-share>
<node-info *ngIf="nodeDebug"
           [node]="$any(nodeDebug)"
           (onClose)="closeDebug()"
></node-info>
<card
        *ngIf="qr"
        [node]="qr.node"
        [isCancelable]="true"
        title="{{ 'OPTIONS.QR_CODE' | translate }}"
        (onCancel)="qr=null"
        class="qr"
        width="xlarge"
        height="xxxlarge">
    <qrcode [qrdata]="qr.data" elementType="img" [margin]="2" [width]="512" errorCorrectionLevel="M"></qrcode>
</card>
<card
    *ngIf="_nodeDelete"
    title="{{ nodeDeleteTitle | translate }}"
    height="auto"
    [isCancelable]="true"
    (onCancel)="_nodeDelete = null"
    [buttons]="nodeDeleteButtons"
    [node]="_nodeDelete">
    <div class="card-content-padding">
        {{ nodeDeleteMessage | translate:nodeDeleteMessageParams }}
        <div *ngIf="nodeDeleteBlock" class="delete-block-checkbox">
          <mat-checkbox [(ngModel)]="nodeDeleteBlockStatus">
            <app-multi-line-label>
              <ng-container slot="label">
                {{'WORKSPACE.DELETE_IMPORT_BLOCK' | translate}}
              </ng-container>
              <ng-container slot="description">
                {{'WORKSPACE.DELETE_IMPORT_BLOCK_INFO' | translate}}
              </ng-container>
            </app-multi-line-label>
          </mat-checkbox>
        </div>
    </div>
</card>
<workspace-workflow *ngIf="nodeWorkflow"
                    [nodes]="nodeWorkflow"
                    (onLoading)="globalProgress=$event"
                    (onDone)="closeWorkflow($event)"
                    (onClose)="closeWorkflow()"
></workspace-workflow>
<workspace-share-link *ngIf="nodeShareLink"
                      [node]="nodeShareLink"
                      (onLoading)="globalProgress=$event"
                      (onClose)="closeShareLink()"
></workspace-share-link>
<node-report
  *ngIf="nodeReport"
  [node]="nodeReport"
  (onLoading)="globalProgress=$event"
  (onCancel)="closeReport()"
  (onDone)="closeReport()"
></node-report>
<node-variant
        *ngIf="nodeVariant"
        [node]="nodeVariant"
        (onLoading)="globalProgress=$event"
        (onCancel)="closeVariant()"
        (onDone)="closeVariant()"
></node-variant>
<app-map-link
        *ngIf="linkMap"
        [node]="linkMap"
        (onCancel)="closeLinkMap()"
        (onDone)="closeLinkMap($event)"
></app-map-link>
<collection-chooser
  class="dialog-right scrollWithBanner"
  *ngIf="addToCollection"
  [@fromRight]="addToCollection"
  [title]="'WORKSPACE.SELECT_COLLECTION'"
  (onCancel)="cancelAddToCollection()"
  (onDrop)="addToCollectionList($event.target,$event.source,false)"
  (onCreateCollection)="addToCollectionCreate($event)"
  (onChoose)="addToCollectionList($event)"
>
  <ng-template #beforeRecent let-currentRoot>
    <ng-container *ngTemplateOutlet="collectionChooserBeforeRecentRef; context: { $implicit: currentRoot }"></ng-container>
  </ng-template>
</collection-chooser>
<workspace-lti-tools *ngIf="showLtiTools"
                     [refresh]="ltiToolRefresh"
                     [(currentTool)]="currentLtiTool"
                     (onClose)="closeLtiTools()"
                     (onEdit)="editLti($event)"
                     (onCreateLtiObject)="createLtiObject($event)"
                     (onCreate)="createLti($event)"
                     (onOpenConfig)="openLtiConfig($event)"
></workspace-lti-tools>

<workspace-lti-tool-configs *ngIf="ltiToolConfig"
                            [tool]="ltiToolConfig"
                            (onClose)="closeLtiToolConfig()"
                            (onEdit)="editLti($event)"
                            (onCreate)="createLti($event)"
></workspace-lti-tool-configs>
<workspace-create-lti *ngIf="ltiObject"
                      [tool]="ltiObject"
                      [parent]="parent"
                      (onCancel)="ltiObject=null"
                      (onCreate)="createLtiNodeObject($event)"
></workspace-create-lti>
<app-mds-editor-wrapper *ngIf="_nodeMetadata || createMetadata"
     [nodes]="_nodeMetadata"
     [create]="createMetadata"
     [parentNode]="metadataParent"
     [bulkBehaviour]="_nodeFromUpload ? BulkBehaviour.Replace : BulkBehaviour.Default"
     (onCancel)="closeEditor(false)"
     (onDone)="closeEditor(true,$any($event))"
     (openLicense)="nodeLicense=_nodeMetadata;editorPending=true;"
     (openTemplate)="nodeTemplate=_nodeMetadata[0]"
     (openContributor)="nodeContributor=_nodeMetadata[0];editorPending=true;"
></app-mds-editor-wrapper>
<node-template *ngIf="nodeTemplate"
     [nodeId]="nodeTemplate.ref.id"
     (onClose)="closeTemplate()"
></node-template>
<workspace-file-upload *ngIf="filesToUpload"
                       [current]="parent"
                       [files]="filesToUpload"
                       (onDone)="uploadDone($event)"
></workspace-file-upload>
<workspace-file-upload-select *ngIf="showUploadSelect"
                              [isFileOver]="fileIsOver"
                              [(parent)]="parent"
                              [showPicker]="uploadShowPicker"
                              [multiple]="uploadMultiple"
                              (onCancel)="closeUploadSelect()"
                              (onFileSelected)="uploadFile($event)"
                              (onLinkSelected)="createUrlLink($event)"
></workspace-file-upload-select>
<workspace-contributor *ngIf="nodeContributor"
                       [node]="nodeContributor"
                       (onLoading)="globalProgress=$event"
                       (onClose)="closeContributor($event)"
></workspace-contributor>
<modal-dialog
              *ngIf="dialogTitle"
              [title]="dialogTitle"
              [message]="dialogMessage"
              [messageParameters]="dialogMessageParameters"
              [node]="dialogNode"
              [isCancelable]="dialogCancelable"
              [buttons]="dialogButtons"
              (onCancel)="dialogTitle=null"
></modal-dialog>
