@import "../../../../styles/variables.scss";

$imagePath: '../../../../assets/images/collections/';
.createContainer{
  display:flex;
  align-items: center;
  width: 100%;
  height: 100%;
  .createProgress{
    position: fixed;
    left: 20px;
    top: 20%;
    color:$textLight;
    @include unselectableText();
    >div{
      position: relative;
      margin-bottom: 20px;
    }
    .connection{
      height: 25px;
      width: 3px;
      background-image: url($imagePath + 'dashed-line.svg');
      position: absolute;
      left: 9px;
      top: 20px;
    }
    >div.finished{
      color:$primary;
      @include clickable();
      .circle{
        background-image: url($imagePath + 'checked-circle.svg');
      }
      .label{
        font-weight: bold;
      }
      .connection{
        background-image: url($imagePath + 'line.svg');
      }
    }
    >div.current{
      color:$textPrimary;
      .circle{
        background-image: url($imagePath + 'active-circle.svg');
      }
      .label{
        font-weight: bold;
      }
    }
    >div.finish{
      .circle{
        background-image: url($imagePath + 'finish.svg');
      }
      color:$colorStatusPositive;
      .label{
        font-weight:bold;
        text-transform: uppercase;
      }
    }
    >div,.circle,i,.label{
      display:flex;
    }
    i{
      margin-right: 10px;
      position: relative;
      top: -2px;
    }
    .circle{
      margin-right: 10px;
      border-radius: 50%;
      width:21px;
      height:21px;
      background-image: url($imagePath + 'dashed-circle.svg');
      background-position: 50% 50%;
      background-repeat: no-repeat;

    }
  }
}

.collections-master-div {
  min-height: 100%;
  margin:auto;
  max-width:600px;
  display:flex;
  align-items: center;
  padding-top: $mainnavHeight;
}
.createCollection{
  background-color: #fff;
  .headline{
    font-size: 110%;
    padding: 20px 20px;
    margin: 0;
    margin-bottom: 10px;
    @include unselectableText();
    background-color: $actionDialogBackground;
    i{
      float:right;
    }
  }
  .group{
    padding-top:5px;
    margin-top: 5px;
    border-top:1px solid #ccc;
  }
  .collection-item:hover{
    background-color: $workspaceMetadataBackground;
  }
  .collection-item{
    padding:10px 5px;
    >div,i{
      display: table-cell;
    }
    .title{
      color:$primary;
      font-weight: bold;
      margin-bottom: 3px;
    }
    .description{
      color:$textLight;
    }
    .title,.description{
      float:left;
      width:100%;
    }
    .content{
      padding:10px 0;
    }
    .iconLeft{
      vertical-align: middle;
      padding-right: 15px;
      padding-left: 20px;
      i {
        background-color: #fff;
        padding: 10px;
        border-radius: 50%;
        @include materialShadowBottom();
      }
    }
    .next{
      color: $primary;
      vertical-align: middle;
      padding-right: 15px;
    }
    i{
      position:relative;
      top:3px;
    }
  }
}
.collection-permission-container{
  .title{
    font-size:140%;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .description{
    color:$textLight;
    font-size:110%;
    padding-bottom: 20px;
  }
  .status{
    margin: -20px;
    margin-top: 20px;
    padding: 6px 20px;
    background: $actionDialogBackground;
  }
}
.collection-new-container {
  display:flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 600px;
  min-width: 300px;
  width:100%;
}
.collection-basic{
  width: 350px;
  max-height:770px;
  margin-left: -175px!important;
  left:50%;
  .card-scroll{
    padding-top:0;
    padding-left:0;
    padding-right:0;
  }
}
.card-high{
  top:calc(#{$mainnavHeight} + 5%);
}
.collection-metadata{
  .noGroups{
    font-size:120%;
    color:$textLight;
    text-align: center;
  }
}
.groupLabel{
  margin-bottom:5px;
}
.collection1 label,.collection1 label:focus{
  color:#eee!important;
}
.permissionsBtn{
  margin-left: 32px;
}
.permissionsBtn .btn-flat{
  float:none;
}
.title{
  font-size:120%;
}
.collectionShadow{
  @include materialShadowLarge();
}
.collectionImage{
  position: relative;
  height:240px;
  background-color:white;
}

.collection-new-preview-infoarea {
  min-height: 120px;
  padding: 16px;
  color: #fff;
  transition: $transitionNormal all;
  @include placeholder {
    color: #ccc;
  }
}
.dark-color{
  color:#000;
  @include placeholder {
    color: #333;
  }
}
.collection-new-preview-headline {
    font-size: 200%;
}

.collection-new-preview-subline {
    font-size: 120%;
    margin-bottom: 16px;
    opacity: 0.85;
}

.collection-new-preview-infoline {
    margin-left: -2px;
    opacity: 0.85;
    margin-bottom: 4px;
}

.collection-nocontent-big {
    font-size: 200%;
    padding:16px;
    padding-top: 8px;
    padding-left: 0px;
}

.collection-nocontent-small {
    padding:16px;
    padding-top: 0px;
    padding-left: 0px;
}
.collections-loading-div{
  position: absolute;
  top: 20%;
  text-align: center;
}
.color-option {
    display:inline-block;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    margin-left: 3px;
    margin-right: 3px;
    border-width: 3px;
    border-color: transparent;
    border-style: solid;
    cursor: pointer;
}

.color-selected {
    border-color: black;
}

.icon-bottom {
    vertical-align: bottom;
}

.dialog-basic-area {
    padding: 20px;
    padding-bottom: 15px;
}

.dialog-dark-area {
    padding:16px;
    padding-bottom:8px;
    background: #EFEFEF;
}

.button-area {
    text-align: right;
  height:74px;
}
.button-area a{
  float:right;
  margin:5px;
}
.dialog-input {
    width: 90%;
    height: 25px;
    padding: 4px 4px 4px 10px;
    margin-top: 5px;
    font-size: 14px;
}

.dialog-input-textarea {
    width: 90%;
    border-color: lightgray;
    padding: 4px 4px 4px 10px;
    font-size: 14px;
    resize: vertical;
    height: 70px;
    max-height: 200px;
    margin-top: 5px;
}

.card-collection-icon-container {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 240px;
    background-color: white;
    color: white;
}

.card-image-icon-container {
    height: 160px;
    width: 160px;
    border-radius: 160px;
    background-color: darkgray;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.card-collection-image-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    vertical-align: middle;
}

.card-image-container {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.card-image-preview {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.image-upload-field {
    width: 100%;
    background-color: transparent;
    height: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}

.image-upload-field-input {
    display: none;
}

.image-upload-icon {
  z-index: 1;
  padding:10px;
  color: $primary;
  background-color: #fff;
  border-radius:50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  @include clickable();
  @include materialShadowBottom();
}
.image-upload-icon i{
  background-color: rgba(255,255,255,0.75);
  border-radius:5pt;
}


label{
}


input[type="radio"] {
    margin: 0px 4px 8px 13px;
    cursor: pointer;
}

.dialog-header-field {
    background-color: #383838;
    padding: 8px 0px 8px 20px;
    color: #FFFFFF;
}

@media screen and (max-width: $mobileWidth+$mobileStage*3){
  .card-high{
    top:15%;
  }
  .createContainer{
    .createProgress{
      position: fixed;
      display:flex;
      top:$mainnavHeight+40px;
      width:100vw;
      left:0;
      justify-content: center;
      .circle{
        background-size: 60%;
      }
      .connection{
        height: 20px;
        left: 25px;
        top: 1px;
        transform: rotate(90deg);
      }

      .label,.material-icons{
        display:none;
      }
      .current .label{
        display: flex;
        position: fixed;
        left:0;
        top:$mainnavHeight+20px;
        width:100vw;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-height: $mobileHeight + $mobileStage*1){
  .card, .card-high, .card-low {
    top:$mainnavHeight+15px;
  }
}
@media screen and (max-height: $mobileHeight - $mobileStage*1){
  .card, .card-high, .card-low {
    top:0;
  }
}
@media screen and (max-width: $mobileWidth+$mobileStage*3) and (max-height: $mobileHeight+$mobileStage*2) {
  .createContainer .createProgress{
    display: none;
  }
}