<div class="header">
    <img src="assets/images/register/register-password.svg" alt="">
    <h4 class="headline">{{'REGISTER.REQUEST.HEADLINE' | translate}}</h4>
</div>
<div>
    <p class="info">{{'REGISTER.REQUEST.INFO' | translate}}</p>
    <form (ngSubmit)="submit()">
        <label for="email">{{'USER.email' | translate}} *</label>
        <input required [ngClass]="{'valid': checkMail(), 'invalid': !checkMail() && email.trim()}" type="email" name="email" id="email" [(ngModel)]="email"/>
    </form>
</div>
