<div class="request-info">
    <img src="assets/images/register/register-password.svg" alt="">
    <h4>{{'REGISTER.REQUEST.HEADLINE' | translate}}</h4>
    <p>{{'REGISTER.REQUEST.INFO' | translate}}</p>
</div>
<form (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label>{{'USER.email' | translate}}</mat-label>
        <input matInput type="email" name="email" id="email" placeholder="{{'REGISTER.REQUEST.PLACEHOLDER' | translate}}" [formControl]="emailFormControl" />
    </mat-form-field>
</form>