@import "../../styles/variables";

.toast-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    .mat-simple-snackbar-message-plain {
        white-space: pre-line;
    }
    > button{
        font-weight: bold;
        color: #fff;
    }
}
