# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# cypress
/cypress/videos
/cypress/screenshots

# Project-specific

# not needed anymore, but might still be around in some working directories
src/assets/endpoint.txt

# generated sources
/src/app/edu-sharing
