<es-mds-editor-widget-container
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="formControl"
>
  <mat-select
    #select
    [formControl]="formControl"
    [placeholder]="widget.definition.placeholder"
    esOnAttributeChange="aria-activedescendant"
    (attributeChange)="onActiveDescendantChanges($event)"
    (blur)="onBlur.emit()"
  >
    <mat-option [value]="null" *ngIf="widget.definition.allowempty"></mat-option>
    <mat-option
      *ngFor="let value of values | async"
      [value]="value"
      esCheckTextOverflow=".mat-option-text"
      #text="esCheckTextOverflow"
      #tooltip="matTooltip"
      esElementRef
      #ref="esElementRef"
      [matTooltip]="text.hasTextOverflow() ? value.caption : null"
      [esRegisterCustomProperty]="{ key: 'tooltip', value: tooltip, object: ref.nativeElement }"
    >
      {{ value.caption }}
    </mat-option>
  </mat-select>
</es-mds-editor-widget-container>
