<es-mds-editor-widget-container
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="formControl"
>
  <mat-select
    [formControl]="formControl"
    [placeholder]="widget.definition.placeholder"
    appOnAttributeChange="aria-activedescendant"
    (attributeChange)="onActiveDescendantChanges($event)"
  >
    <mat-option [value]="null" *ngIf="widget.definition.allowempty"></mat-option>
    <mat-option
      *ngFor="let value of values | async"
      [value]="value"
      appCheckTextOverflow=".mat-option-text"
      #text="appCheckTextOverflow"
      #tooltip="matTooltip"
      appElementRef
      #ref="appElementRef"
      [matTooltip]="text.hasTextOverflow() ? value.caption : null"
      [appRegisterCustomProperty]="{ key: 'tooltip', value: tooltip, object: ref.nativeElement }"
    >
      {{ value.caption }}
    </mat-option>
  </mat-select>
</es-mds-editor-widget-container>
