<div class="node-relations-widget">
  @if (loading) {
  <es-spinner></es-spinner>
  } @if (!loading) { @if (versions?.length) {
  <div class="relations-group versions">
    <h5 class="relations-heading">{{ 'NODE_RELATIONS.RELATION_TYPE.VERSIONS' | translate }}</h5>
    <div class="relation-nodes version">
      @for (version of versions; track version) {
      <es-node-url
        class="relation-node"
        [class.current-version]="isCurrentVersion(version)"
        [node]="version"
        [queryParams]="{ closeOnBack: true }"
        target="_BLANK"
      >
        <es-node-row [node]="version" [columns]="columns">
          <ng-template #customMetadata>
            <div class="info-group">
              <label>{{ 'WORKSPACE.SHARE.PUBLISH.VERSION_DATE_ABSOLUTE' | translate }}</label>
              <span
                >{{ version.properties['ccm:published_date_LONG']?.[0] | formatDate:{relative: false} }}</span
              >
            </div>
            <div class="info-group">
              <label>{{ 'WORKSPACE.SHARE.PUBLISH.VERSION_NUMBER' | translate }}</label>
              <span
                >{{ version.properties['cclom:version']?.[0] }}
                @if (isCurrentVersion(version)) {
                <span class="current-version-text">
                  ({{ 'NODE_RELATIONS.CURRENT_VERSION' | translate }})
                </span>
                }</span
              >
            </div>
          </ng-template>
        </es-node-row>
      </es-node-url>
      }
    </div>
  </div>
  } @if (!isFromHomeRepo) {
  <div class="empty">
    {{ 'NODE_RELATIONS.NOT_SUPPORTED_REMOTELY' | translate }}
  </div>
  } @if ( isFromHomeRepo && !versions?.length && !relations?.length && !forkedChilds?.length &&
  !forkedOrigin ) {
  <div class="empty">
    {{ 'NODE_RELATIONS.NO_RELATIONS' | translate }}
  </div>
  } @for (key of getRelationKeys(); track key) {
  <div class="relations-group">
    <h5 class="relations-heading">{{ 'NODE_RELATIONS.RELATION_TYPE.' + key | translate }}</h5>
    <div class="relation-nodes">
      @for (relation of getRelations(key); track relation) {
      <es-node-url
        class="relation-node"
        [node]="relation.toNode"
        [queryParams]="{ closeOnBack: true }"
        target="_BLANK"
      >
        <es-node-row [node]="relation.toNode" [columns]="columns">
          <ng-template #customMetadata>
            <div class="info-group">
              <label>{{ 'NODE_RELATIONS.RELATION_CREATED' | translate }}</label>
              <span>{{ relation.createdAt | formatDate : { relative: true } }}</span>
            </div>
            <div class="info-group">
              <label>{{ 'NODE_RELATIONS.RELATION_CREATOR' | translate }}</label>
              <span>{{ relation.createdBy | authorityName }}</span>
            </div>
          </ng-template>
        </es-node-row>
      </es-node-url>
      }
    </div>
  </div>
  } @if (forkedOrigin) {
  <h5 class="relations-heading">
    {{ 'NODE_RELATIONS.RELATION_TYPE.FORKED_ORIGIN' | translate }}
  </h5>
  <div class="relation-nodes version">
    <es-node-url
      class="relation-node"
      [node]="forkedOrigin"
      [queryParams]="{ closeOnBack: true }"
      target="_BLANK"
    >
      <es-node-row [node]="forkedOrigin" [columns]="columns">
        <ng-template #customMetadata>
          <div class="info-group">
            <label>{{ 'NODE_RELATIONS.VARIANT_CREATED' | translate }}</label>
            <span>{{ forkedOrigin.createdAt | formatDate : { relative: true } }}</span>
          </div>
          <div class="info-group">
            <label>{{ 'NODE_RELATIONS.VARIANT_CREATOR' | translate }}</label>
            <span>{{ forkedOrigin.createdBy | authorityName }}</span>
          </div>
        </ng-template>
      </es-node-row>
    </es-node-url>
  </div>
  } @if (forkedChilds?.length) {
  <h5 class="relations-heading">
    {{ 'NODE_RELATIONS.RELATION_TYPE.FORKED_CHILDS' | translate }}
  </h5>
  <div class="relation-nodes version">
    @for (child of forkedChilds; track child) {
    <es-node-url
      class="relation-node"
      [node]="child"
      [queryParams]="{ closeOnBack: true }"
      target="_BLANK"
    >
      <es-node-row [node]="child" [columns]="columns">
        <ng-template #customMetadata>
          <div class="info-group">
            <label>{{ 'NODE_RELATIONS.VARIANT_CREATED' | translate }}</label>
            <span>{{ child.createdAt | formatDate : { relative: true } }}</span>
          </div>
          <div class="info-group">
            <label>{{ 'NODE_RELATIONS.VARIANT_CREATOR' | translate }}</label>
            <span>{{ child.createdBy | authorityName }}</span>
          </div>
        </ng-template>
      </es-node-row>
    </es-node-url>
    }
  </div>
  } }
</div>
<ng-template let-key="key" let-nodes="nodes"> </ng-template>
