<ng-container *ngIf="!selectedSubmissionFile()">
  <es-node-entries-wrapper
    [primaryInstance]="true"
    [dataSource]="dataSource"
    [checkbox]="false"
    [elementInteractionType]="InteractionType.Emitter"
    [scope]="Scope.EditorialPage"
    singleClickHint="static"
    (clickItem)="select($event)"
    [columns]="columns"
    [displayType]="editorialPageService.displayType()"
  >
    <ng-template #empty>
      <div class="empty">
        {{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.EMPTY' | translate }}
      </div>
    </ng-template>
  </es-node-entries-wrapper>
</ng-container>
<ng-container *ngIf="selectedSubmissionFile() && selectedSubmissionFileUrl() !== undefined">
  <mat-tab-group>
    <mat-tab
      *ngIf="
        selectedSubmissionFileUrl() && selectedSubmissionFile().correction?.mediatype === 'file-pdf'
      "
    >
      <ng-template mat-tab-label>
        <i esIcon="check"></i>
        {{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.VIEW_CORRECT' | translate }}
      </ng-template>
      <ngx-extended-pdf-viewer
        [src]="selectedSubmissionFileUrl()"
        [height]="'auto'"
        [language]="language"
        [textLayer]="true"
        [customToolbar]="additionalButtons"
        [zoom]="'page-fit'"
        (annotationEditorEvent)="changeAnnotation()"
      ></ngx-extended-pdf-viewer>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i esIcon="preview"></i>
        {{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.VIEW_ORIGINAL' | translate }}
      </ng-template>
      <es-render-wrapper-component
        *ngIf="selectedSubmissionFile().content"
        [showTopbar]="false"
        [showMetadata]="false"
        [nodeId]="selectedSubmissionFile().content.ref.id"
        [repository]="selectedSubmissionFile().content.ref.repo"
      ></es-render-wrapper-component>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #additionalButtons>
  <div
    id="toolbarViewer"
    esBorderBoxObserver
    #observer="borderBoxObserver"
    [class.small]="(observer.width$ | async) < 700"
  >
    <div id="toolbarViewerLeft">
      <pdf-toggle-sidebar></pdf-toggle-sidebar>
      <div class="toolbarButtonSpacer"></div>
      <pdf-paging-area></pdf-paging-area>
    </div>
    <pdf-zoom-toolbar></pdf-zoom-toolbar>
    <div id="toolbarViewerRight">
      <pdf-hand-tool></pdf-hand-tool>
      <pdf-draw-editor></pdf-draw-editor>
      <pdf-highlight-editor></pdf-highlight-editor>
      <pdf-text-editor></pdf-text-editor>

      <div class="verticalToolbarSeparator hiddenSmallView"></div>
      <button
        mat-flat-button
        color="primary"
        class="save"
        (click)="saveCorrection()"
        [disabled]="correctionSaving() || !hasCorrectionChanges()"
      >
        <i esIcon="save"></i>{{ 'SAVE' | translate }}
      </button>
    </div>
  </div>
</ng-template>
