@if (!selectedCorrectedFile()) {
<div class="list">
  <es-node-entries-wrapper
    [primaryInstance]="true"
    [dataSource]="dataSource"
    [checkbox]="false"
    [elementInteractionType]="InteractionType.Emitter"
    [scope]="Scope.EditorialPage"
    singleClickHint="static"
    (clickItem)="select($event.element)"
    [columns]="columns"
    [displayType]="editorialPageService.displayType()"
  >
    <ng-template #empty>
      <div class="empty">
        {{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.EMPTY' | translate }}
      </div>
    </ng-template>
  </es-node-entries-wrapper>
  <div class="actions">
    <span
      >{{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.CORRECTED' | translate }}: {{ corrected() }} /
      {{ dataSource.getTotal() }}</span
    >
    <button
      mat-flat-button
      color="primary"
      [disabled]="
        assignment()?.status === 'CORRECTED' ||
        assignment()?.status === 'FINISHED' ||
        assignment()?.status === 'CANCELED'
      "
      (click)="finishAll()"
    >
      {{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.SAVE_CORRECTED' | translate }}
    </button>
  </div>
</div>
} @if (selectedCorrectedFile() && selectedSubmissionFileUrl() !== undefined) {
<!-- dirty hack via tabSelected: we need to fully unload the ngx-extended-pdf-viewer component since it can't be registered twice -->
<mat-tab-group [selectedIndex]="tabSelected()" (selectedTabChange)="onTabChange($event)">
  @if ( selectedSubmissionFileUrl() && selectedCorrectedFile().correction?.mediatype === 'file-pdf'
  ) {
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="check"></i>
      {{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.VIEW_CORRECT' | translate }}
    </ng-template>
    @if (tabSelected() === 0) {
    <ngx-extended-pdf-viewer
      [src]="selectedSubmissionFileUrl()"
      [enableDragAndDrop]="false"
      [height]="'100%'"
      [language]="language"
      [textLayer]="true"
      [customToolbar]="additionalButtons"
      [zoom]="'page-fit'"
      (annotationEditorEvent)="changeAnnotation()"
    ></ngx-extended-pdf-viewer>
    }
  </mat-tab>
  }
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="preview"></i>
      {{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.VIEW_ORIGINAL' | translate }}
    </ng-template>
    @if (tabSelected() === 1 && selectedCorrectedFile().content) {
    <es-render-wrapper-component
      [showTopbar]="false"
      [showMetadata]="false"
      [nodeId]="selectedCorrectedFile().content.ref.id"
      [repository]="selectedCorrectedFile().content.ref.repo"
    ></es-render-wrapper-component>
    }
  </mat-tab>
</mat-tab-group>
}

<ng-template #additionalButtons>
  <div
    id="toolbarViewer"
    esBorderBoxObserver
    #observer="borderBoxObserver"
    [class.medium]="(observer.width$ | async) < 800"
    [class.small]="(observer.width$ | async) < 600"
  >
    <div id="toolbarViewerLeft">
      <pdf-toggle-sidebar></pdf-toggle-sidebar>
      <div class="toolbarButtonSpacer"></div>
      <pdf-paging-area></pdf-paging-area>
    </div>
    <pdf-zoom-toolbar></pdf-zoom-toolbar>
    <div id="toolbarViewerRight">
      <pdf-hand-tool></pdf-hand-tool>
      <pdf-draw-editor [show]="true"></pdf-draw-editor>
      <pdf-highlight-editor [show]="true"></pdf-highlight-editor>
      <pdf-text-editor [show]="true"></pdf-text-editor>

      <div class="verticalToolbarSeparator hiddenSmallView"></div>
      <button
        mat-flat-button
        color="primary"
        class="save"
        (click)="saveCorrection()"
        [disabled]="correctionSaving()"
      >
        <!-- [disabled]="correctionSaving() || !hasCorrectionChanges()" -->
        <i esIcon="save"></i>{{ 'EDITORIAL.ASSIGNMENT.SUBMISSIONS.SAVE_EDIT' | translate }}
      </button>
    </div>
  </div>
</ng-template>
