<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="columnChooserVisible"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayViewportMargin]="5"
  (backdropClick)="columnChooserVisibleChange.emit(false)"
  cdkConnectedOverlayBackdropClass="column-chooser-backdrop"
>
  <div
    cdkDropList
    class="column-chooser mat-elevation-z2"
    (cdkDropListDropped)="columnChooserDrop($event)"
  >
    <div class="column-chooser-item" *ngFor="let column of columns; index as index" cdkDrag>
      <mat-checkbox
        [checked]="column.visible"
        (change)="columnChooserToggle(index)"
        color="primary"
      >
        {{ column | esListItemLabel | async }}
      </mat-checkbox>
      <i esIcon="drag_handle" class="drag-handle" cdkDragHandle></i>
    </div>
  </div>
</ng-template>
