<global-progress *ngIf="isLoading"></global-progress>
<div class="appLogin" *ngIf="!isLoading">
  <!--------------------
     STATE: LOGIN 
    ------------------- -->
    <div class="infoTop" style="margin-top: -10px;">
      <h1>{{'LOGIN_APP.LOGIN' | translate}}</h1>
      <div>{{'LOGIN_APP.LOGIN_INFO' | translate}}</div>
    </div>
    <card [modal]="false" title="{{'LOGIN_APP.LOGIN_TITLE' | translate}}" width="normal" height="auto" avatar="assets/images/app-icon.svg" [isCancelable]="true" (onCancel)="buttonLoginBack()" [buttons]="buttons">
        <div class="card-content-padding">
          <form (ngSubmit)="login()" #loginForm>
            <mat-form-field>
              <mat-label>{{'LOGIN.USERNAME' | translate}}</mat-label>
              <input matInput required autofocus name="username" id="username" (ngModelChange)="checkConditions()" [(ngModel)]="username"/>
            </mat-form-field>
            <div>
              <input-password label="{{'LOGIN.PASSWORD' | translate}}" id="password" required (valueChange)="checkConditions()" (keydown.enter)="login()" [(value)]="password"></input-password>
            </div>
          </form>
          <div class="register" *ngIf="config.register.local || config.register.registerUrl">
            {{'LOGIN.REGISTER_TEXT' | translate}}
            <button mat-button color="primary" (click)="register()">{{'LOGIN.REGISTER_LINK' | translate}} <i icon iconId="arrow_forward"></i></button>
          </div>
        </div>
    </card>
</div>
