<div>
  <span>{{ 'NODE_INFO.CONTEXT_ACTIONS' | translate }}</span>
  <es-actionbar [numberOfAlwaysVisibleOptions]="4" #contextActionbar></es-actionbar>
</div>
<div>
  <span>{{ 'NODE_INFO.ALL_ACTIONS' | translate }}</span>
  <es-actionbar [numberOfAlwaysVisibleOptions]="4" #allActionbar></es-actionbar>
</div>

<div>
  <span>{{ 'NODE.cm:name' | translate }}</span
  >@for (node of _nodes; track node) {
  <span>{{ node.name }}</span>
  }
</div>
<div>
  <span>{{ 'NODE.sys:node-uuid' | translate }}</span>
  @for (node of _nodes; track node) {
  <span class="node-id">
    <a class="clickable" (click)="openNodeWorkspace(node)">{{ node.ref?.id }}</a>
    <button mat-icon-button color="primary" (click)="copyNodeIdToClipboard(node)">
      <i esIcon="content_copy" color="primary"></i>
    </button>
  </span>
  }
</div>
<div>
  <span>{{ 'NODE_INFO.NODE_TYPE' | translate }}</span
  >@for (node of _nodes; track node) {
  <span>{{ node.type }}</span>
  }
</div>
@if (_nodes.length === 1) {
<div>
  <span>{{ 'NODE_INFO.NODE_ASPECTS' | translate }}</span
  ><span class="aspects">{{ _nodes[0].aspects?.join('\n') }}</span>
</div>
}
<div>
  <span>{{ 'NODE.mimetype' | translate }}</span
  >@for (node of _nodes; track node) {
  <span>{{ node.mimetype }} / {{ node.mediatype }}</span>
  }
</div>
@if (_nodes.length === 1) { @if (_nodes[0].properties && _nodes[0].properties['cm:created_LONG']) {
<div>
  <span>{{ 'NODE.cm:created' | translate }}</span
  ><span>{{ _nodes[0].properties['cm:created_LONG'][0] | formatDate : { time: true } }}</span>
</div>
} @if (_nodes[0].properties && _nodes[0].properties['cm:modified_LONG']) {
<div>
  <span>{{ 'NODE.cm:modified' | translate }}</span
  ><span>{{ _nodes[0].properties['cm:modified_LONG'][0] | formatDate : { time: true } }}</span>
</div>
}
<div>
  <span>{{ 'NODE.cm:creator' | translate }}</span
  ><span>{{ _creator }}</span>
</div>
<div>
  <span>{{ 'DOWNLOAD' | translate }}</span
  ><span
    >@if (_nodes[0].downloadUrl) {
    <a [href]="_nodes[0].downloadUrl" target="_blank">{{ _nodes[0].downloadUrl }}</a>
    } @if (!_nodes[0].downloadUrl) {
    <div>-</div>
    }</span
  >
</div>
@if (_nodes[0].preview) {
<div>
  <span>{{ 'WORKSPACE.EDITOR.PREVIEW' | translate }}</span
  ><span
    ><a [href]="_nodes[0].preview.url" target="_blank">{{ _nodes[0].preview.url }}</a></span
  ><span>isIcon: {{ _nodes[0].preview.isIcon }}</span> <img [src]="_nodes[0].preview.url" />
</div>
}
<div>
  <span>{{ 'NODE_INFO.PERMISSIONS' | translate }}</span>
  @if (!_permissions) {
  <es-spinner-small></es-spinner-small>
  } @if (_permissions) {
  <div>
    <div class="inherited">
      <span>{{ 'NODE_INFO.PERMISSIONS_INHERITED' | translate }}</span>
      @if (!_permissions.inherited) {
      <div>
        {{ 'NODE_INFO.PERMISSIONS_INHERIT_DISABLED' | translate }}
      </div>
      } @if (_permissions.inherited && _parentPermissions) {
      <div>
        <ng-container
          *ngTemplateOutlet="
            permissions;
            context: {
              permissions: _parentPermissions,
              empty: 'NODE_INFO.PERMISSIONS_LOCAL_EMPTY'
            }
          "
        ></ng-container>
      </div>
      }
    </div>
    <div class="local">
      <span>{{ 'NODE_INFO.PERMISSIONS_LOCAL' | translate }}</span>
      <ng-container
        *ngTemplateOutlet="
          permissions;
          context: { permissions: _permissions, empty: 'NODE_INFO.PERMISSIONS_LOCAL_EMPTY' }
        "
      ></ng-container>
    </div>
  </div>
  }
</div>
}
<div>
  @if (_nodes.length === 1) {
  <span>{{ 'NODE_INFO.CHILDREN' | translate }} ({{ _children ? _children.length : 0 }})</span>
  <span class="children">
    @for (child of _children; track child) {
    <div>
      {{ child.type }} (<a class="clickable" (click)="openNodes([child])">{{ child.ref.id }}</a
      >)
    </div>
    } @if (!_children) {
    <es-spinner-small></es-spinner-small>
    } @if (_children && !_children.length) {
    <div>
      {{ 'NODE_INFO.CHILDREN_NONE' | translate }}
    </div>
    }
  </span>
  <div>
    <span>{{ 'NODE_INFO.LOCATION' | translate }}</span
    ><span>
      <es-breadcrumbs
        [home]="'WORKSPACE.MY_FILES'"
        [clickable]="true"
        (clickBreadcrumb)="openBreadcrumb($event)"
      ></es-breadcrumbs>
    </span>
  </div>
  } @if (canEdit()) {
  <div class="edit"><i esIcon="edit" (click)="editMode = true"></i></div>
  }
  <div>
    <span>{{ 'NODE_INFO.NODE_PROPERTIES' | translate }}</span>
    @for (property of _properties; track property) {
    <div class="property">
      @if (!editMode) {
      <span>{{ property[0] }}</span>
      } @if (!editMode) {
      <span>{{ property[1] }}</span>
      } @if (editMode) {
      <div>
        <mat-form-field class="mat-form-field-no-padding">
          <mat-label>{{ property[0] }}</mat-label>
          @if (editMode) {
          <input matInput type="text" [(ngModel)]="property[1]" />
          }
        </mat-form-field>
        @if (!saving) {
        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            [disabled]="saving"
            (click)="saveProperty(property, false)"
          >
            <i esIcon="save"></i>
          </button>
          <button
            mat-button
            color="warn"
            [disabled]="saving"
            (click)="saveProperty(property, true)"
          >
            <i esIcon="delete"></i>
          </button>
        </div>
        } @if (saving) {
        <div><es-spinner-small></es-spinner-small></div>
        }
      </div>
      }
    </div>
    } @if (editMode) {
    <div class="property property-add">
      <mat-form-field class="mat-form-field-no-padding mat-form-field-max-width">
        <mat-label>{{ 'NODE_INFO.CUSTOM_PROPERTY_NAME' | translate }}</mat-label>
        <input matInput type="text" placeholder="cm:name" [(ngModel)]="customProperty[0]" />
      </mat-form-field>
      <mat-form-field class="mat-form-field-no-padding mat-form-field-max-width">
        <mat-label>{{ 'NODE_INFO.CUSTOM_PROPERTY_VALUE' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="customProperty[1]" />
      </mat-form-field>
      @if (editMode) {
      <div class="edit-save">
        @if (saving) {
        <es-spinner-small></es-spinner-small>
        }
        <div>
          <button
            mat-raised-button
            color="primary"
            [disabled]="saving || !customProperty[0]"
            (click)="addProperty()"
          >
            <i esIcon="save"></i> {{ 'ADD' | translate }}
          </button>
        </div>
      </div>
      }
    </div>
    }
  </div>

  <div>
    <span>{{ 'NODE_INFO.JSON' | translate }}</span
    ><span class="json">{{ _json }}</span>
  </div>
</div>
<ng-template #permissions let-permissions="permissions" let-empty="empty">
  @if (!permissions.aces.length) {
  <div>
    {{ empty | translate }}
  </div>
  } @for (permission of permissions.aces; track permission) {
  <div>
    <div class="authority">
      {{ permission.authority }} ({{ permission.authorityType }}) / {{ permission | authorityName }}
    </div>
    <div class="permissions">{{ permission.permission }}</div>
  </div>
  }
</ng-template>
