@import '../../../core-ui-module/styles/variables';

.tutorial {
    font-size: 20px;
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: $dialogZIndex + 20;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    > .align-tutorial {
        /* align-self: flex-start; */
        position: absolute;
        width: auto;
        padding: 90px;
        max-width: 700px;
        &:focus {
            outline: none;
        }
        > div {
            width: 100%;
        }
    }
    > .align-tutorial-end {
        align-self: flex-end;
    }
    .buttons {
        padding-top: 50px;
        .skip {
            color: #fff;
            float: left;
        }
        .next {
            float: right;
        }
        button.cdk-keyboard-focused {
            @include setGlobalKeyboardFocus();
        }
    }
    .heading {
        font-size: 150%;
        font-weight: bold;
        text-transform: uppercase;
    }
    .description {
        padding: 10px 0;
    }
}
@media screen and (max-width: ($mobileTabSwitchWidth)) {
    .tutorial {
        font-size: 14px;
        > .align-tutorial {
            padding: 30px;
        }
    }
}
