<button
  [class.topic-page-btn-accent]="!grid?.length"
  mat-flat-button
  color="primary"
  [matMenuTriggerFor]="configureGridMenu"
>
  <i esIcon="settings"></i>
  {{
    grid?.length > 0
      ? ('TOPIC_PAGE.SWIMLANE.CHANGE_GRID.ADJUST' | translate)
      : ('TOPIC_PAGE.SWIMLANE.CHANGE_GRID.CONFIGURE' | translate)
  }}
</button>
<mat-menu #configureGridMenu="matMenu" class="topic-page-menu">
  <button
    mat-menu-item
    *ngFor="let option of swimlaneGridOptions"
    (click)="configureSwimlaneGrid(option.value)"
  >
    <i *ngIf="option.icon" [esIcon]="option.icon"></i>
    {{ 'TOPIC_PAGE.SWIMLANE.SELECT_LAYOUT.' + option.viewValue | translate }}
  </button>
</mat-menu>
