@import '../../../core-ui-module/styles/variables';

.block {
    display: flex;
    flex-grow: 1;
    align-items: center;
    border-radius: 2px;
    padding: 15px 20px;
    .message-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &.warning {
        background-color: lighten($warningMedium, 45%);
        border: 1px solid darken($warningMedium, 10%);
        color: darken($warningMedium, 30%);
    }
    &.error {
        background-color: lighten($warning, 50%);
        border: 1px solid darken($warning, 20%);
        color: darken($warning, 30%);
    }
    &.info {
        background-color: var(--palette-primary-50);
        border: 1px solid $primary;
        color: var(--palette-primary-900);
    }
    > div:first-child {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }
    > .text {
        white-space: pre-line;
    }
    > .link {
        color: $primary;
        text-transform: uppercase;
    }
}
