@import '../mds-editor-widget-vcard/vcard';

:host ::ng-deep .mat-tab-labels {
    background-color: transparent;
}

es-spinner-small {
    display: flex;
    justify-content: center;
}

mat-tab-group {
    margin-bottom: 20px;

    .author-checkbox {
        margin: 20px 0 10px 10%;
    }

    .author-tabs {
        margin-top: 15px;
    }

    .authorFreetext,
    .authorPerson {
        padding: 0 10px;
    }

    .authorFreetext {
        width: 100%;
        margin-top: 5px;

        textarea {
            overflow: hidden;
        }
    }

    .contributors {
        margin-top: 15px;
        display: flex;
        margin-left: 30px;
    }
}
