<card title="{{'WORKSPACE.LICENSE.TITLE' | translate }}" [priority]="priority" [node]="_nodes" width="large" height="xlarge"
      [buttons]="buttons"
      (onCancel)="cancel()"
>
      <spinner *ngIf="loading"></spinner>
      <div *ngIf="(_nodes || _properties) && !loading" class="license-content">
        <mat-slide-toggle class="oerSelect switch" [(ngModel)]="oerMode">{{ 'WORKSPACE.LICENSE.ONLY_OER' | translate }}</mat-slide-toggle>
        <mat-radio-group class="oerLicenses" [(ngModel)]="type" name="oerLicenses" *ngIf="oerMode">
          <div class="oerCC0">
            <h4>{{'LICENSE.GROUPS.CC_0' | translate}}</h4>
            <div *ngIf="isAllowedLicense('CC_0')">
              <mat-radio-button value="CC_0">
                <h4>{{'WORKSPACE.LICENSE.CC0.CC0' | translate}}</h4>
                <h5 innerHTML="{{'WORKSPACE.LICENSE.CC0.CC0_INFO' | translate}}"></h5>
                <h5><a class="focus-underline" [href]="getLicenseUrlVersion('CC_0')" target="_blank">{{'WORKSPACE.LICENSE.MORE' | translate}}</a></h5>
              </mat-radio-button>
            </div>
            <div *ngIf="isAllowedLicense('PDM')">
              <mat-radio-button value="PDM">
                <h4>{{'WORKSPACE.LICENSE.CC0.PDM' | translate}}</h4>
                <h5>{{'WORKSPACE.LICENSE.CC0.PDM_INFO' | translate}}</h5>
                <h5><a class="focus-underline" [href]="getLicenseUrlVersion('PDM')" target="_blank">{{'WORKSPACE.LICENSE.MORE' | translate}}</a></h5>
              </mat-radio-button>
            </div>
          </div>
          <div class="oerCCBY">
            <h4>{{'LICENSE.GROUPS.CC_BY' | translate}}</h4>
            <div *ngIf="isAllowedLicense('CC_BY')">
              <mat-radio-button value="CC_BY" id="CC_BY">
                <h4>{{'WORKSPACE.LICENSE.CC.CC_BY_RADIO' | translate}}</h4>
                <h5>{{'WORKSPACE.LICENSE.CC.CC_BY_INFO' | translate}}</h5>
                <h5><a class="focus-underline" [href]="getLicenseUrlVersion('CC_BY')" target="_blank">{{'WORKSPACE.LICENSE.MORE' | translate}}</a></h5>
              </mat-radio-button>
            </div>
            <div *ngIf="isAllowedLicense('CC_BY_SA')">
                <mat-radio-button value="CC_BY_SA" id="CC_BY_SA">
                  <h4>{{'WORKSPACE.LICENSE.CC.CC_BY_SA_RADIO' | translate}}</h4>
                  <h5>{{'WORKSPACE.LICENSE.CC.CC_BY_SA_INFO' | translate}}</h5>
                  <h5><a class="focus-underline" [href]="getLicenseUrlVersion('CC_BY_SA')" target="_blank">{{'WORKSPACE.LICENSE.MORE' | translate}}</a></h5>
                </mat-radio-button>
            </div>
            <button mat-button color="primary" class="ccAuthor clickable" (click)="showCcAuthor=!showCcAuthor;">
              <i icon iconId="{{ showCcAuthor ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}"></i>
              {{ 'WORKSPACE.LICENSE.CC.NAME_AUTHOR' | translate}}
            </button>
          </div>
        </mat-radio-group>
        <div class="allLicenses" *ngIf="!oerMode">
          <mat-form-field class="licenseType" >
            <mat-label>{{'WORKSPACE.LICENSE.TYPE' | translate}}</mat-label>
            <mat-select #selectLicense id="type" type="text" [(ngModel)]="primaryType">
              <mat-option *ngFor="let license of licenseMainTypes" [value]="license">{{ ('LICENSE.GROUPS.'+license) | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="primaryType=='CC_BY'" class="cc">
            <h5 class="ccAbout"><a class="focus-underline" [href]="getLicenseUrlVersion('CC_BY_ABOUT')" target="_blank">{{ 'WORKSPACE.LICENSE.CC.ABOUT' | translate}}</a></h5>
            <div *ngIf="isAllowedLicense('CC_BY_SA') || isAllowedLicense('CC_BY_ND')">
              <h4>{{'WORKSPACE.LICENSE.CC.SHARE' | translate}}</h4>
              <h5>{{'WORKSPACE.LICENSE.CC.SHARE_INFO' | translate}}</h5>
              <mat-radio-group [(ngModel)]="ccShare">
                <mat-radio-button value="">{{'YES' | translate}}</mat-radio-button>
                <mat-radio-button *ngIf="isAllowedLicense('CC_BY_SA')" value="SA">{{'WORKSPACE.LICENSE.CC.YES_ALIKE' | translate}}</mat-radio-button>
                <mat-radio-button *ngIf="isAllowedLicense('CC_BY_ND')" value="ND">{{'NO' | translate}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="isAllowedLicense('CC_BY_NC')">
              <h4>{{'WORKSPACE.LICENSE.CC.COMMERCIAL' | translate}}</h4>
              <h5>{{'WORKSPACE.LICENSE.CC.COMMERCIAL_INFO' | translate}}</h5>
              <mat-radio-group [(ngModel)]="ccCommercial">
                <mat-radio-button value="">{{'YES' | translate}}</mat-radio-button>
                <mat-radio-button value="NC">{{'NO' | translate}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="ccAuthor clickable" (click)="showCcAuthor=!showCcAuthor;"><i icon iconId="{{ showCcAuthor ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}"></i> {{ 'WORKSPACE.LICENSE.CC.NAME_AUTHOR' | translate}}</div>
          </div>
              <mat-radio-group [(ngModel)]="type" *ngIf="primaryType=='COPYRIGHT'" class="copyright">
                <div *ngIf="isAllowedLicense('COPYRIGHT_FREE')">
                  <mat-radio-button value="COPYRIGHT_FREE">
                      <h4>{{'WORKSPACE.LICENSE.COPYRIGHT.FREE' | translate}}</h4>
                      <h5 innerHTML="{{'WORKSPACE.LICENSE.COPYRIGHT.FREE_INFO' | translate}}"></h5>
                  </mat-radio-button>
                </div>
                <div *ngIf="isAllowedLicense('COPYRIGHT_LICENSE')">
                  <mat-radio-button value="COPYRIGHT_LICENSE">
                    <h4>{{'WORKSPACE.LICENSE.COPYRIGHT.LICENSE' | translate}}</h4>
                    <h5>{{'WORKSPACE.LICENSE.COPYRIGHT.LICENSE_INFO' | translate}}</h5>
                  </mat-radio-button>
                </div>

              </mat-radio-group>
              <mat-radio-group [(ngModel)]="type" *ngIf="primaryType=='CC_0'" class="cc">
                <div *ngIf="isAllowedLicense('CC_0')">
                  <mat-radio-button value="CC_0">
                    <h4>{{'WORKSPACE.LICENSE.CC0.CC0' | translate}}</h4>
                    <h5 innerHTML="{{'WORKSPACE.LICENSE.CC0.CC0_INFO' | translate}}"></h5>
                    <h5><a class="focus-underline" [href]="getLicenseUrlVersion('CC_0')" target="_blank">{{'WORKSPACE.LICENSE.MORE' | translate}}</a></h5>
                  </mat-radio-button>
                </div>
                <div *ngIf="isAllowedLicense('PDM')">
                  <mat-radio-button value="PDM">
                    <h4>{{'WORKSPACE.LICENSE.CC0.PDM' | translate}}</h4>
                    <h5>{{'WORKSPACE.LICENSE.CC0.PDM_INFO' | translate}}</h5>
                    <h5><a class="focus-underline" [href]="getLicenseUrlVersion('PDM')" target="_blank">{{'WORKSPACE.LICENSE.MORE' | translate}}</a></h5>
                  </mat-radio-button>
                </div>
              </mat-radio-group>
              <div *ngIf="primaryType=='EDU'" class="edu">
                <div class="radio">
                  <input type="radio" [(ngModel)]="eduType" value="P_NR" id="P_NR">
                  <label for="P_NR">
                    <h4>{{'WORKSPACE.LICENSE.EDU.P_NR' | translate}}</h4>
                    <h5>{{'WORKSPACE.LICENSE.EDU.P_NR_INFO' | translate}}</h5>
                  </label>
                </div>
                <div class="radio">
                  <input type="radio" [(ngModel)]="eduType" value="NC" id="NC">
                  <label for="NC">
                    <h4>{{'WORKSPACE.LICENSE.EDU.NC' | translate}}</h4>
                    <h5>{{'WORKSPACE.LICENSE.EDU.NC_INFO' | translate}}</h5>
                  </label>
                </div>
                <input type="checkbox" class="filled-in" [(ngModel)]="eduDownload" id="DOWNLOAD"><label for="DOWNLOAD">{{'WORKSPACE.LICENSE.EDU.DOWNLOAD' | translate}}</label>

              </div>
              <div *ngIf="primaryType=='CUSTOM'" class="custom">
                 <textarea matInput
                           cdkTextareaAutosize
                           [(ngModel)]="rightsDescription"
                           cdkAutosizeMinRows="2"
                           cdkAutosizeMaxRows="5"></textarea>
              </div>
          </div>
        <div *ngIf="showCcAuthor">
          <div class="ccAuthorGroup" [class.ccAuthorGroupOer]="oerMode">
            <mat-form-field>
              <mat-label>{{'WORKSPACE.LICENSE.CC.TITLE_OF_WORK' | translate}}</mat-label>
              <input matInput id="CC_TITLE" [(ngModel)]="ccTitleOfWork">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'WORKSPACE.LICENSE.CC.SOURCE_URL' | translate}}</mat-label>
              <input matInput id="CC_URL" [(ngModel)]="ccSourceUrl">
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{'WORKSPACE.LICENSE.CC.PROFILE_URL' | translate}}</mat-label>
              <input matInput id="CC_PROFILE" [(ngModel)]="ccProfileUrl">
            </mat-form-field>
          </div>
        </div>
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="authorTab">
          <mat-tab label="{{'MDS.AUTHOR_FREETEXT' | translate}}">
            <mat-form-field class="authorFreetext">
              <mat-label>{{'MDS.AUTHOR_FREETEXT_PLACEHOLDER' | translate}}</mat-label>
              <textarea matInput
              cdkTextareaAutosize
              id="authorFreetext" [(ngModel)]="authorFreetext"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </mat-tab>
          <mat-tab label="{{'MDS.AUTHOR_PERSON' | translate}}">
            <div class="vcard authorPerson">
              <div class="vcardGroup">
                <!-- <i icon iconId="person"></i> -->
                <mat-form-field>
                  <mat-label>{{'VCARD.Givenname' | translate}}</mat-label>
                  <input matInput class="vcard_Givenname vcardFirstInput" id="firstName" [(ngModel)]="authorVCard.givenname">
                </mat-form-field>
              </div>
              <div class="vcardGroup">
                <mat-form-field>
                  <mat-label>{{'VCARD.Surname' | translate}}</mat-label>
                  <input matInput class="vcard_Surname" id="lastName" [(ngModel)]="authorVCard.surname">
                </mat-form-field>
              </div>
            </div>
            <button class="contributors" mat-button color="primary" (click)="openContributorDialog()" class="contributors" *ngIf="_nodes && _nodes.length==1 && !ui.isMobile()">
              {{'MDS.CONTRIBUTOR_LINK' | translate}} <i icon iconId="arrow_forward"></i>
            </button>
          </mat-tab>
        </mat-tab-group>
          <div class="currentLicense">
          <h4  *ngIf="type!='MULTI'">{{'WORKSPACE.LICENSE.CURRENT' | translate}}</h4>
          <img *ngIf="type!='MULTI'" class="currentLicenseIcon" src="{{getLicenseIcon()}}">
          <div *ngIf="type=='CC_BY' && ccVersion!='4.0'" class="licenseLocale">
            <label for="version">{{'WORKSPACE.LICENSE.LOCALE' | translate}}</label>
            <select id="localeLanguage" [(ngModel)]="ccLocale">
              <option value="">{{'LANGUAGE.INTERNATIONAL' | translate}}</option>
              <option *ngFor="let option of ccLocales" value="{{option}}">{{'LANGUAGE.'+option | translate}}</option>
            </select>
          </div>
          <div *ngIf="type=='CC_BY'" class="licenseVersion">
            <label for="version">{{'WORKSPACE.LICENSE.VERSION' | translate}}</label>
            <select id="version" [(ngModel)]="ccVersion">
              <option value="2.0">2.0</option>
              <option value="3.0">3.0</option>
              <option value="4.0">4.0</option>
            </select>
          </div>
            <div class="licenseName">
          <h4>{{getLicenseName()}}</h4>
              <div class="oerStatus" *ngIf="getLicenseProperty()!='MULTI'">
                <span class="oer" *ngIf="isOerLicense()">{{'WORKSPACE.LICENSE.OER' | translate }}</span>
                <span class="notOer" *ngIf="!isOerLicense()">{{'WORKSPACE.LICENSE.NOT_OER' | translate }}</span>
              </div>
            </div>
          <div class="currentLicenseDescription">
            <div class="customLicenseDescription" *ngIf="type=='CUSTOM'">{{rightsDescription}}</div>
            <div *ngIf="primaryType!='CUSTOM' && primaryType!='COPYRIGHT'" innerHTML="{{ 'LICENSE.DESCRIPTION.'+primaryType | translate }}">
            </div>
            <div *ngIf="primaryType=='COPYRIGHT'">
              <div innerHTML="{{ 'LICENSE.DESCRIPTION.'+copyrightType | translate}}"></div>
            </div>
            <div *ngIf="primaryType=='CC_BY'">
              <div *ngIf="ccShare">
                {{ 'LICENSE.DESCRIPTION.CC_SHARE_'+ccShare | translate}}
              </div>
              <div *ngIf="ccCommercial">
                {{ 'LICENSE.DESCRIPTION.CC_COMMERCIAL_'+ccCommercial | translate}}
              </div>
              <div *ngIf="ccVersion!='4.0'">
                {{ 'WORKSPACE.LICENSE.LOCALE' | translate:{locale:ccLocale} }} {{'LANGUAGE.'+(ccLocale ? ccLocale : 'INTERNATIONAL') | translate}}.
              </div>
            </div>
            <div *ngIf="primaryType=='CC_BY' || primaryType=='CC_0'" class="licenseUrl">
              <a [href]="getLicenseUrl()" target="_blank">{{'WORKSPACE.LICENSE.MORE' | translate}}</a>
            </div>
          </div>
        </div>
        <div class="licenseCheckbox">
          <div class="switch-release" *ngIf="_nodes">
            <mat-checkbox class="strong" [disabled]="!allowRelease" [(ngModel)]="release" [(indeterminate)]="releaseIndeterminate" (change)="changeRelease($event)">
              {{'WORKSPACE.LICENSE.RELEASE'+(_nodes.length>1 ? '_MULTI' : '') | translate:{count:_nodes.length} }}
            </mat-checkbox>
            <div class="doi" *ngIf="allowDOI()">
              <mat-checkbox [disabled]="doiDisabled" [(ngModel)]="doiActive" id="doi">
                <div class="strong">{{'WORKSPACE.SHARE.DOI' | translate}}</div>
                <div>{{'WORKSPACE.SHARE.DOI_INFO' | translate}}</div>
              </mat-checkbox>
            </div>
          </div>
          <mat-checkbox [(ngModel)]="contact" [(indeterminate)]="contactIndeterminate">{{'WORKSPACE.LICENSE.CONTACT' | translate}}</mat-checkbox>
        </div>
      </div>
</card>