<!-- TODO: remove remaining h4 and h5 headings (misused as labels) -->
<es-card
  title="{{ 'WORKSPACE.LICENSE.TITLE' | translate }}"
  [priority]="priority"
  [node]="getNodes()"
  width="large"
  height="xlarge"
  [buttons]="embedded ? null : buttons"
  [header]="!embedded"
  [isCancelable]="!embedded"
  (onCancel)="cancel()"
>
  <es-spinner *ngIf="loading"></es-spinner>
  <div *ngIf="(getNodes() || _properties) && !loading" class="license-content">
    <mat-slide-toggle class="oerSelect switch toggle-reverse" [(ngModel)]="oerMode">{{
      'WORKSPACE.LICENSE.ONLY_OER' | translate
    }}</mat-slide-toggle>
    <mat-radio-group class="oerLicenses" [(ngModel)]="type" name="oerLicenses" *ngIf="oerMode">
      <fieldset>
        <legend>{{ 'LICENSE.GROUPS.CC_0' | translate }}</legend>
        <div class="oerCC0">
          <div *ngIf="isAllowedLicense('CC_0')">
            <mat-radio-button value="CC_0">
              <es-multi-line-label>
                <ng-container slot="label">
                  {{ 'WORKSPACE.LICENSE.CC0.CC0' | translate }}
                </ng-container>
                <ng-container slot="description">
                  <span innerHTML="{{ 'WORKSPACE.LICENSE.CC0.CC0_INFO' | translate }}"></span>
                </ng-container>
              </es-multi-line-label>
            </mat-radio-button>
            <div class="more-information-link">
              <a class="focus-underline" [href]="getLicenseUrlVersion('CC_0')" target="_blank">{{
                'WORKSPACE.LICENSE.MORE' | translate
              }}</a>
            </div>
          </div>
          <div *ngIf="isAllowedLicense('PDM')">
            <mat-radio-button value="PDM">
              <es-multi-line-label>
                <ng-container slot="label">
                  {{ 'WORKSPACE.LICENSE.CC0.PDM' | translate }}
                </ng-container>
                <ng-container slot="description">
                  {{ 'WORKSPACE.LICENSE.CC0.PDM_INFO' | translate }}
                </ng-container>
              </es-multi-line-label>
            </mat-radio-button>
            <div class="more-information-link">
              <a class="focus-underline" [href]="getLicenseUrlVersion('PDM')" target="_blank">{{
                'WORKSPACE.LICENSE.MORE' | translate
              }}</a>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>{{ 'LICENSE.GROUPS.CC_BY' | translate }}</legend>
        <div class="oerCCBY">
          <div *ngIf="isAllowedLicense('CC_BY')">
            <mat-radio-button value="CC_BY" id="CC_BY">
              <es-multi-line-label>
                <ng-container slot="label">
                  {{ 'WORKSPACE.LICENSE.CC.CC_BY_RADIO' | translate }}
                </ng-container>
                <ng-container slot="description">
                  {{ 'WORKSPACE.LICENSE.CC.CC_BY_INFO' | translate }}
                </ng-container>
              </es-multi-line-label>
            </mat-radio-button>
            <div class="more-information-link">
              <a class="focus-underline" [href]="getLicenseUrlVersion('CC_BY')" target="_blank">{{
                'WORKSPACE.LICENSE.MORE' | translate
              }}</a>
            </div>
          </div>
          <div *ngIf="isAllowedLicense('CC_BY_SA')">
            <mat-radio-button value="CC_BY_SA" id="CC_BY_SA">
              <es-multi-line-label>
                <ng-container slot="label">
                  {{ 'WORKSPACE.LICENSE.CC.CC_BY_SA_RADIO' | translate }}
                </ng-container>
                <ng-container slot="description">
                  {{ 'WORKSPACE.LICENSE.CC.CC_BY_SA_INFO' | translate }}
                </ng-container>
              </es-multi-line-label>
            </mat-radio-button>
            <div class="more-information-link">
              <a
                class="focus-underline"
                [href]="getLicenseUrlVersion('CC_BY_SA')"
                target="_blank"
                >{{ 'WORKSPACE.LICENSE.MORE' | translate }}</a
              >
            </div>
          </div>
        </div>
      </fieldset>
    </mat-radio-group>
    <div class="allLicenses" *ngIf="!oerMode">
      <mat-form-field class="licenseType">
        <mat-label>{{ 'WORKSPACE.LICENSE.TYPE' | translate }}</mat-label>
        <mat-select #selectLicense id="type" type="text" [(ngModel)]="primaryType">
          <mat-option *ngFor="let license of licenseMainTypes" [value]="license">{{
            'LICENSE.GROUPS.' + license | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="primaryType === 'CC_BY'" class="cc">
        <h5 class="ccAbout">
          <a class="focus-underline" [href]="getLicenseUrlVersion('CC_BY_ABOUT')" target="_blank">{{
            'WORKSPACE.LICENSE.CC.ABOUT' | translate
          }}</a>
        </h5>
        <div *ngIf="isAllowedLicense('CC_BY_SA') || isAllowedLicense('CC_BY_ND')">
          <h4>{{ 'WORKSPACE.LICENSE.CC.SHARE' | translate }}</h4>
          <h5>{{ 'WORKSPACE.LICENSE.CC.SHARE_INFO' | translate }}</h5>
          <mat-radio-group [(ngModel)]="ccShare">
            <mat-radio-button value="">{{ 'YES' | translate }}</mat-radio-button>
            <mat-radio-button *ngIf="isAllowedLicense('CC_BY_SA')" value="SA">{{
              'WORKSPACE.LICENSE.CC.YES_ALIKE' | translate
            }}</mat-radio-button>
            <mat-radio-button *ngIf="isAllowedLicense('CC_BY_ND')" value="ND">{{
              'NO' | translate
            }}</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="isAllowedLicense('CC_BY_NC')">
          <h4>{{ 'WORKSPACE.LICENSE.CC.COMMERCIAL' | translate }}</h4>
          <h5>{{ 'WORKSPACE.LICENSE.CC.COMMERCIAL_INFO' | translate }}</h5>
          <mat-radio-group [(ngModel)]="ccCommercial">
            <mat-radio-button value="">{{ 'YES' | translate }}</mat-radio-button>
            <mat-radio-button value="NC">{{ 'NO' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <mat-radio-group [(ngModel)]="type" *ngIf="primaryType === 'COPYRIGHT'" class="copyright">
        <div *ngIf="isAllowedLicense('COPYRIGHT_FREE')">
          <mat-radio-button value="COPYRIGHT_FREE">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'WORKSPACE.LICENSE.COPYRIGHT.FREE' | translate }}
              </ng-container>
              <ng-container slot="description">
                <span innerHTML="{{ 'WORKSPACE.LICENSE.COPYRIGHT.FREE_INFO' | translate }}"></span>
              </ng-container>
            </es-multi-line-label>
          </mat-radio-button>
        </div>
        <div *ngIf="isAllowedLicense('COPYRIGHT_LICENSE')">
          <mat-radio-button value="COPYRIGHT_LICENSE">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'WORKSPACE.LICENSE.COPYRIGHT.LICENSE' | translate }}
              </ng-container>
              <ng-container slot="description">
                {{ 'WORKSPACE.LICENSE.COPYRIGHT.LICENSE_INFO' | translate }}
              </ng-container>
            </es-multi-line-label>
          </mat-radio-button>
        </div>
      </mat-radio-group>
      <mat-radio-group [(ngModel)]="type" *ngIf="primaryType === 'CC_0'" class="cc">
        <div *ngIf="isAllowedLicense('CC_0')">
          <mat-radio-button value="CC_0">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'WORKSPACE.LICENSE.CC0.CC0' | translate }}
              </ng-container>
              <ng-container slot="description">
                <span [innerHTML]="'WORKSPACE.LICENSE.CC0.CC0_INFO' | translate"></span>
              </ng-container>
            </es-multi-line-label>
          </mat-radio-button>
          <div class="more-information-link">
            <a class="focus-underline" [href]="getLicenseUrlVersion('CC_0')" target="_blank">{{
              'WORKSPACE.LICENSE.MORE' | translate
            }}</a>
          </div>
        </div>
        <div *ngIf="isAllowedLicense('PDM')">
          <mat-radio-button value="PDM">
            <es-multi-line-label>
              <ng-container slot="label">
                {{ 'WORKSPACE.LICENSE.CC0.PDM' | translate }}
              </ng-container>
              <ng-container slot="description">
                {{ 'WORKSPACE.LICENSE.CC0.PDM_INFO' | translate }}
              </ng-container>
            </es-multi-line-label>
          </mat-radio-button>
          <div class="more-information-link">
            <a class="focus-underline" [href]="getLicenseUrlVersion('PDM')" target="_blank">{{
              'WORKSPACE.LICENSE.MORE' | translate
            }}</a>
          </div>
        </div>
      </mat-radio-group>
      <!--<div *ngIf="primaryType=='EDU'" class="edu">
                <div class="radio">
                  <input type="radio" [(ngModel)]="eduType" value="P_NR" id="P_NR">
                  <label for="P_NR">
                    <h4>{{'WORKSPACE.LICENSE.EDU.P_NR' | translate}}</h4>
                    <h5>{{'WORKSPACE.LICENSE.EDU.P_NR_INFO' | translate}}</h5>
                  </label>
                </div>
                <div class="radio">
                  <input type="radio" [(ngModel)]="eduType" value="NC" id="NC">
                  <label for="NC">
                    <h4>{{'WORKSPACE.LICENSE.EDU.NC' | translate}}</h4>
                    <h5>{{'WORKSPACE.LICENSE.EDU.NC_INFO' | translate}}</h5>
                  </label>
                </div>
                <input type="checkbox" class="filled-in" [(ngModel)]="eduDownload" id="DOWNLOAD"><label for="DOWNLOAD">{{'WORKSPACE.LICENSE.EDU.DOWNLOAD' | translate}}</label>

              </div>-->
      <div *ngIf="primaryType === 'CUSTOM'" class="custom">
        <mat-form-field>
          <mat-label>{{ 'LICENSE.GROUPS.CUSTOM' | translate }}</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            required
            [(ngModel)]="rightsDescription"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <es-mds-editor-widget-author
      #author
      [showContributorDialog]="!_properties"
    ></es-mds-editor-widget-author>
    <es-license-source
      class="cc-additional"
      *ngIf="isCCAttributableLicense()"
      [(ccTitleOfWork)]="ccTitleOfWork"
      [(ccSourceUrl)]="ccSourceUrl"
      [(ccProfileUrl)]="ccProfileUrl"
    ></es-license-source>
    <div class="currentLicense">
      <h4 *ngIf="type !== 'MULTI'">{{ 'WORKSPACE.LICENSE.CURRENT' | translate }}</h4>
      <img *ngIf="type !== 'MULTI'" class="currentLicenseIcon" src="{{ getLicenseIcon() }}" />
      <div class="license-additional-data" *ngIf="type === 'CC_BY' || type === 'CC_BY_SA'">
        <div *ngIf="ccVersion != '4.0'" class="licenseLocale">
          <mat-form-field>
            <mat-label>{{ 'WORKSPACE.LICENSE.LOCALE' | translate }}</mat-label>
            <mat-select id="localeCountry" [(ngModel)]="ccCountry">
              <mat-option value="">{{ 'COUNTRY_CODE.INTERNATIONAL' | translate }}</mat-option>
              <mat-option *ngFor="let country of _ccCountries" value="{{ country.key }}">{{
                country.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="licenseVersion">
          <mat-form-field>
            <mat-label>{{ 'WORKSPACE.LICENSE.VERSION' | translate }}</mat-label>
            <mat-select id="version" [(ngModel)]="ccVersion">
              <mat-option value="2.0">2.0</mat-option>
              <mat-option value="3.0">3.0</mat-option>
              <mat-option value="4.0">4.0</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="licenseName">
        <h4>{{ getLicenseName() }}</h4>
        <div class="oerStatus" *ngIf="getLicenseProperty() !== 'MULTI'">
          <span class="oer" *ngIf="isOerLicense()">{{ 'WORKSPACE.LICENSE.OER' | translate }}</span>
          <span class="notOer" *ngIf="!isOerLicense()">{{
            'WORKSPACE.LICENSE.NOT_OER' | translate
          }}</span>
        </div>
      </div>
      <div class="currentLicenseDescription">
        <div class="customLicenseDescription" *ngIf="primaryType === 'CUSTOM'">
          {{ rightsDescription }}
        </div>
        <div
          *ngIf="primaryType !== 'CUSTOM' && primaryType !== 'COPYRIGHT'"
          innerHTML="{{ 'LICENSE.DESCRIPTION.' + primaryType | translate }}"
        ></div>
        <div *ngIf="primaryType === 'COPYRIGHT'">
          <div innerHTML="{{ 'LICENSE.DESCRIPTION.' + copyrightType | translate }}"></div>
        </div>
        <div *ngIf="primaryType === 'CC_BY'">
          <div *ngIf="ccShare">
            {{ 'LICENSE.DESCRIPTION.CC_SHARE_' + ccShare | translate }}
          </div>
          <div *ngIf="ccCommercial">
            {{ 'LICENSE.DESCRIPTION.CC_COMMERCIAL_' + ccCommercial | translate }}
          </div>
          <div *ngIf="ccVersion != '4.0'">
            {{ 'WORKSPACE.LICENSE.LOCALE' | translate: { locale: ccCountry } }}
            {{
              'COUNTRY_CODE.' + (ccCountry ? ccCountry : 'INTERNATIONAL') | uppercase | translate
            }}.
          </div>
        </div>
        <div *ngIf="primaryType === 'CC_BY' || primaryType === 'CC_0'" class="licenseUrl">
          <a [href]="getLicenseUrl()" target="_blank">{{ 'WORKSPACE.LICENSE.MORE' | translate }}</a>
        </div>
      </div>
    </div>
    <!--
        <div class="licenseCheckbox">
          <div class="switch-release" *ngIf="getNodes()">
            <mat-checkbox class="strong" [disabled]="!allowRelease" [(ngModel)]="release" [(indeterminate)]="releaseIndeterminate" (ngModelChange)="changeRelease($event)">
              {{'WORKSPACE.LICENSE.RELEASE'+(getNodes().length>1 ? '_MULTI' : '') | translate:{count:getNodes().length} }}
            </mat-checkbox>
            <div class="doi" *ngIf="allowDOI()">
              <mat-checkbox [disabled]="doiDisabled" [(ngModel)]="doiActive" id="doi">
                <div class="strong">{{'WORKSPACE.SHARE.DOI' | translate}}</div>
                <div class="label-secondary">{{'WORKSPACE.SHARE.DOI_INFO' | translate}}</div>
              </mat-checkbox>
            </div>
          </div>
          <mat-checkbox [(ngModel)]="contact" [(indeterminate)]="contactIndeterminate">{{'WORKSPACE.LICENSE.CONTACT' | translate}}</mat-checkbox>
        </div>
        -->
  </div>
</es-card>
