@import "../../../core-ui-module/styles/variables";

.license-content{
  padding: $cardPadding;
  display: flex;
  flex-direction: column;
}
.card-content .cc label{
  width:100%;
}
.licenseType{
  width: 100%;
  margin:10px 0;
}
.custom{
  >mat-form-field{
    width: 100%;
  }
}
:host ::ng-deep {
  .license-content {
    .mat-tab-labels {
      background-color: #fff;
    }
    .mat-checkbox-layout{
      white-space: normal!important;
      align-items: baseline !important;
    }
  }
  .mat-card-content {
      h4 {
      font-weight: bold;
      font-size: 100%;
      margin: 1.6rem 0 1rem 0;
    }

    h5 {
      font-weight: normal;
      font-size: 90%;
      color: $textLight;
      margin: 0;
      line-height: 1.5;
    }
  }
}
::ng-deep {
    .mat-card-content {
        // prevent horizontal scrollbar
        overflow-x: hidden;
    }
}
.ccAuthor {
  font-weight: bold;
  margin: 10px 0;
}
.cc h5{
  padding-bottom:5px;
}
.currentLicense{
  text-align: center;
  background-color: $backgroundColor;
  padding: 10px 30px;
  margin: 0 -20px;
  h4{
    margin: 10px 0 20px 0;
  }
  width: calc(100% + 40px);
}
.licenseName{
  display: table;
  margin: auto;
  padding: 10px 0;
  h4,div{
    display: table-cell;
  }
}
.oerStatus{
  padding-left: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
  color:$textOnPrimary;
  .oer{
    background: #0b0;
  }
  .notOer{
    background: #F5A623;
  }
  .oer,.notOer{
    padding: 4px 12px;
    border-radius: 8px;
  }
}
.oerLicenses{
  width:100%;
  .ccAuthor{
    margin:5px 20px;
  }
}
mat-radio-button {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.more-information-link {
  margin-left: 48px;
  margin-top: -10px;
  margin-bottom: 20px;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  legend {
    font-weight: bold;
    margin-bottom: 1em;
    color: $textLight;
  }
}
h4{
  color:$textLight;
  font-weight: bold;
}
.oerSelect{
  float:right;
}
.licenseTypeLabel{
  width:100%;
}
.currentLicenseIcon{
  height:40px;
  width:auto;
}
.currentLicenseDescription{
  color: $textLight;
}
.customLicenseDescription{
  white-space: pre-line;
}
.currentLicenseDescription div{
  margin:0 10px;
}
.cc{
  mat-radio-group{
    display: flex;
    flex-direction: column;
    mat-radio-button{
      margin: 3px 0;
    }
  }
}
.cc .ccAbout{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.license-additional-data {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  >div{
    margin:0 10px;
  }
}
.licenseUrl{
  margin:10px!important;
  text-transform: uppercase;
}
.licenseCheckbox{
  padding-top:20px;
}
.licenseCheckbox label{
  width:100%;
}
.release, .strong{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.doi{
  margin:10px 0 10px 50px;
  display: flex;
  flex-direction: column;
  span{
    margin-left: 35px;
    margin-right: 10px;
  }
}
.authors {
    .mixed-authors {
        padding: 30px 20px;
        margin-bottom: 20px;
        background-color: $cardLightBackground;
        @include materialShadowBottom();
        > span {
            text-align: center;
            white-space: pre-line;
            &.title {
                font-weight: bold;
            }
        }
        > div {
            display: flex;
            justify-content: center;
        }
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-gap: 15px;
        width: 100%;
    }
}
