@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;

.sidebar-header {
    background-color: var(--roundedContainerBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 5px;
    height: var(--editorialHeaderHeight);
    > div {
        font-size: vars.$fontSizeXLarge;
        @include mixins.limitLineCount(1, 1.25);
        flex-grow: 1;
    }
}
::ng-deep {
    @media screen and (max-width: (vars.$mobileSidebarModal)) {
        .mat-drawer-transition .mat-drawer-content,
        .mat-drawer-transition .mat-drawer {
            transition: none !important;
        }
    }
}
:host {
    --editorialHeaderHeight: 88px;
    @media screen and (max-width: (vars.$mobileSidebarModal)) {
        position: fixed;
        z-index: vars.$dialogZIndex - 10;
        left: var(--roundedContainerMargin);
        top: calc(var(--mainnavCurrentHeight) + var(--roundedContainerMargin));
        right: var(--roundedContainerMargin);
        --editorialSidebarHeight: calc(
            100vh - #{vars.$mobileTabNavHeight} - var(--mainnavCurrentHeight) - var(
                    --roundedContainerMargin
                ) * 2
        );
        height: var(--editorialSidebarHeight);
        //bottom: calc(#{vars.$mobileTabNavHeight} + var(--roundedContainerMargin));
        isolation: isolate;
        border-radius: var(--borderRadiusCards);
        overflow: hidden;
        &::after {
            isolation: isolate;
            position: fixed;
            z-index: -1;
            content: '';
            background: vars.$darkenColor;
            inset: 0;
        }
    }
}
.option-show {
    animation: slide-fade 1s;
}
.sidebar-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .loading {
        border-radius: var(--borderRadiusCards);
        @include mixins.blurBackground(3px, 0.5);
        @include mixins.overlay();
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.sidebar-container {
    background-color: var(--roundedContainerBackground);
    overflow-x: hidden;
    overflow-y: auto;
    height: 0;
    flex-grow: 1;
    position: relative;
}
.option {
    padding: 0 20px;
    height: 100%;
    &.option-WORKSPACE_METADATA,
    &.option-PREVIEW,
    &.option-SORT_INTO,
    &.option-MANAGE_SUBMISSION {
        // has own padding cause of tabs
        padding: 0;
    }

    &.option-SORT_INTO {
        // set full height
        height: 100%;
    }
    &.option-PREVIEW,
    &.option-MANAGE_SUBMISSION {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}
.entries {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > es-info-message {
        margin: 10px 20px;
        .message {
            white-space: pre-line;
        }
    }
    .entry {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        //color: var(--primary);
        gap: 20px;
        &.cdk-keyboard-focused {
            @include mixins.setGlobalKeyboardFocus('border');
        }
        &:not(.disabled) {
            @include mixins.clickable();
        }
        &.disabled {
            pointer-events: none;
            opacity: 0.75;
        }
        &:hover {
            background-color: var(--primaryBackground50);
        }
        .icon {
            font-size: 30px;
        }
        .text {
            flex-grow: 1;
            .title {
                @include mixins.limitLineCount(1, 1.25);
                word-break: break-all;
                font-size: vars.$fontSizeXLarge;
                font-weight: bold;
                margin-bottom: 6px;
            }
            .description {
                @include mixins.limitLineCount(2, 1.25);
                color: var(--textLight);
                font-size: var(--fontSizeXSmall);
            }
        }
        .navigate {
        }
    }
}

@keyframes slide-fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
