@import "../../styles/variables";

.block {
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 15px 20px;
  color: #674E04;
  &.warning{
    background-color: lighten($warningMedium,50%);
    border: 1px solid $warningMedium;
  }
  &.info{
    background-color: lighten($primary,50%);
    border: 1px solid $primary;
  }
  >div:first-child{
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  > .text {
    white-space: pre-line;
  }
  > .link {
    color: $primary;
    text-transform: uppercase;
  }
}
