@import "../../../../../styles/variables.scss";


.container{
  display: flex;
  >div {
    display: flex;
    overflow: hidden;
    padding: 1px 0;
    align-items: center;
  }
}
.publish{
  padding: 0 5px;
}
.container{
  width:100%;
}
.readOnly{
  color: $textLight;
}
.permission{
  justify-content: flex-end;
  >div{
    display: flex;
    justify-content: flex-end;
    padding:0 5px;
    >div{
      display:flex;
      align-items: center;
      span{
        padding-left:3px;
      }
    }
  }
}
.icon{
  padding-right:5px;
}
.name{
  flex-grow: 1;
  @include shortenText();
}
.typeAdd{
  position:absolute;
  right: 20px;
  width: 280px!important;
  top: 160px;
}
.select{
  width:25px;
  display: inline-block;
  padding:0 2px;
  i{
    position: relative;
    top:3px;
  }
}
.icon,.remove{
  min-width: 24px;
}
.remove i,.type{
  color:$textLight;
}
@media screen and (max-width: $mobileWidth) {
  .permission >div >div span{
    display: none;
  }
}