@import '../../../core-ui-module/styles/variables';

.content-container {
    @media (min-width: $mobileWidth) {
        display: flex;
        height: 100%;
    }
}

.preview-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.preview {
    line-height: 0;
}

.preferences-container {
    flex-shrink: 0;
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    // width: 350px;
    overflow: auto;
}

.not-public-warning-message {
    margin-top: 0;
}

.preferences-form {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.size-fields-container {
    display: flex;
    gap: 10px;
}

.size-field {
    flex-grow: 1;
    & ::ng-deep .mat-form-field-infix {
        width: unset;
    }
}

.version-radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1.4375em; // Same as mat form field
}

.embed-code-field {
    font-family: monospace;
}
