<es-card
  [title]="'OPTIONS.EMBED' | translate"
  [node]="config.node"
  [buttons]="buttons"
  height="large"
  width="xxxlarge"
  (onCancel)="config.onClose()"
>
  <div class="content-container">
    <div class="preview-container">
      <div class="preview" [innerHTML]="embedCode | safeHtml"></div>
    </div>
    <div class="preferences-container">
      <es-info-message *ngIf="showNotPublicWarning" mode="warning">
        <p class="not-public-warning-message">{{ 'EMBED.NOT_PUBLIC_WARNING' | translate }}</p>
        <div>
          <button mat-button (click)="openInviteDialog()">
            <i esIcon="arrow_forward"></i>
            {{ 'OPTIONS.INVITE' | translate }}
          </button>
        </div>
      </es-info-message>
      <div class="not-public-warning-container"></div>
      <mat-form-field class="embed-code-field" appearance="fill">
        <!-- <mat-label>{{ 'EMBED.CODE_LABEL' | translate }}</mat-label> -->
        <textarea
          #textarea
          matInput
          [readonly]="true"
          [attr.aria-label]="'EMBED.CODE_LABEL' | translate"
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="10"
          (focus)="textarea.select()"
          [disabled]="!form.valid"
          >{{ embedCode }}</textarea
        >
      </mat-form-field>
      <form class="preferences-form" [formGroup]="form">
        <mat-radio-group
          class="version-radio-group"
          [attr.aria-label]="'EMBED.VERSION' | translate"
          formControlName="version"
        >
          <mat-radio-button value="fixed">{{
            'EMBED.VERSION_OPTION.FIXED' | translate
          }}</mat-radio-button>
          <mat-radio-button value="newest">{{
            'EMBED.VERSION_OPTION.NEWEST' | translate
          }}</mat-radio-button>
        </mat-radio-group>
        <div class="size-fields-container">
          <mat-form-field class="size-field">
            <mat-label>{{ 'EMBED.WIDTH' | translate }}</mat-label>
            <input
              matInput
              type="number"
              formControlName="width"
              [min]="sizeConstraints.width.min"
              [max]="sizeConstraints.width.max"
            />
            <mat-error>
              {{ 'EMBED.SIZE_CONSTRAINTS_ERROR_NOTICE' | translate: sizeConstraints.width }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="size-field">
            <mat-label>{{ 'EMBED.HEIGHT' | translate }}</mat-label>
            <input
              matInput
              type="number"
              formControlName="height"
              [min]="sizeConstraints.height.min"
              [max]="sizeConstraints.height.max"
            />
            <mat-error>
              {{ 'EMBED.SIZE_CONSTRAINTS_ERROR_NOTICE' | translate: sizeConstraints.height }}
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</es-card>
