@import '../../../../../core-ui-module/styles/variables';

mat-form-field {
    width: 100%;
}
.mat-chip-label {
    @include limitLineLength(200px);
}

.input-wrapper {
    display: flex;
    flex-grow: 1;
    button {
        margin: -16px;
    }
}

.mat-select-arrow {
    // Use the button color which respects disabled state.
    color: unset;
}
.mat-chip-suggestion {
    mat-icon {
        line-height: normal;
    }
    color: $textLight;
    background: repeating-linear-gradient(-45deg, #f2f2f2, #f2f2f2 5px, #fff 5px, #fff 10px);
    .accept {
        color: $colorStatusPositive;
    }
    .decline {
        color: $colorStatusNegative;
    }
}
