@import '../../../../../core-ui-module/styles/variables';

mat-form-field {
    width: 100%;
}
.mat-chip-label {
    @include limitLineLength(200px);
}

.input-wrapper {
    display: flex;
    flex-grow: 1;
}

.mat-select-arrow {
    // Use the button color which respects disabled state.
    color: unset;
}
