$expandToggleWidthThreshold: 400px;

.extended-toggle-container {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #f7f7f7;
    @media only screen and (min-width: $expandToggleWidthThreshold) {
        z-index: 11;
        height: 0;
        background-color: unset;
    }
}

.extended-toggle {
    padding-right: 10px;
    height: 45px;
}
