<div class="avatarOuter size_{{size}}">
  <div class="avatarCircle" style.border-color="{{ user | authorityColor}}" [class.clickable]="link" (click)="link ? openProfile() : null">
    <div *ngIf="_customImage">
      <img [src]="_customImage" class="userImage" alt="user image">
    </div>
    <div *ngIf="!_customImage">
      <img *ngIf="user && user.profile && user.profile.avatar" [src]="user.profile.avatar+'&crop=true&width=200&height=200'" class="userImage" alt="">
      <div class="user-letter"
           style.background-color="{{ user | authorityColor}}"
           *ngIf="user && !(user.profile && user.profile.avatar)">{{getLetter(user)}}</div>
      <i class="user-icon" icon [iconId]="icon" style.background-color="{{ user | authorityColor}}"></i>
    </div>
  </div>
  <img *ngIf="isEditorialUser()" class="editorial-badge" src="assets/images/editorial-badge.svg" alt="">
</div>
