<div class="avatarOuter size_{{size}}">
  <div class="avatarCircle" [class.clickable]="link" (click)="link ? openProfile() : null">
    <div *ngIf="_customImage">
      <img [src]="_customImage" class="userImage" alt="user image">
    </div>
    <div *ngIf="!_customImage">
      <img *ngIf="user.profile && user.profile.avatar" [src]="user.profile.avatar+'&crop=true&width=200&height=200'" class="userImage" alt="">
      <!-- <img *ngIf="!(profile && profile.avatar)" src="assets/images/user-profile.svg">-->
      <svg alt="" style.background="linear-gradient(to bottom,#F3F3F3,{{ user | authorityColor}})"
           *ngIf="!(user.profile && user.profile.avatar)" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-{{id}}">
            <stop stop-color="#F3F3F3" offset="0%"></stop>
            <!--<stop stop-color="#999999" offset="100%"></stop>-->
            <stop attr.stop-color="{{ user | authorityColor}}" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" *ngIf="user.authorityType=='USER'">
          <g id="ic_person_black_24px">
            <rect id="Rectangle-12" attr.fill="url(#linearGradient-{{id}})" x="0" y="0" width="200" height="200"></rect>
            <path d="M100,122 C115.47,122 128,109.69375 128,94.5 C128,79.30625 115.47,67 100,67 C84.53,67 72,79.30625 72,94.5 C72,109.69375 84.53,122 100,122 Z M99.5,136 C80.976875,136 44,145.38 44,164 L44,200 L155,200 L155,164 C155,145.38 118.023125,136 99.5,136 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
          </g>
        </g>
        <g *ngIf="user.authorityType=='GROUP'">
          <rect id="Rectangle-12" attr.fill="url(#linearGradient-{{id}})" x="0" y="0" width="200" height="200"></rect>
          <g transform="matrix(8.18997,0,0,8.18997,1.72038,44.4844)">
            <path d="M16,11C17.66,11 18.99,9.66 18.99,8C18.99,6.34 17.66,5 16,5C14.34,5 13,6.34 13,8C13,9.66 14.34,11 16,11ZM8,11C9.66,11 10.99,9.66 10.99,8C10.99,6.34 9.66,5 8,5C6.34,5 5,6.34 5,8C5,9.66 6.34,11 8,11ZM8,13C5.67,13 1,14.17 1,16.5L1,19L15,19L15,16.5C15,14.17 10.33,13 8,13ZM16,13C15.71,13 15.38,13.02 15.03,13.05C16.19,13.89 17,15.02 17,16.5L17,19L23,19L23,16.5C23,14.17 18.33,13 16,13Z" style="fill:white;fill-rule:nonzero;"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <img *ngIf="isEditorialUser()" class="editorial-badge" src="assets/images/editorial-badge.svg" alt="">
</div>
