<es-mds-editor-widget-container
  #container
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="formControl"
  [wrapInFormField]="false"
>
  @if (formControl) { @if (!isToggle()) {
  <mat-checkbox
    [class.mat-mdc-checkbox-indeterminate]="isIndeterminate"
    [(indeterminate)]="isIndeterminate"
    [formControl]="formControl"
    [aria-describedby]="container.descriptionId"
    (indeterminateChange)="onIndeterminateChange($event)"
  >
    {{ widget.definition.caption }}
  </mat-checkbox>
  } @else {
  <mat-slide-toggle
    color="primary"
    [formControl]="formControl"
    [aria-describedby]="container.descriptionId"
  >
    {{ widget.definition.caption }}
  </mat-slide-toggle>
  } }
</es-mds-editor-widget-container>
