@import '../../core-ui-module/styles/variables';

@mixin addToCollectionBanner {
    display: block;
    margin-top: 1.5rem;
}

@mixin entriesWrapper {
    display: block;
    margin-top: 1.5rem;
}

@mixin titleContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    h2 {
        flex-grow: 1;
        margin: 1rem 0;
    }
    .small-progress-spinner {
        margin-left: 12px;
    }
}

@mixin noSearchResultsMessage {
    color: $noResultsColor;
    text-align: center;
    padding: 30px 0;
    font-size: 120%;
    i {
        font-size: 60px;
        width: 100%;
    }
}
