<div
  class="filter-bar-container mat-elevation-z3"
  [hidden]="!filterBarIsVisible.getValue() || (isMobileScreen | async)"
>
  <div class="filter-bar-heading">
    <h2 class="filter-bar-title">{{ 'SEARCH.FILTERS' | translate }}</h2>
    <button
      *ngIf="searchFilters.getUserValue()"
      mat-button
      (click)="searchFilters.setUserValue(null)"
    >
      <i esIcon="undo"></i>
      {{ 'CLEAR_FILTERS' | translate }}
    </button>
    <button
      class="filter-bar-close-button"
      mat-icon-button
      (click)="filterBarIsVisible.setUserValue(false)"
    >
      <i esIcon="close" [aria]="true"></i>
    </button>
  </div>
  <div class="filter-bar-body">
    <es-search-page-filter-bar
      *ngIf="(showingAllRepositories | async) === false"
    ></es-search-page-filter-bar>
  </div>
</div>

<ng-template #filtersDialogContent>
  <es-search-page-filter-bar class="filters-dialog-content"></es-search-page-filter-bar>
</ng-template>

<ng-template #filtersDialogResetButton>
  <button
    *ngIf="searchFilters.getUserValue()"
    mat-button
    (click)="searchFilters.setUserValue(null)"
  >
    <i esIcon="undo"></i>
    {{ 'CLEAR_FILTERS' | translate }}
  </button>
</ng-template>
