<mat-progress-bar
  mode="determinate"
  [value]="progressBarIsVisible ? loadingProgress.value : 0"
  [@fadeOut]="progressBarIsVisible ? 'visible' : 'hidden'"
  (animationEnd)="onProgressBarAnimationEnd()"
></mat-progress-bar>

<ng-container *ngIf="tabBarIsVisible; else tabBody">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let repository of availableRepositories.getValue()"
      (click)="activeRepository.setUserValue(repository.id)"
      [active]="repository.id === activeRepository.getValue()"
    >
      <div class="repository-icon">
        <img [src]="repository | repositoryIcon" alt="" />
      </div>
      {{ repository.title }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <ng-container *ngTemplateOutlet="tabBody"></ng-container>
  </mat-tab-nav-panel>
</ng-container>

<ng-template #tabBody>
  <mat-drawer-container #filterBar>
    <mat-drawer [opened]="filterBarIsVisible.getValue()" mode="side">
      <es-search-page-filter-bar></es-search-page-filter-bar>
    </mat-drawer>
    <main>
      <!-- We cannot use *ngIf on node-entries-wrapper since it depends on its input variables to
      initialize data fetching. -->
      <es-node-entries-wrapper
        [class.display-none]="collectionsDataSource.isEmpty()"
        class="entries-wrapper"
        [dataSource]="collectionsDataSource"
        [scope]="Scope.SearchCollections"
        [columns]="collectionColumns.value"
        [disableInfiniteScroll]="true"
        [displayType]="NodeEntriesDisplayType.SmallGrid"
        [gridConfig]="{ layout: 'scroll' }"
      >
        <ng-template #title>
          <div class="title-container">
            <h2 class="mat-heading-2">{{ 'SEARCH.COLLECTIONS' | translate }}</h2>
          </div>
        </ng-template>
      </es-node-entries-wrapper>
      <es-node-entries-wrapper
        #nodeEntriesResults
        class="entries-wrapper"
        [dataSource]="resultsDataSource"
        [scope]="Scope.Search"
        [columns]="resultColumns.value"
        [sort]="sortConfig | async"
        [primaryInstance]="true"
      >
        <ng-template #title>
          <div class="title-container">
            <h2 class="mat-heading-2">{{ 'SEARCH.MATERIALS' | translate }}</h2>
          </div>
        </ng-template>
        <ng-template #empty>
          <div class="no-search-results-message">
            <i esIcon="search"></i>
            {{ 'SEARCH.QUERY_NO_RESULT' | translate }}
          </div>
        </ng-template>
      </es-node-entries-wrapper>
    </main>
  </mat-drawer-container>
</ng-template>
