<mat-form-field appearance="fill" *ngIf="(availableMetadataSets | async)?.length > 1">
  <mat-label>{{ 'SEARCH.METADATASET' | translate }}</mat-label>
  <mat-select [formControl]="activeMdsForm">
    <mat-option *ngFor="let mds of availableMetadataSets | async" [value]="mds.id">
      {{ mds.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<!-- 
    [class.display-none]="currentRepository === '-all-'"
    [(extended)]="mdsExtended"
 -->

<es-mds-editor-wrapper
  *ngIf="mdsParams"
  class="mds-editor"
  groupId="ngsearch"
  [repository]="mdsParams.repository"
  [setId]="mdsParams.setId"
  [embedded]="true"
  mode="search"
  [currentValues]="searchFilterValues"
>
</es-mds-editor-wrapper>

<button
  *ngIf="savedSearchesButtonIsVisible"
  mat-fab
  class="saved-searches-button"
  color="primary"
  [matTooltip]="'SEARCH.SAVED_SEARCHES.TITLE' | translate"
  (click)="openSavedSearchesDialog()"
>
  <mat-icon>bookmark</mat-icon>
</button>

<!-- <mat-menu #savedSearchesMenu="matMenu">
  <button mat-menu-item *ngIf="reUrl.value" (click)="embedCurrentSearch()">
    <mat-icon>redo</mat-icon>
    <span>{{ 'SEARCH.EMBED_SEARCH_ACTION' | translate }}</span>
  </button>
  <button
    mat-menu-item
    *ngIf="!reUrl.value && !currentSavedSearch"
    (click)="openSaveSearchDialog()"
  >
    <mat-icon>save</mat-icon>
    <span>{{ 'SEARCH.SAVED_CURRENT_SEARCH' | translate }}</span>
  </button>
  <ng-container *ngIf="savedSearches | async as savedSearches">
    <button mat-menu-item *ngIf="savedSearches.length > 0" (click)="goToSavedSearches()">
      <mat-icon>folder</mat-icon>
      <span>{{ 'SEARCH.MANAGE_SAVED_SEARCH' | translate }}</span>
    </button>
    <button
      mat-menu-item
      *ngFor="let savedSearch of savedSearches"
      [disabled]="savedSearch === currentSavedSearch"
      [class.current-saved-search-entry]="savedSearch === currentSavedSearch"
      (click)="applySavedSearch(savedSearch)"
    >
      <mat-icon>search</mat-icon>
      <span>{{ savedSearch.title }}</span>
    </button>
  </ng-container>
</mat-menu> -->
