<button
  *ngIf="savedSearchesButtonIsVisible"
  mat-stroked-button
  color="primary"
  class="saved-searches-button"
  [matTooltip]="'SEARCH.SAVED_SEARCHES.TITLE' | translate"
  (click)="openSavedSearchesDialog()"
>
  <i esIcon="bookmark_outline"></i>
  {{ 'SEARCH.SAVED_SEARCHES.TITLE' | translate }}
</button>

<mat-form-field appearance="fill" *ngIf="(availableMetadataSets | async)?.length > 1">
  <mat-label>{{ 'SEARCH.METADATASET' | translate }}</mat-label>
  <mat-select [formControl]="activeMdsForm">
    <mat-option *ngFor="let mds of availableMetadataSets | async" [value]="mds.id">
      {{ mds.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<es-mds-editor-wrapper
  *ngIf="mdsParams"
  class="mds-editor"
  groupId="ngsearch"
  [repository]="mdsParams.repository"
  [setId]="mdsParams.setId"
  [embedded]="true"
  mode="search"
  [currentValues]="searchFilterValues"
>
</es-mds-editor-wrapper>
