@if (savedSearchesButtonIsVisible) {
<button
  mat-stroked-button
  color="primary"
  class="saved-searches-button"
  [matTooltip]="'SEARCH.SAVED_SEARCHES.TITLE' | translate"
  (click)="openSavedSearchesDialog()"
>
  <i esIcon="bookmark"></i>
  {{ 'SEARCH.SAVED_SEARCHES.TITLE' | translate }}
</button>
} @if ((availableMetadataSets | async)?.length > 1) {
<mat-form-field appearance="fill">
  <mat-label>{{ 'SEARCH.METADATASET' | translate }}</mat-label>
  <mat-select [formControl]="activeMdsForm">
    @for (mds of availableMetadataSets | async; track mds) {
    <mat-option [value]="mds.id">
      {{ mds.name }}
    </mat-option>
    }
  </mat-select>
</mat-form-field>
} @if (mdsParams) {
<es-mds-editor-wrapper
  class="mds-editor"
  groupId="ngsearch"
  [repository]="mdsParams.repository"
  [setId]="mdsParams.setId"
  [embedded]="true"
  mode="search"
  [currentValues]="searchFilterValues"
  [externalFilters]="mdsExternalFilters"
>
</es-mds-editor-wrapper>
}

<ng-container *ngTemplateOutlet="customTemplates.value.filterBarBottom"></ng-container>
