<es-card title="{{'SIGNUP_GROUP.TITLE' | translate }}"
      subtitle="{{'SIGNUP_GROUP.SUBTITLE' | translate }}" width="small" height="large"
      icon="group_add"
      [buttons]="buttons"
      (onCancel)="onCancel.emit()"
>
    <div *ngIf="dialogStep === STEP.selectGroup" class="select-group">
        <h5 class="mat-heading-5">{{'SIGNUP_GROUP.SELECT_GROUP' | translate}}</h5>
        <es-spinner *ngIf="groupsLoading"></es-spinner>
        <ng-container *ngIf="!groupsLoading">
            <button
                    mat-button
                    *ngFor="let g of groups"
                    (click)="select(g)"
                    [class.selected]="g===group"
                    [class.is-member]="isMemberOf(g)"
            >
        <es-authority-row
                [authority]="g"
                [secondaryTitle]="(isMemberOf(g) ? 'SIGNUP_GROUP.ALREADY_MEMBER' : ('SIGNUP_GROUP.SIGNUP_TYPE.' + g.signupMethod)) | translate"
        ></es-authority-row>
            </button>
        </ng-container>
        <h4 class="mat-heading-4"
            *ngIf="!groupsLoading && !groups?.length"
        >{{'SIGNUP_GROUP.NO_GROUPS' | translate}}</h4>
    </div>
    <div *ngIf="dialogStep === STEP.confirmGroup" class="confirm-group card-content-padding">
        <h5 class="mat-heading-5">{{'SIGNUP_GROUP.CONFIRM_GROUP' | translate}}</h5>
        <h4 class="mat-heading-4">{{ group | authorityName}}</h4>
        <es-info-message
            mode="info"
            message="{{'SIGNUP_GROUP.DESCRIPTION.' + group.signupMethod | translate}}"
        ></es-info-message>
        <es-input-password *ngIf="group.signupMethod === 'password'"
                        [(value)]="password"
                        label="{{'SIGNUP_GROUP.GROUP_PASSWORD' | translate}}"
                        autocomplete="new-password"
                        (valueChange)="updateButtons()"></es-input-password>
    </div>
</es-card>

