<div [class.display-none]="isInHiddenState()">
  <button
    id="{{ view.id }}_header"
    *ngIf="view.isExtended"
    (click)="toggleShow()"
    class="heading-container toggle-button"
    [attr.aria-expanded]="isExpanded"
  >
    <ng-container *ngTemplateOutlet="heading"></ng-container>
  </button>
  <div class="heading-container" id="{{ view.id }}_header" *ngIf="!view.isExtended">
    <ng-container *ngTemplateOutlet="heading"></ng-container>
  </div>
  <div
    [@expandContent]="isExpanded ? 'expanded' : 'collapsed'"
    (@expandContent.done)="onDoneExpandContent()"
  >
    <div class="content" #container [innerHTML]="html"></div>
  </div>
</div>

<ng-template #heading>
  <h3 *ngIf="view.caption" class="heading">
    <i [esIcon]="view.icon" class="header-icon"></i>
    <span class="heading-caption">{{ view.caption }}</span>
    <i
      class="toggle-icon"
      [class.toggle-icon-expanded]="isExpanded"
      *ngIf="view.isExtended"
      [aria]="false"
      [esIcon]="'keyboard_arrow_down'"
    ></i>
  </h3>
</ng-template>
