@import '../../../../core-ui-module/styles/variables';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    &.hidden {
        visibility: hidden;
        height: 0;
        margin: 0;
        overflow: hidden;
    }
}
h3 {
    display: flex;
    align-items: center;
    background-color: $workspaceMetadataBackground;
    border-bottom: 1px solid #999;
    font-weight: bold;
    height: 40px;
    padding: 5px 10px;
    font-size: 110%;
    > span {
        flex-grow: 1;
    }
    > i {
        top: 0;
        color: #666;
        margin-right: 10px;
    }
    > button {
        border-radius: 50%;
        color: #666;
        height: 40px;
        width: 40px;
        min-width: 40px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all $transitionNormal;
    padding: var(--mds-content-padding, 0);
    &.content-hidden {
        overflow: hidden;
        margin: 0;
        height: 0;
        opacity: 0;
    }
}
