<div [class.display-none]="isInHiddenState()">
  <h3 *ngIf="view.caption" id="{{ view.id }}_header" class="heading">
    <i [esIcon]="view.icon"></i>
    <span>{{ view.caption }}</span>
    <button
      *ngIf="view.isExtended"
      mat-button
      (click)="toggleShow()"
      [attr.aria-label]="'MDS.OPEN_CLOSE_EXTENDED' | translate"
    >
      <i [aria]="false" [esIcon]="'keyboard_arrow_' + (isExpanded ? 'up' : 'down')"></i>
    </button>
  </h3>
  <div
    class="content"
    #container
    [class.content-hidden]="!isExpanded"
    [innerHTML]="html"
    [@openOverlay]="isExpanded"
  ></div>
