@import '../../../../core-ui-module/styles/variables';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    &.hidden {
        visibility: hidden;
        height: 0;
        margin: 0;
        overflow: hidden;
    }
}

.heading {
    display: flex;
    align-items: center;
    background-color: $workspaceMetadataBackground;
    border-bottom: 1px solid #999;
    font-weight: bold;
    height: 40px;
    padding: 5px 10px;
    font-size: 110%;
    .heading-caption {
        flex-grow: 1;
        text-align: start;
    }
    .header-icon {
        color: #666;
        margin-right: 10px;
    }
    .toggle-icon {
        color: #666;
        width: 40px;
        transition: transform 0.2s ease;
        &.toggle-icon-expanded {
            transform: rotate(180deg);
        }
    }
}

.toggle-button {
    border: none;
    width: 100%;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all $transitionNormal;
    padding: var(--mds-content-padding, 0);
    &.content-hidden {
        overflow: hidden;
        margin: 0;
        height: 0;
        opacity: 0;
        // padding-top: 0;
        // padding-bottom: 5px;
    }
}
