:host {
    display: block;
    // We must not create a scrolling context here with `overflow: hidden`, otherwise sticky section
    // headings will break. Therefore, we inject padding sizes via variables to adjust negative
    // margins on ripple effects accordingly and prevent horizontal scroll bars.
    //
    // An alternative would be to use `overflow-x: clip` when it is supported by Safari.
    padding: 0 var(--mds-editor-horizontal-padding, 0);
    ::ng-deep {
        // fix multi-line bottom hints
        .mat-mdc-form-field-hint-wrapper,
        .mat-mdc-form-field-error-wrapper {
            position: relative;
            margin-top: -20px;
        }
    }
}
$toggleHeight: 39px;
.extended-toggle-container {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px $toggleHeight + 10px 20px;
    height: $toggleHeight;
}
.mds-views {
    &.mds-views-has-extended {
        margin-top: -$toggleHeight;
    }
}
.ai-info {
    position: sticky;
    display: flex;
    width: 100%;
    padding: 10px 20px;
    color: var(--aiColorText);
    background-color: var(--aiColor);
    gap: 20px;
    > div {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .title {
            font-weight: bold;
        }
    }
    es-spinner-small {
        --mdc-circular-progress-active-indicator-color: var(--aiColorText);
        margin-left: 10px;
        display: flex;
    }
    mat-slide-toggle {
        display: flex;
        --textLight: var(--aiColorText);
        --mdc-switch-selected-track-color: color-mix(in srgb, var(--aiColor), #fff 55%);
        --mdc-switch-selected-focus-track-color: color-mix(in srgb, var(--aiColor), #fff 55%);
        --mdc-switch-selected-hover-track-color: color-mix(in srgb, var(--aiColor), #fff 55%);
        --mdc-switch-selected-pressed-track-color: color-mix(in srgb, var(--aiColor), #fff 55%);
        --mdc-switch-unselected-handle-color: var(--aiColorText);
        --mdc-switch-unselected-focus-handle-color: var(--aiColorText);
        --mdc-switch-unselected-hover-handle-color: var(--aiColorText);
        --mdc-switch-unselected-pressed-handle-color: var(--aiColorText);
        --mdc-switch-unselected-icon-color: var(--aiColor);
        --mdc-switch-selected-handle-color: var(--aiColorText);
        --mdc-switch-selected-focus-handle-color: var(--aiColorText);
        --mdc-switch-selected-hover-handle-color: var(--aiColorText);
        --mdc-switch-selected-pressed-handle-color: var(--aiColorText);
        --mdc-switch-selected-icon-color: var(--aiColor);
    }
}
