@if (mdsEditorInstance.hasAi | async) {
<div class="ai-info">
  <div>
    <div class="title">{{ 'MDS.AI.GENERATE_ALL_TITLE' | translate }}</div>
    <div class="details">{{ 'MDS.AI.GENERATE_ALL_INFO' | translate }}</div>
  </div>
  <mat-slide-toggle
    color="primary"
    (change)="setAiSuggestions($event)"
    [disabled]="mdsEditorInstance.aiLoading | async"
  >
    @if (mdsEditorInstance.aiLoading | async) {
    <es-spinner-small></es-spinner-small>
    }
    <!--{{ 'MDS.AI.GENERATE_ALL_BUTTON' | translate }}-->
  </mat-slide-toggle>
</div>
} @if (hasExtendedWidgets$ | async) {
<div class="extended-toggle-container">
  <mat-slide-toggle
    class="extended-toggle"
    [ngModel]="shouldShowExtendedWidgets$ | async"
    (ngModelChange)="shouldShowExtendedWidgets$.next($event)"
    >{{
      'MDS.SHOW_EXTENDED_' +
        (editorMode === 'search'
          ? 'SEARCH'
          : (shouldShowExtendedWidgets$ | async)
          ? 'TRUE'
          : 'FALSE') | translate
    }}</mat-slide-toggle
  >
</div>
}
<div class="mds-views" [class.mds-views-has-extended]="hasExtendedWidgets$ | async">
  @for (view of views; track view) {
  <es-mds-editor-view
    #view
    class="mds-editor-view-{{ view.id }}"
    [view]="view"
    [core]="this"
  ></es-mds-editor-view>
  } @for (view of suggestionsViews; track view) {
  <es-mds-editor-view [view]="view" [core]="this"></es-mds-editor-view>
  }
</div>
