:host {
    display: block;
    // We must not create a scrolling context here with `overflow: hidden`, otherwise sticky section
    // headings will break. Therefore, we inject padding sizes via variables to adjust negative
    // margins on ripple effects accordingly and prevent horizontal scroll bars.
    //
    // An alternative would be to use `overflow-x: clip` when it is supported by Safari.
    padding: 0 var(--mds-editor-horizontal-padding, 0);
    ::ng-deep {
        // fix multi-line bottom hints
        .mat-mdc-form-field-hint-wrapper,
        .mat-mdc-form-field-error-wrapper {
            position: relative;
            margin-top: -20px;
        }
    }
}

.ai-info {
    position: sticky;
    display: flex;
    width: 100%;
    padding: 10px 20px;
    color: var(--aiColorText);
    background-color: var(--aiColor);
    gap: 10px;
    > div {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        .title {
            font-weight: bold;
        }
    }
    button {
        background-color: #fff;
        color: var(--aiColor);
        &:focus {
            background-color: #fff;
        }
        &:disabled {
            background-color: rgba(255, 255, 255, 0.9);
        }
    }
}
