<div class="extended-toggle-container">
  <mat-slide-toggle
    *ngIf="hasExtendedWidgets$ | async"
    class="extended-toggle"
    [ngModel]="shouldShowExtendedWidgets$ | async"
    (ngModelChange)="shouldShowExtendedWidgets$.next($event)"
    >{{
      'MDS.SHOW_EXTENDED_' +
        (editorMode === 'search'
          ? 'SEARCH'
          : (shouldShowExtendedWidgets$ | async)
          ? 'TRUE'
          : 'FALSE') | translate
    }}</mat-slide-toggle
  >
</div>
<es-mds-editor-view
  #view
  *ngFor="let view of views"
  class="mds-editor-view-{{ view.id }}"
  [view]="view"
  [core]="this"
></es-mds-editor-view>
<es-mds-editor-view
  *ngFor="let view of suggestionsViews"
  [view]="view"
  [core]="this"
></es-mds-editor-view>
