<div class="card-dialog dialog darken">
  <mat-card class="modal-card width-{{width}} height-{{height}}" [class.card-tabbed]="tabbed" [@cardAnimation]="this">
    <mat-card-header>
      <div *ngIf="avatar" class="avatar" mat-card-avatar><img [src]="avatar" alt=""></div>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
      <button mat-button *ngIf="isCancelable" (click)="cancel()"><i icon iconId="close"></i></button>
    </mat-card-header>
    <mat-card-content><ng-content></ng-content></mat-card-content>
    <mat-card-actions>
      <div *ngFor="let button of _buttons">
        <button *ngIf="button.type==1" mat-flat-button color="primary" [disabled]="button.disabled" (click)="button.callback()">{{button.name | translate}}</button>
        <button *ngIf="button.type==2" mat-button color="primary" [disabled]="button.disabled" (click)="button.callback()">{{button.name | translate}}</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>