@import "../../../../styles/variables.scss";

$titleHeight:70px;
$actionMenuHeight:60px;
$tabHeight:48px;

$height-normal:500px;
$height-large:600px;
$height-xlarge:700px;
$height-xxlarge:800px;

@mixin content{
  overflow-y: auto;
  @include iosScrolling();
  background-color: #fff;
}
:host /deep/ .card-dialog{
  display: flex;
  z-index: $dialogZIndex+1;
  align-items: center;
  justify-content: center;
  .modal-card{
    max-width: 100%;
    @include materialShadowLarge();
    .mat-card-header{
      background-color: $actionDialogBackground;
      display: flex;
      align-items: center;
      height:$titleHeight;
      padding-top: 15px;
      position: relative;
      >button{
        position: absolute;
        right:0;
        top:0;
        padding:16px;
      }
      .avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 17px;
        margin-top: -10px;
        background-color: #fff;
        >img{
          width:26px;
          height:26px;
        }
      }
    }
    background-color: $backgroundColor;
    border-radius: 2px;
    mat-card-actions{
      $height: $actionMenuHeight;
      background-color: #fff;
      display: flex;
      height: $actionMenuHeight;
      justify-content: flex-end;
      margin: 0;
      padding: 10px 20px;
      button{
        margin:0 5px;
      }
    }
    mat-card-content{
      margin: 0;
      position: relative;
    }
    &.width-small{
      width:500px;
    }
    &.width-normal{
      width:600px;
    }
    &:not(.card-tabbed) {
      mat-card-content{
        max-height: calc(100vh - #{$titleHeight} - #{$actionMenuHeight});
        @include content();
      }
      &.height-normal mat-card-content {
        height: $height-normal - $titleHeight - $actionMenuHeight;
      }
      &.height-large mat-card-content {
        height: $height-large - $titleHeight - $actionMenuHeight;
      }
      &.height-xlarge mat-card-content {
        height: $height-xlarge - $titleHeight - $actionMenuHeight;
      }
      &.height-xxlarge mat-card-content {
        height: $height-xxlarge - $titleHeight - $actionMenuHeight;
      }
      &.height-auto mat-card-content {
        height: auto;
      }
    }
    &.card-tabbed{
      .mat-tab-body-wrapper{
        max-height: calc(100vh - #{$titleHeight} - #{$actionMenuHeight} - #{$tabHeight});
        @include content();
      }
      &.height-normal .mat-tab-body-wrapper{
        height: $height-normal - $titleHeight - $actionMenuHeight - $tabHeight;
      }
      &.height-large .mat-tab-body-wrapper{
        height: $height-large - $titleHeight - $actionMenuHeight - $tabHeight;
      }
      &.height-xlarge .mat-tab-body-wrapper{
        height: $height-xlarge - $titleHeight - $actionMenuHeight - $tabHeight;
      }
      &.height-xxlarge .mat-tab-body-wrapper{
        height: $height-xxlarge - $titleHeight - $actionMenuHeight - $tabHeight;
      }
    }
  }
}