<div class="chat" *ngIf="rocketChat._data" [class.opened]="rocketChat.opened" [class.fullscreen]="fullscreen">
    <div class="bar" [class.unread]="rocketChat.unread">
        <div class="title">{{'ROCKETCHAT.TITLE' | translate}} <span *ngIf="rocketChat.unread">({{rocketChat.unread}})</span></div>
        <div class="options">
            <mat-spinner *ngIf="!loaded" diameter="20"></mat-spinner>
            <button mat-button *ngIf="loaded && rocketChat.opened" class="toggle-fullscreen clickable" (click)="fullscreen=!fullscreen"><i [esIcon]="fullscreen ? 'fullscreen_exit' : 'fullscreen'"></i></button>
            <button mat-button *ngIf="loaded && rocketChat.opened" class="toggle-close clickable" (click)="rocketChat.opened=!rocketChat.opened;rocketChat.unread=0"><i esIcon="close"></i></button>
            <button mat-button *ngIf="loaded && !fullscreen" class="toggle-open clickable" (click)="rocketChat.opened=!rocketChat.opened;rocketChat.unread=0"><i [esIcon]="rocketChat.opened ? 'remove' : 'launch'"></i></button>
        </div>
    </div>
    <iframe #frame [src]="src" [class.opened]="rocketChat.opened"></iframe>
</div>
