<es-mds-editor-widget-container
  #container
  [injectedView]="this"
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="chipsControl"
  [wrapInFormField]="false"
>
  <div class="input-wrapper">
    <es-authority-search-input
      #authoritySearchInputComponent
      [label]="widget.definition.caption"
      [placeholder]="widget.definition.placeholder"
      [globalSearchAllowed]="globalSearchAllowed"
      [showRecent]="false"
      (onChooseAuthority)="add($event)"
    ></es-authority-search-input>
  </div>
  <mat-chip-list
    #chipList
    [formControl]="chipsControl"
    *ngIf="chipsControl"
    [attr.aria-labelledby]="container.labelId"
  >
    <mat-chip
      *ngFor="let value of chipsControl.value"
      [selectable]="false"
      [removable]="true"
      (click)="add(value)"
      (removed)="remove(value)"
      [class.indeterminate]="(indeterminateValues$ | async)?.includes(value.key)"
      esCheckTextOverflow=".mat-chip-label"
      #text="esCheckTextOverflow"
      [matTooltip]="getTooltip(value, text.hasTextOverflow())"
    >
      <span class="mat-chip-label">{{ value.label }}</span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</es-mds-editor-widget-container>

<!-- Load styles for mat-select-arrow. -->
<mat-select hidden style="display: none"></mat-select>
