<rs-root
  *ngIf="request() && node()"
  [node]="node()"
  [request]="request()"
  [serviceWorkerUrl]="serviceWorkerUrl"
  [activateServiceWorker]="activateServiceWorker"
  [assetUrl]="assetUrl"
  [isWebComponent]="true"
>
</rs-root>
<div class="inline-metadata" *ngIf="display_mode === 'inline' && node()">
  <div>
    <a [href]="resourceUrl" [target]="targetBlank ? '_blank' : '_self'">{{
      node().title || node().name
    }}</a>
    {{ 'RENDERING.AUTHORED_BY' | translate }} {{ getAuthors() }}
    <ng-container *ngIf="node().license as license">
      <ng-container *ngIf="license.url; else noLink">
        <a [href]="license.url" target="_blank" rel="noopener">
          <img class="license-img" [src]="license.icon" alt="License icon" />
        </a>
      </ng-container>
      <ng-template #noLink>
        <img class="license-img" [src]="license.icon" alt="License icon" />
      </ng-template>
    </ng-container>
  </div>
  <button
    mat-icon-button
    color="primary"
    (click)="showInlineMetadata = !showInlineMetadata"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <i esIcon="info"></i>
  </button>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="showInlineMetadata"
    [cdkConnectedOverlayMinWidth]="350"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'mds-inline-backdrop'"
    [cdkConnectedOverlayHeight]="overlayHeight"
    [cdkConnectedOverlayPush]="false"
    [cdkConnectedOverlayPositions]="[
    {
      originX: 'end',
      originY: 'top',
      overlayX: 'end',
      overlayY: 'bottom',
    },
  ]"
    (backdropClick)="showInlineMetadata = false"
    (detach)="showInlineMetadata = false"
  >
    <div class="inline-metadata-panel">
      <es-mds-viewer groupId="io_render_inline" [data]="node().properties!!"></es-mds-viewer>
    </div>
  </ng-template>
</div>
<!-- <rs-module-pdf #pdf></rs-module-pdf> -->
