@if (request() && node()) {
<rs-root
  [node]="node()"
  [request]="request()"
  [serviceWorkerUrl]="serviceWorkerUrl"
  [activateServiceWorker]="activateServiceWorker"
  [assetUrl]="assetUrl"
  [isWebComponent]="true"
>
</rs-root>
} @if (display_mode === 'inline' && node()) {
<div class="inline-metadata">
  <div>
    <a [href]="resourceUrl" [target]="targetBlank ? '_blank' : '_self'">{{
      node().title || node().name
    }}</a>
    {{ 'RENDERING.AUTHORED_BY' | translate }} {{ getAuthors() }}
    @if (node().license; as license) { @if (license.url) {
    <a [href]="license.url" target="_blank" rel="noopener">
      <img class="license-img" [src]="license.icon" alt="License icon" />
    </a>
    } @else {
    <img class="license-img" [src]="license.icon" alt="License icon" />
    } }
  </div>
  <button
    mat-icon-button
    color="primary"
    (click)="showInlineMetadata = !showInlineMetadata"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <i esIcon="info"></i>
  </button>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="showInlineMetadata"
    [cdkConnectedOverlayMinWidth]="350"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayBackdropClass]="'mds-inline-backdrop'"
    [cdkConnectedOverlayHeight]="300"
    [cdkConnectedOverlayPositions]="[
    {
      originX: 'start',
      originY: 'bottom',
      overlayX: 'start',
      overlayY: 'top',
    },
  ]"
    (backdropClick)="showInlineMetadata = false"
    (detach)="showInlineMetadata = false"
  >
    <div class="inline-metadata-panel">
      <es-mds-viewer groupId="io_render_inline" [data]="node().properties!!"></es-mds-viewer>
    </div>
  </ng-template>
</div>
}
<!-- <rs-module-pdf #pdf></rs-module-pdf> -->
