<div *ngIf="!disabled">
  <main-nav #mainNav
            [title]="'PERMISSIONS.TITLE'"
            [currentScope]="'permissions'"
            [searchEnabled]="tab!=3"
            [searchQuery]="searchQuery"
            [searchPlaceholder]="'PERMISSIONS.SEARCH_'+TABS[tab]"
            (onSearch)="doSearch($event.query)"
  ></main-nav>
  <mat-tab-group mat-stretch-tabs color="dark" [selectedIndex]="tab" (selectedIndexChange)="setTab($event)">
    <mat-tab label="{{'PERMISSIONS.TAB.ORG' | translate}}">
      <permissions-authorities
              [mode]="'ORG'"
              [searchQuery]="searchQuery"
              [selected]="selectedOrg"
              (onSelection)="selectedOrg=$event[0]"
      ></permissions-authorities>
    </mat-tab>
    <mat-tab label="{{'PERMISSIONS.TAB.GROUP' | translate}}{{selectedOrg? ' ('+selectedOrg.profile.displayName+')' : ''}}" *ngIf="selectedOrg || isAdmin">
      <permissions-authorities
              [mode]="'GROUP'"
              [searchQuery]="searchQuery"
              [org]="selectedOrg"
              (onDeselectOrg)="selectedOrg=null"
              (setTab)="setTab($event)"
      ></permissions-authorities>
    </mat-tab>
    <mat-tab label="{{'PERMISSIONS.TAB.USER' | translate}}{{selectedOrg? ' ('+selectedOrg.profile.displayName+')' : ''}}" *ngIf="selectedOrg || isAdmin">
      <permissions-authorities
              [mode]="'USER'"
              [searchQuery]="searchQuery"
              [org]="selectedOrg"
              (onDeselectOrg)="selectedOrg=null"
              (setTab)="setTab($event)"
      ></permissions-authorities>
    </mat-tab>
    <mat-tab label="{{'PERMISSIONS.TAB.DELETE' | translate}}" *ngIf="!selectedOrg && isAdmin">
      <permissions-delete></permissions-delete>
    </mat-tab>
  </mat-tab-group>
</div>
