<ng-container *ngIf="!disabled || isAdmin">
  <es-main-nav #mainNav
            [title]="'PERMISSIONS.TITLE'"
            [currentScope]="'permissions'"
            [searchEnabled]="tab!=3"
            [searchQuery]="searchQuery"
            [searchPlaceholder]="'PERMISSIONS.SEARCH_'+TABS[tab]"
            (onSearch)="doSearch($event.query)"
  ></es-main-nav>
  <div
    role="main"
    appSkipTarget="MAIN_CONTENT"
  >
    <h1 appTitle class="cdk-visually-hidden">{{ 'PERMISSIONS.TITLE' | translate }}</h1>
    <mat-tab-group
      *ngIf="!isLoading"
      mat-stretch-tabs
      [color]="$any('dark')"
      [selectedIndex]="tab"
      (selectedIndexChange)="setTab($event)"
    >
      <mat-tab label="{{'PERMISSIONS.TAB.ORG' | translate}}">
        <ng-template matTabContent>
          <es-permissions-authorities
                  [mainNav]="mainNav"
                  [mode]="'ORG'"
                  [searchQuery]="searchQuery"
                  [selected]="selected"
                  (onSelection)="selected=$event"
          ></es-permissions-authorities>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'PERMISSIONS.TAB.GROUP' | translate}}{{selected?.length ? ' ('+selected[0].profile.displayName+')' : ''}}" *ngIf="selected || isAdmin">
        <ng-template matTabContent>
          <es-permissions-authorities
                  [mainNav]="mainNav"
                  [mode]="'GROUP'"
                  [searchQuery]="searchQuery"
                  [org]="selected ? selected[0] : null"
                  (onDeselectOrg)="selected=null"
                  (setTab)="setTab($event)"
          ></es-permissions-authorities>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'PERMISSIONS.TAB.USER' | translate}}{{selected?.length ? ' ('+selected[0].profile.displayName+')' : ''}}" *ngIf="selected || isAdmin">
        <ng-template matTabContent>
          <es-permissions-authorities
                  [mainNav]="mainNav"
                  [mode]="'USER'"
                  [searchQuery]="searchQuery"
                  [org]="selected ? selected[0] : null"
                  (onDeselectOrg)="selected=null"
                  (setTab)="setTab($event)"
          ></es-permissions-authorities>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'PERMISSIONS.TAB.DELETE' | translate}}" *ngIf="!selected?.length && isAdmin">
        <es-permissions-delete></es-permissions-delete>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
