<div class="title">
  <div class="label">{{ title | translate }}</div>
  <button mat-button (click)="cancel()"><i esIcon="close"></i></button>
</div>
<div class="content" infinite-scroll [scrollWindow]="false" (scrolled)="loadLatest()">
  <ng-container
    *ngTemplateOutlet="beforeRecentRef; context: { $implicit: currentRoot }"
  ></ng-container>
  <div *ngIf="!currentRoot">
    <h5 class="mat-heading-5">{{ 'COLLECTION_CHOOSER.ADD_TO_RECENT_COLLECTION' | translate }}</h5>
    <div class="search">
      <form (ngSubmit)="loadLatest(true)" autocomplete="off">
        <mat-form-field floatLabel="always">
          <mat-label>{{ 'COLLECTION_CHOOSER.SEARCH_COLLECTIONS' | translate }}</mat-label>
          <i esIcon="search" matPrefix></i>
          <input
            matInput
            type="search"
            name="search"
            [(ngModel)]="searchQuery"
            placeholder="{{ 'COLLECTION_CHOOSER.SEARCH_COLLECTIONS' | translate }}"
          />
        </mat-form-field>
      </form>
    </div>
    <es-custom-node-list-wrapper
      *ngIf="isLoadingLatest || listLatest.length"
      [nodes]="listLatest.slice(0, showMore ? listLatest.length : 5)"
      [columns]="columns"
      [hasIcon]="true"
      [hasCheckbox]="false"
      [hasHeading]="false"
      [hasMore]="listLatest.length > 5 && !showMore"
      (loadMore)="showMore = true"
      [isClickable]="true"
      [viewType]="2"
      [isLoading]="isLoadingLatest"
      [validatePermissions]="hasWritePermissions"
      [sortBy]="sortBy"
      [sortAscending]="sortAscending"
      (onDrop)="drop($event)"
      (clickRow)="clickCollection($event.node)"
      (doubleClickRow)="clickCollection($event)"
    ></es-custom-node-list-wrapper>
    <h5 class="noElements" *ngIf="!isLoadingLatest && !listLatest.length && searchQuery == ''">
      {{ 'COLLECTION_CHOOSER.NO_RECENT_COLLECTIONS' | translate }}
    </h5>
    <h5 class="noElements" *ngIf="!isLoadingLatest && !listLatest.length && searchQuery != ''">
      {{ 'NO_MATCHES' | translate }}
    </h5>
  </div>
  <h5 class="mat-heading-5">{{ 'COLLECTION_CHOOSER.ADD_TO_MY_COLLECTION' | translate }}</h5>
  <div class="breadcrumbs" *ngIf="currentRoot">
    <button mat-button color="primary" (click)="navigateBack()"><i esIcon="arrow_back"></i></button>
    <h5 class="mat-heading-5">{{ currentRoot.title ? currentRoot.title : currentRoot.name }}</h5>
  </div>
  <es-custom-node-list-wrapper
    *ngIf="canCreate"
    [viewType]="2"
    [hasHeading]="false"
    [optionItems]="[createCollectionOptionItem]"
  ></es-custom-node-list-wrapper>
  <div class="list-my">
    <es-custom-node-list-wrapper
      *ngIf="isLoadingMy || listMy.length"
      [nodes]="listMy"
      [columns]="columns"
      [hasIcon]="true"
      [hasCheckbox]="false"
      [hasHeading]="false"
      [isClickable]="true"
      [viewType]="2"
      [isLoading]="isLoadingMy"
      [validatePermissions]="hasWritePermissions"
      [sortBy]="sortBy"
      [sortAscending]="sortAscending"
      (onDrop)="drop($event)"
      (clickRow)="goIntoCollection($event.node)"
      (doubleClickRow)="goIntoCollection($event)"
    >
      <ng-template #itemContent>
        <div class="go-into">
          <button mat-mini-fab [color]="$any('white')"><i esIcon="arrow_forward"></i></button>
        </div>
      </ng-template>
    </es-custom-node-list-wrapper>
    <h5 class="noElements" *ngIf="!isLoadingMy && !listMy.length && !currentRoot">
      {{ 'COLLECTION_CHOOSER.NO_PERSONAL_COLLECTIONS' | translate }}
    </h5>
    <h5 class="noElements" *ngIf="!isLoadingMy && !listMy.length && currentRoot">
      {{ 'COLLECTION_CHOOSER.NO_SUB_COLLECTIONS' | translate }}
    </h5>
  </div>
  <button
    *ngIf="currentRoot"
    class="add-to-personal"
    mat-raised-button
    color="primary"
    (click)="clickCollection(currentRoot)"
  >
    {{ 'COLLECTION_CHOOSER.ADD_TO_SELECTED_COLLECTION' | translate }}
  </button>
</div>
