@import '../../styles/variables';
.content {
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
    es-node-entries-wrapper {
        padding: 0 20px;
        display: block;
    }
}
.breadcrumbs {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    button {
        margin-left: 10px;
    }
}
.go-into {
    position: absolute;
    right: -6px;
    display: flex;
    height: 100%;
    align-items: center;
    z-index: 101;
    pointer-events: none;
    > button {
        color: $primary;
        background-color: #fff;
    }
}
.show-more {
    display: flex;
    margin: auto;
}
.no-permissions-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    > i {
        margin-bottom: 15px;
    }
}
.noElements {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: $textLight;
    font-size: 110%;
}
.mat-heading-5 {
    padding: 0 20px;
}
.list-my {
    padding-bottom: 15px;
}
.add-to-personal {
    margin: 0 20px 20px 20px;
}
.close {
    &:focus {
        @include focusShadow();
    }
}
.search {
    padding: 20px 20px 0 20px;
    mat-form-field {
        width: 100%;
        .mat-form-field-appearance-outline .mat-form-field-wrapper {
            margin: 0;
        }
    }
}
:host ::ng-deep {
    .cardSmallList > .item-container {
        width: $dialogRightWidth - 60px !important;
    }
    .cardContainer {
        padding: 0 15px !important;
    }
    .list .cardSmallList .rowFrame:hover {
        @include materialShadow($important: true);
        transform: unset !important;
    }
}
