<div class="config-page-variant-or-template" *ngIf="initialized(); else loadingSpinner">
  <es-info-message mode="error" class="info-message" *ngIf="!variableInputValid()">
    {{ i18nPrefix + (isDuplicate() ? 'DUPLICATE_WARN_TEXT' : 'WARN_TEXT') | translate }}
  </es-info-message>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>
      {{ dynamicI18nPrefix() + 'TITLE' | translate }}
    </mat-label>
    <input
      matInput
      type="text"
      [placeholder]="dynamicI18nPrefix() + 'TITLE_PLACEHOLDER' | translate"
      [(ngModel)]="titleInput"
    />
  </mat-form-field>

  <es-mds-editor-wrapper
    class="page-variant-config-editor"
    [currentValues]="currentValues"
    [editorMode]="'search'"
    [embedded]="true"
    groupId="topic_page_variant_configuration"
    mode="search"
    [repository]="mdsParams.repository"
    [setId]="mdsParams.setId"
    (currentValuesChange)="onCurrentValuesChange($event)"
  >
  </es-mds-editor-wrapper>

  <div class="configuration-buttons">
    <button
      *ngIf="deleteVariantEnabled()"
      mat-stroked-button
      class="btn-outline-primary"
      color="primary"
      (click)="deletePageVariant()"
    >
      <i esIcon="delete"></i>
      {{ dynamicI18nPrefix() + 'DELETE_VARIANT' | translate }}
    </button>
    <button
      *ngIf="templateUpdateAvailable()"
      mat-stroked-button
      [matTooltip]="i18nPrefix + 'TEMPLATE_UPDATE.TOOLTIP' | translate"
      class="btn-outline-primary"
      color="primary"
      (click)="triggerRegenerate()"
    >
      <i esIcon="refresh"></i>
      {{ i18nPrefix + 'REGENERATE_VARIANT' | translate }}
    </button>
    <div
      [matTooltip]="
        !variableInputValid()
          ? (i18nPrefix + (isDuplicate() ? 'DUPLICATE_PARAMETERS' : 'DEFINE_PARAMETERS')
            | translate)
          : null
      "
    >
      <button
        mat-flat-button
        color="primary"
        [disabled]="!variableInputValid()"
        (click)="applyChanges()"
      >
        {{ 'APPLY' | translate }}
      </button>
    </div>
  </div>
</div>
<ng-template #loadingSpinner>
  <es-spinner></es-spinner>
</ng-template>
