@use '../../topic-page-variables' as topicPageVars;

:host {
    display: block;
    min-width: 500px;
}

.config-page-variant-or-template {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 500px;
}

.info-message {
    display: block;
}

.page-variant-config-editor ::ng-deep {
    // add some padding to visually align the content
    padding-left: 4px;
    padding-right: 4px;

    // display containers next to each other
    .view-wrapper > div > .content {
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: space-between;
    }

    // modifications for the labels
    .header-container > label {
        margin-bottom: 4px !important;
        font-weight: topicPageVars.$font-weight-bold;
    }

    // reset different paddings to properly align widgets (radio buttons and checkboxes)
    es-mds-editor-core {
        mat-radio-group,
        .checkboxes-group {
            padding: 0;
        }
    }
    .widget-container .ripple-container ul li mat-checkbox {
        padding: 0;
    }
    .view-wrapper .content {
        padding: 0;
    }
    // remove margin-bottom from widget-container
    .widget-container:not(.read-only) {
        margin-bottom: 0;
    }
}

.configuration-buttons {
    padding: 0 4px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
}
