@import "../../../core-ui-module/styles/variables";

.noElementsInfo{
  >div.clickable{
    color: $primary;
    text-transform: uppercase;
    margin-top: 5px;
  }
}
::ng-deep {
    es-node-entries-card-grid {
        display: block;
        margin:10px 20px;
    }
    @media screen and (max-width: $mobileTabSwitchWidth) {
        .list > div {
            // keep space for scrolling to the very end
            margin-bottom: $mobileTabNavHeight;
        }
    }
}
