<!--<es-listTable #list
  [(nodes)]="node$.values"
  [parent]="node$.value"
  [columns]="columns"
  [hasIcon]="true"
  [customOptions]="customOptions"
  [hasCheckbox]="true"
  [hasHeading]="true"
  [viewType]="viewType"
  [isClickable]="true"
  [isLoading]="showLoading"
  [possibleSortByFields]="possibleSortByFields"
  [scrollWindow]="false"
  [hasMore]="hasMoreToLoad"
  [reorderColumns]="true"
  [preventKeyevents]="preventKeyevents"
  [totalCount]="totalCount"
  [reorderDialog]="reorderDialog"
  (reorderDialogChange)="reorderDialogChange.emit($event)"
  [sortBy]="sortBy"
  [dragDrop]="true"
  [selectOnClick]="true"
  [selectedNodes]="selection"
  [sortAscending]="sortAscending"
  (onDrop)="drop($event)"
  [canDrop]="canDrop"
  [mainNav]="mainNav"
  [actionbar]="actionbar"
  [scope]="SCOPES.WorkspaceList"
  [createLink]="false"
  (selectionChanged)="onSelection($event)"
  (sortListener)="setSorting($event)"
  (doubleClickRow)="doubleClick($event)"
  (openNode)="doubleClick($event)"
  (onViewNode)="onViewNode.emit($event)"
  (onInvalidateColumns)="initColumns()"
  (loadMore)="load(false)"></es-listTable>
  -->
<es-node-entries-wrapper
  [dataSource]="dataSource"
  [columns]="columns"
  [configureColumns]="true"
  (columnsChange)="saveColumns($event)"
  [displayType]="displayType"
  (displayTypeChange)="displayTypeChange.emit($event)"
  [elementInteractionType]="InteractionType.Emitter"
  (fetchData)="load(false)"
  [sort]="sort"
  [dragDrop]="{
    dragAllowed: true,
    dropAllowed: canDrop,
    dropped: drop
  }"
  [globalKeyboardShortcuts]="true"
  [singleClickHint]="'static'"
  (sortChange)="setSorting($event)"
  (clickItem)="clickItem($event)"
  (dblClickItem)="onOpenNode.emit($event.element)"
  (nodesDeleted)="onDelete($event.objects)"
  (virtualNodesAdded)="syncTreeView($event)"
>
  <ng-template #empty>
    <h5 class="noElementsInfo" *ngIf="searchQuery$.value == null || searchQuery$.value === ''">
      {{ 'WORKSPACE.NO_NODES_IN_FOLDER' | translate }}
    </h5>
    <h5 class="noElementsInfo" *ngIf="!(searchQuery$.value == null || searchQuery$.value === '')">
      <div *ngIf="node$.value">
        {{ 'WORKSPACE.NO_MATCHING_ITEMS_FOLDER' | translate: { name: node$.value.name } }}
      </div>
      <div *ngIf="node$.value" class="clickable" (click)="searchGlobal()">
        {{ 'WORKSPACE.SEARCH_GLOBAL' | translate }}
      </div>
      <div *ngIf="!node$.value">{{ 'WORKSPACE.NO_MATCHING_ITEMS' | translate }}</div>
    </h5>
  </ng-template>
</es-node-entries-wrapper>
