@import "../../../core-ui-module/styles/variables";

.noElementsInfo{
  position: absolute;
  top: 36px;
  >div.clickable{
    color: $primary;
    text-transform: uppercase;
    margin-top: 5px;
  }
}
::ng-deep {
    @media screen and (max-width: $mobileTabSwitchWidth) {
        .list > div {
            // keep space for scrolling to the very end
            margin-bottom: $mobileTabNavHeight;
        }
    }
}
