@import '../src/app/core-ui-module/styles/material-theme';
@import '../src/app/core-ui-module/styles/dialogs';
@import '../src/styles/globals.scss';
@import '../src/app/core-ui-module/styles/toast';
@import '../src/app/core-ui-module/styles/mds';
@import '../src/app/core-ui-module/styles/ng2-calendar';
@import '../src/styles/override.scss';
