<dropdown
    #dropdown
    class="addDesktopMenu"
    [options]="options"
    ></dropdown>
<workspace-add-folder *ngIf="addFolderName!=null"
                      [folder]="addFolderName"
                      [parent]="getParent()"
                      (onCancel)="addFolderName=null"
                      (onFolderAdded)="addFolder($event)"
></workspace-add-folder>
<workspace-management #management
        [parent]="getParent()"
        [(showUploadSelect)]="showUploadSelect"
        [uploadShowPicker]="showPicker"
        [(filesToUpload)]="filesToUpload"
        (onUploadFileSelected)="uploadFiles($event)"
        (onUploadFilesProcessed)="afterUpload($event)"
></workspace-management>
<workspace-create-connector *ngIf="createConnectorName!=null"
                            [name]="createConnectorName"
                            [connector]="createConnectorType"
                            (onCancel)="createConnectorName=null"
                            (onCreate)="createConnector($event)"
></workspace-create-connector>

<div *ngIf="!(cardHasOpenModals$ | async)" fileDrop [window]="true" (fileOver)="fileIsOver=$event" (onFileDrop)="onFileDrop($event)"></div>
<div class="dialog darken drop-zone" *ngIf="fileIsOver">
    <div>
        <i class="material-icons" *ngIf="allowed && !filesToUpload">cloud_upload</i>
        <i class="material-icons" *ngIf="!(allowed && !filesToUpload)">cloud_off</i>
        <p *ngIf="allowed">{{'WORKSPACE.DROP_FILES' |translate}}</p>
        <p *ngIf="!allowed">{{'WORKSPACE.DROP_FILES_DISABLED' |translate}}</p>
    </div>
</div>
