<div class="widget-configuration-buttons">
  <!-- option 1, e.g., link -->
  @if (optionOne?.isVisible) {
  <button
    mat-button
    class="widget-option"
    [disabled]="updateInProgress()"
    [matTooltip]="optionOne.tooltip"
    (click)="clickOptionOne()"
  >
    @if (optionOne.icon) {
    <i [esIcon]="optionOne.icon"></i>
    } @if (optionOne.text && optionOne.text !== '') {
    <span class="widget-label">
      {{ optionOne.text }}
    </span>
    }
  </button>
  }
  <!-- option 2, e.g., embed -->
  @if (optionTwo?.isVisible) {
  <button
    mat-button
    class="widget-option"
    [disabled]="updateInProgress()"
    [matTooltip]="optionTwo.tooltip"
    (click)="clickOptionTwo()"
  >
    @if (optionTwo.icon) {
    <i [esIcon]="optionTwo.icon"></i>
    } @if (optionTwo.text && optionTwo.text !== '') {
    <span class="widget-label">
      {{ optionTwo.text }}
    </span>
    }
  </button>
  }
  <!-- display configuration (color + layout) -->
  @if (layoutOptions.length > 0) {
  <div class="widget-display-config-buttons">
    <label class="widget-display-config-label" [class.disabled-text]="updateInProgress()">
      {{ 'TOPIC_PAGE.WIDGET.CHOOSE_LAYOUT' | translate }}:
    </label>
    <!-- layout selection -->
    <mat-button-toggle-group
      [attr.aria-label]="ariaLabel"
      [disabled]="updateInProgress()"
      hideSingleSelectionIndicator="true"
      (change)="changeLayout()"
      [(ngModel)]="layout"
    >
      @for (option of layoutOptions; track option) {
      <mat-button-toggle
        class="display-button"
        [value]="option.value"
        [attr.aria-label]="'TOPIC_PAGE.WIDGET.LAYOUT.' + option.ariaLabel | translate"
      >
        @if (option.icon) {
        <i [esIcon]="option.icon"></i>
        }
        <div>
          {{ 'TOPIC_PAGE.WIDGET.LAYOUT.' + option.viewValue | translate }}
        </div>
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
  }
</div>
