<div class="es-topic-header-widget">
  <div class="template-header-content" *ngIf="initialized(); else loadingSpinner">
    <div class="topic-text-wrapper" [style.background]="textBackgroundColor">
      <es-color-picker
        *ngIf="editMode"
        class="topic-header-color-picker"
        [selectedColor]="textBackgroundColor"
        [acceptLabel]="'APPLY'"
        [cancelLabel]="'CANCEL'"
        [colorLabel]="'TOPIC_PAGE.WIDGET.COLOR'"
        [customClass]="'widget-color-picker'"
        (colorChange)="changeTextBackgroundColor($event)"
      ></es-color-picker>
      <!-- order of parent entries: -->
      <!-- * topic page node (e.g., Optik), -->
      <!-- * portal page node (e.g., Physik), -->
      <!-- * general portals node (e.g., Portale) -->
      <!-- note: at least three nodes have to be present (e.g., Optik -> Physik) -->
      <div *ngIf="parentEntries()?.nodes?.length > 2" class="topic-page-subject-portal-label">
        {{ i18nPrefix + 'TOPIC_PAGE_SUBJECT_PORTAL_LABEL' | translate }}
        {{ parentEntries().nodes[parentEntries().nodes.length - 2].title }}
      </div>
      <h1 class="mat-heading-1 font-bold topic-header-title">
        <span [innerHTML]="topic | highlightSearch : searchInput()"></span>
        <button
          mat-flat-button
          color="primary"
          [routerLink]="['/' + ROUTER_PREFIX + 'collections']"
          [queryParams]="{ id: contextNodeId }"
        >
          <i esIcon="layers"></i>
        </button>
      </h1>
      <es-editable-text
        *ngIf="collectionDescription || editMode"
        [aiGenerated]="aiGeneratedDescription()"
        [applyTextareaPadding]="false"
        [editable]="editMode"
        [label]="'TOPIC_PAGE.WIDGET.TOPIC_HEADER.COLLECTION_DESCRIPTION_LABEL' | translate"
        [inputLimit]="1000"
        [nonEditText]="collectionDescription ?? ''"
        [prominentText]="true"
        [searchInput]="searchInput()"
        [showMoreLimit]="650"
        [(text)]="collectionDescription"
        (textChange)="persistCollectionDescription(collectionDescription)"
      ></es-editable-text>
      <h2 class="mat-heading-3 font-bold" *ngIf="description || editMode">
        <i esIcon="svg-lightbulb" [path]="iconPath" class="important-header-icon"></i>
        <span
          [innerHTML]="
            'TOPIC_PAGE.WIDGET.TOPIC_HEADER.IMPORTANCE_HEADER'
              | translate
              | highlightSearch : searchInput()
          "
        ></span>
      </h2>
      <es-editable-text
        *ngIf="description || editMode"
        [aiGenerated]="aiGeneratedText()"
        [applyTextareaPadding]="false"
        [editable]="editMode"
        [label]="'TOPIC_PAGE.WIDGET.TOPIC_HEADER.IMPORTANCE_LABEL' | translate"
        [inputLimit]="1000"
        [nonEditText]="description"
        [searchInput]="searchInput()"
        [showMoreLimit]="650"
        [(text)]="description"
        (textChange)="persistConfig()"
      ></es-editable-text>
    </div>
    <es-image-wrapper
      [(aiGeneratedImage)]="aiGeneratedImage"
      [contextNodeId]="contextNodeId"
      [fallbackNode]="collectionNode"
      [editMode]="editMode"
      [supportAiGeneration]="aiSupported()"
      [uploadParentNodeId]="nodeId"
      [(userUploadedNodeId)]="userUploadedNodeId"
      [widgetNodeId]="widgetNodeId"
      (persistConfig)="persistConfig()"
    ></es-image-wrapper>
  </div>
  <ng-template #loadingSpinner>
    <es-spinner></es-spinner>
  </ng-template>
</div>
