<div class="es-topic-header-widget">
  @if (initialized()) {
  <div class="template-header-content">
    <div
      class="topic-text-wrapper"
      [class.bright-color]="isDarkColor(textBackgroundColor)"
      [style.background]="textBackgroundColor"
    >
      @if (editMode) {
      <es-color-picker
        class="topic-header-color-picker"
        [selectedColor]="textBackgroundColor"
        [acceptLabel]="'APPLY'"
        [cancelLabel]="'CANCEL'"
        [colorLabel]="'TOPIC_PAGE.WIDGET.COLOR'"
        [customClass]="'widget-color-picker'"
        [customColor]="DEFAULT_HEADER_TEXT_BG_COLOR"
        (colorChange)="changeTextBackgroundColor($event)"
      ></es-color-picker>
      }
      <!-- order of parent entries: -->
      <!-- * topic page node (e.g., Optik), -->
      <!-- * portal page node (e.g., Physik), -->
      <!-- * general portals node (e.g., Portale) -->
      <!-- note: at least three nodes have to be present (e.g., Optik -> Physik) -->
      @if (parentEntries()?.nodes?.length > 2) {
      <div class="topic-page-subject-portal-label">
        {{ i18nPrefix + 'TOPIC_PAGE_SUBJECT_PORTAL_LABEL' | translate }}
        {{ parentEntries().nodes[parentEntries().nodes.length - 2].title }}
      </div>
      }
      <h1 class="mat-heading-1 topic-header-title">
        <span [innerHTML]="topic | highlightSearch : searchInput()"></span>
        @if (backToCollectionButtonVisible()) {
        <button
          mat-flat-button
          color="primary"
          [routerLink]="['/' + ROUTER_PREFIX + 'collections']"
          [queryParams]="{ id: contextNodeId }"
          [matTooltip]="'TOPIC_PAGE.NAVIGATE_TO_COLLECTION_PAGE' | translate"
          tooltipAriaLabel
        >
          <i esIcon="layers"></i>
        </button>
        }
      </h1>
      @if (collectionDescription || editMode) {
      <es-editable-text
        [aiGenerated]="aiGeneratedDescription()"
        [applyTextareaPadding]="false"
        [editable]="editMode"
        [label]="i18nPrefix + 'COLLECTION_DESCRIPTION_LABEL' | translate"
        [inputLimit]="1000"
        [nonEditText]="collectionDescription ?? ''"
        [prominentText]="true"
        [searchInput]="searchInput()"
        [showMoreLimit]="650"
        [(text)]="collectionDescription"
        (textChange)="onCollectionDescriptionChanged(collectionDescription)"
      ></es-editable-text>
      } @if (description || editMode) {
      <h2 class="mat-heading-3 font-bold">
        <i esIcon="edu-lightbulb" class="important-header-icon"></i>
        <span
          [innerHTML]="
            i18nPrefix + 'IMPORTANCE_HEADER' | translate | highlightSearch : searchInput()
          "
        ></span>
      </h2>
      } @if (description || editMode) {
      <es-editable-text
        [aiGenerated]="aiGeneratedText()"
        [applyTextareaPadding]="false"
        [editable]="editMode"
        [label]="i18nPrefix + 'IMPORTANCE_LABEL' | translate"
        [inputLimit]="1000"
        [nonEditText]="description"
        [searchInput]="searchInput()"
        [showMoreLimit]="650"
        [(text)]="description"
        (textChange)="onDescriptionChanged()"
      ></es-editable-text>
      }
    </div>
    <es-image-wrapper
      [(aiGeneratedImage)]="aiGeneratedImage"
      [contextNodeId]="contextNodeId"
      [fallbackNode]="collectionNode"
      [editMode]="editMode"
      [supportAiGeneration]="aiSupported()"
      [uploadParentNodeId]="nodeId"
      [(userUploadedNodeId)]="userUploadedNodeId"
      [widgetNodeId]="widgetNodeId"
      (persistConfig)="persistConfig()"
    ></es-image-wrapper>
  </div>
  } @else {
  <es-spinner></es-spinner>
  }
</div>
