@import "../../../../styles/variables.scss";

i {
    vertical-align: middle;
}

a, a:hover, a:visited, a:active {
    color: #fff;
    text-decoration: none;
}

.pointed {
    cursor: pointer;
}
.previous,.next{
  position: fixed;
  left: 0;
  top: 50%;
  background: rgba(0,0,0,.1);
  border-radius: 2px;
  padding:2px;
  z-index: 5;
}
.next{
  left:auto;
  right:0;
}
.previous i,.next i{
  font-size: 30px;
  color:#fff;
}
:host /deep/{
  .topBar-render{
    display: none!important;
  }
  a.edusharing_rendering_content{
    background-color: $primary;
  }
}
.topBar{
  background:#383838;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  padding: 5px 20px;
  top: 0;
  left:0;
  height: $mainnavHeight;
  z-index: 10;
  position: fixed;
  width: 100%;
  line-height: 62px;
}
.actionbarFrame{
  position: relative;
  top:5px;
}
.displayBar {
  display: flex;
  > span {
    flex-grow: 2;
    flex-basis: 0;
    text-align: center;
  }
  .showDetails{
    flex-grow: 1!important;
  }
}
.displayBar > span:first-child {
  text-align: left;
}

.displayBar > span:last-child {
  text-align: right;
  align-items: center;
  padding-top: 12px;
}

#nodeRenderContentWrapper {
  background: #666;
  position: absolute;
  top:$mainnavHeight;
  width:100%;
  height: calc(100% - #{$mainnavHeight});
}

#nodeRenderContent,.nodeRenderLoading {
  height: auto;
  position: relative;
  width:100%;
  overflow-x: hidden;
}

#sequence {
  padding: 30px 20px;
  min-width: 100%;
  text-align: center;
  overflow:hidden;
  position:relative;
  white-space: nowrap;
  .itemTitle {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    margin-bottom: -2px;
  }
  .wrapperouter {
    display: inline-block;
    position:relative;
    margin: 0 10px;
  .wrapper {
    margin: 3px;
    @include materialShadow();
    img {
      margin-bottom: -5px;
      height: 75px;
      width: 100px;
    }
  }
  .wrapper.selected {
    margin: 0;
    border: 3px solid $primaryMediumLight;
    @include materialShadowMediumLarge();
  }
  .wrapper.selected:after {
    content: '';
    position: absolute;
    left: 43px;
    top: 103px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $primaryMediumLight;
    clear: both;
  }
  }
}
.scroller {
  position: absolute;
  top: calc(8px + #{$mainnavHeight});
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.scroller.left {
  left: 0;
}
.scroller.right {
  right: 0;
}

.nodeRenderLoading{
  height: calc(100% - #{$mainnavHeight});
  overflow: hidden;
  spinner{
    position: relative;
    top: 50px;
  }
}
.edusharing_rendering_content_wrapper{
  padding-left:20px;
}

.edusharing_rendering_metadata_top{
  padding: 20px;
}
#edusharing_rendering_metadata_top_toggle {
  color: $primary;
  top: 10px;
  position: relative;
}
a.edusharing_rendering_content{
  background-color: $primary;
}
.edusharing_rendering_wrapper{
  text-transform: uppercase;
}
.edusharing_rendering_content_wrapper{
  min-height:500px;
}

.edusharing_rendering_content {
  height: calc(100% - #{$mainnavHeight} - 130px) !important;
}

div.download {
  margin-top: -8px;
}
@media (pointer: coarse) {
  #sequence {
    overflow-x: auto;
    @include iosScrolling();
  }
  .scroller{
    display: none;
  }
}
@media screen and (max-width: $mobileWidth) {
  div.download i {
    font-size: 120%;
  }
}
