<!-- dummy for banner-->
<main-nav #mainNav [currentScope]="'render'"></main-nav>
<div class="topBar fixed scrollWithBanner" *ngIf="showTopBar">
  <div class="displayBar">
    <span class="clickable" title="{{'BACK' | translate}}" (click)="close()" (keypress)="($event.which === 13)?close():0" tabindex="0"><i icon iconId="keyboard_arrow_left"></i> <span class="render-back">{{'BACK' | translate}}</span></span>
    <span *ngIf="_node" class="clickable showDetails" (click)="showDetails()" (keypress)="($event.which === 13)?showDetails():0" tabindex="0" title="{{'GOTO' | translate}} {{'INFO' | translate}}"><i icon iconId="info_outline"></i> <span class="uppercase hidemobile">{{'INFO' | translate}}</span></span>
    <span>
    <actionbar class="actionbarFrame"
               *ngIf="_node && !isLoading && options && options.length"
               [node]="_node"
               [@fadeFast]="options && options.length"
               [options]="options"
               [showDisabled]="false"
               [backgroundType]="'dark'"
               [numberOfAlwaysVisibleOptions]="1"
               [numberOfAlwaysVisibleOptionsMobile]="0"
    ></actionbar>

    </span>
  </div>
</div>
<div *ngIf="getPosition()!=-1">
  <div tabindex="0" class="previous clickable" *ngIf="canSwitchBack()" (click)="switchPosition(getPosition()-1)" (keyup.enter)="switchPosition(getPosition()-1)"><i icon iconId="keyboard_arrow_left" aria="true"></i></div>
  <div tabindex="0" class="next clickable" *ngIf="canSwitchForward()" (click)="switchPosition(getPosition()+1)" (keyup.enter)="switchPosition(getPosition()+1)"><i icon iconId="keyboard_arrow_right" aria="true"></i></div>
</div>
<div class="alignWithBanner">
  <div id="nodeRenderContentWrapper">
    <div *ngIf="sequence" id="sequence" #sequencediv>
        <div class="wrapperouter clickable" tabindex="0" (click)="node=sequenceParent" (keyup.enter)="node=sequenceParent">
          <span class="itemTitle">{{getNodeName(sequenceParent)}}</span>
          <div class="wrapper" [class.selected]="_nodeId==sequenceParent.ref.id">
            <img src="{{sequenceParent.preview.url}}&crop=true&width=100&height=75">
          </div>
        </div>
        <div *ngFor="let item of sequence.nodes;let i=index" tabindex="0" class="wrapperouter clickable" (click)="viewChildobject(item,i)" (keyup.enter)="node=sequenceParent">
          <span class="itemTitle">{{getNodeName(item)}}</span>
          <div class="wrapper" [class.selected]="_nodeId==item.ref.id">
            <img src="{{item.preview.url}}&crop=true&width=100&height=75">
          </div>
        </div>
    </div>
    <div class="scroller left clickable" *ngIf="canScrollLeft" (click)="scroll('left')" id="left"><i icon iconId="keyboard_arrow_left" aria="true"></i></div>
    <div class="scroller right clickable" *ngIf="canScrollRight" (click)="scroll('right')" id="right"><i icon iconId="keyboard_arrow_right" aria="true"></i></div>
    <div id="nodeRenderContent" [class.hide]="isLoading" ng-touchevent
       (ngSwipeRight)="canSwitchBack() ? switchPosition(getPosition()-1) : null"
       (ngSwipeLeft)="canSwitchForward() ? switchPosition(getPosition()+1) : null">
    </div>
    <div class="nodeRenderLoading" *ngIf="isLoading">
      <spinner></spinner>
    </div>

    <div class="similarNodes" *ngIf="similarNodes && similarNodes.length > 0">
      <div class="caption">Ähnliche Objekte</div>
      <listTable (clickRow)="switchNode($event)"
            [nodes]="similarNodes"
            [viewType]="1"
            [hasCheckbox]="false"
            [isClickable]="true"
            [columns]="similarNodeColumns"
    ></listTable>
    </div>

  </div>
</div>

<workspace-management
  [(nodeMetadata)]="nodeMetadata"
  [nodeMetadataAllowReplace]="true"
  [(addToCollection)]="addToCollection"
  [(nodeReport)]="nodeReport"
  [(nodeShare)]="nodeShare"
  [(nodeShareLink)]="nodeShareLink"
  [(nodeVariant)]="nodeVariant"
  [(nodeWorkflow)]="nodeWorkflow"
  [(addNodesStream)]="addNodesStream"
  [(nodeDelete)]="nodeDelete"
  [(nodeComment)]="nodeComments"
  (onRefresh)="refresh()"
  (onCloseMetadata)="closeMetadata()"
  (onDelete)="onDelete($event)"
>
</workspace-management>
<div #commentsRef style="display:none">
  <node-comments
    [node]="_node"
    [readOnly]="true"
  ></node-comments>
</div>
