@import "../../../../styles/variables.scss";


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
:host /deep/{
  .contributor-content, .mat-tab-body-wrapper {
    padding: $cardPadding;
  }
}
h2{
  font-size:110%;
  margin-top: 5px;
}
.lifecycleHeading,.metadataHeading{
  font-weight: bold;
  color: $textLight;
}
.role{
  color:$textLight;
}
.group{
  padding-bottom: 10px;
}
.metadataHeading{
  padding-top:30px;
}
.table{
  display: flex;
  width: 100%;
  mat-form-field{
    width: 100%;
  }
  .calendar{
    display: flex;
  }
  .title{
    width:15%;
  }
  .givenname,.surname{
    width:42.5%;
  }

  >div{
    display: table-cell;
    padding:0 10px;
    width:50%;
  }
  .datePicker{
    display:flex;
    width: 100%;
    align-items: start;
    .clickable{
      color:$textLight;
    }
    >div{
      display:flex;
      align-items: center;
      padding-top:6px;
      margin-bottom: 24px;
      justify-content: center;
      >i{
        margin: 0 5px;
      }
    }
    calendar{
      flex-grow: 1;
    }
  }
}
.btnAdd{
  margin-top: 10px;
  float:none!important;
  display: inline-flex;
  align-items: center;
  .material-icons{
    top: 0;
  }
}
.moreOpen{
  margin-top: 20px;
}
.more{
  text-transform: uppercase;
  > i{
    position: relative;
    top:7px;
  }
}
:host /deep/{
  calendar .picker{
    left: -40px;
  }
}
