@import "../../../core-ui-module/styles/variables";
@import "../../../shared/components/card/variables";


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
:host ::ng-deep{
  .mat-tab-body-wrapper {
    padding: $cardPadding;
  }
  .contributor-content {
    padding: 0 $cardPadding;
  }
}
.author-checkbox{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
h2{
  font-size:110%;
  margin-top: 5px;
}
.lifecycleHeading,.metadataHeading{
  font-weight: bold;
  color: $textLight;
}
.edit-reset{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.role{
  color:$textLight;
}
.group{
  padding-bottom: 10px;
}
.metadataHeading{
  padding-top:30px;
}
.persistent-id {
  padding-top: 15px;
  mat-form-field {
    padding-bottom: 10px;
  }
}
::ng-deep .mat-autocomplete-panel.mat-autocomplete-person {
  @media screen and (min-width: map-get($widths, 'normal')) {
    position: fixed;
    left: calc(50% - 124px);
    width: 340px;
  }
}
.table{
  display: flex;
  width: 100%;
  mat-form-field{
    width: 100%;
  }
  .calendar{
    display: flex;
  }
  .title{
    width:20%;
  }
  .givenname,.surname{
    width:40%;
  }

  >div{
    display: table-cell;
    padding:0 10px;
    width:50%;
  }
  .datePicker{
    display:flex;
    width: 100%;
    align-items: flex-start;
    .clickable{
      color:$textLight;
    }
    >div{
      display:flex;
      align-items: center;
      padding-top:8px;
      margin-bottom: 24px;
      justify-content: right;
      >i{
        margin: 0 5px;
      }
    }
    es-calendar{
      flex-grow: 1;
    }
  }
}
.btnAdd{
  margin-top: 10px;
  float:none!important;
  display: inline-flex;
  align-items: center;
  .material-icons{
    top: 0;
  }
}
.moreOpen{
  margin-top: 20px;
}
.more{
  text-transform: uppercase;
  > i{
    position: relative;
    top:7px;
  }
}
:host ::ng-deep{
  es-calendar{
    input{
      width:100px;
    }
    .picker {
      left: -40px;
    }
  }
}
