<card title="{{'WORKSPACE.CONTRIBUTOR.TITLE' | translate }}" [avatar]="node ? node.iconURL : null"  [subtitle]="node ? node.name : null" width="small" height="large"
      [buttons]="buttons"
      (onCancel)="cancel()"
>
      <spinner *ngIf="loading"></spinner>
      <div class="contributor-content" *ngIf="!loading">
        <h2 class="lifecycleHeading">{{'WORKSPACE.CONTRIBUTOR.LIFECYCLECONTRIBUTOR' | translate}}</h2>
        <div *ngFor="let role of rolesLifecycle">
          <div *ngIf="contributorLifecycle[role] && contributorLifecycle[role].length"  class="group">
            <div class="role">{{'WORKSPACE.CONTRIBUTOR.TYPE.'+role.toUpperCase() | translate}}</div>
            <div *ngFor="let vcard of contributorLifecycle[role];let i=index" class="badge clickable"><span (click)="editVCard('lifecycle',vcard,role)">{{vcard.getDisplayName()}}</span>
              <i class="material-icons clickable" (click)="remove(contributorLifecycle[role],i)">cancel</i>
            </div>
          </div>
        </div>
        <button mat-raised-button class="btnAdd" (click)="addVCard('lifecycle')"><i icon iconId="add"></i> {{'ADD' | translate}}</button>
        <h2 class="metadataHeading">{{'WORKSPACE.CONTRIBUTOR.METADATACONTRIBUTOR' | translate}}</h2>
        <div *ngFor="let role of rolesMetadata">
          <div *ngIf="contributorMetadata[role] && contributorMetadata[role].length"  class="group">
            <div class="role">{{'WORKSPACE.CONTRIBUTOR.TYPE.'+role.toUpperCase() | translate}}</div>
            <div *ngFor="let vcard of contributorMetadata[role];let i=index" class="badge clickable"><span (click)="editVCard('metadata',vcard,role)">{{vcard.getDisplayName()}}</span>
              <i class="material-icons clickable" (click)="remove(contributorMetadata[role],i)">cancel</i>
            </div>
          </div>
        </div>
        <button mat-raised-button class="btnAdd" (click)="addVCard('metadata')"><i icon iconId="add"></i> {{'ADD' | translate}}</button>
    </div>
</card>
<modal-dialog
        [priority]="1"
        [title]="dialogTitle"
        [message]="dialogMessage"
        [messageParameters]="dialogParameters"
        [buttons]="dialogButtons"
        [isCancelable]="true"
        (onCancel)="dialogTitle=null"
></modal-dialog>
<card title="{{'WORKSPACE.CONTRIBUTOR.'+(editOriginal ? 'EDIT' : 'ADD')+'_TITLE' | translate }}"
      subtitle="{{'WORKSPACE.CONTRIBUTOR.TYPE.'+editScopeNew.toUpperCase() | translate}}"
      (onCancel)="cancel()"
      [buttons]="editButtons"
      *ngIf="edit"
      width="small" height="xlarge">
  <mat-tab-group mat-stretch-tabs [(selectedIndex)]="editType">
    <mat-tab label="{{'WORKSPACE.CONTRIBUTOR.MODE_PERSON' | translate}}">
      <div class="table">
        <div class="title">
          <mat-form-field>
            <mat-label>{{'VCARD.Title' | translate}}</mat-label>
            <input matInput id="title" [(ngModel)]="edit.title">
          </mat-form-field>
        </div>
        <div class="givenname">
          <mat-form-field>
            <mat-label>{{'VCARD.Givenname' | translate}}</mat-label>
            <input matInput id="givenname" [(ngModel)]="edit.givenname">
          </mat-form-field>
        </div>
        <div class="surname">
          <mat-form-field>
            <mat-label>{{'VCARD.Surname' | translate}}</mat-label>
            <input matInput id="surname" [(ngModel)]="edit.surname">
          </mat-form-field>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{'WORKSPACE.CONTRIBUTOR.MODE_ORG' | translate}}">
      <div class="table">
        <mat-form-field>
          <mat-label>{{'VCARD.Org' | translate}}</mat-label>
          <input matInput id="org" [(ngModel)]="edit.org">
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="contributor-content">
    <div class="table">
      <div>
        <mat-form-field>
          <mat-label>{{'VCARD.Email' | translate}}</mat-label>
          <input matInput id="email" [(ngModel)]="edit.email">
        </mat-form-field>
      </div>
    </div>
    <div class="table">
      <div>
        <mat-form-field>
          <mat-label>{{'WORKSPACE.CONTRIBUTOR.SCOPE' | translate}}</mat-label>
          <mat-select id="scope" [(ngModel)]="editScopeNew">
            <mat-option *ngFor="let role of editMode=='lifecycle' ? rolesLifecycle : rolesMetadata" value="{{role}}">{{'WORKSPACE.CONTRIBUTOR.TYPE.'+role.toUpperCase() | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="calendar">
        <calendar label="{{'WORKSPACE.CONTRIBUTOR.DATE' | translate}}" isResettable="true" [(date)]="date"></calendar>
      </div>
    </div>
    <button mat-button color="primary" class="more clickable" (click)="more=!more">
      <i icon iconId="keyboard_arrow_down" *ngIf="more"></i>
      <i icon iconId="keyboard_arrow_right" *ngIf="!more"></i>
      <span>{{'WORKSPACE.CONTRIBUTOR.MORE' | translate}}</span>
    </button>
    <div *ngIf="more" [@overlay]="more" class="moreOpen">
    <h2>{{'WORKSPACE.CONTRIBUTOR.ORG_INFO' | translate}}</h2>
    <div class="table">
      <mat-form-field>
        <mat-label>{{'VCARD.Org' | translate}}</mat-label>
        <input matInput [disabled]="editType=='org'" id="orgName" [(ngModel)]="edit.org">
      </mat-form-field>
    </div>
    <div class="table">
      <mat-form-field>
        <mat-label>{{'VCARD.OrgUrl' | translate}}</mat-label>
        <input matInput id="orgUrl" [(ngModel)]="edit.url">
      </mat-form-field>
    </div>
    <div class="table">
      <mat-form-field>
        <mat-label>{{'VCARD.OrgPhone' | translate}}</mat-label>
        <input matInput id="orgPhone" [(ngModel)]="edit.orgPhone">
      </mat-form-field>
    </div>
    <h2>{{'WORKSPACE.CONTRIBUTOR.ADDRESS_INFO' | translate}}</h2>
    <div class="table">
      <mat-form-field>
        <mat-label>{{'VCARD.Street' | translate}}</mat-label>
        <input matInput id="street" [(ngModel)]="edit.street">
      </mat-form-field>
    </div>
    <div class="table">
      <div>
        <mat-form-field>
          <mat-label>{{'VCARD.Zip' | translate}}</mat-label>
          <input matInput id="zip" [(ngModel)]="edit.zip">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>{{'VCARD.City' | translate}}</mat-label>
          <input matInput id="city" [(ngModel)]="edit.city">
        </mat-form-field>
      </div>
    </div>
    <div class="table">
      <div>
        <mat-form-field>
          <mat-label>{{'VCARD.Region' | translate}}</mat-label>
          <input matInput id="region" [(ngModel)]="edit.region">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>{{'VCARD.Country' | translate}}</mat-label>
          <input matInput id="country" [(ngModel)]="edit.country">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
</card>
