<div class="tree">
  <div class="tree-header">
    <mat-form-field floatLabel="always">
      <mat-label>{{ widget.definition.caption }}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        #input
        autocomplete="off"
        [(ngModel)]="filterString"
        attr.aria-owns="{{ uid }}-mat-tree"
        [attr.aria-activedescendant]="selectedNode?.uid"
        aria-haspopup="tree"
        aria-expanded="true"
      />
    </mat-form-field>
    <button mat-button (click)="close.emit()"><i icon="close"></i></button>
  </div>
  <mat-tree id="{{ uid }}-mat-tree" [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodeToggle
      [hidden]="node.isHidden"
      [id]="node.uid"
      [attr.aria-selected]="selectedNode === node"
      [attr.aria-expanded]="null"
    >
      <div class="item" [class.selected]="selectedNode === node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <ng-container
          [ngTemplateOutlet]="isMultiValue ? checkBox : radioButton"
          [ngTemplateOutletContext]="{ node: node }"
        ></ng-container>
      </div>
    </mat-tree-node>
    <!-- Nodes with children -->
    <!-- `mat-nested-tree-node` will always assign `role="group"` to itself in this situation
    (ignoring the `role` input). However, `group` is not a valid focus target. Ideally, we would
    like to set it to `role="treeitem"`, but lacking this option, we don't give it a label and
    ignore it. This messes up the indicated tree level, but at least navigation with screen readers
    works as expected. This behavior has been fixed in newer versions of Angular with Angular 11
    deprecating the input and setting it to `treeitem` by default.
    -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" [hidden]="node.isHidden">
      <!-- TODO: move attributes to `mat-nested-tree-node` and remove this container when upgraded
      to Angular 11. -->
      <div
        [id]="node.uid"
        [attr.aria-expanded]="treeControl.isExpanded(node)"
        [attr.aria-selected]="selectedNode === node"
        role="treeitem"
      >
        <div class="item" [class.selected]="selectedNode === node">
          <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>
          <ng-container
            [ngTemplateOutlet]="isMultiValue ? checkBox : radioButton"
            [ngTemplateOutletContext]="{ node: node }"
          ></ng-container>
        </div>
        <div class="children-group" role="group">
          <ng-container *ngIf="treeControl.isExpanded(node)" matTreeNodeOutlet></ng-container>
        </div>
      </div>
    </mat-nested-tree-node>
  </mat-tree>

  <ng-template #checkBox let-node="node">
    <mat-checkbox
      [id]="getCheckboxId(node)"
      [checked]="getIsChecked(node)"
      [indeterminate]="node.isIndeterminate"
      [disabled]="getIsDisabled(node)"
      (change)="toggleNode(node, $event.checked)"
      ><span
        [innerHTML]="node.caption | sanitizeHTML | highlight: filterString"
      ></span
    ></mat-checkbox>
  </ng-template>

  <ng-template #radioButton let-node="node">
    <mat-radio-button
      [id]="getCheckboxId(node)"
      [checked]="getIsChecked(node)"
      [disabled]="getIsDisabled(node)"
      (change)="toggleNode(node, true)"
      ><span
        [innerHTML]="node.caption | sanitizeHTML | highlight: filterString"
      ></span
    ></mat-radio-button>
  </ng-template>
</div>
