<div *ngIf="!isEmpty() || !widget.definition.hideIfEmpty" class="widget-wrapper">
    <div class="widget-label">{{widget.definition.caption}}</div>
    <div *ngIf="isEmpty()" class="widget-data widget-no-data widget-type-{{getBasicType()}}">-</div>
    <div *ngIf="!isEmpty()" class="widget-data widget-type-{{getBasicType()}} {{widget.definition.link ? 'widget-link' : ''}}" (click)="click()">
        <div *ngIf="getBasicType()=='text'">{{value}}</div>
        <div *ngIf="getBasicType()=='array'">
            <div class="array-entry" *ngFor="let v of value">{{v}}</div>
        </div>
      <div *ngIf="getBasicType()=='slider'">
        <span class="slider-value">{{value}}</span><span> / </span><span class="slider-max">{{widget.definition.max}}</span>
      </div>
      <div *ngIf="getBasicType()=='duration'">
        <span class="duration-value">{{ value[0] | appMdsDuration}}</span>
      </div>
      <div *ngIf="getBasicType()=='range'"><span class="slider-value">{{value[0]}}</span>-<span class="slider-value">{{value[1]}}</span></div>
        <div *ngIf="getBasicType()=='unknown'">
            The widget type {{widget.definition.type}} is currently not supported via angular rendering
        </div>
    </div>
</div>

