@import "../../../../core-ui-module/styles/variables.scss";

.widget-label{
  font-size: 90%;
  opacity: 0.8;
}
.edit-wrapper {
    display: flex;
    align-items: center;
    > div:first-child {
        flex-grow: 1;
    }
    > button {
        margin-left: 10px;
    }
    transition: $transitionNormal all;;
    .widget-wrapper {
        padding: 2px 5px;
    }
    .value-wrapper-edit:hover {
        outline: 1px solid $cardSeperatorLineColor;
        cursor: text;
    }
}
.widget-data{
  padding:4px 0 10px 0;
  word-break: break-word;
  &.widget-type-slider {
    opacity: 0.8;
    .slider-value {
      opacity: 0.9;
      font-weight: bold;
    }
  }
  &.widget-type-array, &.widget-type-vcard {
    .array-entry{
      display: inline;
      &:not(:last-child):after{
        content: ', ';
        padding-right: 0.3em;
          display: inline;
          align-items: flex-end;
      }
    }
  }
  &.widget-link{
    text-decoration: underline;
    cursor: pointer;
  }
}
.widget-type-text >div{
  white-space: pre-line;
}
