<div *ngIf="value || !widget.hideIfEmpty" class="widget-wrapper">
    <div class="widget-label">{{widget.caption}}</div>
    <div *ngIf="!value" class="widget-data widget-no-data widget-type-{{getBasicType()}}">-</div>
    <div *ngIf="value" class="widget-data widget-type-{{getBasicType()}}">
        <div *ngIf="getBasicType()=='text'">{{value}}</div>
        <div *ngIf="getBasicType()=='slider'"><span class="slider-value">{{value}}</span><span> / </span><span class="slider-max">{{widget.max}}</span></div>
        <div *ngIf="getBasicType()=='unknown'">
            The widget type {{widget.type}} is currently not supported for rendering
        </div>
    </div>
</div>

