<button
  class="topic-page-btn-accent"
  mat-flat-button
  color="primary"
  [matMenuTriggerFor]="selectWidgetTypeMenu"
>
  @if (!grid[tileIndex].item) {
  <i esIcon="add"></i> {{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.HEADING' | translate }}
  } @else {
  <i esIcon="edit"></i> {{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.CHANGE_TYPE' | translate }}
  }
</button>
<mat-menu #selectWidgetTypeMenu="matMenu" class="topic-page-menu">
  @for (option of widgetTypeOptions; track option) {
  <button mat-menu-item (click)="selectWidgetType(option.value, tileIndex)">
    {{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.' + option.viewValue | translate }}
  </button>
  }
</mat-menu>
