<button
  class="topic-page-btn-accent"
  mat-flat-button
  color="primary"
  [matMenuTriggerFor]="selectWidgetTypeMenu"
>
  <ng-container *ngIf="!grid[tileIndex].item; else changeExistingTypeTemplate">
    <i esIcon="add"></i> {{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.HEADING' | translate }}
  </ng-container>
  <ng-template #changeExistingTypeTemplate>
    <i esIcon="edit"></i> {{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.CHANGE_TYPE' | translate }}
  </ng-template>
</button>
<mat-menu #selectWidgetTypeMenu="matMenu" class="topic-page-menu">
  <button
    mat-menu-item
    *ngFor="let option of widgetTypeOptions"
    (click)="selectWidgetType(option.value, tileIndex)"
  >
    {{ 'TOPIC_PAGE.SWIMLANE.SELECT_WIDGET.' + option.viewValue | translate }}
  </button>
</mat-menu>
