<div role="main" esSkipTarget="MAIN_CONTENT" class="collections-master-div">
  <section class="collections-cards-div" data-test="collection-content-subcollections">
    <div
      class="collections-wrapper"
      [class.wrapper-empty]="dataSourceCollections.isEmpty()"
      [class.wrapper-edit]="isUserAllowedToEdit(collection)"
    >
      <es-node-entries-wrapper
        #listCollections
        [dataSource]="dataSourceCollections"
        [elementInteractionType]="interactionType"
        [columns]="collectionsColumns"
        (clickItem)="clickItem.emit($event)"
        (fetchData)="loadMoreCollections()"
        [infiniteScrollWindow]="false"
        [checkbox]="false"
        [displayType]="NodeEntriesDisplayType.SmallGrid"
        [globalOptions]="createAllowed() ? [createSubCollectionOptionItem] : []"
        [dragDrop]="{
          dragAllowed: isAllowedToEditCollection(),
          dropAllowed: canDropOnCollection,
          dropped: dropOnCollection,
        }"
        [sort]="{
          active: sortCollections.active,
          direction: sortCollections.direction,
          customSortingInProgress: sortCollections.customSortingInProgress,
          columns: sortCollections.columns,
          allowed:
            !isMobile() &&
            dataSourceCollections.getData()?.length > 1 &&
            isUserAllowedToEdit(collection) &&
            !sortReferences?.customSortingInProgress,
        }"
        (sortChange)="setCollectionSort($event)"
      >
        <ng-template #title>
          <div class="heading-group">
            @if (isAllowedToEditCollection() || !dataSourceCollections.isEmpty()) {
            <h2 class="mat-heading-3">
              @if (isRootLevel) {
              {{ 'COLLECTIONS.TAB.' + scope + '_LONG' | translate }}
              } @if (!isRootLevel) {
              {{ 'COLLECTION.INFO_REFERENCES_MULTI' | translate }}
              }
            </h2>
            }
          </div>
        </ng-template>
        <ng-template #empty>
          @if (!createAllowed()) {
          <div class="collection-nocontent-container collection-nocontent-big">
            <ng-container *ngTemplateOutlet="emptyRef"></ng-container>
          </div>
          }
        </ng-template>
      </es-node-entries-wrapper>
      @if (!isRootLevel && dataSourceCollections.isEmpty() && !dataSourceCollections.isLoading &&
      isUserAllowedToEdit(collection)) {
      <div>
        @if (createAllowed()) {
        <div class="collection-nocontent-big">
          {{ 'COLLECTIONS.NO_SUBCOLLECTIONS' | translate }}
        </div>
        <div class="section-headline collection-nocontent-container">
          <div class="collection-nocontent-small">
            {{ 'COLLECTIONS.NO_SUBCOLLECTIONS_HINT' | translate }}
          </div>
        </div>
        }
      </div>
      }
    </div>
  </section>
  @if (!isRootLevel) {
  <es-collection-proposals
    [collection]="collection"
    [canEdit]="isAllowedToEditCollection()"
    (contentClick)="onContentClick($any($event))"
  ></es-collection-proposals>
  <section class="collections-cards-div" data-test="collection-content-materials">
    <es-actionbar
      #actionbarToggles
      class="actionbarMaterials"
      [class.display-none]="dataSourceReferences.isLoading"
      [showActionOptions]="false"
    ></es-actionbar>
    <div
      class="references-wrapper"
      [class.wrapper-table]="referencesDisplayType === NodeEntriesDisplayType.Table"
      [class.wrapper-empty]="dataSourceReferences.isEmpty()"
      [class.wrapper-edit]="isAllowedToAddContent()"
    >
      <es-node-entries-wrapper
        #listReferences
        [elementInteractionType]="InteractionType.Emitter"
        [dataSource]="dataSourceReferences"
        [scope]="Scope.CollectionsReferences"
        [primaryInstance]="true"
        [columns]="referencesColumns"
        [(displayType)]="referencesDisplayType"
        [dragDrop]="{
            dragAllowed: isAllowedToEditCollection(),
            dropAllowed: canDropOnRef,
            dropped: dropOnRef,
          }"
        [infiniteScrollWindow]="false"
        [sort]="{
            active: sortReferences.active,
            direction: sortReferences.direction,
            customSortingInProgress: sortReferences.customSortingInProgress,
            columns: sortReferences.columns,
            allowed:
              !isMobile() &&
              dataSourceReferences.getData()?.length > 1 &&
              isUserAllowedToEdit(collection) &&
              !sortCollections?.customSortingInProgress,
          }"
        ctrlClickBehavior="emit"
        (selectionChange)="handleSelection($event)"
        (clickItem)="onContentClick($event)"
        (dblClickItem)="openItem($event)"
        (sortChange)="setReferenceSort($event)"
        [globalOptions]="
          isAllowedToAddContent() ? [addMaterialSearchOptionItem, addMaterialBinaryOptionItem] : []
        "
        (fetchData)="loadMoreReferences($event)"
      >
        <ng-template #title>
          <div class="content-header heading-group">
            <h2 class="mat-heading-3">
              {{ 'collections_content' | translate }}
            </h2>
          </div>
        </ng-template>
        <ng-template #overlay let-element="element">
          @if (isDeleted(element)) {
          <div class="node-deleted">
            <div>
              <i esIcon="delete"></i>
              <div class="headline">{{ 'ORIGINAL_DELETED' | translate }}</div>
              <div class="subline">{{ 'ORIGINAL_DELETED_INFO' | translate }}</div>
              @if (canDelete(element)) {
              <button
                mat-button
                color="primary"
                (click)="
                  deleteReference(element); $event.stopPropagation(); $event.preventDefault()
                "
              >
                {{ 'ORIGINAL_DELETE' | translate }}
              </button>
              }
            </div>
          </div>
          } @if (element.access === null && !isDeleted(element)) {
          <div class="node-deleted">
            <div>
              <i esIcon="lock"></i>
              <div class="headline">{{ 'ORIGINAL_ACCESS_DENIED' | translate }}</div>
              <div class="subline">{{ 'ORIGINAL_ACCESS_DENIED_INFO' | translate }}</div>
              @if (config?.accessDeniedInfoUrl) {
              <a mat-button color="primary" [href]="config?.accessDeniedInfoUrl" target="_blank">
                <span class="details">
                  {{ 'ORIGINAL_ACCESS_DENIED_MORE' | translate }}
                  <i esIcon="open_in_new"></i>
                </span>
              </a>
              } @if (canDelete(element)) {
              <button
                mat-button
                color="primary"
                (click)="
                  deleteReference(element); $event.stopPropagation(); $event.preventDefault()
                "
              >
                {{ 'ORIGINAL_DELETE' | translate }}
              </button>
              }
            </div>
          </div>
          }
        </ng-template>
        <ng-template #empty>
          <div class="section-headline collection-nocontent-container">
            <div class="collection-nocontent-big">
              {{ 'collections_noContentAvailable' | translate }}
            </div>
            @if (isUserAllowedToEdit(collection)) {
            <div class="section-headline collection-nocontent-container">
              <div class="collection-nocontent-small">
                {{ 'collections_howToAddContent' | translate }}
              </div>
            </div>
            }
          </div>
        </ng-template>
      </es-node-entries-wrapper>
    </div>
  </section>
  }
</div>
