<es-card *ngIf="card"
      [width]="options.width"
      [height]="options.height"
      [title]="options.title"
      [subtitle]="options.subtitle"
      [icon]="options.icon"
      [isCancelable]="options.isCancelable"
      [buttons]="buttons"
      (onCancel)="card=false"
      >
  <div class="card-content-padding">
    <span *ngFor="let i of getTextSize()">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
  </div>
</es-card>
<h3>Card Component test</h3>
<div>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="options.title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subtitle</mat-label>
    <input matInput [(ngModel)]="options.subtitle">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Icon (Material Icon Id)</mat-label>
    <input matInput [(ngModel)]="options.icon">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="options.isCancelable">Is Cancelable</mat-checkbox>
  <mat-form-field>
    <mat-label>Width</mat-label>
    <mat-select [(ngModel)]="options.width">
      <mat-option *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Height</mat-label>
    <mat-select [(ngModel)]="options.height">
      <mat-option *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Content Sample length</mat-label>
    <mat-select [(ngModel)]="textSize">
      <mat-option *ngFor="let size of contentLengths" [value]="size">{{size}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="show">
    <button mat-raised-button color="primary" (click)="card=true">Show</button>
  </div>
</div>
