<div class="header">
  <img [src]="'assets/images/register/register-password.svg' | esAssetsPath" alt="" />
  <h4 class="headline">{{ 'REGISTER.REQUEST.HEADLINE' | translate }}</h4>
</div>
<div>
  <p class="info">{{ 'REGISTER.REQUEST.INFO' | translate }}</p>
  <form (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>{{ 'REGISTER.REQUEST.EMAIL_ACCOUNT_NAME' | translate }}</mat-label>
      <input matInput type="email" name="email" id="email" [formControl]="emailFormControl" />
    </mat-form-field>
  </form>
</div>
