@import '../../core-ui-module/styles/variables';

:host ::ng-deep {
    // fix that cards are over the main nav
    // will break the left main nav
    /*.mat-tab-body.mat-tab-body-active {
    z-index: 97;
  }*/
}
mat-tab-group {
    position: absolute;
    top: var(--mainnavHeight);
    width: 100%;
}
