@if (!disabled || isAdmin) {
<div role="main" class="main-content" esSkipTarget="MAIN_CONTENT">
  <h1 esTitle class="cdk-visually-hidden">{{ 'PERMISSIONS.TITLE' | translate }}</h1>
  @if (!isLoading) {
  <mat-tab-group
    class="mat-tab-group-shadow"
    mat-stretch-tabs
    [color]="$any('dark')"
    [selectedIndex]="tab"
    (selectedIndexChange)="setTab($event)"
  >
    <mat-tab
      label="{{ 'PERMISSIONS.TAB.ORG' | translate }}"
      labelClass="data-test-permissions-tab-orgs"
      bodyClass="data-test-permissions-body-orgs"
    >
      <ng-template matTabContent>
        <es-permissions-authorities
          [mode]="'ORG'"
          [searchQuery]="searchQuery"
          (selection)="selected = $event ? $any($event[0]) : null"
        ></es-permissions-authorities>
      </ng-template>
    </mat-tab>
    @if (selected || isAdmin) {
    <mat-tab
      label="{{ 'PERMISSIONS.TAB.GROUP' | translate }}{{
        selected ? ' (' + selected.profile?.displayName + ')' : ''
      }}"
      labelClass="data-test-permissions-tab-groups"
      bodyClass="data-test-permissions-body-groups"
    >
      <ng-template matTabContent>
        <es-permissions-authorities
          [mode]="'GROUP'"
          [searchQuery]="searchQuery"
          [org]="selected"
          (deselectOrg)="selected = null"
          (setTab)="setTab($event)"
        ></es-permissions-authorities>
      </ng-template>
    </mat-tab>
    } @if (selected || isAdmin) {
    <mat-tab
      label="{{ 'PERMISSIONS.TAB.USER' | translate }}{{
        selected ? ' (' + selected.profile?.displayName + ')' : ''
      }}"
      labelClass="data-test-permissions-tab-users"
      bodyClass="data-test-permissions-body-users"
    >
      <ng-template matTabContent>
        <es-permissions-authorities
          [mode]="'USER'"
          [searchQuery]="searchQuery"
          [org]="selected"
          (deselectOrg)="selected = null"
          (setTab)="setTab($event)"
        ></es-permissions-authorities>
      </ng-template>
    </mat-tab>
    } @if (!selected && isAdmin) {
    <mat-tab
      label="{{ 'PERMISSIONS.TAB.DELETE' | translate }}"
      labelClass="data-test-permissions-tab-deletion"
      bodyClass="data-test-permissions-body-deletion"
    >
      <es-permissions-delete></es-permissions-delete>
    </mat-tab>
    }
  </mat-tab-group>
  }
</div>
}
