.swimlanes {
    display: flex;
    flex-direction: column;
    background: #e4e4e4;

    es-dashboard-swimlane {
        &:nth-child(even) {
            background: #fefef9;
        }

        &:nth-child(odd) {
            background: #fafbe6;
        }
    }
}
