.swimlanes {
    display: flex;
    flex-direction: column;
    background: var(--backgroundColor);

    es-dashboard-swimlane {
        &:nth-child(even) {
            --es-dashboard-swimlane-background: var(--backgroundColor);
        }

        &:nth-child(odd) {
            --es-dashboard-swimlane-background: var(--backgroundOddColor);
        }
    }
}
.landing-page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--mainnavCurrentHeight));
    .landing-main {
        background-color: var(--defaultBackground);
        flex-grow: 1;
    }
}

// custom style for global options (this may need to be moved to another location)
::ng-deep .global-options .global-option-btn {
    // fix: button overflows gap
    min-width: unset;

    // adjust style of global options button
    .global-option {
        box-shadow: none !important;
        border-color: inherit !important;
        border-radius: 8px;
        border-width: 2px !important;
        color: inherit !important;
    }
}
