@if (dialogStep === STEP.selectGroup) {
<div class="select-group">
  <p class="mat-heading-5">{{ 'SIGNUP_GROUP.SELECT_GROUP' | translate }}</p>
  @if (groupsLoading) {
  <es-spinner></es-spinner>
  } @if (!groupsLoading) { @if (groups?.length) {
  <form [formGroup]="searchForm">
    <mat-form-field floatLabel="always">
      <mat-label>{{ 'SIGNUP_GROUP.SEARCH' | translate }}</mat-label>
      <i esIcon="search" matIconPrefix></i>
      <input matInput type="search" formControlName="search" autofocus #searchControl />
    </mat-form-field>
  </form>
  } @if (!(!groupsLoading && !groups?.length)) {
  <div class="list">
    @for (g of filteredGroups; track g) {
    <button
      mat-ripple
      (click)="select(g)"
      [class.selected]="g === group"
      [class.is-member]="isMemberOf(g)"
    >
      <es-authority-row
        [authority]="g"
        [secondaryTitle]="
          (isMemberOf(g)
            ? 'SIGNUP_GROUP.ALREADY_MEMBER'
            : 'SIGNUP_GROUP.SIGNUP_TYPE.' + g.signupMethod
          ) | translate
        "
      ></es-authority-row>
    </button>
    }
  </div>
  } } @if (!groupsLoading && !groups?.length) {
  <p class="mat-heading-4 no-groups-message">
    {{ 'SIGNUP_GROUP.NO_GROUPS' | translate }}
  </p>
  }
</div>
} @if (dialogStep === STEP.confirmGroup) {
<div class="confirm-group card-content-padding">
  <p class="mat-heading-5">{{ 'SIGNUP_GROUP.CONFIRM_GROUP' | translate }}</p>
  <p class="mat-heading-4 group-name">{{ group | authorityName }}</p>
  <es-info-message
    mode="info"
    message="{{ 'SIGNUP_GROUP.DESCRIPTION.' + group.signupMethod | translate }}"
  ></es-info-message>
  @if (group.signupMethod === 'password') {
  <es-input-password
    [(value)]="password"
    label="{{ 'SIGNUP_GROUP.GROUP_PASSWORD' | translate }}"
    autocomplete="new-password"
    (valueChange)="updateButtons()"
  ></es-input-password>
  }
</div>
}
