<div *ngIf="dialogStep === STEP.selectGroup" class="select-group">
  <p class="mat-heading-5">{{ 'SIGNUP_GROUP.SELECT_GROUP' | translate }}</p>
  <es-spinner *ngIf="groupsLoading"></es-spinner>
  <ng-container *ngIf="!groupsLoading">
    <button
      *ngFor="let g of groups"
      mat-ripple
      (click)="select(g)"
      [class.selected]="g === group"
      [class.is-member]="isMemberOf(g)"
    >
      <es-authority-row
        [authority]="g"
        [secondaryTitle]="
          (isMemberOf(g)
            ? 'SIGNUP_GROUP.ALREADY_MEMBER'
            : 'SIGNUP_GROUP.SIGNUP_TYPE.' + g.signupMethod
          ) | translate
        "
      ></es-authority-row>
    </button>
  </ng-container>
  <p class="mat-heading-4 no-groups-message" *ngIf="!groupsLoading && !groups?.length">
    {{ 'SIGNUP_GROUP.NO_GROUPS' | translate }}
  </p>
</div>
<div *ngIf="dialogStep === STEP.confirmGroup" class="confirm-group card-content-padding">
  <p class="mat-heading-5">{{ 'SIGNUP_GROUP.CONFIRM_GROUP' | translate }}</p>
  <p class="mat-heading-4 group-name">{{ group | authorityName }}</p>
  <es-info-message
    mode="info"
    message="{{ 'SIGNUP_GROUP.DESCRIPTION.' + group.signupMethod | translate }}"
  ></es-info-message>
  <es-input-password
    *ngIf="group.signupMethod === 'password'"
    [(value)]="password"
    label="{{ 'SIGNUP_GROUP.GROUP_PASSWORD' | translate }}"
    autocomplete="new-password"
    (valueChange)="updateButtons()"
  ></es-input-password>
</div>
