@import '../../../styles/variables';


.grid-card {
    transition: all $transitionNormal;
    // to prevent click animation to float across the whole screen
    overflow: hidden;
    background-color: #fff;
    @include materialShadowBottom();
    display: grid;
    grid-template-columns: auto;
    .dropdown-dummy {
        position: fixed;
    }
    .card-options {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 5px 5px 7px 5px;
        .card-options-spacer {
            // margin: 0 5px;
            // border-left: 1px solid #ccc;
        }
        app-option-button, button {
            transition: all $transitionNormal;
            margin: 0 2px;
            border-radius: 50%;
            &:hover,
            &:focus {
                background-color: #fff;
            }
        }
    }
    &:not(.grid-card-collection) {
        .card-top-bar {
            background-color: $primaryMediumLight;
        }
    }
    .card-top-bar {
        background-color: rgba(255,255,255,.5);
        height: $topBarHeight;
        display: flex;
        align-items: center;
        padding:0 $entriesCardPaddingHorizontal;
        .card-top-bar-type, .card-top-bar-flag {
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            //align-self: flex-start;
            border-radius: 50%;
            background-color: #fff;
            padding: 5px;
            margin-right: 10px;
            @include materialShadow();
            i {
                // TODO: do we want to style based on collection type?
                font-size: 18px;
                color: #333;
            }
            img {
                width: 18px;
                height: 18px;
            }
        }
        .card-top-bar-type {

        }
        .card-top-bar-checkbox {
            mat-checkbox {
                margin-right: -18px;
            }
        }
        .card-top-bar-empty {
            width: 0;
            flex-grow: 1;
        }

    }
    .card-image-area {
        position: relative;
        padding: 0;
        height: $imageHeight;
        overflow: hidden;
        .card-image-backdrop {
            position: absolute;
            width: 100%;
            height: 100%;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include blurImage(15px);
                opacity: 1;
            }
        }
        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            z-index: 1;
        }
        .card-collection-image {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;
                color: rgba(0,0,0,.75);
                background-color: rgba(255,255,255,.5);
                padding: $collectionIconPadding;
                font-size: $collectionIconSize;
                border-radius: 50%;
            }
        }
    }
    .card-meta {
        padding: $entriesCardPaddingVertical $entriesCardPaddingHorizontal 0 $entriesCardPaddingHorizontal;
        background-color: rgba(255,255,255, 0.8);
        display: grid;
        flex-direction: row;
        .card-meta-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 2.5em;
            > label {
                cursor: inherit;
                color: $textLight;
                font-size: 85%;
            }
            > app-list-base {
                color: #000;
                flex-grow: 1;
                margin: 5px 0;
                display: flex;
                justify-content: flex-end;
                word-break: break-word;
                // height: 1em;
                // @include limitLineCount(1);

            }
            &:first-child {
                > app-list-base {
                    font-size: 120%;
                    height: 1.25 * 2em;
                    @include limitLineCount(2, 1.25);
                }
            }
        }

    }
    &:hover {
        @include materialShadowMediumLarge(false, 0.3);
        .card-meta, .card-options {
            background-color: $primaryVeryLight;
        }
        // transform: scale(1.0075);
    }
    &.grid-card-collection:hover .card-meta {
        background-color: rgba(255,255,255, 0.9);
    }
    .card-options {
        border-top: 1px solid #ddd;
        // margin-top: 2px; white artefact on hover
    }
}
:host ::ng-deep {
    .grid-card app-node-url {
        a.cdk-keyboard-focused .card-meta{
            // @TDOO: better focus visibility is required
            background-color: $primaryLight;
        }
    }
    .grid-card-collection app-node-url {
        a.cdk-keyboard-focused .card-meta{
            // @TDOO: better focus visibility is required
            background-color: #fff;
        }
    }
    .card-meta {
        app-list-base {
            app-list-node-license {
                img {
                    height: 20px;
                }
            }
            app-list-collection-info {
                display: flex;
                align-items: center;
                // justify-content: flex-end;
                i {
                    font-size: 12pt;
                    margin: 0 6px;
                }
            }
        }
    }
    .grid-card-collection app-node-url {
        a.cdk-keyboard-focused .card-meta{
            // @TDOO: better focus visibility is required
            background-color: #fff;
        }
    }
}

