@import '../../../styles/variables';

$imageHeight: 150px;
$entriesCardPaddingHorizontal: 20px;
$entriesCardPaddingVertical: 10px;
$topBarHeight: 40px;
$collectionIconPadding: 40px;
$collectionIconSize: 40px;

@import 'node-entries-card.main';

.grid-card {
    .card-meta {
        .card-meta {
            > app-list-base {
                @include limitLineCount(2, 1.25);
            }
        }
    }
}
