@import '../../../styles/variables';

$imageHeight: 150px;
$entriesCardPaddingHorizontal: 20px;
$entriesCardPaddingVertical: 10px;
$topBarHeight: 40px;
$collectionIconPadding: 40px;
$collectionIconSize: 40px;

@import 'node-entries-card.main';
