<div
  class="grid-card"
  [class.grid-card-collection]="nodeHelper.isNodeCollection(node)"
  [style.background-color]="nodeHelper.isNodeCollection(node) ? node.collection.color : null"
>
  <div
    class="card-top-bar"
  >
    <div
      class="card-top-bar-type"
    >
      <ng-container *ngIf="nodeHelper.isNodeCollection(node)">
        <i
          matTooltip="{{'COLLECTION.SCOPE.' + nodeHelper.getCollectionScopeInfo($any(node)).scopeName | translate}}"
          [icon]="nodeHelper.getCollectionScopeInfo($any(node)).icon"></i>
      </ng-container>
      <ng-container *ngIf="!nodeHelper.isNodeCollection(node)">
        <img
          alt=""
          [src]="node.iconURL"
          [matTooltip]="node.mediatype ? ('NODE.mediatype' | translate) + ': ' + ('MEDIATYPE.' + node.mediatype | translate) : ''"
        >
      </ng-container>
    </div>
    <div
      *ngIf="nodeHelper.isNodeCollection(node) && node.collection.pinned"
      class="card-top-bar-flag"
    >
      <i icon="edu-pin"></i>
    </div>
    <div class="card-top-bar-empty"></div>
    <div class="card-top-bar-checkbox">
      <mat-checkbox
        [checked]="entriesService.selection.isSelected(node)"
        (change)="entriesService.selection.toggle(node)"
        aria-label="{{ 'SELECT' | translate:{element:(node | nodeTitle)} }}"
      ></mat-checkbox>
    </div>
  </div>
  <app-node-url *ngIf="entriesService.elementInteractionType === InteractionType.DefaultActionLink"
                [node]="node"
  >
    <ng-container *ngTemplateOutlet="image"></ng-container>
    <ng-container *ngTemplateOutlet="meta"></ng-container>
  </app-node-url>
  <ng-container *ngIf="entriesService.elementInteractionType !== InteractionType.DefaultActionLink">
    <ng-container *ngTemplateOutlet="image"></ng-container>
    <ng-container *ngTemplateOutlet="meta"></ng-container>
  </ng-container>
  <div class="card-options" *ngIf="entriesService.options">
    <dropdown #dropdown [options]="entriesService.options[Target.ListDropdown]"></dropdown>
    <app-option-button *ngFor="let option of optionsOnCard()"
                       class="card-options-always"
                       [option]="option"
                       [node]="node"
    ></app-option-button>
    <div class="card-options-spacer"></div>
    <button mat-icon-button
            color="primary"
            (click)="entriesService.selection.clear(); entriesService.selection.select(node)"
            [matMenuTriggerFor]="dropdown.menu"
    >
      <i icon="more_vert" [aria]="true"></i>
    </button>
  </div>
</div>
<ng-template #image>
  <div class="card-image-area">
    <div class="card-image-backdrop">
      <img
        *ngIf="!(nodeHelper.isNodeCollection(node) && node.preview.isIcon)"
        [src]="(node | appNodeImage)"
        alt=""
      >
    </div>
    <img
      *ngIf="!(nodeHelper.isNodeCollection(node) && node.preview.isIcon)"
      [src]="(node | appNodeImage)"
      alt=""
    >
    <div *ngIf="nodeHelper.isNodeCollection(node) && node.preview.isIcon"
         class="card-collection-image"
         role="img"
    >
      <i icon="layers"></i>
    </div>
  </div>
</ng-template>
<ng-template #meta>
  <div class="card-meta">
    <div
      *ngFor="let displayPart of entriesService.columns; let first = first;"
      class="card-meta-row"
    >
      <label *ngIf="!first">{{
        (displayPart | appListItemLabel)}}</label>
      <app-list-base
        [item]="displayPart"
        [node]="node"
        [showFieldTooltip]="true"
      >
      </app-list-base>
    </div>
  </div>
</ng-template>
