  <div class="title">
    <div class="label">{{ title | translate}}</div>
    <button mat-button class="close" (click)="cancel()"><i icon iconId="close"></i></button>
  </div>
  <div class="content" infinite-scroll [scrollWindow]="false" (scrolled)="loadData()">
    <listTable
      [viewType]="2"
      [hasHeading]="false"
      [addElement]="createCollectionElement"
      (onAddElement)="createCollection()"
    ></listTable>
    <div class="search">
      <form (ngSubmit)="loadData(true)" autocomplete="off">
        <mat-form-field floatLabel="always">
          <mat-label>{{ 'ADD_TO_RECENT_COLLECTION' | translate}}</mat-label>
            <i icon iconId="search" matPrefix>search</i>
            <input matInput type="search" name="search" [(ngModel)]="searchQuery"
                   title="{{'SEARCH_COLLECTIONS' | translate}}" placeholder="{{'SEARCH_COLLECTIONS' | translate}}" />
        </mat-form-field>
      </form>
    </div>
      <listTable *ngIf="isLoading || list.length"
        [nodes]="list"
        [columns]="columns"
        [hasIcon]="true"
        [hasCheckbox]="false"
        [hasHeading]="false"
        [isClickable]="true"
        [viewType]="2"
        [isLoading]="isLoading"
        [validatePermissions]="hasWritePermissions"
        [sortBy]="sortBy"
        [sortAscending]="sortAscending"
        [listClass]=""
        (onDrop)="drop($event)"
        (clickRow)="clickCollection($event.node)"></listTable>
    <h5 class="noElements" *ngIf="!isLoading && !list.length && searchQuery==''">{{'NO_MORE_ELEMENTS' | translate }}</h5>
    <h5 class="noElements" *ngIf="!isLoading && !list.length && searchQuery!=''">{{'NO_MATCHES' | translate }}</h5>
  </div>

