@if (!authorities()?.length) {
<div class="empty">
  {{ 'EDITORIAL.ASSIGNMENT.FORM.AUTHORITIES_EMPTY' | translate }}
</div>
} @if (authorities()?.length) {
<div class="node-list">
  @for (item of authoritiesFiltered(); track item) {
  <div>
    <es-user-avatar [user]="item.authority" size="xsmall"></es-user-avatar>
    <div class="title">{{ item.authority | authorityName }}</div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'EDITORIAL.ASSIGNMENT.FORM.AUTHORITY_ROLE' | translate }}</mat-label>
      @if (translateReady$ | async) {
      <mat-select [value]="item.role" (selectionChange)="setRole(item, $event)">
        @for (role of ['ASSIGNEE', 'COORDINATOR']; track role) {
        <mat-option [value]="role">{{
          'EDITORIAL.ASSIGNMENT.FORM.PERMISSION_ROLE.' +
            role +
            (role === 'ASSIGNEE'
              ? '_' + (item.authority.authorityType === 'USER' ? 'USER' : 'GROUP')
              : '') | translate
        }}</mat-option>
        }
      </mat-select>
      }
    </mat-form-field>
    <div class="warn-area">
      @if ( item.authority.authorityType !== 'USER' && item.role === 'ASSIGNEE' && assignment().type
      === 'SUBMISSION' ) {
      <div
        class="multiply-group"
        matTooltip="{{ 'EDITORIAL.ASSIGNMENT.FORM.GROUP_MULTIPLY' | translate }}"
      >
        <i esIcon="asterisk"></i>
      </div>
      }
    </div>
    <button mat-icon-button class="delete" (click)="remove(item)"><i esIcon="close"></i></button>
  </div>
  }
</div>
}
