
<div #drag class="dragBadge" [style.top]="(id*-9999999)+'px'"><div class="badge">{{currentDrag}}</div><div class="count">{{currentDragCount}}</div></div>
<button #menuTrigger="matMenuTrigger" mat-button class="dropdown-dummy" [style.left]="dropdownLeft" [style.top]="dropdownTop" [matMenuTriggerFor]="dropdown.menu"></button>
<dropdown #dropdown [options]="dropdownOptions" [callbackObject]="selectedNodes ? selectedNodes[0] : null"></dropdown>

<card
    *ngIf="reorderDialog"
    height="large"
    title="{{'LIST.REORDER_TITLE' | translate }}"
    subtitle="{{'LIST.REORDER_DRAG_DROP' | translate }}"
    icon="settings"
    [isCancelable]="true"
    (onCancel)="closeReorder(false)"
    [buttons]="reorderButtons">
    <div class="card-content-padding reorder-dialog">
        <div *ngFor="let item of columnsAll;let i=index;"
             class="checkbox"
             [draggable]="i>0"
             (dragend)="currentDragColumn=null"
             (dragover)="allowDragColumn($event,i,item)" (drop)="dropColumn($event,i,item)"
             (dragstart)="dragStartColumn($event,i,item)">
                <mat-checkbox [disabled]="i==0" [(ngModel)]="item.visible">{{item.type+"."+item.name | translate}}</mat-checkbox>
        </div>
    </div>
</card>
<div [className]="listClass + ' list list-type-'+(viewType == 0 ? 'table' : 'card')"
     infinite-scroll [scrollWindow]="scrollWindow" (scrolled)="scroll(false)">
    <div class="headingGroup" *ngIf="hasHeading && viewType==0">
        <div class="totalCount" *ngIf="totalCount && hasCheckbox && !isLoading">({{selectedNodes && selectedNodes.length ? selectedNodes.length+'/'+totalCount : totalCount}})</div>

        <sort-dropdown class="sortMenu" [(open)]="sortMenu" [sortBy]="sortBy" [sortAscending]="sortAscending" [columns]="getSortableColumns()" (onSort)="setSorting($event)"></sort-dropdown>

        <div class="heading">
        <div class="checkbox" *ngIf="hasCheckbox">
            <mat-checkbox *ngIf="_nodes && _nodes.length" (change)="toggleAll()" [ngModel]="selectedNodes.length==_nodes.length"></mat-checkbox>
        </div>
        <div class="checkboxDummy" *ngIf="!hasCheckbox">&nbsp;</div>
        <div class="icon" *ngIf="hasIcon">&nbsp;</div>
            <div *ngFor="let item of columnsVisible;let i = index"
             class="{{getItemCssClass(item)}} row_{{i+1}}">
            <a class="text" [class.clickable]="canBeSorted(item)" (click)="setSortingIntern(item,i==0)">{{item.type+"."+item.name | translate}}</a>
            <div *ngIf="sortBy" class="sorting" (click)="setSortingIntern(item,i==0)">
                <a class="" *ngIf="sortBy==item.name && sortAscending"><i icon iconId="arrow_drop_up"></i></a>
                <a class="" *ngIf="sortBy==item.name && !sortAscending"><i icon iconId="arrow_drop_down"></i></a>
            </div>
        </div>
        <div *ngFor="let option of optionsAlways"  class="more moreAlways" > </div>
        <div class="more-header" *ngIf="_options && _options.length">&nbsp;</div>
        <div class="removeColumn" *ngIf="currentDragColumn && reorderColumns"
             (dragover)="allowDeleteColumn($event)" (drop)="deleteColumn($event)"
        ><i icon iconId="delete"></i></div>
        </div>
    </div>
    <div
        *ngIf="!reorderDialog"
        class="list-container"
        [class.cardContainer]="viewType==1 || viewType==2"
        [class.tableList]="viewType == 0"
        [class.cardList]="viewType == 1"
        [class.cardSmallList]="viewType == 2"
    >
        <div *ngIf="optionItems && optionItems.length > 0" class="item-container option-item-container">
          <app-list-option-item
              *ngFor="let option of optionItems"
              [option]="option"
              class="clickable option-item item"
          ></app-list-option-item>
        </div>
        <div matRipple matRippleColor="primary" *ngFor="let node of _nodes; let i = index"
            class="rowFrame item-container item"
            [class.order-animation]="orderElementsActive"
            [class.nodeCollection]="isCollection(node)"
            [class.selected]="getSelectedPos(node)!=-1"
            [class.node-virtual]="node.virtual"
            [style.border-color]="isCollection(node) ? getCollectionColor(node) : null"
            [class.hover]="dragHover==node"
        >
            <div class="row node-row"
                 [class.noCCPublish]="applyMode && node.access.indexOf('CCPublish')==-1"
                 [class.noPermissions]="noPermissions(node)"
                 [style.backgroundColor]="isCollection(node) ? (viewType==2 ? node.preview.isIcon ? getCollectionColor(node) : '#000' : getCollectionColor(node)) : null"
                 [style.border-color]="isCollection(node) ? getCollectionColor(node) : null"
                 [class.dark-color]="isCollection(node) && node.preview.isIcon && isBrightColorCollection(getCollectionColor(node))"
                 (appDistinctClick)="onDistinctClick($event, node)"
                 (dblclick)="doubleClick(node)"
                 (contextmenu)="contextMenu($event,node)"
                 (keydown)="handleKeyboard($event)"
                 [appNodesDragSource]="dragDrop ? selectedNodes : null"
                 (nodesDragStart)="onNodesDragStart($event, node)"
                 (nodesDragEnd)="onNodesDragEnd()"
                 [appNodesDropTarget]="canDropNodes.bind(this, node)"
                 [nodesDragAllowedActions]="isNodesDragSource ? ['move'] : ['move', 'copy']"
                 (nodesDragEnter)="onNodesDragEnter(node)"
                 (nodesHoveringChange)="onNodesHoveringChange($event, node)"
                 (nodesDrop)="onNodesDrop($event, node)"
                 tabindex="0"
                 (keyup.enter)="doubleClick(node)">
                <!-- custom data binding from outside -->
                <ng-container *ngTemplateOutlet="itemContentRef; context: { $implicit: node }"></ng-container>
                <div *ngIf="viewType==1 && getReference(node).properties && getReference(node).properties['virtual:childobjectcount']>0" class="childobjectCount">
                    <span>{{getReference(node).properties['virtual:childobjectcount']*1+1}}</span><i icon iconId="filter_none"></i>
                </div>
                <div *ngIf="viewType==1 && !isCollection(node)" class="typeicon column">
                    <img src="{{getIconUrl(node)}}" [attr.role]="presentation" alt="presentation">
                </div>
                <div *ngIf="viewType==1 && !isCollection(node) && !node.isDirectory" class="nodeRatingComments">
                    <div class="nodeRating"></div>
                    <div class="nodeComments" (appDistinctClick)="onDistinctClick($event, node, 'comments')"><i icon iconId="comment"></i> <div>{{node.commentCount}}</div></div>
                </div>
                <div *ngIf="isCollection(node) && node.collection.type=='EDITORIAL'" class="collectionEditorial"><i class="material-icons">star</i></div>
                <div *ngIf="isCollection(node) && node.collection.pinned" class="collectionPinned"><i icon iconId="edu-pin"></i></div>
                <div class="checkbox column" *ngIf="hasCheckbox">
                    <mat-checkbox [ngModel]="getSelectedPos(node)!=-1" (change)="onCheckboxClick(node)" (click)="$event.stopPropagation()"></mat-checkbox>
                </div>
                <div class="checkboxDummy column" *ngIf="!hasCheckbox"></div>
                <div class="ccPublishMissing" *ngIf="applyMode && node.access.indexOf('CCPublish')==-1">
                    <div>
                        <i icon iconId="security"></i>
                        <div>{{'NO_CC_PUBLISH' | translate }}</div>
                        <a *ngIf="node.properties['ccm:questionsallowed'] && node.properties['ccm:questionsallowed'][0]=='true'"
                           (click)="askCCPublish($event,node)"
                        ><i icon iconId="message"></i> {{ 'ASK_CC_PUBLISH' | translate}}</a>
                    </div>
                </div>
                <div class="permissionsMissing" *ngIf="noPermissions(node)">
                    <div>
                        <i icon iconId="security"></i>
                        <div>{{validatePermissions(node).message | translate }}</div>
                        <button mat-button color="primary"
                            *ngIf="validatePermissions(node).button"
                            (click)="validatePermissions(node).button.click();$event.stopPropagation();"
                        ><i class="material-icons">{{validatePermissions(node).button.icon}}</i> {{ validatePermissions(node).button.caption | translate}}</button>
                    </div>
                </div>
                <div
                  class="preview column"
                  *ngIf="viewType==1 || viewType==2"
                  [class.clickable]="isClickable"
                  (appDistinctClick)="onDistinctClick($event, node, 'preview')"
                >
                    <img *ngIf="node.preview.url && !(isCollection(node) && node.preview.isIcon) || (viewType==2 && !node.preview.isIcon)"
                         src="{{(!isCollection(node) || !node.preview.isIcon) ? node.preview.url+(isHomeNode(node) && animateNode!=node ? '&crop=true&maxWidth=300&maxHeight=300' : '') : null}}"
                         [title]="viewType==0 ? '' : getTitle(node)"
                         [attr.role]="'presentation'"
                         (mouseenter)="animateIcon(node,true)"
                         (mouseleave)="animateIcon(node,false)"
                         [class.blurred]="isDeleted(node) || noPermissions(node) || applyMode && node.access.indexOf('CCPublish')==-1"
                         alt="{{'SEARCH.PREVIEWIMAGE_FOR' | translate}} {{getAttribute(node,columnsVisible[0])}}"/>
                    <div class="previewCollectionContainer" *ngIf="isCollection(node) && node.preview.isIcon && viewType!=2">
                        <div class="previewCollection" [style.backgroundColor]="getCollectionColor(node)">
                            <i icon iconId="layers"></i>
                        </div>
                    </div>
                </div>

                <div class="nodeDeleted clickable" *ngIf="isDeleted(node)">
                    <div>
                        <i icon iconId="delete"></i>
                        <div class="headline">{{'ORIGINAL_DELETED' | translate }}</div>
                        <div class="subline">{{'ORIGINAL_DELETED_INFO' | translate }}</div>
                        <button mat-button color="primary"
                                (click)="delete(node); $event.stopPropagation();" *ngIf="canDelete ? canDelete(node) : false"
                        >{{ 'ORIGINAL_DELETE' | translate}}</button>
                    </div>
                </div>

                <div class="icon column" *ngIf="hasIcon && viewType==0" [class.clickable]="isClickable">
                    <div class="icon-bg">
                        <img *ngIf="getIconUrl(node) && !isCollection(node)" src="{{getIconUrl(node)}}" [attr.role]="presentation" alt=""/>
                        <i *ngIf="!isCollection(node) && icon" icon iconId="{{icon}}"></i>
                        <i *ngIf="isCollection(node)" class="material-icons" [style.color]="getCollectionColor(node)">layers</i>
                    </div>
                </div>
                <div *ngFor="let item of columnsVisible;let i = index" class="column {{getItemCssClass(item)}} row_{{i+1}}" [class.clickable]="isClickable">
                    <div class="display-none" [attr.property]="getLRMIProperty(node,item)">{{getLRMIAttribute(node,item)}}</div>
                    <div class="row-group">
                        <a *ngIf="i==0 && createLink"
                           href="{{ node | nodeUrl }}"
                           tabindex="-1"
                           (click)="false"
                           class="rowInner"
                           [innerHTML]="getAttribute(node,item) | safeHtml"></a>
                        <div *ngIf="i!=0" class="rowInner" [innerHTML]="getAttribute(node,item) | safeHtml"></div>
                        <div *ngIf="i==0 && viewType==0 && getReference(node).properties && getReference(node).properties['virtual:childobjectcount']>0" class="childobjectCount">
                            <span>{{getReference(node).properties['virtual:childobjectcount']*1+1}}</span><i icon iconId="filter_none"></i>
                        </div>
                    </div>
                </div>
                <div *ngFor="let option of optionsAlways"
                     class="more moreAlways column"
                     [style.opacity]="optionIsShown(option,node) ? 1 : 0">
                    <button mat-icon-button
                            [disabled]="!optionIsValid(option, node)"
                            (click)="optionIsShown(option, node) ? callOption(option,node) : null">
                        <i icon iconId="{{option.icon}}"></i>
                    </button>
                </div>
                <div class="more column" *ngIf="_options && _options.length>1" ><button mat-icon-button (click)="showDropdown(node,true,$event);$event.stopPropagation();"><i icon iconId="more_vert" aria="true"></i></button></div>
                <div class="more moreSingle column" *ngIf="_options && _options.length==1 && optionIsShown(_options[0],node)">
                    <button mat-icon-button
                            [class.disabled]="!optionIsValid(_options[0],node)"
                            matTooltip="{{_options[0].name | translate}}"
                            (click)="callOption(_options[0],node);$event.stopPropagation();">
                        <i icon iconId="{{_options[0].icon}}"></i>
                    </button></div>
            </div>
        </div>
        <div *ngIf="_nodes && _nodes.length && hasMore && !isLoading" class="clickable loadMore" (click)="scroll(true)">
            <i icon iconId="refresh"></i>
            <div>{{'LOAD_MORE' | translate}}</div>
        </div>
        <spinner *ngIf="isLoading"></spinner>
    </div>
