<workspace-file-upload-select
        *ngIf="add"
        [priority]="2"
        [multiple]="true"
        [showLti]="false"
        [supportsDrop]="true"
        (onCancel)="add=false"
        (onFileSelected)="addFiles($event)"
        (onLinkSelected)="addLink($event)"
></workspace-file-upload-select>
<mds
        *ngIf="_edit"
        [priority]="2"
        [groupId]="'io_childobject'"
        [currentValues]="_edit.properties"
        (onCancel)="_edit=null"
        (onDone)="setProperties($event)"
        [invalidate]="_edit!=null"
></mds>
<workspace-license
        *ngIf="_editLicense"
        [priority]="2"
        [properties]="_editLicense.properties"
        (onDone)="setProperties($event)"
        (onCancel)="_editLicense=null"
></workspace-license>

<div class="childobject-wrapper">
  <app-mds-editor-widget-container [label]="'MDS.ADD_CHILD_OBJECT' | translate">
    <div class="group">
      <label>{{'MDS.ADD_CHILD_OBJECT_DESCRIPTION' | translate}}</label>
      <div cdkDropList
           class="childobject-list"
           (cdkDropListDropped)="drop($event)">
        <div class="childobject-entry"
             cdkDrag
             *ngFor="let child of children; let pos = index">
          <div class="icon"><img [src]="child.icon"></div>
          <div class="name">{{child.name}}</div>
          <button mat-icon-button
                  class="license"
                  (click)="editLicense(child)"
          ><i icon iconId="copyright"></i>
          </button>
          <button mat-icon-button
                  class="edit"
                  (click)="edit(child)"
          ><i icon iconId="edit"></i>
          </button>
          <button mat-icon-button
                  class="edit"
                  (click)="remove(child)"
          ><i icon iconId="remove_circle_outline"></i>
          </button>
        </div>
        <button mat-button
                color="primary"
                class="add"
                (click)="add = true">
          <i icon iconId="add"></i>
          {{'ADD' | translate}}
        </button>
      </div>
    </div>
  </app-mds-editor-widget-container>
</div>