@import 'projects/edu-sharing-ui/assets/scss/variables-scss';

.group-padding {
    padding: 30px $cardPadding;
    .additional-permissions {
        display: flex;
        flex-direction: column;
        padding: 10px;
        > es-info-message {
            padding-bottom: 10px;
        }
    }
}
