<div class="group-padding">
  <mat-checkbox [(ngModel)]="restrictedAccess">
    <es-multi-line-label>
      <ng-container slot="label">
        {{ 'WORKSPACE.SHARE.RESTRICTED_ACCESS.PRIMARY' | translate }}
      </ng-container>
      <span class="description" slot="description">
        {{ 'WORKSPACE.SHARE.RESTRICTED_ACCESS.SECONDARY' | translate }}
      </span>
    </es-multi-line-label>
  </mat-checkbox>
  @if (restrictedAccess) {
  <div class="additional-permissions">
    <h5 class="mat-heading-5">
      {{ 'WORKSPACE.SHARE.RESTRICTED_ACCESS.ADDITIONAL_PERMISSIONS' | translate }}
    </h5>
    <es-info-message
      mode="info"
      message="{{ 'WORKSPACE.SHARE.RESTRICTED_ACCESS.ADDITIONAL_PERMISSIONS_INFO' | translate }}"
    ></es-info-message>
    @for (permission of restrictedAccessPermissions | keyvalue; track permission) {
    <mat-checkbox [(ngModel)]="restrictedAccessPermissions[permission.key]">
      {{ 'WORKSPACE.SHARE.RESTRICTED_ACCESS.PERMISSION.' + permission.key | translate }}
    </mat-checkbox>
    }
  </div>
  }
</div>
