<es-card
  title="{{ 'ADD_TO_STREAM.TITLE' | translate }}"
  [node]="_nodes"
  width="normal"
  height="xlarge"
  [buttons]="buttons"
  (onCancel)="cancel()"
>
  <div class="wrapper">
    <es-mds #mds [embedded]="true" [groupId]="'add_to_stream'" [invalidate]="reloadMds"></es-mds>
    <div class="audience">
      <h4>{{ 'ADD_TO_STREAM.AUDIENCE_TYPE' | translate }}</h4>
      <input
        type="radio"
        name="audienceType"
        id="audienceTypeEveryone"
        [(ngModel)]="audienceMode"
        value="0"
      /><label for="audienceTypeEveryone">{{
        'ADD_TO_STREAM.AUDIENCE_EVERYONE' | translate
      }}</label>
      <input
        type="radio"
        name="audienceType"
        id="audienceTypeCustom"
        [(ngModel)]="audienceMode"
        value="1"
      /><label for="audienceTypeCustom">{{ 'ADD_TO_STREAM.AUDIENCE_CUSTOM' | translate }}</label>
      <div class="audienceEveryone" *ngIf="audienceMode == AUDIENCE_MODE_EVERYONE">
        {{ 'ADD_TO_STREAM.AUDIENCE_EVERYONE_INFO' | translate }}
      </div>
      <div class="audienceSearch" *ngIf="audienceMode == AUDIENCE_MODE_CUSTOM">
        <div class="search">
          <es-authority-search-input
            [globalSearchAllowed]="false"
            (onChooseAuthority)="addInvite($event)"
          ></es-authority-search-input>
        </div>
        <mat-chip-listbox class="toInvite">
          <mat-chip-option *ngFor="let auth of invite" (removed)="removeInvite(auth)">
            <span>{{ auth | authorityName }}</span>
            <i matChipRemove esIcon="cancel"></i>
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
  </div>
</es-card>
