<es-card
  title="{{ 'PERMISSIONS.TOOLPERMISSIONS.TITLE' | translate }}"
  [subtitle]="name"
  [buttons]="buttons"
  width="xlarge"
  [isCancelable]="changing.length === 0"
  (cancel)="close()"
  height="xlarge"
>
  <div class="heading-group">
    @if (!isLoading) {
    <div class="heading">
      <div class="name">
        {{
          (_authority.authorityType === 'GROUP'
            ? 'PERMISSIONS.TOOLPERMISSIONS.MEMBERS_ALLOWED'
            : _authority.authorityType === 'EVERYONE'
            ? 'PERMISSIONS.TOOLPERMISSIONS.EVERYONE_ALLOWED'
            : 'PERMISSIONS.TOOLPERMISSIONS.USER_ALLOWED'
          ) | translate
        }}:
      </div>
      <div class="checkboxDiv">{{ 'PERMISSIONS.TOOLPERMISSIONS.ALLOW' | translate }}</div>
      @if (_authority.authorityType !== 'EVERYONE') {
      <div class="checkboxDiv">
        {{ 'PERMISSIONS.TOOLPERMISSIONS.DENY' | translate }}
      </div>
      }
      <div class="result">{{ 'PERMISSIONS.TOOLPERMISSIONS.RESULT' | translate }}</div>
    </div>
    }
    <!--<div class="fade"></div>-->
  </div>
  <div class="toolpermissions">
    <form>
      @if (isLoading) {
      <es-spinner></es-spinner>
      } @if (!isLoading) {
      <div class="table">
        @for (group of getGroups(); track group) {
        <div class="group">
          <div class="card-title-element">
            <i [esIcon]="group.icon"></i
            >{{ 'PERMISSIONS.TOOLPERMISSIONS.GROUP.' + group.name | translate }}
          </div>
          @for (key of getToolpermissionsForGroup(group); track key) {
          <div class="groupTable">
            <div class="name">
              @if (group.name !== 'CONNECTORS' && group.name !== 'REPOSITORIES') {
              <div>
                {{ 'TOOLPERMISSION.' + key | translate }}
              </div>
              } @if (group.name === 'CONNECTORS') {
              <div>
                {{
                  'TOOLPERMISSION.TOOLPERMISSION_CONNECTOR' + (getTpSafe(key) ? '_SAFE' : '')
                    | translate : { connector: getTpConnector(key) }
                }}
              </div>
              } @if (group.name === 'REPOSITORIES') {
              <div>
                {{
                  'TOOLPERMISSION.TOOLPERMISSION_REPOSITORY'
                    | translate : { repository: getTpRepository(key) }
                }}
              </div>
              }
              <div class="technicalName">{{ key }}</div>
              @if (permissions[key]?.systemManaged) {
              <es-info-message mode="warning">
                {{ 'PERMISSIONS.TOOLPERMISSIONS.SYSTEM_MANAGED_WARNING' | translate }}
              </es-info-message>
              }
            </div>
            <div class="checkboxDiv checkboxInput">
              <mat-checkbox
                [disabled]="changing.indexOf(key) !== -1"
                [(ngModel)]="allow[key]"
                name="allow{{ key }}"
                (change)="deny[key] = false; change(key)"
              ></mat-checkbox>
            </div>
            @if (_authority.authorityType !== 'EVERYONE') {
            <div class="checkboxDiv checkboxInput">
              <mat-checkbox
                [disabled]="changing.indexOf(key) !== -1"
                [(ngModel)]="deny[key]"
                name="deny{{ key }}"
                (change)="allow[key] = false; change(key)"
              ></mat-checkbox>
            </div>
            }
            <div
              class="result"
              [class.allowed]="getEffective(key) === 'ALLOWED'"
              [class.denied]="getEffective(key) !== 'ALLOWED'"
            >
              @if (changing.indexOf(key) !== -1) {
              <div><es-spinner-small></es-spinner-small></div>
              } @if (changing.indexOf(key) === -1) {
              <div
                [matTooltip]="isImplicit(key) ? getImplicitDetail(key) : ''"
                matTooltipClass="toolpermission-tooltip"
              >
                <div class="text">
                  {{ 'PERMISSIONS.TOOLPERMISSIONS.STATUS_' + getEffective(key) | translate }}
                </div>
                @if (isImplicit(key)) {
                <i esIcon="edu-inherit" class="inherit"></i>
                } @if (getEffective(key) === 'UNKNOWN') {
                <i
                  class="inherit"
                  esIcon="warning"
                  matTooltip="{{ 'PERMISSIONS.TOOLPERMISSIONS.INHERIT_UNKNOWN' | translate }}"
                ></i>
                }
              </div>
              }
            </div>
          </div>
          }
        </div>
        } @if (_authority.authorityType === 'EVERYONE') {
        <div class="group-add">
          <div class="card-title-element">
            <i class="material-icons">add</i
            >{{ 'PERMISSIONS.TOOLPERMISSIONS.GROUP.ADD' | translate }}
          </div>
          <div class="add">
            <mat-form-field>
              <mat-label>{{ 'PERMISSIONS.TOOLPERMISSIONS.GROUP.ADD_LABEL' | translate }}</mat-label>
              <input matInput name="addName" [(ngModel)]="addName" />
            </mat-form-field>
            @if (creatingToolpermission) {
            <es-spinner-small></es-spinner-small>
            } @if (!creatingToolpermission) {
            <button
              mat-raised-button
              color="primary"
              (click)="createToolpermission()"
              [class.disabled]="!addName.trim()"
            >
              {{ 'PERMISSIONS.TOOLPERMISSIONS.ADD' | translate }}
            </button>
            }
          </div>
        </div>
        }
      </div>
      }
    </form>
  </div>
</es-card>
