<div class="base-card" *ngIf='!isNewCollectionPlaceholder'
         tabindex="0"
         (keyup.enter)="click()"
         (click)="click()"
     [class.base-card-deleted]="originalDeleted()"
>

    <!-- ******** CARD IMAGE ********** -->

    <div *ngIf="isCollection" class="card-collection-image-container">
        <img *ngIf="!collection.preview.isIcon" class="card-image-collection" [src]="collection.preview.url+'&crop=true&width=200&height=150'" (error)="collection.previewUrl=null" role="presentation"/>
        <div *ngIf="collection.preview.isIcon" class="card-image-icon-container" [style.background-color]="collection.color">
            <i class="material-icons" style="font-size: 75px; margin-top: 23px;">layers</i>
        </div>
    </div>

    <div *ngIf="!isCollection" class="card-image-container">
       <img class="card-image-content"
            [class.blurred]="originalDeleted()"
            src="{{node.preview.url+'&crop=true&width=200&height=150'}}" />
      <div class="reference-deleted" *ngIf="originalDeleted()">
        <div>
          <i class="material-icons">delete</i>
          <div class="headline">{{'COLLECTIONS.ORIGINAL_DELTED' | translate }}</div>
          <div class="subline">{{'COLLECTIONS.ORIGINAL_DELTED_INFO' | translate }}</div>
          <a
             (click)="delete($event)" *ngIf="isAllowedToDelete()"
          >{{ 'COLLECTIONS.ORIGINAL_DELETE' | translate}}</a>
        </div>
      </div>
    </div>

    <!-- ******** CARD TEXT ********** -->

    <section *ngIf='isContent' class="card-content-textarea" title="{{getName()}}">
        <!-- CONTENT card text -->
        <div class="card-headline" style="
           ">
            {{getName()}}
        </div>


        <div class="card-collection-ownerline" style="margin-top:15px;height:25px;font-size: 85%; padding-left:16px;">
          <div *ngIf="getCreatorName()">
            <i class="material-icons icon-bottom" style="font-size:100%;margin-bottom: 1px;">person</i>
            {{getCreatorName()}}
          </div>
        </div>
        <div class="card-collection-ownerline" style="padding-top:0;font-size: 85%; padding-left:16px;">
            <i class="material-icons icon-bottom" style="font-size:100%;margin-bottom: 1px;">alarm</i>
            {{getCreateTime()}}
        </div>
      <div class="card-collection-license" [innerHTML]="getLicense()">
      </div>
    </section>


    <section *ngIf='isCollection' class="card-collection-textarea" [style.background-color]="collection.color">


        <div class="card-collection-headline">
            {{collection.title}}
        </div>
        <div class="card-collection-subline">
            <span *ngIf="(collection.childCollectionsCount==1)">{{collection.childCollectionsCount}} {{ 'COLLECTION.INFO_REFERENCES' | translate }}</span><span *ngIf="(collection.childCollectionsCount>1)">{{collection.childCollectionsCount}} {{ 'COLLECTION.INFO_REFERENCES_MULTI' | translate }}</span><span *ngIf="((collection.childReferencesCount>0) && (collection.childCollectionsCount>0))">, </span>
            <span *ngIf="(collection.childReferencesCount==1)">{{collection.childReferencesCount}} {{ 'COLLECTION.INFO_CHILDS' | translate }}</span>
            <span *ngIf="(collection.childReferencesCount>1)">{{collection.childReferencesCount}} {{ 'COLLECTION.INFO_CHILDS_MULTI' | translate }}</span>
            <span *ngIf="((collection.childReferencesCount==0) && (collection.childCollectionsCount==0))">{{'COLLECTION.INFO_NO_CONTENT' | translate}}</span>
        </div>

        <div class="card-collection-ownerline">
            <i class="material-icons icon-bottom">person</i> {{collection.owner.profile.firstName}} {{collection.owner.profile.lastName}}
        </div>

        <div class="card-collection-ownerline">
            <span *ngIf="getCollectionPrivacyScope()==''"><i class="material-icons icon-bottom">help outline</i> ...</span>
            <span *ngIf="getCollectionPrivacyScope()=='MY'"><i class="material-icons icon-bottom">lock</i> {{ 'COLLECTION.SCOPE.MY' | translate }}</span>
            <span *ngIf="getCollectionPrivacyScope()=='EDU_GROUPS' || getCollectionPrivacyScope()=='CUSTOM'"><i class="material-icons icon-bottom">group</i> {{ 'COLLECTION.SCOPE.SHARED' | translate }}</span>
            <span *ngIf="getCollectionPrivacyScope()=='EDU_ALL' || getCollectionPrivacyScope()=='CUSTOM_PUBLIC'"><i class="material-icons icon-bottom">language</i> {{ 'COLLECTION.SCOPE.PUBLIC' | translate }}</span>
        </div>

    </section>

</div>

<div class="base-card new-collection-placeholder-card" *ngIf='isNewCollectionPlaceholder'
     tabindex="0"
     (keyup.enter)="click()"
     (click)="click()"
>
    <!-- CREATE A NEW COLLECTION PLACEHOLDER -->
    <div class="new-collection-placeholder-plus">+</div>
    <div class="new-collection-placeholder-text"> {{ 'collections_createNewCollection' | translate }}</div>
</div>
