<main-nav
        #mainNav
        [title]="'PROFILES.TITLE_NAV'"
        [currentScope]="'profiles'"
        [searchEnabled]="false"
></main-nav>

<div class="profile-bg" *ngIf="user">
  <div class="avatar-default"></div>
  <!--
  <img *ngIf="!edit && !avatarFile && user.profile.avatar" [src]="user.profile.avatar+'&crop=true&width=1000&height=1000'" alt="">
  <img *ngIf="edit && !avatarFile && userEdit.profile.avatar" [src]="user.profile.avatar+'&crop=true&width=1000&height=1000'" alt="">
  <img *ngIf="avatarFile" [src]="avatarImage" alt="">
  -->
  <div class="profile-gradient"></div>
</div>
<div class="profiles-wrapper">
  <div class="profiles" *ngIf="user">
    <div role="main" [appSkipTarget]="SkipTarget.MainContent" class="main">
      <h1 appTitle class="cdk-visually-hidden">{{ 'PROFILES.TITLE' | translate: {name: user | authorityName} }}</h1>
      <div class="top" style.background-color="{{ (edit ? userEdit : user) | authorityColor }}">
        <div class="profile-gradient"></div>
        <img *ngIf="!edit && user.profile.avatar" class="blurred-image" [src]="user.profile.avatar+'&crop=true&width=400&height=400'" alt="">
        <img *ngIf="edit && !avatarFile && userEdit.profile.avatar" class="blurred-image" [src]="user.profile.avatar+'&crop=true&width=400&height=400'" alt="">
        <img *ngIf="edit && avatarFile" class="blurred-image" [src]="avatarImage" alt="">
        <!--<button mat-button class="edit clickable" *ngIf="isMe && !edit && !editAbout && editProfile && (userEditProfile || editProfileUrl)" (click)="beginEdit()"><i class="material-icons">edit</i><span>{{'PROFILES.EDIT' | translate}}</span></button>-->
        <actionbar *ngIf="isMe && !edit"
                   [style]="'flat'"
                   [numberOfAlwaysVisibleOptions]="1"
                   [numberOfAlwaysVisibleOptionsMobile]="1"
                   [options]="actions"></actionbar>
        <button mat-button class="edit clickable" *ngIf="isMe && edit" (click)="edit=false"><i icon="close"></i><span>{{'PROFILES.CANCEL_EDIT' | translate}}</span></button>
        <user-avatar *ngIf="!edit"
                     [user]="user"
        ></user-avatar>
        <user-avatar *ngIf="edit"
                     [user]="userEdit"
                     [customImage]="avatarFile"
        ></user-avatar>

        <div *ngIf="edit" class="editAvatar">
          <input #avatar type="file" (change)="updateAvatar($event)" accept="image/*" class="hide">
          <div class="new-avatar-button" (click)="avatar.click()">
            <span>{{'PROFILES.IMG_CHANGE' | translate}}</span>
          </div>
          <button mat-button *ngIf="hasAvatar()" (click)="clearAvatar()"><i icon="delete"></i></button>
        </div>

        <div *ngIf="!edit">
          <div class="name">{{user | authorityName}}</div>
          <div *ngIf="user.profile.email " class="mail"><a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a></div>
          <!--<div class="authorityName">-->
          <!--<div>{{'USER.authorityName' | translate}}: {{ user.authorityName }}</div>-->
          <!--</div>-->
        </div>
        <div *ngIf="edit">
          <div>
            <mat-form-field class="mat-form-field-bright">
              <mat-label>{{'USER.firstName' | translate}}</mat-label>
              <input matInput type="text" [(ngModel)]="userEdit.profile.firstName">
            </mat-form-field>
            <mat-form-field class="mat-form-field-bright">
              <mat-label>{{'USER.lastName' | translate}}</mat-label>
              <input matInput type="text" [(ngModel)]="userEdit.profile.lastName">
            </mat-form-field>
          </div>
          <div class="email-group-form">
            <mat-form-field class="mat-form-field-bright email">
              <mat-label>{{'USER.email' | translate}}</mat-label>
              <input matInput type="email" [(ngModel)]="userEdit.profile.email">
            </mat-form-field>
            <mat-slide-toggle [color]="$any('primary-bright')"
                              matTooltip="{{ 'PROFILE_SETTINGS.SHOW_EMAIL_TOOLTIP' | translate}}"
                              [checked]="profileSettings.showEmail"
                              [(ngModel)]="profileSettings.showEmail">
              <mat-label class="mat-slide-label">{{ 'PROFILE_SETTINGS.SHOW_EMAIL_LABEL' | translate}}</mat-label>
            </mat-slide-toggle>
          </div>
        </div>
        <div class="save">
          <button mat-raised-button *ngIf="edit" (click)="saveEdits()">{{'SAVE' | translate}}</button>
        </div>
      </div>
      <div class="statsBackground">
        <div class="stats">
          <div [class.stat-link]="canActivateLinks()"
               [routerLink]=" canActivateLinks()? ['/' + ROUTER_PREFIX + 'workspace'] : []">
            <div class="stat">
              {{'PROFILES.STATS.MATERIALS' | translate}}
            </div>
            <div class="value">
              {{ userStats.nodeCount }}
            </div>
          </div>
          <div [class.stat-link]="canActivateLinks()"
               [routerLink]=" canActivateLinks() ? ['/' + ROUTER_PREFIX + 'collections'] : []"
               [queryParams]="canActivateLinks() ? { scope: 'MY' } : {}">
            <div class="stat">
              {{'PROFILES.STATS.COLLECTIONS' | translate}}
            </div>
            <div class="value">
              {{ userStats.collectionCount }}
            </div>
          </div>
          <div [class.stat-link]="canActivateLinks()"
               [routerLink]=" canActivateLinks() ? ['/' + ROUTER_PREFIX + 'workspace'] : []">
            <div class="stat">
              {{'PROFILES.STATS.MATERIALS_CC' | translate}}
            </div>
            <div class="value">
              {{ userStats.nodeCountCC }}
            </div>
          </div>
        </div>
      </div>
      <div class="about">
        <i icon="edu-quotes" class="quotes"></i>
        <div class="about-buttons" *ngIf="isMe && editProfile">
          <button mat-button color="primary" class="edit" *ngIf="!editAbout && !edit" (click)="aboutEdit()">{{'PROFILES.EDIT' | translate}}</button>
          <button mat-button color="primary" class="edit" *ngIf="editAbout" (click)="editAbout=false">{{'PROFILES.CANCEL_EDIT' | translate}}</button>
        </div>
        <div *ngIf="editAbout" class="about-edit">
          <mat-form-field>
            <mat-label>{{'PROFILES.ABOUT_LABEL' | translate}}</mat-label>
            <textarea
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="4"
                    id="about"
                    [(ngModel)]="userEdit.profile.about"></textarea>
          </mat-form-field>
          <div class="change-buttons">
            <button mat-raised-button color="primary" (click)="saveEdits()">{{'SAVE' | translate}}</button>
          </div>
        </div>
        <div *ngIf="!editAbout" class="about">
          <div *ngIf="user.profile.about" class="profile">{{user.profile.about}}</div>
          <div *ngIf="!user.profile.about" class="empty">{{'PROFILES.NO_ABOUT'+(isMe ? "_ME" : "") | translate}}</div>
        </div>
      </div>
      <div *ngIf="isMe && editProfile" class="persistent-id">
        <div class="toggle">
          <button mat-button color="primary" (click)="showPersistentIds=!showPersistentIds">
            <i icon="fingerprint"></i>
            <span>{{'WORKSPACE.CONTRIBUTOR.PERSISTENT_IDS' | translate}}</span>
            <i icon="keyboard_arrow_down" *ngIf="showPersistentIds"></i>
            <i icon="keyboard_arrow_right" *ngIf="!showPersistentIds"></i>
          </button>
        </div>
        <div *ngIf="showPersistentIds" [@overlay]="showPersistentIds" class="persistent-id-inputs">
          <info-message message="{{'PROFILES.PERSISTENT_ID_INFO' | translate}}"></info-message>
          <mat-form-field floatLabel="always">
            <mat-label>{{'VCARD.X-ORCID' | translate}}</mat-label>
            <input matInput
                   id="orcid"
                   [(ngModel)]="userEdit.profile.vcard.orcid"
                   pattern="https?:\/\/orcid.org\/\d{4}(-\d{4}){3}"
                   placeholder="http://orcid.org/0000-0000-0000-0000"
            >
            <mat-hint innerHTML="{{'VCARD_HINT.X-ORCID' | translate}}"></mat-hint>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label>{{'VCARD.X-GND-URI' | translate}}</mat-label>
            <input matInput
                   id="gnduri"
                   [(ngModel)]="userEdit.profile.vcard.gnduri"
                   pattern="https?:\/\/d-nb.info\/gnd\/(\d|x|X)+"
                   placeholder="http://d-nb.info/gnd/0000000000"
            >
            <mat-hint innerHTML="{{'VCARD_HINT.X-GND-URI' | translate}}"></mat-hint>
          </mat-form-field>
          <div class="change-buttons">
            <button mat-raised-button color="primary"  (click)="savePersistentIds()">{{'SAVE' | translate}}</button>
          </div>
        </div>
      </div>
      <div *ngIf="isMe && editProfile && userEditProfile" class="changePassword">
        <div class="toggle">
          <button mat-button color="primary" tabindex="0" class="clickable" (click)="editPassword()">
            <i *ngIf="!changePassword" class="material-icons">lock</i>
            <i *ngIf="changePassword" class="material-icons">lock_open</i>
            {{'CHANGE_PASSWORD' | translate}}
            <i aria-hidden="true" class="material-icons" *ngIf="!changePassword">keyboard_arrow_right</i>
            <i aria-hidden="true" class="material-icons" *ngIf="changePassword">keyboard_arrow_down</i>
          </button>
        </div>
        <div *ngIf="changePassword" class="password" [@overlay]="changePassword">
          <input-password label="{{'OLD_PASSWORD' | translate }}" [displayStrength]="false" [(value)]="oldPassword" [required]="true" id="oldPassword"></input-password>
          <!--<input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="" required="true">-->
          <input-password #newPassword label="{{'NEW_PASSWORD' | translate }}" hint="{{ 'REGISTER.HINT' | translate }}" [displayStrength]="true" [(value)]="password" [required]="true" id="password"></input-password>
          <div class="change-buttons">
            <button mat-raised-button color="primary" [disabled]="!oldPassword.trim() || newPassword.passwordStrength == 'weak'"  (click)="savePassword()">{{'SAVE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
