@import "../../../styles/variables.scss";

$path:'../../../assets/images/';

.profiles{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: $mainnavHeight;
  padding-bottom: 20px;
  .name{
    font-size:140%;
    font-weight: bold;
  }
  .top{
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: $textOnPrimary;
    z-index: 2;
    overflow: hidden;
    a{
      color: $textOnPrimary;
    }
    a,.name,.mail,user-avatar,input,.editAvatar {
      position: relative;
      z-index: 2;
    }
    .mail{
      opacity:0.75;
    }
    user-avatar{
    }
    input{
      width: auto;
      margin-bottom: 10px;
    }
    .edit{
      position: absolute;
      right:20px;
      top:20px;
      text-transform: uppercase;
      i{
        position: relative;
        top:6px;
        left:-3px;
      }
    }
    .editAvatar{
      position: absolute;
      left: calc(50% + 80px);
      top: 85px;
    }
  }
  .about,.stats,.authorityName,.changePassword{
    max-width: 500px;
    margin: auto;
    padding:0 20px;
  }
  .changePassword{
    padding-top: 10px;
    .toggle {
      color: $primary;
      text-transform: uppercase;
      float: left;
      margin-bottom: 20px;
      width: 100%;
      div {
        float: left;
      }
      i {
        position: relative;
        top: 6px;
      }
    }
  }
  .about{
    position: relative;
    padding-left: 70px;
    >div{
      padding-top: 20px;
    }
    .profiles,.empty{
      white-space: pre-line;
    }
    .empty{
      color:$textVeryLight;
    }
    /* background: url($path + 'quotes.svg') 10px 0 no-repeat; */
  }
  .quotes{
    position: absolute;
    top:20px;
    left:30px;
  }
  .statsBackground{
    background-color: #fff;
    width:100%;
    @include materialShadow();
  }
  .stats{
    padding-top: 20px;
    padding-bottom: 10px;
    display:flex;
    text-align: center;
    flex-direction: row;
    >div{
      display:flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      padding:0 10px;
      >div{
        display: flex;
      }
    }
    .stat{
      color: $textLight;
    }
    .value{
      font-size:30pt;
    }
  }
  .authorityName{
    padding-top: 30px;
  }

  .main{
    flex-grow: 1;
  }
  .save{
    width:100%;
    padding-right: 20px;
    div {
      float: right;
    }
  }
}
@media only screen and (max-width: $mobileWidth - $mobileStage*2) {
  .profiles {
    .top {
      .edit {
        span{
          display:none;
        }
      }
    }
  }
}
