<main-nav
  #mainNav
  [title]="'PROFILES.TITLE_NAV'"
  [currentScope]="'profiles'"
  [searchEnabled]="false"
></main-nav>

<global-progress *ngIf="globalProgress"></global-progress>
<div class="profiles" *ngIf="user">
  <div class="main">
  <div class="top" style.background-color="{{ (edit ? userEdit : user) | authorityColor }}">
    <div class="profile-gradient"></div>
    <img *ngIf="!edit && user.profile.avatar" class="blurred-image" [src]="user.profile.avatar+'&crop=true&width=400&height=400'">
    <img *ngIf="edit && !avatarFile && userEdit.profile.avatar" class="blurred-image" [src]="user.profile.avatar+'&crop=true&width=400&height=400'">
    <img *ngIf="edit && avatarFile" class="blurred-image" [src]="avatarImage">
    <button mat-button class="edit clickable" *ngIf="isMe && !edit && editProfile" (click)="beginEdit()"><i class="material-icons">edit</i><span>{{'PROFILES.EDIT' | translate}}</span></button>
    <button mat-button class="edit clickable" *ngIf="isMe && edit" (click)="edit=false"><i icon iconId="close"></i><span>{{'PROFILES.CANCEL_EDIT' | translate}}</span></button>
    <user-avatar *ngIf="!edit"
     [user]="user"
    ></user-avatar>
    <user-avatar *ngIf="edit"
     [user]="userEdit"
     [customImage]="avatarFile"
    ></user-avatar>

    <div *ngIf="edit" class="editAvatar">
      <input #avatar type="file" (change)="updateAvatar($event)" accept="image/*" class="hide">
      <div class="new-avatar-button" (click)="avatar.click()">
        <span>{{'PROFILES.IMG_CHANGE' | translate}}</span>
      </div>
      <button mat-button *ngIf="hasAvatar()" (click)="clearAvatar()"><i icon iconId="delete"></i></button>
    </div>

    <div *ngIf="!edit">
      <div class="name">{{user | authorityName}}</div>
      <div class="mail"><a href="mailto:{{user.profile.email}}">{{user.profile.email}}</a></div>
      <!--<div class="authorityName">-->
        <!--<div>{{'USER.authorityName' | translate}}: {{ user.authorityName }}</div>-->
      <!--</div>-->
    </div>
    <div *ngIf="edit">
      <div>
        <mat-form-field class="mat-form-field-bright">
          <mat-label>{{'USER.firstName' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="userEdit.profile.firstName">
        </mat-form-field>
        <mat-form-field class="mat-form-field-bright">
          <mat-label>{{'USER.lastName' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="userEdit.profile.lastName">
        </mat-form-field>
      </div>
      <mat-form-field class="mat-form-field-bright email">
        <mat-label>{{'USER.email' | translate}}</mat-label>
        <input matInput type="email" [(ngModel)]="userEdit.profile.email">
      </mat-form-field>
    </div>
    <div class="save">
      <button mat-raised-button *ngIf="edit" (click)="saveEdits()">{{'SAVE' | translate}}</button>
    </div>
  </div>
  <div class="statsBackground">
    <div class="stats">
      <div>
        <div class="stat">
          {{'PROFILES.STATS.MATERIALS' | translate}}
        </div>
        <div class="value">
          {{ user.stats.nodeCount }}
        </div>
      </div>
      <div>
        <div class="stat">
          {{'PROFILES.STATS.COLLECTIONS' | translate}}
        </div>
        <div class="value">
          {{ user.stats.collectionCount }}
        </div>
      </div>
      <div>
        <div class="stat">
          {{'PROFILES.STATS.MATERIALS_CC' | translate}}
        </div>
        <div class="value">
          {{ user.stats.nodeCountCC }}
        </div>
      </div>
    </div>
  </div>
  <div class="about">
    <i icon iconId="edu-quotes" class="quotes">quotes</i>
    <div class="about-buttons" *ngIf="isMe && editProfile">
      <a class="edit clickable" *ngIf="!editAbout" (click)="aboutEdit()">{{'PROFILES.EDIT' | translate}}</a>
      <a class="edit clickable" *ngIf="editAbout" (click)="editAbout=false">{{'PROFILES.CANCEL_EDIT' | translate}}</a>
    </div>
    <div *ngIf="editAbout">
      <label for="about">{{'PROFILES.ABOUT_LABEL' | translate}}</label>
      <textarea id="about" class="materialize-textarea" [(ngModel)]="userEdit.profile.about"></textarea>
      <div class="change-buttons">
        <a tabindex="0" (keyup.enter)="saveEdits()" (click)="saveEdits()" class="waves-effect waves-light btn">{{'SAVE' | translate}}</a>
      </div>
    </div>
    <div *ngIf="!editAbout">
      <div *ngIf="user.profile.about" class="profile">{{user.profile.about}}</div>
      <div *ngIf="!user.profile.about" class="empty">{{'PROFILES.NO_ABOUT'+(isMe ? "_ME" : "") | translate}}</div>
    </div>
  </div>
  <div *ngIf="isMe && editProfile" class="changePassword">
    <div class="toggle">
      <div tabindex="0" class="clickable" (click)="editPassword()" (keyup.enter)="changePassword=!changePassword">
        <i *ngIf="!changePassword" class="material-icons">lock</i>
        <i *ngIf="changePassword" class="material-icons">lock_open</i>
        {{'CHANGE_PASSWORD' | translate}}
        <i aria-hidden="true" class="material-icons" *ngIf="!changePassword">keyboard_arrow_right</i>
        <i aria-hidden="true" class="material-icons" *ngIf="changePassword">keyboard_arrow_down</i>
      </div>
    </div>
    <div *ngIf="changePassword" class="password" [@overlay]="changePassword">
      <label for="oldPassword">{{'OLD_PASSWORD' | translate }}</label>
      <input-password [hint]="false" [displayStrength]="false" [(value)]="oldPassword" required="true" id="oldPassword"></input-password>
      <!--<input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="" required="true">-->
      <label for="password">{{'NEW_PASSWORD' | translate }}</label>
      <input-password #newPassword [hint]="true" [displayStrength]="true" [(value)]="password" required="true" id="password"></input-password>
      <div class="change-buttons">
        <a tabindex="0" [class.disabled]="!oldPassword.trim() || newPassword.passwordStrength == 'weak'"  (keyup.enter)="savePassword()" (click)="savePassword()" class="waves-effect waves-light btn">{{'SAVE' | translate}}</a>
      </div>
     </div>
  </div>
  </div>
</div>
