@import "../../../core-ui-module/styles/variables";
.avatar{
  display: flex;
  align-items: center;
}
.avatarCircle{
  border-radius: 50%;
  //border:3px solid #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  .user-letter,.user-icon{
    display: flex;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .userImage, svg {
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
  }
}
.avatarCircleGroup{
  position: absolute;
  border-width: 2px;
  border-style: solid;
}
@for $i from 1 through 3{
  .avatarCircleGroup:nth-child(#{$i}){
    left: $i*3px;
    opacity: percentage((4 - $i)*0.2);
  }
}
.avatarOuter{
  display: inline-flex;
  position: relative;
  .editorial-badge{
    position: absolute;
    z-index: 2;
    bottom:5px;
    right:5px;
    width:25px;
    height:auto;
  }
}

.size_large {
  .avatarCircle{
    //@include materialShadow();
  }
  .user-letter{
    font-size: 56px;
  }
  .user-icon{
    font-size: 60px;
  }
  .sizable {
    width: 120px;
    height: 120px;
  }
}
.size_medium {
  .avatarCircle {
    //@include materialShadow();
  }
  .user-letter{
    font-size: 32px;
  }
  .user-icon{
    font-size: 36px;
  }
  .sizable {
    width: 70px;
    height: 70px;
  }
  .editorial-badge {
    bottom:1px;
    right:1px;
    width:20px;
  }
}
.size_small {
  .avatarCircle {
    //@include materialShadow();
  }
  .avatarCircleGroup{
    border-width: 1px;
  }
  @for $i from 1 through 3{
    .avatarCircleGroup:nth-child(#{$i}){
      left: $i*2px;
    }
  }
  .user-letter {
    font-size: 18px;
  }
  .user-icon{
    font-size: 22px;
  }
  .sizable {
    width: 40px;
    height: 40px;
  }
  .editorial-badge {
    right:0;
    bottom:0;
    width: 12px;
  }
}

.size_xsmall{
  .sizable{
      width:24px;
      height:24px;
  }
  .avatarCircleGroup{
    border-width: 1px;
  }
  @for $i from 1 through 3{
    .avatarCircleGroup:nth-child(#{$i}){
      left: $i*2px;
    }
  }
  .user-letter {
    font-size: 11px;
  }
  .user-icon{
    font-size: 14px;
  }
  .editorial-badge {
    right: 0;
    bottom: 0;
    width: 8px;
  }
}
