.root {
    display: flex;
    flex-wrap: wrap;
    div {
        .example {
            display: flex;
        }
        padding: 20px;
        h3 {
            font-size: 120%;
        }
        > div {
            > * {
                margin: 10px;
            }
        }
    }
}
