@import '../../styles/variables';

.time {
    .mat-form-field, input {
        cursor: pointer;
    }
}

.ng5-slider {
    width: 90%;
}

::ng-deep {
    .selectionSlider .ng5-slider .ng5-slider-bar {
        background: #e1e1e1;
        border-radius: 2px;
    }
    .selectionSlider .ng5-slider .ng5-slider-selection {
        background-color: $primary;
    }

    .selectionSlider .ng5-slider .ng5-slider-pointer {
        background-color: $primary;
    }

    .selectionSlider .ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
        background-color: $primaryDark;
    }

    .selectionSlider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
        background-color: $primaryMediumLight;
    }

    .selectionSlider .ng5-slider .ng5-slider-bubble {
        color: $primaryDark;
    }

    .selectionSlider .ng5-slider .ng5-slider-bubble.ng5-slider-limit {
        display: none;
        color: $primaryDark;
    }
}

.selection {
    background: #fff;
    margin-top: -2px;
}

.chapterTitle {
    text-align: left;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    z-index: 5000;
}

.addChapter {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 40px 0 40px;
    .time,
    .title,
    .save {
        margin: 0 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 0;
        > mat-form-field {
            width: 100%;
        }
    }
    .save {
        flex-grow: 1;
        min-width: 100px;
        > * {
            position: relative;
            top: -9px;
        }
    }
    .time {
        flex-grow: 2;
    }
    .title {
        flex-grow: 4;
    }
}

.addChapter input[type='text'] {
    color: $textMain;
    margin-bottom: 0;
}

.addChapter h3 {
    font-size: 100%;
    margin: auto 8px;
}

.selection.small {
    .ng5-slider {
        width: 100%;
    }
    .addChapter {
        margin: 10px 0;
        flex-direction: column;
        > div {
            width: 100%;
        }
        .startTime,
        .endTime {
            display: none;
        }
    }
}
