<label *ngIf="item.config?.showLabel">
  {{ getI18n(item) | translate }}
</label>
<ng-container *ngIf="item.type === 'ORG' || item.type === 'GROUP'">
  <ng-container [ngSwitch]="item.name">
    <span *ngSwitchCase="'displayName'" [class.type-danger]="isDangerousGroup()">
      {{ $any(getNode()).profile.displayName }}
    </span>
    <span *ngSwitchCase="'groupType'">
      {{ 'PERMISSIONS.GROUP_TYPE.' + $any(getNode()).profile.groupType | translate }}
    </span>
    <span *ngSwitchDefault>
      {{ $any(getNode())[item.name] }}
    </span>
  </ng-container>
</ng-container>
<ng-container *ngIf="item.type === 'USER'">
  <span *ngIf="isUserProfileAttribute(item.name)">
    {{ $any(getNode()).profile[item.name] }}
  </span>
  <span *ngIf="item.name === 'status'">
    {{ 'PERMISSIONS.USER_STATUS.' + $any(getNode()).status.status | translate }}
  </span>
  <span *ngIf="!isUserProfileAttribute(item.name) && item.name !== 'status'">
    {{ $any(getNode())[item.name] }}
  </span>
</ng-container>
<ng-container
  [ngSwitch]="item.name"
  *ngIf="item.type === 'NODE' || item.type === 'NODE_PROPOSAL' || item.type === 'COLLECTION'"
>
  <span *ngSwitchCase="'name'">
    {{ $any(getNode()).name }}
  </span>
  <span
    *ngSwitchCase="'title'"
    [matTooltip]="provideLabel ? $any(getNode()).title || $any(getNode()).name : null"
  >
    {{ $any(getNode()).title || $any(getNode()).name }}
  </span>
  <span
    *ngSwitchCase="'cm:title'"
    [matTooltip]="provideLabel ? $any(getNode()).title || $any(getNode()).name : null"
  >
    {{ $any(getNode()).title || $any(getNode()).name }}
  </span>
  <span
    *ngSwitchCase="'cclom:title'"
    [matTooltip]="provideLabel ? $any(getNode()).title || $any(getNode()).name : null"
  >
    {{ $any(getNode()).title || $any(getNode()).name }}
  </span>
  <span
    *ngSwitchCase="'mediatype'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden">{{ getI18n(item) | translate }}:</span>
    {{ 'MEDIATYPE.' + $any(getNode()).mediatype | translate }}
  </span>
  <span *ngSwitchCase="'size'" [matTooltip]="provideLabel ? (getI18n(item) | translate) : null">
    <span *ngIf="provideLabel" class="cdk-visually-hidden">{{ getI18n(item) | translate }}:</span>
    {{ $any(getNode()).size | formatSize }}
  </span>
  <span
    *ngSwitchCase="'dimensions'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden">{{ getI18n(item) | translate }}:</span>
    {{ $any(getNode()) | NodeImageSize }}
  </span>
  <span
    *ngSwitchCase="'ccm:wf_status'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden">{{ getI18n(item) | translate }}:</span>
    {{ 'WORKFLOW.' + getWorkflowStatus().id | translate }}
  </span>
  <span
    *ngSwitchCase="'cm:creator'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden">{{ getI18n(item) | translate }}:</span>
    {{ $any(getNode()).createdBy | nodePersonName }}
  </span>
  <span
    *ngSwitchCase="'cm:modifier'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden"
      >{{ 'NODE.cm:modifier' | translate }}:</span
    >
    {{ $any(getNode()).modifiedBy | nodePersonName }}
  </span>
  <span
    *ngSwitchCase="'ccm:replicationsource'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden"
      >{{ 'NODE.ccm:replicationsource' | translate }}:</span
    >
    {{ $any(getNode()).properties['ccm:replicationsource'] | appNodeSource: { mode: 'text' } }}
  </span>
  <span
    *ngSwitchCase="'ccm:commonlicense_key'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden"
      >{{ 'NODE.ccm:commonlicense_key' | translate }}:</span
    >
    <ng-container *ngIf="$any(getNode()).properties['ccm:commonlicense_key'] as license">
      {{
        license[0] === 'CUSTOM'
          ? $any(getNode()).properties['cclom:rights_description']
          : ('LICENSE.NAMES.' + $any(getNode()).properties['ccm:commonlicense_key']
            | translate: { fallback: $any(getNode()).properties['ccm:commonlicense_key'] })
      }}
    </ng-container>
    <ng-container *ngIf="!$any(getNode()).properties['ccm:commonlicense_key']">
      {{ 'LICENSE.NAMES.NONE' | translate }}
    </ng-container>
  </span>
  <span
    *ngSwitchCase="'ccm:educationaltypicalagerange'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden"
      >{{ 'NODE.ccm:educationaltypicalagerange' | translate }}:</span
    >
    <ng-container
      *ngIf="
        $any(getNode()).properties['ccm:educationaltypicalagerange_from'] ||
        $any(getNode()).properties['ccm:educationaltypicalagerange_to']
      "
    >
      {{ $any(getNode()).properties['ccm:educationaltypicalagerange_from'] }} -
      {{ $any(getNode()).properties['ccm:educationaltypicalagerange_to'] }}
    </ng-container>
  </span>
  <span
    *ngSwitchCase="'cclom:duration'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden"
      >{{ 'NODE.cclom:duration' | translate }}:</span
    >
    {{ $any(getNode()).properties['cclom:duration']?.[0] | formatDuration }}
  </span>
  <span
    *ngSwitchCase="'ccm:collection_proposal_status'"
    [matTooltip]="provideLabel ? (getI18n(item) | translate) : null"
  >
    <span *ngIf="provideLabel" class="cdk-visually-hidden"
      >{{ 'NODE.ccm:collection_proposal_status' | translate }}:</span
    >
    <!-- use node instead of getNode() to access the raw proposal data! -->
    {{ ('PROPOSAL_STATUS.' + $any(node).properties['ccm:collection_proposal_status']?.[0]) | translate:{fallback: ''} }}
  </span>
  <span *ngSwitchDefault [matTooltip]="provideLabel ? (getI18n(item) | translate) : null">
    <span *ngIf="provideLabel" class="cdk-visually-hidden">{{ getI18n(item) | translate }}:</span>
    <ng-container
      *ngIf="DATE_FIELDS.indexOf(item.name) === -1 && VCARD_FIELDS.indexOf(item.name) === -1"
    >
      {{
        $any(getNode()).properties
          ? $any(getNode()).properties[item.name + '_DISPLAYNAME']?.join('')
            ? $any(getNode()).properties[item.name + '_DISPLAYNAME'].join(', ')
            : $any(getNode()).properties[item.name]?.join(', ')
          : ''
      }}
    </ng-container>
    <ng-container *ngIf="DATE_FIELDS.includes(item.name)">
      {{ $any(getNode()).properties[item.name]?.[0] | formatDate: { async: true } | async }}
    </ng-container>
    <ng-container *ngIf="VCARD_FIELDS.includes(item.name)">
      {{
        $any(getNode()).properties[item.name]
          ? ($any(getNode()).properties[item.name][0] | vcardName)
          : ''
      }}
    </ng-container>
  </span>
</ng-container>
