@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;
@use '../../../mds-mixins' as mds;

.tree {
    .tree-node.is-suggestion-ai {
        mat-checkbox {
            --mat-checkbox-selected-icon-color: var(--aiColor);
            --mat-checkbox-selected-hover-icon-color: var(--aiColor);
            --mat-checkbox-selected-focus-icon-color: var(--aiColor);
        }
        span {
            @include mds.highlightAiText();
        }
    }
    .suggestions {
        background-color: var(--mat-tree-container-background-color);
        padding: 10px 20px;
        .toggle-all {
            margin-top: 20px;
        }
        > div {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .suggestion-chip {
            @include clickable();
            &.suggestion-ai-chip {
                --mat-chip-label-text-color: var(--aiColorChipText);
                --mat-chip-with-icon-icon-color: var(--aiColorChipText);
            }
            --primary: var(--aiColorChipRemove);
            --palette-primary-100: var(--aiColorChip);
            --mat-chip-container-height: 40px;
            border: 1px dashed var(--aiColorChipBorder);
            ::ng-deep {
                .mdc-evolution-chip__action {
                    @include clickable();
                }
            }
        }
    }

    background-color: $cardLightBackground;
    float: left; // Don't cull background color in case of horizontal overflow
    min-width: 100%;
    mat-tree-node:not(.mat-tree) {
        position: relative;
        &:not(:last-child):after {
            content: '';
            position: absolute;
            height: 1px;
            left: 20px;
            right: 20px;
            bottom: 0;
            background-color: var(--chipsSeperatorLineColor);
        }
    }
    .tree-header {
        display: flex;
        padding: 10px 20px;
        width: 100%;
        align-items: center;
        mat-form-field {
            flex-grow: 1;
            .mat-form-field-wrapper {
                margin-bottom: 0;
            }
        }
        button {
            margin-left: 20px;
            height: 50px;
        }
    }
    li,
    .mat-nested-tree-node,
    .mat-tree-node {
        display: flex;
        flex-direction: column;
        align-items: normal;
        .item {
            display: flex;
            align-items: center;
            &.selected {
                background-color: rgba(0, 0, 0, 0.04);
                @include setGlobalKeyboardFocus();
                outline-offset: calc(var(--focusWidth) * -1);
            }
            &:not(.item-tree) {
                @include clickable();
                display: flex;
                align-items: center;
                &:hover,
                &:focus {
                    background-color: var(--primaryBackground50);
                }
                height: var(--mat-tree-node-min-height);
                .option {
                    color: var(--primary);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 0 10px;
                    align-items: center;
                }
            }
        }
        .suggest-input {
            width: 100%;
            display: flex;
            align-items: center;
            > mat-form-field {
                flex-grow: 1;
                .prefix {
                    color: var(--primary);
                }
            }
            es-spinner-small,
            button {
                margin: 0 20px;
            }
        }
        .children-group {
            padding-inline-start: 30px;
        }
    }
}

[hidden] {
    display: none !important;
}

:host ::ng-deep {
    mat-form-field {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }
    .mat-checkbox {
        .mat-checkbox-layout {
            white-space: unset;
            overflow-wrap: anywhere;
            padding: 5px 20px 5px 0;
        }

        .mat-checkbox-inner-container {
            margin-top: auto !important; // Override !important styling from material
        }
    }
}
