<div class="tree">
  <div class="tree-header">
    <mat-form-field floatLabel="always">
      <mat-label>{{ 'MDS.FILTER_TREE' | translate }}</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        #input
        autocomplete="off"
        [(ngModel)]="filterString"
        attr.aria-owns="{{ uid }}-mat-tree"
        [attr.aria-activedescendant]="selectedNode?.uid"
        aria-haspopup="tree"
      />
    </mat-form-field>
    <button mat-button (click)="close.emit()" [attr.aria-label]="'CLOSE' | translate">
      <i esIcon="close"></i>
    </button>
  </div>
  <mat-tree id="{{ uid }}-mat-tree" [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Leaf nodes -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodeToggle
      [hidden]="node.isHidden"
      [id]="node.uid"
      [attr.aria-selected]="selectedNode === node"
      [attr.aria-expanded]="null"
    >
      <div class="item" [class.selected]="selectedNode === node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled aria-hidden="true"></button>
        <ng-container
          [ngTemplateOutlet]="isMultiValue ? checkBox : radioButton"
          [ngTemplateOutletContext]="{ node: node }"
        ></ng-container>
      </div>
    </mat-tree-node>
    <!-- Nodes with children -->
    <mat-nested-tree-node
      *matTreeNodeDef="let node; when: hasChild"
      [hidden]="node.isHidden"
      [id]="node.uid"
      [attr.aria-expanded]="treeControl.isExpanded(node)"
      [attr.aria-selected]="selectedNode === node"
      attr.aria-label="{{ node.caption }}
          {{ (getIsChecked(node) ? 'CHECKBOX_CHECKED' : 'CHECKBOX_NOT_CHECKED') | translate }}
          {{ getIsDisabled(node) ? ('DISABLED' | translate) : '' }}
        "
    >
      <div class="item" [class.selected]="selectedNode === node">
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="
            (treeControl.isExpanded(node) ? 'COLLAPSE' : 'EXPAND')
              | translate: { element: node.caption }
          "
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <ng-container
          [ngTemplateOutlet]="isMultiValue ? checkBox : radioButton"
          [ngTemplateOutletContext]="{ node: node }"
        ></ng-container>
      </div>
      <div class="children-group" role="group">
        <ng-container *ngIf="treeControl.isExpanded(node)" matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>

  <ng-template #checkBox let-node="node">
    <ng-container *ngIf="node.type === 'suggestionInput'">
      <ng-container *ngTemplateOutlet="inputTemplate; context: { node: node }"></ng-container>
    </ng-container>
    <ng-container *ngIf="node.type !== 'suggestionInput'">
      <mat-checkbox
        [id]="getCheckboxId(node)"
        [checked]="getIsChecked(node)"
        [indeterminate]="node.isIndeterminate"
        [disabled]="getIsDisabled(node)"
        (change)="toggleNode(node, $event.checked)"
        ><span [innerHTML]="node.caption | escapeHtml | highlight: filterString"></span
      ></mat-checkbox>
      <!-- Treeitems don't have a meaningful 'checked' state that is announced to screen-reader
      users. We would need a new role like 'treeitemcheckbox' for that. This is our workaround.
      'toggleNode' will set this to 'role=alert' so state changes are announced properly. -->
      <span class="cdk-visually-hidden" [id]="getCheckboxId(node) + '-state'">
        {{ (getIsChecked(node) ? 'CHECKBOX_CHECKED' : 'CHECKBOX_NOT_CHECKED') | translate }}
      </span>
    </ng-container>
  </ng-template>

  <ng-template #radioButton let-node="node">
    <ng-container *ngIf="node.type === 'suggestionInput'">
      <ng-container *ngTemplateOutlet="inputTemplate; context: { node: node }"></ng-container>
    </ng-container>
    <ng-container *ngIf="node.type !== 'suggestionInput'">
      <mat-radio-button
        [id]="getCheckboxId(node)"
        [checked]="getIsChecked(node)"
        [disabled]="getIsDisabled(node)"
        (change)="toggleNode(node, true)"
        ><span [innerHTML]="node.caption | escapeHtml | highlight: filterString"></span
      ></mat-radio-button>
      <span class="cdk-visually-hidden" [id]="getCheckboxId(node) + '-state'">
        {{
          (getIsChecked(node) ? 'RADIO_BUTTON_SELECTED' : 'RADIO_BUTTON_NOT_SELECTED') | translate
        }}
      </span>
    </ng-container>
  </ng-template>
  <ng-template #inputTemplate let-node="node">
    <div class="suggest-input">
      <mat-form-field>
        <mat-label>{{ 'MDS.SUGGEST_VALUE_LABEL' | translate }}</mat-label>
        <i esIcon="add" matPrefix class="prefix"></i>
        <input
          matInput
          type="text"
          #input
          [disabled]="suggesting"
          (keyup.enter)="suggestValue(input.value, node); input.value = ''"
        />
      </mat-form-field>
      <es-spinner-small *ngIf="suggesting"></es-spinner-small>
      <button
        *ngIf="!suggesting"
        mat-button
        color="primary"
        #button
        (click)="suggestValue(input.value, node); input.value = ''"
      >
        {{ 'MDS.SUGGEST_VALUE_SEND' | translate }}
      </button>
    </div>
  </ng-template>
</div>
