########################################################################################################################
### common
########################################################################################################################

# --- bind ip address for all exposed ports (set this to 0.0.0.0 for outside accessibility)
# COMMON_BIND_HOST=127.0.0.1

########################################################################################################################
### repository-service
########################################################################################################################

# --- root user password (only for registration)
# REPOSITORY_SERVICE_ROOT_PASS=admin

########################################################################################################################
### rendering-database
########################################################################################################################

# --- database
# RENDERING_DATABASE_NAME=rendering

# --- username
# RENDERING_DATABASE_USER=rendering

# --- password
# RENDERING_DATABASE_PASS=rendering

########################################################################################################################
### rendering-service
########################################################################################################################

# --- public domain (must be resolved to localhost)
# RENDERING_SERVICE_HOST=rendering.127.0.0.1.xip.io

# --- public port (must be free)
# RENDERING_SERVICE_PORT_HTTP=9100

########################################################################################################################
### ONLY FOR DEBUGGING
########################################################################################################################

# RENDERING_CACHE_PORT_REDIS=9001
# RENDERING_DATABASE_PORT_SQL=9000
