<div *ngIf="editDisabled && !userAuthor">
  <es-info-message
    message="{{ 'WORKSPACE.CONTRIBUTOR.EDIT_DISABLED' | translate }}"
  ></es-info-message>
  <div class="edit-reset">
    <button mat-button color="primary" (click)="resetVCard()">
      <i esIcon="delete"></i>
      {{ 'WORKSPACE.CONTRIBUTOR.RESET' | translate }}
    </button>
  </div>
</div>
<!-- FIXME: Using a tab group for choosing an option is misleading UI. -->
<mat-tab-group mat-stretch-tabs [(selectedIndex)]="editType">
  <mat-tab label="{{ 'WORKSPACE.CONTRIBUTOR.MODE_PERSON' | translate }}">
    <div class="author-group">
      <div class="table">
        <div class="author-checkbox">
          <mat-checkbox [(ngModel)]="userAuthor" (ngModelChange)="setVCardAuthor($event)">{{
            'WORKSPACE.CONTRIBUTOR.CHECKBOX_ME' | translate
          }}</mat-checkbox>
        </div>
      </div>
      <div class="table">
        <div class="title">
          <mat-form-field>
            <mat-label>{{ 'VCARD.Title' | translate }}</mat-label>
            <input matInput id="title" [(ngModel)]="vCard.title" [disabled]="editDisabled" />
          </mat-form-field>
        </div>
        <div class="givenname">
          <mat-form-field>
            <mat-label>{{ 'VCARD.Givenname' | translate }}</mat-label>
            <input
              matInput
              id="givenname"
              [(ngModel)]="vCard.givenname"
              [disabled]="editDisabled"
              (ngModelChange)="setFullName()"
              [matAutocomplete]="autoPerson"
            />
          </mat-form-field>
        </div>
        <div class="surname">
          <mat-form-field>
            <mat-label>{{ 'VCARD.Surname' | translate }}</mat-label>
            <input
              matInput
              id="surname"
              [(ngModel)]="vCard.surname"
              [disabled]="editDisabled"
              (ngModelChange)="setFullName()"
              [matAutocomplete]="autoPerson"
            />
          </mat-form-field>
        </div>

        <mat-autocomplete
          #autoPerson="matAutocomplete"
          class="mat-autocomplete-person"
          (optionSelected)="useVCardSuggestion($event)"
        >
          <mat-option *ngFor="let person of suggestionPersons$ | async" [value]="person.vcard">
            <div class="mat-option-primary">
              {{ person.vcard?.title }} {{ person.vcard?.givenname }} {{ person.vcard?.surname }}
            </div>
            <div class="mat-option-secondary">{{ person.vcard?.email }}</div>
          </mat-option>
        </mat-autocomplete>
      </div>
      <button mat-button color="primary" (click)="showPersistentIds = !showPersistentIds">
        <i esIcon="fingerprint"></i>
        <span>{{ 'WORKSPACE.CONTRIBUTOR.PERSISTENT_IDS' | translate }}</span>
        <i esIcon="keyboard_arrow_down" *ngIf="showPersistentIds"></i>
        <i esIcon="keyboard_arrow_right" *ngIf="!showPersistentIds"></i>
      </button>
      <div *ngIf="showPersistentIds" [@overlay]="more" class="persistent-id">
        <div class="table">
          <mat-form-field floatLabel="always">
            <mat-label>{{ 'VCARD.X-ORCID' | translate }}</mat-label>
            <input
              matInput
              id="orcid"
              [(ngModel)]="vCard.orcid"
              [disabled]="editDisabled"
              pattern="https?:\/\/orcid.org\/\d{4}(-\d{4}){2}((-\d{3}X)|(-\d{4}))"
              placeholder="http://orcid.org/0000-0000-0000-0000"
            />
            <mat-hint innerHTML="{{ 'VCARD_HINT.X-ORCID' | translate }}"></mat-hint>
          </mat-form-field>
        </div>
        <div class="table">
          <mat-form-field floatLabel="always">
            <mat-label>{{ 'VCARD.X-GND-URI' | translate }}</mat-label>
            <input
              matInput
              id="gnduri"
              [(ngModel)]="vCard.gnduri"
              [disabled]="editDisabled"
              pattern="https?:\/\/d-nb.info\/gnd\/(\d|x|X)+"
              placeholder="http://d-nb.info/gnd/0000000000"
            />
            <mat-hint innerHTML="{{ 'VCARD_HINT.X-GND-URI' | translate }}"></mat-hint>
          </mat-form-field>
        </div>
        <es-info-message *ngIf="vCard.orcid || vCard.gnduri">{{
          'WORKSPACE.CONTRIBUTOR.PERSISTENT_ID_SET' | translate
        }}</es-info-message>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'WORKSPACE.CONTRIBUTOR.MODE_ORG' | translate }}">
    <div class="author-group">
      <div class="table">
        <mat-form-field>
          <mat-label>{{ 'VCARD.Org' | translate }}</mat-label>
          <input
            matInput
            id="org"
            [(ngModel)]="vCard.org"
            (ngModelChange)="setOrgName()"
            [disabled]="editDisabled"
            [matAutocomplete]="autoOrg"
          />
          <mat-autocomplete
            #autoOrg="matAutocomplete"
            (optionSelected)="useVCardSuggestion($event)"
          >
            <mat-option *ngFor="let org of suggestionOrgs$ | async" [value]="org.vcard">
              <div class="mat-option-primary">{{ org.vcard?.org }}</div>
              <div class="mat-option-secondary">{{ org.vcard?.email }}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <button mat-button color="primary" (click)="showPersistentIds = !showPersistentIds">
        <i esIcon="fingerprint"></i>
        <span>{{ 'WORKSPACE.CONTRIBUTOR.PERSISTENT_IDS' | translate }}</span>
        <i esIcon="keyboard_arrow_down" *ngIf="showPersistentIds"></i>
        <i esIcon="keyboard_arrow_right" *ngIf="!showPersistentIds"></i>
      </button>
      <div *ngIf="showPersistentIds" [@overlay]="more" class="persistent-id">
        <div class="table">
          <mat-form-field floatLabel="always">
            <mat-label>{{ 'VCARD.X-ROR' | translate }}</mat-label>
            <input
              matInput
              id="ror"
              [(ngModel)]="vCard.ror"
              [disabled]="editDisabled"
              pattern="https?:\/\/ror.org\/.+"
              placeholder="https://ror.org/abcdef000"
            />
            <mat-hint innerHTML="{{ 'VCARD_HINT.X-ROR' | translate }}"></mat-hint>
          </mat-form-field>
        </div>
        <div class="table">
          <mat-form-field floatLabel="always">
            <mat-label>{{ 'VCARD.X-Wikidata' | translate }}</mat-label>
            <input
              matInput
              id="wikidata"
              [(ngModel)]="vCard.wikidata"
              [disabled]="editDisabled"
              pattern="https?://www.wikidata.org/wiki/.+"
              placeholder="https://www.wikidata.org/wiki/Q000000"
            />
            <mat-hint innerHTML="{{ 'VCARD_HINT.X-Wikidata' | translate }}"></mat-hint>
          </mat-form-field>
        </div>
        <es-info-message *ngIf="vCard.ror || vCard.wikidata">{{
          'WORKSPACE.CONTRIBUTOR.PERSISTENT_ID_SET' | translate
        }}</es-info-message>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="contributor-content">
  <div class="table">
    <mat-form-field>
      <mat-label>{{ 'VCARD.Email' | translate }}</mat-label>
      <input matInput id="email" [(ngModel)]="vCard.email" [disabled]="editDisabled" />
    </mat-form-field>
  </div>
  <div class="table">
    <div>
      <mat-form-field>
        <mat-label>{{ 'WORKSPACE.CONTRIBUTOR.SCOPE' | translate }}</mat-label>
        <mat-select id="scope" [(ngModel)]="role" (ngModelChange)="updateSubtitle()">
          <mat-option *ngFor="let role of roles" value="{{ role }}">{{
            'WORKSPACE.CONTRIBUTOR.TYPE.' + role.toUpperCase() | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="calendar">
      <es-calendar
        label="{{ 'WORKSPACE.CONTRIBUTOR.DATE' | translate }}"
        [isResettable]="true"
        [(date)]="date"
      ></es-calendar>
    </div>
  </div>
  <button mat-button color="primary" class="more clickable" (click)="more = !more">
    <i esIcon="keyboard_arrow_down" *ngIf="more"></i>
    <i esIcon="keyboard_arrow_right" *ngIf="!more"></i>
    <span>{{ 'WORKSPACE.CONTRIBUTOR.MORE' | translate }}</span>
  </button>
  <div *ngIf="more" [@overlay]="more" class="moreOpen">
    <h2>{{ 'WORKSPACE.CONTRIBUTOR.ORG_INFO' | translate }}</h2>
    <div class="table">
      <mat-form-field>
        <mat-label>{{ 'VCARD.Org' | translate }}</mat-label>
        <input
          matInput
          [disabled]="editType === 'org' || editDisabled"
          id="orgName"
          [(ngModel)]="vCard.org"
        />
      </mat-form-field>
    </div>
    <div class="table">
      <mat-form-field>
        <mat-label>{{ 'VCARD.OrgUrl' | translate }}</mat-label>
        <input matInput id="orgUrl" [(ngModel)]="vCard.url" [disabled]="editDisabled" />
      </mat-form-field>
    </div>
    <div class="table">
      <mat-form-field>
        <mat-label>{{ 'VCARD.OrgPhone' | translate }}</mat-label>
        <input matInput id="orgPhone" [(ngModel)]="vCard.orgPhone" [disabled]="editDisabled" />
      </mat-form-field>
    </div>
    <h2>{{ 'WORKSPACE.CONTRIBUTOR.ADDRESS_INFO' | translate }}</h2>
    <div class="table">
      <mat-form-field>
        <mat-label>{{ 'VCARD.Street' | translate }}</mat-label>
        <input matInput id="street" [(ngModel)]="vCard.street" [disabled]="editDisabled" />
      </mat-form-field>
    </div>
    <div class="table">
      <div>
        <mat-form-field>
          <mat-label>{{ 'VCARD.Zip' | translate }}</mat-label>
          <input matInput id="zip" [(ngModel)]="vCard.zip" [disabled]="editDisabled" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>{{ 'VCARD.City' | translate }}</mat-label>
          <input matInput id="city" [(ngModel)]="vCard.city" [disabled]="editDisabled" />
        </mat-form-field>
      </div>
    </div>
    <div class="table">
      <div>
        <mat-form-field>
          <mat-label>{{ 'VCARD.Region' | translate }}</mat-label>
          <input matInput id="region" [(ngModel)]="vCard.region" [disabled]="editDisabled" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>{{ 'VCARD.Country' | translate }}</mat-label>
          <input matInput id="country" [(ngModel)]="vCard.country" [disabled]="editDisabled" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
