@import '../../styles/variables';

:host {
    display: flex;
    align-items: center;
}

:host[short='always'] .breadcrumb-full {
    display: none;
}

:host[short='never'] .breadcrumb-short {
    display: none;
}

:host[short='auto'] {
    @media screen and (max-width: $mobileTabSwitchWidth) {
        .breadcrumb-full {
            display: none;
        }
    }
    @media screen and (min-width: $mobileTabSwitchWidth) {
        .breadcrumb-short {
            display: none;
        }
    }
}

.breadcrumb::before {
    content: '' !important;
}

.breadcrumb {
    display: flex;
    width: 100%;
    max-height: 1.5em;
    align-items: center;
    overflow: hidden;
    &:not(.breadcrumb-readonly) {
        @media screen and (max-width: $mobileTabSwitchWidth) {
            margin-top: -2px;
            min-height: 25px;
            margin-left: -10px;
            .breadcrumb-element-home {
                margin-left: 20px;
            }
        }
    }
    &.breadcrumb-readonly {
        // This should wrap as a whole with '>' separators blending into lines.
        display: inline;
        font-size: $fontSizeSmall;
        i {
            position: relative;
            top: 5px;
        }
    }
}

.breadcrumb-element {
    position: relative;
    max-height: 1.5em;
    display: flex;
    align-items: center;
    &.cdk-keyboard-focused {
        background-color: $primaryLight;
    }
    i {
        width: 35px;
        text-align: center;
    }
}

.breadcrumb-inner {
    color: $primary;
    display: flex;
    padding: 2px 4px;
    font-size: 95%;
    white-space: nowrap;
}

.mat-ripple {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.home-icon {
    margin-top: 3px;
}

.dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.breadcrumb-arrow {
    font-size: 15pt;
    color: $textLight;
}

.selected {
    background-color: #fff;
    border: 2px dashed $primary;
    padding: 0 2px !important;
}
