<div
  *ngIf="clickable"
  class="breadcrumb"
  [class.breadcrumbDesktop]="short == 'auto'"
  [class.breadrumbVisible]="short == 'never'"
>
  <div>
    <button
      mat-button
      color="primary"
      *ngIf="home"
      tabindex="0"
      class="home mat-button-no-uppercase"
      [class.clickable]="clickable"
      (click)="openBreadcrumb(0)"
    >
      {{ home | translate }}
    </button>
    <button
      mat-button
      color="primary"
      *ngIf="!home"
      tabindex="0"
      class="home homeIcon mat-button-no-uppercase"
      [class.clickable]="clickable"
      (click)="openBreadcrumb(0)"
    >
      <i icon iconId="home"></i>
    </button>
  </div>
  <ng-container *ngFor="let node of _breadcrumbsAsNode; let i = index">
    <i aria-hidden="true" icon iconId="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <app-node-url [node]="node" [unclickable]="!createLink" (click)="openBreadcrumb(i)">
      <button
        *ngIf="clickable"
        mat-button
        color="primary"
        [appNodesDropTarget]="canDropNodes.bind(this, node)"
        (nodesHoveringChange)="onNodesHoveringChange($event, node)"
        (nodesDrop)="onNodesDrop($event, node)"
        [class.homeIsIcon]="!home"
        class="folder mat-button-no-uppercase"
        [class.clickable]="clickable"
        [class.selected]="node && dragHover == node"
      >
        {{ node ? node.name : '' }}
      </button>
    </app-node-url>
  </ng-container>
</div>
<div
  *ngIf="!clickable"
  class="breadcrumb breadcrumb-readonly"
  [class.breadcrumbShort]="short == 'always'"
  [class.breadcrumbDesktop]="short == 'auto'"
  [class.breadrumbVisible]="short == 'never'"
>
  <span>
    <span *ngIf="home" class="home mat-button-no-uppercase">{{ home | translate }}</span>
    <span *ngIf="!home" class="home homeIcon mat-button-no-uppercase"
      ><i icon iconId="home"></i
    ></span>
  </span>
  <span *ngIf="short === 'always' && _breadcrumbsAsNode.length > 1">
    <i aria-hidden="true" icon iconId="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="folder">...</span>
  </span>
  <span
    *ngFor="
      let node of short === 'always' && _breadcrumbsAsNode.length > 1
        ? [_breadcrumbsAsNode[_breadcrumbsAsNode.length - 1]]
        : _breadcrumbsAsNode
    "
  >
    <i aria-hidden="true" icon iconId="keyboard_arrow_right" class="breadcrumb-arrow"></i>
    <span class="folder">{{ node ? node.name : '' }}</span>
  </span>
</div>
<div
  class="breadcrumb"
  [class.breadcrumbMobile]="short == 'auto'"
  [class.breadrumbVisible]="short == 'always'"
  *ngIf="_breadcrumbsAsNodeShort"
>
  <button
    style="margin-left: 20px"
    mat-button
    color="primary"
    *ngIf="home && _breadcrumbsAsNode.length < 2"
    tabindex="0"
    class="home mat-button-no-uppercase"
    [class.clickable]="clickable"
    (click)="openBreadcrumb(0)"
    (keyup.enter)="openBreadcrumb(0)"
  >
    {{ home | translate }}
    <i
      *ngIf="_breadcrumbsAsNode.length < 1"
      icon
      iconId="keyboard_arrow_down"
      class="dropdown-icon"
    ></i>
    <i
      *ngIf="_breadcrumbsAsNode.length >= 1"
      icon
      iconId="keyboard_arrow_right"
      class="breadcrumb-arrow"
    ></i>
  </button>
  <button
    mat-button
    color="primary"
    *ngIf="!home && _breadcrumbsAsNode.length < 2"
    tabindex="0"
    class="home homeIcon mat-button-no-uppercase"
    [class.clickable]="clickable"
    (click)="openBreadcrumb(0)"
    (keyup.enter)="openBreadcrumb(0)"
  >
    <i icon iconId="home"></i>
  </button>
  <app-node-url
    *ngIf="_breadcrumbsAsNodeShort.length > 1"
    [node]="_breadcrumbsAsNodeShort[_breadcrumbsAsNodeShort.length - 2]"
    [unclickable]="!createLink"
    class="mat-button-no-uppercase"
    (click)="openBreadcrumb(_breadcrumbsAsNode.length - 1)"
    ><button mat-button><i icon iconId="keyboard_arrow_left" class="breadcrumb-arrow"></i></button
  ></app-node-url>
  <app-node-url
    *ngIf="_breadcrumbsAsNodeShort.length"
    [node]="_breadcrumbsAsNodeShort[_breadcrumbsAsNodeShort.length - 1]"
    [unclickable]="!createLink"
    (click)="openBreadcrumb(_breadcrumbsAsNode.length)"
  >
    <button mat-button color="primary" class="mat-button-no-uppercase">
      {{
        _breadcrumbsAsNodeShort[_breadcrumbsAsNodeShort.length - 1]
          ? _breadcrumbsAsNodeShort[_breadcrumbsAsNodeShort.length - 1].name
          : ''
      }}
    </button>
  </app-node-url>
</div>
