@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;

es-render-wrapper-component {
    min-height: 100%;
}

es-imprint-privacy {
    display: block;
    width: 100%;
    // leave space for scroll to top
    padding: 10px 0 45px 0;
    border-top: 1px solid #eaeaea;
}
