@import "../../core-ui-module/styles/variables";


$sidenavWidth:250px;
$sidenavWidthMobile:66px;
.main{
  display: flex;
  width: 100%;
  height: 100%;
  padding-top:$mainnavHeight;
  .main-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: calc(100% - #{$mainnavHeight});
    overflow-y: auto;
    width: $sidenavWidth;
    >div {
      height: 100%;
      .button {
        display: flex;
        align-items: center;
        padding: 20px 30px 20px 20px;
        width: 100%;
        i {
          margin-right: 10px;
        }
        &:hover{
          background-color: $veryLightBackground;
        }
        &.active {
          color: $primary;
          font-weight: bold;
          background: $workspaceSelectedBackgroundEffect;
        }
      }
    }
  }
  .main-content{
    padding:20px;
    width: 100%;
    margin-left: $sidenavWidth;
    flex-grow: 1;
    .btn-flat{
      min-height: 36px;
      height: auto;
    }
  }
  // has own padding cause of tabs
  .main-content-statistics{
    padding:0;
  }
}
.tabs{
  display: flex;
  overflow-x: auto;
}
.inputGroupGrow{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  >*{
    width:0;
    flex-grow: 1;
    display: flex;
    margin:0 10px;
  }
  >input{
    margin-bottom: 0;
  }
}
.heading{
  color:$textLight;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 110%;
  width:100%;
  border-bottom: 1px solid $cardSeperatorLineColor;
  margin: 20px 0;
  padding:0 10px;
  i{
    font-size:13pt;
  }
  span{
    position: relative;
    top: -3px;
    margin-left: 10px;
  }
}
.frontpage{
  display: flex;
  justify-content: center;
  app-admin-frontpage{
    width: 100%;
  }
}
.info{
  max-width: 800px;
  margin: auto;
  .version{
    white-space: pre-line;
    padding:0 20px;
  }
  .checks{
    position: relative;
    .check {
      display: flex;
      flex-direction: row;
      background-color: lighten($colorStatusPositive, 40%);
      padding: 10px 10px;
      margin:2px 0;
      .data{
        flex-grow: 1;
      }
      >div{
        display: flex;
        flex-direction: column;
        div:first-child{
          flex-grow: 1;
        }
        .description{
          white-space: pre-line;
        }
        >div{
          display:flex;
          flex-direction: row;
          align-items: center;
          >div{
            display: flex;
            flex-direction: column;
          }
          .material-icons{
            margin-right: 5px;
          }
          .solution-link{
            color: $primaryDark;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
      .title {
        font-weight: bold;
        margin-bottom: 5px;
      }
      &.check-fail {
        background-color: lighten($warning, 35%);
      }
      &.check-warn {
        background-color: lighten($warningMedium, 50%);
      }
    }
  }
}
.config{
  .xml{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    >div {
      padding: 30px 20px;
    }
  }
}
.applications{
  .tableRow div{
    max-width: 160px;
  }
  .btn{
    margin-bottom: 15px;
  }
  .table{
    padding-bottom: 20px;
  }
  .register-app{
    display: flex;
    flex-direction: column;
    margin:30px 0;
    >div{
      display: flex;
      padding:10px 0;
      >mat-form-field{
        flex-grow:1;
        margin-right: 20px;
      }
      >div{
        align-self: center;
      }
    }
    mat-label{
      margin:10px 0;
    }
    mat-radio-group {
      margin: 10px 0;
      mat-radio-button {
        margin: 0 10px;
      }
    }
  }
  .materialize-textarea{
    height:150px;
  }
  .useFile{
    color:$textLight;
    float:left;
  }
  .btn,.btn-flat{
    float:right;
  }
  .warning{
    width:100%;
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
  }
  .property{
    width:100%;
    float:left;
    font-weight: bold;
  }
  max-width: 1000px;
  margin: auto;
}
.toolkit .inputGroup,
.jobs .inputGroup,
.import .inputGroup{
  padding:20px 0;
  display: flex;
  align-items: center;
  >a,>div{
    display: flex;
  }
  .file,.directory{
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
  }
}
.import{
  max-width: 800px;
  margin: auto;
  mat-radio-button{
    margin-right: 20px;
  }
  .collections,.csv,.oai{
    padding-bottom:50px;
  }
  .oai{
    max-width: 500px;
    .oaiSave,.oaiForce{
      width: 100%;
    }
    mat-form-field{
      width: 100%;
      margin:5px 0;
    }
  }
  >.btn{
    margin-top: 20px;
  }
  .actions {
    display: flex;
    align-items: flex-end;
    width: 100%;
    button {
      margin: 10px;
    }
  }
}
.table{
  display:table;
  width:100%;
}
.tableRow{
  display:table-row;
  background-color: lighten($colorStatusPositive,50%);
  div{
    display:table-cell;
    padding:5px 10px;
    vertical-align: middle;
    word-break: break-all;
    border-bottom: 1px solid $cardSeperatorLineColor;
    .material-icons{
      color:$textLight;
    }
  }
  &.table-not-executed{
    background-color: lighten($warningMedium,50%);
  }
}
.header{
  color: $textLight;
  background-color: transparent;
}
.update{
  .tableRow div{
    min-width: 160px;
  }
  max-width: 1000px;
  margin: auto;
  .hint{
    font-weight: bold;
    text-align: center;
    padding:0 0 40px;
  }
  .test a{
    text-transform: uppercase;
  }
}
.toolkit{
  max-width: 1200px;
  a.btn{
    float:right;
  }
  .group .inputGroup{
    padding:0;
  }
  .jobParams{
    min-height: 80px;
  }
  .catalina{
    margin-bottom: 40px;
    label{
      position: relative;
      top:10px;
    }
    textarea {
      min-height: 600px;
    }
    .btn-flat{
      margin-bottom: 10px;
    }
  }
  .caches{
    input{
      width:200px;
    }
    .cacheGroup,.propertyGroup{
      width: 100%;
    }
    .inputGroup .btn-flat{
      margin:0 5px;
    }
    .propertyGroup{
      padding-top: 30px;
      display: flex;
      align-items: center;
      >input{
        margin-bottom: 0;
      }
      >a{
        margin-left: 10px;
      }
    }
  }
  .group{
    padding:20px 0;
    float:left;
    width:100%;
    .info{
      float:left;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    .btn-flat{
      float:right;
    }
    .cacheInfo{
      max-width: 250px;
      float:left;
    }
  }
}
.browser{
  .lucenePaging{
    max-width: 700px;
    margin: auto;
    a{
      flex-grow: initial;
      width: auto;
    }
  }
  .luceneAuthorities{
    margin-bottom: 20px;
  }
  .search-list{
    padding-top: 20px;
  }
}

.foldertemplates {
  max-width: 900px;
  margin: auto;
  .btn {
    float:right;
    margin-top: 40px;
  }
  .goto-folder {
    display: inline-block;
    margin-top: 20px;
  }
  .group {
    float: left;
    margin-top: 60px;
    .upload-hint{
      display:inline-block;
      margin-top: 10px;
    }
    .btn-flat {
      margin-right: 20px;
    }
  }
}
.statistics{
  display: flex;
  justify-content: center;
  app-admin-statistics{
    width: 100%;
  }
}
.jobs{
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .group{
    position: relative;
    float:left;
    width:100%;
    .autocomplete{
      flex-direction: column;
      >autocomplete {
        width: calc(100% - 18px);
      }
      >div{
        margin:0 20px;
      }
    }
    mat-form-field{
      width: 100%;
    }
  }
  .job-class{
    font-size: 90%;
    color: $textLight;
  }
  .no-jobs{
    font-size: 120%;
    color:$textVeryLight;
    text-align: center;
  }
  .job{
    &:not(:last-child){
      border-bottom: 1px solid $cardSeperatorLineColor;
    }
    display:flex;
    width:100%;
    >div{
      width: 100%;
    }

    .job-main{
      padding:10px 20px;
    }
    .row-detail{
      background-color: #fff;
      padding-bottom: 10px;
      width:100%;
      .log{
        font-weight: bold;
        padding:10px 10px;
      }
      .job-col{
        width: 100%;
      }
      .job-row{
        padding:2px 20px;
        width: 100%;
      }
    }
    .log-filters{
      padding:10px 0!important;
      justify-content: space-between;
      mat-form-field{
        width: 100%;
        .mat-form-field-wrapper{
          width: 100%;
        }
      }
    }
    .log-level,.log-filter{
      min-width:70px;
      color: $textLight;
      font-weight: bold;
      text-transform: uppercase;
      max-width: 500px;
      input{
        margin-bottom: 0;
      }
    }
    .log-date{
      min-width:100px;
      color: $textLight;
    }
    .log-class{
      min-width:170px;
      max-width:170px;
      @include shortenText();
      color: $textLight;
    }
    .log-message{
      white-space: pre-wrap;
      word-break: break-all;
    }
    .name{
      font-weight: bold;
    }
    .class{
      color:$textVeryLight;
    }
    .job-row{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .job-col{
      display: flex;
      flex-direction: column;
    }
    .col-name{
      flex-grow: 1;
    }
    .col-time{
      text-align: right;
    }
    .job-status {
      display: flex;
      align-items: center;
      spinner-small {
        margin: 0 10px;
      }

    }
    .col-more{
      justify-content: center;
      padding-left: 20px;
      width:40px;
      color:$textLight;
    }
    .status-fine{
      background-color: #dcffd8;
    }
    .status-aborted{
      background-color: #eee;
    }
    .status-warning{
      background-color: #ffffd8;
    }
    .status-error{
      background-color: #ffdcd8;
    }
  }
}
.card-xml {
  .warning{
    padding:10px 0;
  }
  .mat-input-group {
    width: 100%;
    margin:15px 0;
  }
  .add-property{
    display: flex;
    flex-direction: column;
  }
}
:host /deep/{
  .preloader-wrapper.small{
    width:16px;
    height:16px;
  }
  .inputGroupGrow{
    .mat-form-field-wrapper{
      width: 100%;
      margin-bottom: 0;
    }
  }
  .jobs .log-filters .mat-form-field-wrapper{
      width: 100%;
  }
}
.reload{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  color:$textLight;
  padding-bottom: 10px;
  position: absolute;
  top:-47px;
}
.row{
  position: fixed;
  top: $mainnavHeight;
  width: 100%;
  height: 48px;
  z-index: 50;
}
.s12{
  position: fixed;
  z-index:10;
}
@media all and (max-width: $mobileWidth+$mobileStage*1) {
  .main {
    .main-nav {
      .button > span {
        display: none;
      }
      width: $sidenavWidthMobile;
    }
    .main-content{
      margin-left: $sidenavWidthMobile;
    }
  }
}

@media all and (max-width: $mobileWidth+$mobileStage*3) {
  .applications {
    .file{
      display: none;
    }
    .tableRow div {
      padding: 5px 2px;
    }
  }
  .update{
    .description{
      display: none;
    }
    .tableRow div{
      min-width: initial;
    }
    .run{
      min-width: 160px!important;
    }
  }
}
@media all and (max-width: $mobileWidth+$mobileStage*5) {
  .applications{
    .type,.repoType,.subtype{
      display: none;
    }
  }
  .jobs{
    .log-class,.log-level{
      display: none;
    }
  }
}

