<main-nav
  [title]="'ADMIN.TITLE'"
  [currentScope]="'admin'"
  [searchEnabled]="false"
></main-nav>
<modal-dialog
              [title]="showWarning ? 'ADMIN.WARNING_TITLE' : null"
              [message]="'ADMIN.WARNING_INFO'"
              [buttons]="warningButtons"
              [isCancelable]="false"
></modal-dialog>
<modal-dialog
[title]="dialogTitle"
[message]="dialogMessage"
[buttons]="dialogButtons"
[messageParameters]="dialogParameters"
[isScrollable]="true"
[isCancelable]="true"
(onCancel)="dialogTitle=null"
></modal-dialog>
<file-chooser *ngIf="chooseDirectory"
[isCancelable]="true"
[title]="'ADMIN.IMPORT.CHOOSE_DIRECTORY'"
[pickDirectory]="true"
(onCancel)="chooseDirectory=false"
(onChoose)="pickDirectory($event)"
></file-chooser>
<file-chooser *ngIf="chooseCollection"
              [isCancelable]="true"
              [title]="'ADMIN.IMPORT.CHOOSE_COLLECTION'"
              [collections]="true"
              (onCancel)="chooseCollection=false"
              (onChoose)="pickCollection($event)"
></file-chooser>
<div class="row row-dark">
  <div class="col s12">
    <ul class="tabs">
      <li class="clickable tab col s3" (click)="setTab('INFO')">
        <a [class.active]="tab=='INFO'" >{{'ADMIN.TAB.INFO' | translate}}</a>
      </li>
      <li class="clickable tab col s3" (click)="setTab('APPLICATIONS')">
        <a [class.active]="tab=='APPLICATIONS'" >{{'ADMIN.TAB.APPLICATIONS' | translate}}</a>
      </li>
      <li class="clickable tab col s3" (click)="setTab('UPDATE')">
        <a [class.active]="tab=='UPDATE'" >{{'ADMIN.TAB.UPDATE' | translate}}</a>
      </li>
      <li class="clickable tab col s3" (click)="setTab('IMPORT')">
        <a [class.active]="tab=='IMPORT'" >{{'ADMIN.TAB.IMPORT' | translate}}</a>
      </li>
      <li class="clickable tab col s3" (click)="setTab('TOOLKIT')">
        <a [class.active]="tab=='TOOLKIT'" >{{'ADMIN.TAB.TOOLKIT' | translate}}</a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="tab=='INFO'" class="content info">
  <div class="heading">{{'ADMIN.INFO.REPOSITORY' | translate}}</div>
  <div class="version">{{ repositoryVersion }}</div>
  <div class="heading">{{'ADMIN.INFO.NG' | translate}}</div>
  <div class="version">{{ ngVersion }}</div>
</div>
<div *ngIf="tab=='APPLICATIONS'" class="content applications">
  <input #xmlSelect type="file" style="display:none" id="xmlSelect" accept="application/xml" (change)="registerAppXml($event)" />
  <form (ngSubmit)="registerApp()">
    <input type="text" name="appUrl" class="appUrl" [(ngModel)]="appUrl" placeholder="{{'ADMIN.APPLICATIONS.URL' | translate}}">
    <a class="btn waves-effect waves-light" (click)="registerApp()">{{'ADMIN.APPLICATIONS.ADD_URL' | translate}}</a>
    <div class="input-hint-bottom">{{'ADMIN.APPLICATIONS.URL_HINT' | translate}}</div>
    <div class="btn-flat btn-shadow btnXml" (click)="xmlSelect.click()">{{'ADMIN.APPLICATIONS.SELECT_XML' | translate}}</div>
    <div class="useFile">{{'ADMIN.APPLICATIONS.USE_FILE' | translate}}</div>
  </form>
  <h2>{{'ADMIN.APPLICATIONS.LIST' | translate }}</h2>
  <div class="table">
    <div class="tableRow header">

      <div class="id">{{'ADMIN.APPLICATIONS.ID' | translate}}</div>
      <div class="title">{{'ADMIN.APPLICATIONS.TITLE' | translate}}</div>
      <div class="file">{{'ADMIN.APPLICATIONS.FILE' | translate}}</div>
      <div class="type">{{'ADMIN.APPLICATIONS.TYPE' | translate}}</div>
      <div class="repoType">{{'ADMIN.APPLICATIONS.REPOTYPE' | translate}}</div>
      <div class="subtype">{{'ADMIN.APPLICATIONS.SUBTYPE' | translate}}</div>
      <div class="config">&nbsp;</div>
      <div class="edit">&nbsp;</div>
      <div class="download">&nbsp;</div>
      <div class="delete">&nbsp;</div>
    </div>
    <div *ngFor="let app of applications" class="tableRow">
      <div class="id">{{app.id}}</div>
      <div class="title">{{app.title}}</div>
      <div class="file">{{app.file}}</div>
      <div class="type">{{app.type}}</div>
      <div class="repoType">{{app.repositoryType}}</div>
      <div class="subtype">{{app.subtype}}</div>
      <div class="config"><i *ngIf="app.configUrl" class="material-icons clickable" (click)="configApp(app)">settings</i></div>
      <div class="edit"><i class="material-icons clickable" (click)="editApp(app)">edit</i></div>
      <div class="download"><i class="material-icons clickable" (click)="downloadApp(app)">cloud_download</i></div>
      <div class="delete"><i class="material-icons clickable" (click)="removeApp(app)">delete</i></div>
    </div>
  </div>
  <a *ngFor="let xml of editableXmls"
     class="btn waves-effect waves-light btnXmlEditor"
     (click)="editApp(xml)">{{'ADMIN.APPLICATIONS.EDIT_APP' | translate:{xml:xml.file} }}</a>
  <div class="dialog darken" *ngIf="xmlAppProperties">
    <div class="card center-card card-action card-high card-wide">
      <div class="card-content">
        <div class="card-cancel" (click)="xmlAppProperties=null"><i class="material-icons">close</i></div>
        <div class="card-title">{{'ADMIN.APPLICATIONS.EDIT_APP' | translate:{xml:currentAppXml} }}</div>
        <div class="card-scroll">
          <div class="warning">{{'ADMIN.APPLICATIONS.APP_XML_WARNING' | translate}}</div>
          <div *ngFor="let value of xmlAppKeys;let i=index;" class="appEditor">
            <div class="property">{{value}}</div>
            <div class="inputGroup">
              <textarea *ngIf="isMultilineProperty(value)" class="materialize-textarea" [(ngModel)]="xmlAppProperties[value]"></textarea>
              <input    *ngIf="!isMultilineProperty(value)" type="text" [(ngModel)]="xmlAppProperties[value]">
              <!-- Api does currently not support deleting -->
              <i class="material-icons clickable" (click)="removeAppProperty(i)" *ngIf="false">delete</i>
            </div>
            <div class="input-hint-bottom" *ngIf="currentApp">{{'ADMIN.APPLICATIONS.'+currentApp+"."+value | translate}}</div>
        </div>
        <div class="addProperty">
          <div class="property">{{'ADMIN.APPLICATIONS.ADD_PROPERTY' | translate}}</div>
          <input type="text" id="additionalProperty" placeholder="{{'ADMIN.APPLICATIONS.PROPERTY_NAME_PLACEHOLDER' | translate}}" [(ngModel)]="xmlAppAdditionalPropertyName">
          <input type="text" placeholder="{{'ADMIN.APPLICATIONS.PROPERTY_VALUE_PLACEHOLDER' | translate}}" [(ngModel)]="xmlAppAdditionalPropertyValue">
        </div>

      </div>
    </div>
    <div class="card-action">
      <a class="waves-effect waves-light btn" tabindex="0" (keyup.enter)="saveApp()" (click)="saveApp()">{{'APPLY' | translate }}</a>
      <a class="btn-flat" tabindex="0" (keyup.enter)="closeAppEditor()" (click)="closeAppEditor()">{{'CANCEL' | translate }}</a>
    </div>
    </div>
  </div>
</div>
<div *ngIf="tab=='UPDATE'" class="content update">
  <div class="hint">
    {{'ADMIN.UPDATE.HINT' | translate}}
  </div>
  <div class="table">
    <div class="tableRow header">
      <div class="id">{{'ADMIN.UPDATE.ID' | translate}}</div>
      <div class="description">{{'ADMIN.UPDATE.DESCRIPTION' | translate}}</div>
      <div class="test">{{'ADMIN.UPDATE.TEST' | translate}}</div>
      <div class="run">{{'ADMIN.UPDATE.RUN' | translate}}</div>
    </div>
    <div *ngFor="let update of updates" class="tableRow">
      <div class="id">{{update.id}}</div>
      <div class="description">{{update.description}}</div>
      <div class="test"><a class="clickable" (click)="runUpdate(update,false)">{{'ADMIN.UPDATE.TEST' | translate}}</a></div>
      <div class="run"><a class="btn-flat btn-shadow" (click)="runUpdate(update,true)">{{'ADMIN.UPDATE.RUN' | translate}}</a></div>
    </div>
  </div>
</div>
<div *ngIf="tab=='IMPORT'" class="content import">
  <div class="heading"><i class="material-icons">layers</i><span>{{'ADMIN.IMPORT.COLLECTION' | translate}}</span></div>
  <div class="collections">
    <input #xmlCollectionsSelect type="file" style="display:none" id="xmlCollectionsSelect" accept=".xml, .zip" (change)="updateCollectionsFile($event)">
    <div class="inputGroup">
      <a class="btn-flat btn-shadow" (click)="xmlCollectionsSelect.click()">{{'ADMIN.IMPORT.CHOOSE_COLLECTIONS_XML' | translate}}</a>
      <div class="file">{{ (collectionsFile ? collectionsFile.name : '') }}</div>
    </div>
    <div class="inputGroup">
      <input type="radio" name="parentCollection" id="parentCollectionRoot" [(ngModel)]="parentCollectionType" value="root">
      <label for="parentCollectionRoot">{{'ADMIN.IMPORT.PARENT_COLLECTION_ROOT' | translate}}</label>
      <input type="radio" name="parentCollection" id="parentCollectionChoose" [(ngModel)]="parentCollectionType" value="choose">
      <label for="parentCollectionChoose">{{'ADMIN.IMPORT.PARENT_COLLECTION_CHOOSE' | translate}}</label>
    </div>
    <div class="inputGroup" *ngIf="parentCollectionType=='choose'">
      <a class="btn-flat btn-shadow" (click)="chooseCollection=true">{{'ADMIN.IMPORT.CHOOSE_COLLECTION' | translate}}</a>
      <div class="directory"><div *ngIf="parentCollection">{{ parentCollection.title}} ({{parentCollection.ref.id}})</div></div>
    </div>
    <a class="btn waves-effect waves-light" (click)="importCollections()">{{'ADMIN.IMPORT.COLLECTION_START' | translate}}</a>
  </div>
  <div class="heading"><i class="material-icons">description</i><span>{{'ADMIN.IMPORT.EXCEL' | translate}}</span></div>
  <div class="csv">
    <input #csvSelect type="file" style="display:none" id="csvSelect" accept=".xls, .xlsx" (change)="updateExcelFile($event)">
    <div class="inputGroup">
      <a class="btn-flat btn-shadow" (click)="csvSelect.click()">{{'ADMIN.IMPORT.CHOOSE_EXCEL' | translate}}</a>
      <div class="file">{{ (excelFile ? excelFile.name : '') }}</div>
    </div>
    <div class="inputGroup">
      <a class="btn-flat btn-shadow" (click)="chooseDirectory=true">{{'ADMIN.IMPORT.CHOOSE_DIRECTORY' | translate}}</a>
      <div class="directory"><div *ngIf="parentNode">{{ parentNode.name}} ({{parentNode.ref.id}})</div></div>
    </div>
    <a class="btn waves-effect waves-light" (click)="importExcel()">{{'ADMIN.IMPORT.EXCEL_START' | translate}}</a>
  </div>
  <div class="heading"><i class="material-icons">description</i><span>{{'ADMIN.IMPORT.OAI' | translate}}</span></div>
  <div class="oai">
    <input type="text" [(ngModel)]="oai.url" placeholder="{{'ADMIN.IMPORT.OAI_URL' | translate}}">
    <input type="text" [(ngModel)]="oai.set" placeholder="{{'ADMIN.IMPORT.OAI_SET' | translate}}">
    <input type="text" [(ngModel)]="oai.prefix" placeholder="{{'ADMIN.IMPORT.OAI_PREFIX' | translate}}">
    <input type="text" [(ngModel)]="oai.metadata" placeholder="{{'ADMIN.IMPORT.OAI_METADATA' | translate}}">
    <input type="text" [(ngModel)]="oai.file" placeholder="{{'ADMIN.IMPORT.OAI_FILE' | translate}}">
    <input type="text" [(ngModel)]="oai.oaiIds" placeholder="{{'ADMIN.IMPORT.OAI_IDS' | translate}}">
    <select [(ngModel)]="oai.className">
      <option *ngFor="let option of oaiClasses">{{ option }}</option>
    </select>
    <input type="text" [(ngModel)]="oai.importerClassName" placeholder="{{'ADMIN.IMPORT.OAI_IMPORTER_CLASS_NAME' | translate}}">
    <input type="text" [(ngModel)]="oai.recordHandlerClassName" placeholder="{{'ADMIN.IMPORT.OAI_RECORD_HANDLER_CLASS_NAME' | translate}}">
    <input type="text" [(ngModel)]="oai.binaryHandlerClassName" placeholder="{{'ADMIN.IMPORT.OAI_BINARY_HANDLER_CLASS_NAME' | translate}}">
    <div class="oaiSave">
      <input type="checkbox" id="oaiSave" class="filled-in" [(ngModel)]="oaiSave"><label for="oaiSave">{{'ADMIN.IMPORT.OAI_SAVE' | translate}}</label>
    </div>
    <a class="btn-flat btn-shadow" (click)="removeImports()">{{'ADMIN.IMPORT.REMOVE_IMPORTS' | translate}}</a>
    <a class="btn waves-effect waves-light" (click)="oaiImport()">{{'ADMIN.IMPORT.OAI_START' | translate}}</a>
  </div>
  <div class="heading"><i class="material-icons">description</i><span>{{'ADMIN.IMPORT.ADMINISTRATION' | translate}}</span></div>
  <div class="administration">
    <div class="cacheGroup"><a class="btn-flat btn-shadow" (click)="refreshCache(false)">{{'ADMIN.IMPORT.REFRESH_CACHE' | translate}}</a><input type="text" [(ngModel)]="cacheName" placeholder="{{'ADMIN.IMPORT.CACHE_NAME' | translate}}"></div>
    <a class="btn-flat btn-shadow" (click)="refreshCache(true)">{{'ADMIN.IMPORT.STICKY_REFRESH_CACHE' | translate}}</a>
    <div class="propertyGroup"><a class="btn-flat btn-shadow" (click)="getPropertyValues()">{{'ADMIN.IMPORT.PROPERTY_VALUESPACE' | translate}}</a><input type="text" [(ngModel)]="propertyName" placeholder="{{'ADMIN.IMPORT.PROPERTY_NAME' | translate}}"></div>
  </div>
</div>
<div *ngIf="tab=='TOOLKIT'" class="content toolkit">
  <div class="heading"><i class="material-icons">refresh</i><span>{{'ADMIN.TOOLKIT.REFRESH_APP' | translate}}</span></div>
  <div class="group">
    <div class="info">{{'ADMIN.TOOLKIT.REFRESH_APP_INFO' | translate }}</div>
    <div class="btn-flat btn-shadow" (click)="refreshAppInfo()">{{'ADMIN.TOOLKIT.REFRESH_APP' | translate }}</div>
  </div>
  <div class="group">
    <div class="info">{{'ADMIN.TOOLKIT.REFRESH_EDU_GROUP_CACHE' | translate }}</div>
    <div class="btn-flat btn-shadow" (click)="refreshEduGroupCache()">{{'ADMIN.TOOLKIT.REFRESH_EDU_GROUP_CACHE' | translate }}</div>
  </div>
  <div class="heading"><i class="material-icons">cached</i><span>{{'ADMIN.TOOLKIT.CACHE_INFO' | translate}}</span></div>
  <div class="group">
    <form (ngSubmit)="getCacheInfo()">
      <input type="text" name="cacheInfo" [(ngModel)]="cacheInfo" placeholder="{{'ADMIN.TOOLKIT.CACHE_NAME' | translate }}">
      <div class="btn-flat btn-shadow" (click)="getCacheInfo()">{{'ADMIN.TOOLKIT.CACHE_INFO' | translate }}</div>
    </form>
  </div>
  <div class="heading"><i class="material-icons">file_upload</i><span>{{'ADMIN.TOOLKIT.UPLOAD_TEMP' | translate}}</span></div>
  <div class="group">
    <input #uploadTempSelect type="file" style="display:none" id="uploadTempSelect" (change)="updateUploadTempFile($event)">
    <div class="inputGroup">
      <a class="btn-flat btn-shadow" (click)="uploadTempSelect.click()">{{'ADMIN.TOOLKIT.CHOOSE_UPLOAD_TEMP' | translate}}</a>
      <div class="file">{{ (uploadTempFile ? uploadTempFile.name : '') }}</div>
    </div>
    <a class="btn waves-effect waves-light" (click)="startUploadTempFile()">{{'ADMIN.TOOLKIT.UPLOAD_TEMP_START' | translate}}</a>
  </div>
  <div class="heading"><i class="material-icons">textsms</i><span>{{'ADMIN.TOOLKIT.CATALINA' | translate}}</span></div>
  <div class="group catalina">
    <div class="btn-flat btn-shadow" (click)="refreshCatalina()"><i class="material-icons">refresh</i></div>
    <textarea id="catalina" #catalinaRef [ngModel]="catalina" readonly></textarea>
  </div>
</div>
<global-progress *ngIf="globalProgress"></global-progress>
