@import "../../../../styles/variables.scss";

.breadcrumb::before{
  content:''!important;
}
.breadcrumb .homeIsIcon{
  position: relative;
  top: 3px;
}

.breadcrumb div{
  float:left;
  color:$primary;
  padding:0 4px;
  font-size:70%;
}
.breadcrumb{
  width:100%;
  max-height:25px;
  overflow:hidden;
}
.breadcrumb div:last-child{
  font-weight: bold;
  color:#383838;
}
.breadcrumbMobile{
  display:none;
}
@media screen and (max-width: $mobileWidth) {
  .breadcrumbMobile{
    display:inherit;
  }
  .breadcrumbDesktop{
    display:none;
  }
}
