<div class="breadcrumb breadcrumbDesktop">
    <div>
        <button mat-button color="primary" *ngIf="home" tabindex="0" class="home mat-button-no-uppercase" [class.clickable]="clickable" (click)="openBreadcrumb(0)" (keyup.enter)="openBreadcrumb(0)">{{home | translate}}</button>
        <button mat-button color="primary" *ngIf="!home" tabindex="0" class="home homeIcon mat-button-no-uppercase" [class.clickable]="clickable" (click)="openBreadcrumb(0)"><i icon iconId="home"></i></button>
    </div>
  <div *ngFor="let node of _breadcrumbsAsNode;let i=index">
      <i aria-hidden="true" icon iconId="keyboard_arrow_right" class="breadcrumb-arrow"></i>
      <button mat-button color="primary"
       (dragend)="dragHover=null"
       (dragend)="dragHover=null"
       (dragexit)="dragHover=null"
       (dragleave)="dragHover=null"
       (dragover)="allowDrag($event,node)" (drop)="drop($event,node)"
       [class.homeIsIcon]="!home"
       class="folder mat-button-no-uppercase"
       [class.clickable]="clickable"
       [class.selected]="node && dragHover==node"
       (click)="openBreadcrumb(i+1)">{{node ? node.name : ''}}</button>
  </div>
</div>
<!--
<div class="breadcrumb breadcrumbMobile" *ngIf="_breadcrumbsAsNodeShort">
  <div *ngIf="home && _breadcrumbsAsNode.length<2" tabindex="0" class="home" [class.clickable]="clickable" (click)="openBreadcrumb(0)" (keyup.enter)="openBreadcrumb(0)">{{home | translate}}</div>
  <div *ngIf="!home && _breadcrumbsAsNode.length<2" tabindex="0" class="home homeIcon" [class.clickable]="clickable" (click)="openBreadcrumb(0)" (keyup.enter)="openBreadcrumb(0)"><i class="material-icons">home</i></div>
  <div *ngIf="_breadcrumbsAsNode.length==1" tabindex="0" [class.homeIsIcon]="!home" (click)="openBreadcrumb(0)" (keyup.enter)="openBreadcrumb(0)" [class.clickable]="clickable">&rsaquo;</div>
  <div *ngIf="_breadcrumbsAsNode.length>=2" tabindex="0" [class.homeIsIcon]="!home" (click)="openBreadcrumb(0)" (keyup.enter)="openBreadcrumb(0)" [class.clickable]="clickable">&lsaquo;</div>
  <div *ngIf="_breadcrumbsAsNodeShort.length" tabindex="0" [class.homeIsIcon]="!home" class="folder" [class.clickable]="clickable" (click)="openBreadcrumb(_breadcrumbsAsNodeShort.length>1 ? _breadcrumbsAsNode.length-1 : 1)" (keyup.enter)="openBreadcrumb(_breadcrumbsAsNodeShort.length>1 ? _breadcrumbsAsNode.length-1 : 1)">{{_breadcrumbsAsNodeShort[0] ? _breadcrumbsAsNodeShort[0].name : ''}}</div>
  <div *ngIf="_breadcrumbsAsNodeShort.length>1" tabindex="0" [class.homeIsIcon]="!home" class="folder" [class.clickable]="clickable" (click)="openBreadcrumb(_breadcrumbsAsNode.length)" (keyup.enter)="openBreadcrumb(_breadcrumbsAsNode.length)"> &rsaquo; {{_breadcrumbsAsNodeShort[1] ? _breadcrumbsAsNodeShort[1].name : ''}}</div>
</div>
-->
<div class="breadcrumb breadcrumbMobile" *ngIf="_breadcrumbsAsNodeShort">
    <button style="margin-left: 20px" mat-button color="primary" *ngIf="home && _breadcrumbsAsNode.length<1" tabindex="0" class="home mat-button-no-uppercase" [class.clickable]="clickable" (click)="openBreadcrumb(0)" (keyup.enter)="openBreadcrumb(0)">{{home | translate}} <i icon iconId="keyboard_arrow_down" class="dropdown-icon"></i></button>
    <button mat-button color="primary" *ngIf="!home && _breadcrumbsAsNode.length<1" tabindex="0" class="home homeIcon mat-button-no-uppercase" [class.clickable]="clickable" (click)="openBreadcrumb(0)" (keyup.enter)="openBreadcrumb(0)"><i icon iconId="home"></i></button>
    <button mat-button (click)="openBreadcrumb(_breadcrumbsAsNode.length-1)" *ngIf="_breadcrumbsAsNodeShort.length"><i icon iconId="keyboard_arrow_left" class="breadcrumb-arrow"></i></button>
    <button mat-button color="primary" *ngIf="_breadcrumbsAsNodeShort.length" class="folder mat-button-no-uppercase" [class.clickable]="clickable" (click)="openBreadcrumb(_breadcrumbsAsNode.length)">{{_breadcrumbsAsNodeShort[_breadcrumbsAsNodeShort.length-1] ? _breadcrumbsAsNodeShort[_breadcrumbsAsNodeShort.length-1].name : ''}}</button>
</div>
