@import "../../../../styles/variables.scss";

.breadcrumb::before{
  content:''!important;
}
.breadcrumbMobile .homeIsIcon{
  word-break: break-all;
}

.breadcrumb{
  width:100%;
  max-height:1.5em;
  display:flex;
  overflow:hidden;
  cursor: default;
  div{
    float:left;
    color:$primary;
    padding:2px 4px;
    font-size: 9pt;
    max-height: 20px;
    overflow: hidden;
    word-break: break-all;
  }
  .homeIsIcon{
    margin-top: 3px;
  }
  .homeIcon{
    margin-top: 0;
    max-height: none;
    min-width: 30px;
  }
  .breadcrumb-arrow{
    font-size: 15pt;
    margin-left: -10px;
  }
}
.selected{
  background-color: #fff;
  border:2px dashed $primary;
  padding:0 2px!important;
}
.breadcrumb div:last-child{
  font-weight: bold;
  color:$textMain;
}
.breadcrumbMobile{
  display:none;
}
@media screen and (max-width: $mobileTabSwitchWidth) {
  .breadcrumbMobile{
    display:flex;
    align-items: center;
    margin-top: -2px;
    min-height: 25px;
  }
  .breadcrumbDesktop{
    display:none;
  }
  .home i{
    float: right;
  }
}
