@import '../../core-ui-module/styles/variables';

.editorial-container {
    padding-top: $mainnavHeight + 20px;
    es-actionbar {
        display: flex;
        justify-content: flex-end;
        padding: 10px 20px;
    }
}
