@import '../../styles/variables';

:host > div {
    display: flex;
    width: 100%;
    height: 100%;
    > button {
        width: 100%;
        height: 100%;
        border: 2px dashed $primary;
        color: $primary;
        background-color: #fff;

        & ::ng-deep .mat-button-wrapper {
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .label {
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: normal;
        }

        i {
            font-size: 30px;
        }

        .label,
        i {
            margin: 2px 5px;
        }

        .spacer {
            flex-grow: 10;
        }

        .spacer:not(:first-child):not(:last-child) {
            flex-grow: 1;
        }
    }
    &.disabled {
        > button {
            color: $textMediumLight;
            border-color: $textMediumLight;
            pointer-events: none;
        }
    }
}

.tableList :host > div {
    flex-direction: row;
    > button {
        min-height: 75px;
    }
}
