<div class="topbar" [class.topbarWorkspace]="isInsideWorkspace">
  <div class="search"
   [class.searchWorkspace]="isInsideWorkspace">
    <form (ngSubmit)="searchField()" autocomplete="off">
      <div class="searchIcon"><i class="material-icons">search</i></div>
      <input type="search" name="search" [(ngModel)]="query" id="search" class="dialog-input"
             placeholder="{{searchLabel | translate}}" autofocus/>
    </form>
  </div>

</div>

  <es-actionbar *ngIf="selected.length" class="actionbar" [class.actionbarWorkspace]="isInsideWorkspace"
    [options]="options"
  ></es-actionbar>

<div class="dialog" *ngIf="currentMore" (click)="currentMore=null"></div>
<div class="recycleContainer" [class.recylceContainerWorkspace]="isInsideWorkspace">
<div class="results">
  <es-listTable
    [nodes]="list"
    [columns]="_columns"
    [hasIcon]="true"
    [hasCheckbox]="true"
    [totalCount]="pagination?.total"
    [hasMore]="list?.length < pagination?.total"
    [isClickable]="true"
    [isLoading]="isLoading"
    [dragDrop]="false"
    [actionbar]="actionbar"
    [customOptions]="customOptions"
    [selectOnClick]="true"
    [sortBy]="sortBy"
    [sortAscending]="sortAscending"
    (sortListener)="setSorting($event)"
    [selectedNodes]="selected"
    (selectionChanged)="onSelection($event)"
    (loadMore)="loadMore()"></es-listTable>
</div>

<div class="noResults" *ngIf="!list && hasSearched && !isLoading">
  <h5>{{ "RECYCLE.NO_RESULTS_TITLE" | translate}}</h5>
  <p>{{ "RECYCLE.NO_RESULTS_MESSAGE" | translate}}</p>
  <!-- <p><a (click)="redo()">{{ "RECYCLE.ENTER_NEW_TEXT" | translate}}</a></p> -->
</div>
<div class="noResults" *ngIf="!list && !hasSearched && !isLoading">
  <h5>{{ "RECYCLE.ARCHIVE_EMPTY" | translate}}</h5>
</div>
<div class="dialog darken valign-wrapper" *ngIf="fullscreenLoading">
  <es-spinner class="center"></es-spinner>
</div>
</div>
