<ng-container *ngIf="entriesService.dataSource.isEmpty()">
  <ng-container *ngTemplateOutlet="emptyRef"></ng-container>
</ng-container>
<ng-container *ngIf="entriesService.displayType === NodeEntriesDisplayType.Table">
  <app-node-entries-table></app-node-entries-table>
</ng-container>
<ng-container *ngIf="entriesService.displayType === NodeEntriesDisplayType.SmallGrid">
  <app-node-entries-card-grid [displayType]="entriesService.displayType"></app-node-entries-card-grid>
</ng-container>
<ng-container *ngIf="entriesService.displayType === NodeEntriesDisplayType.Grid">
  <app-node-entries-card-grid [displayType]="entriesService.displayType"></app-node-entries-card-grid>
</ng-container>
