$checkbox-margin-horizontal: 20px;
$checkbox-margin-vertical: 10px;

:host ::ng-deep .mat-checkbox {
    display: flex;
    max-width: 100%;
    .mat-checkbox-layout {
        overflow: hidden;
        .mat-checkbox-label {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.checkboxes-group {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$checkbox-margin-horizontal;
    margin-bottom: -$checkbox-margin-vertical;
    padding: 5px 20px;
    &.vertical {
        flex-direction: column;
    }
}

.mat-checkbox {
    margin-right: $checkbox-margin-horizontal;
    margin-bottom: $checkbox-margin-vertical;
}
