<app-mds-editor-widget-container
  #container
  [widget]="widget"
  [label]="true"
  [valueType]="valueType"
  [control]="formArray"
  [wrapInFormField]="false"
>
  <div
    *ngIf="formArray"
    [formGroup]="formArray"
    [attr.aria-labelledby]="container.labelId"
    [attr.aria-describedby]="container.descriptionId"
    class="checkboxes-group"
    [class]="mode"
  >
    <mat-checkbox
      *ngFor="let control of formArray.controls; let i = index"
      [formControlName]="i"
      [indeterminate]="indeterminateValues[i]"
      (indeterminateChange)="onIndeterminateChange($event, i)"
    >
      {{ values.values[i].label }}
    </mat-checkbox>
  </div>
</app-mds-editor-widget-container>
