<mat-tab-group [mat-stretch-tabs]="true">
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="inbox"></i>
      {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.TAB_ASSIGNMENT' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <div *ngIf="assignment()" class="assignment-view">
        <ng-container *ngTemplateOutlet="heading"></ng-container>
        <ng-container *ngTemplateOutlet="summary"></ng-container>
        <ng-container *ngTemplateOutlet="submitDetails"></ng-container>

        <div class="block files">
          <label
            >{{ submittableFiles.getTotal() }}x
            {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.SUBMITTABLE' | translate }}</label
          >
          <div>
            <!-- @TODO: When in submit mode, show these as temporary nodes and allow an upload selector + create any upload if submission allows it -->
            <es-node-entries-wrapper
              [displayType]="NodeEntriesDisplayType.Grid"
              [checkbox]="false"
              [dragDrop]="{ dragAllowed: false }"
              [initConfig]="submittableConfigRO"
              [elementInteractionType]="InteractionType.Emitter"
              [dataSource]="submittableFiles"
              [columns]="columns"
            ></es-node-entries-wrapper>
          </div>
        </div>
        <div class="block files">
          <label
            >{{ supplementaryFiles.getTotal() }}x
            {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.SUPPLEMENTARY' | translate }}</label
          >
          <div>
            <es-node-entries-wrapper
              [displayType]="NodeEntriesDisplayType.Grid"
              [checkbox]="false"
              [dragDrop]="{ dragAllowed: false }"
              [initConfig]="supplementaryConfig"
              [elementInteractionType]="InteractionType.Emitter"
              [dataSource]="supplementaryFiles"
              [columns]="columns"
            ></es-node-entries-wrapper>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i esIcon="send"></i>
      {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.TAB_SUBMIT' | translate }}
    </ng-template>
    <ng-template matTabContent>
      <div *ngIf="assignment()" class="assignment-submit">
        <ng-container *ngTemplateOutlet="heading"></ng-container>
        <ng-container *ngTemplateOutlet="summary"></ng-container>
        <form [formGroup]="submitFormGroup" class="main-form block">
          <es-comments-list
            *ngIf="submission()?.ref?.id"
            mode="view"
            text="html"
            [node]="submission()?.ref?.id"
          ></es-comments-list>
          <editor [init]="editorConfig" formControlName="submitComment"></editor>
          <div class="add-comment">
            <button mat-stroked-button color="primary" (click)="addComment()">
              {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.ADD_COMMENT' | translate }}
            </button>
          </div>
        </form>
        <ng-container *ngTemplateOutlet="submitDetails"></ng-container>

        <div class="block files">
          <label
            >{{ submittableFilesAll.getTotal() }}x
            {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.SUBMITTABLE' | translate }}</label
          >
          <div>
            <es-info-message *ngIf="!isOpenForSubmission() && !isBeforeEndDate()">
              {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.ASSIGNMENT_CLOSED_OR_ENDED' | translate }}
            </es-info-message>
            <es-node-entries-wrapper
              [displayType]="NodeEntriesDisplayType.Grid"
              [checkbox]="false"
              [dragDrop]="{ dragAllowed: false }"
              globalOptionsPosition="after"
              [globalOptions]="
                canSubmitMaterials() && assignment().allowAdditionalDocumentSubmissions
                  ? [uploadOption]
                  : []
              "
              [initConfig]="submittableConfig"
              [elementInteractionType]="InteractionType.Emitter"
              [dataSource]="submittableFilesAll"
              [columns]="columns"
            >
              <ng-template #overlay let-element="element">
                <div class="no-submission" *ngIf="!hasSubmissionFor(element)">
                  <button
                    mat-button
                    class="overlay"
                    (click)="showFileDialog(null, element)"
                    [disabled]="!canSubmitMaterials()"
                  >
                    <div class="upload">
                      <i esIcon="cloud_upload"></i>
                      <span>{{
                        'EDITORIAL.SUBMIT_ASSIGNMENT.REPLACE_ASSIGNMENT_MATERIAL' | translate
                      }}</span>
                    </div>
                  </button>
                </div>
              </ng-template>
            </es-node-entries-wrapper>
          </div>
        </div>

        <div class="block submit">
          <div>
            <es-spinner-small *ngIf="loading()"></es-spinner-small>
            <button
              mat-flat-button
              color="primary"
              [disabled]="!canSendSubmission()"
              (click)="submit()"
            >
              <i esIcon="send"></i>
              {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.SUBMIT' | translate }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<ng-template #heading>
  <div class="heading">
    <span>{{ assignment() | nodeTitle }}</span>
  </div>
  <es-info-message *ngIf="submissionSent()">
    {{ 'EDITORIAL.SUBMIT_ASSIGNMENT.SUBMISSION_SENT' | translate }}
  </es-info-message>
</ng-template>
<ng-template #summary>
  <div class="block">
    <label for="summary">{{ 'EDITORIAL.ASSIGNMENT.FORM.SUMMARY' | translate }}</label>
    <div id="summary" class="summary" [innerHTML]="assignment().summary"></div>
  </div>
</ng-template>
<ng-template #submitDetails>
  <div class="block">
    <label>{{ 'EDITORIAL.SUBMIT_ASSIGNMENT.SUBMIT_DETAILS' | translate }}</label>
    <div class="time start-time">
      <label for="startTime">{{ 'EDITORIAL.SUBMIT_ASSIGNMENT.START_TIME' | translate }}</label>
      <div id="startTime">
        {{ assignment().created | formatDate : { relative: false, time: true, date: true } }}
      </div>
    </div>
    <div class="time end-time" *ngIf="assignment().endTime as endTime">
      <label for="endTime">{{ 'EDITORIAL.SUBMIT_ASSIGNMENT.END_TIME' | translate }}</label>
      <div id="endTime" class="badge">
        <i esIcon="alarm"></i>
        {{ endTime | formatDate : { relative: false, time: true, date: true } }}
      </div>
    </div>
    <div class="time submit-time" *ngIf="submission()?.submissionDate as submissionDate">
      <label for="submitTime">{{
        'EDITORIAL.SUBMIT_ASSIGNMENT.SUBMISSION_TIME' | translate
      }}</label>
      <div id="submitTime">
        {{ submissionDate | formatDate : { relative: false, time: true, date: true } }}
      </div>
    </div>
  </div>
</ng-template>
