@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;
@use 'projects/edu-sharing-ui/src/lib/node-entries/node-entries-card-small/node-entries-card-small.component'
    as card;

.assignment-view,
.assignment-submit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .heading {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 10px;

        > span {
            flex-grow: 1;
            font-size: vars.$fontSizeXLarge;
            font-weight: bold;
        }

        border-bottom: 1px solid vars.$cardSeparatorLineColor;
    }
    .block {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid vars.$cardSeparatorLineColor;
        > label {
            font-size: vars.$fontSizeLarge;
            font-weight: bold;
        }
        > div {
            padding: 0 10px;
            &.time {
                display: flex;
                gap: 10px;
                align-items: center;
            }
            &.start-time {
                color: var(--textLight);
            }
            .badge {
                @include card.assignmentBadge();
            }
        }
    }
}
.no-submission {
    pointer-events: inherit;
    width: 100%;
    height: 100%;
    $border: 3px;
    > .overlay {
        left: $border;
        right: $border;
        top: $border;
        position: absolute;
        height: 188px;
        background-color: #fff;
        opacity: 0.95;
        backdrop-filter: blur(2px);
        @include mixins.clickable();
        .upload {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: var(--primary);
            font-weight: bold;
            > i {
                font-size: 32px;
                margin-bottom: 5px;
            }
        }
    }
    border: $border dashed var(--primary);
    color: var(--primary);
}
:host ::ng-deep {
    .summary {
        @include card.assignmentSummary();
    }
}
