$primary:       #00a8d5;
$primaryMediumLight: #00c5f7;
$primaryLight: #9ae3f7;
$primaryComplementary: $primary;
$primaryDark: #007798;
$textOnPrimary: #fff;
$textOnPrimaryLight: rgba(255,255,255,0.75);
$textPrimary:   #000;
$workspaceTopBarBackground: #383838;
$workspaceTopBarFontColor: #fff;

$primaryFontFamily: '"Titillium Web",Arial,sans-serif';
