/*
  globally usable classes
  carefully choose what to place here since this will be included in all projects
  use non-common class names to prevent conflicts with other included files
*/
@import "variables";

.display-none{
  display: none!important;
}
.opacity-invisible{
  opacity:0;
}
.mat-heading-1,
.mat-heading-2,
.mat-heading-3,
.mat-heading-4,
.mat-heading-5,
.mat-heading-6 {
  display: flex;
  align-items: center;
  .edu-icon-base{
    margin: 0 5px;
  }
  >span{
    flex-grow: 1;
  }
}
.mat-heading-1{
  color:$textLight;
  font-size: 220%;
}
.mat-heading-2{
  color:$textLight;
  font-size: 180%;
}
.mat-heading-3{
  color:$textLight;
  font-size: 150%;
}
.mat-heading-4{
  color:$textLight;
  font-size: 120%;
  font-weight: bold;
}
.mat-heading-5{
  color:$textLight;
  font-size: 100%;
  font-weight: bold;
}
.mat-heading-6{
  color:$textLight;
  font-weight: bold;
  font-size: 90%;
}
.mat-heading-underline{
  width: 100%;
  border-bottom: 1px solid $textVeryLight;
}
.profile-gradient{
  background: linear-gradient(to bottom, transparent 0,rgba(0,0,0,.5) 100%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.blurred-image{
  $blurStrength:25px;
  position: absolute;
  left:-$blurStrength;
  top:-$blurStrength;
  width:calc(100% + #{$blurStrength*2});
  height:calc(100% + #{$blurStrength*2});
  z-index: 0;
  overflow: hidden;
  filter: blur($blurStrength);
  object-fit: cover;
  opacity: 0.7;
}
.authority-search-input-option{
  >span {
    display: flex;
    align-items: center;
    .material-icons{
      color: $textLight;
      margin-right: 10px;
    }
    div {
      line-height: 100%;
      font-size: 100%;
    }
    .small {
      font-size: 90%;
      color: $textLight;
      padding-top: 3px;
    }
  }
}
ng5-slider.ng5-slider {
  .ng5-slider-bar {
    background: #e1e1e1;
    border-radius: 2px;
  }
  .ng5-slider-selection {
    background-color: $primary;
  }
  .ng5-slider-pointer {
    background-color: $primary;
  }
  .ng5-slider-pointer.ng5-slider-active:after {
    background-color: $primaryDark;
  }
  .ng5-slider-tick.ng5-slider-selected {
    background-color: $primaryMediumLight;
  }
  .ng5-slider-bubble {
    color: $primaryDark;
  }
  .ng5-slider-bubble.ng5-slider-limit {
    display: none;
    color: $primaryDark;
  }
}
ng5-slider.ng5-slider-small {
  .ng5-slider-bubble {
    font-size: $fontSizeSmall;
  }
  .ng5-slider-bar {
    height: 2px;
  }
  .ng5-slider-pointer {
    width: 16px;
    height: 16px;
    top:-7px
  }
  .ng5-slider-pointer:after {
    display: none;
    /*width: 4px;
    height: 4px;
    top: 6px;
    left: 6px;*/
  }
}
