/*
  globally usable classes
  carefully choose what to place here since this will be included in all projects
  use non-common class names to prevent conflicts with other included files
*/
@import "variables";

.display-none{
  display: none!important;
}
.opacity-invisible{
  opacity:0;
}
.mat-heading-1{
  color:$textLight;
  font-size: 2.2rem;
}
.mat-heading-2{
  color:$textLight;
  font-size: 1.8rem;
}
.mat-heading-3{
  color:$textLight;
  font-size: 1.5rem;
}
.mat-heading-4{
  color:$textLight;
  font-size: 1.2rem;
  font-weight: bold;
}
.mat-heading-5{
  color:$textLight;
  font-size: 1rem;
  font-weight: bold;
}
.mat-heading-6{
  color:$textLight;
  font-weight: bold;
  font-size: 0.9rem;
}
.authority-search-input-option{
  >span {
    display: flex;
    align-items: center;
    .material-icons{
      color: $textLight;
      margin-right: 10px;
    }
    div {
      line-height: 100%;
      font-size: 100%;
    }
    .small {
      font-size: 90%;
      color: $textLight;
      padding-top: 3px;
    }
  }
}
