<dropdown #dropdownRef
          [callbackObject]="node"
          [options]="optionsMenu"
          [showDisabled]="showDisabled"
          [position]="dropdownPosition"
></dropdown>
<div class="actionbar" [class.actionbar-all-flat]="style=='flat'" [class.actionbar-round]="appearance=='round'">
  <button mat-flat-button *ngFor="let option of optionsAlways;let i=index;"
       [color]="i==0 ? 'primary' : null"
       [disabled]="!option.isEnabled"
       [class.display-none]="!option.isEnabled && !showDisabled"
       (click)="click(option)">
    <i icon title="{{option.showName ? null : (option.name | translate)}}" [iconId]="option.icon"></i><span class="actionAlwaysCaption" *ngIf="option.showName"> {{option.name | translate}}</span>
  </button>
<button mat-flat-button class="more"
        [matMenuTriggerFor]="dropdownRef.menu"
        *ngIf="canShowDropdown()"><i icon iconId="more_vert" aria="true"></i></button>
<div *ngIf="optionsToggle.length" class="actionToggle" [class.actionToggleDivider]="optionsAlways.length">
    <button mat-flat-button *ngFor="let option of optionsToggle"
            (click)="click(option)"
            [class.disabled]="!option.isEnabled">
        <i icon [iconId]="option.icon" aria="true"></i>
    </button>
</div>
</div>