@import "../../../../styles/variables.scss";
.actionbar{
  display:flex;
}
.actionToggle > button{
  color: $textLight;
}
.mat-flat-button {
  min-width: unset;
  padding: 5px 10px;
}

.action-always-caption{
  line-height: normal;
  padding-right:5px;
}

.light{
  color:#fff;
  background: transparent;
}
.disabled{
  pointer-events: all;
}
.light a{
  color:#fff;
}
.actionToggle{
  padding-left:10px;
  margin-left:10px;
}
.actionToggleDivider{
  border-left:1px solid #ddd;
}
.more{
  color: $primary;
  background-color: transparent;
}
button{
  margin: 0 5px;
}
.actionbar-background-primary{
  .mat-button{
    color: $textOnPrimary;
  }
  .mat-flat-button{
    background-color: #fff;
    color: $primary;
  }
}
.actionbar-round{
  .mat-flat-button{
    padding: 5px;
  }
  button{
    border-radius: 50%;
  }
  &.actionbar-all-flat button{
    background: white !important;
    color: $primary !important;
  }
  .more, .actionAlways {
    background: white !important;
    color: $primary !important;
    display:flex;
    width:45px;
    height:45px;
    line-height:45px;
    text-align: center;
    @include materialShadow();
    .edu-icons,.material-icons{
      position: relative;
      font-size: 24px;
    }
    span{
      display: none;
    }
  }
  .action-always{
    .edu-icons,.material-icons {
      right: 4px !important;
    }
  }
}

@media screen and (max-width: ($mobileWidth+$mobileStage*4)){
  .action-always{
    padding: 0 1rem;
  }
  .action-always-caption{
    display: none;
  }
  .mat-flat-button {
    padding:5px;
  }
}
