@import "../../../../styles/variables.scss";

.actionbar{

}
.actionAlways,.more{
  float:right;
  padding:0 15px;
  @include clickable();
}
.light{
  color:#fff;
  background: transparent;
}
.primary{
  color: $primary!important;
  background: #fff!important;
}
.primary.disabled{
  color: $textVeryLight!important;
  background: #eee!important;
}
.btn-flat:not(:hover){
  background: transparent;
}

.more{
  padding:0 10px;
}
.more a{
  color:$primary;
}
.light a{
  color:#fff;
}
.more i{
  font-size:1.5rem;
}
.actionAlways{
  text-transform: uppercase;
}
.actionAlwaysCaption{
  position: relative;
  padding-left: 2px;
}
.btn .actionAlwaysCaption{
  top:-7px;
}
.btn-flat .actionAlwaysCaption{
  top:-4px;
}
.btn,.btn-flat{
  margin:0 5px;
  position: relative;
  top:-5px;
}
.btn .actionAlwaysCaption{
  top:-3px;
}
.actionToggle{
  margin-top: 1px;
  height:26px;
  padding-left:10px;
  margin-left:10px;
  float:right;
}
.actionToggleDivider{
  border-left:1px solid #ddd;
}

.actionToggle a{
  padding:0 5px;
  color: $textLight;
  display: inline-block;
  @include clickable();
}
.actionToggle a:focus{
  @include removeDefaultFocus();
  color: $primary;
}
@media screen and (max-width: ($mobileWidth+$mobileStage*4)){
  .actionAlwaysCaption{
    display: none;
  }
}
