<div class="dialog dialogOptions" *ngIf="dropdown" (contextmenu)="dropdown=false;$event.preventDefault();$event.stopPropagation();" (click)="dropdown=false"></div>
<div class="collectionContainer"
     #dropdownContainer
     [@openOverlay]="dropdown" *ngIf="dropdown" (contextmenu)="dropdown=false;$event.preventDefault();$event.stopPropagation();" (click)="dropdown=false">
  <div [@openOverlay]="dropdown"
       #dropdownRef
       class="moreOpen collection" (keydown.escape)="dropdown=false;$event.preventDefault();$event.stopPropagation();">
      <a class="collection-item waves-effect"
         *ngFor="let option of optionsMenu;let i=index;"
         [class.collection-item-seperate]="option.isSeperate"
         [class.collection-item-seperate-bottom]="option.isSeperateBottom && (i<optionsMenu.length-1 && !optionsMenu[i+1].isSeperate)"
         [class.disabled]="!option.isEnabled"
         tabindex="0"
         (keyup.enter)="click(option)"
         (click)="click(option)"
      ><i class="material-icons">{{option.icon}}</i> {{option.name | translate}}</a>
  </div>
</div>
<div class="actionbar">
  <div *ngIf="optionsToggle.length" class="actionToggle" [class.actionToggleDivider]="optionsAlways.length">
    <a *ngFor="let option of optionsToggle"
       tabindex="0"
       (keyup.enter)="click(option)"
       (click)="click(option)"
       [class.light]="backgroundType=='dark' || backgroundType=='primary'"
       [class.disabled]="!option.isEnabled">
      <i class="material-icons">{{option.icon}}</i>
    </a>

  </div>
<div class="more btn-flat waves-effect"
       (click)="showDropdown(true)"
       tabindex="0"
       (keyup.enter)="showDropdown(true)"
       [class.light]="backgroundType=='dark' || backgroundType=='primary'"
       *ngIf="optionsMenu.length"><a><i class="material-icons">more_vert</i></a></div>

  <div *ngFor="let option of optionsAlways.slice().reverse();let i=index;"
       [class.light]="backgroundType=='dark' || backgroundType=='primary'"
       [class.primary]="i==optionsAlways.length-1 && backgroundType=='primary'"
       [class.disabled]="!option.isEnabled"
       class="actionAlways waves-effect waves-light"
       [class.btn-flat]="i!=optionsAlways.length-1 || style=='flat'"
       [class.btn]="i==optionsAlways.length-1 && style!='flat'"
       tabindex="0"
       (keyup.enter)="click(option)"
       (click)="click(option)">
    <i class="material-icons" title="{{option.showName ? null : (option.name | translate)}}">{{option.icon}}</i><span class="actionAlwaysCaption" *ngIf="option.showName"> {{option.name | translate}}</span>
  </div>

</div>
