@import '../../../core-ui-module/styles/variables';

button {
    display: inline-flex;
    align-items: center;
    color: $primary;
    background-color: unset;
    border: unset;
    padding: unset;
    text-transform: unset;
    &:hover {
        color: $primaryDark;
    }
    &:focus {
        box-shadow: none !important;
        @include removeDefaultFocus();
        border-bottom: 1px solid $focusColor;
    }
}

button ::ng-deep > i {
    font-size: 120%;
}
