@font-face {
    font-family: 'Edu-Icons';
    src: url('Edu-Icons.eot');
    src: local('Edu-Icons'), url('Edu-Icons.eot?1pib6e#iefix') format('embedded-opentype'),
        url('Edu-Icons.ttf') format('truetype'), url('Edu-Icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.edu-icons {
    font-family: 'Edu-Icons' !important;
    font-weight: normal;
    font-style: normal;
    /** align with material icons */
    padding: 1px;
    font-size: 22px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
