<div class="sub-tree-wrapper">
<div *ngIf="_nodes && _nodes.length" [@open]="_nodes && _nodes.length">
  <div class="dialog" *ngIf="dropdown" (click)="dropdown=null" (contextmenu)="dropdown=null;$event.preventDefault();$event.stopPropagation();"></div>
  <div class="moreOpen collection"
       *ngIf="dropdown && _options && _options.length"
       [@openOverlay]="dropdown && _options && _options.length"
       [style.position]="dropdownPosition"
       [style.left]="dropdownLeft"
       [style.top]="dropdownTop"
       [style.bottom]="dropdownBottom"
  >
    <a class="collection-item"
       [class.collection-item-seperate]="option.isSeperate && i"
       [class.collection-item-seperate-bottom]="option.isSeperateBottom && i"
       *ngFor="let option of _options;let i=index"
       [class.disabled]="!option.isEnabled"
       [style.display]="optionIsShown(option,dropdown) ? '' : 'none'"
       (click)="callOption(option,dropdown)"><i class="material-icons">{{option.icon}}</i> {{option.name | translate}}</a>
  </div>


  <div *ngFor="let node of _nodes;let i=index;"
     (dragend)="dragHover=null"
     (dragexit)="dragHover=null"
     (dragleave)="dragHover=null"
     (dragover)="allowDrop($event,node)"
     (drop)="dropEvent($event,node)"
     (contextmenu)="contextMenu($event,node)"
>

  <div [style.paddingLeft.px]="depth*20" class="node waves-effect" [class.nodeSelected]="isSelected(node)" [class.hover]="dragHover==node">
    <div class="fade-right" *ngIf="loadingStates[i]" [class.fade-right-selected]="isSelected(node)"></div>
  <i *ngIf="!isOpen(node)" class="arrow material-icons" (click)="openOrCloseTree(node)">
    keyboard_arrow_right
  </i>
  <i *ngIf="isOpen(node)" [class.invisible]="!_hasChilds[getPathOpen(node)]" class="arrow material-icons arrow" (click)="_hasChilds[getPathOpen(node)] ? openOrCloseTree(node) : null">
    keyboard_arrow_down
  </i>
    <!--
  <i class="material-icons">folder</i>-->
    <img src="{{node.iconURL}}" alt="{{node.name}}" (click)="openOrCloseNode(node)" />
  <span class="name" (click)="openOrCloseNode(node)">{{ node.name }}</span>
  </div>
  <workspace-sub-tree class="sub-tree" *ngIf="isOpen(node)"
                      [node]="node.ref.id"
                      [openPath]="openPath"
                      [selectedPath]="selectedPath"
                      [selectedNode]="selectedNode"
                      [options]="_options"
                      (onLoading)="setLoadingState($event,i)"
                      [parentPath]="getFullPath(node)"
                      (onUpdateOptions)="updateOptions($event)"
                      (hasChilds)="_hasChilds[getPathOpen(node)]=$event"
                      (onClick)="openPathEvent($event)"
                      (onToggleTree)="toggleTreeEvent($event)"
                      (onDrop)="dropToParent($event)"
                      [depth]="depth + 1"
  ></workspace-sub-tree>
</div>
  <div class="more-items btn-flat" tabindex="0" (click)="loadAll()" (keyup.enter)="loadAll()" *ngIf="moreItems>0 && !loadingMore" [style.marginLeft.px]="30 + depth*20">
    {{'WORKSPACE.TREE_MORE_ITEMS' | translate:{count:moreItems} }}
  </div>
  <spinner class="more-items-loading" *ngIf="loadingMore" [style.marginLeft.px]="30 + depth*20"></spinner>
</div>
  <div class="spinner" *ngIf="loading">
    <spinner-small></spinner-small>
  </div>
</div>
<!--
<div [style.paddingLeft.px]="depth*20" *ngIf="!loading && (!_nodes || !_nodes.length)" class="empty">
  {{ 'WORKSPACE.NO_SUB_NODES' | translate }}
</div>
-->
