@import "../../../core-ui-module/styles/variables";

.node{
  @include clickable();
  padding-top:10px;
  padding-bottom:10px;
  width:100%;
  white-space: nowrap;
  img{
    z-index: 1;
  }
}
:host /deep/{
  spinner-small .preloader-wrapper.small{
    width:14px;
    height:14px;
  }
}
.spinner{
  position: absolute;
  top:-40px;
  right:0;
  z-index: 10;
  padding:10px;
}
i.arrow{
  width:20px;
}
.fade-right{
  top:-5px;
  position: absolute;
  right:0;
  width:60px;
  height:55px;
  z-index: 9;
  @include fadeRight($workspaceTreeBackground,70%);
}
.fade-right-selected{
  @include fadeRight($workspaceTreeSelectedBackground,70%);
}
.moreOpen{
  left:($workspaceSidebarWidth - $contextMenuWidth)/2;
  width:$contextMenuWidth;
}
.node:hover{
  background-color: $workspaceTreeSelectedBackground;
  .fade-right{
    /*@include fadeRight($workspaceTreeSelectedBackground,70%);*/
  }
}
.nodeSelected{
  background-color: $workspaceTreeSelectedBackground!important;
  background: $workspaceTreeSelectedBackgroundEffect;
  font-weight:bold;
}
.hover{
  background-color: rgba($primary,0.2)!important;
  outline: 2px $primary dashed;
}
.node i{
  color:$textLight;
  margin-right:5px;
}
.arrow{
  position: relative;
  top: 4px;
}
.name{
  position:absolute;
  top:0px;
  line-height: 3.7em;
  width:100%;
  display: inline-block;
}
.node img{
  padding-right:10px;
  width:30px;
  height:20px; /* ie fix */
}
.sub-tree-wrapper{
  position: relative;
}
.empty{
  font-style: italic;
  padding-top:10px;
}
.more-items{
  background-color: transparent;
}
.more-items-loading{
  position: relative;
  top: -15px;
}
