<div class="sub-tree-wrapper">
  <es-dropdown #dropdown></es-dropdown>
  <button
    #dropdownTrigger="matMenuTrigger"
    mat-button
    class="dropdown-dummy"
    [style.left]="dropdownLeft"
    [style.top]="dropdownTop"
    tabindex="-1"
    aria-hidden="true"
    [matMenuTriggerFor]="dropdown.menu"
  ></button>

  <div *ngIf="_nodes && _nodes.length" [@open]="_nodes && _nodes.length">
    <div *ngFor="let node of _nodes; let i = index" (contextmenu)="contextMenu($event, node)">
      <div
        class="sub-tree-element"
        cdkDrag
        [cdkDragData]="[node]"
        esNodesDrag
        [esNodesDropTarget]="node"
        [canDropNodes]="canDropOnNode"
        (nodeDropped)="onDropped($event)"
      >
        <div [matMenuTriggerFor]="dropdown.menu"></div>
        <div
          [style.paddingLeft.px]="depth * 20"
          class="node waves-effect"
          [class.nodeSelected]="isSelected(node)"
          [class.hover]="dragHover == node"
        >
          <div
            class="fade-right"
            *ngIf="loadingStates[i]"
            [class.fade-right-selected]="isSelected(node)"
          ></div>
          <i *ngIf="!isOpen(node)" class="arrow material-icons" (click)="openOrCloseTree(node)">
            keyboard_arrow_right
          </i>
          <i
            *ngIf="isOpen(node)"
            [class.opacity-invisible]="!_hasChilds[getPathOpen(node)]"
            class="arrow material-icons arrow"
            (click)="_hasChilds[getPathOpen(node)] ? openOrCloseTree(node) : null"
          >
            keyboard_arrow_down
          </i>
          <!--
          <i class="material-icons">folder</i>-->
          <img src="{{ node.iconURL }}" alt="{{ node.name }}" (click)="openOrCloseNode(node)" />
          <span class="name" (click)="openOrCloseNode(node)">{{ node.name }}</span>
        </div>
      </div>
      <es-workspace-sub-tree
        class="sub-tree"
        *ngIf="isOpen(node)"
        [node]="node.ref.id"
        [openPath]="openPath"
        [selectedPath]="selectedPath"
        [selectedNode]="selectedNode"
        (onLoading)="setLoadingState($event, i)"
        [parentPath]="getFullPath(node)"
        (onUpdateOptions)="updateOptions($event)"
        (hasChilds)="_hasChilds[getPathOpen(node)] = $event"
        (onClick)="openPathEvent($event)"
        (onToggleTree)="toggleTreeEvent($event)"
        (onDrop)="dropToParent($event)"
        [depth]="depth + 1"
      ></es-workspace-sub-tree>
    </div>
    <button
      mat-flat-button
      color="primary"
      class="more-items"
      (click)="loadAll()"
      *ngIf="moreItems > 0 && !loadingMore"
      [style.marginLeft.px]="30 + depth * 20"
    >
      {{ 'WORKSPACE.TREE_MORE_ITEMS' | translate: { count: moreItems } }}
    </button>
    <es-spinner
      class="more-items-loading"
      *ngIf="loadingMore"
      [style.marginLeft.px]="30 + depth * 20"
    ></es-spinner>
  </div>
  <div class="spinner" *ngIf="loading">
    <es-spinner-small></es-spinner-small>
  </div>
</div>
<!--
<div [style.paddingLeft.px]="depth*20" *ngIf="!loading && (!_nodes || !_nodes.length)" class="empty">
  {{ 'WORKSPACE.NO_SUB_NODES' | translate }}
</div>
-->
