@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;
$rsPaddingHorizontal: 2vw;

$rsPaddingVertical: 20px;
$horizontalScrollPadding: 1.5em;
$maxHeight: calc(100vh - var(--mainnavHeight) - $rsPaddingVertical - 100px);
$minHeight: calc(100vh - var(--mainnavHeight) - $rsPaddingVertical - 200px);
es-spinner {
    height: 100%;
    max-height: $maxHeight;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-objects-wrapper {
    position: relative;
    margin: 30px 20px;
    min-width: calc(100% - 60px);
    .child-objects {
        width: 100%;
        padding: 10px;
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        @include materialScrollbar();
        position: relative;
        white-space: nowrap;

        .itemTitle {
            color: #585858;
            display: inline-block;
            width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            margin-bottom: -2px;
        }

        .wrapperouter {
            display: inline-block;
            position: relative;
            margin: 0 10px;

            .wrapper {
                margin: 3px;
                @include materialShadow();

                img {
                    margin-bottom: -5px;
                    height: 75px;
                    width: 100px;
                    object-fit: cover;
                }
            }

            .wrapper.selected {
                margin: 0;
                border: 3px solid var(--palette-primary-200);
                @include materialShadowMediumLarge();
            }

            .wrapper.selected:after {
                content: '';
                position: absolute;
                left: 43px;
                top: 100px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid var(--palette-primary-200);
                clear: both;
            }
        }
    }
    .scroll-helper-left,
    .scroll-helper-right {
        position: absolute;
        width: 15%;
        min-width: 60px;
        max-width: calc(var(--cardWidth) * 0.4);
        display: flex;
        align-items: center;
        // do not overlay scrollbar
        height: calc(100% - 10px);
        z-index: 5;
        @include clickable();
        > button {
            background-color: #fff;
            color: var(--primary);
            @include materialShadowMediumLarge(false, 0.25);
        }
    }
    .scroll-helper-left {
        left: -$horizontalScrollPadding;
        justify-content: flex-start;
        background: linear-gradient(
            to left,
            transparent 0,
            #fff calc(100% - $horizontalScrollPadding)
        );
        > button {
            margin-left: calc($horizontalScrollPadding - 8px);
        }
    }
    .scroll-helper-right {
        right: -$horizontalScrollPadding;
        justify-content: flex-end;
        background: linear-gradient(
            to right,
            transparent 0,
            #fff calc(100% - $horizontalScrollPadding)
        );
        > button {
            margin-right: calc($horizontalScrollPadding - 8px);
        }
    }
}
rs-root {
    //height: $minHeight;
    //max-height: $maxHeight;
    margin: $rsPaddingVertical $rsPaddingHorizontal;
    padding: 0;
    --containerHeight: var(--renderWrapperHeight, #{$maxHeight});
    ::ng-deep {
        .module {
            width: 100%;
            border: none;
            padding: 0;
            overflow-y: hidden;
            align-self: center;
            &.module-JUPYTER,
            &.module-EDUHTML,
            &.module-BINDER,
            &.module-SPREADSHEET,
            &.module-MOODLE,
            &.module-HTML {
                width: 70%;
                @media screen and (max-width: ($mobileWidth)) {
                    width: 90%;
                }
                height: auto;
                aspect-ratio: 16 / 9;
            }
            &.module-url {
                width: 60%;
                @media screen and (max-width: ($mobileWidth)) {
                    width: 90%;
                }
            }
            &.module-VIDEO {
                width: 50%;
                @media screen and (max-width: ($mobileWidth)) {
                    width: 90%;
                }
            }
            &.module-AUDIO {
                width: 70%;
            }
            &.module-IMAGE,
            &.module-DDB {
                width: 50%;
                height: 100%;
                @media screen and (max-width: ($mobileWidth)) {
                    width: 90%;
                }
            }
            &.module-DOCUMENT,
            &.module-PDF {
                width: 70%;
                @media screen and (max-width: ($mobileWidth)) {
                    width: 90%;
                }
            }
            &.module-H5P {
                width: 70%;
                @media screen and (max-width: ($mobileWidth)) {
                    width: 90%;
                }
            }
        }
    }
}
:host > es-info-message {
    display: flex;
    justify-content: center;
    padding: 20px 20%;
}
.render-before {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // background-color: var(--palette-primary-50);
    background-color: #f8f8f8;
    padding: 10px $rsPaddingHorizontal;
    gap: 10px;
    > * {
        width: 0;
        flex-grow: 1;
    }
    > es-actionbar {
        display: flex;
        justify-content: flex-end;
    }
    > .back,
    > es-actionbar {
        min-width: 200px;
        @media screen and (max-width: ($mobileWidth)) {
            min-width: 50px;
            .back-caption {
                display: none;
            }
        }
    }

    h2 {
        flex-grow: 3;
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: var(--textMain);
        font-size: 110%;
    }
}
::ng-deep {
    es-mds-editor-wrapper es-mds-editor-core {
        display: grid;
        width: 100%;
        padding: 0 $rsPaddingHorizontal;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

        es-mds-editor-view {
            padding: 0;
            //border: 1px solid var(--palette-primary-100);
            border-radius: 5px;
            overflow: hidden;
            .view-wrapper {
                .content {
                    padding: 0 10px;
                }
                .heading-container {
                    > h3 {
                        background-color: $workspaceMetadataBackground; //var(--palette-primary-50);
                        border-bottom: 1px solid $cardSeparatorLineColor;
                        margin: 0;
                    }
                }
            }
        }
    }
}
