<div class="render-before">
  <div class="back">
    <button mat-button color="primary" (click)="goBack()">
      <i esIcon="keyboard_arrow_left"></i>
      <span class="back-caption">{{ 'BACK' | translate }}</span>
    </button>
  </div>
  <h2 *ngIf="data()?.node">
    {{ data().node | nodeTitle }}
    <button
      mat-icon-button
      title="{{ 'GOTO' | translate }} {{ 'INFO' | translate }}"
      (click)="meta.scrollIntoView({ behavior: 'smooth' })"
      color="primary"
    >
      <i esIcon="info_outline"></i>
    </button>
  </h2>
  <es-actionbar
    [numberOfAlwaysVisibleOptions]="1"
    [numberOfAlwaysVisibleOptionsMobile]="0"
  ></es-actionbar>
</div>
<es-info-message mode="error" *ngIf="data()?.error">{{ data().error | translate }}</es-info-message>
<rs-root
  *ngIf="data()?.request && data()?.node"
  [node]="data().node"
  [request]="data().request"
></rs-root>
<div class="meta" #meta>
  <es-mds-editor-wrapper
    *ngIf="data()?.node"
    [embedded]="true"
    [editorMode]="'viewer'"
    [groupId]="'io_render'"
    [nodes]="[data().node]"
  >
  </es-mds-editor-wrapper>
</div>
