<div class="render-before" *ngIf="showTopbar">
  <div class="back">
    <button mat-button color="primary" (click)="goBack()">
      <i esIcon="keyboard_arrow_left"></i>
      <span class="back-caption">{{ 'BACK' | translate }}</span>
    </button>
  </div>
  <h2 *ngIf="data()?.node">
    {{ data().node | nodeTitle }}
    <button
      mat-icon-button
      title="{{ 'GOTO' | translate }} {{ 'INFO' | translate }}"
      (click)="meta.scrollIntoView({ behavior: 'smooth' })"
      color="primary"
    >
      <i esIcon="info"></i>
    </button>
  </h2>
  <es-actionbar
    [numberOfAlwaysVisibleOptions]="1"
    [numberOfAlwaysVisibleOptionsMobile]="0"
  ></es-actionbar>
</div>
<es-info-message mode="error" *ngIf="data()?.error">{{ data().error | translate }}</es-info-message>
<div class="child-objects" *ngIf="data() && children()?.length > 0">
  <div
    class="wrapperouter clickable"
    tabindex="0"
    (click)="setChild(null)"
    (keyup.enter)="setChild(null)"
  >
    <span class="itemTitle">{{ data().node | nodeTitle }}</span>
    <div class="wrapper" [class.selected]="childId === null">
      <img src="{{ data().node.preview.url }}&crop=true&width=100&height=75" alt="" />
    </div>
  </div>
  <div
    *ngFor="let item of children(); let i = index"
    tabindex="0"
    class="wrapperouter clickable"
    (click)="setChild(item)"
    (keyup.enter)="setChild(item)"
  >
    <span class="itemTitle">{{ item | nodeTitle }}</span>
    <div class="wrapper" [class.selected]="childId === item.ref.id">
      <img src="{{ item.preview.url }}&crop=true&width=100&height=75" alt="" />
    </div>
  </div>
</div>
<rs-root
  *ngIf="data()?.request && data()?.node"
  [node]="data().node"
  [request]="data().request"
></rs-root>
<div class="meta" #meta>
  <es-mds-editor-wrapper
    *ngIf="data()?.node && showMetadata"
    [embedded]="true"
    [editorMode]="'viewer'"
    [nodeRefetch]="false"
    [groupId]="'io_render'"
    [nodes]="[data().node]"
  >
  </es-mds-editor-wrapper>
</div>
