@import 'projects/edu-sharing-ui/assets/scss/variables-scss';
$rsPaddingHorizontal: 2vw;

$rsPaddingVertical: 20px;
$maxHeight: calc(100vh - var(--mainnavHeight) - $rsPaddingVertical);
rs-root {
    height: 100%;
    min-height: 10vh;
    max-height: $maxHeight;
    margin: $rsPaddingVertical $rsPaddingHorizontal;
    padding: 0;
    ::ng-deep {
        .module {
            border: none;
            padding: 0;
            overflow-y: hidden;
            align-self: center;
            &:not(.module-PDF) {
                > * {
                    overflow: auto;
                }
            }
            // some modules should get 100% of the browser height
            rs-module-pdf {
                height: $maxHeight;
            }
        }
    }
}
.render-before {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // background-color: var(--palette-primary-50);
    background-color: #f8f8f8;
    padding: 10px $rsPaddingHorizontal;
    gap: 10px;
    > * {
        width: 0;
        flex-grow: 1;
    }
    > es-actionbar {
        display: flex;
        justify-content: flex-end;
    }
    > .back,
    > es-actionbar {
        min-width: 200px;
        @media screen and (max-width: ($mobileWidth)) {
            min-width: 50px;
            .back-caption {
                display: none;
            }
        }
    }

    h2 {
        flex-grow: 3;
        text-align: center;
        margin: 0;
        color: var(--textMain);
        font-size: 110%;
    }
}
:host ::ng-deep {
    es-mds-editor-wrapper es-mds-editor-core {
        display: grid;
        width: 100%;
        padding: 0 $rsPaddingHorizontal;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        es-mds-editor-view {
            padding: 0;
            border: 1px solid var(--palette-primary-100);
            border-radius: 25px;
            overflow: hidden;
            .view-wrapper {
                .content {
                    padding: 0 10px;
                }
                .heading-container {
                    > h3 {
                        background-color: var(--palette-primary-50);
                        border: none;
                        margin: 0;
                    }
                }
            }
        }
    }
}
