<form role="search" autocomplete="off" (ngSubmit)="onSubmit()">
  <div
    class="search-field-wrapper"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    cdkMonitorSubtreeFocus
    [class.input-has-focus]="inputHasFocus()"
  >
    <mat-form-field class="search-field" appearance="legacy" floatLabel="always">
      <mat-label></mat-label>
      <mat-chip-list #chipList>
        <div class="chips-wrapper" *ngIf="filters$ | async as filtersDict">
          <ng-container *ngFor="let filters of filtersDict | keyvalue">
            <!-- We considered injecting the chip list from the mds editor like the suggestions
            panel, but `mat-chip-list` needs direct access to `mat-chip`s as child components for
            keyboard interaction to work. -->
            <mat-chip
              *ngFor="let filterValue of filters.value"
              class="filter-chip-{{ filters.key | propertySlug }}"
              [removable]="true"
              (removed)="onRemoveFilter(filters.key, filterValue)"
            >
              {{ filterValue.label }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </ng-container>
        </div>
        <div class="search-field-input-wrapper">
          <input
            class="search-input"
            #input
            name="search"
            type="search"
            matInput
            [formControl]="inputControl"
            [matChipInputFor]="chipList"
            autocomplete="off"
            placeholder="{{ placeholder | translate }}"
            [attr.aria-label]="placeholder | translate"
            (focus)="showOverlay = true"
            (blur)="onInputBlur($event)"
            (keydown.tab)="focusOverlayIfOpen($event)"
            (keydown.enter)="onSubmit()"
          />
          <button
            class="clear-button"
            *ngIf="inputControl.value"
            mat-icon-button
            type="button"
            (click)="onClear()"
          >
            <i icon="clear"></i>
          </button>
          <button
            class="submit-button"
            mat-icon-button
            attr.aria-label="{{ 'WORKSPACE.SEARCH_ACTION' | translate }}"
          >
            <i icon="search" [aria]="false"></i>
          </button>
        </div>
      </mat-chip-list>
    </mat-form-field>
  </div>
</form>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="showOverlay && hasSuggestions"
  [cdkConnectedOverlayPositions]="overlayPositions"
  [cdkConnectedOverlayWidth]="trigger.elementRef.nativeElement.getBoundingClientRect().width"
  (overlayOutsideClick)="onOutsideClick($event)"
  (detach)="onDetach()"
>
  <div class="suggestion-card mat-elevation-z2" cdkTrapFocus>
    <ng-container *ngTemplateOutlet="facets.suggestionsPanel"></ng-container>
  </div>
</ng-template>

<app-search-field-facets
  #facets
  [repository]="(mdsInfo$ | async)?.repository"
  [metadataSet]="(mdsInfo$ | async)?.metadataSet"
  group="search_input"
  [values]="rawFilters$ | async"
  (valuesChange)="onValuesChange($event)"
  [suggestions]="suggestions$ | async"
  (categories)="onCategories($event)"
></app-search-field-facets>
