<div
  *ngFor="let entry of entries$ | async"
  (click)="entry.open()"
  (keyup.enter)="entry.open()"
  class="button waves-effect"
  [class.selected]="currentScope === entry.scope"
  [class.collection-item-separate]="entry.isSeparate"
  [class.clickable]="!entry.isDisabled"
  [class.disabled]="entry.isDisabled"
  tabindex="0"
  title="{{ 'GOTO' | translate }} {{ entry.name | translate }}"
>
  <i *ngIf="entry.icon" aria-hidden="true" class="material-icons">{{ entry.icon }}</i>
  <span>{{ (entry.isCustom ? entry.name : entry.name + '_SHORT') | translate }}</span>
</div>
