<div *ngIf="_node" class="group">
  <div class="new" *ngIf="canComment()">
    <div class="left">
      <user-avatar
              [size]="'small'"
              [user]="user"
      ></user-avatar>
    </div>
    <div class="right">
      <form (ngSubmit)="addComment()">
        <textarea name="addComment" class="materialize-textarea" [disabled]="sending" placeholder="{{'NODE_COMMENTS.NEW_COMMENT_PLACEHOLDER' | translate}}" [(ngModel)]="newComment"></textarea>
        <i *ngIf="!sending" tabindex="0" class="material-icons send-icon" (click)="addComment()" (keyup.enter)="addComment()">send</i>
        <spinner-small *ngIf="sending" ></spinner-small>
      </form>
    </div>
  </div>
  <div class="comments comments-loading" *ngIf="loading"><spinner></spinner></div>
  <div class="comments" [class.commentsLong]="!canComment()" *ngIf="comments">
    <div *ngIf="comments && !comments.length" class="noComments">{{'NODE_COMMENTS.NO_COMMENTS' | translate}}</div>
    <div *ngFor="let comment of comments;let i=index" class="comment">
      <div class="top">
        <div class="left">
          <user-avatar
                  [link]="true"
                  [size]="'small'"
                  [user]="comment.creator"
          ></user-avatar>
        </div>
        <div class="right">
          <div class="creator">
            <div class="name">{{comment.creator | authorityName}}</div>
            <i icon iconId="more_vert" class="dropdown" *ngIf="getOptions(comment) && getOptions(comment).length" (click)="options=getOptions(comment);dropdown=i"></i>
            <dropdown [options]="options" [show]="dropdown==i" (showChange)="dropdown=-1"></dropdown>
          </div>
          <div class="commentText" *ngIf="comment!=editComment">{{comment.comment}}</div>
          <div class="commentTextEdit" *ngIf="comment==editComment">
            <form (ngSubmit)="saveEditComment()">
              <textarea name="comment" class="materialize-textarea" placeholder="{{'NODE_COMMENTS.NEW_COMMENT_PLACEHOLDER' | translate}}" [(ngModel)]="editCommentText"></textarea>
            </form>
          </div>
        </div>
      </div>
      <div class="icons" *ngIf="comment==editComment">
        <div class="btn-negative" tabindex="0" (click)="editComment=null" (keyup.enter)="editComment=null"><i icon iconId="close"></i></div>
        <div class="btn-positive" tabindex="0" (click)="saveEditComment()" (keyup.enter)="saveEditComment()"><i icon iconId="check"></i></div>
      </div>
      <div class="date" *ngIf="comment!=editComment">{{comment.created | formatDate}}</div>
    </div>
  </div>
</div>
