@import "../../../styles/variables.scss";

md-input{
  width:100%;
}
.powered{
  text-align: center;
  width: 100%;
  position:fixed;
  top:calc(15% + 490px);
  color: $textVeryLight;
}
.powered-long{
  top:calc(15% + 530px);
}
.branding{
  width:100%;
  height:100px;
  text-align: center;
}
.register{
  color:$textLight;
}
.useUrl{
  .goto{
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    padding-top: 5px;
    i{
      padding-left: 4px;
      font-size: 20px;
    }
  }
}
@media screen and (max-height: ($mobileHeight)) {
  .card{
    top: 15%;
    bottom:auto;
  }
}
@media screen and (max-width: $mobileWidth+$mobileStage*1) {
  .card-title{
    margin-bottom: 15px;
  }
  .powered{
    top:calc(15% + 410px);
  }

  .branding{
    position: absolute;
    top: 25px;
    left: calc(50% - 75px);
    height:50px;
    img{
      width:100px;
      height:auto;
    }
  }
}
@media screen and (max-height: $mobileHeightWithKeyboard) {
  .card{
    top: 0;
    bottom: 0;
  }
}