
<div class="dialog darken valign-wrapper">

  <main-nav *ngIf="mainnav"
            [title]="'SIDEBAR.LOGIN'"
            [currentScope]="'login'"
            [searchEnabled]="false"
  ></main-nav>

  <spinner *ngIf="isLoading" class="center"></spinner>
  <div *ngIf="!isLoading">
  <div class="card center-card">
    <div class="card-content">
    <div class="card-title">{{caption | translate}}</div>
      <div class="branding"><img src="assets/images/logo.svg"></div>
      <div class="card-scroll ">
      <form (ngSubmit)="login()" #loginForm>
      <div *ngIf="showUsername">
        <label for="username">{{'LOGIN.USERNAME' | translate}}</label>
        <input #usernameInput type="text" requried name="username" id="username" (keyup.enter)="checkConditions()" [(ngModel)]="username" autofocus/>
      </div>
      <div>
        <label for="password">{{'LOGIN.PASSWORD' | translate}}</label>
      <!--<input #passwordInput requried type="password" name="password" id="password" (keydown.enter)="login()" (change)="checkConditions()" [(ngModel)]="password"/>-->
        <input-password #passwordInput id="password" required="true" (keydown.enter)="login()" [(value)]="password"></input-password>
      </div>
      </form>
      <div class="register" *ngIf="config.registerUrl">
        {{'LOGIN.REGISTER_TEXT' | translate}}
        <a (click)="register()" class="clickable">{{'LOGIN.REGISTER_LINK' | translate}} <i class="material-icons">arrow_forward</i></a>
      </div>
      </div>
    </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn" [class.disabled]="disabled" (click)="login()">{{'LOGIN.LOGIN' | translate }}</a>
        <a class="btn-flat" *ngIf="config.recoverPasswordUrl" (click)="recoverPassword()">{{'LOGIN.RECOVER_PASSWORD' | translate }}</a>
      </div>
  </div>
  <powered-by mode="white"></powered-by>
  </div>
  </div>
