<main-nav *ngIf="mainnav" #mainNav
          [title]="'SIDEBAR.LOGIN'"
          [currentScope]="'login'"
          [searchEnabled]="false"
></main-nav>
  <div *ngIf="!isLoading">
  <card title="{{caption | translate}}" avatar="assets/images/app-icon.svg" subtitle="{{'LOGIN.SUBTITLE' | translate}}" [isCancelable]="true" (onCancel)="goBack()" [buttons]="buttons" width="small" height="auto">
      <spinner *ngIf="isLoading" class="center"></spinner>
      <div class="login-content" *ngIf="!isLoading">
      <div class="branding"><img src="assets/images/logo.svg" image-config alt=""></div>
          <div *ngIf="stage=='choose'" [@dialog]="stage=='choose'" class="choose">
              <div>
                  <div class="choose-label">{{'LOGIN.CHOOSE_URL' | translate}}</div>
                  <button mat-raised-button color="primary" (click)="openLoginUrl()">{{'LOGIN.CHOOSE_URL_BUTTON' | translate}} <i icon iconId="arrow_forward"></i></button>
              </div>
              <div>
                  <div class="choose-label">{{'LOGIN.CHOOSE_LOCAL' | translate}}</div>
                  <button mat-raised-button color="primary" (click)="showLogin()">{{'LOGIN.CHOOSE_LOCAL_BUTTON' | translate}}</button>
              </div>
          </div>
          <div *ngIf="stage=='login'" [@dialog]="stage=='login'">
          <form (ngSubmit)="login()" #loginForm>
            <div *ngIf="showUsername">
                <mat-form-field floatLabel="always">
                  <mat-label>{{'LOGIN.USERNAME' | translate}}</mat-label>
                  <input matInput #usernameInput required name="username" id="username" (keydown.enter)="login()" (keyup)="checkConditions()" [(ngModel)]="username" autofocus/>
                </mat-form-field>
            </div>
            <div>
                <input-password #passwordInput id="password" label="{{'LOGIN.PASSWORD' | translate}}" floatLabel="always" required="true" (keydown.enter)="login()" [(value)]="password"></input-password>
            </div>
          </form>
          <div class="register" *ngIf="config.register.local || config.register.registerUrl">
              {{'LOGIN.REGISTER_TEXT' | translate}}
              <button mat-button color="primary" (click)="register()">{{'LOGIN.REGISTER_LINK' | translate}} <i icon iconId="arrow_forward"></i></button>
          </div>
        </div>
    </div>
  </card>
  <powered-by mode="white" [ngClass]="{'powered-down': config.register.local || config.register.registerUrl}"></powered-by>
  </div>
