@import "../../../styles/variables.scss";

md-input{
  width:100%;
}
powered-by{
  position: fixed;
  left: 0;
  top: calc(15% + 510px);
}
.powered-long{
  top:calc(15% + 530px);
}
.branding{
  width:100%;
  height:100px;
  text-align: center;
  img{
    max-height: 100px;
  }
}
.register{
  color:$textLight;
  a{
    text-transform: uppercase;
    i{
      font-size: 11pt;
      position: relative;
      top: 3px;
    }
  }
}
.useUrl{
  .goto{
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    padding-top: 5px;
    i{
      padding-left: 4px;
      font-size: 20px;
    }
  }
}
@media screen and (max-height: ($mobileHeight)) {
  .card{
    top: 15%;
    bottom:auto;
  }
}
@media screen and (max-width: $mobileWidth+$mobileStage*1) {
  .card-title{
    margin-bottom: 15px;
  }
  powered-by{
    position: fixed;
    top:calc(15% + 410px);
  }
  .branding{
    position: absolute;
    top: 25px;
    left: calc(50% - 75px);
    height:50px;
    img{
      width:100px;
      height:auto;
    }
  }
}
@media screen and (max-height: $mobileHeightWithKeyboard) {
  .card{
    top: 0;
    bottom: 0;
  }
}