@import "../../../styles/variables.scss";

md-input{
  width:100%;
}
.dialog{
  z-index: 10;
}
.card{
  z-index: 90;
}
powered-by{
  position: fixed;
  left: 0;
  bottom: 5%;
}
.powered-down{
  top: calc(15% + 530px);
}
.card-cancel{
  z-index: 1;
}
.branding {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 10px;
  img {
    max-height: 100px;
  }
}
.choose{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 230px;
  >div{
    display:flex;
    flex-direction: column;
    .choose-label{
      color: $textLight;
      margin: 0 0 5px 10px;
    }
  }
}
.register{
  padding-bottom: 10px;
  color:$textLight;
  a{
    text-transform: uppercase;
    i{
      font-size: 11pt;
      position: relative;
      top: 3px;
    }
  }
}
.groups{
  display: flex;
  padding:$cardPadding 0;
  >div{
    width: 0;
    flex-grow: 1;
    padding:0 10px;
    .group-heading{
      width: 100%;
      padding: 5px 10px;
      margin-bottom: 10px;
      color:$textLight;
      text-transform: uppercase;
      font-size: 130%;
      border-bottom:1px solid $textLight;
      text-align: center;
    }
    .group-description{
      color:$textLight;
      padding: 0 10px 20px 10px;
      text-align: center;
    }
    .sso-group{
      display: flex;
      .group-actions{
        flex-grow: 1;
        align-self: flex-end;
      }
      .sso-logo{
        padding-left: 10px;
        height: 114px;
      }
    }
    mat-form-field{
      width: 100%;
    }
  }
}
// @todo: remove this when switching to full angular material
:host /deep/ {
  .mat-form-field-appearance-outline .mat-form-field-outline{
    top: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0.15em;
  }
}
.useUrl{
  .goto{
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    padding-top: 5px;
    i{
      padding-left: 4px;
      font-size: 20px;
    }
  }
}
@media screen and (max-width: $mobileWidth+$mobileStage*1) {
  .groups{
    flex-direction: column;
    >div{
      padding:10px 0;
      width: 100%;
    }
  }
}
@media screen and (max-width: $mobileTabSwitchWidth){
  powered-by{
    display: none;
  }
  .card{
    top: 0;
    bottom:$mobileTabNavHeight;
  }
  .center-card .card-scroll{
    height:calc(100% + 69px);
  }
  .card-action-info{
    display: none;
  }
}
@media screen and (max-width: $mobileWidth+$mobileStage*1) {
  .branding{
    position: absolute;
    top: -27px;
    left: 0;
    display: flex;
    justify-content: center;
    img{
      width:80px;
      height:auto;
    }
  }
}
@media screen and (max-height: $mobileHeightWithKeyboard) {
  .card{
    top: 0;
    bottom: 0;
  }
}
