<es-card
  *ngIf="_tool"
  title="{{ 'CONNECTOR.' + _tool.appId + '.TITLE' | translate }}"
  subtitle="{{ 'CONNECTOR.' + _tool.name + '.NAME' | translate }}"
  height="auto"
  [icon]="'create'"
  [buttons]="buttons"
  [isCancelable]="true"
  (onCancel)="cancel()"
>
  <div class="card-content-padding">
    <form (ngSubmit)="create()">
      <mat-form-field>
        <mat-label>{{ 'CONNECTOR.' + _tool.appId + '.PLACEHOLDER' | translate }}</mat-label>
        <input matInput type="text" #input [(ngModel)]="_name" name="filename" autofocus />
      </mat-form-field>
    </form>
  </div>
</es-card>
