<div *ngIf="_tool">
  <es-card
    title="{{ 'WORKSPACE.LTI_V13_PLATFORM.NODE.CREATE.TITLE' | translate }}"
    subtitle="{{
      'WORKSPACE.LTI_V13_PLATFORM.NODE.CREATE.NAME' | translate: { ltitool: _tool.name }
    }}"
    height="auto"
    [icon]="'create'"
    [buttons]="buttons"
    [isCancelable]="true"
  >
    <div class="card-content-padding">
      <form (ngSubmit)="create()">
        <ul>
          <li *ngFor="let el of nodes; let i = index">
            <mat-form-field style="width: 100%">
              <mat-label>{{ 'NODE.cm:name' | translate }} </mat-label>
              <input
                matInput
                type="text"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="nodes[i].name"
                #input
                name="filename"
                autofocus
              />
            </mat-form-field>
          </li>
        </ul>
      </form>
      <button mat-button color="primary" (click)="open()" *ngIf="nodes && nodes.length == 0">
        {{ 'LTI Tool öffnen' | translate }}
        <i [esIcon]="_tool.createOption ? 'mode_edit' : 'search'"></i>
      </button>
    </div>
  </es-card>
</div>
