@import "../../styles/variables";

.group{
  .sortMenu{
    position: absolute;
    z-index: $dialogZIndex+1;
    width: $contextMenuWidth;
    .collection-item{
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 20px;
      .title{
        flex-grow: 1;
      }
      a{
        height:20px;
      }
      i{
        position: initial;
      }
      &.active{
        font-weight: bold;
      }
    }
  }
}