<input #fileSelect type="file" style="display:none" id="fileSelect" [multiple]="false" (change)="filesSelected($event)" />
<app-mds-editor-widget-container
        [label]="false"
        [injectedView]="this"
>
  <div class="dropArea" [class.dropActive]="isFileOver" fileDrop
       (onFileDrop)="setFilesByFileList($event)"
       (click)="link ? null : fileSelect.click()"
       (fileOver)="isFileOver=$event">
    <div *ngIf="selectedFiles">
      <div class="filename"><mat-icon>description</mat-icon> {{selectedFiles[0].name}}</div>
      <mat-link (click)="selectedFiles = null">{{ 'WORKSPACE.ADD_OBJECT_RESET' | translate}}</mat-link>
    </div>
    <div *ngIf="!selectedFiles && !link">
      <div><i icon iconId="cloud_upload"></i></div>
      <div *ngIf="supportsDrop">{{ 'WORKSPACE.ADD_OBJECT_MESSAGE' | translate}}
        <mat-link (click)="fileSelect.click()">{{ 'WORKSPACE.ADD_OBJECT_BROWSE' | translate}}</mat-link>
      </div>
    </div>
    <div *ngIf="link">
      <div><i icon iconId="cloud_off"></i></div>
      <div>{{ 'WORKSPACE.ADD_OBJECT_LINK_SELECTED' | translate}}
      </div>
    </div>
  </div>
  <div class="seperator-line uppercase">{{ 'WORKSPACE.SELECT_ORG' | translate}}</div>
  <div class="link">
    <div class="link-info">
      <mat-form-field>
        <mat-label>{{ 'WORKSPACE.SELECT_LINK' | translate}}</mat-label>
        <input matInput [(ngModel)]="link" (keyup.enter)="setLink()" [disabled]="!!selectedFiles" placeholder="http://">
      </mat-form-field>
    </div>
  </div>
</app-mds-editor-widget-container>