<user-profile
  *ngIf="showProfile"
  (onCancel)="showProfile=false"
></user-profile>
<app-banner [scope]="_currentScope" (onUpdate)="refreshBanner()"></app-banner>
<tutorial [element]="tutorialElement" [heading]="'USER_TUTORIAL_HEADING'" [description]="'USER_TUTORIAL_DESCRIPTION'" [showSkip]="false"></tutorial>

<div class="dialog darken" *ngIf="licenseAgreement" [@fade]="licenseAgreement"></div>
<div class="card center-card card-scroll card-high card-wide card-action" *ngIf="licenseAgreement" [@cardAnimation]="licenseAgreement">
  <div class="card-content">
    <div class="card-title">{{'LICENSE_AGREEMENT.TITLE' | translate }}</div>
    <div class="agreementGroup card-scroll">
        <div class="agreement" [innerHTML]="licenseAgreementHTML"></div>
    </div>
    <div *ngIf="licenseAgreementHTML">
      <input type="checkbox" class="filled-in" id="acceptLicenseAgreement" [(ngModel)]="acceptLicenseAgreement"><label for="acceptLicenseAgreement">{{'LICENSE_AGREEMENT.CHECKBOX' | translate}}</label>
    </div>
  </div>
  <div class="card-action">
    <a class="waves-effect waves-light btn" [class.disabled]="!acceptLicenseAgreement" (keyup.enter)="saveLicenseAgreement()" (click)="saveLicenseAgreement()">{{'LICENSE_AGREEMENT.ACCEPT' | translate }}</a>
  </div>
</div>
<div class="dialog darken dialog-sidenav" *ngIf="displaySidebar" [@fade]="displaySidebar" (click)="displaySidebar=false" (keyup.enter)="displaySidebar=false" tabindex="0"></div>

<div #sidebar tabindex="0" class="sidenav" *ngIf="displaySidebar" [@fromLeft]="displaySidebar">
  <div class="sidenavClose clickable" (click)="displaySidebar=false"><i class="material-icons">close</i></div>
  <div class="sidenavImage">
    <img src="assets/images/layout/sidenav.jpg">
    <div><i class="material-icons">account_circle</i>
      <div *ngIf="user && !isGuest">{{userName}}</div>
      <div *ngIf="isGuest">{{'USER_GUEST' | translate}}</div>
    </div>
  </div>
  <div *ngFor="let button of sidebarButtons" class="button" [class.selected]="_currentScope==button.scope"
       (click)="openButton(button)"
       (keyup.enter)="openButton(button)"
       [class.collection-item-seperate]="button.isSeperate"
       [class.clickable]="!button.isDisabled"
       [class.disabled]="button.isDisabled"
       tabindex="0"
       title="{{'GOTO' | translate}} {{button.name | translate}}">
    <i *ngIf="button.icon" class="material-icons align-icon">{{button.icon}}</i><img *ngIf="button.alticon" class="align-icon" src="{{button.alticon}}"> <span>{{button.name | translate}}</span>
  </div>
</div>
<div #topbar class="topBar {{ 'topBar-'+_currentScope}} scrollWithBanner" [class.noUser]="!_showUser">
  <div class="menuButtonOuter">
    <div (click)="openSidenav()" (keyup.enter)="openSidenav()" tabindex="0" class="menuButton" [class.clickable]="canOpen" *ngIf="showScope" title="{{'CHOOSEENVIRONMENT' | translate}}">
      <img class="material-icons eduImage" [src]="getIconSource()" alt="{{'EDU_LOGO_ALT' | translate}}"/>
      <i class="material-icons scopeIcon">{{getCurrentScopeIcon()}}</i>
      <span>{{title | translate}}</span>
      <i class="material-icons barIcon">keyboard_arrow_right</i>
    </div>
  </div>
  <div class="topBarSearch" [class.noScope]="!showScope">
  <form (ngSubmit)="doSearch()" autocomplete="off" *ngIf="searchEnabled">
    <div class="searchInputGroup">
      <input #search name="search" type="search" [(ngModel)]="searchQuery" (change)="searchQueryChange.emit(searchQuery)"
             title="{{searchPlaceholder | translate}}" placeholder="{{searchPlaceholder | translate}}" />
      <i class="material-icons searchIcon">search</i>
      <i class="material-icons searchClearIcon" *ngIf="searchQuery" (click)="clearSearch()">clear</i>
    </div>
  </form>
  </div>
  <div class="imprint" *ngIf="config.imprintUrl"><a class="clickable" (click)="openImprint()">{{ 'IMPRINT' | translate }}</a></div>
  <div *ngIf="user && _currentScope=='search'" #nodeStoreRef class="nodeStore" class="clickable nodeStore" (click)="setNodeStore(true)" title="{{'SEARCH.NODE_STORE.TITLE' | translate}}">
    <i class="material-icons barIcon">bookmark_border</i>
    <div class="nodeStoreCount">{{nodeStoreCount}}</div>
    <div *ngIf="nodeStoreAnimation>0" [@nodeStore]="nodeStoreAnimation>0" class="clickable nodeStoreAnimation" (click)="setNodeStore(true)">
      <div>+{{nodeStoreAnimation}}</div>
    </div>
  </div>

  <div class="user clickable" #userRef *ngIf="user && _showUser" (click)="showUserMenu()" (keyup.enter)="showUserMenu()" tabindex="0" title="{{'USERMENU' | translate}}">
      <div *ngIf="!isGuest">{{userName}}</div>
      <div *ngIf="isGuest">{{'USER_GUEST' | translate}}</div>
      <i class="material-icons barIcon iconArrow">keyboard_arrow_down</i>
      <i class="material-icons barIcon iconPerson">account_circle</i>
    </div>
  <dropdown class="userMenu"
    [(show)]="userOpen"
    [options]="userMenuOptions"
  ></dropdown>
  <div class="help clickable" (click)="showHelpMenu()" (keyup.enter)="showHelpMenu()" tabindex="0">
    <i class="material-icons">help_outline</i>
  </div>
  <dropdown class="helpMenu"
            [(show)]="helpOpen"
            [options]="helpOptions"
  ></dropdown>
</div>
<div #scrolltotop class="btn" id="scrollToTop" tabindex="0" (click)="scrollToTop()" (keyup.enter)="scrollToTop()"><i class="material-icons">keyboard_arrow_up</i></div>
<div class="tab-nav" *ngIf="_currentScope!='render'">
  <div *ngFor="let button of sidebarButtons" class="button" [class.selected]="_currentScope==button.scope"
       (click)="openButton(button)"
       (keyup.enter)="openButton(button)"
       [class.collection-item-seperate]="button.isSeperate"
       [class.clickable]="!button.isDisabled"
       [class.disabled]="button.isDisabled"
       tabindex="0"
       title="{{'GOTO' | translate}} {{button.name | translate}}">
    <i *ngIf="button.icon" class="material-icons">{{button.icon}}</i><img *ngIf="button.alticon" class="align-icon" src="{{button.alticon}}"> <span>{{button.name | translate}}</span>
  </div>
</div>
<search-node-store
  *ngIf="showNodeStore"
  (onClose)="setNodeStore(false)"
></search-node-store>

<cookie-info></cookie-info>
