<!-- central access to all dialogs for actions -->
<workspace-management #management></workspace-management>
<div *ngIf="visible">
  <div class="preload" *ngIf="getPreloading()">
    <img src="assets/images/edu-sharing-loading-animation.svg" image-config alt="" />
  </div>
  <user-profile *ngIf="showProfile" (onCancel)="showProfile = false"></user-profile>

  <card
    *ngIf="licenseDialog"
    title="{{ 'LICENSE_INFORMATION' | translate }}"
    width="xxlarge"
    height="xxlarge"
    [isCancelable]="true"
    (onCancel)="licenseDialog = false"
  >
    <div class="card-content-padding card-licenses">
      <spinner *ngIf="!licenseDetails"></spinner>
      <div [innerHTML]="licenseDetails"></div>
    </div>
  </card>

  <app-banner [scope]="_currentScope" (onUpdate)="refreshBanner()"></app-banner>
  <global-progress *ngIf="globalProgress"></global-progress>
  <tutorial
    [element]="tutorialElement"
    [heading]="'USER_TUTORIAL_HEADING'"
    [description]="'USER_TUTORIAL_DESCRIPTION'"
    [showSkip]="false"
  ></tutorial>

  <div class="dialog darken" *ngIf="licenseAgreement" [@fade]="licenseAgreement"></div>
  <div
    class="card card-agreement center-card card-scroll card-high card-wide card-action"
    *ngIf="licenseAgreement"
    [@cardAnimation]="licenseAgreement"
  >
    <div class="card-content">
      <div class="card-title">{{ 'LICENSE_AGREEMENT.TITLE' | translate }}</div>
      <div class="agreementGroup card-scroll">
        <div class="agreement" [innerHTML]="licenseAgreementHTML"></div>
      </div>
      <div *ngIf="licenseAgreementHTML">
        <mat-checkbox [(ngModel)]="acceptLicenseAgreement">{{
          'LICENSE_AGREEMENT.CHECKBOX' | translate
        }}</mat-checkbox>
      </div>
    </div>
    <div class="card-action">
      <a
        tabindex="0"
        class="waves-effect waves-light btn"
        [class.disabled]="!acceptLicenseAgreement"
        (keyup.enter)="saveLicenseAgreement()"
        (click)="saveLicenseAgreement()"
        >{{ 'LICENSE_AGREEMENT.ACCEPT' | translate }}</a
      >
      <a
        tabindex="0"
        class="waves-effect waves-light btn-flat"
        (keyup.enter)="logout()"
        (click)="logout()"
        >{{ 'LICENSE_AGREEMENT.DECLINE' | translate }}</a
      >
    </div>
  </div>

  <app-create-menu
    #createMenu
    [allowed]="isCreateAllowed()"
    [searchQuery]="searchQuery"
    [allowBinary]="create.allowBinary"
    [parent]="create.parent"
    [folder]="create.folder"
    (onCreate)="onCreate.emit($event)"
  ></app-create-menu>
  <div
    #topbar
    class="topBar {{ 'topBar-' + _currentScope }} scrollWithBanner"
    [class.noUser]="!_showUser"
  >
    <div class="mobile-move-top2">
      <div class="menuButtonOuter" [ngSwitch]="mainMenuStyle" >
        <ng-container *ngSwitchCase="'dropdown'">
          <app-main-menu-dropdown
            #mainMenuDropdown
            [currentScope]="_currentScope"
          ></app-main-menu-dropdown>
          <button
            *ngIf="showScope"
            mat-button
            [matMenuTriggerFor]="mainMenuDropdown.dropdown.menu"
            [disabled]="!canOpen"
            class="menuButton mat-button-no-uppercase"
            [class.clickable]="canOpen"
            title="{{ 'CHOOSEENVIRONMENT' | translate }}"
          >
            <img class="material-icons eduImage" [src]="getIconSource()" alt="" />
            <span>{{ title | translate }}</span>
            <i aria-hidden="true" class="material-icons barIcon">keyboard_arrow_down</i>
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="'sidebar'">
          <app-main-menu-sidebar
            #mainMenuSidebar
            [currentScope]="_currentScope"
            (showLicenses)="showLicenses()"
            (openProfile)="openProfile()"
          ></app-main-menu-sidebar>
          <button
            *ngIf="showScope"
            mat-button
            (click)="mainMenuSidebar.toggle()"
            [disabled]="!canOpen"
            class="menuButton mat-button-no-uppercase"
            [class.clickable]="canOpen"
            title="{{ 'CHOOSEENVIRONMENT' | translate }}"
          >
            <img class="material-icons eduImage" [src]="getIconSource()" alt="" />
            <span>{{ title | translate }}</span>
            <i aria-hidden="true" class="material-icons barIcon">keyboard_arrow_right</i>
          </button>
        </ng-container>
      </div>
      <div class="timeout" *ngIf="isSafe() && timeout && !mainMenuSidebar?.show">
        <i icon iconId="av_timer"></i>
        {{ timeout }}
      </div>
      <div class="add-material">
        <button
          mat-button
          class="addDesktop mat-button-no-uppercase"
          *ngIf="!isGuest && isCreateAllowed()"
          [disabled]="!isCreateAllowed()"
          #dropdownTrigger="matMenuTrigger"
          (menuOpened)="createMenu.updateOptions()"
          [matMenuTriggerFor]="createMenu.dropdown ? createMenu.dropdown.menu : null"
        >
          <i icon iconId="add"></i> <span>{{ 'WORKSPACE.ADD' | translate }}</span>
        </button>
        <button
          class="create-dummy"
          *ngIf="isCreateAllowed()"
          [style.left]="createMenuX + 'px'"
          [style.top]="createMenuY + 'px'"
          #dropdownTriggerDummy="matMenuTrigger"
          [matMenuTriggerFor]="createMenu.dropdown ? createMenu.dropdown.menu : null"
        ></button>
      </div>
      <div class="topBarSearch" [class.noScope]="!showScope">
        <div class="scopeNameMobile" *ngIf="!searchEnabled">{{ title | translate }}</div>
        <form (ngSubmit)="doSearch()" autocomplete="off" *ngIf="searchEnabled" role="search">
          <div class="searchInputGroup">
            <input
              #search
              name="search"
              type="search"
              [(ngModel)]="searchQuery"
              (change)="searchQueryChange.emit(searchQuery)"
              title="{{ searchPlaceholder | translate }}"
              placeholder="{{ searchPlaceholder | translate }}"
            />
            <i class="material-icons searchIcon">search</i>
            <i class="material-icons searchClearIcon" *ngIf="searchQuery" (click)="clearSearch()"
              >clear</i
            >
          </div>
        </form>
      </div>
      <div class="topbar-search-right">
        <div class="imprint" *ngIf="config.imprintUrl || config.privacyInformationUrl">
          <a
            tabindex="0"
            class="focus-underline"
            *ngIf="config.imprintUrl"
            (click)="openImprint()"
            (keyup.enter)="openImprint()"
            >{{ 'IMPRINT' | translate }}</a
          >
          <a
            tabindex="0"
            class="focus-underline"
            *ngIf="config.privacyInformationUrl"
            (click)="openPrivacy()"
            (keyup.enter)="openPrivacy()"
            >{{ 'PRIVACY_INFORMATION' | translate }}</a
          >
        </div>
        <button mat-icon-button *ngIf="user && showChat()" class="rocketchat" (click)="openChat()">
          <i icon iconId="message"></i>
          <div class="mat-button-badge" [class.rocketchat-count-none]="getChatCount() == 0">
            {{ getChatCount() }}
          </div>
        </button>
        <button
          mat-button
          class="user clickable"
          #userRef
          *ngIf="user && _showUser"
          [matMenuTriggerFor]="userDropdown.menu"
          title="{{ 'USERMENU' | translate }}"
        >
          <user-avatar [user]="user.person" [size]="'xsmall'"></user-avatar>
          <div *ngIf="!isGuest">{{ userName }}</div>
          <div *ngIf="isGuest">{{ 'USER_GUEST' | translate }}</div>
          <i aria-hidden="true" class="material-icons barIcon iconArrow">keyboard_arrow_down</i>
          <!-- <i class="material-icons barIcon iconPerson">account_circle</i>-->
        </button>
        <dropdown #userDropdown class="userMenu" [options]="userMenuOptions"></dropdown>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    *ngIf="showScrollToTop"
    [@fade]="showScrollToTop"
    id="scrollToTop"
    tabindex="0"
    (click)="scrollToTop()"
  >
    <i icon iconId="arrow_upward"></i> {{ 'GO_TO_TOP' | translate }}
  </button>
  <div *ngIf="canOpen && _currentScope != 'render'" #tabNav class="tab-nav">
    <app-main-menu-bottom
      class="mobile-move-bottom"
      [currentScope]="_currentScope"
    ></app-main-menu-bottom>
  </div>
  <search-node-store *ngIf="showNodeStore" (onClose)="setNodeStore(false)"></search-node-store>
</div>
