@import '../../../core-ui-module/styles/variables';
@import '../../../core-ui-module/styles/toast';

::ng-deep {
    .mobile-move-top, .mobile-move-bottom {
        &:focus-within {
            // Don't hide any dynamic elements when focused.
            top: 0 !important;
        }
    }
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: $topBarZIndex;
    .user span {
        max-width: 160px;
    }
    > div {
        width: 100%;
        height: $mainnavHeight;
        background: $workspaceTopBarBackground;
        color: $workspaceTopBarFontColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
:host ::ng-deep .card-licenses{
    pre{
        white-space: pre-wrap;
    }
}
.preload {
    position: fixed;
    z-index: 140;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    > img {
        width: 50%;
        max-width: 300px;
    }
}
.dialog {
    z-index: $dialogZIndex + 5;
}
.card-agreement {
    z-index: $dialogZIndex + 6;
    .card-content {
        display: flex;
        flex-direction: column;
    }
    .card-scroll {
        height: calc(100% - 68px);
    }
}
es-user-profile {
    display: inherit !important;
}
.imprint {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 7pt;
    a {
        color: rgba(
            red($workspaceTopBarFontColor),
            green($workspaceTopBarFontColor),
            blue($workspaceTopBarFontColor),
            0.7
        ) !important;
    }
    a:hover {
        color: $workspaceTopBarFontColor !important;
    }
    a:nth-child(2) {
        margin-left: 5px;
    }
}

.menuButton {
    width: 250px;
    display: flex;
    align-items: center;
    .barIcon {
        margin-top: 2px;
    }
    &[disabled] .barIcon {
        display: none;
    }
    &.cdk-keyboard-focused {
        @include setGlobalKeyboardFocus();
        outline-offset: -5px;
    }
}
.menuButtonOuter {
    height: 100%;
    display: flex;
    // fix button move to background if sidemenu is open
    z-index: 1;
    > button {
        border-radius: 0px;
    }
}

.topBarSearch {
    flex: auto;
    margin: 0 20px;
    es-search-field {
        max-width: 550px;
    }
}
.addDesktop{
    margin-left: 50px;
    padding-right: 25px;
    height: 39px;
    background-color: rgba(red($workspaceTopBarFontColor),green($workspaceTopBarFontColor),blue($workspaceTopBarFontColor),.1);
    border-radius: 0;
}

.menuButton img {
    margin-left: 0;
    width: 35px;
}

.topBar {
    span {
        font-size: 130%;
        position: relative;
        margin-left: 6px;
    }
    .rocketchat {
        display: none;
        position: relative;
        top: 3px;
        .rocketchat-count-none {
            background-color: $colorStatusNeutral;
        }
    }
    .timeout {
        background-color: $toastLeftError;
        color: white;
        border-radius: 20pt;
        position: fixed;
        top: 16px;
        left: 1000px;
        font-size: 1rem;
        padding: 10px 15px;
        padding-left: 40px;
        z-index: 105;

        i {
            position: absolute;
            top: 7px;
            left: 10px;
        }
    }
}

.noScope {
    margin-left: 60px;
}
.topBar {
    @include placeholder {
        color: mix(
                $workspaceTopBarInputBackground,
                $workspaceTopBarInputText,
                20%
        ); //rgba(255,255,255,0.165);/* => #595959;*/
    }
}

.topBar .user {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0px 10px;
    height: 40px;
    align-items: center;
    span {
        overflow: hidden;
        margin-top: 1px;
        word-break: break-all;
        display: inline-block;
        text-transform: none;
    }
}

.topBar .user span {
    font-size: 100%;
}
.topBar .user i {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

.topBar {
    .iconPerson {
        display: none;
    }
    es-user-avatar {
        margin: 0 7px;
    }
}
.scopeNameMobile {
    display: none;
}
.add-material {
    display: flex;
    align-items: center;
}
.create-dummy {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
}
.topbar-search-right {
    display: flex;
}
.tab-nav {
    display: none;
}
:host .topBar ::ng-deep button.mat-button {
    &:not([disabled]) .mat-button-focus-overlay {
        background-color: white;
    }
    &[disabled] {
        color: $textOnPrimaryLight;
    }
}
@media screen and (max-width: ($mobileTabSwitchWidth)) {
    #scrollToTop {
        display: none !important;
    }
    .scopeNameMobile {
        display: flex;
        font-weight: bold;
        font-size: 130%;
    }
    .menuButton {
        display: none;
    }
    .add-material {
        button.addDesktop {
            margin-left: 20px;
        }
    }
    .topBar {
        z-index: $topBarMobileZIndex;
        .rocketchat {
            display: flex;
        }
        .help,
        .imprint {
            display: none;
        }
    }

    .tab-nav {
        position: fixed;
        z-index: $mobileTabsZIndex;
        width: 100%;
        bottom: 0;
        display: flex;
        // disable events to "click-through" if menu is hidden
        pointer-events: none;
        > es-main-menu-bottom {
            // but re-enable them on the real menu again
            pointer-events: auto;
        }
    }
}
@media screen and (max-width: ($mobileWidth - $mobileStage*1)) {
    .topBar .user {
        min-width: 0;
        margin-left: 0;
        margin-right: 20px;
        justify-content: center;
        .material-icons {
            margin-left: 0;
        }
        span {
            display: none;
        }
        .iconArrow {
            display: none;
        }
    }
}
@media screen and (max-width: ($mobileTabSwitchWidth + $mobileStage*4)) {
    .topBar {
        .timeout {
            display: none;
        }
    }

}
@media screen and (max-width: ($mobileWidth+$mobileStage*1)) {
    .topBar span {
        display: none;
    }
    .addDesktop{
        padding-right: 15px;
    }
}
@media print {
    .topBar {
        position: absolute;
    }
}
