@import '../../../core-ui-module/styles/variables';
@import '../../../core-ui-module/styles/toast';
.topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: $topBarZIndex;
    .user div {
        max-width: 160px;
    }
    > div {
        width: 100%;
        height: $mainnavHeight;
        background: $workspaceTopBarBackground;
        color: $workspaceTopBarFontColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
:host ::ng-deep .card-licenses{
    display: flex;
    flex-direction: column;
    .license-group {
        white-space: pre;
        font-family: monospace;
        overflow-x: auto;
    }
    .license-spacer {
        width: 100%;
        height: 1px;
        margin: 15px 10px;
        background-color: $cardSeperatorLineColor;
    }
}
.preload {
    position: fixed;
    z-index: 140;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    > img {
        width: 50%;
        max-width: 300px;
    }
}
.dialog {
    z-index: $dialogZIndex + 5;
}
.card-agreement {
    z-index: $dialogZIndex + 6;
    .card-content {
        display: flex;
        flex-direction: column;
    }
    .card-scroll {
        height: calc(100% - 68px);
    }
}
user-profile {
    display: inherit !important;
}
.imprint {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 7pt;
    a {
        color: rgba(
                red($workspaceTopBarFontColor),
                green($workspaceTopBarFontColor),
                blue($workspaceTopBarFontColor),
                0.7
        ) !important;
    }
    a:hover {
        color: $workspaceTopBarFontColor !important;
    }
    a:nth-child(2) {
        margin-left: 5px;
    }
}

.menuButton {
    width: 250px;
    display: flex;
    align-items: center;
    .barIcon {
        margin-top: 2px;
    }
    &[disabled] .barIcon {
        display: none;
    }
    &.cdk-keyboard-focused {
        @include setGlobalKeyboardFocus();
        outline-offset: -5px;
    }
}
.menuButtonOuter {
    height: 100%;
    display: flex;
    // fix button move to background if sidemenu is open
    z-index: 1;
    > button {
        border-radius: 0px;
    }
}

.topBarSearch {
    flex: auto;
    margin: 0 20px;
}
.addDesktop{
    margin-left: 50px;
    padding-right: 25px;
    height: 39px;
    background-color: rgba(red($workspaceTopBarFontColor),green($workspaceTopBarFontColor),blue($workspaceTopBarFontColor),.1);
    border-radius: 0;
}

.menuButton img {
    margin-left: 0;
    width: 35px;
}

.topBar {
    span {
        font-size: 130%;
        position: relative;
        margin-left: 6px;
    }
    .rocketchat {
        display: none;
        position: relative;
        top: 3px;
        .rocketchat-count-none {
            background-color: $colorStatusNeutral;
        }
    }

    .nodeStore {
        margin-right: 4px;
        position: relative;
        top: 6px;
        > i {
            color: $primaryMediumLight;
        }
    }
    .nodeStoreCount {
        background-color: #fff;
        color: $primary;
        right: 5px;
    }
    .nodeStoreAnimation {
        position: absolute;
        left: -5px;
        background-color: $toastLeft;
        border-radius: 50%;
        color: $workspaceTopBarFontColor;
        font-weight: bold;
        font-size: 11pt;
        text-align: center;
        width: 35px;
        height: 35px;
        padding-top: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .timeout {
        background-color: $toastLeftError;
        color: white;
        border-radius: 20pt;
        position: fixed;
        top: 16px;
        left: 1000px;
        font-size: 1rem;
        padding: 10px 15px;
        padding-left: 40px;
        z-index: 105;

        i {
            position: absolute;
            top: 7px;
            left: 10px;
        }
    }
}

.noScope {
    margin-left: 60px;
}
.topBar {
    @include placeholder {
        color: mix(
                $workspaceTopBarInputBackground,
                $workspaceTopBarInputText,
                20%
        ); //rgba(255,255,255,0.165);/* => #595959;*/
    }
    .topBarSearch .searchInputGroup {
        display: flex;
        height: 40px;
        input,
        input:focus {
            padding-right: 40px; // space for clear icon
            border-radius: 2px;
            width: 100%;
            background: $workspaceTopBarInputBackground;
            color: $workspaceTopBarInputText;
            border: none !important;
            -webkit-appearance: none;
            &:focus {
                border-radius: 0;
                &:not(.cdk-keyboard-focused) {
                    @include setGlobalFocus();
                }
                &.cdk-keyboard-focused {
                    transition: none;
                    @include setGlobalKeyboardFocus();
                }
            }
        }
        >button {
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            border-radius: 0 2px 2px 0;
            color: $workspaceTopBarInputText;
            background-color: mix($workspaceTopBarInputBackground, $workspaceTopBarBackground, 80%);
        }
        .searchClearIcon {
            color: $workspaceTopBarInputText;
            opacity: 0.8;
            top: 9px;
            right: 0;
            @include clickable();
        }
    }
}
.searchInputGroup {
    position: relative;
    width: 100%;
    max-width: 550px;
}

.topBar .topBarSearch form {
    position: relative;
}

.searchIcon,
.searchClearIcon {
    font-size: 22px !important;
    position: absolute;
    top: 10px;
}
.searchIcon {
    left: 8px;
}
.topBar .user {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0px 10px;
    height: 40px;
    align-items: center;
    div {
        overflow: hidden;
        margin-top: 1px;
        word-break: break-all;
        display: inline-block;
        text-transform: none;
    }
}

.topBar .user span {
    font-size: 100%;
}
.topBar .user i {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

#scrollToTop {
    transition: all $transitionNormal;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    padding: 0 17px;
    border-radius: 50px 50px 0 0;
    font-size: $fontSizeXSmall;
    background-color: $primary;
    color: $textOnPrimary;
    text-transform: uppercase;
    i {
        font-size: 16px;
        margin: 0 -5px 0 -10px;
    }
}
.topBar {
    .iconPerson {
        display: none;
    }
    user-avatar {
        margin: 0 7px;
    }
}
.scopeNameMobile {
    display: none;
}
.add-material {
    display: flex;
    align-items: center;
}
.create-dummy {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
}
.topbar-search-right {
    display: flex;
}
.tab-nav {
    display: none;
}
:host .topBar ::ng-deep button.mat-button {
    &:not([disabled]) .mat-button-focus-overlay {
        background-color: white;
    }
    &[disabled] {
        color: $textOnPrimaryLight;
    }
}
@media screen and (max-width: ($mobileTabSwitchWidth)) {
    #scrollToTop {
        display: none !important;
    }
    .scopeNameMobile {
        display: flex;
        font-weight: bold;
        font-size: 130%;
    }
    .menuButton {
        display: none;
    }
    .add-material {
        button.addDesktop {
            margin-left: 20px;
        }
    }
    .topBar {
        z-index: $topBarMobileZIndex;
        .rocketchat {
            display: flex;
        }
        .nodeStore,
        .help,
        .imprint {
            display: none;
        }
    }

    .tab-nav {
        position: fixed;
        z-index: $mobileTabsZIndex;
        width: 100%;
        bottom: 0;
        display: flex;
        // disable events to "click-through" if menu is hidden
        pointer-events: none;
        > app-main-menu-bottom {
            // but re-enable them on the real menu again
            pointer-events: auto;
        }
    }
}
@media screen and (max-width: ($mobileWidth - $mobileStage*1)) {
    .topBar .user {
        min-width: 0;
        margin-left: 0;
        margin-right: 20px;
        justify-content: center;
        .material-icons {
            margin-left: 0;
        }
        div {
            display: none;
        }
        .iconArrow {
            display: none;
        }
    }
}
@media screen and (max-width: ($mobileTabSwitchWidth + $mobileStage*4)) {
    .topBar {
        .timeout {
            display: none;
        }
    }

}
@media screen and (max-width: ($mobileWidth+$mobileStage*1)) {
    .topBar span {
        display: none;
    }
    .addDesktop{
        padding-right: 15px;
    }
}
@media print {
    .topBar {
        position: absolute;
    }
}
