<ng-container *ngIf="visible">
  <app-skip-nav></app-skip-nav>
  <app-banner [scope]="_currentScope" (onUpdate)="refreshBanner()"></app-banner>

  <div role="navigation" [attr.aria-label]="'NAV.MAIN' | translate">
    <div class="preload" *ngIf="getPreloading()">
      <img src="assets/images/edu-sharing-loading-animation.svg" image-config alt="" />
    </div>
    <user-profile *ngIf="showProfile" (onCancel)="showProfile = false"></user-profile>

    <card
      *ngIf="licenseDialog"
      title="{{ 'LICENSE_INFORMATION' | translate }}"
      icon="copyright"
      width="xxlarge"
      height="xxlarge"
      [isCancelable]="true"
      (onCancel)="licenseDialog = false"
    >
      <div class="card-content-padding card-licenses">
        <spinner *ngIf="!licenseDetails"></spinner>
        <ng-container *ngIf="licenseDetails">
          <ng-container *ngFor="let license of licenseDetails; let first=first">
            <!-- <div class="license-spacer" role="separator" *ngIf="!first"></div> -->
            <h5 class="mat-heading-5">{{license.component}} / {{license.plugin}}</h5>
            <div
              [innerHTML]="license.details"
              class="license-group"></div>
          </ng-container>
        </ng-container>
      </div>
    </card>

    <global-progress *ngIf="globalProgress"></global-progress>
    <tutorial
      [element]="tutorialElement"
      [heading]="'USER_TUTORIAL_HEADING'"
      [description]="'USER_TUTORIAL_DESCRIPTION'"
      [showSkip]="false"
    ></tutorial>

    <div class="dialog darken" *ngIf="licenseAgreement" [@fade]="licenseAgreement"></div>
    <div
      class="card card-agreement center-card card-scroll card-high card-wide card-action"
      *ngIf="licenseAgreement"
      [@cardAnimation]="licenseAgreement"
    >
      <div class="card-content">
        <div class="card-title">{{ 'LICENSE_AGREEMENT.TITLE' | translate }}</div>
        <div class="agreementGroup card-scroll">
          <div class="agreement" [innerHTML]="licenseAgreementHTML"></div>
        </div>
        <div *ngIf="licenseAgreementHTML">
          <mat-checkbox [(ngModel)]="acceptLicenseAgreement">{{
            'LICENSE_AGREEMENT.CHECKBOX' | translate
            }}</mat-checkbox>
        </div>
      </div>
      <div class="card-action">
        <a
          tabindex="0"
          class="waves-effect waves-light btn"
          [class.disabled]="!acceptLicenseAgreement"
          (keyup.enter)="saveLicenseAgreement()"
          (click)="saveLicenseAgreement()"
        >{{ 'LICENSE_AGREEMENT.ACCEPT' | translate }}</a
        >
        <a
          tabindex="0"
          class="waves-effect waves-light btn-flat"
          (keyup.enter)="logout()"
          (click)="logout()"
        >{{ 'LICENSE_AGREEMENT.DECLINE' | translate }}</a
        >
      </div>
    </div>

    <app-create-menu
      #createMenu
      [allowed]="isCreateAllowed()"
      [searchQuery]="searchQuery"
      [allowBinary]="create.allowBinary"
      [parent]="create.parent"
      [folder]="create.folder"
      (onCreate)="onCreate.emit($event)"
    ></app-create-menu>
    <div
      #topbar
      class="topBar {{ 'topBar-' + _currentScope }} scrollWithBanner"
      [class.noUser]="!_showUser"
    >
      <div class="mobile-move-top2">
        <div class="menuButtonOuter" [ngSwitch]="mainMenuStyle">
          <ng-container *ngSwitchCase="'dropdown'">
            <app-main-menu-dropdown
              #mainMenuDropdown
              [currentScope]="_currentScope"
            ></app-main-menu-dropdown>
            <button
              *ngIf="showScope"
              mat-button
              [matMenuTriggerFor]="mainMenuDropdown.dropdown.menu"
              [disabled]="!canOpen"
              class="menuButton mat-button-no-uppercase"
              [class.clickable]="canOpen"
              title="{{ 'CHOOSEENVIRONMENT' | translate }}"
            >
              <img class="material-icons eduImage" [src]="getIconSource()" alt="" />
              <span>{{ title | translate }}</span>
              <i aria-hidden="true" class="material-icons barIcon">keyboard_arrow_down</i>
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="'sidebar'">
            <app-main-menu-sidebar
              #mainMenuSidebar
              [currentScope]="_currentScope"
              (showLicenses)="showLicenses()"
            ></app-main-menu-sidebar>
            <button
              *ngIf="showScope"
              mat-button
              (click)="mainMenuSidebar.toggle()"
              [disabled]="!canOpen"
              class="menuButton mat-button-no-uppercase"
              [class.clickable]="canOpen"
              title="{{ 'CHOOSEENVIRONMENT' | translate }}"
            >
              <img class="material-icons eduImage" [src]="getIconSource()" alt="" />
              <span>{{ title | translate }}</span>
              <i aria-hidden="true" class="material-icons barIcon">keyboard_arrow_right</i>
            </button>
          </ng-container>
        </div>
        <div class="timeout" *ngIf="isSafe() && timeout && !mainMenuSidebar?.show">
          <i icon="av_timer"></i>
          {{ timeout }}
        </div>
        <div class="add-material">
          <button
            mat-button
            class="addDesktop mat-button-no-uppercase"
            *ngIf="!connector.getCurrentLogin()?.isGuest && isCreateAllowed()"
            [disabled]="!isCreateAllowed() || !createMenu.hasUsableOptions()"
            #dropdownTrigger="matMenuTrigger"
            (menuOpened)="createMenu.updateOptions()"
            [matMenuTriggerFor]="createMenu.dropdown ? createMenu.dropdown.menu : null"
            [attr.aria-label]="'WORKSPACE.ADD' | translate"
          >
            <i icon="add"></i> <span>{{ 'WORKSPACE.ADD' | translate }}</span>
          </button>
          <button
            class="create-dummy"
            *ngIf="isCreateAllowed()"
            [style.left]="createMenuX + 'px'"
            [style.top]="createMenuY + 'px'"
            #dropdownTriggerDummy="matMenuTrigger"
            [matMenuTriggerFor]="createMenu.dropdown ? createMenu.dropdown.menu : null"
            tabindex="-1"
            aria-hidden="true"
          ></button>
        </div>
        <div class="topBarSearch" [class.noScope]="!showScope">
          <div class="scopeNameMobile" *ngIf="!searchEnabled">{{ title | translate }}</div>
          <form
            autocomplete="off"
            *ngIf="searchEnabled"
            role="search"
            #searchForm>
            <div class="searchInputGroup">
              <input
                #search
                cdkMonitorElementFocus
                name="search"
                type="search"
                [(ngModel)]="searchQuery"
                (change)="searchQueryChange.emit(searchQuery)"
                placeholder="{{ searchPlaceholder | translate }}"
                [attr.aria-label]="searchPlaceholder | translate"
              />
              <i class="searchClearIcon" *ngIf="searchQuery" (click)="clearSearch()" icon="clear"></i>
              <button mat-icon-button (click)="doSearch()" attr.aria-label="{{'WORKSPACE.SEARCH_ACTION' | translate}}">
                <i icon="search" [aria]="false"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="topbar-search-right">
          <div class="imprint" *ngIf="config.imprintUrl || config.privacyInformationUrl">
            <a
              cdkMonitorElementFocus
              tabindex="0"
              class="clickable"
              *ngIf="config.imprintUrl"
              (click)="openImprint()"
              (keyup.enter)="openImprint()"
            >{{ 'IMPRINT' | translate }}</a
            >
            <a
              cdkMonitorElementFocus
              tabindex="0"
              class="clickable"
              *ngIf="config.privacyInformationUrl"
              (click)="openPrivacy()"
              (keyup.enter)="openPrivacy()"
            >{{ 'PRIVACY_INFORMATION' | translate }}</a
            >
          </div>
          <button mat-icon-button *ngIf="iam.getCurrentUser() && showChat()" class="rocketchat" (click)="openChat()">
            <i icon="message"></i>
            <div class="mat-button-badge" [class.rocketchat-count-none]="getChatCount() == 0">
              {{ getChatCount() }}
            </div>
          </button>
          <button
            mat-button
            class="user clickable"
            #userRef
            *ngIf="iam.getCurrentUser() && _showUser"
            [matMenuTriggerFor]="userDropdown.menu"
            title="{{ 'USERMENU' | translate }}"
          >
            <user-avatar [user]="iam.getCurrentUser()" [size]="'xsmall'"></user-avatar>
            <div *ngIf="!connector.getCurrentLogin()?.isGuest">{{ iam.getCurrentUser() | authorityName }}</div>
            <div *ngIf="connector.getCurrentLogin()?.isGuest">{{ 'USER_GUEST' | translate }}</div>
            <i aria-hidden="true" class="material-icons barIcon iconArrow">keyboard_arrow_down</i>
            <!-- <i class="material-icons barIcon iconPerson">account_circle</i>-->
          </button>
          <dropdown #userDropdown class="userMenu" [options]="userMenuOptions"></dropdown>
        </div>
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      *ngIf="showScrollToTop"
      [@fade]="showScrollToTop"
      id="scrollToTop"
      tabindex="0"
      (click)="scrollToTop()"
    >
      <i icon="arrow_upward"></i> {{ 'GO_TO_TOP' | translate }}
    </button>
    <div *ngIf="canOpen && _currentScope != 'render'" #tabNav class="tab-nav">
      <app-main-menu-bottom
        class="mobile-move-bottom"
        [currentScope]="_currentScope"
      ></app-main-menu-bottom>
    </div>
    <search-node-store *ngIf="showNodeStore" (onClose)="setNodeStore(false)"></search-node-store>
  </div>
</ng-container>
