<div
  role="complementary"
  [attr.aria-label]="'COLLECTIONS.DETAILS' | translate"
  class="collections-header"
  [style.background-color]="collection?.collection?.color"
>
  <div
    class="card-collection-image-container"
    [class.card-collection-icon-container]="!hasNonIconPreview()"
  >
    @if (!hasNonIconPreview()) {
    <div class="card-collection-image-icon-wrapper">
      <div class="card-image-icon-container">
        <div
          class="card-image-icon-circle"
          [style.cursor]="isAllowedToEditCollection() ? 'pointer' : 'auto'"
          (click)="edit.emit()"
        >
          <i esIcon="layers"></i>
        </div>
      </div>
    </div>
    } @if (hasNonIconPreview()) {
    <div class="card-image-icon-container">
      <img
        role="presentation"
        class="blurred-image"
        [src]="collection | esNodeImage : { maxWidth: 300, maxHeight: 300, crop: true } | async"
      />
      @if (collection?.preview?.url) {
      <img
        [src]="collection | esNodeImage : { maxWidth: 300, maxHeight: 300, crop: true } | async"
        class="collection-header-image"
        role="presentation"
      />
      }
    </div>
    }
    <!-- Making the image area clickable poses a violation of accessibility rules. Merge
    christopher/fix/image-click-areas to remove. -->
    @if (isAllowedToEditCollection()) {
    <div (click)="edit.emit()" role="presentation" class="big-edit-button"></div>
    }
  </div>
  <div class="collections-header-textarea">
    <div class="collection-option">
      <es-actionbar
        #actionbar
        [numberOfAlwaysVisibleOptions]="2"
        [numberOfAlwaysVisibleOptionsMobile]="2"
        appearance="round"
        [style]="'flat'"
        [dropdownPosition]="'right'"
      ></es-actionbar>
    </div>
    <h1
      esTitle
      class="collection-new-preview-headline collections-header-texttop"
      data-test="collection-info-title"
    >
      {{ collection?.title }}
    </h1>

    @if (collection?.collection?.childCollectionsCount) {
    <div
      class="collection-new-preview-subline collections-header-texttop"
      data-test="collection-info-child-collections-count"
    >
      {{ collection.collection.childCollectionsCount }}
      {{ 'COLLECTION.INFO_REFERENCES_MULTI' | translate }}
    </div>
    } @if (collection?.collection?.childReferencesCount) {
    <div
      class="collection-new-preview-subline collections-header-texttop"
      data-test="collection-info-child-references-count"
    >
      {{ collection.collection.childReferencesCount }}
      {{ 'COLLECTION.INFO_CHILDS_MULTI' | translate }}
    </div>
    }

    <div class="collection-new-preview-infoline" data-test="collection-info-creator">
      <i
        esIcon="person"
        class="icon-bottom"
        [altText]="('COLLECTIONS.CREATOR' | translate) + ': '"
      ></i>
      &nbsp; @if (!collection?.collection?.authorFreetext) {
      <span>{{ collection.owner | authorityName }}</span>
      } @if (collection?.collection?.authorFreetext) {
      <span>{{ collection.collection.authorFreetext }}</span>
      }
    </div>

    <div class="collection-new-preview-infoline" data-test="collection-info-sharing-state">
      <i
        [esIcon]="getScopeInfo().icon"
        esIconContext="collection-scope"
        class="icon-bottom"
        [altText]="('COLLECTIONS.SHARING_STATE' | translate) + ': '"
      ></i>
      &nbsp;{{ 'COLLECTION.SCOPE.' + getScopeInfo().scopeName | translate }}
    </div>
    <div class="collection-permissions collection-label"></div>
    <div class="collections-metadata" data-test="collection-info-metadata">
      @if (collection?.properties) {
      <es-mds-viewer
        #mds
        [mdsEditorInstanceService]="mdsEditorInstanceService"
        groupId="collection_sidebar"
        [data]="collection.properties"
        [headingLevel]="2"
      ></es-mds-viewer>
      }
    </div>

    @if (collection?.access?.indexOf('ChangePermissions') !== -1 && permissions()) {
    <div>
      <div data-test="collection-info-permissions">
        <h2 class="collection-permissions collection-label">
          {{ 'COLLECTIONS.PERMISSIONS' | translate }}
        </h2>
        <div class="collection-permissions collection-content">
          @for (permission of uniquePermissions(); track permission) { @if (
          permission.authority.authorityType !== 'EVERYONE' && permission.authority.authorityName
          !== 'System' ) {
          <div>
            <es-user-avatar [user]="permission" size="xsmall"></es-user-avatar>
            <span>{{
              (permission.authority.authorityType === 'GROUP' ? permission.group : permission.user)
                | authorityName
            }}</span>
          </div>
          } }
        </div>
      </div>
      @if (stats) {
      <div data-test="collection-info-stats">
        <h2 class="collection-stats collection-label">
          {{ 'COLLECTIONS.STATS.TOTAL' | translate }}
        </h2>
        <div class="collection-stats collection-content">
          {{ stats.total['VIEW_COLLECTION'] }}
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>
