<!--<es-autocomplete
  [id]="'searchAuthority'"
  [inputMinLength]="2"
  (addItem)="addSuggestion($event)"
  (addAny)="addAny($event)"
  [disabled]="disabled"
  [allowAny]="allowAny"
  [maxSuggestions]="maxSuggestions"
  [placeholder]="placeholder"
  [hintBottom]="hintBottom"
  [suggestions]="authoritySuggestions"
  (updateInput)="updateSuggestions($event)"
></es-autocomplete>
-->
<form (ngSubmit)="onSubmit()">
  <mat-form-field class="authority-search-input" floatLabel="always">
    <i matPrefix [esIcon]="inputIcon" *ngIf="inputIcon"></i>
    <mat-label>{{ label || placeholder | translate }}</mat-label>
    <input
      type="text"
      matInput
      #inputElement
      [matAutocomplete]="autoGroup"
      placeholder="{{ placeholder | translate }}"
      name="authoritySearch"
      [formControl]="input"
      cdkFocusInitial
    />
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-autocomplete
      #autoGroup="matAutocomplete"
      class="mat-autocomplete-high"
      (optionSelected)="setOption($event)"
    >
      <mat-optgroup
        *ngFor="let group of suggestionGroups$ | async"
        label="{{ group.label | translate }}"
      >
        <mat-option
          class="authority-search-input-option"
          *ngFor="let suggestion of group.values"
          [value]="suggestion"
        >
          <es-authority-row
            [authority]="suggestion.originalObject"
            [secondaryTitle]="suggestion.secondaryTitle"
          ></es-authority-row>
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>
