@import '../../../../app/core-ui-module/styles/variables';

$optionHeight: 66px;

form {
    width: 100%;
}
.authority-search-input {
    width: 100%;
    .material-icons {
        padding-left: 6px;
        color: $textLight;
    }
    es-spinner-small {
        display: flex;
        padding-right: 10px;
    }
    ::ng-deep {
        .mat-mdc-text-field-wrapper {
            height: 50px;
        }
        .mat-mdc-form-field-infix {
            padding-top: 18px;
        }
    }
}

es-user-avatar {
    height: 40px;
}

.mat-option {
    height: $optionHeight;
    &.mat-option-disabled {
        color: $textMediumLight;
    }
}
.mat-mdc-optgroup ::ng-deep .mat-mdc-optgroup-label {
    > span {
        font-weight: bold;
        color: $textMediumLight;
    }
}

.authority-search-input-option {
    ::ng-deep {
        .mdc-list-item__primary-text {
            width: 100%;
        }
    }
    es-authority-row {
        width: 100%;
    }
}
