<!--<es-autocomplete
[id]="'searchAuthority'"
[inputMinLength]="2"
(addItem)="addSuggestion($event)"
(addAny)="addAny($event)"
[disabled]="disabled"
[allowAny]="allowAny"
[maxSuggestions]="maxSuggestions"
[placeholder]="placeholder"
[hintBottom]="hintBottom"
[suggestions]="authoritySuggestions"
(updateInput)="updateSuggestions($event)"
></es-autocomplete>
-->
<form (ngSubmit)="onSubmit()">
  <mat-form-field class="authority-search-input" floatLabel="always">
    @if (inputIcon) {
    <i matPrefix [esIcon]="inputIcon"></i>
    }
    <mat-label>{{ label || placeholder | translate }}</mat-label>
    <input
      type="text"
      matInput
      #inputElement
      [matAutocomplete]="autoGroup"
      placeholder="{{ placeholder | translate }}"
      name="authoritySearch"
      [formControl]="input"
    />
    @if (suggestionLoading | async) {
    <es-spinner-small matSuffix></es-spinner-small>
    } @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
    }
    <mat-autocomplete
      #autoGroup="matAutocomplete"
      class="mat-autocomplete-high"
      (optionSelected)="setOption($event)"
    >
      @if (suggestionGroups$ | async; as groups) { @if (groups === 'NO_RECENT' || groups ===
      'NO_MATCHES') {
      <mat-option [disabled]="true">
        <div class="no-match">{{ 'NODE_SEARCH_SELECTOR.' + groups | translate }}</div>
      </mat-option>
      } @if (!(groups === 'NO_RECENT' || groups === 'NO_MATCHES')) { @for (group of groups; track
      group) {
      <mat-optgroup label="{{ group.label | translate }}">
        @for (suggestion of group.values; track suggestion) {
        <mat-option class="authority-search-input-option" [value]="suggestion">
          <es-authority-row
            [authority]="suggestion.originalObject"
            [secondaryTitle]="suggestion.secondaryTitle"
          ></es-authority-row>
        </mat-option>
        }
      </mat-optgroup>
      } } }
    </mat-autocomplete>
  </mat-form-field>
</form>
