<es-mds-editor-widget-container
  [injectedView]="this"
  [widget]="widget"
  [label]="true"
  [valueType]="valueType"
  [wrapInFormField]="false"
  [control]="formControl"
>
  <form [formGroup]="formControl" (blur)="blur()">
    <mat-tab-group mat-stretch-tabs [(selectedIndex)]="editType">
      <mat-tab label="{{ 'WORKSPACE.CONTRIBUTOR.MODE_PERSON' | translate }}">
        <div class="vcard">
          <div class="title">
            <mat-form-field class="mat-form-field-no-padding">
              <mat-label>{{ 'VCARD.Title' | translate }}</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
          </div>
          <div class="givenname">
            <mat-form-field class="mat-form-field-no-padding">
              <mat-label>{{ 'VCARD.Givenname' | translate }}</mat-label>
              <input matInput formControlName="givenname" />
            </mat-form-field>
          </div>
          <div class="surname">
            <mat-form-field class="mat-form-field-no-padding">
              <mat-label>{{ 'VCARD.Surname' | translate }}</mat-label>
              <input matInput formControlName="surname" />
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'WORKSPACE.CONTRIBUTOR.MODE_ORG' | translate }}">
        <div class="vcard">
          <div class="org">
            <mat-form-field>
              <mat-label>{{ 'VCARD.Org' | translate }}</mat-label>
              <input matInput id="org" formControlName="org" />
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</es-mds-editor-widget-container>
