@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;
@use '../manage-assignment-nodes/manage-assignment-nodes.component' as man;

@mixin nodeList() {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > div {
        @include man.container();
        @include mixins.clickable();
        padding: 10px 20px;
        .title {
            @include mixins.limitLineCount(2, 1.25);
        }
        &:hover {
            background-color: var(--primaryBackground50);
        }
        &.selected {
            background: var(--listItemSelectedBackgroundEffect);
        }
        &.new .title {
            font-weight: bold;
        }
    }
}
