<div class="empty" *ngIf="!files()?.length">
  {{ 'SIDEBAR.SUBMISSION.ATTACHMENT.EMPTY' | translate }}
</div>
<div class="node-list" *ngIf="files()?.length">
  @for (item of files(); track item) { @if(item.assignmentFile?.referNode) {
  <div tabindex="0" (click)="nodeClick.emit(item)">
    <es-node-type-badge [node]="item.assignmentFile.referNode"></es-node-type-badge>
    <div class="title">{{ item.assignmentFile.referNode | nodeTitle }}</div>
    <mat-slide-toggle>TODO</mat-slide-toggle>
  </div>
  } }
</div>
