@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as vars;
@use 'projects/edu-sharing-ui/assets/scss/mixins' as mixins;
@use '../manage-assignment-nodes/manage-assignment-nodes.component' as man;

.empty {
    color: var(--textLight);
}
.node-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > div {
        @include man.container();
        @include mixins.clickable();
        padding: 10px 20px;
        &:hover {
            background-color: var(--palette-primary-50);
        }
        &.selected {
            background: var(--listItemSelectedBackgroundEffect);
        }
    }
}
