<div class="dialog darken" [@fade]="this"></div>
    <div class="card center-card card-high card-action" [@cardAnimation]="this">
        <div class="card-content">
            <div class="card-cancel" (click)="cancel()"><i class="material-icons">close</i></div>
        <div class="card-title">{{'WORKSPACE.OPTION.TEMPLATE' | translate:{name:node ? node.name : ''} }}</div>
            <div class="switch">
              <label>
                  <input type="checkbox" [(ngModel)]="enabled">
                  <span class="lever"></span>
              </label>
              <div class="node-status">
                  <strong>{{ 'WORKSPACE.NODE_TEMPLATE.STATUS' | translate}}</strong>
                  <p>{{ 'WORKSPACE.NODE_TEMPLATE.STATUS_DESKRIPTION' | translate}}</p>
              </div>
            </div>
        <spinner *ngIf="loading"></spinner>
        <div class="card-scroll" [class.no-scroll]="!enabled" *ngIf="!loading">
          <mds #mds
            [embedded]="true"
            [groupId]="'io_template'"
            [currentValues]="node ? node.properties : {}"
            [invalidate]="true"
          ></mds>
            <div *ngIf="!enabled" class="template-disabled">
                <div class="disabled-info"  data-i18n="[html]content.body">
                    {{ 'WORKSPACE.NODE_TEMPLATE.STATUS_DISABLED' | translate}}
                </div>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a class="waves-effect waves-light btn" [class.disabled]="loading" (click)="save()">{{'SAVE' | translate }}</a>
        <a class="btn-flat" (click)="cancel()">{{'CANCEL' | translate }}</a>
    </div>
</div>