@use 'projects/edu-sharing-ui/assets/scss/variables-scss' as *;

.mat-form-textarea {
    width: 100%;
}
:host ::ng-deep {
    input.isAiSuggestion,
    textarea.isAiSuggestion {
        //background-color: var(--aiColorChipBg);
        $shadow: ();
        @for $i from 1 through 5 {
            $shadow: append($shadow, 0 0 15px var(--aiColorChipBg), comma);
        }
        color: var(--aiColor) !important;
        text-shadow: $shadow;
    }
}
.suggestions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--palette-primary-100);
    h5 {
        margin: 0;
    }
    .suggestion {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        > .content-wrapper {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: 10px;
            .actions {
                min-width: 98px;
            }
            .content {
                flex-grow: 1;
                white-space: pre-line;
                // font-family: 'Lucida Console', monospace;
                border: 1px solid var(--palette-primary-300);
                padding: 5px 10px;
            }
        }
        .apply {
            color: $colorStatusPositive;
        }
        .info {
            display: flex;
            gap: 5px;
            font-weight: bold;
            align-items: center;
            i {
                font-size: 14px;
            }
        }
    }
}
