@import '../../../../../core-ui-module/styles/variables';

.mat-form-textarea {
    width: 100%;
}
.suggestions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    h5 {
        margin: 0;
    }
    .suggestion {
        border: 1px solid var(--primary);
        padding: 5px 10px;
        display: flex;
        gap: 10px;
        > div:first-child {
            flex-grow: 1;
            gap: 5px;
        }
        .apply {
            color: $colorStatusPositive;
        }
        .info {
            font-weight: bold;
        }
        .content {
            white-space: pre;
            font-family: 'Lucida Console', monospace;
        }
    }
}
