@import '../../../../../core-ui-module/styles/variables';

.mat-form-textarea {
    width: 100%;
}
.suggestions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--palette-primary-100);
    h5 {
        margin: 0;
    }
    .suggestion {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        > .content-wrapper {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: 10px;
            .content {
                flex-grow: 1;
                white-space: pre;
                // font-family: 'Lucida Console', monospace;
                border: 1px solid var(--palette-primary-300);
                padding: 5px 10px;
            }
        }
        .apply {
            color: $colorStatusPositive;
        }
        .info {
            display: flex;
            gap: 5px;
            font-weight: bold;
            align-items: center;
            i {
                font-size: 14px;
            }
        }
    }
}
