<!-- There is a bug that causes changed-after-checked errors when there is an *ngIf on a matInput:
  https://github.com/angular/components/issues/16209. To avoid that, we put the *ngIf on
  mat-form-field and have a little code duplication. -->

<es-mds-editor-widget-container
  *ngIf="widget.definition.type !== 'textarea'"
  [injectedView]="this"
  [widget]="widget"
  [label]="false"
  [valueType]="valueType"
  [control]="formControl"
>
  <input
    matInput
    #inputElement
    *ngIf="showBulkMixedValues()"
    [type]="widget.definition.type"
    disabled
    value="{{ 'MDS.DIFFERENT_VALUES' | translate }}"
  />
  <input
    matInput
    #inputElement
    *ngIf="!showBulkMixedValues()"
    [type]="widget.definition.type"
    [placeholder]="widget.definition.placeholder"
    [formControl]="formControl"
    (blur)="blur()"
    (keydown.enter)="submit()"
  />
</es-mds-editor-widget-container>

<!-- es-mds-editor-widget-container causes issues with textarea -->
<es-mds-editor-widget-container
  *ngIf="widget.definition.type === 'textarea'"
  [injectedView]="this"
  [widget]="widget"
  [label]="false"
  [wrapInFormField]="false"
  [valueType]="valueType"
>
  <mat-form-field class="mat-form-textarea" [hideRequiredMarker]="true">
    <mat-label>
      {{ widget.definition.caption }}
      <!-- We use our own required marker to show it even on disabled controls for bulk editing.
    -->
      <span
        *ngIf="widget.definition.isRequired === 'mandatory'"
        class="required-marker"
        aria-hidden="true"
        >*</span
      >
    </mat-label>
    <textarea matInput #textAreaElement *ngIf="showBulkMixedValues()" disabled>{{
      'MDS.DIFFERENT_VALUES' | translate
    }}</textarea>
    <textarea
      matInput
      #textAreaElement
      *ngIf="!showBulkMixedValues()"
      [placeholder]="widget.definition.placeholder"
      [formControl]="formControl"
      (blur)="blur()"
      (keydown.enter)="submit()"
    ></textarea>
    <mat-hint [hidden]="!widget.definition.bottomCaption">
      {{ widget.definition.bottomCaption }}
    </mat-hint>
    <mat-error [hidden]="!formControl.errors?.required">
      <ng-container *ngTemplateOutlet="error"></ng-container>
    </mat-error>
  </mat-form-field>
</es-mds-editor-widget-container>
<div class="suggestions" *ngIf="getSuggestions()?.length">
  <h5 class="mat-heading-5">{{ 'MDS.SUGGESTIONS.LIST_TITLE' | translate }}</h5>
  <div class="suggestion" *ngFor="let suggestion of getSuggestions()">
    <div class="info">
      <es-user-avatar [user]="suggestion.createdBy" size="xxsmall"></es-user-avatar>
      {{ suggestion.createdBy | authorityName }}
      <i [esIcon]="suggestion.type === 'AI' ? 'settings' : 'person'"></i>
    </div>
    <div class="content-wrapper">
      <div class="content">{{ suggestion.value }}</div>
      <div class="actions">
        <button
          mat-icon-button
          color="primary"
          class="apply"
          (click)="applySuggestion(suggestion)"
          matTooltip="{{ 'MDS.SUGGESTIONS.APPLY' | translate }}"
        >
          <i esIcon="check"></i>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="setSuggestionState(suggestion, 'DECLINED')"
          matTooltip="{{ 'MDS.SUGGESTIONS.DECLINE' | translate }}"
        >
          <i esIcon="close"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #error>
  <ng-container *ngIf="widget.definition.isRequired === 'mandatory'">
    {{ 'MDS.REQUIRED_MESSAGE' | translate }}
  </ng-container>
  <ng-container *ngIf="widget.definition.isRequired === 'mandatoryForPublish'">
    {{ 'MDS.REQUIRED_FOR_PUBLISH_MESSAGE' | translate }}
  </ng-container>
</ng-template>
