@import '../../../core-ui-module/styles/variables';

:host > div {
    width: 100%;
    height: var(--mainnavHeight);
    background: $workspaceTopBarBackground;
    color: $workspaceTopBarFontColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user span {
    max-width: 160px;
}

.imprint {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 7pt;
    a {
        color: rgba(
            red($workspaceTopBarFontColor),
            green($workspaceTopBarFontColor),
            blue($workspaceTopBarFontColor),
            0.7
        ) !important;
    }
    a:hover {
        color: $workspaceTopBarFontColor !important;
    }
    a:nth-child(2) {
        margin-left: 5px;
    }
}

.menuButton {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $workspaceTopBarFontColor !important;
    .barIcon {
        margin-top: 2px;
    }
    &[disabled] .barIcon {
        display: none;
    }
    &.cdk-keyboard-focused {
        @include setGlobalKeyboardFocus();
        outline-offset: -5px;
    }
}
.menuButtonOuter {
    height: 100%;
    display: flex;
    align-items: center;
    // fix button move to background if sidemenu is open
    z-index: 1;
    > button {
        border-radius: 0px;
    }
}

.topBarSearch {
    flex: auto;
    margin: 0 20px;
}
:host ::ng-deep {
    .addDesktop {
        margin-left: 50px;
        padding-right: 25px;
        height: 39px;
        display: flex;
        align-items: center;
        color: $workspaceTopBarFontColor !important;
        background-color: rgba(
            red($workspaceTopBarFontColor),
            green($workspaceTopBarFontColor),
            blue($workspaceTopBarFontColor),
            0.1
        );
        border-radius: 0;
        .mdc-button__label {
            display: flex;
            align-items: center;
        }
    }
}

.menuButton img {
    margin-left: 0;
    width: 35px;
}

span {
    font-size: 130%;
    position: relative;
    margin-left: 6px;
}
.rocketchat {
    display: none;
    position: relative;
    top: 3px;
    .rocketchat-count-none {
        background-color: $colorStatusNeutral;
    }
}
.timeout {
    background-color: $toastLeftError;
    color: white;
    border-radius: 20pt;
    position: fixed;
    top: 16px;
    left: 1000px;
    font-size: 1rem;
    padding: 10px 15px;
    padding-left: 40px;
    z-index: 105;

    i {
        position: absolute;
        top: 7px;
        left: 10px;
    }
}

.noScope {
    margin-left: 60px;
}

.user {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0px 10px;
    height: 40px;
    align-items: center;
    span {
        overflow: hidden;
        margin-top: 1px;
        word-break: break-all;
        display: inline-block;
        text-transform: none;
    }
}

.user {
    color: $workspaceTopBarFontColor !important;
}
.user span {
    font-size: 100%;
}

.user i {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
}

.iconPerson {
    display: none;
}
es-user-avatar {
    margin: 0 7px;
}

.scopeNameMobile {
    display: none;
}

.add-material {
    display: flex;
    align-items: center;
}
.create-dummy {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
}
.topbar-search-right {
    display: flex;
}

:host ::ng-deep button.mat-button {
    &:not([disabled]) .mat-button-focus-overlay {
        background-color: white;
    }
    &[disabled] {
        color: $textOnPrimaryLight;
    }
}

@media screen and (max-width: ($mobileTabSwitchWidth)) {
    .scopeNameMobile {
        display: flex;
        font-weight: bold;
        font-size: 130%;
    }
    .menuButton {
        display: none;
    }
    .add-material {
        button.addDesktop {
            margin-left: 20px;
        }
    }
    .rocketchat {
        display: flex;
    }
    .imprint {
        display: none;
    }
}

@media screen and (max-width: ($mobileWidth - $mobileStage*1)) {
    .user {
        min-width: 0;
        margin-left: 0;
        margin-right: 20px;
        justify-content: center;
        .material-icons {
            margin-left: 0;
        }
        span {
            display: none;
        }
        .iconArrow {
            display: none;
        }
    }
}

@media screen and (max-width: ($mobileTabSwitchWidth + $mobileStage*4)) {
    .timeout {
        display: none;
    }
}

@media screen and (max-width: ($mobileWidth+$mobileStage*1)) {
    span {
        display: none;
    }
    .addDesktop {
        padding-right: 15px;
    }
}
