@use 'sass:color';
@import '../../../core-ui-module/styles/variables';

:host > div {
    width: 100%;
    height: var(--mainnavHeight);
    background: $workspaceTopBarBackground;
    color: $workspaceTopBarFontColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user span {
    max-width: 160px;
}

.imprint {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 7pt;
    a {
        color: rgba(
            red($workspaceTopBarFontColor),
            green($workspaceTopBarFontColor),
            blue($workspaceTopBarFontColor),
            0.7
        ) !important;
    }
    a:hover {
        color: $workspaceTopBarFontColor !important;
    }
    a:nth-child(2) {
        margin-left: 5px;
    }
}

.menuButton {
    position: relative;
    width: 250px;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    outline: none;
    background-color: unset;
    color: $workspaceTopBarFontColor !important;
    & ::ng-deep .mat-ripple-element {
        background-color: #{color.change($workspaceTopBarFontColor, $alpha: 0.1)};
    }
    .barIcon {
        margin-top: 2px;
    }
    &[disabled] .barIcon {
        display: none;
    }
    &.cdk-keyboard-focused {
        @include setGlobalKeyboardFocus();
        outline-offset: -5px;
    }
    &:not([disabled]):hover::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $workspaceTopBarFontColor;
        opacity: 0.04;
    }
}
.menuButtonOuter {
    height: 100%;
    display: flex;
    align-items: center;
    // fix button move to background if sidemenu is open
    z-index: 2;
    > button {
        border-radius: 0px;
    }
}

.topBarSearch {
    flex: auto;
    margin: 0 20px;
    min-width: 0;
}
.addDesktop {
    margin-left: 50px;
    padding-left: 16px;
    padding-right: 25px;
    height: 39px;
    display: flex;
    align-items: center;
    color: $workspaceTopBarFontColor !important;
    background-color: rgba(
        red($workspaceTopBarFontColor),
        green($workspaceTopBarFontColor),
        blue($workspaceTopBarFontColor),
        0.1
    );
    border-radius: 0;
}

.mat-mdc-button {
    --mat-mdc-button-ripple-color: #{color.change($workspaceTopBarFontColor, $alpha: 0.1)};
    --mat-mdc-button-persistent-ripple-color: #{$workspaceTopBarFontColor};
}

.menuButton img {
    margin-left: 0;
    width: 35px;
}

span {
    font-size: 130%;
    position: relative;
}
.rocketchat {
    display: none;
    position: relative;
    top: 3px;
    .rocketchat-count-none {
        background-color: $colorStatusNeutral;
    }
}
.timeout {
    background-color: $toastLeftError;
    color: white;
    border-radius: 20pt;
    position: fixed;
    top: 16px;
    left: 1000px;
    font-size: 1rem;
    padding: 10px 15px;
    padding-left: 40px;
    z-index: 105;

    i {
        position: absolute;
        top: 7px;
        left: 10px;
    }
}

.noScope {
    margin-left: 60px;
}

.user {
    position: relative;
    display: flex;
    margin: 0px 10px;
    height: 40px;
    align-items: center;
    span {
        overflow: hidden;
        word-break: break-all;
        display: inline-block;
        text-transform: none;
    }
}

.user {
    color: $workspaceTopBarFontColor !important;
}
.user span {
    font-size: 100%;
}

.user i {
    margin-top: 2px;
}

.iconPerson {
    display: none;
}

.scopeNameMobile {
    display: none;
}

.add-material {
    display: flex;
    align-items: center;
}
.create-dummy {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
}
.topbar-search-right {
    display: flex;
}

:host ::ng-deep button.mat-button {
    &:not([disabled]) .mat-button-focus-overlay {
        background-color: white;
    }
    &[disabled] {
        color: $textOnPrimaryLight;
    }
}

@media screen and (max-width: ($mobileTabSwitchWidth)) {
    .scopeNameMobile {
        display: flex;
        font-weight: bold;
        font-size: 130%;
    }
    .menuButton {
        display: none;
    }
    .add-material {
        button.addDesktop {
            margin-left: 20px;
        }
    }
    .rocketchat {
        display: flex;
    }
    .imprint {
        display: none;
    }
}

@media screen and (max-width: ($mobileWidth - $mobileStage*1)) {
    .user {
        min-width: 0;
        margin-left: 0;
        margin-right: 20px;
        justify-content: center;
        .material-icons {
            margin-left: 0;
        }
        span {
            display: none;
        }
        .iconArrow {
            display: none;
        }
    }
}

@media screen and (max-width: ($mobileTabSwitchWidth + $mobileStage*4)) {
    .timeout {
        display: none;
    }
}

@media screen and (max-width: ($mobileWidth+$mobileStage*1)) {
    span {
        display: none;
    }
    .addDesktop {
        padding-right: 15px;
    }
}
