<!--
Use another div, so the sidebar's margin is included in the component's dimensions, which makes
positioning easier for outer components.
-->
@if (node) { @if ((isMobileScreen | async) === false) {
<div class="preview-sidebar mat-elevation-z3">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
}
<ng-template #content>
  <es-preview-content
    #preview
    [node]="node"
    [customOptions]="customOptions"
    [editorMode]="editorMode"
    [groupId]="groupId"
  ></es-preview-content>
</ng-template>
<ng-template #modal>
  <div class="preview-sidebar-rendering-modal">
    <es-preview-content
      [node]="node"
      [customOptions]="customOptions"
      [editorMode]="editorMode"
      [groupId]="groupId"
      [autoRender]="true"
      [modal]="true"
      class="modal"
    ></es-preview-content>
  </div>
</ng-template>
}
