@use 'variables-scss' as *;

:host {
    display: flex;
    flex: 1;
    min-height: 0;
}

.preview-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-height: 0;
    --mat-app-elevation-shadow-level-3: none;
}

.preview-sidebar-header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 6px;
    background: $actionDialogBackground;
    > .empty {
        width: 0;
        flex-grow: 1;
    }
}
