<mat-menu
  #dropdown="matMenu"
  class="mat-dropdown-menu"
  [class]="menuClass"
  backdropClass="mat-dropdown-menu"
  [xPosition]="position === 'right' ? 'after' : 'before'"
>
  <!-- MatMenu has role="menu", so the only meaningful role of descendants is "menuitem" -->
  <ul role="none">
    <ng-container *ngFor="let option of _options; let i = index">
      <li *ngIf="option.isEnabled || showDisabled" role="none">
        <button
          mat-menu-item
          class="mat-menu-item collection-item-{{
            option.name | replaceChars: { search: '.', replace: '-' }
          }}"
          matTooltip="{{ option | optionTooltip }}"
          matTooltipPosition="right"
          [class.mat-menu-item-separate]="option.isSeparate || isNewGroup(i)"
          [class.mat-menu-item-selected]="option.isSelected"
          [disabled]="!option.isEnabled"
          (click)="click(option)"
        >
          <i [esIcon]="option.icon"></i> {{ option.name | translate }}
        </button>
      </li>
    </ng-container>
  </ul>
</mat-menu>
<div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" class="display-none"></div>
